Repository eclipse-openj9/openj9, pull requests merged in 2018-06, with the labels that each got.

#2052 Use curl to download dependencies on zos
  test/TestConfig/makefile
  test/TestConfig/scripts/tools/getDependencies.pl
  test/docs/Prerequisites.md
Labels: comp:test

#2015 Added String.strip, stripLeading, stripTrailing
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java11andUp/src/org/openj9/test/java_lang/Test_String.java
Labels: comp:vm, jdk11

#2039 Atomic-free JNI work
  runtime/compiler/p/codegen/PPCJNILinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64JNILinkage.cpp
Labels: comp:jit

#2050 Fix attach API logging
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/IPC.java
Labels: comp:vm

#2053 JVM_GetMethodParameters returns null to trigger synthesizing
  runtime/jcl/common/reflecthelp.c
Labels: bug, comp:vm

#1540 Cache java/lang/Class related queries results
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, enhancement, perf

#1870 Use 'usablePhysicalMemory' when calculating default max heap
  runtime/gc_base/GCExtensions.cpp
Labels: comp:gc, doc:externals

#2043 Set proper java.specification.version
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/include/vmi.h
  runtime/jcl/common/stdinit.c
  runtime/vm/vmifunc.c
  runtime/vm/vmprops.c
Labels: comp:vm

#2068 Exclude Windows J9test -Xpreloaduser32 -Xprotectcontiguous
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_exclude.xml
Labels: comp:test

#2035 Implement and enable fast JNI VM access enter and exit
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.hpp
Labels: comp:jit

#2074 Fix warnings that can be fatal
  runtime/tests/port/j9hypervisorTest.c
  runtime/vm/jvminit.c
Labels: comp:vm

#2080 Use VersionCheck.major() to check 9 and up, and remove TestMisc.isJava9
  test/functional/JLM_Tests/build.xml
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestManagementUtils.java
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestMisc.java
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestMonitorInfo.java
Labels: comp:test

#2077 Atomic-free JNI work
  runtime/jcl/common/java_dyn_methodhandle.c
Labels: comp:vm

#1958 Add FileUtilities
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/AttachApiTest.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestAttachAPI.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestAttachErrorHandling.java
  test/functional/TestUtilities/src/org/openj9/test/util/FileUtilities.java
Labels: comp:test

#1972 Add use of new RegDep Enum instead of RegNum
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, depends:omr

#2085 Fix String.contentEquals(StringBuffer buffer)
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#2091 Missing Register Dependency for Lock Reservation
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2099 Temporarily exclude cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80 ta001 test
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_SE80.xml
Labels: comp:test

#2092 Fix JVMTI field event reporting
  runtime/vm/jnifield.cpp
Labels: bug, comp:vm

#2042 Add tests for issue #1950
  runtime/tests/jvmtitests/agent/tests.c
  runtime/tests/jvmtitests/include/jvmti_test.h
  runtime/tests/jvmtitests/module.xml
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc019a.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc019b.c
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc019_Sub.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc019_Super.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc019a.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc019b.java
Labels: comp:test

#524 Add extra tests for jdk.internal.misc.Unsafe
  test/functional/UnsafeTest/build.xml
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/MainTester.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestCompareAndSwap.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeAccess.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeAccessOpaque.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeAccessOrdered.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeAccessUnaligned.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeAccessVolatile.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeCompareAndExchange.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeCompareAndSet.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeGetAndOp.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/UnsafeTestBase.java
Labels: comp:test

#1976 Remove the text for some obsolete NLS messages
  runtime/nls/j9vm/j9vm.nls
Labels: comp:vm

#1940 Deprecate InstOpCodeTables and rename OpCodeBinaryEncoding
  runtime/compiler/build/files/target/z.mk
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, depends:omr

#2125 Increase highly polymorphic callsite threshold
  runtime/compiler/env/PersistentCHTable.cpp
  runtime/compiler/env/PersistentCHTable.hpp
  runtime/compiler/env/VMJ9.cpp
Labels: comp:jit

#1689 Makefile update to make use of ELFGenerator
  runtime/compiler/build/files/common.mk
Labels: comp:jit, depends:omr

#1980 Fix for getting hottest profiled method
  runtime/compiler/optimizer/J9Inliner.cpp
  runtime/compiler/runtime/ValueProfiler.cpp
Labels: comp:jit

#2122 Migrate callsitedbgddrext test to openj9
  test/functional/cmdLineTests/callsitedbgddrext/build.xml
  test/functional/cmdLineTests/callsitedbgddrext/callsiteddrtests.xml
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
Labels: comp:test

#2102 Add unnamed modules to read set of transformed classes
  runtime/bcutil/defineclass.c
Labels: comp:vm, jdk10, jdk11, jdk9

#1756 CMake: Add cmakelists for sourcetools
  sourcetools/CMakeLists.txt
  sourcetools/com.ibm.jpp.preprocessor/CMakeLists.txt
  sourcetools/j9constantpool/CMakeLists.txt
  sourcetools/j9nls/CMakeLists.txt
  sourcetools/objectmodel/CMakeLists.txt
Labels: comp:build

#2090 Improve entropy of reply key
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/IPC.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
Labels: comp:vm

#2127 Call OMR::CodeGenPhaseConnector in the extensible class on Z
  runtime/compiler/codegen/J9CodeGenPhase.cpp
  runtime/compiler/z/codegen/J9CodeGenPhase.cpp
Labels: comp:jit

#2131 Remove obsolete multi-tenant constants
  runtime/oti/j9consts.h
  runtime/oti/j9dump.h
  runtime/oti/j9nonbuilder.h
Labels: comp:vm

#2130 Ensure cpTypeDescription and cpIndex are from the same class
  runtime/vm/resolvesupport.cpp
Labels: bug, comp:vm, jdk10, jdk11, jdk9

#2034 Jenkins: Add CMake build to omr acceptance build
  buildenv/jenkins/common/build
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/builds/Build-JDK9-linux_x86-64_cmprssptrs_cmake
  buildenv/jenkins/jobs/pipelines/Pipeline-OMR-Acceptance
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#2149 Fix missing quotes in omr acceptance pipeline
  buildenv/jenkins/jobs/pipelines/Pipeline-OMR-Acceptance
Labels: comp:build

#2146 Prevent the garbage data from being decoded on the stack
  runtime/bcverify/rtverify.c
Labels: comp:vm

#2145 Optimize JVMTI watched fields
  runtime/jvmti/jvmtiHelpers.c
  runtime/jvmti/jvmtiHook.c
  runtime/jvmti/jvmtiWatchedField.c
  runtime/oti/j9vm.hdf
  runtime/oti/jvmtiInternal.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/jnimisc.cpp
Labels: comp:vm

#1987 Add new DDR commands for modularity__Command 1 and 2
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ObjectModel.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/GetCommandsTask.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/JavaVersionHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/FindAllModulesCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/FindModuleByNameCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/gccheck/CheckEngine.java
Labels: comp:vm, jdk10, jdk11, jdk9

#2082 Make java/lang/Class available in AOT
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#1763 Test module access checks for method handles
  test/functional/Java9andUp/build.xml
  test/functional/Java9andUp/methodvisibilitytests.xml
  test/functional/Java9andUp/modules/README.md
  test/functional/Java9andUp/modules/org.openj9test.modularity.common/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleA/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleB/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleC/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleD/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.testerModule/module-info.java
  test/functional/Java9andUp/playlist.xml
  test/functional/Java9andUp/src_current/org/openj9/test/modularity/common/VisibilityTester.java
  test/functional/Java9andUp/src_current/org/openj9/test/modularity/tests/MethodVisibilityTests.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/common/VisibilityTester.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgAe/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgAo/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgAr/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgBe/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgBo/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgBr/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgCe/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgCo/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgCr/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgDe/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgDo/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/pkgDr/Klass.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/tests/MethodHandleTester.jasm
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/tests/MethodHandleTester.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/tests/MethodVisibilityTests.java
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/tests/README.md
  test/functional/Java9andUp/src_latest/org/openj9/test/modularity/tests/VisibilityTesterImpl.java
Labels: comp:test, comp:vm, jdk9

#2155 Fix jvmti warnings on Windows
  runtime/oti/jvmtiInternal.h
Labels: comp:vm

#2134 Fix regex in ta001 exclude
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_SE80.xml
Labels: comp:test

#2083 Allow fabricated loadaddr for classes in AOT
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/p/runtime/PPCRelocationTarget.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, depends:omr

#2104 Add test for modular findResource
  test/functional/Java9andUp/playlist.xml
  test/functional/Java9andUp/src/org/openj9/test/modularity/TestClassLoader.java
  test/functional/Java9andUp/src/org/openj9/test/modularity/TestClassLoaderFindResource.java
  test/functional/Java9andUp/testng.xml
Labels: comp:test

#2148 Remove deprecated VMThread reclamation logic from Z code generator
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9S390SystemLinkage.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9UnresolvedDataSnippet.cpp
Labels: comp:jit, depends:omr

#2163 Optimize JVMTI watched fields
  runtime/oti/jvmtiInternal.h
Labels: bug, comp:vm

#2164 Don't update module if Java 8 or romclass is null
  runtime/bcutil/defineclass.c
Labels: bug, comp:vm

#2142 Fixed issue with deleting the temp file with OpenJ9DiagnosticsMXBean test
  test/functional/JLM_Tests/src/org/openj9/test/management/JvmCpuMonitorMXBeanTest.java
  test/functional/JLM_Tests/src/org/openj9/test/management/ProcessLocking.java
Labels: comp:test

#2158 Optimize JVMTI watched fields
  runtime/jvmti/jvmtiHook.c
  runtime/jvmti/jvmtiWatchedField.c
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/createramclass.cpp
  runtime/vm/jnifield.cpp
  runtime/vm/jnimisc.cpp
Labels: comp:vm

#2168 Tenure char[] for interned String objects
  runtime/gc_base/StringTable.cpp
Labels: comp:gc, comp:vm

#2177 Fix incorrect local variable type
  runtime/vm/createramclass.cpp
Labels: comp:vm

#2117 Add functional and systemtest test pipeline for JDK8 into nightly build
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-OMR-Acceptance
Labels: comp:test

#2185 Update build instructions for Windows 32-bit
  buildenv/Build_Instructions_V8.md
Labels: comp:doc

#2166 Move BCD and DFP evaluators into separate files
  runtime/compiler/build/files/target/z.mk
  runtime/compiler/z/codegen/DFPTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
Labels: comp:jit

#2093 Add generic Jenkins files pipelines
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/builds/Build-Test-Any-Platform
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform
Labels: comp:build

#2097 Add Windows x86 32 bits support to Jenkins pipeline
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#2200 Fix syntax problem in jobs array variable index reference
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#2116 Update labels in line with recent changes
  doc/README.md
  doc/processes/labels.md
Labels: comp:doc

#2197 Remove deprecation tag from Java 8 javadoc
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm

#2172 Fix cmdLineTester_callsitedbgddrext
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
Labels: comp:test

#2203 Add new JAVA_IMPL - ibm
  test/README.md
  test/TestConfig/scripts/testKitGen/testKitGen.pl
  test/TestConfig/settings.mk
  test/docs/OpenJ9TestUserGuide.md
  test/functional/TestExample/playlist.xml
Labels: comp:test

#2173 Exclude test_startupShutdownRobustness
  test/TestConfig/resources/excludes/latest_exclude_SE100.txt
  test/TestConfig/resources/excludes/latest_exclude_SE80.txt
  test/TestConfig/resources/excludes/latest_exclude_SE90.txt
Labels: comp:test

#2195 Check the free disk space size when setting default cache size
  runtime/oti/j9cfg_builder.h
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/shrinit.cpp
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
Labels: comp:vm, doc:externals

#2101 Print Memory Stats
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit, depends:omr

#2210 Remove duplicate functional testing
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build, comp:test

#1636 Prefetching, checkcasts and profiled compile changes
  runtime/compiler/il/symbol/J9MethodSymbol.cpp
  runtime/compiler/optimizer/ProfileGenerator.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#998 Acceleration for x86 compressed String hashCode with vectorization
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, depends:omr

#2218 Fix the condition to decide recompilation level
  runtime/compiler/control/CompilationController.cpp
Labels: comp:jit

#2216 Temporarily exclude TestOpenJ9DiagnosticsMXBean on win_x86
  test/functional/JLM_Tests/playlist.xml
Labels: comp:test

#2221 Use cache name for HelperCompatabilityTests and URLHelperTests
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatabilityTests/HelperCompatabilityTests.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatabilityTests/HelperCompatabilityTests_SE80.xml
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests.xml
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests_80.xml
Labels: comp:test

#1985 Create KnownObjectIndex for static final fields and static strings
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
Labels: comp:jit

#2219 Add module access tests
  test/functional/Java9andUp/build.xml
  test/functional/Java9andUp/methodvisibilitytests.xml
  test/functional/Java9andUp/modules/README.md
  test/functional/Java9andUp/modules/org.openj9test.modularity.common/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.common/org/openj9/test/modularity/common/VisibilityTester.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleA/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleA/org/openj9/test/modularity/pkgAe/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleA/org/openj9/test/modularity/pkgAo/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleA/org/openj9/test/modularity/pkgAr/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleB/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleB/org/openj9/test/modularity/pkgBe/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleB/org/openj9/test/modularity/pkgBo/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleB/org/openj9/test/modularity/pkgBr/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleC/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleC/org/openj9/test/modularity/pkgCe/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleC/org/openj9/test/modularity/pkgCo/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleC/org/openj9/test/modularity/pkgCr/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleD/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleD/org/openj9/test/modularity/pkgDe/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleD/org/openj9/test/modularity/pkgDo/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.moduleD/org/openj9/test/modularity/pkgDr/Klass.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.testerModule/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.testerModule/org/openj9/test/modularity/tests/MethodHandleTester.jasm
  test/functional/Java9andUp/modules/org.openj9test.modularity.testerModule/org/openj9/test/modularity/tests/MethodHandleTester.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.testerModule/org/openj9/test/modularity/tests/MethodVisibilityTests.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.testerModule/org/openj9/test/modularity/tests/README.md
  test/functional/Java9andUp/modules/org.openj9test.modularity.testerModule/org/openj9/test/modularity/tests/VisibilityTesterImpl.java
  test/functional/Java9andUp/playlist.xml
  test/functional/Java9andUp/src_current/org/openj9/test/modularity/common/VisibilityTester.java
  test/functional/Java9andUp/src_current/org/openj9/test/modularity/tests/MethodVisibilityTests.java
Labels: comp:test

#2223 Fix the compile errors from -Woverloaded-virtual
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/ScopeManagerImpl.cpp
  runtime/shared_common/ScopeManagerImpl.hpp
  runtime/shared_common/shrinit.cpp
Labels: comp:vm

#2228 Fix ForceEarlyReturn stack corruption
  runtime/vm/BytecodeInterpreter.hpp
Labels: bug, comp:vm

#2201 Bring up Java 11 - j.l.Access.getBytesNoRepl()
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk11

#2121 VarHandle performance
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit, depends:omr

#2169 Some VMThread reclamation cleanup on x86
  runtime/compiler/x/amd64/codegen/AMD64J9SystemLinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64JNILinkage.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/i386/codegen/IA32J9SystemLinkage.cpp
  runtime/compiler/x/i386/codegen/IA32JNILinkage.cpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
Labels: comp:jit

#2230 Prepare Balanced for implicit Master
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/InterRegionRememberedSet.cpp
  runtime/gc_vlhgc/InterRegionRememberedSet.hpp
Labels: comp:gc

#2224 Support for resetting code cache allocation pointers
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/J9CodeCache.hpp
Labels: comp:jit

#1813 Remove deadcode in X86::J9TreeEvaluator
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2244 More VMThread reclamation removal
  runtime/compiler/codegen/CodeGenPhaseToPerform.hpp
  runtime/compiler/codegen/J9CodeGenPhase.cpp
  runtime/compiler/codegen/J9CodeGenPhase.hpp
  runtime/compiler/codegen/J9CodeGenPhaseEnum.hpp
  runtime/compiler/codegen/J9CodeGenPhaseFunctionTable.hpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/x/codegen/CheckFailureSnippet.cpp
  runtime/compiler/x/codegen/CheckFailureSnippet.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/CodeGenPhaseToPerform.hpp
Labels: comp:jit

#1647 Optimized String.hashCode() implementation on X86
  jcl/src/java.base/share/classes/java/lang/String.java
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2217 Clean up outdated code for palm-size pc
  sourcetools/com.ibm.uma/com/ibm/j9/uma/platform/PlatformWindows.java
Labels: comp:build

#2150 Fixup Travis builds
  .travis.yml
Labels: comp:build

#2229 Optimize JVMTI watched fields
  runtime/jvmti/jvmtiHook.c
  runtime/oti/j9protos.h
  runtime/oti/j9vm.hdf
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/jnicsup.cpp
  runtime/vm/jnifield.cpp
  runtime/vm/jnimisc.cpp
  runtime/vm/vm_internal.h
Labels: comp:vm

#2240 Select more specific method as per return type
  jcl/src/java.base/share/classes/java/lang/Class.java
  runtime/oti/VMHelpers.hpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_java_lang_Class.cpp
  runtime/vm/bindnatv.cpp
  test/functional/Java8andUp/src_80/org/openj9/test/java/lang/Test_Class.java
Labels: comp:vm

#2095 Cache j.l.Class package name
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#2249 Change API used in compilation to keep class alive
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#1681 Vectorized core logic of String.indexOf() on X86
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/java/lang/String.java
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, comp:vm

#2252 Fix typo in testing code.
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/CommandLineOptionTests.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/HelperCompatibilityTests.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/HelperCompatibilityTests_SE80.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/PartitioningURLClassPathHelperURLHelperStaleEntryCompatibilityTest.java
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/PartitioningURLHelperURLClassPathHelperStaleEntryCompatibilityTest.java
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/TokenIncompatibilityTest.java
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/URLClassPathHelperURLHelperCompatibilityTest.java
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/URLClassPathHelperURLHelperStaleEntryCompatibilityTest.java
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/URLHelperURLClassPathHelperCompatibilityTest.java
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/URLHelperURLClassPathHelperStaleEntryCompatibilityTest.java
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/build.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/exclude.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test1.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test10.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test11.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test12.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test13.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test14.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test15.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test16.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test2.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test3.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test4.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test5.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test6.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test7.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test8.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_unix/Test9.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test1.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test10.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test11.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test12.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test13.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test14.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test15.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test16.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test2.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test3.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test4.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test5.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test6.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test7.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test8.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/props_win/Test9.props
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/variables.mk
  test/functional/cmdLineTests/shareClassTests/ShareClassesSimpleSanity/ShareClassesSimpleSanity.xml
Labels: comp:test

#2198 get Java9andUp test ready for JDK11
  test/TestConfig/resources/excludes/latest_exclude_SE110.txt
  test/functional/Java9andUp/playlist.xml
  test/functional/Java9andUp/src/org/openj9/test/constantPoolTags/ConstantPoolTagTests.java
Labels: comp:test

#2186 get VM_Test ready for JDK11
  test/functional/VM_Test/build.xml
  test/functional/VM_Test/src/com/ibm/j9/offload/tests/jvmservice/JVMServiceTests.java
  test/functional/VM_Test/src_80/j9vm/test/finalize/FinalizeExitTest.java
Labels: comp:test

#2176 Migrate shrcdbgddrext test to openj9
  test/functional/cmdLineTests/shrcdbgddrext/build.xml
  test/functional/cmdLineTests/shrcdbgddrext/concatenate_dumps.sh
  test/functional/cmdLineTests/shrcdbgddrext/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/shrcdbgextddrtests.xml
Labels: comp:test

#2246 Unfinalized processing may discover more Phantom References
  runtime/gc_realtime/RealtimeMarkingScheme.cpp
Labels: comp:gc

#2258 Optimize JVMTI field watches
  runtime/codert_vm/armnathelp.m4
  runtime/codert_vm/asmprotos.h
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/decomp.cpp
  runtime/codert_vm/pnathelp.m4
  runtime/codert_vm/xnathelp.m4
  runtime/codert_vm/znathelp.m4
  runtime/compiler/runtime/asmprotos.h
  runtime/jilgen/jilconsts.c
  runtime/jit_vm/ctsupport.c
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm, perf

#2262 Pass a field's declaring class to foldFinalFieldIn
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
Labels: comp:jit

#2261 Mac OS bringup work
  runtime/j9vm/j9vm_internal.h
  runtime/j9vm/jvm.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/xhelpers.m4
  runtime/port/unix/j9sock.c
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/Manager.hpp
  runtime/shared_common/OSCachevmem.hpp
  runtime/vm/CMakeLists.txt
  runtime/vm/module.xml
  runtime/vm/xa64/stackswap.m4
  runtime/vm/xa64/unsafeHelper.m4
  runtime/vm/xa64/unsafeHelper.s
  runtime/vm/xcinterp.m4
  runtime/zip/zipsup.c
Labels: comp:vm

#2250 Enable building the JIT on OSX
  runtime/compiler/build/platform/host/amd64-osx-clang.mk
  runtime/compiler/build/toolcfg/host/osx.mk
  runtime/compiler/runtime/J9Profiler.hpp
  runtime/compiler/runtime/J9ValueProfiler.hpp
Labels: comp:jit

#2265 Remove deprecated restricted register query
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
Labels: comp:jit

#2254 Remove .gitattributes file as it breaks travis builds
  .gitattributes
Labels: comp:build

#2284 Fix compiler warning on mac osx
  runtime/bcutil/defineclass.c
Labels: comp:vm

#2286 Disable rtti / exceptions / etc on osx compiles
  runtime/makelib/targets.mk.osx.inc.ftl
Labels: comp:vm

#2287 Explicitly cast to U_8*
  runtime/j9vm/j7vmi.c
Labels: comp:vm

#2282 Compile DDR code with Java 8 legacy builds
  debugtools/DDR_VM/.settings/org.eclipse.jdt.core.prefs
  debugtools/DDR_VM/compile_ddr.xml
Labels: comp:vm

#2189 Fix OpenJ9 jvm.dll version for Windows
  runtime/makelib/mkconstants.mk.ftl
  sourcetools/com.ibm.uma/com/ibm/j9/uma/platform/PlatformWindows.java
Labels: comp:vm, depends:openjdk10, depends:openjdk11, depends:openjdk8, depends:openjdk9

#2274 OSX: Fix BlockPriorityQueue stored element type
  runtime/compiler/optimizer/JProfilingBlock.hpp
Labels: comp:jit

#2154 Change Git to SCM step for Copyright and Line Endings checks
  buildenv/jenkins/jobs/infrastructure/copyrightCheck
  buildenv/jenkins/jobs/infrastructure/lineEndingsCheck
Labels: comp:build

#2283 Add stub methods to bringup jdk-11+19
  runtime/j9vm/CMakeLists.txt
  runtime/j9vm/java11vmi.c
  runtime/j9vm/module.xml
  runtime/j9vm_b150/module.xml
  runtime/j9vm_b156/module.xml
  runtime/j9vm_jdk11/module.xml
  runtime/redirector/forwarders.m4
  runtime/redirector/module.xml
Labels: comp:vm, jdk11

#2167 Contribute the source code of CDS adapter to OpenJ9
  cdsadapter/.project
  cdsadapter/com.ibm.cds/src/com/ibm/cds/CDSBundleEntry.java
  cdsadapter/com.ibm.cds/src/com/ibm/cds/CDSBundleFile.java
  cdsadapter/com.ibm.cds/src/com/ibm/cds/CDSHookConfigurator.java
  cdsadapter/com.ibm.cds/src/com/ibm/cds/CDSHookImpls.java
Labels: comp:vm, depends:EclipseCQ, enhancement

#2245 Process zip files up to 4 GB
  runtime/include/zipsup.h
  runtime/zip/zipsup.c
Labels: comp:vm

#2236 Remove entitled CPUs
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/ProcessorMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ProcessorMXBeanImpl.java
  runtime/jcl/common/mgmtprocessor.c
  runtime/oti/j9port.h
  runtime/oti/j9port_generated.h
  runtime/oti/jclprots.h
  runtime/oti/jvminit.h
  runtime/tests/port/si_numcpusTest.c
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java8.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java9.xml
Labels: comp:vm

#2297 More mac changes to address compile issues
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/Platform.java
  runtime/ddrext/ddr.h
  runtime/ddrext/ddrinit.c
  runtime/ddrext/ddrjni.c
  runtime/makelib/targets.mk.osx.inc.ftl
  runtime/runtimetools/osmemory/OSMemoryAgent.cpp
Labels: comp:vm

#2300 Delete obsolete setNumberEntitledCPUsImpl export
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
Labels: comp:vm

#2021 Add new DDR commands for modularity__Command 3.1 and 3.2
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ModuleHashTable.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/GetCommandsTask.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/StructureCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/DumpModuleExportsCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/DumpModuleReadsCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/structureformat/extensions/J9ModuleStructureFormatter.java
Labels: comp:vm

#2304 Increase OMR build timeout to 10H
  buildenv/jenkins/jobs/pipelines/Pipeline-OMR-Acceptance
Labels: comp:build

#2299 Use boolean conditions in while statements for mac osx
  runtime/cfdumper/main.c
Labels: comp:vm

#2305 Add new svtRaised label
  doc/processes/labels.md
Labels: comp:doc

#2303 Remove redundant declarations of parseOptionsBuffer()
  runtime/oti/vmargs_core_api.h
Labels: comp:vm

#2306 Add OSX ifdefs to redirector
  runtime/redirector/generated.c.m4
  runtime/redirector/redirector.c
Labels: comp:vm
