Repository eclipse-openj9/openj9, pull requests merged in 2018-08, with the labels that each got.

#2510 Check RomClass is in SCC before storing IProf Data
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: bug, comp:jit

#2508 Make -XX:HeapDumpPath an alias for -Xdump:directory
  runtime/oti/jvminit.h
  runtime/rasdump/dmpsup.c
  runtime/util/vmargs.c
  runtime/vm/jvminit.c
Labels: comp:vm, doc:externals

#2341 Enable extended.system test in nightly build
  buildenv/jenkins/common/pipeline-functions
Labels: comp:test

#2512 Limiting Trace Logging by P Codegen
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
Labels: comp:jit

#2515 Optimize j/l/Class.isAssignableFrom on X86
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2524 Print error reason when AOT load fails
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#2425 Turn on nestmates test in Java11
  test/functional/Valhalla/build.xml
  test/functional/Valhalla/playlist.xml
Labels: comp:test, jdk11

#2504 Handle errors deleting attach API files
  test/TestConfig/resources/excludes/latest_exclude_SE100.txt
  test/TestConfig/resources/excludes/latest_exclude_SE80.txt
  test/TestConfig/resources/excludes/latest_exclude_SE90.txt
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestAttachErrorHandling.java
  test/functional/TestUtilities/src/org/openj9/test/util/FileUtilities.java
Labels: comp:test

#2044 Build JNI IFA switching helpers as C calls
  runtime/codert_vm/armnathelp.m4
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/pnathelp.m4
  runtime/codert_vm/xnathelp.m4
  runtime/codert_vm/znathelp.m4
  runtime/compiler/build/files/target/z.mk
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/Runtime.hpp
  runtime/compiler/runtime/asmprotos.h
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390CHelperLinkage.cpp
  runtime/compiler/z/codegen/J9S390CHelperLinkage.hpp
  runtime/compiler/z/codegen/J9S390JNILinkage.cpp
  runtime/compiler/z/codegen/J9S390JNILinkage.hpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.hpp
  runtime/compiler/z/codegen/J9S390SystemLinkage.cpp
  runtime/compiler/z/codegen/J9S390SystemLinkage.hpp
  runtime/oti/VMHelpers.hpp
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:jit

#2534 Fix unresolved call snippet printing
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jit

#2196 Add -XX:ActiveProcessorCount= flag to specify number of CPUs
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/ProcessorMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ProcessorMXBeanImpl.java
  runtime/jcl/common/mgmtprocessor.c
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/oti/j9port_generated.h
  runtime/oti/jclprots.h
  runtime/oti/jvminit.h
  runtime/rasdump/javadump.cpp
  runtime/tests/port/si_numcpusTest.c
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java8.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java9.xml
Labels: comp:vm, depends:omr, doc:externals

#2433 Accelerate StringBuilder append for Java8 by removing substrings
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
Labels: comp:vm

#2553 Re-enable cmdLineTester_jvmtitests_extended on Windows
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:test

#2545 Skip read barriers from hardware generated guarded storage events if …
  runtime/jilgen/jilconsts.c
  runtime/oti/zhelpers.m4
  runtime/vm/zcinterp.m4
Labels: comp:jit

#2551 Always do equality test for jitCheckAssignable on X86
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2500 Deprecate Access Register (AR) support in Z codegen
  runtime/compiler/z/codegen/J9S390CHelperLinkage.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.hpp
Labels: comp:jit, depends:omr

#2560 Set Maximum Old Space size default value properly
  runtime/gc_modron_startup/mminit.cpp
Labels: comp:gc

#2526 Add test for Make -XX:HeapDumpPath an alias for -Xdump:directory
  test/functional/Java8andUp/src/org/openj9/test/vmArguments/VmArgumentTests.java
  test/functional/TestUtilities/src/org/openj9/test/util/HelloWorld.java
Labels: comp:test

#2564 Remove unnecessary failure conditions in shared class CML tests
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-3.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-4.xml
Labels: comp:test

#2160 Add support for Jenkins personal pipeline builds
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
Labels: comp:build

#2408 Inlining support of MultiANewArray for 2 dimensional arrays
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2556 CMake: fix typo in compiler component
  runtime/compiler/CMakeLists.txt
Labels: comp:build

#2412 Skip bound checks for HashMap.getNode and HashIterator.<init>
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/symbol/J9MethodSymbol.cpp
Labels: comp:jit

#2569 Clear resolveFrameFlags after each frame walk
  runtime/vm/swalk.c
Labels: comp:vm

#2572 Fix incorrectly-held mutex
  runtime/jvmti/jvmtiHook.c
Labels: bug, comp:vm

#2575 Enable atomic-free JNI
  buildspecs/aix_ppc-64.spec
  buildspecs/aix_ppc-64_cmprssptrs.spec
  buildspecs/aix_ppc.spec
  buildspecs/linux_390-64.spec
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_390.spec
  buildspecs/linux_ppc-64.spec
  buildspecs/linux_ppc-64_cmprssptrs.spec
  buildspecs/linux_ppc-64_cmprssptrs_le.spec
  buildspecs/linux_ppc-64_cmprssptrs_le_gcc.spec
  buildspecs/linux_ppc-64_le.spec
  buildspecs/linux_ppc-64_le_gcc.spec
  buildspecs/linux_ppc.spec
  buildspecs/linux_x86-64.spec
  buildspecs/linux_x86-64_cmprssptrs.spec
  buildspecs/linux_x86.spec
  buildspecs/linux_ztpf_390-64.spec
  buildspecs/linux_ztpf_390-64_cmprssptrs.spec
  buildspecs/win_x86-64.spec
  buildspecs/win_x86-64_cmprssptrs.spec
  buildspecs/win_x86.spec
  buildspecs/zos_390-64.spec
  buildspecs/zos_390-64_cmprssptrs.spec
  buildspecs/zos_390.spec
Labels: comp:vm, perf

#2574 Update DDR to match #2569
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalker.java
Labels: comp:vm

#2581 Update watched field data when replacing classes
  runtime/jvmti/jvmtiClass.c
Labels: bug, comp:vm

#2276 Add support for vendor tests to Jenkins pipelines
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform
Labels: comp:build

#2495 FV tests for Skipping parameter access check for reflect objects
  test/functional/Java9andUp/build.xml
  test/functional/Java9andUp/modules/org.openj9test.modularity.dummy/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.dummy/org/openj9/test/modularity/dummy/Dummy.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.testUnreflect/module-info.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.testUnreflect/org/openj9/test/modularity/tests/UnreflectTests.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.unnamed/README.md
  test/functional/Java9andUp/modules/org.openj9test.modularity.unnamed/org/openj9/test/unnamed/UnnamedDummy.java
  test/functional/Java9andUp/modules/org.openj9test.modularity.unnamed/org/openj9/test/unnamed/UnnamedReflectObjects.java
  test/functional/Java9andUp/playlist.xml
  test/functional/Java9andUp/testUnreflect.xml
Labels: comp:test

#2563 Use vector size method in z codegen caseConversionHelper
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2590 Fix X86 32-bit opcode bug in wrtbar optimization
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2191 Add test cases for the DDR commands_Command 3.1 and 3.2
  test/functional/cmdLineTests/modularityddrtests/modularityddrtests.xml
  test/functional/cmdLineTests/modularityddrtests/playlist.xml
Labels: comp:test

#2595 Revert "Build JNI IFA switching helpers as C calls"
  runtime/codert_vm/armnathelp.m4
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/pnathelp.m4
  runtime/codert_vm/xnathelp.m4
  runtime/codert_vm/znathelp.m4
  runtime/compiler/build/files/target/z.mk
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/Runtime.hpp
  runtime/compiler/runtime/asmprotos.h
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390CHelperLinkage.cpp
  runtime/compiler/z/codegen/J9S390CHelperLinkage.hpp
  runtime/compiler/z/codegen/J9S390JNILinkage.cpp
  runtime/compiler/z/codegen/J9S390JNILinkage.hpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.hpp
  runtime/compiler/z/codegen/J9S390SystemLinkage.cpp
  runtime/compiler/z/codegen/J9S390SystemLinkage.hpp
  runtime/oti/VMHelpers.hpp
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:jit

#2583 Add access check to invokespecialsplit
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm

#1700 Optimized Unsafe getAndAdd and getAndSet on X86
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
Labels: comp:jit

#2573 Provide alternative API to J9::CodeCache::initialize()
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/J9CodeCache.hpp
Labels: comp:jit, depends:omr

#2601 Revert "Provide alternative API to J9::CodeCache::initialize()"
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/J9CodeCache.hpp
Labels: comp:jit

#2565 Add pre RA peephole phase to Z code generation
  runtime/compiler/build/files/target/z.mk
  runtime/compiler/z/codegen/CodeGenPhaseToPerform.hpp
Labels: comp:jit, depends:omr

#2608 Initialize vendor test variables for Jenkins jobs
  buildenv/jenkins/jobs/pipelines/Pipeline-OMR-Acceptance
Labels: comp:build

#2533 Enable/disable dumps on OOM if -XX:[+-]HeapDumpOnOutOfMemoryError
  runtime/oti/jvminit.h
  runtime/rasdump/dmpmap.c
  runtime/rasdump/dmpsup.c
  runtime/rasdump/rasdump_internal.h
Labels: comp:vm, doc:externals

#2615 Revert "Revert "Provide alternative API to J9::CodeCache::initialize()""
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/J9CodeCache.hpp
Labels: comp:jit

#2612 Use findOrCreateLiteral from Z code generator
  runtime/compiler/z/codegen/DFPTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
Labels: comp:jit

#2625 Catch aborted et al cases when downstream job doesn't pass
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#2614 Add FV option to stress bytecode splitting
  runtime/bcutil/ConstantPoolMap.hpp
  runtime/bcutil/ROMClassCreationContext.hpp
  runtime/bcutil/defineclass.c
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm

#2626 Implement j.l.i.MethodHandleNatives.mapLookupExceptionToError
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleNatives.java
Labels: comp:vm

#2589 Add a test suite for SCC nested jar support
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassAbstractHelper.java
  runtime/jcl/common/shared.c
  runtime/shared_common/ClasspathItem.cpp
  test/functional/VM_Test/src/j9vm/test/nestedjar/NestedJarFileTest.java
  test/functional/VM_Test/src/j9vm/test/nestedjar/NestedJarFileTestRunner.java
Labels: comp:test

#2623 Fix split bytecode errors in the JIT
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: bug, comp:jit

#2503 Excluded Thread.destroy() and Thread.stop(Throwable) test cases in Java11
  test/functional/Java8andUp/build.xml
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Thread.java
  test/functional/Java8andUp/src_110/org/openj9/test/java/lang/Test_Thread_Extra.java
  test/functional/Java8andUp/src_80/org/openj9/test/java/lang/Test_Thread_Extra.java
  test/functional/Java8andUp/testng.xml
Labels: comp:test

#2591 Use processor description info for features in J9CPU
  runtime/compiler/z/env/J9CPU.cpp
  runtime/compiler/z/env/J9CPU.hpp
Labels: comp:jit

#2639 Improve z/OS hardware check for Vector Extension Facility
  runtime/port/unix/j9sysinfo.c
Labels: comp:port

#2588 Move ddrgen step outside of building VM.
  runtime/ddr/module.xml
Labels: depends:openjdk10, depends:openjdk11, depends:openjdk8, depends:openjdk9

#2635 Check for RAS dump options overflow
  runtime/nls/dump/j9dmp.nls
  runtime/rasdump/dmpsup.c
Labels: comp:vm

#2650 Fix signal issue when Java main thread terminates
  runtime/vm/jvminit.c
Labels: comp:vm

#2657 Add more iTable bits for the JIT
  runtime/jilgen/jilconsts.c
  runtime/oti/j9consts.h
Labels: comp:jit, comp:vm

#2656 Store iTable offset intead of index in interface snippet data
  runtime/codert_vm/cnathelp.cpp
  runtime/compiler/p/runtime/PicBuilder.spp
Labels: comp:vm, jdk11

#2646 Add noTimestampChecks for case 1 of NestedJarFileTest
  test/functional/VM_Test/src/j9vm/test/nestedjar/NestedJarFileTestRunner.java
Labels: comp:test

#2652 Fix and optimize split bytecodes
  runtime/jit_vm/ctsupport.c
  runtime/util/hshelp.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/createramclass.cpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm

#2619 Add tests for heap dump enabling and disabling
  test/functional/Java8andUp/src/org/openj9/test/vmArguments/VmArgumentTests.java
Labels: comp:test

#2609 Update nestmates jni calls for new spec
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  runtime/jcl/cl_se11/module.xml
  runtime/jcl/common/java_lang_Class.cpp
  runtime/nls/j9cl/j9jcl.nls
  runtime/oti/jclprots.h
  test/functional/Valhalla/src/org/openj9/test/valhalla/NestAttributeTest.java
Labels: jdk11

#2663 Update DDR "threads flags" to show inNative field
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/ThreadsCommand.java
Labels: comp:vm

#2580 Implement JIT hook for static final field modification
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/CHTable.cpp
  runtime/compiler/env/CHTable.hpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/RuntimeAssumptionTable.hpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/codertinit.cpp
Labels: comp:jit

#2664 [Repush] Fix signal issue when Java main thread terminates
  runtime/vm/jvminit.c
Labels: comp:vm

#2627 Marking Delegate Optimization
  runtime/gc_glue_java/MarkingDelegate.cpp
Labels: comp:gc

#2677 Fix hang with metronome exclusive hand-off
  runtime/vm/VMAccess.cpp
Labels: bug, comp:vm

#2415 Checkout 'Target branch" when dependent PR has already been merged
  buildenv/jenkins/common/build
  buildenv/jenkins/common/variables-functions
Labels: comp:build

#2670 Refactor invokeinterface to handle special cases
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  runtime/codert_vm/cnathelp.cpp
  runtime/compiler/p/runtime/PicBuilder.spp
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/jit_vm/cthelpers.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9consts.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/callin.cpp
  runtime/vm/jnicsup.cpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, jdk11

#2681 Revert "Temporarily disable threadMXBeanTestSuite2 due to intermittent hangs"
  test/functional/Java8andUp/playlist.xml
Labels: comp:test

#2674 Fix j7vmi function to use correct primitive class macro
  runtime/j9vm/j7vmi.c
Labels: comp:vm

#2686 disable generalExtendedTest until the issue is fixed
  test/functional/Java8andUp/playlist.xml
Labels: comp:test

#2690 Optimize JIT transition on PPC
  runtime/vm/pcinterp.m4
Labels: comp:vm

#2694 Re-include SCURLClassLoaderNPTests on Windows
  test/functional/cmdLineTests/URLClassLoaderTests/FindStore/FindStore_win.xml
  test/functional/cmdLineTests/URLClassLoaderTests/FindStore/buildVerify.bat
  test/functional/cmdLineTests/URLClassLoaderTests/URLClassLoaderTests.xml
  test/functional/cmdLineTests/URLClassLoaderTests/URLClassLoaderTests_Java8.xml
  test/functional/cmdLineTests/URLClassLoaderTests/playlist.xml
Labels: comp:test

#2698 Update comments for instanceof/checkcast inlining X86
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2634 Implement j.l.i.MethodHandle.internalMemberName
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/invoke/FieldHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MemberName.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
Labels: comp:vm

#2457 Add Constant Dynamic in GC Implementation
  runtime/gc_glue_java/CollectorLanguageInterfaceImpl.cpp
  runtime/gc_structs/ClassIterator.hpp
  runtime/gc_structs/ConstantPoolObjectSlotIterator.cpp
  runtime/gc_structs/ConstantPoolObjectSlotIterator.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
Labels: comp:gc

#1533 Implement resolve code for ConstantDynamic entries
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
  runtime/bcutil/ConstantPoolMap.cpp
  runtime/bcutil/ConstantPoolMap.hpp
  runtime/bcutil/ROMClassWriter.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9protos.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/callin.cpp
  runtime/vm/intfunc.c
  runtime/vm/j9vm.tdf
  runtime/vm/resolvesupport.cpp
  runtime/vm/vmthinit.c
Labels: comp:vm, jdk11

#2702 Include cause in field access errors
  jcl/src/java.base/share/classes/java/lang/invoke/ByteBufferViewVarHandle.java
Labels: comp:vm

#2671 Refactor nestmates jcl natives
  runtime/jcl/common/java_lang_Class.cpp
  runtime/nls/j9cl/j9jcl.nls
  runtime/nls/j9vm/j9vm.nls
  runtime/vm/visible.c
Labels: comp:vm, jdk11

#2709 [mac] Use J9PORT_LIBRARY_SUFFIX instead of ".so" when possible
  runtime/j9vm/jvm.c
  runtime/jcl/unix/syshelp.c
  runtime/jsigWrapper/jsig.c
  runtime/oti/j9port.h
  runtime/redirector/redirector.c
  runtime/tests/jsig/main.c
Labels: comp:vm

#2629 Set the maximum direct byte buffer memory based on heap size
  runtime/jcl/common/system.c
  runtime/oti/j9nonbuilder.h
  runtime/util/vmargs.c
  runtime/vm/jvminit.c
Labels: comp:vm

#2697 Get StringBuilder capacity again after decompress
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
Labels: comp:vm

#2712 Fix toggling nextSlot value in ConstantPoolObjectSlotIterator.hpp
  runtime/gc_structs/ConstantPoolObjectSlotIterator.hpp
Labels: comp:gc

#2723 Fix TLH in Disabled mode path
  runtime/gc_glue_java/EnvironmentDelegate.cpp
  runtime/gc_modron_startup/mgcalloc.cpp
Labels: comp:gc

#2711 Fix JDK11 test failure by ensuring class not a nestmember
  test/functional/Jsr292/src/com/ibm/j9/jsr292/AdaptorTests.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/PrivateMethod.java
Labels: comp:test, jdk11

#2498 add JIT compile time helper for getting constant dynamic type
  runtime/jit_vm/cthelpers.cpp
  runtime/oti/j9protos.h
Labels: comp:vm, jdk11, jdk12

#1861 Implement JIT helper for resolve constantDynamic
  runtime/codert_vm/armnathelp.m4
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/pnathelp.m4
  runtime/codert_vm/xnathelp.m4
  runtime/codert_vm/znathelp.m4
  runtime/compiler/runtime/asmprotos.h
  runtime/jilgen/jilconsts.c
  runtime/oti/j9nonbuilder.h
Labels: comp:vm, jdk11

#2719 Introduce platform-independent query for hash code
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#2647 JIT: Handle resolved private invokevirtual
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#2535 Adopt OMR's TR_OutlinedInstructionsGenerator
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2582 Enabled DDR_Test in openJ9
  test/functional/DDR_Test/.project
  test/functional/DDR_Test/build.xml
  test/functional/DDR_Test/playlist.xml
  test/functional/DDR_Test/src/ddrext_excludes.xml
  test/functional/DDR_Test/src/j9vm/test/corehelper/DeadlockCoreGenerator.java
  test/functional/DDR_Test/src/j9vm/test/corehelper/HelperExceptionForCoreGeneration.java
  test/functional/DDR_Test/src/j9vm/test/corehelper/StackMapCoreGenerator.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/AutoRun.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/Constants.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/DDRExtTesterBase.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/SetupConfig.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/DDRTestSuite.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestCallsites.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestClassExt.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestCollisionResilientHashtable.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestDDRExtensionGeneral.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestFindExt.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestJITExt.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestMonitors.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestRTSpecificDDRExt.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestSharedClassesExt.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestStackMap.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestTenants.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestThread.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestTypeResolution.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/deadlock/TestDeadlockCase1.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/deadlock/TestDeadlockCase2.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/deadlock/TestDeadlockCase3.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/deadlock/TestDeadlockCase4.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/deadlock/TestDeadlockCase5.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/deadlock/TestDeadlockCase6.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/plugin/DDRJunitRunnerPlugin.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/plugin/DDRPluginsTestCmd.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/plugin/dumpsegments/DumpSegmentsVM29.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/CoreDumpGenerator.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/CoreDumpUtil.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/DDROutputStream.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/GenerateCore.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/ClassForNameOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/DumpRomClassOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/FindVMOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/J9ClassOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/J9JavaVmOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/J9MethodOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/J9PoolOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/J9PoolPuddleListOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/J9RomClassOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/MethodForNameOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/ParserUtil.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/RomclassForNameOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/ShrcStatsOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/StackSlotsOutputParser.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/ThreadsOutputParser.java
  test/functional/DDR_Test/tck_ddrext.xml
Labels: comp:test

#2739 Limit sortTest to sanity group and combine testcase generalSanityTest_SE80 with generalSanityTest
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/gpu/SortTest.java
Labels: comp:test

#2725 Set reflect tests in generalTest and reflect_getMethods to reflect testcase
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/testng.xml
Labels: comp:test

#2731 Compiler: Add exclude for OMRVirtualMachineRegister
  runtime/compiler/CMakeLists.txt
Labels: comp:jit

#2616 Fix HCRGuardAnalysis
  runtime/compiler/optimizer/HCRGuardAnalysis.cpp
Labels: comp:jit

#1683 Implement copySwapMemory native
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
  runtime/jcl/common/sun_misc_Unsafe.cpp
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/MainTester.java
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeCopySwapMemory.java
Labels: comp:vm

#2741 Add OS checks for Vector PD and Facility Enhancement
  runtime/oti/j9port.h
  runtime/port/unix/j9sysinfo.c
Labels: comp:port

#2714 AnonClass get own class name test
  test/functional/Jsr335/src/org/openj9/test/jsr335/defineAnonClass/AnonClass.java
  test/functional/Jsr335/src/org/openj9/test/jsr335/defineAnonClass/TestUnsafeDefineAnonClass.java
Labels: comp:test

#2466 Handle SIGBUS properly when executing in PPC helpers
  runtime/compiler/runtime/SignalHandler.c
Labels: comp:jit
