Repository eclipse-openj9/openj9, pull requests merged in 2018-03, with the labels that each got.

#1291 Remove J9 RemSet const
  runtime/gc_modron_startup/mminit.cpp
  runtime/oti/j9cfg_builder.h
Labels: comp:gc

#1294 Add CONSTANT_Dynamic to classfile parsing
  runtime/bcutil/cfreader.c
  runtime/nls/cfre/cfrerr.nls
  runtime/oti/cfr.h
Labels: comp:vm, jdk11

#1283 Fix SCCommandLineOptionTests perl test failures on windows
  test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/exclude.xml
  test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption14.pl
  test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption15.pl
  test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption16.pl
  test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption17.pl
  test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption18.pl
  test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption19.pl
  test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/sharedClassesUtil.pl
Labels: comp:test

#1308 Defer enabling dump agents in RAS
  runtime/rasdump/dmpsup.c
  runtime/vm/gphandle.c
Labels: comp:vm

#1302 Update the count mechanism for testKitGen
  test/.gitignore
  test/TestConfig/makefile
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/TestConfig/settings.mk
Labels: comp:test

#1320 Do not archive test material in pr builds
  buildenv/jenkins/common/build
Labels: comp:build

#1290 Fix -DREPORTDIR path for cmdLineTester_verbostest
  test/cmdLineTests/verbosetest/playlist.xml
  test/cmdLineTests/verbosetest/verbosetests.xml
Labels: comp:test

#1321 Fix typo and clean up in Build-JDK pipelines
  buildenv/jenkins/jobs/builds/Build-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK9-linux_ppc-64_cmprssptrs_le
Labels: comp:build

#1317 Fix assertion failure at cphelp.c:96
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/shrinit.cpp
  test/cmdLineTests/shareClassTests/SCCMLTests/SharedClassesModularityTests.xml
Labels: comp:vm, jdk9

#1009 Remove generated.h.ftl and generated.c.ftl
  runtime/j9vm/generated.h.ftl
  runtime/j9vm/generated.h.m4
  runtime/j9vm/module.xml
  runtime/j9vm_b150/generated.h.ftl
  runtime/j9vm_b150/module.xml
  runtime/j9vm_b156/generated.h.ftl
  runtime/j9vm_b156/module.xml
  runtime/j9vm_jdk11/module.xml
  runtime/oti/helpers.m4
  runtime/redirector/forwarders.ftl
  runtime/redirector/forwarders.m4
  runtime/redirector/generated.c.m4
  runtime/redirector/module.xml
Labels: comp:vm

#1298 Fix Clang error
  runtime/j9vm/jvm.c
Labels: comp:vm

#1325 Remove dead code in jvm.c
  runtime/j9vm/jvm.c
Labels: comp:vm

#1300 Allow tests targets selection
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK8-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK9-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK9-linux_ppc-64_cmprssptrs_le
Labels: comp:build

#1201 Updates valhalla nestmates test to match spec update
  test/README.md
  test/Valhalla/build.xml
  test/Valhalla/playlist.xml
  test/Valhalla/src/org/openj9/test/valhalla/ClassGenerator.java
  test/Valhalla/src/org/openj9/test/valhalla/NestAttributeTest.java
  test/Valhalla/src/org/openj9/test/valhalla/NestHostAttribute.java
Labels: comp:test

#1328 Change if condition bug in test archive check
  buildenv/jenkins/common/build
Labels: comp:build

#1337 fix undefined variable name BUILD_JOB
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#1319 Remove check for J2SE_18 assuming Java 8 is the lowest level supported
  runtime/gc_vlhgc/RuntimeExecManager.cpp
  runtime/j9vm/jvm.c
  runtime/jcl/common/acccont.c
  runtime/jcl/common/mgmtthread.c
  runtime/jvmti/jvmtiStartup.c
  runtime/util/vmargs.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/NativeHelpers.cpp
  runtime/vm/jvminit.c
  runtime/vm/vm_internal.h
  runtime/vm/vmbootlib.c
Labels: comp:vm

#1329 Check JAVA_IMPL to optionally include openj9 extra settings
  test/TestConfig/openj9Settings.mk
  test/TestConfig/settings.mk
Labels: comp:test

#1338 Fix Windows platform compilation failures
  runtime/jvmti/jvmtiStartup.c
Labels: comp:vm

#1175 Relocate the rates calculating on the first PGC After GMP
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/SchedulingDelegate.cpp
  runtime/gc_vlhgc/SchedulingDelegate.hpp
Labels: comp:gc, depends:omr

#1310 Enable support for cgroups in VM
  runtime/oti/jvminit.h
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
Labels: comp:vm, enhancement

#1311 Remove vendor_version.h from j9cfg.h
  runtime/cfdumper/main.c
  runtime/gc_check/CheckCycle.cpp
  runtime/include/j9cfg.h.ftl
  runtime/jnichk/jnicheck.c
  runtime/vmchk/vmcheck.c
Labels: comp:vm

#1347 Fix use of obsolete preprocessor config by Unsafe
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
Labels: blocker, comp:vm

#1335 Reduce use of j9vm/jvm.h
  runtime/jcl/common/vm_scar.c
  runtime/tests/j9vm/module.xml
  runtime/tests/jni/jnitest.c
Labels: comp:vm

#1346 Add slack notifications to pipeline builds
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1289 Fix a crash in findClassInfo on PPC
  runtime/compiler/trj9/env/PersistentCHTable.cpp
  runtime/compiler/trj9/env/PersistentCHTable.hpp
  runtime/compiler/trj9/env/annotations/AnnotationBase.cpp
  runtime/compiler/trj9/env/j9method.cpp
  runtime/compiler/trj9/optimizer/StringPeepholes.cpp
  runtime/compiler/trj9/runtime/ClassUnloadAssumption.cpp
Labels: bug, comp:jit

#1350 Fix another dependency on generated.h
  runtime/hyvm/module.xml
Labels: comp:build

#1336 Add build file and variables for AIX support
  buildenv/jenkins/common/build
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/builds/Build-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1358 Add AIX to daily builds and document pull request instructions for aix
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
Labels: comp:build, comp:doc

#1345 Add shared class CML test cases
  test/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
  test/cmdLineTests/shareClassTests/SCCMLTests/SharedClassesModularityTests.xml
Labels: comp:test

#1343 fix option permit-illegal-access issue
  test/JLM_Tests/playlist.xml
Labels: comp:test

#1359 Interfaces must have acc_interface & acc_abstract set
  runtime/bcutil/cfreader.c
Labels: comp:vm

#1263 Initial commit for Tag-Repos job
  buildenv/jenkins/jobs/infrastructure/tagRepos
Labels: comp:build

#1364 Add Jenkins files for Linux x86 build and test pipelines
  buildenv/jenkins/common/test
  buildenv/jenkins/jobs/builds/Build-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK9-linux_x86-64_cmprssptrs
Labels: comp:build

#1200 Initial commit for Branch-Split job
  buildenv/jenkins/jobs/infrastructure/branchSplit
Labels: comp:build

#1360 Fix potential null element in AccessControlContext.context
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  jcl/src/java.base/share/classes/java/security/AccessController.java
Labels: comp:vm

#1369 Exclude tests in memoryCategories on aix_ppc-64_cmprssptrs
  test/TestConfig/resources/excludes/latest_exclude_SE80.txt
  test/TestConfig/resources/excludes/latest_exclude_SE90.txt
Labels: comp:test

#857 Add build instructions for OpenJDK8 Windows 64-bit
  buildenv/Build_Instructions_V8.md
Labels: comp:doc

#1327 Update OpenJ9 test README
  test/README.md
  test/docs/DependentLibs.md
  test/docs/OpenJ9TestUserGuide.md
  test/docs/Prerequisites.md
Labels: comp:test

#1373 Update release process to remove `releasenote` tag after the release
  doc/processes/release_process.md
Labels: comp:doc

#1385 Update build instructions
  buildenv/Build_Instructions_V8.md
  buildenv/Build_Instructions_V9.md
Labels: comp:doc

#1384 Re-enable test_doPrivilegedFrameStackWalking
  test/TestConfig/resources/excludes/latest_exclude_SE90.txt
Labels: comp:test

#1380 Add Jenkins files for Windows x86 build and test pipelines
  buildenv/jenkins/common/build
  buildenv/jenkins/jobs/builds/Build-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK9-win_x86-64_cmprssptrs
Labels: comp:build

#579 Add Proxy class's package to the defining classloader
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VMLangAccess.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/VMAccess.java
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
  test/Java8andUp/src/org/openj9/test/java/lang/Test_Package.java
Labels: comp:vm, jdk9

#1246 Fix trees around jProfiling value call trees
  runtime/compiler/trj9/optimizer/JProfilingValue.cpp
Labels: comp:jit

#1361 Update sdk and freemarker locations for zlinux machines
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1399 Enable use of ddrgen from OMR
  buildspecs/core.feature
  buildspecs/j9.flags
  runtime/compiler/module.xml
  runtime/ddr/blacklist
  runtime/ddr/ddrhelp.h
  runtime/ddr/gcddr.cpp
  runtime/ddr/module.xml
  runtime/ddr/omrddr.cpp
  runtime/ddr/overrides
  runtime/ddr/overrides-gc
  runtime/ddr/overrides-jit
  runtime/ddr/overrides-omr
  runtime/ddr/overrides-vm
  runtime/ddr/run_omrddrgen.mk.ftl
  runtime/ddr/vmddr.cpp
  runtime/gc/module.xml
  runtime/gc_ddr/module.xml
  runtime/gc_glue_java/configure_includes/configure_common.mk.ftl
  runtime/makelib/targets.mk.ftl
  runtime/module.xml
Labels: comp:gc, comp:vm, depends:omr

#1376 Initial description of labels and their intended usage
  doc/processes/labels.md
Labels: comp:doc

#1402 Automatically fix interface modifiers for pre-java6 classfiles
  runtime/bcutil/cfreader.c
Labels: bug, comp:vm

#1379 Fix and enable JarFileUpdateTest
  test/VM_Test/j9vm.xml
  test/VM_Test/src/j9vm/test/jarfileupdate/JarFileUpdateTest.java
Labels: comp:test

#1157 Guard pointer dereference with VM Access
  runtime/compiler/trj9/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#1368 Fix issue with testKitGen makefile generation
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
Labels: comp:test

#1407 Simplify git push commands
  buildenv/jenkins/jobs/infrastructure/branchSplit
  buildenv/jenkins/jobs/infrastructure/omrMirror
  buildenv/jenkins/jobs/infrastructure/tagRepos
Labels: comp:build

#1406 Remove use of environment variables from variables file
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1206 Make unsafePut64 alignment safe for ARM
  runtime/vm/xr32/unsafeHelper.s
Labels: comp:vm

#1397 Fixed Inline Array Allocation
  runtime/compiler/trj9/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#1330 Allow for overriding build tools via the command line or environment
  runtime/compiler/trj9/Makefile
  runtime/compiler/trj9/build/rules/aix-xlc/common.mk
  runtime/compiler/trj9/build/rules/gnu-xlc/common.mk
  runtime/compiler/trj9/build/rules/gnu/common.mk
  runtime/compiler/trj9/build/rules/gnu/filetypes.mk
  runtime/compiler/trj9/build/rules/win-msvc/common.mk
  runtime/compiler/trj9/build/rules/zos-xlc/common.mk
  runtime/compiler/trj9/build/rules/zos-xlc/filetypes.mk
  runtime/compiler/trj9/build/rules/ztpf-gcc/common.mk
  runtime/compiler/trj9/build/rules/ztpf-gcc/filetypes.mk
  runtime/compiler/trj9/build/toolcfg/aix-xlc/common.mk
  runtime/compiler/trj9/build/toolcfg/gnu-xlc/common.mk
  runtime/compiler/trj9/build/toolcfg/gnu/common.mk
  runtime/compiler/trj9/build/toolcfg/win-msvc/common.mk
  runtime/compiler/trj9/build/toolcfg/zos-xlc/common.mk
  runtime/compiler/trj9/build/toolcfg/ztpf-gcc/common.mk
  runtime/gc_glue_java/configure_includes/configure_aix_ppc.mk
  runtime/gc_glue_java/configure_includes/configure_linux_390.mk
  runtime/gc_glue_java/configure_includes/configure_linux_arm.mk
  runtime/gc_glue_java/configure_includes/configure_linux_ppc.mk
  runtime/gc_glue_java/configure_includes/configure_linux_x86.mk
  runtime/gc_glue_java/configure_includes/configure_linux_ztpf_390.mk
  runtime/gc_glue_java/configure_includes/configure_osx.mk
  runtime/gc_glue_java/configure_includes/configure_win_x86.mk
  runtime/gc_glue_java/configure_includes/configure_zos_390.mk.ftl
  runtime/makelib/mkconstants.mk.ftl
Labels: comp:build

#1332 Updates final field access check
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, project:valhalla

#1422 Enable skip array init and array copy bound checks for String toCharArray
  runtime/compiler/trj9/env/j9method.cpp
Labels: comp:jit

#1365 add $(ADD_JVM_LIB_DIR_TO_LIBPATH) in memoryCategories
  test/Java8andUp/playlist.xml
  test/TestConfig/resources/excludes/latest_exclude_SE80.txt
  test/TestConfig/resources/excludes/latest_exclude_SE90.txt
Labels: comp:test

#1411 Update nestmates fields during class redefinition
  runtime/jvmti/jvmtiClass.c
  runtime/oti/util_api.h
  runtime/util/hshelp.c
Labels: comp:vm, jdk11, project:valhalla

#1412 Disallow nestmate changes during class redefinition
  runtime/include/jvmti.h
  runtime/jvmti/jvmtiGeneral.c
  runtime/util/hshelp.c
Labels: comp:vm, jdk11, project:valhalla

#1344 Refactor check visiblity code
  runtime/oti/j9protos.h
  runtime/util/module.tdf
  runtime/vm/createramclass.cpp
  runtime/vm/visible.c
Labels: comp:vm

#1400 Use a stored copy of freemarker.jar for the travis build
  .travis.yml
Labels: comp:build

#1413 Print timestamp for test target
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
Labels: comp:test

#1444 Merge two cmdLineTester_SCCommandLineOptionTests
  test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/playlist.xml
Labels: comp:test

#1427 Avoid instantiating ClassLoader objects when throwing SecurityException
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm

#1449 Corrects compilation failure in visible.c
  runtime/vm/visible.c
Labels: bug, comp:vm

#1417 Add missing dependencies on generate_redirector
  runtime/ddr/module.xml
  runtime/redirector/module.xml
Labels: comp:build

#1398 update TestNG to 6.14.2 version to fix false positive test result
  test/JLM_Tests/playlist.xml
  test/JLM_Tests/src/org/openj9/test/java/lang/management/TestMemoryPoolMXBean.java
  test/JLM_Tests/testng.xml
  test/Java8andUp/build.xml
  test/Java8andUp/playlist.xml
  test/Java8andUp/src/j9vm/test/jni/PthreadTest.java
  test/Java8andUp/src/org/openj9/test/gpu/SortTest.java
  test/Java8andUp/testacc.policy
  test/Java8andUp/testng.xml
  test/TestConfig/resources/excludes/latest_exclude_SE80.txt
  test/TestConfig/resources/excludes/latest_exclude_SE90.txt
  test/TestConfig/scripts/tools/getDependencies.pl
  test/cmdLineTests/classesdbgddrext/playlist.xml
  test/docs/DependentLibs.md
Labels: comp:test

#1443 Replace error prone "$(ECHO) -e" in makefile
  test/TestConfig/openj9Settings.mk
  test/TestConfig/settings.mk
Labels: comp:test

#1465 Bringup Java 11 b04 - adding JVM_BeforeHalt()
  runtime/j9vm/java9vmi.c
  runtime/j9vm_jdk11/module.xml
  runtime/redirector/forwarders.m4
  runtime/redirector/module.xml
Labels: comp:vm, jdk11

#1477 Add comment for exclusion of pthreadDestructor test on z/OS
  test/Java8andUp/playlist.xml
Labels: comp:test

#1452 Reduce size of generated *.i files
  runtime/makelib/targets.mk.ftl
Labels: comp:build, comp:vm

#1476 Check return value from query_auxv before using it
  runtime/port/unix/j9sysinfo.c
Labels: bug, comp:vm

#1472 Add/correct advice for INCLUDE & LIB settings
  buildenv/Build_Instructions_V8.md
  buildenv/Build_Instructions_V9.md
Labels: comp:doc

#1461 Minor cleanup for the comment formatting
  runtime/jcl/common/system.c
Labels: comp:vm

#1460 Bringup Java 11 b04 & raw builds
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/j9vm/j7vmi.c
  runtime/jcl/common/system.c
Labels: comp:vm, jdk11

#1479 Remove extra directories from SDK tarballs
  buildenv/jenkins/common/build
  buildenv/jenkins/common/test
Labels: comp:build

#1482 Invalid reference to cursor->getAssumingPC() in debug mode
  runtime/compiler/trj9/runtime/ClassUnloadAssumption.cpp
Labels: bug, comp:jit

#1484 Fix clean target in makefiles
  runtime/j9vm/module.xml
  runtime/redirector/module.xml
Labels: comp:build

#1471 Add new ThreadMXBean APIs
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ThreadMXBeanImpl.java
  jcl/src/java.management/share/classes/java/lang/management/ThreadMXBean.java
  runtime/jcl/common/mgmtthread.c
  runtime/oti/jclprots.h
  test/Java10andUp/playlist.xml
  test/Java10andUp/src/org/openj9/test/java/lang/management/ThreadMXBean/APITestJava10.java
  test/Java10andUp/src/org/openj9/test/java/lang/management/ThreadMXBean/ThreadMXBeanTestCase.java
  test/Java10andUp/testng.xml
Labels: comp:test, comp:vm, jdk10

#1424 Use Adopt-OpenJ9 on ppcle systems for bootjdk
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1487 Re-enable AttachAPISanity_SE90
  test/Java8andUp/playlist.xml
Labels: comp:test

#1480 Add support for custom configuration from a Git repository
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
Labels: comp:build

#1491 Delete unused tenant natives and exports
  runtime/bcutil/TSFUtil.cpp
  runtime/bcutil/TSFUtil.hpp
  runtime/oti/bcutil_api.h
  runtime/tests/thread/testnatives/module.xml
  runtime/tests/thread/testnatives/testnatives.c
Labels: comp:vm

#1354 Support PullRequest builds from other repos
  buildenv/jenkins/README.md
  buildenv/jenkins/common/build
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK8-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK9-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK9-linux_ppc-64_cmprssptrs_le
Labels: comp:build

#1492 Linux s390 must use an Adopt JDK8 as the boot jdk
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1490 Remove deprecated arraycopy statistics
  runtime/compiler/trj9/runtime/codertinit.cpp
Labels: comp:jit

#1495 Enable SE110 for testing
  test/README.md
  test/TestConfig/scripts/testKitGen/testKitGen.pl
  test/TestConfig/settings.mk
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#1498 Create a disableZEC12 alias for disableZHelix
  runtime/compiler/trj9/z/env/J9CPU.cpp
Labels: comp:jit, depends:omr

#1504 Capture verbose log for easier debugging
  test/JLM_Tests/playlist.xml
Labels: comp:test

#1489 Print test name before time stamp
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
Labels: comp:test

#1510 Fix JPP format error
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ThreadMXBeanImpl.java
Labels: comp:vm, jdk10

#1466 Bringup Java 11 b04 - implement j.l.String.valueOfCodePoint()
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/String.java
  test/Java11andUp/.classpath
  test/Java11andUp/.project
  test/Java11andUp/.settings/org.eclipse.jdt.core.prefs
  test/Java11andUp/build.xml
  test/Java11andUp/playlist.xml
  test/Java11andUp/src/org/openj9/test/java_lang/Test_String.java
  test/Java11andUp/testng.xml
Labels: comp:vm, jdk11

#1512 Skip test pipelines when TESTS_TARGETS is set to none
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#1513 Remove JVM_InitProperties implementation
  runtime/j9vm/j7vmi.c
  runtime/oti/j9nonbuilder.h
Labels: comp:vm

#1167 Check CP consistency during method resolve
  runtime/bcutil/ClassFileWriter.cpp
  runtime/bcutil/ConstantPoolMap.cpp
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/sun_reflect_ConstantPool.c
  runtime/jvmti/jvmtiClass.c
  runtime/oti/j9nonbuilder.h
  runtime/util/hshelp.c
  runtime/util/rcdump.c
  runtime/util/romclasswalk.c
  runtime/vm/classsupport.c
  runtime/vm/resolvesupport.cpp
  test/Java8andUp/src/org/openj9/test/jsr335/interfacePrivateMethod/GenerateInterfaceFromASM.java
  test/Java8andUp/src/org/openj9/test/reflect/defendersupersends/asm/AsmTestcaseGenerator.java
  test/Jsr335/src/org/openj9/test/jsr335/defendersupersends/asm/AsmTestcaseGenerator.java
  test/Jsr335_interfaceStaticMethod/src/org/openj9/test/jsr335/interfaceStaticMethod/InvokeStaticTest.java
  test/SharedCPEntryInvokerTests/src/org/openj9/test/invoker/InvalidateOnStackSplitTableRetransformationTest.java
  test/SharedCPEntryInvokerTests/src/org/openj9/test/invoker/InvalidateSplitTableRetransformationTest.java
  test/SharedCPEntryInvokerTests/src/org/openj9/test/invoker/MutateOnStackSplitTableRetransformationTest.java
  test/SharedCPEntryInvokerTests/src/org/openj9/test/invoker/SharedCPEntryInvokerTestCases.java
  test/SharedCPEntryInvokerTests/src/org/openj9/test/invoker/util/DummyClassGenerator.java
  test/VM_Test/src/com/ibm/j9/recreateclass/testclasses/SharedInvokersTestGenerator.java
Labels: bug, comp:vm, jdk9, prio:high

#1237 Relax AOT processor feature compatibility check
  runtime/compiler/trj9/control/rossa.cpp
  runtime/compiler/trj9/env/J9CPU.cpp
  runtime/compiler/trj9/env/J9CPU.hpp
  runtime/compiler/trj9/env/ProcessorDetection.cpp
  runtime/compiler/trj9/env/VMJ9.h
  runtime/compiler/trj9/p/env/J9CPU.cpp
  runtime/compiler/trj9/p/env/J9CPU.hpp
  runtime/compiler/trj9/runtime/RelocationRuntime.cpp
  runtime/compiler/trj9/runtime/RelocationRuntime.hpp
  runtime/compiler/trj9/x/env/J9CPU.cpp
  runtime/compiler/trj9/x/env/J9CPU.hpp
  runtime/compiler/trj9/z/env/J9CPU.cpp
  runtime/compiler/trj9/z/env/J9CPU.hpp
Labels: comp:jit

#1455 Cleanup class scanning in Balanced GC
  runtime/gc_structs/ClassIterator.cpp
  runtime/gc_structs/ClassIterator.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkCardScrubber.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/PartialMarkingScheme.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
Labels: comp:gc

#1525 Add new CP types to DDR
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
  runtime/util/rcdump.c
Labels: comp:vm

#1500 Add shared classes support for nested jar
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassAbstractHelper.java
  runtime/jcl/common/shared.c
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/ClasspathItem.cpp
  runtime/shared_common/ClasspathItem.hpp
  runtime/shared_common/ClasspathManagerImpl2.cpp
Labels: comp:vm, doc:whatsnew, enhancement

#1536 Fix ARM compile error due to TR_ProcessorFeatureFlags error
  runtime/compiler/trj9/arm/env/J9CPU.cpp
  runtime/compiler/trj9/arm/env/J9CPU.hpp
Labels: comp:jit

#1285 Initial commit for JDK10 Jenkins files
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/builds/Build-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/builds/Build-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, jdk10

#1535 WIP: Atomic-free JNI work
  buildspecs/j9.flags
  runtime/codert_vm/xnathelp.m4
  runtime/compiler/trj9/p/codegen/PPCJNILinkage.cpp
  runtime/compiler/trj9/x/amd64/codegen/AMD64JNILinkage.cpp
  runtime/compiler/trj9/x/runtime/X86Codert.asm
  runtime/gc_glue_java/JNICriticalRegion.cpp
  runtime/jcl/common/java_lang_ref_Reference.cpp
  runtime/jcl/common/thread.cpp
  runtime/jilgen/jilconsts.c
  runtime/jvmti/jvmtiThread.c
  runtime/jvmti/jvmti_internal.h
  runtime/jvmti/suspendhelper.cpp
  runtime/oti/VMAccess.hpp
  runtime/oti/j9.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/rasdump/rasdump_internal.h
  runtime/rasdump/trigger.c
  runtime/tests/jni/threadtest.c
  runtime/vm/VMAccess.cpp
  runtime/vm/jnicsup.cpp
  runtime/vm/jvminit.c
  runtime/vm/vm_internal.h
  runtime/vm/vmthread.c
  test/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc018.java
Labels: comp:jit, comp:vm, enhancement, perf

#1544 fix bad defined variable name for variableFile
  buildenv/jenkins/jobs/builds/Build-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/builds/Build-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK9-linux_ppc-64_cmprssptrs_le
Labels: comp:build

#1523 Check classfile version as soon as possible
  runtime/bcutil/cfreader.c
Labels: comp:vm

#1467 Modify return opcode handling in areMethodsEquivalent
  runtime/util/hshelp.c
Labels: comp:vm

#1383 Refactor access check for processing methods
  runtime/vm/lookupmethod.c
Labels: comp:vm

#1547 Fix ARM undefined symbol issue
  runtime/compiler/trj9/build/files/target/arm.mk
Labels: comp:jit

#1537 Update the test time stamp message
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
Labels: comp:test

#1516 Move JAVA_VERSION and JCL_VERSION check in each test project build.xml
  test/NativeTest/build.xml
  test/OpenJ9_Jsr_292_API/build.xml
  test/SharedCPEntryInvokerTests/build.xml
  test/TestConfig/scripts/build_test.xml
Labels: comp:test

#1556 Remove SVT_Modularity and SVT_LoadTest
  test/SVT_LoadTest/.project
  test/SVT_LoadTest/build.xml
  test/SVT_LoadTest/exclude_playlist.xml
  test/SVT_Modularity/.project
  test/SVT_Modularity/build.xml
  test/SVT_Modularity/exclude_playlist.xml
Labels: comp:test

#1559 WIP: Atomic-free JNI work
  runtime/vm/VMAccess.cpp
  runtime/vm/jvminit.c
Labels: comp:vm

#1558 Avoid evaluation of VSI instruction memory references
  runtime/compiler/trj9/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, depends:omr

#1551 Mark security sensitive Class.forName() as privileged
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/LoggingMXBeanImpl.java
Labels: comp:vm

#1260 Read Barrier on collected reference dereference
  runtime/compiler/trj9/env/VMJ9.cpp
  runtime/compiler/trj9/env/VMJ9.h
  runtime/compiler/trj9/il/J9SymbolReference.cpp
  runtime/compiler/trj9/ilgen/Walker.cpp
  runtime/compiler/trj9/optimizer/J9Inliner.cpp
  runtime/compiler/trj9/optimizer/J9TransformUtil.cpp
  runtime/compiler/trj9/optimizer/J9ValuePropagation.cpp
  runtime/compiler/trj9/optimizer/StringBuilderTransformer.cpp
Labels: comp:jit, depends:omr

#1549 Use the right constant pool for primitive/array
  runtime/compiler/trj9/env/j9method.cpp
Labels: bug, comp:jit

#1527 Add support for node labels per versions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1546 Add NODE_NAME to build description
  buildenv/jenkins/common/build
  buildenv/jenkins/common/test
Labels: comp:build

#1436 Fix code cache allocation issue with hugepages
  runtime/compiler/trj9/runtime/J9CodeCacheManager.cpp
  runtime/compiler/trj9/runtime/J9CodeCacheManager.hpp
Labels: comp:jit

#1561 Fix the JAVA_VERSION conditional logic in build.xml
  test/JLM_Tests/build.xml
  test/Java10andUp/build.xml
  test/Java9andUp/build.xml
  test/Jsr292/build.xml
  test/OpenJ9_Jsr_292_API/build.xml
  test/SharedCPEntryInvokerTests/build.xml
  test/UnsafeTest/build.xml
  test/VM_Test/build.xml
  test/cmdLineTests/jvmtitests/build.xml
  test/cmdLineTests/lockWordAlignment/build.xml
  test/cmdLineTests/proxyFieldAccess/build.xml
  test/cmdLineTests/runtimemxbeanTests/build.xml
  test/cmdLineTests/shareClassTests/DataHelperTests/build.xml
  test/cmdLineTests/shareClassTests/SCHelperCompatabilityTests/build.xml
  test/cmdLineTests/shareClassTests/testClasses/build.xml
  test/cmdline_options_testresources/build.xml
Labels: comp:test

#1557 Improve performance of -Xcheck:memory tests
  test/cmdLineTests/gcRegressionTests/gcRegressionTests.xml
Labels: comp:gc, comp:test

#1567 Atomic-free JNI work
  runtime/oti/VMAccess.hpp
  runtime/oti/j9consts.h
  runtime/vm/VMAccess.cpp
  runtime/vm/jvminit.c
Labels: comp:vm

#1574 Initialize coder field for constant strings
  runtime/gc_base/StringTable.cpp
Labels: comp:vm, jdk10

#1578 Fix Java10andUp compilation
  test/Java10andUp/build.xml
Labels: comp:test
