Repository eclipse-openj9/openj9, pull requests merged in 2018-09, with the labels that each got.

#2738 Remove deprecated X86ScratchArgHelperCallSnippet
  runtime/compiler/build/files/target/x.mk
  runtime/compiler/x/codegen/CMakeLists.txt
  runtime/compiler/x/codegen/StackOverflowCheckSnippet.cpp
  runtime/compiler/x/codegen/StackOverflowCheckSnippet.hpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
Labels: comp:jit, depends:omr

#2745 Fix crash in gc_rwlocktest
  runtime/gc_tests/rwlocktests/gc_rwlocktest.cpp
Labels: comp:gc, comp:test

#2749 Fix issues with extensible class member functions and static member function calls
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#2753 Improve interface method resolution
  runtime/codert_vm/cnathelp.cpp
  runtime/jit_vm/cthelpers.cpp
  runtime/oti/j9.h
  runtime/oti/j9consts.h
  runtime/util/hshelp.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/classsupport.c
  runtime/vm/resolvesupport.cpp
Labels: comp:vm

#2272 Add artifactory support
  buildenv/jenkins/common/build
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
Labels: comp:build

#2758 Update error messages to refer to the right events
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/decompResolveFrame/decomp001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/decompResolveFrame/decomp002.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/decompResolveFrame/decomp004.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/followReferences/fr001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/getPotentialCapabilities/gpc002.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/redefineBreakpointCombo/rbc001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/retransformationCapableAgent/rca001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/retransformationIncapableAgent/ria001.c
Labels: comp:vm

#2756 Set JVM_VERSION is sap only if JAVA_IMPL is sap
  test/TestConfig/settings.mk
Labels: comp:test

#1531 [Nest mates] Updates java.lang.Class API for new nestmates spec draft
  jcl/src/java.base/share/classes/com/ibm/oti/util/Util.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm, project:valhalla

#941 Enable OMRChecker linting for openj9
  .travis.yml
  runtime/compiler/linter.mk
Labels: comp:build, comp:jit

#2776 Add literal pool register to ICF dependencies
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2779 Include CodeGenerator_inlines.hpp in InlinerTempForJ9.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#2770 Private methods do not override interface methods
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, jdk11

#2568 Provide more details for module access exception messages
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  runtime/nls/j9vm/j9vm.nls
Labels: comp:vm

#2785 Make cuda4j available on all platforms for Java 8
  jcl/.project
  jcl/cuda4j.mk
  jcl/jcl_build.mk
  jcl/jpp_configuration.xml
  jcl/post-javac.launch
  jcl/post-javac.xml
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/Cuda.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaBuffer.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaDevice.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaError.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaEvent.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaException.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaFunction.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaGlobal.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaGrid.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaJitInputType.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaJitOptions.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaJitTarget.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaKernel.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaLinker.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaModule.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaPermission.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaStream.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaSurface.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaTexture.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/Dim3.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/internal/CudaUtil.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/package-info.java
  runtime/jcl/common/vm_scar.c
Labels: comp:vm, jdk8

#2584 [Condy] Update invokeWithArguments varargs
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarargsCollectorHandle.java
  test/functional/Jsr292/playlist.xml
  test/functional/Jsr292/src/com/ibm/j9/jsr292/MethodHandleInvokeWithArgumentsJumboTest.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/MethodHandleTest.java
  test/functional/Jsr292/testng.xml
Labels: comp:vm, jdk11

#1649 Add sun_reflect_ConstantPool native for constantDynamic resolve
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/jcl/common/sun_reflect_ConstantPool.c
  runtime/jcl/uma/se11_exports.xml
  runtime/oti/jclprots.h
Labels: comp:vm, jdk11

#2138 Move all job PROPERTIES to Jenkins Files for Build and Pipeline jobs
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#2750 Fix for possible crash in System/JNI call on X86-32
  runtime/compiler/x/i386/codegen/IA32J9SystemLinkage.cpp
  runtime/compiler/x/i386/codegen/IA32J9SystemLinkage.hpp
  runtime/compiler/x/i386/codegen/IA32JNILinkage.cpp
  runtime/compiler/x/i386/codegen/IA32JNILinkage.hpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.hpp
Labels: comp:jit

#2760 Update API/field names for aotMethodCode
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/ras/DebugExt.cpp
Labels: comp:jit

#2689 Make MethodType.lastParameter() public
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
Labels: comp:vm, jdk10, jdk11

#2763 Move findCorrectInlinedSiteIndex() from OMR and rework it to be usable for non-AOT code
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit

#2818 Revert "Handle interface special cases for MethodHandle"
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  runtime/compiler/env/VMJ9.cpp
Labels: comp:vm, jdk10, jdk11, jdk12, jdk9

#2815 Merge archiveArtifact lines
  buildenv/jenkins/common/build
Labels: comp:build

#2814 include Valhalla in top level build.xml
  test/functional/Valhalla/build.xml
  test/functional/build.xml
Labels: comp:test

#2807 Fix supportsIntrinsicCaseConversion in ilgen
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#2812 Support for native test libs
  test/TestConfig/openj9Settings.mk
  test/docs/OpenJ9TestUserGuide.md
  test/functional/cmdLineTests/lazyClassLoadingTest/playlist.xml
  test/functional/cmdLineTests/vmRuntimeState/playlist.xml
Labels: comp:test

#1858 Adds static and dynamic verification for ConstantDynamic Entry
  runtime/bcverify/bcverify.c
  runtime/bcverify/rtverify.c
  runtime/bcverify/staticverify.c
  runtime/bcverify/vrfyhelp.c
  runtime/nls/cfre/cfrerr.nls
  runtime/oti/bcverify_api.h
  runtime/oti/j9nonbuilder.h
  runtime/verbose/errormessageframeworkcfr.c
Labels: comp:vm, jdk11

#2828 Remove unused function set_job_names
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#2804 Fix condy constantpool iterator code
  runtime/gc_structs/ConstantPoolObjectSlotIterator.cpp
Labels: comp:gc

#2806 IBM Z Codegen changes to support Condy in jdk11
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/z/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/z/runtime/PicBuilder.m4
Labels: comp:jit, depends:omr

#2665 JDK11 nestmate virtual private function call
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.hpp
  runtime/compiler/z/runtime/PicBuilder.m4
  runtime/compiler/z/runtime/s390_asdef.inc
  runtime/compiler/z/runtime/s390_macros.inc
  test/functional/Java11andUp/playlist.xml
  test/functional/Java11andUp/src/org/openj9/test/nestmate/NestmateTest.java
  test/functional/Java11andUp/testng.xml
Labels: comp:jit

#2718 Add support for gcc-7.3 toolchain to Jenkins Build pipelines
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, depends:doc

#2853 Move build instructions to the /doc directory
  buildenv/Build_Instructions_V10.md
  buildenv/Build_Instructions_V11.md
  buildenv/Build_Instructions_V8.md
  buildenv/Build_Instructions_V9.md
  doc/README.md
  doc/build-instructions/Build_Instructions_V10.md
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V8.md
  doc/build-instructions/Build_Instructions_V9.md
  doc/build-instructions/cmake.md
Labels: comp:doc

#2700 Reject illegal entries in the bootstrap argument array
  runtime/bcutil/cfreader.c
  runtime/nls/cfre/cfrerr.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/verutil_api.h
  runtime/verutil/cfrerr.c
Labels: comp:vm

#2789 Fix getNestMembers API exception handling
  runtime/jcl/common/java_lang_Class.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/intfunc.c
  runtime/vm/visible.c
  test/functional/Valhalla/src/org/openj9/test/valhalla/NestAttributeTest.java
Labels: comp:vm, jdk11

#2803 Handle string conversion errors in attach API
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/IPC.java
  runtime/jcl/common/attach.c
  runtime/jcl/j9jcl.tdf
Labels: bug, comp:vm

#2655 Enable idle tuning only for gencon policy
  runtime/gc_modron_startup/mminit.cpp
Labels: comp:gc

#2795 Implement direct-call field resolve helpers
  runtime/codert_vm/armnathelp.m4
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/pnathelp.m4
  runtime/codert_vm/xnathelp.m4
  runtime/codert_vm/znathelp.m4
  runtime/compiler/runtime/asmprotos.h
  runtime/jilgen/jilconsts.c
  runtime/oti/j9nonbuilder.h
Labels: comp:vm

#2835 Update ldc to load Constant_Dynamic primitives as I_32 type
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, jdk11

#2757 Add checks for the usage of 64 bit registers in long evaluators
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, depends:omr

#2844 Clean up pushArguments()
  runtime/vm/jnicsup.cpp
Labels: comp:vm

#2787 Remove duplicate definitions for J9VMSTATE_GC states from OpenJ9
  runtime/compiler/arm/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/gc_glue_java/GlobalCollectorDelegate.cpp
  runtime/gc_include/j9modron.h
  runtime/gc_realtime/RealtimeGC.cpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
Labels: comp:gc

#2631 Properly link omrsig and enable OMRPORT_OMRSIG_SUPPORT globally
  runtime/ddr/module.xml
  runtime/gc_glue_java/configure_includes/configure_common.mk.ftl
  runtime/hyvm/module.xml
  runtime/jilgen/module.xml
  runtime/port/j9omrport/j9omrport.mk.ftl
  runtime/port/module.xml
  runtime/vm/module.xml
Labels: comp:vm, depends:omr

#2857 Remove use of deprecated API
  sourcetools/com.ibm.jpp.preprocessor/com/ibm/jpp/om/ConfigXMLHandler.java
Labels: comp:build

#2827 Remove unnecessary synchronization in attach API logging
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/Advertisement.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/FileLock.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/IPC.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/TargetDirectory.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/WaitLoop.java
Labels: comp:vm

#2808 Implement constant dynamic support in Power codegen
  runtime/compiler/p/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/p/runtime/PicBuilder.spp
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit

#2858 OpenJ9 fixes for OSX support [Part 1]
  runtime/gc_realtime/BarrierSynchronization.hpp
  runtime/gc_realtime/MetronomeAlarm.cpp
  runtime/gc_realtime/MetronomeAlarm.hpp
  runtime/util/cpplink.c
  runtime/vm/statistics.c
Labels: comp:gc, comp:vm

#2675 Throw IllegalAccessError on resolution with inaccessible types
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm

#2754 JIT common and x86 support for constant dynamic
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/il/J9SymbolReference.cpp
  runtime/compiler/il/symbol/J9StaticSymbol.hpp
  runtime/compiler/il/symbol/J9StaticSymbol_inlines.hpp
  runtime/compiler/il/symbol/J9Symbol.cpp
  runtime/compiler/il/symbol/J9Symbol.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/asmprotos.h
  runtime/compiler/x/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/x/runtime/X86Unresolveds.pasm
Labels: depends:omr

#2860 Handle interface special cases for MethodHandle
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  runtime/compiler/env/VMJ9.cpp
  runtime/vm/BytecodeInterpreter.hpp
  test/functional/Java8andUp/src/org/openj9/test/jsr335/interfacePrivateMethod/Test_ReflectionAndMethodHandles.java
  test/functional/Jsr292/build.xml
  test/functional/Jsr292/src/com/ibm/j9/jsr292/InterfaceHandleTest.java
Labels: comp:test, comp:vm, jdk11

#2868 Replace `aotMethodCodeStart` with `relocatableMethodCodeStart`
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/MetaData.cpp
Labels: comp:jit

#2775 Add support for Constant Dynamic entry in classfile writer
  runtime/bcutil/ClassFileWriter.cpp
Labels: comp:vm

#2845 Set module to Java.base before java.base is created.
  runtime/vm/createramclass.cpp
Labels: comp:vm, jdk10, jdk11, jdk12, jdk9

#2792 Add MSVS 2017 support for JDK11 and next to Windows platform
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#2863 Improve condy PicBuilder sequence
  runtime/compiler/z/runtime/PicBuilder.m4
Labels: comp:jit

#2880 Fix typo in Power's PicBuilder.spp
  runtime/compiler/p/runtime/PicBuilder.spp
Labels: comp:jit

#2881 Temporarily disable J9VM_PORT_OMRSIG_SUPPORT on ARM
  buildspecs/linux_arm.spec
  buildspecs/linux_arm_linaro.spec
Labels: comp:vm

#2877 Enable GCC-7.3 toolchain for Linux PPC LE in Jenkins files
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, depends:doc, jdk11

#2867 Deprecate longRegAllocation optimization
  runtime/compiler/optimizer/J9Optimizer.cpp
Labels: comp:jit

#2870 Add constant dynamic unit tests
  test/TestConfig/scripts/tools/getDependencies.pl
  test/functional/Java11andUp/build.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/Java11andUp/src/org/openj9/test/condy/BootstrapMethods.java
  test/functional/Java11andUp/src/org/openj9/test/condy/CondyGenerator.java
  test/functional/Java11andUp/src/org/openj9/test/condy/PrimitiveCondyTest.java
  test/functional/Java11andUp/testng.xml
Labels: comp:test

#2878 Fix Bug with Condy Primitive Long and Double
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#2851 Dispatch direct (private) calls in x86 PicBuilder
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/CallSnippet.hpp
  runtime/compiler/x/runtime/X86PicBuilder.inc
  runtime/compiler/x/runtime/X86PicBuilder.pasm
Labels: comp:jit

#2883 Delete unused cache of CodeCacheManager from PersistentInfo
  runtime/compiler/ras/DebugExt.cpp
Labels: comp:jit

#2672 Allow relocation of ClassUnload assumptions
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit

#2873 Use general GC_ClassIterator Iterator to scan class
  runtime/gc_glue_java/MarkingDelegate.cpp
Labels: comp:gc

#2790 Execute read barrier for constrained TX within the GS event handler
  runtime/vm/zcinterp.m4
Labels: comp:jit

#2649 Add rdbar/rdbari opcodes
  runtime/compiler/codegen/CodeGenGPU.cpp
  runtime/compiler/il/J9IL.cpp
  runtime/compiler/il/J9IL.hpp
Labels: comp:jit, depends:omr

#2896 Fix typo
  runtime/nls/shrc/j9shr.nls
Labels: comp:vm

#2898 Fix Nesthost constant pool entry type
  runtime/bcutil/ClassFileWriter.cpp
Labels: comp:vm, jdk11

#2874 Add TR_J2IVirtualThunkPointer relocation kind
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, depends:omr

#2891 Adjust use of internal methods in String.lines()
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm, jdk12

#2906 Revert "Fix typo"
  runtime/nls/shrc/j9shr.nls
Labels: comp:vm

#2899 Replace J9VMSTATE_GC_ prefix to OMRVMSTATE_GC_ across OpenJ9
  runtime/gc_glue_java/GlobalCollectorDelegate.cpp
  runtime/gc_modron_standard/ConcurrentSweepGC.hpp
  runtime/gc_realtime/RealtimeGC.cpp
  runtime/gc_realtime/RealtimeGC.hpp
  runtime/gc_realtime/RealtimeMarkTask.hpp
  runtime/gc_realtime/RealtimeSweepTask.hpp
  runtime/gc_trace_vlhgc/TgcInterRegionRememberedSetDemographics.cpp
  runtime/gc_vlhgc/CardListFlushTask.hpp
  runtime/gc_vlhgc/CopyForwardGMPCardCleaner.hpp
  runtime/gc_vlhgc/CopyForwardNoGMPCardCleaner.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalCollectionCardCleaner.hpp
  runtime/gc_vlhgc/GlobalCollectionNoScanCardCleaner.hpp
  runtime/gc_vlhgc/GlobalMarkCardCleaner.hpp
  runtime/gc_vlhgc/GlobalMarkCardScrubber.hpp
  runtime/gc_vlhgc/GlobalMarkNoScanCardCleaner.hpp
  runtime/gc_vlhgc/GlobalMarkingScheme.hpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.hpp
  runtime/gc_vlhgc/MemorySubSpaceTarok.cpp
  runtime/gc_vlhgc/ParallelSweepSchemeVLHGC.hpp
  runtime/gc_vlhgc/PartialMarkGMPCardCleaner.hpp
  runtime/gc_vlhgc/PartialMarkNoGMPCardCleaner.hpp
  runtime/gc_vlhgc/PartialMarkingScheme.hpp
  runtime/gc_vlhgc/WriteOnceCompactor.hpp
  runtime/gc_vlhgc/WriteOnceFixupCardCleaner.hpp
  runtime/gcchk/gcchk.cpp
Labels: comp:gc

#2895 Update Lithuanian tests to conform to Unicode 10 for Java 11
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:test, jdk11

#2875 Relocate the J2I virtual thunk in PIC data on x86
  runtime/compiler/x/codegen/CallSnippet.cpp
Labels: comp:jit

#2901 add ADD_JVM_LIB_DIR_TO_LIBPATH in TestAttachAPI and TestSunAttachClasses
  test/functional/Java8andUp/playlist.xml
Labels: comp:test

#2923 Add method waitForReferenceProcessing() in Reference.java
  jcl/src/java.base/share/classes/java/lang/ref/Reference.java
Labels: comp:vm, jdk11, jdk12

#2884 Fold static final fields of type VarHandle under Xaggressive
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
Labels: comp:jit

#2892 Enable nestmate J2I thunk AOT support
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jit

#2926 Support 128-bit register values in javacore files
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/javacore/parser/j9/section/platform/PlatformSectionParser.java
Labels: bug, comp:vm

#2914 Fix typo and related tests
  runtime/nls/shrc/j9shr.nls
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption6.bat
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption6.sh
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/sharedClassesUtil.pl
Labels: comp:vm

#2309 Bring up DDR on AIX
  buildspecs/aix_ppc-64.spec
  buildspecs/aix_ppc-64_cmprssptrs.spec
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ThreadMonitorHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ObjectMonitor_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/SystemMonitorThreeTier_V1.java
  runtime/ddr/blacklist
  runtime/ddr/gcddr.cpp
  runtime/ddr/module.xml
  runtime/ddr/omrddr.cpp
  runtime/ddr/overrides-omr
  runtime/ddr/vmddr.cpp
  runtime/makelib/targets.mk.aix.inc.ftl
  runtime/port/unix/j9sock.c
Labels: comp:vm

#2882 Relocate the J2I thunk in PIC data on Power
  runtime/compiler/p/codegen/CallSnippet.cpp
Labels: comp:jit

#2904 Fix Nestmates to throw correct exception type
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, jdk11

#2933 Download asmtools from the stable build
  test/TestConfig/scripts/tools/getDependencies.pl
Labels: comp:test

#2900 Update MethodHandle lookup for Nestmates
  runtime/jcl/common/java_dyn_methodhandle.c
Labels: comp:vm, jdk11

#2937 Update CloneWeakReferenceTest for JDK11
  test/functional/VM_Test/build.xml
  test/functional/VM_Test/src/j9vm/test/clone/CloneWeakReferenceTest.java
Labels: comp:test

#2930 Temporarily support both JAVA_IMPL and JDK_IMPL
  test/TestConfig/settings.mk
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/playlist.xml
Labels: comp:test

#2546 Support for dynamically adjusting scratch memory space of compilations
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/env/J9SegmentAllocator.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jit

#2941 Update vm->applicationClassLoader with custom classloader
  runtime/jcl/common/stdinit.c
  runtime/oti/jclprots.h
Labels: bug, comp:vm

#2929 OpenJ9 fixes for OSX support [Part 2]
  runtime/jcl/unix/syshelp.c
  runtime/rasdump/dmpsup.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/eventMethodEntryGrow/emeng001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/followReferences/fr003.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/forceEarlyReturn/fer001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/getAllStackTracesExtended/gaste001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/getClassFields/gcf001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/getMemoryCategories/gmc001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/getOrSetLocal/gosl001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/getThreadGroupChildren/gtgc002.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/getThreadListStackTracesExtended/gtlste001.c
  runtime/tests/shared/CompositeCacheTest.cpp
Labels: comp:vm

#2961 Deal with class redefinition and the final field check
  runtime/vm/resolvesupport.cpp
Labels: bug, comp:vm

#2965 Fix signal handler registration in the JVM
  runtime/vm/jvminit.c
Labels: bug, comp:vm

#2970 Match RI StackTraceElement format
  jcl/src/java.base/share/classes/java/lang/StackTraceElement.java
Labels: comp:vm, jdk10, jdk11, jdk12, jdk9

#2972 Set PPCVirtualUnresolvedSnippet as GCSafePoint
  runtime/compiler/p/codegen/CallSnippet.hpp
Labels: comp:jit

#2953 add RC/release build configure parameters to release_process.md
  doc/processes/release_process.md
Labels: comp:doc

#2952 Cleanup Artifactory code
  buildenv/jenkins/common/build
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
Labels: comp:build

#2981 Add check before invokePrivate from virtual call
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, jdk11

#2975 Implement JVM_GetVmArguments native
  runtime/j9vm/java11vmi.c
Labels: comp:vm

#2992 Fix path returned by cmdline_fetchRedirectorDllDir
  runtime/exelib/common/libargs.c
  runtime/jniinv/main.c
  runtime/tests/shared/main.c
  runtime/tests/thread/thrstate/runtest.c
  runtime/tests/vm_lifecycle/main.c
Labels: comp:test, comp:vm

#2997 Preload security sensitive classes
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#3003 Remove old OMR pipeline
  buildenv/jenkins/jobs/pipelines/Pipeline-OMR-Acceptance
Labels: comp:build

#2988 Follow up for initial SATB barrier changes
  runtime/gc_realtime/RememberedSetWorkPackets.cpp
  runtime/gc_realtime/RememberedSetWorkPackets.hpp
  runtime/gc_realtime/WorkPacketsRealtime.cpp
  runtime/gc_realtime/WorkPacketsRealtime.hpp
Labels: comp:gc

#3016 Fix package checking for array types
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm

#2983 OSX: Enable x86_64 linkage creation in CodeGenerator
  runtime/compiler/x/amd64/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#2987 Fix stack walker for new interface formats
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/AlgorithmVersion.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITStackWalker.java
  runtime/codert_vm/jswalk.c
  runtime/ddr/algorithm_versions.c
Labels: comp:vm, jdk11, jdk12

#3005 Handle 8-byte call in VPIC snippet for nestmates
  runtime/compiler/x/runtime/X86PicBuilder.pasm
Labels: comp:jit

#2999 update asm-7.0 to latest version
  test/TestConfig/scripts/tools/getDependencies.pl
Labels: comp:test

#2962 Use reflection to access attach API internal APIs
  test/functional/TestUtilities/src/org/openj9/test/attachAPI/TargetManager.java
  test/functional/TestUtilities/src/org/openj9/test/attachAPI/TargetVM.java
Labels: comp:test

#2984 Update resolveConstantDynamic Error wrapping
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
Labels: comp:vm, jdk11, jdk12

#2951 Save local connector address in Attach API code
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/Attachment.java
Labels: comp:vm

#2966 Remove duplicate definition of VERBOSE_DYNLOAD
  runtime/bcutil/bcutil.c
  runtime/shared_common/SCImplementedAPI.cpp
  runtime/shared_common/shrinit.cpp
  runtime/verbose/verbose.c
  runtime/verbose/verbose.h
Labels: comp:vm

#2964 Fix access checking with protected classes
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: bug, comp:vm

#3027 Fix visibility checking
  runtime/codert_vm/cnathelp.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/gc_check/CheckEngine.cpp
  runtime/jit_vm/ctsupport.c
  runtime/oti/j9consts.h
  runtime/util/hshelp.c
  runtime/util/thrinfo.c
  runtime/verbose/verbose.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/jnicsup.cpp
  runtime/vm/lookuphelper.c
  runtime/vm/lookupmethod.c
  runtime/vm/resolvefield.cpp
  runtime/vm/resolvesupport.cpp
  runtime/vm/visible.c
Labels: comp:jit, comp:vm

#3044 Fix Jsr292 access checking tests
  test/functional/Jsr292/src/com/ibm/j9/jsr292/LookupAPITests_AccessClass.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/LookupAPITests_FindClass.java
Labels: comp:test, comp:vm, jdk11

#3042 Add missing params to build and pipeline jobs
  buildenv/jenkins/common/variables-functions
Labels: comp:build

#3034 Fix RPATH and dylib install_name on OSX
  runtime/makelib/targets.mk.osx.inc.ftl
Labels: comp:build

#2973 Add tests for Math max and min
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/java/lang/AnnotationType.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/DefaultClass.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/GenericClass.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/GenericsClass.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/InnerClasses.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Interface.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/PublicEnum.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/PublicFinalClass.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/PublicStrictFPClass.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_ClassCastException.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_ClassLoader.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Compiler.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_InstantiationError.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_InstantiationException.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_J9VMInternals.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_J9VMInternalsImpl.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Math.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_OutOfMemoryError.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_StringBuffer.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_StringBuilder.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Thread.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_ThreadGroup.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Throwable.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_VMAccess.java
  test/functional/Java8andUp/testng.xml
Labels: comp:test

#3051 Set domainCombiner from closest frame in result AccessControlContext
  jcl/src/java.base/share/classes/java/security/AccessController.java
Labels: bug, comp:vm

#3052 Add java/lang/String.value to isArrayWithConstantElements query
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#3059 Add test evironment setup and teardown
  test/TestConfig/settings.mk
  test/TestConfig/testEnv.mk
Labels: comp:test

#3064 Update Invalid class Assertion check with message in CopyForward
  runtime/gc_vlhgc/CopyForwardScheme.cpp
Labels: comp:gc

#3058 Handle redefinition of private interface methods
  runtime/util/hshelp.c
Labels: comp:vm, jdk11, jdk12

#3068 Fix Class.toGenericString array output on jdk9+
  jcl/src/java.base/share/classes/java/lang/Class.java
  test/functional/Java8andUp/src_110/org/openj9/test/java/lang/Test_Class.java
  test/functional/Java8andUp/src_90/org/openj9/test/java/lang/Test_Class.java
Labels: comp:vm, jdk10, jdk11, jdk12, jdk9

#3073 Race condition fix for findThunkFromTerseSignature
  runtime/compiler/env/J2IThunk.cpp
Labels: comp:jit
