Repository eclipse-openj9/openj9, pull requests merged in 2018-11, with the labels that each got.

#3505 Temporarily disable DDR cmdLineTests on osx
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
  test/functional/cmdLineTests/classesdbgddrext/playlist.xml
  test/functional/cmdLineTests/modularityddrtests/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/playlist.xml
Labels: comp:test

#3510 Temporarily turn off disableDeferredWipeout for cleanWs
  buildenv/jenkins/common/build
  buildenv/jenkins/common/test
  buildenv/jenkins/jobs/builds/Build-Test-Any-Platform
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform
Labels: comp:build

#2740 Add access barrier API to copy valueTypes
  runtime/gc/gctable.c
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/gc_base/ObjectAccessBarrier.hpp
  runtime/gc_base/accessBarrier.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_include/ObjectAccessBarrierAPI.hpp
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#3434 Fix SharedCache Throughput Regression with IPdata
  runtime/compiler/runtime/JITaaSIProfiler.cpp
  runtime/compiler/runtime/JITaaSIProfiler.hpp
Labels: jitaas

#2843 Report illegal write for Unsafe.put
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#3507 Rename evacuate RB type
  runtime/gc_glue_java/ConfigurationDelegate.hpp
  runtime/gc_include/ObjectAccessBarrierAPI.hpp
  runtime/gc_include/j9modron.h
  runtime/gc_modron_startup/mminit.cpp
  runtime/oti/j9accessbarrier.h
  runtime/oti/j9consts.h
Labels: comp:gc

#3506 Refactor code related to method fanin
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: comp:jit

#3493 Add nasm to path for windows pipelines
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#3524 Newly extended bit should not be set at the JITaaS server
  runtime/compiler/runtime/RuntimeAssumptions.cpp
Labels: jitaas

#2829 Report illegal write to static final field for Unsafe atomic calls
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
Labels: comp:jit

#3519 Use correct `generate*Instruction` APIs
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/S390Recompilation.cpp
Labels: bug, comp:jit

#3424 Remove references to realtime in cmdLineTests
  test/functional/cmdLineTests/shrcdbgddrext/shrcdbgextddrtests.xml
Labels: comp:test

#3529 Remove nullptr
  runtime/compiler/env/j9method.h
  runtime/compiler/runtime/IProfiler.hpp
Labels: bug, comp:jit

#3518 DDR updates for examining thread stacks
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITRegMap.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITStackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/MethodMetaData.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalkerUtils.java
  runtime/ddr/jitflagsddr.c
  runtime/ddr/module.xml
Labels: comp:vm

#3486 Return true for canGCAndReturn for rdbar/wrtbar
  runtime/compiler/il/J9Node.cpp
  runtime/compiler/il/J9Node.hpp
Labels: comp:jit

#3134 Add the x86 evaluators for rdbar/wrtbar for field watch
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/amd64/codegen/J9TreeEvaluator.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
  runtime/compiler/x/i386/codegen/J9TreeEvaluator.hpp
Labels: comp:jit

#3535 Use a full path to the libjava.so
  runtime/jcl/common/system.c
Labels: comp:vm

#3539 Fix bytecode size tables
  runtime/util/bcsizes.c
  runtime/util/pcstack.c
Labels: bug, comp:vm

#3537 Fix incorrect JVMTI capability check
  runtime/jvmti/jvmtiMethod.c
Labels: bug, comp:vm

#3542 Use a full path to the libjava.so
  runtime/jcl/common/system.c
Labels: comp:vm

#3446 Allow Xcodecachetotal to decrease default total code cache size
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#3547 Check the j9str_printf fit within the allowed buffer
  runtime/jcl/common/system.c
Labels: comp:vm

#3517 Give up optimizing Unsafe CAS on arraylets
  runtime/compiler/optimizer/UnsafeFastPath.cpp
  runtime/compiler/optimizer/UnsafeFastPath.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2558 Check that PersistentCHTable is not NULL, in jitClassesRedefined
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit

#3554 DDR updates for examining thread stacks
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/StructureStubGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ConfigFlags.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITRegMap.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITStackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/MethodMetaData.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalkerUtils.java
  runtime/ddr/jitflagsddr.c
  runtime/ddr/module.xml
Labels: comp:vm

#3489 Changes to get ddrgen working on OSX
  runtime/ddr/blacklist
  runtime/ddr/run_omrddrgen.mk.ftl
  runtime/makelib/targets.mk.osx.inc.ftl
Labels: comp:vm

#3360 Add tests for ValueType preloading
  test/functional/Valhalla/README.md
  test/functional/Valhalla/build.xml
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/Valhalla/src/placeholder
  test/functional/Valhalla/testng.xml
Labels: comp:test

#3538 Defer acquiring heap walk capability until necessary
  runtime/include/ibmjvmti.h
  runtime/jvmti/jvmtiCapability.c
  runtime/jvmti/jvmtiHeap.c
  runtime/jvmti/jvmtiHeap10.c
  runtime/jvmti/jvmtiHelpers.c
  runtime/jvmti/jvmtiHook.c
  runtime/jvmti/jvmti_internal.h
  runtime/oti/jvmtiInternal.h
Labels: comp:vm, perf

#3572 Make JVM_OPTIONS overridable
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
Labels: comp:test

#3481 z/TPF OMR configuration update
  runtime/gc_glue_java/configure_includes/configure_linux_ztpf_390.mk
Labels: comp:vm

#3574 Update jep178_staticLinking JVMLIBPATH
  test/functional/NativeTest/playlist.xml
  test/functional/cmdLineTests/dumpromtests/playlist.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/playlist.xml
Labels: comp:test

#3072 Add ddr dumpmodules command
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/GetCommandsTask.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/ModularityHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/DumpModuleCommand.java
Labels: comp:vm

#3552 Exclude running -Xgcpolicy:metronome mode on osx in ottawa.csv
  test/TestConfig/resources/ottawa.csv
Labels: comp:test

#3598 Ensure GC map is generated at BB entry on all platforms
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#3389 ExceptionCatch no longer forces FSD
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#3599 Fix JITaaS Options deallocation
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
Labels: jitaas

#3350 Add tests for ddr !findmodules command
  test/functional/cmdLineTests/modularityddrtests/modularityddrtests.xml
Labels: comp:test

#3609 Revert to loading `../java` now that OMR is updated
  runtime/jcl/common/system.c
Labels: comp:vm

#3460 Reduce number of messages related to inlining
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/runtime/JITaaSIProfiler.cpp
  runtime/compiler/runtime/JITaaSIProfiler.hpp
Labels: jitaas

#3438 Cache information for j9Classes at server
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/VMJ9Server.cpp
Labels: jitaas

#3615 Fix stack smashing bug
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/VMJ9Server.cpp
Labels: bug, jitaas

#3616 Add JNICALL decoration to `nativeFuncAddrJNU` function pointer
  runtime/jcl/common/system.c
Labels: comp:vm

#3628 Correct JVM_ARCH_DIR for ppc64le
  runtime/j9vm/jvm.c
Labels: comp:vm

#3087 Add -fno-strict-aliasing to LinuxPPC builds
  runtime/makelib/targets.mk.linux.inc.ftl
Labels: comp:vm

#3617 Disable Atomic-Free JNI on z/TPF
  buildspecs/linux_ztpf_390-64.spec
Labels: comp:vm

#3465 Move Guarded Load test in OpenJ9
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
Labels: comp:jit

#3605 Eliminate redundant bytecode size table
  runtime/codert_vm/decomp.cpp
  runtime/oti/bcsizes.h
  runtime/util/CMakeLists.txt
  runtime/util/bcsizes.c
Labels: comp:vm

#3511 Add build instructions for OpenJDK11 macOS
  doc/build-instructions/Build_Instructions_V10.md
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V9.md
Labels: comp:doc

#3528 Return IMMUTABLE IntStream from String.chars()
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/string/StringStreams.java
  test/functional/Java8andUp/testng.xml
Labels: comp:vm

#3596 Macro call site bug Fix
  runtime/oti/j9.h
Labels: comp:vm

#3355 Basic FVTests for gcpolicy:nogc
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/nogc/Allocator.java
  test/functional/Java8andUp/src/org/openj9/test/nogc/TestGCPolicyNogc.java
  test/functional/Java8andUp/src/org/openj9/test/nogc/TestNogcDieWithOOM.java
  test/functional/Java8andUp/testng.xml
Labels: comp:gc, comp:test

#3642 Optimize wide bytecodes
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm

#3629 macOS: Use Clang for JDK8 JIT builds
  runtime/compiler/makefile.ftl
Labels: comp:build, depends:openjdk8

#3575 Add support for DefaultValue bytecode
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ConstantPoolMap.hpp
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/createramclass.cpp
Labels: comp:vm

#3647 Add the j9libvm and j2seRoot directories to the -verbose:init output
  runtime/j9vm/jvm.c
Labels: comp:vm

#3645 Properly linking to libstdc++ on P and Z
  runtime/compiler/build/toolcfg/gnu/common.mk
Labels: comp:build

#3591 Disable Vector Facility for z/TPF
  runtime/port/unix/j9sysinfo.c
Labels: comp:vm

#3626 Enable jep178_staticLinking_SE80 for jdk8
  test/functional/cmdLineTests/jep178staticLinkingTest/playlist.xml
Labels: comp:test

#3324 Initial changes for AOT Infrastructure Cleanup
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/compile/Compilation.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit

#3594 Link to libgcc statically
  runtime/compiler/build/toolcfg/gnu/common.mk
Labels: comp:jit

#3429 Deprecate ConcurrentHashMap TM support in the JIT
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/symbol/J9MethodSymbol.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#3650 Use a full path to the libjava.so
  runtime/jcl/common/system.c
Labels: comp:vm, jdk11

#3086 Allow some Unsafe atomic ops to be inlined on POWER
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, depends:omr

#3655 Fix shrtest
  runtime/tests/shared/CacheDirPerm.cpp
  runtime/tests/shared/CorruptCacheTest.cpp
  runtime/tests/shared/OSCacheTestMmap.cpp
  runtime/tests/shared/OSCacheTestSysv.cpp
  runtime/tests/shared/SharedCacheAPITest.cpp
  test/functional/NativeTest/playlist.xml
Labels: comp:test

#3659 CMake: Build libffi as a static library
  runtime/libffi/CMakeLists.txt
Labels: comp:build

#3667 Fix Windows DDR issues
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/IDATAPointer.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/UDATAPointer.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/types/U64.java
Labels: comp:vm

#3660 CMake: Clean up harmony related code
  runtime/clear_vmi/CMakeLists.txt
  runtime/clear_vmi/j9vmi_harmony.c
  runtime/cmake/caches/common.cmake
  runtime/j9vm/CMakeLists.txt
Labels: comp:build

#3456 Fix profilingSample SharedClassCache bug
  runtime/compiler/runtime/IProfiler.cpp
Labels: bug, comp:jit

#3671 Prevent -static-libgcc and -static-libstdc++ usage on OSX
  runtime/compiler/build/toolcfg/gnu/common.mk
Labels: comp:build

#3668 Change how compilation dispatch works in JITaaS
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/runtime/CompileService.cpp
Labels: jitaas

#3603 J9UNIX support on OSX
  runtime/j9vm/j7vmi.c
  runtime/j9vm/j9vm_internal.h
  runtime/j9vm/jvm.c
  runtime/j9vm/jvm.h
  runtime/oti/j9comp.h
  runtime/oti/vmargs_api.h
  runtime/util/vmargs.c
Labels: comp:vm

#3687 Fix incorrect map argument
  runtime/codert_vm/CodertVMHelpers.cpp
  runtime/codert_vm/decomp.cpp
  runtime/vm/exceptiondescribe.c
Labels: comp:vm

#3589 Add a flag to switch on and off report dir staging
  test/TestConfig/openj9Settings.mk
  test/TestConfig/settings.mk
Labels: comp:test

#3682 Add new VT tests for default value
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test

#3419 Fold away only use of ExtCodeBase register
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
Labels: comp:jit, depends:omr

#3657 Deprecate use of `generate(RXY|RSY|SIY)Instruction` API
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#3644 Turn on Compress Build logs
  buildenv/jenkins/common/variables-functions
Labels: comp:build

#3699 Disable IProfiler thread at the JITaaS server
  runtime/compiler/control/J9Options.cpp
Labels: jitaas

#3579 Enable gcc-7 on Linux x86-64 platforms
  buildspecs/linux_x86-64.spec
  buildspecs/linux_x86-64_cmprssptrs.spec
  buildspecs/linux_x86-64_codecov.spec
  runtime/makelib/mkconstants.mk.ftl
  runtime/makelib/targets.mk.linux.inc.ftl
Labels: comp:build

#3702 Fix implementations of Comparable
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/minidump/unwind/RuntimeFunction.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/LinearDumper.java
Labels: bug, comp:vm

#3527 Make CH table updates more granular
  runtime/compiler/env/JITaaSPersistentCHTable.cpp
  runtime/compiler/env/JITaaSPersistentCHTable.hpp
  runtime/compiler/env/PersistentCHTable.hpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
Labels: jitaas

#3705 Re-enable ppc64le tests
  test/functional/NativeTest/playlist.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/playlist.xml
  test/functional/cmdLineTests/pltest/playlist.xml
Labels: comp:test

#3707 Improve comment in doInitCacheIds()
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#3698 Avoid object allocation within OOM catch block
  test/functional/Java8andUp/src/j9vm/test/softmx/ExpandHeapUntilOOM.java
Labels: comp:test

#3710 Enable testDDRExt_Callsites test
  test/functional/DDR_Test/playlist.xml
Labels: comp:test

#3703 Improve performance of ClassSummaryHelper
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/ClassSummaryHelper.java
Labels: comp:vm

#3414 Finish adding SETUP_LABEL param to all Pipeline and Build jobs
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/builds/Build-Test-Any-Platform
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform
Labels: comp:build

#3545 Pass BUILD_LIST from PBT-All
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
Labels: comp:build

#3700 Add workaround for clone on Windows
  buildenv/jenkins/common/build
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#3624 Eliminate Recompilation_getExistingMethodInfo messages
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
Labels: jitaas

#3714 Remove unused redirector variants
  runtime/redirector/module.xml
Labels: comp:build

#3721 Fix missed SETUP_LABEL variable rename
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
Labels: comp:build

#3720 Remove the attach library in test
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_ClassLoader.java
Labels: comp:test

#3713 Add -Xshareclasses:none to SignalXfszTest.
  test/functional/cmdLineTests/sigxfszHandlingTest/sigxfszHandlingTest.xml
Labels: comp:test

#3717 Add OS identifiers for JDK8 & JDK11 OSX compiles
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#3693 avoid out of memory during generating dump for testing OOM Case
  test/functional/Java8andUp/src/org/openj9/test/nogc/TestNogcDieWithOOM.java
Labels: comp:test

#3621 Enable computed goto for OSX
  runtime/vm/BytecodeInterpreter.cpp
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, enhancement

#3692 J9::Power::TreeEvaluator::VMarrayCheckEvaluator() spilling
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#3726 Stop prepending includes with "omr/" where unnecessary
  runtime/compiler/ilgen/ClassLookahead.cpp
  runtime/compiler/optimizer/BoolArrayStoreTransformer.cpp
Labels: comp:jit

#3623 Add multithreaded backward arraycopy test
  test/functional/VM_Test/src/j9vm/test/arraycopy/MultiThreadedBackwardArrayCopyTest.java
Labels: comp:test

#3735 Update usage thresholds to prevent notification misstrigger case
  test/functional/Java8andUp/src/org/openj9/test/nogc/TestGCPolicyNogc.java
Labels: comp:test

#3681 Enable bootstrap class sharing by default on OpenJ9 Java 11
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/Shared.java
  runtime/bcutil/defineclass.c
  runtime/jcl/common/shared.c
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/shared/shrclssup.c
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/shrinit.cpp
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLOpenJ9.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/playlist.xml
  test/functional/cmdLineTests/verbosetest/verbosetests.xml
Labels: comp:vm, jdk11, jdk12

#3746 Update jdk(next) branch name
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#3757 Fix typo in sigxfszHandlingTest
  test/functional/cmdLineTests/sigxfszHandlingTest/sigxfszHandlingTest.xml
Labels: comp:test

#3758 Switch to the proper OMR_COMPILER flag
  runtime/cmake/caches/common.cmake
Labels: comp:build

#3773 Fix typo in Memory Documentation
  doc/compiler/memory/MemoryManager.md
Labels: comp:doc

#2979 Replace mingw with clang in compilation
  buildenv/jenkins/variables/defaults.yml
  buildspecs/win_x86-64.spec
  buildspecs/win_x86-64_cmprssptrs.spec
  buildspecs/win_x86.spec
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V8.md
  runtime/makelib/mkconstants.mk.ftl
  runtime/makelib/targets.mk.ftl
  runtime/makelib/targets.mk.win.inc.ftl
  runtime/oti/clang/about.html
  runtime/oti/clang/stddef.h
  runtime/oti/clang_comp.h
  runtime/oti/mingw_comp.h
  runtime/util/clang_comp.c
  runtime/util/module.xml
  runtime/util_b156/module.xml
  runtime/vm/BytecodeInterpreter.cpp
  runtime/vm/MHInterpreter.cpp
  runtime/vm/module.xml
  runtime/vm/safeseh.asm
Labels: comp:vm

#3753 Explicitly export LIBPATH JDK8 folder structure updates
  test/functional/Java8andUp/playlist.xml
Labels: comp:test

#3689 Set KEEP_REPORTDIR false for tests archiving
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#3755 Use correct type conversion in UnsafeFastPath
  runtime/compiler/optimizer/UnsafeFastPath.cpp
Labels: comp:jit

#3784 Exclude SAFESEH on non-Win platforms
  runtime/makelib/targets.mk.win.inc.ftl
  runtime/vm/module.xml
  runtime/vm/safeseh.asm
Labels: comp:vm

#3674 Getting OSR frame size from ROMMethod
  runtime/codert_vm/decomp.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/oti/jitprotos.h
Labels: comp:jit, comp:vm

#3793 Store and use client's compressedRefShift at server
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/J9ObjectModel.cpp
Labels: bug, jitaas

#3733 NULLCHK argument of dead call to BigDecimal or BigInteger
  runtime/compiler/optimizer/J9Simplifier.cpp
Labels: bug, comp:jit

#3678 Truncate JNI boolean returns
  runtime/oti/VMHelpers.hpp
Labels: comp:vm

#3788 FFI: fix bug on z/os
  runtime/libffi/z/ffi.c
  runtime/libffi/z/ffi64.c
  runtime/libffi/z/sysvz.S
  runtime/libffi/z/sysvz64.S
Labels: bug, comp:vm

#3352 Add NASM to Ubuntu 16 and 18 on x86-64 Docker images
  buildenv/docker/jdk10/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk10/x86_64/ubuntu18/Dockerfile
  buildenv/docker/jdk11/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/Dockerfile
  buildenv/docker/jdk9/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk9/x86_64/ubuntu18/Dockerfile
Labels: comp:build

#3786 Fix tap result parsing issue on windows
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
Labels: comp:test

#3801 Temporarily turn off mode service
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
Labels: comp:test

#3815 Only include oit/clang/stddef.h on windows
  runtime/vm/MHInterpreter.cpp
Labels: comp:vm

#3808 Turn off Java9 specs from Axxon builds
  buildspecs/aix_ppc-64.spec
  buildspecs/aix_ppc-64_cmprssptrs.spec
  buildspecs/aix_ppc-64_codecov.spec
  buildspecs/linux_390-64.spec
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_390-64_cmprssptrs_codecov.spec
  buildspecs/linux_390-64_codecov.spec
  buildspecs/linux_390.spec
  buildspecs/linux_ppc-64_cmprssptrs_le.spec
  buildspecs/linux_ppc-64_le.spec
  buildspecs/linux_x86-64.spec
  buildspecs/linux_x86-64_cmprssptrs.spec
  buildspecs/linux_x86-64_codecov.spec
  buildspecs/linux_x86.spec
  buildspecs/linux_x86_codecov.spec
  buildspecs/linux_ztpf_390-64.spec
  buildspecs/osx_x86-64.spec
  buildspecs/osx_x86-64_cmprssptrs.spec
  buildspecs/win_x86-64.spec
  buildspecs/win_x86-64_cmprssptrs.spec
Labels: comp:build

#3711 Concurrent Scavenger yield critera
  runtime/gc_glue_java/CollectorLanguageInterfaceImpl.cpp
  runtime/gc_glue_java/CollectorLanguageInterfaceImpl.hpp
Labels: comp:gc

#3619 Allow setter method handles to final fields
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm

#3803 Allow base pointer with zero value
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/elf/ELFDumpReader.java
Labels: comp:vm

#3482 Added x86 Dockerfiles for cent6.9 and ubuntu16
  buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile
  buildenv/jenkins/docker-slaves/x86/ubuntu16/Dockerfile
Labels: comp:build

#3824 Fix Java12 import compile errors
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/java/lang/ref/Reference.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/BufferPoolMXBeanImpl.java
Labels: comp:vm, jdk12

#3354 Fixing Proper ABI Linkage on PPC when calling CHelpers from JIT
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
Labels: comp:jit

#3821 Fix the issue with carriage return removal
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
Labels: comp:test

#3740 Add BUILD_IDENTIFIER parameter
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
Labels: comp:build

#3829 Remove broken link
  doc/compiler/jitaas/README.md
Labels: jitaas

#3834 Allow executables to allocate memory below 4GB
  runtime/makelib/targets.mk.osx.inc.ftl
Labels: comp:build

#3835 Fix reattachAfterExit test on OSX
  runtime/tests/jni/reattach.c
Labels: comp:test

#3836 CMake: Disable building DDR
  runtime/cmake/omr_config.cmake
Labels: comp:build

#3802 Add tests for withfield bytecode
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test

#3807 Ensure Concurrent Scavenge AOT compatibility
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: comp:jit

#3848 Update the simplified usage output of find in jdmpview
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/FindCommand.java
Labels: comp:doc, comp:vm

#3761 Enable COMPUTED_GOTO on zLinux
  runtime/vm/BytecodeInterpreter.cpp
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm

#3734 CMake: Add cache file for osx builds
  runtime/cmake/caches/osx_x86-64.cmake
Labels: comp:build

#3843 Additional methods for Java12 build
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/java.base/share/classes/java/lang/invoke/LambdaFormEditor.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/BufferPoolMXBeanImpl.java
Labels: comp:vm, jdk12

#3763 Reload evacuated object in the hardware read barrier helper
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/jilgen/jilconsts.c
  runtime/oti/zhelpers.m4
  runtime/vm/guardedstorage.c
  runtime/vm/vm_internal.h
  runtime/vm/zcinterp.m4
Labels: comp:jit

#3847 Update class initialization tests
  test/functional/VM_Test/src/j9vm/test/clinit/GetStaticDuringClinit.java
  test/functional/VM_Test/src/j9vm/test/clinit/NewDuringClinit.java
  test/functional/VM_Test/src/j9vm/test/clinit/PutStaticDuringClinit.java
Labels: comp:test

#3806 Store Client's isIProfilerEnabled info at Server
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#3704 XXgc option for OMR/GC Scavenger aliasing
  runtime/gc_modron_startup/mmparseXXgc.cpp
Labels: comp:gc

#3838 CMake: allow use of ccache
  buildenv/travis/build-on-travis.sh
  runtime/buildtools.mk
Labels: comp:build

#3868 Fix missing flag
  runtime/codert_vm/cnathelp.cpp
Labels: comp:vm

#3866 Remove Xgc:debugLOAResize option
  runtime/gc_modron_startup/mmparseXgc.cpp
Labels: comp:gc

#3876 Fix boolean return in SCC API
  runtime/jcl/common/shared.c
Labels: bug, comp:vm

#3871 Initialize variables
  runtime/rastrace/trctrigger.c
  runtime/vm/jniinv.c
  runtime/vm/swalk.c
Labels: comp:vm

#3874 Force testjep178 to initialize libpthread
  runtime/tests/redirector/jep178/testjep178.c
Labels: bug, comp:test

#3694 Enable gcc-7 on Linux x86-32 platforms
  buildspecs/linux_x86.spec
Labels: comp:build
