Repository eclipse-openj9/openj9, pull requests merged in 2018-07, with the labels that each got.

#2313 Fix if defined() formatting and add OSX
  runtime/tests/port/j9shsemTest.c
  runtime/tests/port/j9shsem_deprecatedTest.c
  runtime/tests/port/j9vmemTest.c
  runtime/tests/port/shmem.c
  runtime/tests/port/testProcessHelpers.c
  runtime/tests/redirector/jep178/testjep178.c
  runtime/tests/redirector/jep178/testjep178.h
  runtime/tests/shared/ProcessHelper.cpp
Labels: comp:vm

#2314 Add missing throws CharacterCodingException
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm

#2288 Disable Compiler ATOE Mapping for zTPF
  runtime/compiler/optimizer/JProfilingBlock.hpp
Labels: comp:jit

#2098 WIP: Re-enable toLowerCase/toUpperCase acceleration
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/java/lang/String.java
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/com/ibm/jit/Test_JITHelpers.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
  test/functional/Java8andUp/testng.xml
Labels: comp:jit, depends:omr

#2317 Revert "WIP: Re-enable toLowerCase/toUpperCase acceleration"
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/java/lang/String.java
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/com/ibm/jit/Test_JITHelpers.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
  test/functional/Java8andUp/testng.xml
Labels: comp:jit

#2318 Re-enable toLowerCase/toUpperCase acceleration
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/java/lang/String.java
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/com/ibm/jit/Test_JITHelpers.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
  test/functional/Java8andUp/testng.xml
Labels: comp:jit

#2333 Atomic-free JNI work
  runtime/vmchk/checkthreads.c
Labels: comp:vm

#2319 Add sign extension for reduce synchronized field load
  runtime/compiler/z/codegen/ReduceSynchronizedFieldLoad.cpp
Labels: comp:jit

#1589 Relocatable Debug Counters
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/runtime/PPCRelocationTarget.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/S390AOTRelocation.cpp
Labels: comp:jit, depends:omr

#2334 JIT on Mac OSX: add OSX ifdef checks, handle uint64_t vs uintptr_t
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
Labels: comp:jit

#2325 Adopt OMR's TR_OutlinedInstructionsGenerator
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2335 Correctly identify use of compressed references for CAS write barrier
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2255 Change jvmtiGetAvailableProcessors to use J9PORT_CPU_TARGET
  runtime/j9vm/jvm.c
  runtime/jvmti/jvmtiTimers.c
Labels: comp:vm

#1213 Automate build instructions using Ansible
  buildenv/ansible/inventories/local/hosts
  buildenv/ansible/openj9-docker-image.yml
  buildenv/ansible/roles/openj9-build-environment/tasks/main.yml
  buildenv/ansible/roles/openj9-cleanup-build-environment/tasks/main.yml
  buildenv/ansible/roles/openj9-from-sources/tasks/main.yml
  buildenv/ansible/roles/openj9-image/files/Dockerfile-ubuntu
  buildenv/ansible/roles/openj9-image/tasks/main.yml
Labels: comp:build

#2326 get cmdLineTests/jvmtitests ready for JDK11
  test/functional/UnsafeTest/build.xml
  test/functional/cmdLineTests/jvmtitests/build.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_SE110.xml
  test/functional/cmdLineTests/jvmtitests/src_80/com/ibm/jvmti/tests/util/DefineAnonClass.java
  test/functional/cmdLineTests/jvmtitests/src_90/com/ibm/jvmti/tests/util/DefineAnonClass.java
Labels: comp:test

#2339 Avoid truncating I64 or U64 values from 32-bit core files
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/types/I64.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/types/U64.java
Labels: comp:vm

#2322 Add missing JNI exception check
  runtime/jcl/common/dump.c
Labels: comp:vm

#2343 Do not allow NODE to be null
  buildenv/jenkins/common/variables-functions
Labels: comp:build

#2330 Modify the translated PII files in nls folder
  runtime/nls/shrc/j9shr_cs.nls
Labels: comp:vm

#1941 Add ability to check SignedOffby format for commits
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/infrastructure/signedOffByCheck
Labels: comp:build

#2290 Fix incorrect usage of TR::Options
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/SPMDParallelizer.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
Labels: comp:jit

#2353 Atomic-free JNI work
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9port.h
  runtime/vm/FlushProcessWriteBuffers.cpp
  runtime/vm/jvminit.c
Labels: comp:vm, depends:omr

#2358 Remove index in memory references used in caseConversionHelper
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2119 Runtime recalculate GMP kickoff headroom
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/SchedulingDelegate.cpp
  runtime/gc_vlhgc/SchedulingDelegate.hpp
Labels: comp:gc, depends:omr

#2360 Adopt OMR's abs evaluators on X86
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2270 Turn on nestmates spec
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK11-linux_ppc-64_cmprssptrs_le_valhalla_nestmates
  buildspecs/j9.flags
  buildspecs/linux_ppc-64_cmprssptrs_le_valhalla_nestmates.spec
  runtime/include/j9cfg.h.ftl
  runtime/include/j9cfg.h.in
  runtime/include/jvmti.h
  runtime/jcl/cl_se11/module.xml
  runtime/jcl/uma/se11_exports.xml
  runtime/jcl/uma/se9_exports.xml
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/OSCacheFile.cpp
  runtime/shared_common/OSCachesysv.cpp
Labels: comp:vm

#2345 clean Workspace after libraries are loaded
  buildenv/jenkins/jobs/builds/Build-Test-Any-Platform
Labels: comp:build

#2321 Set sun.misc.VM.booted after initialization
  jcl/src/java.base/share/classes/java/lang/Thread.java
Labels: bug, comp:vm, jdk8

#2328 Define OMR build env for ARM cross-compile
  runtime/gc_glue_java/configure_includes/configure_linux_arm.mk
Labels: comp:build

#2370 Add JAVA12 preprocessor configuration
  jcl/jpp_configuration.xml
Labels: comp:build

#2365 Remove obsolete addPropertiesForOptionAddModsArg()
  runtime/oti/jvminit.h
  runtime/vm/vmprops.c
Labels: comp:vm, jdk10, jdk11, jdk9

#2337 Implement JavaLangRefAccess.runFinalization()
  jcl/src/java.base/share/classes/java/lang/ref/Reference.java
Labels: comp:vm, jdk11

#2320 Consolidate math call transformations in recognizedCallTransformer
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit, depends:omr

#2374 Ensure JAVA_SPEC_VERSION is defined for OMR compilation
  runtime/gc_glue_java/configure_includes/configure_common.mk.ftl
Labels: comp:vm, jdk11

#2376 Fix incorrect mask
  runtime/codert_vm/cnathelp.cpp
Labels: bug, comp:vm

#2359 Code cleanup related to exception related helpers
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/asmprotos.h
  runtime/compiler/x/amd64/codegen/AMD64JNILinkage.cpp
  runtime/compiler/x/i386/codegen/IA32JNILinkage.cpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
Labels: comp:jit

#2384 Accerlate j/lang/Long.rotateLeft with OMR's lrol
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#2386 Fix module version comparison
  test/functional/Java9andUp/src_latest/org/openj9/test/stackWalker/StackWalkerTest.java
Labels: comp:test

#2346 Improve jProfiling value sequence trees
  runtime/compiler/control/rossa.cpp
  runtime/compiler/optimizer/JProfilingValue.cpp
  runtime/compiler/optimizer/JProfilingValue.hpp
  runtime/compiler/runtime/J9Profiler.cpp
  runtime/compiler/runtime/J9Profiler.hpp
Labels: comp:jit, depends:omr

#2349 Comment and reword assert in Recompilation for jProfiling
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/p/codegen/PPCRecompilation.cpp
  runtime/compiler/x/codegen/X86Recompilation.cpp
Labels: comp:jit

#2390 Fix JVMTI issues related to DisposeEnvironment
  runtime/oti/jvmtiInternal.h
  runtime/tests/jvmtitests/agent/tests.c
  runtime/tests/jvmtitests/include/jvmti_test.h
  runtime/tests/jvmtitests/module.xml
  runtime/tests/jvmtitests/src/CMakeLists.txt
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/setNativeMethodPrefix/snmp001.c
  test/functional/cmdLineTests/jvmtitests/jvmtitests.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/setNativeMethodPrefix/snmp001.java
Labels: bug, comp:vm

#2344 Stop reserving monitors that have been cancelled
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/MonitorSnippet.hpp
  runtime/compiler/x/runtime/X86LockReservation.asm
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/gc_include/ObjectAllocationAPI.hpp
  runtime/gc_modron_startup/mgcalloc.cpp
  runtime/jcl/common/jclcinit.c
  runtime/oti/ObjectMonitor.hpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/ObjectMonitor.cpp
Labels: comp:jit, comp:vm, perf

#2342 Code cleanup related nanoTime inlining on X86
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2394 CMake: Remove un-needed excludes from the compiler
  runtime/compiler/CMakeLists.txt
Labels: comp:build

#2395 CMake: set J9VM_JAVA_VERSION from VERSION_MAJOR if provided
  runtime/buildtools.mk
Labels: comp:build

#2396 CMake: Add missing defines to redirector
  runtime/redirector/CMakeLists.txt
Labels: comp:build

#2338 z/TPF Specific Build Updates for jilconst and ddr Executables
  runtime/compiler/build/toolcfg/ztpf-gcc/common.mk
  runtime/ddr/module.xml
  runtime/gc_glue_java/configure_includes/configure_linux_ztpf_390.mk
  runtime/jilgen/module.xml
  runtime/makelib/targets.mk.ftl
  runtime/makelib/targets.mk.ztpf.inc.ftl
Labels: comp:build

#2398 Decimal Format Peephole incorrectly detecting opportunity
  runtime/compiler/optimizer/StringPeepholes.cpp
Labels: comp:jit

#2348 Add recompilation test in loop in jProfiling
  runtime/compiler/build/files/common.mk
  runtime/compiler/optimizer/J9OptimizationManager.cpp
  runtime/compiler/optimizer/J9Optimizer.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
  runtime/compiler/optimizer/JProfilingBlock.cpp
  runtime/compiler/optimizer/JProfilingBlock.hpp
  runtime/compiler/optimizer/JProfilingRecompLoopTest.cpp
  runtime/compiler/optimizer/JProfilingRecompLoopTest.hpp
  runtime/compiler/optimizer/Optimizations.enum
  runtime/compiler/runtime/J9Profiler.cpp
  runtime/compiler/runtime/J9Profiler.hpp
Labels: comp:jit, depends:omr

#2371 Generalize TR_PPCRegisterDependencyMap for all codegens
  runtime/compiler/p/codegen/PPCJNILinkage.cpp
Labels: comp:jit, depends:omr

#2407 Improve attach API access checking
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/Advertisement.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/IPC.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/Reply.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/TargetDirectory.java
  runtime/jcl/common/attach.c
Labels: comp:vm

#2413 Add JProfilingRecompLoopTest.cpp to CMakeLists.txt
  runtime/compiler/optimizer/CMakeLists.txt
Labels: comp:jit

#2397 Remove deprecated outlined prolog/epilog logic X86
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/runtime/X86Codert.asm
Labels: comp:jit

#2204 Update machine labels to standard schema
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#2382 Enable profiling compilation on jitdumps
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit

#2409 Refactor vTable Access
  runtime/codert_vm/CodertVMHelpers.cpp
  runtime/codert_vm/decomp.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/jcl/common/java_lang_Class.cpp
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/util/hshelp.c
  runtime/util/resolvehelp.c
  runtime/vm/createramclass.cpp
  runtime/vmchk/checkmethods.c
Labels: comp:vm

#2422 Recognizing JITHelpers.findElementFromArray
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#2404 get Java8andUp ready for JDK11
  test/TestConfig/scripts/tools/getDependencies.pl
  test/functional/Java8andUp/build.xml
  test/functional/Java8andUp/java8andUpSettings.mk
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/NoSuchMethod/AppLoaderCallee.java
  test/functional/Java8andUp/src_110/org/openj9/test/contendedfields/TestClasses.java
  test/functional/Java8andUp/src_110/org/openj9/test/java/lang/Test_Class.java
  test/functional/Java8andUp/src_110/org/openj9/test/java/lang/Test_Package.java
  test/functional/Java8andUp/src_110/org/openj9/test/java/lang/Test_System.java
  test/functional/Java8andUp/src_110/org/openj9/test/java/lang/management/ThreadMXBean/ThreadMXBeanTestCase.java
  test/functional/Java8andUp/src_110/org/openj9/test/regression/Cmvc194781.java
  test/functional/Java8andUp/src_110/org/openj9/test/typeAnnotation/IbmTypeAnnotationsApiTest.java
  test/functional/Java8andUp/src_80/org/openj9/test/java/lang/Test_Package.java
  test/functional/Java8andUp/src_80/org/openj9/test/regression/Cmvc194781.java
  test/functional/Java8andUp/src_90/org/openj9/test/java/lang/Test_Package.java
  test/functional/Java8andUp/src_90/org/openj9/test/regression/Cmvc194781.java
  test/functional/Java9andUp/build.xml
Labels: comp:test

#2369 Support both numa affinity and numa interleave memory independently
  runtime/oti/j9port.h
  runtime/vm/jvminit.c
Labels: comp:vm, depends:omr

#2357 Fix getPid failure in Windows
  test/functional/cmdLineTests/runtimemxbeanTests/exclude.xml
  test/functional/cmdLineTests/runtimemxbeanTests/getPidTest.pl
  test/functional/cmdLineTests/runtimemxbeanTests/playlist.xml
  test/functional/cmdLineTests/runtimemxbeanTests/src/GetPid.java
  test/functional/cmdLineTests/runtimemxbeanTests/variables.mk
Labels: comp:test

#2416 Disallow using PUSH to preserve registers on X86
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
Labels: comp:jit

#2435 Use OMR Compiler's renamed ExternalRelocation APIs
  runtime/compiler/arm/codegen/ARMAOTRelocation.cpp
  runtime/compiler/arm/codegen/ARMHelperCallSnippet.cpp
  runtime/compiler/arm/codegen/ARMRecompilationSnippet.cpp
  runtime/compiler/arm/codegen/CallSnippet.cpp
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/arm/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/p/codegen/CallSnippet.cpp
  runtime/compiler/p/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9PPCInstruction.cpp
  runtime/compiler/p/codegen/J9PPCSnippet.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/p/codegen/PPCRecompilationSnippet.cpp
  runtime/compiler/p/codegen/StackCheckFailureSnippet.cpp
  runtime/compiler/runtime/HWProfiler.cpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/CheckFailureSnippet.cpp
  runtime/compiler/x/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/RecompilationSnippet.cpp
  runtime/compiler/z/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9S390Snippet.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/z/codegen/S390AOTRelocation.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jit

#2414 Add JDK11 and JDK(next) details for build pipelines
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, jdk11

#2420 load java.instrument module when loading agent
  runtime/jvmti/jvmtiModules.c
  runtime/oti/classloadersearch.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/classloadersearch.c
  runtime/vm/intfunc.c
  runtime/vm/vmthinit.c
Labels: comp:vm

#2406 Accelerate java/lang/StringUTF16.toBytes for performance
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
Labels: comp:jit

#2402 Skip parameter access check for reflect objects
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleInfoImpl.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm, jdk10, jdk11, jdk12, jdk9

#2444 Use $os instead of operating system value
  test/TestConfig/scripts/tools/getDependencies.pl
Labels: comp:test

#2361 Optimized checkcast and instanceof on X86
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/xnathelp.m4
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/asmprotos.h
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
Labels: comp:jit, depends:omr

#2426 Add String.isBlank() implementation (jdk11 only)
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java11andUp/src/org/openj9/test/java_lang/Test_String.java
Labels: comp:vm, jdk11

#2439 remove unnecessary import
  test/functional/JIT_Test/src/jit/test/jitt/exceptions/readLineBug.java
Labels: comp:test

#2441 Disable cmdLineTester_jvmtitests_extended on win
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:test

#2456 Guard X86-only helper with TR_HOST_X86
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit

#2417 Replace DataSnippet type with auto on X86
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
Labels: comp:jit

#2442 Code cleanup for Private Linkage on X86
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
Labels: comp:jit

#2451 Add implementation for JVM_AreNestMates
  runtime/j9vm/java11vmi.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/intfunc.c
  runtime/vm/visible.c
Labels: comp:vm, jdk11, jdk12

#2454 Improve test dependency acquisition
  test/TestConfig/scripts/tools/getDependencies.pl
Labels: comp:build, comp:test

#2458 Bringup JDK12
  runtime/bcutil/defineclass.c
  runtime/j9vm/CMakeLists.txt
  runtime/j9vm/javanextvmi.c
  runtime/j9vm/jvm.c
  runtime/j9vm_jdk12/module.xml
  runtime/jcl/common/jclcinit.c
  runtime/oti/j2sever.h
  runtime/oti/j9nonbuilder.h
  runtime/redirector/forwarders.m4
  runtime/redirector/module.xml
  runtime/vm/rasdump.c
  runtime/vm/vmprops.c
Labels: comp:vm, jdk12

#2393 Distinguish SLACK "warning" "danger" color
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#2450 Locking Changes
  runtime/vm/ObjectMonitor.cpp
Labels: comp:vm

#2459 Define JAVA_SPEC_VERSION only in j9cfg.h
  runtime/buildtools.mk
  runtime/cmake/platform.cmake
  runtime/cmake/version.cmake
  runtime/compiler/build/toolcfg/common.mk
  runtime/gc_glue_java/configure_includes/configure_common.mk.ftl
  runtime/include/j9cfg.h.ftl
  runtime/include/j9cfg.h.in
  runtime/makelib/targets.mk.ftl
  runtime/redirector/CMakeLists.txt
  sourcetools/com.ibm.uma/com/ibm/j9/uma/Main.java
Labels: comp:build, comp:jit, comp:vm

#2471 Remove unused modularity functions
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/java11vmi.c
  runtime/oti/util_api.h
  runtime/redirector/forwarders.m4
  runtime/util/modularityHelper.c
Labels: comp:vm, jdk10, jdk11, jdk12, jdk9

#2428 Add implementation of String.lines() (jdk11 only)
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java11andUp/src/org/openj9/test/java_lang/Test_String.java
Labels: comp:vm, jdk11

#2403 Add "Queue" stage to build for waiting time
  buildenv/jenkins/jobs/builds/Build-Test-Any-Platform
Labels: comp:build

#2473 Include j9cfg.h for JAVA_SPEC_VERSION
  runtime/oti/j2sever.h
Labels: comp:vm

#2481 Remove deferredVMAccessRelease
  runtime/gc_glue_java/EnvironmentDelegate.cpp
  runtime/gc_glue_java/EnvironmentDelegate.hpp
Labels: comp:gc

#2465 Rework getJimModules()
  runtime/oti/vmconstantpool.xml
  runtime/vm/classloadersearch.c
Labels: comp:vm, jdk10, jdk11, jdk12, jdk9

#2462 Implement vectorized String.indexOf() on Z
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/java/lang/String.java
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2470 Remove unused TR_AMD64currentTimeMillis on X86
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit

#2479 Properly register assumptions on mergedWithOSRGuard
  runtime/compiler/env/CHTable.cpp
Labels: comp:jit, perf

#2432 Validate zTPF Memory Reserve Factor during Xmx Validation
  runtime/gc_modron_startup/mminit.cpp
Labels: comp:gc

#2430 Fix unresolve omrsig_handler for j9ddrgen and constgen executables.
  runtime/ddr/module.xml
  runtime/jilgen/module.xml
Labels: comp:build, comp:vm

#2460 Optimized prolog/epilog for private linkage on X86
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
Labels: comp:jit

#2446 Remove deprecated outlined new on X86
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/runtime/X86Codert.asm
Labels: comp:jit

#2489 Add one additional check in getExtractLocation().
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/utils/file/ZipFileManager.java
Labels: comp:vm

#2482 Remove Thread.destroy() and Thread.stop(Throwable) from JAVA11
  jcl/src/java.base/share/classes/java/lang/Thread.java
Labels: comp:vm, jdk11

#2487 Unexclude jvmtitest ta001
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_SE80.xml
Labels: comp:test

#2483 Fix various script issues with Windows JDK11
  buildenv/Build_Instructions_V11.md
  runtime/compiler/build/toolcfg/win-msvc/common.mk
  runtime/ddr/blacklist
  runtime/ddr/module.xml
Labels: comp:build

#2431 Configure z/TPF to disable Guarded Storage
  runtime/port/unix/j9sysinfo.c
Labels: comp:vm

#2491 Optimize findNativeMethodFrame
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/oti/VMHelpers.hpp
  runtime/vm/jnifield.cpp
  runtime/vm/jnimisc.cpp
  runtime/vm/vm_internal.h
Labels: comp:vm

#2490 Fix syntax error in Test_String.java
  test/functional/Java11andUp/src/org/openj9/test/java_lang/Test_String.java
Labels: comp:test

#2477 Add getEnvironment() API to runtime helper table
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/z/runtime/Recomp.cpp
Labels: comp:jit, depends:omr

#2497 Fix Runtime Instrumentation Control Block Mapping
  runtime/port/common/j9ri.h
Labels: comp:port

#2405 String startsWith fast path for single char comparison
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm

#2509 Fix the typo on the path to VS2017
  buildenv/Build_Instructions_V11.md
Labels: comp:doc

#2506 Add tests for both version of JITHelpers.intrinsicIndexOf
  test/functional/Java8andUp/src/org/openj9/test/com/ibm/jit/Test_JITHelpers.java
Labels: comp:jit

#2494 Optimize j/l/Class.isAssignableFrom on X86
  runtime/codert_vm/cnathelp.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.hpp
  runtime/oti/jitprotos.h
Labels: comp:jit

#2502 Remove unused buildPICParameters on X86-64
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.hpp
Labels: comp:jit

#2455 Mac OSX: Fix defined macro expansion warning in Clang
  runtime/port/unix_include/j9sock.h
Labels: comp:port

#2514 Make OpenJ9VirtualMachine public
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
Labels: bug, comp:vm, jdk8

#2518 Make OpenJ9VirtualMachine public
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
Labels: bug, comp:vm, jdk8

#2517 Ignore unknown JVMTI callbacks
  runtime/jvmti/jvmtiEventManagement.c
Labels: bug, comp:vm

#2520 Ignore unknown JVMTI callbacks
  runtime/jvmti/jvmtiEventManagement.c
Labels: bug, comp:vm

#2521 Update the binary path to mingw64 in cygwin context
  buildenv/Build_Instructions_V11.md
Labels: comp:doc

#2445 Fix DDR vTable Indexing
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/AlgorithmVersion.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ClassHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/RamClassWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9VTablesCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/VmCheckCommand.java
  runtime/ddr/algorithm_versions.c
Labels: comp:vm

#2434 Enable Invoke Private for Nestmates
  runtime/bcutil/ConstantPoolMap.hpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/createramclass.cpp
  runtime/vm/initsendtarget.cpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, jdk11
