Repository eclipse-openj9/openj9, pull requests merged in 2018-05, with the labels that each got.

#1810 Atomic-free JNI work
  runtime/gc_glue_java/JNICriticalRegion.hpp
  runtime/gc_modron_standard/StandardAccessBarrier.cpp
  runtime/gc_realtime/RealtimeAccessBarrier.cpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
  runtime/oti/vm_api.h
  runtime/vm/jvminit.c
Labels: comp:gc, comp:vm

#1603 Add functions for JVM signal support
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9port_generated.h
  runtime/oti/vm_api.h
  runtime/vm/intfunc.c
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
Labels: comp:vm, depends:omr

#1817 Update build instructions for Windows
  buildenv/Build_Instructions_V10.md
  buildenv/Build_Instructions_V8.md
  buildenv/Build_Instructions_V9.md
Labels: comp:doc

#1799 Add community call and slack information
  README.md
Labels: comp:doc

#1805 Fix error message to use the correct stack map frame
  runtime/bcverify/bcverify.c
  runtime/oti/j9nonbuilder.h
  runtime/verbose/errormessageframeworkrtv.c
  runtime/verbose/errormessagehelper.c
Labels: comp:vm

#1820 Remove OpenJ9 implementation of sun.reflect.CallerSensitive
  jcl/src/java.base/share/classes/sun/reflect/CallerSensitive.java
Labels: comp:vm

#1806 CMake: enable OMR_JIT
  runtime/cmake/caches/linux_x86-64_cmprssptrs.cmake
Labels: comp:vm

#1809 CMake: Add missing files to vm
  runtime/vm/CMakeLists.txt
Labels: comp:vm

#1780 Add bytecodes for returning byte,char,short and bool
  runtime/jvmti/jvmtiMethod.c
  runtime/oti/bcnames.h
  runtime/util/bcnames.c
  runtime/util/bcsizes.c
  runtime/util/pcstack.c
  runtime/util/vrfytbl.c
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm

#1783 Modify shutdown sequence to fix CS issue
  runtime/gc/gctable.c
  runtime/gc_base/gc_internal.h
  runtime/gc_modron_startup/gcmspace.cpp
  runtime/gc_modron_startup/gcmspace.h
  runtime/gc_modron_startup/mminit.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#1797 Increase default max heap only if memory subsystem is enabled
  runtime/gc_base/GCExtensions.cpp
Labels: comp:gc

#1818 Exclude SCCommandLineOptionTests/SCURLClassLoaderNPTest
  test/functional/cmdLineTests/URLClassLoaderTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/playlist.xml
Labels: comp:test

#1642 Update JVM_*Signal functions
  runtime/j9vm/j9scar.tdf
  runtime/j9vm/jvm.c
Labels: comp:vm

#1819 Add xLinux JenkinsFiles
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1825 Remove unused validateInterfaceImplementation from inliner
  runtime/compiler/trj9/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/trj9/optimizer/J9Inliner.hpp
Labels: comp:jit

#1821 Fix for issue 1375 (exclude file not found)
  test/Utils/src/org/openj9/test/util/IncludeExcludeTestAnnotationTransformer.java
Labels: comp:test

#1828 Add xLinux spec to OMR build
  buildenv/jenkins/jobs/pipelines/Pipeline-OMR-Acceptance
Labels: comp:build

#1826 Add docker build support for Ubuntu 18.04 LTS
  buildenv/docker/jdk10/ppc64le/ubuntu18/Dockerfile
  buildenv/docker/jdk10/s390x/ubuntu18/Dockerfile
  buildenv/docker/jdk10/x86_64/ubuntu18/Dockerfile
  buildenv/docker/jdk8/ppc64le/ubuntu18/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu18/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/Dockerfile
  buildenv/docker/jdk9/ppc64le/ubuntu18/Dockerfile
  buildenv/docker/jdk9/s390x/ubuntu18/Dockerfile
  buildenv/docker/jdk9/x86_64/ubuntu18/Dockerfile
Labels: comp:build

#1857 Atomic-free JNI work
  runtime/oti/j9nonbuilder.h
  runtime/vm/FlushProcessWriteBuffers.cpp
Labels: comp:vm

#1855 fix contribution guide
  README.md
Labels: comp:doc

#1808 CMake: fix bug in m4 generated files
  runtime/CMakeLists.txt
  runtime/j9vm/CMakeLists.txt
  runtime/j9vm_b150/CMakeLists.txt
  runtime/j9vm_b156/CMakeLists.txt
  runtime/redirector/CMakeLists.txt
  runtime/tests/j9vm/CMakeLists.txt
  runtime/tests/jni/CMakeLists.txt
Labels: comp:build

#1865 Remove test_hideUnsafe from exclude file for Java 9 and 10
  test/TestConfig/resources/excludes/latest_exclude_SE100.txt
  test/TestConfig/resources/excludes/latest_exclude_SE90.txt
Labels: comp:test

#1869 Atomic-free JNI work
  runtime/compiler/trj9/control/HookedByTheJit.cpp
  runtime/rasdump/trigger.c
Labels: bug, comp:jit, comp:vm

#1863 Update test_getModifiers_classTypes for Java 9 and up
  test/TestConfig/resources/excludes/latest_exclude_SE100.txt
  test/TestConfig/resources/excludes/latest_exclude_SE90.txt
  test/functional/Java8andUp/src_90/org/openj9/test/java/lang/Test_Class.java
Labels: comp:test

#1881 Avoid NULL dereference in DTFJ
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9VMThreadPointerUtil.java
Labels: comp:vm

#1778 Add JenkinsFiles for Windows
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1887 Remove DDR interactive 'limit' command
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ddrinteractive/DDRInteractive.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ddrinteractive/commands/LimitCommand.java
Labels: comp:vm

#1874 Cleanup Java source code
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/Reply.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/AvailableProcessorsNotificationInfoUtil.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ProcessingCapacityNotificationInfoUtil.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/TotalPhysicalMemoryNotificationInfoUtil.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/Cuda.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/addressspace/CommonAddressSpace.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/addressspace/LayeredAddressSpace.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/Aix32Dump.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/Aix64Dump.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/NewAixDump.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/NewElfDump.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/NewWinDump.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/NewZosDump.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/Symbol.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/zos/le/Caa.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/zos/le/DsaStackFrame.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/zos/util/AbstractHashMap.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/zos/util/IntegerMap.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/java/j9/JavaClass.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/java/j9/JavaClassLoader.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/java/j9/JavaField.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/java/j9/JavaRuntime.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/java/j9/JavaThread.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/javacore/builder/javacore/JavaRuntimeBuilder.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/javacore/parser/j9/section/monitor/MonitorSovSectionParserPart.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/javacore/parser/j9/section/platform/PlatformSectionParser.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/phd/parser/HeapdumpReader.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/phd/parser/PrintHeapdump.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/DeadlockCommand.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/FindCommand.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/HeapdumpCommand.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/HexdumpCommand.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/ScrollCommand.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/helpers/ClassOutput.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/helpers/Utils.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/infocommands/InfoThreadCommand.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/xcommands/XCommand.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/heapdump/LongArrayReferenceIterator.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/heapdump/classic/ClassicHeapDumpFormatter.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/heapdump/portable/PortableHeapDumpRecord.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/format/Format2Tprof.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/format/Merge.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/format/MessageFile.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/format/TraceFormat.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/format/TraceRecord.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/format/TraceRecordExternal.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/format/TraceRecordInternal.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/trace/format/api/Message.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/trace/format/api/MessageFile.java
  sourcetools/com.ibm.uma/com/ibm/j9/uma/platform/PlatformOSX.java
  sourcetools/com.ibm.uma/com/ibm/j9/uma/util/Tree.java
Labels: comp:vm

#1891 Set OMR_CROSS_CONFIGURE properly
  runtime/gc_glue_java/configure_includes/configure_common.mk.ftl
Labels: comp:build

#1890 OpenJ9 changes to build with gcc-7.3
  buildenv/docker/jdk11/x86_64/ubuntu16/Dockerfile
  runtime/jvmti/jvmtiExtensionMechanism.c
  runtime/shared_common/shrinit.h
  runtime/tests/shared/CacheDirPerm.cpp
  runtime/tests/shared/CompiledMethodTest.cpp
  runtime/vm/jniinv.c
  runtime/vm/linearswalk.c
Labels: comp:build, comp:test, comp:vm

#1894 Change printf tracing statements in escape analysis to traceMsg's
  runtime/compiler/trj9/optimizer/EscapeAnalysis.cpp
Labels: comp:jit

#1895 Atomic-free JNI work
  runtime/gc_glue_java/JNICriticalRegion.hpp
Labels: comp:vm

#1880 Fix result check on readAnnotations(...)
  runtime/bcutil/cfreader.c
Labels: comp:vm

#1900 Turn libffi into a static link library
  runtime/libffi/module.xml
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm

#1906 cleanWs after load jenkinsfiles
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK11-linux_ppc-64_cmprssptrs_le_valhalla_nestmates
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1910 Skip jar sha check on windows for now
  test/TestConfig/scripts/tools/getDependencies.pl
Labels: comp:test

#1911 Remove libffi workaround
  runtime/include/j9lib.h.in
  runtime/libffi/module.xml
Labels: comp:vm

#1909 Fix Class.getResource result with object as array
  jcl/src/java.base/share/classes/java/lang/Class.java
  test/functional/Java8andUp/src_80/org/openj9/test/java/lang/Test_Class.java
  test/functional/Java8andUp/src_90/org/openj9/test/java/lang/Test_Class.java
Labels: comp:vm

#1907 Cmake simplifications
  runtime/GNUmakefile
  runtime/buildtools.mk
Labels: comp:build

#1914 Fix printf formatters in jvmti tests to avoid compiler errors
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/followReferences/fr002.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/followReferences/fr003.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/followReferences/fr004.c
Labels: comp:test

#1908 Archive test results if build UNSTABLE
  buildenv/jenkins/common/test
Labels: comp:test

#1916 Additional test for Class.getResourceAsStream
  test/functional/Java8andUp/src_80/org/openj9/test/java/lang/Test_Class.java
  test/functional/Java8andUp/src_90/org/openj9/test/java/lang/Test_Class.java
Labels: comp:test

#1904 Add steps to compile 32-bit Java8 on Windows
  buildenv/Build_Instructions_V8.md
  runtime/win/module.xml
Labels: comp:doc, comp:vm, depends:openjdk8

#1920 Add access checks for MethodHandle.invoke parameter and return types
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm

#1896 Exclude SCCommandLineOptionTests until it's fixed
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/playlist.xml
Labels: comp:test

#1923 Atomic-free JNI work
  runtime/jvmti/jvmtiRawMonitor.c
Labels: comp:vm

#1912 J9 DDR generator file fixes and legacy mode
  debugtools/DDR_VM/generate-ddr.xml
  debugtools/DDR_VM/generate.xml
  debugtools/DDR_VM/launch_configs/Generate Pointer Classes (vm29).launch
  debugtools/DDR_VM/launch_configs/Generate Structure Stubs (vm29).launch
  debugtools/DDR_VM/manual_build.xml
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/StructureStubGenerator.java
Labels: comp:vm

#1786 Remove count field in String and adopt OpenJDK StringBuffer / StringBuilder
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/AlgorithmVersion.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ObjectHelper.java
  jcl/src/java.base/share/classes/java/lang/AbstractStringBuilder.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/String.java
  jcl/src/java.base/share/classes/java/lang/StringBuffer.java
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/compiler/trj9/control/J9Options.cpp
  runtime/ddr/algorithm_versions.c
  runtime/gc_base/StringTable.cpp
  runtime/oti/j9.h
  runtime/oti/vmconstantpool.xml
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:jit, comp:test, comp:vm, doc:releasenote

#1832 JVM Signal Handling Support [Part 2]
  runtime/harmony/include/hyport.h
  runtime/harmony/stubs/hyport_shim.c
  runtime/j9vm/jvm.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9port_generated.h
  runtime/oti/vm_api.h
  runtime/tests/port/j9processTest.c
  runtime/vm/intfunc.c
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
Labels: comp:vm, depends:omr

#1922 Add new OMR platform define for Windows
  buildspecs/j9.flags
  buildspecs/win_x86-64.spec
  buildspecs/win_x86-64_cmprssptrs.spec
  buildspecs/win_x86.spec
  runtime/compiler/trj9/build/toolcfg/host/win.mk
  runtime/ddr/overrides-vm
  runtime/makelib/targets.mk.ftl
  runtime/makelib/targets.mk.win.inc.ftl
Labels: comp:build

#1655 Add isAccessUserOnly0 for FileSystem
  runtime/jcl/common/clsldr.cpp
  runtime/jcl/common/exhelp.c
  runtime/jcl/common/extendedosmbean.c
  runtime/jcl/common/gpu.c
  runtime/jcl/common/jcldefine.c
  runtime/jcl/common/jcltrace.c
  runtime/jcl/common/jniidcacheinit.c
  runtime/jcl/common/log.c
  runtime/jcl/common/mgmthypervisor.c
  runtime/jcl/common/mgmtthread.c
  runtime/jcl/common/shared.c
  runtime/jcl/common/sun_reflect_ConstantPool.c
  runtime/mgmt/mgmtinit.c
  runtime/mgmt/module.xml
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/vm_api.h
  runtime/vm/intfunc.c
  runtime/vm/throwexception.c
Labels: comp:vm, depends:omr

#1930 Increase default shared cache size.
  runtime/oti/j9cfg_builder.h
  runtime/shared_common/OSCachemmap.cpp
  runtime/shared_common/OSCachesysv.cpp
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
  runtime/tests/shared/AOTDataMinMaxTest.cpp
  runtime/tests/shared/AttachedDataMinMaxTest.cpp
  runtime/tests/shared/CompositeCacheSizesTests.cpp
  runtime/tests/shared/OSCacheTestSysv.cpp
  runtime/tests/shared/SCStoreTransactionTests.cpp
  runtime/tests/shared/main.c
  runtime/verbose/verbose.c
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-2.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/exclude.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/testSCCMLSoftmx.xml
Labels: comp:vm

#1937 Fix tests to enable non-compressedrefs
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestOpenJ9DiagnosticsMXBean.java
  test/functional/Java8andUp/src/org/openj9/test/vmArguments/VmArgumentTests.java
Labels: comp:test

#1884 Add JenkinsFiles for xLinux large heap
  buildenv/jenkins/jobs/builds/Build-JDK10-linux_x86-64
  buildenv/jenkins/jobs/builds/Build-JDK8-linux_x86-64
  buildenv/jenkins/jobs/builds/Build-JDK9-linux_x86-64
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK10-linux_x86-64
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK8-linux_x86-64
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-JDK9-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK10-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK8-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK9-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-linux_x86-64
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-linux_x86-64
  buildenv/jenkins/jobs/tests/Test-Extended-JDK8-linux_x86-64
  buildenv/jenkins/jobs/tests/Test-Extended-JDK9-linux_x86-64
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-linux_x86-64
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK8-linux_x86-64
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK9-linux_x86-64
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#1921 Update Linux makefile to allow compilation with GCC 7.3
  buildenv/docker/jdk11/x86_64/ubuntu16/Dockerfile
  runtime/makelib/targets.mk.linux.inc.ftl
Labels: comp:build

#1936 Throw IAE when last char in replacement string is '$' or '\'
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#1939 Pass through tool selections to OMR
  runtime/gc_glue_java/configure_includes/configure_linux_390.mk
  runtime/gc_glue_java/configure_includes/configure_linux_ppc.mk
  runtime/gc_glue_java/configure_includes/configure_linux_x86.mk
Labels: comp:build

#1925 Clean up attach API code
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/IPC.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
Labels: comp:vm

#1892 j.l.Class.getMethods() should select more specific method
  jcl/src/java.base/share/classes/java/lang/Class.java
  test/functional/Java8andUp/src_80/org/openj9/test/java/lang/Test_Class.java
  test/functional/Java8andUp/src_90/org/openj9/test/java/lang/Test_Class.java
Labels: comp:vm

#1949 Avoid dead tree created by RecognizedCallTransformer
  runtime/compiler/trj9/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/trj9/optimizer/J9RecognizedCallTransformer.hpp
Labels: comp:jit

#1947 Implement default behaviour for ClassLoader.findResource
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm, jdk10, jdk11, jdk9

#1801 Check module visibility in method handles
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm, jdk9

#1929 Adding missed OS check for GS support in Port Library for zLinux
  runtime/oti/j9port.h
  runtime/port/unix/j9sysinfo.c
Labels: comp:port, depends:omr

#1953 Remove unused getResourceAsStream(String, String)
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm

#1656 Tests for isAccessUserOnly0 native
  test/functional/Java8andUp/build.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src_80/org/openj9/test/jdk/internal/agent/Test_FileSystem.java
  test/functional/Java8andUp/src_90_current/org/openj9/test/jdk/internal/agent/Test_FileSystem.java
  test/functional/Java8andUp/src_90_latest/org/openj9/test/jdk/internal/agent/Test_FileSystem.java
  test/functional/Java8andUp/testng.xml
  test/functional/TestUtilities/src/org/openj9/test/jdk/internal/agent/Test_FileSystem_Base.java
Labels: comp:test

#1926 Remove duplicate function calculateArrayElementAddress in DAA
  runtime/compiler/trj9/optimizer/DataAccessAccelerator.cpp
  runtime/compiler/trj9/optimizer/DataAccessAccelerator.hpp
Labels: comp:jit

#1969 Update Java 9/10/11 version pattern string
  runtime/j9vm/jvm.c
Labels: comp:vm

#1699 Specify heap limits as percentage of total memory
  runtime/gc_base/GCExtensions.cpp
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparse.cpp
  runtime/gc_modron_startup/mmparse.h
  runtime/oti/j9argscan.h
  runtime/oti/jvminit.h
  runtime/util/vmargs.c
  runtime/util_core/j9argscan.c
Labels: comp:gc, comp:vm, doc:externals

#1961 Add missing OS checks for feautures on Linux on Z
  runtime/oti/j9port.h
  runtime/port/unix/j9sysinfo.c
Labels: comp:port

#1685 Changes to allow code to build on z/OS platform
  .gitattributes
  runtime/buildtools.mk
  sourcetools/com.ibm.jpp.preprocessor/com/ibm/jpp/om/JavaPreprocessor.java
Labels: comp:build

#1964 Atomic-free JNI work
  runtime/vm/VMAccess.cpp
Labels: comp:vm

#1965 Read Barrier for CompareAndSwapObject
  runtime/compiler/trj9/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#1967 Use the OpenJ9 SHA to distinguish different builds for SCC.
  runtime/oti/j9argscan.h
  runtime/oti/util_api.h
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/j9shr.tdf
  runtime/util/shchelp_j9.c
  runtime/util_core/j9argscan.c
Labels: comp:vm

#1988 Rework pipeline scripts to not archive test or sdk on pr builds
  buildenv/jenkins/common/build
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Extended-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK11-linux_ppc-64_cmprssptrs_le_valhalla_nestmates
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-linux_x86-64
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-win_x86-64_cmprssptrs
Labels: comp:build

#1981 Generate all DDR pointer types
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
Labels: comp:vm

#1993 Increase timeout on OMR build form 6 to 8 hours
  buildenv/jenkins/jobs/pipelines/Pipeline-OMR-Acceptance
Labels: comp:build

#1792 Add test cases related to invoking some Class methods after an initialization error
  test/functional/Java8andUp/src/org/openj9/resources/reflect/A.java
  test/functional/Java8andUp/src/org/openj9/resources/reflect/B.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetConstructorTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetConstructorsTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetDeclaredConstructorTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetDeclaredConstructorsTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetDeclaredFieldTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetDeclaredFieldsTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetDeclaredMethodTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetDeclaredMethodsTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetFieldTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetFieldsTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetMethodTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetMethodsTests.java
  test/functional/Java8andUp/testng.xml
Labels: comp:test

#1933 Enable NewROMCreationAfterModifyingExistingClassTest test
  test/functional/VM_Test/excluded_playlist.xml
  test/functional/VM_Test/j9vm.xml
  test/functional/VM_Test/playlist.xml
Labels: comp:test

#1945 Enable SharedCPEntryInvokerTests
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/functional/SharedCPEntryInvokerTests/build.xml
Labels: comp:test

#1829 Add windows spec to OMR build
  buildenv/jenkins/jobs/pipelines/Pipeline-OMR-Acceptance
Labels: comp:build

#1982 Link using xlc_r because using xlC_r results in libibmc++.so.1 not found
  runtime/gc_glue_java/configure_includes/configure_linux_ppc.mk
Labels: comp:build

#1995 Open modules export all packages just like unnamed modules
  runtime/util/modularityHelper.c
Labels: bug, comp:vm

#1989 Always re-initialize JNI method IDs after class redefinition
  runtime/util/hshelp.c
Labels: bug, comp:vm

#1986 Add more details for -Xcompressedrefs error
  runtime/redirector/redirector.c
Labels: comp:vm

#1745 Fix Dump ConfigurationUnavailableException issue and dsn name for z/OS
  test/functional/JLM_Tests/playlist.xml
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/RemoteProcess.java
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestOpenJ9DiagnosticsMXBean.java
Labels: comp:test

#1927 Enable native jvmtitests
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/functional/cmdLineTests/build.xml
  test/functional/cmdLineTests/jvmtitests/build.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_SE100.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_SE90.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
  test/functional/cmdLineTests/jvmtitests/src_current/com/ibm/jvmti/tests/modularityTests/mt001.java
  test/functional/cmdLineTests/jvmtitests/src_latest/com/ibm/jvmti/tests/modularityTests/mt001.java
Labels: comp:test

#2002 CMake: remove use of J9SRC and OMR_ROOT from compiler
  runtime/compiler/trj9/CMakeLists.txt
  runtime/compiler/trj9/p/codegen/CMakeLists.txt
  runtime/compiler/trj9/p/runtime/CMakeLists.txt
  runtime/compiler/trj9/runtime/CMakeLists.txt
  runtime/compiler/trj9/x/runtime/CMakeLists.txt
Labels: comp:build, comp:jit

#1899 Remove unused debug code from ClassUnloadAssumption.cpp
  runtime/compiler/trj9/runtime/ClassUnloadAssumption.cpp
Labels: comp:jit

#1693 X86 CG inlines isAssignableFrom for abstract class
  runtime/compiler/trj9/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2003 Add warning message for slow exclusive vm request in verbose gc
  runtime/gc_glue_java/JNICriticalRegion.cpp
  runtime/gc_glue_java/JNICriticalRegion.hpp
  runtime/gc_verbose_handler_standard_java/VerboseHandlerOutputStandardJava.cpp
  runtime/gc_verbose_handler_standard_java/VerboseHandlerOutputStandardJava.hpp
  runtime/oti/VMAccess.hpp
  runtime/oti/j9vm.hdf
  runtime/vm/VMAccess.cpp
Labels: comp:gc

#1952 Remove J9_PROJECT_SPECIFIC guards
  runtime/compiler/trj9/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#1676 Run redundant goto elimination before codegen
  runtime/compiler/trj9/optimizer/J9Optimizer.cpp
Labels: comp:jit

#2011 Reduce number of resolved methods created in StringPeepholes
  runtime/compiler/trj9/env/VMJ9.cpp
  runtime/compiler/trj9/env/VMJ9.h
  runtime/compiler/trj9/optimizer/StringPeepholes.cpp
  runtime/compiler/trj9/optimizer/StringPeepholes.hpp
Labels: comp:jit

#1997 Fix a debug build failing due to incorrect reference count
  runtime/compiler/trj9/optimizer/MonitorElimination.cpp
Labels: comp:jit

#1824 Remove validateArbitraryClass calls in J9ValuePropagation.cpp
  runtime/compiler/trj9/optimizer/J9ValuePropagation.cpp
Labels: comp:jit

#1677 Run local CSE to aid idiom recognition at warm
  runtime/compiler/trj9/optimizer/J9Optimizer.cpp
Labels: comp:jit

#1913 Add implementation of String.repeat(count)
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java11andUp/playlist.xml
  test/functional/Java11andUp/src/org/openj9/test/java_lang/Test_String.java
Labels: comp:vm, jdk11

#2004 Fix JVM_RegisterSignal
  runtime/j9vm/jvm.c
  runtime/oti/j9port_generated.h
Labels: comp:vm, depends:omr

#2026 Catch failures in cleanWs stage of the job
  buildenv/jenkins/common/build
  buildenv/jenkins/common/test
Labels: comp:build

#1935 JEP 318: Epsilon: An Arbitrarily Low-Overhead Garbage Collector
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  runtime/gc/gctable.c
  runtime/gc_base/gc_internal.h
  runtime/gc_base/modronapi.cpp
  runtime/gc_base/modronapi.hpp
  runtime/gc_glue_java/ConfigurationDelegate.hpp
  runtime/gc_include/j9modron.h
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXgcpolicy.cpp
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/mgmtinit.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/vmconstantpool.xml
  runtime/redirector/redirector.c
Labels: comp:gc, depends:omr

#1966 Deprecate Atomic[Markable|Stamped]Reference CAS and TM support
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#2028 Add section for PR trigger regexes
  buildenv/jenkins/README.md
Labels: comp:build

#2022 Generate tap file when there's no test
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
Labels: comp:test

#2038 Fix JIT/AOT status in Java version string
  runtime/jcl/common/jclcinit.c
Labels: comp:vm
