Repository eclipse-openj9/openj9, pull requests merged in 2018-04, with the labels that each got.

#1494 Enable Windows stack protection (/GS flag)
  runtime/makelib/targets.mk.ftl
  runtime/makelib/targets.mk.win.inc.ftl
Labels: comp:build

#1530 Enable OpenJ9 on AIX within the buildspecs
  buildspecs/aix_ppc-64_cmprssptrs.spec
Labels: comp:build

#1580 Fix Metadata Reclamation Bug
  runtime/compiler/trj9/runtime/HookHelpers.cpp
Labels: bug, comp:jit

#1577 Fix potential memory leak issue with mapTable
  runtime/compiler/trj9/runtime/HookHelpers.cpp
  runtime/compiler/trj9/runtime/HookHelpers.hpp
  runtime/compiler/trj9/runtime/J9CodeCache.cpp
Labels: bug, comp:jit

#1322 Optimized Object Zero Initialization on X86
  runtime/compiler/trj9/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#1591 Add exclude file for SE100
  test/TestConfig/resources/excludes/latest_exclude_SE100.txt
Labels: comp:test

#1505 Fix a PPC TLE issue, a missing NULLCHK causing a crash in a transaction
  runtime/compiler/trj9/optimizer/MonitorElimination.cpp
Labels: comp:jit

#1592 Fix typo in ShareClassesCMLTests-6-xml.
  test/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-6.xml
Labels: comp:test

#1554 Set InterfaceHandle correctly for methods inherited from Object
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/oti/util_api.h
Labels: comp:vm

#1599 Fix for incorrect assertion in genZeroInitObject2
  runtime/compiler/trj9/x/codegen/J9TreeEvaluator.cpp
Labels: bug, comp:jit

#1573 Read Barrier for CompareAndSwapObject
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/gc_include/ObjectAccessBarrierAPI.hpp
Labels: comp:gc

#1307 Split zOS system linkage call dependencies
  runtime/compiler/trj9/z/codegen/J9S390CHelperLinkage.cpp
  runtime/compiler/trj9/z/codegen/J9S390SystemLinkage.cpp
  runtime/compiler/trj9/z/codegen/J9S390SystemLinkage.hpp
Labels: comp:jit

#1607 Add new GenerateJLIClassesHelper stub method
  jcl/src/java.base/share/classes/java/lang/invoke/GenerateJLIClassesHelper.java
Labels: comp:vm, jdk11, prio:high

#1604 DDR gccheck Reporter messages mismatch
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/gccheck/CheckReporterTTY.java
  runtime/gc_check/CheckBase.hpp
Labels: bug, comp:gc

#1442 Remove redundant value profiling calls
  runtime/compiler/trj9/optimizer/JProfilingValue.cpp
  runtime/compiler/trj9/optimizer/JProfilingValue.hpp
Labels: comp:jit

#1594 Check type_index of runtime visible type annotations
  runtime/bcutil/ClassFileOracle.cpp
Labels: bug, comp:vm

#1605 Atomic-free JNI work
  runtime/compiler/trj9/p/codegen/PPCJNILinkage.cpp
  runtime/oti/VMAccess.hpp
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/FlushProcessWriteBuffers.cpp
  runtime/vm/VMAccess.cpp
  runtime/vm/intfunc.c
  runtime/vm/vm_internal.h
Labels: comp:jit, comp:vm

#1611 Add list of openj9 repos to the README.md
  README.md
Labels: comp:doc

#1609 Delete references to RIM386
  runtime/include/jniport.h
  runtime/vm/jvminit.c
Labels: comp:vm

#1568 Enable peeking for Inliner under HCR
  runtime/compiler/trj9/env/j9method.cpp
  runtime/compiler/trj9/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/trj9/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#1618 Add missing backslash
  test/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-6.xml
Labels: comp:test

#1047 Accelerate String copies to UTF8
  runtime/bcutil/dynload.c
  runtime/compiler/trj9/env/VMJ9.cpp
  runtime/j9vm/j7vmi.c
  runtime/j9vm/java9vmi.c
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/jcl/common/java_lang_Class.cpp
  runtime/jcl/common/java_lang_invoke_VarHandle.c
  runtime/jcl/common/jcldefine.c
  runtime/jvmti/jvmtiThread.c
  runtime/jvmti/jvmtiThreadGroup.c
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/vm_api.h
  runtime/rasdump/javadump.cpp
  runtime/rasdump/trigger.c
  runtime/util/cphelp.c
  runtime/util/modularityHelper.c
  runtime/util/thrname.c
  runtime/vm/FFITypeHelpers.hpp
  runtime/vm/classsupport.c
  runtime/vm/createramclass.cpp
  runtime/vm/exceptiondescribe.c
  runtime/vm/intfunc.c
  runtime/vm/jnimisc.cpp
  runtime/vm/jvmfree.c
  runtime/vm/lookupmethod.c
  runtime/vm/stringhelpers.cpp
  runtime/vm/swalk.c
  runtime/vm/vmthread.c
Labels: comp:vm

#1617 Improve start-up time when not using AOT
  runtime/compiler/trj9/control/CompilationThread.cpp
  runtime/compiler/trj9/control/HookedByTheJit.cpp
  runtime/compiler/trj9/control/J9Options.cpp
  runtime/compiler/trj9/control/J9Options.hpp
Labels: comp:jit, enhancement, perf

#1553 Use getClass instead of getFixedClass
  runtime/compiler/trj9/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/trj9/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#1622 Adopt OMR's abs evaluators on X86
  runtime/compiler/trj9/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#1541 Update buildenv/docker/jdk9/* Dockerfile(s)
  buildenv/docker/jdk9/aarch64_CC/arm-linux-aarch64/Dockerfile
  buildenv/docker/jdk9/armhf_CC/arm-linux-gnueabihf/Dockerfile
  buildenv/docker/jdk9/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk9/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk9/x86_64/ubuntu16/Dockerfile
Labels: comp:build, jdk9

#1224 [Nest mates] Moves nestmates host loading to visibility check
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9nonbuilder.h
  runtime/vm/ClassInitialization.cpp
  runtime/vm/createramclass.cpp
  runtime/vm/lookupmethod.c
  runtime/vm/visible.c
Labels: comp:vm, project:valhalla

#1628 Do not report references to object type from Class objects
  runtime/jvmti/jvmtiHeap.c
Labels: bug, comp:vm

#1586 Convert NODE_NAME to hyperlink in build description
  buildenv/jenkins/common/build
  buildenv/jenkins/common/test
Labels: comp:build

#1634 Missing dependency for JDK10/armhf Dockerfile
  buildenv/docker/jdk10/armhf_CC/arm-linux-gnueabihf/Dockerfile
Labels: comp:build

#1639 Fix bugs in threadMXBeanTestSuiteJava10
  test/Java10andUp/src/org/openj9/test/java/lang/management/ThreadMXBean/APITestJava10.java
Labels: comp:test, jdk10

#1507 Add JDK10 to nightly builds
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
Labels: comp:build, jdk10

#1644 exclude cmdLineTester_verbosetest on Windows temporarily
  test/cmdLineTests/verbosetest/playlist.xml
Labels: comp:test

#1545 Update s390 docker image for JDK8 to use Adopt-OpenJ9
  buildenv/docker/jdk8/s390x/ubuntu16/Dockerfile
Labels: comp:build, jdk8

#1426 Write CONSTANT_DYNAMIC entry to ROMClass
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ConstantPoolMap.cpp
  runtime/bcutil/ConstantPoolMap.hpp
  runtime/bcutil/ROMClassWriter.cpp
  runtime/oti/j9nonbuilder.h
  runtime/util/rcdump.c
Labels: comp:vm, jdk11, project:valhalla

#1638 Exclude cmdLineTester_getPid on windows
  test/TestConfig/settings.mk
  test/cmdLineTests/runtimemxbeanTests/exclude.xml
  test/cmdLineTests/runtimemxbeanTests/playlist.xml
Labels: comp:test

#1515 enable classesdbgddrext since ddr.jar is in OpenJ9
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/cmdLineTests/classesdbgddrext/playlist.xml
  test/cmdLineTests/dumpromtests/playlist.xml
Labels: comp:test

#1650 Update management javadoc
  jcl/com.ibm.lang.management-javadoc-829.xml
  jcl/src/jdk.management/share/classes/openj9/lang/management/package-info.java
Labels: comp:vm

#1654 Preserved original pointer in getCustomFFIType
  runtime/vm/FFITypeHelpers.hpp
  runtime/vm/OutOfLineINL_java_lang_invoke_NativeMethodHandle.cpp
Labels: comp:vm

#1651 Atomic-free JNI work
  buildspecs/j9.flags
  runtime/oti/VMAccess.hpp
  runtime/vm/VMAccess.cpp
Labels: comp:vm

#1665 Add build instructions for OpenJDK 10
  buildenv/Build_Instructions_V10.md
  buildenv/aix/jdk10/yum_install_aix-ppc64.txt
Labels: comp:build, comp:doc

#1658 Remove duplicate flag (J9_SIG_XRS) and fix dependencies
  runtime/compiler/trj9/control/J9Options.cpp
  runtime/j9vm/jvm.c
  runtime/jcl/common/system.c
  runtime/oti/j9consts.h
  runtime/vm/jvminit.c
Labels: comp:jit, comp:vm

#1664 Removed reflection code for Java9 as the internal package is exported
  jcl/src/jdk.management/share/classes/openj9/lang/management/internal/OpenJ9DiagnosticsMXBeanImpl.java
Labels: comp:vm

#1670 Unexclude shared classes jdk10 test failures
  test/cmdLineTests/URLClassLoaderTests/exclude.xml
  test/cmdLineTests/shareClassTests/SCCMLTests/exclude.xml
Labels: comp:test, jdk10

#1666 Update test names for JDK10
  test/JLM_Tests/playlist.xml
  test/Java8andUp/playlist.xml
  test/JavaAgentTest/playlist.xml
  test/Jsr292/playlist.xml
  test/Jsr335/playlist.xml
  test/NativeTest/playlist.xml
  test/OpenJ9_Jsr_292_API/playlist.xml
  test/UnsafeTest/playlist.xml
  test/cmdLineTests/URLClassLoaderTests/playlist.xml
  test/cmdLineTests/cmdLineTest_J9tests/playlist.xml
  test/cmdLineTests/getCallerClassTests/playlist.xml
  test/cmdLineTests/jep178staticLinkingTest/playlist.xml
  test/cmdLineTests/jvmtitests/playlist.xml
  test/cmdLineTests/lockWordAlignment/playlist.xml
  test/cmdLineTests/proxyFieldAccess/playlist.xml
Labels: comp:test

#1366 Vectorize string case conversion on x86
  runtime/compiler/trj9/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/trj9/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/trj9/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/trj9/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/trj9/x/codegen/J9TreeEvaluator.hpp
Labels: comp:jit, depends:omr

#1671 Check and delete gits index.lock file
  buildenv/jenkins/common/build
Labels: comp:build

#1602 Run explicit new initialization pass after local VP to recognize more field initialization
  runtime/compiler/trj9/optimizer/J9Optimizer.cpp
Labels: comp:jit

#1680 Atomic-free JNI work
  runtime/oti/VMAccess.hpp
  runtime/oti/j9nonbuilder.h
  runtime/vm/FlushProcessWriteBuffers.cpp
Labels: comp:vm

#1641 Add tests for findVirtual on interface concrete methods
  test/Jsr292/src/com/ibm/j9/jsr292/LookupAPITests_Find.java
  test/Jsr292/src/com/ibm/j9/jsr292/TestInterfaceWithDefaultMethod.java
Labels: comp:test

#1521 Fixed function call using implict "this"
  runtime/compiler/trj9/runtime/J9CodeCacheManager.cpp
Labels: comp:jit

#1672 Fix JDK10 extended test
  test/Jsr292/playlist.xml
  test/Jsr292/testng.xml
  test/Jsr292/variables.mk
  test/TestConfig/resources/excludes/latest_exclude_SE100.txt
  test/cmdLineTests/getCallerClassTests/getCallerClassTests.xml
  test/cmdLineTests/getCallerClassTests/playlist.xml
  test/cmdLineTests/shareClassTests/SCCMLTests/exclude.xml
Labels: comp:test, jdk10

#1517 Update default max heap size when running in container
  runtime/gc_base/GCExtensions.cpp
  runtime/gc_base/GCExtensions.hpp
Labels: comp:gc, depends:omr

#1674 Clean up pddivSelect
  runtime/compiler/trj9/arm/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/trj9/codegen/CodeGenGPU.cpp
  runtime/compiler/trj9/il/ILOpCodeProperties.hpp
  runtime/compiler/trj9/il/J9ILOpCodesEnum.hpp
  runtime/compiler/trj9/il/J9Node.cpp
  runtime/compiler/trj9/il/J9Node.hpp
  runtime/compiler/trj9/optimizer/J9SimplifierHandlers.cpp
  runtime/compiler/trj9/optimizer/J9SimplifierHandlers.hpp
  runtime/compiler/trj9/optimizer/J9SimplifierTableEnum.hpp
  runtime/compiler/trj9/p/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/trj9/x/amd64/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/trj9/x/i386/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/trj9/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/trj9/z/codegen/J9TreeEvaluator.hpp
  runtime/compiler/trj9/z/codegen/TreeEvaluatorTable.hpp
Labels: comp:jit, depends:omr

#1690 Fix compile failure due to unused variable 'usableMemory'
  runtime/gc_base/GCExtensions.cpp
Labels: comp:gc

#1696 Introduce a "VersionCheck" class for getting JDK major version
  test/TestUtilities/src/org/openj9/test/util/VersionCheck.java
Labels: comp:test

#1657 Non-bootstrap classloader can't define module java.base
  runtime/j9vm/java9vmi.c
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/vmconstantpool.xml
Labels: comp:vm, jdk10, jdk11, jdk9

#1695 fix the testng filename
  test/Jsr292/playlist.xml
  test/Jsr292/testng_SE80.xml
  test/OpenJ9_Jsr_292_API/playlist.xml
  test/OpenJ9_Jsr_292_API/testng.xml
Labels: comp:test

#1570 Fix the java doc contents in openJ9 class files to work with JDK file make/CompileJavaModules.gmk
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/String.java
  jcl/src/java.base/share/classes/java/lang/StringBuffer.java
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
  jcl/src/java.base/share/classes/java/lang/invoke/ConstantCallSite.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
  jcl/src/java.base/share/classes/java/lang/invoke/MutableCallSite.java
  jcl/src/java.management/share/classes/java/lang/management/ClassLoadingMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/CompilationMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/GarbageCollectorMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/LockInfo.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryManagerMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryPoolMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/OperatingSystemMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/PlatformLoggingMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/RuntimeMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/ThreadInfo.java
  jcl/src/java.management/share/classes/java/lang/management/ThreadMXBean.java
Labels: comp:vm

#1668 Enable IdleTuning feature on zLinux and pLinux
  buildspecs/linux_390-64.spec
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_ppc-64.spec
  buildspecs/linux_ppc-64_cmprssptrs.spec
  buildspecs/linux_ppc-64_cmprssptrs_le.spec
  buildspecs/linux_ppc-64_cmprssptrs_le_gcc.spec
  buildspecs/linux_ppc-64_le.spec
  buildspecs/linux_ppc-64_le_gcc.spec
  runtime/gc_glue_java/configure_includes/configure_linux_390.mk
  runtime/gc_glue_java/configure_includes/configure_linux_ppc.mk
  runtime/vm/jvminit.c
Labels: comp:vm, doc:whatsnew

#1702 Remove obsolete pdremSelect and isPackedArithmeticSelect
  runtime/compiler/trj9/arm/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/trj9/codegen/CodeGenGPU.cpp
  runtime/compiler/trj9/il/ILOpCodeProperties.hpp
  runtime/compiler/trj9/il/ILProps.hpp
  runtime/compiler/trj9/il/J9ILOpCodesEnum.hpp
  runtime/compiler/trj9/il/J9ILOps.hpp
  runtime/compiler/trj9/il/J9Node.cpp
  runtime/compiler/trj9/il/J9Node.hpp
  runtime/compiler/trj9/optimizer/J9SimplifierTableEnum.hpp
  runtime/compiler/trj9/p/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/trj9/x/amd64/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/trj9/x/i386/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/trj9/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/trj9/z/codegen/J9TreeEvaluator.hpp
  runtime/compiler/trj9/z/codegen/TreeEvaluatorTable.hpp
Labels: comp:jit

#1673 Fix shared cache modlevel for Java 10 and 11
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassCacheInfo.java
  runtime/bcutil/defineclass.c
  runtime/include/ibmjvmti.h
  runtime/oti/j2sever.h
  runtime/oti/shchelp.h
  runtime/shared_common/CacheLifecycleManager.cpp
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/OSCache.hpp
  runtime/tests/shared/OSCacheTestMmap.cpp
  runtime/tests/shared/OSCacheTestSysv.cpp
  runtime/util_core/j9shchelp.c
  test/functional/VM_Test/src/com/ibm/j9/sharedCacheAPI/tests/SharedUtilsTest.java
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/exclude.xml
Labels: comp:vm, jdk10, test failure

#1712 Rename invocation of JNU_InitializeEncoding()
  runtime/jcl/common/system.c
Labels: comp:vm, jdk11

#1706 Use the Runtime.Version API to get Java version
  test/TestConfig/resources/excludes/latest_exclude_SE100.txt
  test/functional/Java8andUp/build.xml
  test/functional/Java8andUp/src/org/openj9/test/vmArguments/VmArgumentTests.java
Labels: comp:test

#1725 Fix type clashes in the global namespace
  runtime/jvmti/jvmtiExtensionMechanism.c
  runtime/vm/KeyHashTable.c
Labels: comp:vm

#1728 Do not return 0 from isCacheFileName() based on modLevel
  runtime/oti/shchelp.h
  runtime/util_core/j9shchelp.c
Labels: comp:vm

#1730 Fix order of exceptions for method sends
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, jdk9

#1733 Add timeout to pipeline builds
  buildenv/jenkins/common/build
  buildenv/jenkins/common/test
Labels: comp:build

#1732 Get segment size before erase
  runtime/compiler/trj9/env/SystemSegmentProvider.cpp
Labels: bug, comp:jit

#1705 Support DDR on Windows
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
  runtime/ddr/blacklist
  runtime/ddr/module.xml
  runtime/ddr/overrides
  runtime/ddr/overrides-compilers
  runtime/ddr/overrides-gc
  runtime/ddr/overrides-vm
  runtime/ddr/run_omrddrgen.mk.ftl
  runtime/oti/j9jit.hdf
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9vm.hdf
  runtime/oti/zipCachePool.hdf
Labels: comp:vm

#1675 Separate address node of BCDCHK and fix data type
  runtime/compiler/trj9/optimizer/DataAccessAccelerator.cpp
  runtime/compiler/trj9/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#1742 Prevent invalid variable values in MethodType
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
Labels: comp:vm

#1740 Accept the subtype of Throwable in tryFinally
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm

#1678 Remove unnecessary loads in deduplicateStrings
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/java/lang/String.java
  runtime/compiler/trj9/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/trj9/env/VMJ9.cpp
  runtime/compiler/trj9/env/j9method.cpp
  runtime/compiler/trj9/optimizer/UnsafeFastPath.cpp
  runtime/vm/OutOfLineINL.hpp
  runtime/vm/OutOfLineINL_com_ibm_jit_JITHelpers.cpp
  runtime/vm/bindnatv.cpp
Labels: comp:jit, comp:vm

#1717 Ignore class instantiation error at stage preparing class
  runtime/vm/ClassInitialization.cpp
Labels: bug, comp:vm, userRaised

#1748 Fail if we cannot determine NODE
  buildenv/jenkins/common/variables-functions
Labels: comp:build

#1423 Checkout SCM once for builds
  buildenv/jenkins/jobs/builds/Build-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/builds/Build-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK8-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/builds/Build-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK9-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK9-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/builds/Build-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/builds/Build-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK8-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK9-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/pull-requests/PullRequest-Compile-JDK9-linux_ppc-64_cmprssptrs_le
Labels: comp:build

#1750 Fix various bugs in VarHandle
  jcl/src/java.base/share/classes/java/lang/invoke/ArrayVarHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleInfoImpl.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandleInvokeExactHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandleInvokeGenericHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandleInvokeHandle.java
  runtime/compiler/trj9/optimizer/VarHandleTransformer.cpp
  runtime/jcl/common/java_lang_invoke_VarHandle.c
  runtime/jcl/uma/se9_exports.xml
  runtime/oti/jclprots.h
  runtime/vm/resolvesupport.cpp
Labels: bug, comp:vm

#1752 Limit the invokestatic/special CP consistency check to JDK 9
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, jdk8, jdk9

#1753 Add timeout to infrastructure pipeline jobs
  buildenv/jenkins/jobs/infrastructure/branchSplit
  buildenv/jenkins/jobs/infrastructure/copyrightCheck
  buildenv/jenkins/jobs/infrastructure/lineEndingsCheck
  buildenv/jenkins/jobs/infrastructure/omrMirror
  buildenv/jenkins/jobs/infrastructure/tagRepos
Labels: comp:build

#1724 Add CMake to the docker images
  buildenv/docker/jdk10/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk10/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk10/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk8/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk9/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk9/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk9/x86_64/ubuntu16/Dockerfile
Labels: comp:build

#1720 Add support for build list in TKG
  test/TestConfig/run_configure.mk
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/TestConfig/scripts/testKitGen/testKitGen.pl
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#1698 Support PR dependent branches
  buildenv/jenkins/common/build
Labels: comp:build

#1707 Only bootstrap or platform classloader can define package java or java.*
  jcl/src/java.base/share/classes/com/ibm/oti/vm/BootstrapClassLoader.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  runtime/j9vm/java9vmi.c
  runtime/jcl/common/jclcinit.c
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_com_ibm_oti_vm_VM.cpp
  runtime/vm/bindnatv.cpp
Labels: comp:vm, jdk9

#1762 Atomic-free JNI work
  runtime/gc_glue_java/JNICriticalRegion.cpp
  runtime/gc_modron_standard/StandardAccessBarrier.cpp
  runtime/gc_realtime/RealtimeAccessBarrier.cpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
  runtime/jnichk/jnicheck.c
Labels: comp:gc, comp:vm, prio:medium

#1749 Fix modularity checks when loading superclasses and interfaces
  runtime/oti/j9protos.h
  runtime/vm/createramclass.cpp
  runtime/vm/visible.c
  runtime/vm/vm_internal.h
Labels: comp:vm, jdk9

#1723 Remove unused VMifArrayCmpEvaluator on X86
  runtime/compiler/trj9/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/trj9/x/codegen/J9TreeEvaluator.hpp
Labels: comp:jit

#1682 Fix devirtualization issues with TR_RelocationRecord/IlGeneratorMethodDetails
  runtime/compiler/trj9/control/MethodToBeCompiled.cpp
  runtime/compiler/trj9/control/MethodToBeCompiled.hpp
  runtime/compiler/trj9/ilgen/IlGeneratorMethodDetails.hpp
  runtime/compiler/trj9/ilgen/J9IlGeneratorMethodDetails.cpp
  runtime/compiler/trj9/ilgen/J9IlGeneratorMethodDetails.hpp
  runtime/compiler/trj9/runtime/RelocationRecord.cpp
  runtime/compiler/trj9/runtime/RelocationRecord.hpp
Labels: bug, comp:jit

#1760 Fixed SystemToDumpFile method in com.ibm.jvm.Dump to use dsn instead of file for z/OS
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Dump.java
Labels: comp:vm

#1620 Add Constant Dynamic support in GC
  runtime/gc_structs/ConstantPoolObjectSlotIterator.cpp
Labels: comp:gc

#1751 Add Valhalla Nestmates PR Build
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK11-linux_ppc-64_cmprssptrs_le_valhalla_nestmates
  buildenv/jenkins/variables/defaults.yml
  buildspecs/linux_ppc-64_cmprssptrs_le_valhalla_nestmates.spec
Labels: comp:build

#1782 Change -version output to include -Bit after [32|64]
  runtime/jcl/common/jclcinit.c
Labels: comp:vm

#1777 Update redirector messages for X(no)compressedrefs
  runtime/redirector/redirector.c
Labels: comp:vm

#1788 Update Valhalla nestmates spec flags
  buildspecs/linux_ppc-64_cmprssptrs_le_valhalla_nestmates.spec
Labels: comp:build

#1768 Add clean up workspace before checkout to test pipeline builds
  buildenv/jenkins/common/test
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK8-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/tests/Test-Extended-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK9-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK9-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/tests/Test-Extended-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Extended-JDK9-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK10-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK8-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK8-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK8-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK8-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK8-win_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK9-aix_ppc-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK9-linux_390-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK9-linux_ppc-64_cmprssptrs_le
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK9-linux_x86-64_cmprssptrs
  buildenv/jenkins/jobs/tests/Test-Sanity-JDK9-win_x86-64_cmprssptrs
Labels: comp:build

#1773 Create noncompressedrefs build (step 1)
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/MMObjectAccessBarrier_V1.java
Labels: comp:vm

#1794 Avoid catching multiple exceptions
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/MMObjectAccessBarrier_V1.java
Labels: comp:vm

#1339 Use native cast for int to float on ARM
  runtime/util/fltconv.c
Labels: comp:vm

#1776 Remove unnecessary heap tail padding
  runtime/compiler/trj9/env/J9VMEnv.cpp
  runtime/compiler/trj9/env/J9VMEnv.hpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/oti/j9consts.h
  runtime/oti/jilconsts.h
Labels: comp:gc

#1798 Atomic-free JNI work
  runtime/j9vm/j7vmi.c
  runtime/j9vm/jvm.c
  runtime/jcl/common/annparser.c
  runtime/jcl/common/clsldr.cpp
  runtime/jcl/common/com_ibm_oti_vm_VM.c
  runtime/jcl/common/exhelp.c
  runtime/jcl/common/gpu.c
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/jcl/common/java_dyn_methodtype.c
  runtime/jcl/common/java_lang_Class.cpp
  runtime/jcl/common/java_lang_J9VMInternals.cpp
  runtime/jcl/common/java_lang_invoke_VarHandle.c
  runtime/jcl/common/jcldefine.c
  runtime/jcl/common/jclvm.c
  runtime/jcl/common/jithelpers.c
  runtime/jcl/common/mgmtthread.c
  runtime/jcl/common/orbvmhelpers.c
  runtime/jcl/common/proxy.c
  runtime/jcl/common/reflecthelp.c
  runtime/jcl/common/shared.c
  runtime/jcl/common/sun_misc_Unsafe.cpp
  runtime/jcl/common/sun_reflect_ConstantPool.c
  runtime/jcl/common/thread.cpp
  runtime/jvmti/jvmtiBreakpoint.c
  runtime/jvmti/jvmtiCapability.c
  runtime/jvmti/jvmtiClass.c
  runtime/jvmti/jvmtiEventManagement.c
  runtime/jvmti/jvmtiExtensionMechanism.c
  runtime/jvmti/jvmtiField.c
  runtime/jvmti/jvmtiForceEarlyReturn.c
  runtime/jvmti/jvmtiGeneral.c
  runtime/jvmti/jvmtiHeap.c
  runtime/jvmti/jvmtiHeap10.c
  runtime/jvmti/jvmtiHelpers.c
  runtime/jvmti/jvmtiHook.c
  runtime/jvmti/jvmtiLocalVariable.c
  runtime/jvmti/jvmtiMethod.c
  runtime/jvmti/jvmtiModules.c
  runtime/jvmti/jvmtiObject.c
  runtime/jvmti/jvmtiRawMonitor.c
  runtime/jvmti/jvmtiStackFrame.c
  runtime/jvmti/jvmtiThread.c
  runtime/jvmti/jvmtiThreadGroup.c
  runtime/jvmti/jvmtiTimers.c
  runtime/jvmti/jvmtiWatchedField.c
  runtime/jvmti/suspendhelper.cpp
  runtime/sunvmi/sunvmi.c
  runtime/tests/jni/montest.c
  runtime/tests/thread/thrstate/testsetup.c
  runtime/thrtrace/thrtrace.c
  runtime/util/eventframe.c
  runtime/vm/jvminit.c
Labels: comp:vm

#1791 Add node to build and test pipelines
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build
