Repository eclipse-openj9/openj9, pull requests merged in 2019-03, with the labels that each got.

#4877 JDK13 bringup - adding pConfig JAVA13
  buildspecs/j9.flags
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/invoke/InvokerBytecodeGenerator.java
  runtime/bcutil/defineclass.c
  runtime/j9vm/jvm.c
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/stdinit.c
  runtime/oti/j2sever.h
  runtime/oti/j9nonbuilder.h
  runtime/sunvmi/sunvmi.c
  runtime/tests/shared/OSCacheTestMmap.cpp
  runtime/tests/shared/OSCacheTestSysv.cpp
  runtime/util/vmargs.c
  runtime/vm/callin.cpp
  runtime/vm/createramclass.cpp
  runtime/vm/rasdump.c
  runtime/vm/resolvefield.cpp
  runtime/vm/vmthread.c
Labels: comp:vm, depends:openjdk, jdk-head

#4820 Decorate Jenkins Pipeline-Build-Test-Any-Platform
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform
Labels: comp:build

#4821 Add downstream jobs status to Jenkins Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
Labels: comp:build

#4944 Ensure resolved final methods are called directly
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#4922 Run the CryptoTest on AIX for jdk11 and later
  test/functional/cmdLineTests/openssl/playlist.xml
Labels: comp:test, depends:openjdk11, depends:openjdk12

#4942 Max pause TS
  runtime/gc_verbose_handler_realtime/VerboseHandlerOutputRealtime.cpp
Labels: comp:gc

#4950 Temporarily support for JAVA_VERSION=SE130
  test/TestConfig/run_configure.mk
  test/TestConfig/settings.mk
Labels: comp:test

#4949 JDK12: implement Unsafe.invokeCleaner
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
Labels: comp:vm, jdk12

#4953 (v0.13.0-release)JDK12: implement Unsafe.invokeCleaner
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
Labels: comp:vm, jdk12

#4946 master: Wrap Class.arrayTypeImpl in native frame
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, jdk12

#4948 Disable HPR support in prepration for removal
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
Labels: comp:jit, comp:jit:z

#4815 AArch64: Add initial version of some JIT files
  runtime/compiler/aarch64/codegen/CMakeLists.txt
  runtime/compiler/aarch64/codegen/J9ARM64Snippet.cpp
  runtime/compiler/aarch64/codegen/J9ARM64Snippet.hpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.hpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
  runtime/compiler/aarch64/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/aarch64/codegen/J9UnresolvedDataSnippet.hpp
  runtime/compiler/aarch64/codegen/StackCheckFailureSnippet.cpp
  runtime/compiler/aarch64/codegen/StackCheckFailureSnippet.hpp
  runtime/compiler/aarch64/env/CMakeLists.txt
  runtime/compiler/aarch64/env/J9CPU.cpp
  runtime/compiler/aarch64/env/J9CPU.hpp
Labels: comp:jit

#4688 Fix vectorized toLowerCase and toUppercase intrinsics on Z
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/com/ibm/jit/Test_JITHelpers.java
Labels: comp:jit, comp:jit:x, comp:jit:z, comp:test

#4182 Consolidate AOT Relocation Records
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot

#4947 0.13: Wrap Class.arrayTypeImpl in native frame
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, jdk12

#4956 Prevent crash trying to access module in JDK 8
  runtime/vm/resolvesupport.cpp
Labels: bug, comp:vm

#4962 JDK12 equals() & hashCode() can't be final methods
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
Labels: comp:vm, jdk12

#1613 Clean up x86 platform specific code in TR_J9VMBase
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9CPU.hpp
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/env/J9CPU.cpp
  runtime/compiler/x/env/J9CPU.hpp
Labels: comp:jit, depends:omr

#4798 AArch64: Add files for building AArch64 JIT
  runtime/compiler/build/files/host/aarch64.mk
  runtime/compiler/build/files/target/aarch64.mk
  runtime/compiler/build/platform/host/aarch64-linux-gcc.mk
  runtime/compiler/build/toolcfg/host/aarch64.mk
  runtime/compiler/build/toolcfg/target/aarch64.mk
  runtime/compiler/compiler.mk
  runtime/compiler/makefile.ftl
Labels: comp:jit

#4843 Add support for AUTO_DETECT for JDK_VERSION, JDK_IMPL and SPEC
  test/.gitignore
  test/TestConfig/envSettings.mk
  test/TestConfig/makeGen.mk
  test/TestConfig/run_configure.mk
  test/TestConfig/settings.mk
  test/TestConfig/src/build_envInfo.xml
  test/TestConfig/src/org/openj9/envInfo/EnvDetector.java
  test/TestConfig/src/org/openj9/envInfo/JavaInfo.java
Labels: comp:test

#4971 Disable HPR support in prepration for removal
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
Labels: comp:jit, comp:jit:z

#4900 Add AOT upgrades based on SCC hints to the LPQ
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit, comp:jit:aot

#4974 (v0.13.0-release) JDK12 equals() & hashCode() can't be final methods
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
Labels: comp:vm, jdk12

#4975 Fix NPE for extra_getsource_options
  buildenv/jenkins/common/variables-functions
Labels: comp:build

#4651 Add ValueType support to the if_acmp bytecodes
  runtime/vm/BytecodeInterpreter.hpp
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm

#4960 Use SwitchAnalyzer from OMR
  runtime/compiler/CMakeLists.txt
  runtime/compiler/build/files/common.mk
  runtime/compiler/optimizer/CMakeLists.txt
  runtime/compiler/optimizer/SwitchAnalyzer.cpp
  runtime/compiler/optimizer/SwitchAnalyzer.hpp
Labels: comp:jit

#4920 Move auto slot poisoning function to OpenJ9
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#4987 Fix missing argument in getClassFromConstantPool
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
Labels: jitaas

#4826 Implement TR_J9JITaaSServerSharedCache
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/rpc/protos/compile.proto
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/JITaaSIProfiler.cpp
  runtime/compiler/runtime/JITaaSIProfiler.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
Labels: jitaas

#4967 Fail build when there's no test
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
Labels: comp:test

#4977 VarargsCollectorHandle.asType throws WrongMethodTypeException
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/invoke/VarargsCollectorHandle.java
Labels: comp:vm

#4959 Use standardized branch range queries on Power
  runtime/compiler/p/codegen/CallSnippet.cpp
  runtime/compiler/p/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/p/codegen/InterfaceCastSnippet.cpp
  runtime/compiler/p/codegen/J9PPCInstruction.cpp
  runtime/compiler/p/codegen/J9PPCSnippet.cpp
  runtime/compiler/p/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/p/codegen/PPCRecompilationSnippet.cpp
  runtime/compiler/p/codegen/StackCheckFailureSnippet.cpp
  runtime/compiler/p/runtime/PPCRelocationTarget.cpp
  runtime/compiler/p/runtime/Recomp.cpp
  runtime/compiler/runtime/Trampoline.cpp
Labels: comp:jit:p

#4963 Remove definition and uses of J9VM_JAVA9_BUILD
  runtime/include/j9cfg.h.ftl
  runtime/include/j9cfg.h.in
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/java11vmi.c
  runtime/j9vm/jvm.c
  runtime/oti/util_api.h
  runtime/redirector/forwarders.m4
  runtime/redirector/redirector.c
  runtime/tests/j9vm/jvmjni.c
  runtime/tests/j9vm/module.xml
  runtime/util/modularityHelper.c
Labels: comp:vm

#4993 Use client's ROM class pointer in a front-end query
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4891 Revise tree pattern used to match inline finalizable test
  runtime/compiler/optimizer/EscapeAnalysis.cpp
Labels: comp:jit

#4893 Don't set JNI symbol's linkage to TR_JNILinkage in directCallEvaluator()
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit:p

#5000 Array class can get methods
  runtime/jcl/common/java_lang_Class.cpp
Labels: bug, comp:vm

#5009 Revise tree pattern used to match inline finalizable test
  runtime/compiler/optimizer/EscapeAnalysis.cpp
Labels: comp:jit

#5011 Remove unused ModuleInfoMerger
  sourcetools/J9_JCL_Build_Tools/.classpath
  sourcetools/J9_JCL_Build_Tools/.gitignore
  sourcetools/J9_JCL_Build_Tools/.project
  sourcetools/J9_JCL_Build_Tools/.settings/org.eclipse.jdt.core.prefs
  sourcetools/J9_JCL_Build_Tools/src/com/ibm/moduletools/ModuleInfoMerger.java
Labels: comp:build

#4970 Do not force code cache contiguous allocation at the JITaaS client
  runtime/compiler/codegen/J9CodeGenerator.cpp
Labels: jitaas

#5007 Create a new front-end query for getting array classes
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/rpc/protos/compile.proto
  runtime/compiler/runtime/SymbolValidationManager.cpp
Labels: jitaas

#5005 Fix fields/staticsAreSame for remote AOT
  runtime/compiler/env/j9methodServer.cpp
Labels: jitaas

#4978 AArch64: Add #if defined(TR_HOST_ARM64)
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/runtime/J9Runtime.hpp
  runtime/compiler/runtime/JitRuntime.cpp
Labels: comp:jit

#5015 Remove test about acmps that involves valuetypes
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test

#4346 Add Class enumVars and cachedEnumConstants as recognized known object field
  runtime/compiler/il/symbol/J9Symbol.cpp
  runtime/compiler/il/symbol/J9Symbol.hpp
Labels: comp:jit, depends:omr, enhancement

#5019 Add exclude files for JDK13
  test/TestConfig/resources/excludes/latest_exclude_13.txt
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_13.xml
Labels: comp:test

#4435 Enhancement to report any unrecognized options that begin with "-XX:" (Issue2977)
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/ignoreUnrecognizedVMOptions/ignoreunrecognizedxxcolonoptions.xml
  test/functional/cmdLineTests/ignoreUnrecognizedVMOptions/playlist.xml
Labels: comp:vm, depends:doc

#4994 change instructions about valueTypesTest
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test

#4988 Add option to skip resolver nameserver request
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests.xml
Labels: comp:vm, depends:doc

#5041 Separate java.vendor and java.vm.vendor
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/include/vendor_version.h
  runtime/vm/vmprops.c
  test/functional/Java8andUp/src/org/openj9/test/support/Support_Exec.java
Labels: comp:vm

#5043 (v0.13.0-release) Separate java.vendor and java.vm.vendor
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/include/vendor_version.h
  runtime/vm/vmprops.c
  test/functional/Java8andUp/src/org/openj9/test/support/Support_Exec.java
Labels: comp:vm

#5035 AArch64: Add files in compiler/aarch64/{codegen,env}/ to aarch64.mk
  runtime/compiler/build/files/target/aarch64.mk
Labels: comp:jit

#5006 Fix quoting of LD_LIBRARY_PATH
  test/TestConfig/openj9Settings.mk
Labels: comp:test

#5025 Fail remote AOT compilation when relocation fails
  runtime/compiler/control/JITaaSCompilationThread.cpp
Labels: jitaas

#5030 Enable CH table for remote AOT
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/JITaaSPersistentCHTable.cpp
Labels: jitaas

#4788 Refactor storing of AOT in SCC
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
Labels: jitaas

#5017 AArch64: Enable build of JIT shared library
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/module.xml
Labels: comp:jit

#5059 Fix typo in comment
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/DataType.java
Labels: comp:vm

#5055 Modify GlobalAllocationManagerRealtime for moving to OMR
  runtime/gc_realtime/GlobalAllocationManagerRealtime.cpp
Labels: comp:gc

#5056 Modify IncrementalOverflow for moving into OMR
  runtime/gc_realtime/IncrementalOverflow.cpp
  runtime/gc_realtime/IncrementalOverflow.hpp
Labels: comp:gc

#5054 Changed AUTO_DETECT variable from on/off into true/false
  test/TestConfig/envSettings.mk
  test/TestConfig/run_configure.mk
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#5026 Implement TR_J9JITaaSServerSharedCache::addHint
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/rpc/protos/compile.proto
Labels: jitaas

#4919 Remove workaround in Access.defineClass()
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  runtime/jcl/common/clsldr.cpp
  runtime/jcl/common/jcldefine.c
  runtime/jcl/common/sun_misc_Unsafe.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/util/hshelp.c
  runtime/util/resolvehelp.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ClassInitialization.cpp
  runtime/vm/createramclass.cpp
  runtime/vm/lookupmethod.c
  runtime/vm/resolvesupport.cpp
  runtime/vm/stringhelpers.cpp
  runtime/vm/visible.c
Labels: comp:vm

#5040 Update options for compilation request
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/rpc/StreamTypes.hpp
Labels: jitaas

#5062 Modify IncrementalParallelTask for moving to OMR
  runtime/gc_realtime/IncrementalParallelTask.cpp
  runtime/gc_realtime/IncrementalParallelTask.hpp
Labels: comp:gc

#5072 Fix incorrect iTable build
  runtime/vm/createramclass.cpp
Labels: bug, comp:vm

#5003 Fix VarHandleDesc constructor setup
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
  test/functional/Java12andUp/src/org/openj9/test/java_lang_constant/Test_DynamicConstantDesc.java
  test/functional/Java12andUp/src/org/openj9/test/java_lang_invoke/Test_VarHandleDesc.java
Labels: comp:vm, jdk12

#5076 (0.13.0) Fix VarHandleDesc constructor setup
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
  test/functional/Java12andUp/src/org/openj9/test/java_lang_constant/Test_DynamicConstantDesc.java
  test/functional/Java12andUp/src/org/openj9/test/java_lang_invoke/Test_VarHandleDesc.java
  test/functional/Java12andUp/testng.xml
Labels: bug, comp:vm

#5064 Modifty Metronome.hpp for moving into OMR
  runtime/gc_realtime/Metronome.hpp
Labels: comp:gc

#5065 Correctly check if string compression is enabled
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: jitaas

#4992 Check the stack size of a stackmap frame
  runtime/bcverify/staticverify.c
Labels: comp:vm

#5070 Fix the assert that does not apply to JITaaS remote AOT
  runtime/compiler/env/VMJ9.cpp
Labels: jitaas

#5081 Modify OSInterface for moving into OMR
  runtime/gc_realtime/OSInterface.cpp
  runtime/gc_realtime/OSInterface.hpp
Labels: comp:gc

#3922 Optimize copyforward scheme for abort case and hybrid case
  runtime/gc_verbose_handler_vlhgc/VerboseHandlerOutputVLHGC.cpp
  runtime/gc_vlhgc/CollectionSetDelegate.cpp
  runtime/gc_vlhgc/CopyForwardCompactGroup.hpp
  runtime/gc_vlhgc/CopyForwardDelegate.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/CopyForwardScheme.hpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/ProjectedSurvivalCollectionSetDelegate.cpp
  runtime/gc_vlhgc/ReclaimDelegate.cpp
  runtime/gc_vlhgc/SchedulingDelegate.cpp
  runtime/gc_vlhgc/SchedulingDelegate.hpp
Labels: comp:gc

#5004 Modified AUTO_DETECT using java.vm.name
  test/TestConfig/src/org/openj9/envInfo/JavaInfo.java
Labels: comp:test

#4789 Refactor CompilationEnd and remoteCompilationEnd
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
Labels: jitaas

#4943 Reenable disableDeferredWipeout also add deleteDirs
  buildenv/jenkins/common/build
  buildenv/jenkins/common/test
  buildenv/jenkins/jobs/builds/Build-Test-Any-Platform
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform
Labels: comp:build

#4979 AArch64: Add rules for JIT assembler files
  runtime/compiler/build/rules/gnu/filetypes.mk
  runtime/compiler/build/toolcfg/gnu/common.mk
Labels: comp:jit

#5083 Modify Metronome ProcessorInfo for moving into OMR
  runtime/gc_realtime/ProcessorInfo.cpp
  runtime/gc_realtime/ProcessorInfo.hpp
Labels: comp:gc

#5090 Add missed include in ProcessorInfo.cpp
  runtime/gc_realtime/ProcessorInfo.cpp
Labels: comp:gc

#4931 Function implemented for TR_ResolvedRelocatableJ9JITaaSServerMethod
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/rpc/protos/compile.proto
Labels: jitaas

#4876 Use a class annotation to prevent instrumentation
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/J9UnmodifiableClass.java
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandleInternal.java
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/ROMClassCreationContext.hpp
  runtime/jvmti/jvmtiHook.c
  runtime/oti/j9.h
  runtime/oti/j9javaaccessflags.h
  runtime/oti/j9modifiers_api.h
  runtime/util/hshelp.c
  runtime/util/rcdump.c
  runtime/vm/romclasses.c
Labels: comp:vm

#5091 Modify SweepSchemeRealtime for moving to OMR
  runtime/gc_realtime/SweepSchemeRealtime.cpp
  runtime/gc_realtime/SweepSchemeRealtime.hpp
Labels: comp:gc

#5094 Modify metronome Timer for moving to OMR
  runtime/gc_realtime/Timer.cpp
  runtime/gc_realtime/Timer.hpp
Labels: comp:gc

#5086 AArch64: Add arm64nathelp.m4 in runtime/codert_vm
  runtime/codert_vm/arm64nathelp.m4
  runtime/codert_vm/module.xml
  runtime/oti/arm64helpers.m4
Labels: comp:vm

#5105 Modify UtilizationTracker for moving to OMR
  runtime/gc_realtime/UtilizationTracker.cpp
  runtime/gc_realtime/UtilizationTracker.hpp
Labels: comp:gc

#5092 Always set crcValid to 0 when doing stale marking
  runtime/shared_common/CompositeCache.cpp
Labels: bug, comp:vm

#5075 Remove reference to non-existent jar
  jcl/.classpath
Labels: comp:vm

#4957 Adapt the formatting to remove unnecessary indent level
  runtime/vm/lookupmethod.c
Labels: comp:vm

#5097 Fix tabs vs spaces issues to improve readability
  runtime/shared_common/CompositeCache.cpp
Labels: comp:vm

#5104 Bridge methods should also be 'synthetic'
  debugtools/DDR_VM/src/com/ibm/j9ddr/BytecodeGenerator.java
Labels: comp:vm

#5031 Update cmake to 3.11.4 on the Docker containers
  buildenv/jenkins/docker-slaves/ppc64le/centos7/Dockerfile
  buildenv/jenkins/docker-slaves/s390x/ubuntu16/Dockerfile
  buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile
Labels: comp:infra

#5121 Modify YieldCollaborator for moving to OMR
  runtime/gc_realtime/YieldCollaborator.cpp
  runtime/gc_realtime/YieldCollaborator.hpp
Labels: comp:gc

#5119 Modify WorkPacketsRealtime for moving into OMR
  runtime/gc_realtime/WorkPacketsRealtime.cpp
Labels: comp:gc

#5129 Fix handling of defining accessor and proxy classes in Java 12
  runtime/jcl/common/clsldr.cpp
  test/functional/Java8andUp/playlist.xml
Labels: comp:vm

#5130 Fix handling of defining accessor and proxy classes in Java 12
  runtime/jcl/common/clsldr.cpp
  test/functional/Java8andUp/playlist.xml
Labels: comp:vm

#5106 Fix handling of 'volatile' qualifier
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureTypeManager.java
Labels: comp:vm

#5099 Always use non-AOT front-end in packRemoteROMClassInfo
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
Labels: jitaas

#5122 Fix temp slot bug in valueType generator
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
Labels: comp:test

#5118 Use constant factory for new constant in DDR
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
Labels: comp:vm

#5060 Replace j9sock_gethostname with omrsysinfo_get_hostname
  runtime/jcl/common/mgmtruntime.c
  runtime/vm/rasdump.c
Labels: comp:vm

#5141 Remove unused native and fix tabs vs spaces
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
Labels: comp:vm

#5132 Remove the incorrect assert
  doc/compiler/jitaas/Testing.md
  runtime/compiler/env/JITaaSPersistentCHTable.cpp
Labels: jitaas

#5053 Remove deprecated Call/Return IL Opcodes
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
Labels: comp:jit

#5080 JDK12 j.l.Class.toGenericString() appends type parameters
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, jdk12

#5042 Deprecate HPR support
  buildspecs/j9.flags
  buildspecs/linux_390-64.spec
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_390.spec
  buildspecs/linux_ztpf_390-64.spec
  buildspecs/zos_390-64.spec
  buildspecs/zos_390-64_cmprssptrs.spec
  buildspecs/zos_390.spec
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITStackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/MethodMetaData.java
  runtime/codert_vm/jswalk.c
  runtime/compiler/build/files/target/z.mk
  runtime/compiler/codegen/J9GCStackAtlas.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/MetaDataDebug.cpp
  runtime/compiler/runtime/MethodMetaData.c
  runtime/compiler/runtime/MethodMetaData.h
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390CHelperLinkage.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.hpp
  runtime/compiler/z/env/J9CPU.cpp
  runtime/compiler/z/env/J9CPU.hpp
  runtime/ddr/overrides-vm
  runtime/include/j9cfg.h.in
Labels: comp:jit, comp:jit:z, depends:omr

#4842 Enable Stack Protect option for 64bit platforms
  runtime/compiler/build/toolcfg/aix-xlc/common.mk
  runtime/compiler/build/toolcfg/gnu-xlc/common.mk
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/build/toolcfg/zos-xlc/common.mk
  runtime/gc_glue_java/configure_includes/configure_aix_ppc.mk
  runtime/gc_glue_java/configure_includes/configure_linux_390.mk
  runtime/gc_glue_java/configure_includes/configure_linux_aarch64.mk
  runtime/gc_glue_java/configure_includes/configure_linux_ppc.mk
  runtime/gc_glue_java/configure_includes/configure_linux_x86.mk
  runtime/gc_glue_java/configure_includes/configure_osx.mk
  runtime/gc_glue_java/configure_includes/configure_zos_390.mk.ftl
  runtime/makelib/targets.mk.aix.inc.ftl
  runtime/makelib/targets.mk.linux.inc.ftl
  runtime/makelib/targets.mk.osx.inc.ftl
  runtime/makelib/targets.mk.zos.inc.ftl
Labels: comp:build, comp:jit, comp:vm

#4828 Re-implement the logic in arrayConstructor
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/api/MethodHandleAPI_arrayConstructor.java
Labels: bug, comp:vm

#4692 Modify metronome Scheduler for moving into OMR
  runtime/gc_base/gc_internal.h
  runtime/gc_modron_startup/gcmspace.cpp
  runtime/gc_modron_startup/mgcalloc.cpp
  runtime/gc_realtime/BarrierSynchronization.cpp
  runtime/gc_realtime/BarrierSynchronization.hpp
  runtime/gc_realtime/EnvironmentRealtime.cpp
  runtime/gc_realtime/EnvironmentRealtime.hpp
  runtime/gc_realtime/MemorySubSpaceMetronome.cpp
  runtime/gc_realtime/MetronomeAlarm.cpp
  runtime/gc_realtime/MetronomeAlarm.hpp
  runtime/gc_realtime/Scheduler.cpp
  runtime/gc_realtime/Scheduler.hpp
  runtime/gc_verbose_handler_realtime/VerboseHandlerOutputRealtime.cpp
Labels: comp:gc

#5148 Link redirector with libdl.so on non-Windows platforms
  runtime/redirector/module.xml
Labels: comp:build

#5024 Update modes.xml parsing logic
  test/TestConfig/resources/ottawa.csv
  test/TestConfig/scripts/testKitGen/makeGenTool/parseFiles.pl
Labels: comp:test

#5152 Install make 4.1 on CentOS 6 x86 docker slave
  buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile
Labels: comp:build

#5125 Modify HeapRegionDescriptorRealtime for moving into OMR
  runtime/gc_glue_java/RealtimeGCDelegate.cpp
  runtime/gc_glue_java/RealtimeGCDelegate.hpp
  runtime/gc_realtime/HeapRegionDescriptorRealtime.cpp
  runtime/gc_realtime/HeapRegionDescriptorRealtime.hpp
  runtime/gc_realtime/OwnableSynchronizerObjectBufferRealtime.cpp
  runtime/gc_realtime/RealtimeMarkingScheme.cpp
  runtime/gc_realtime/ReferenceObjectBufferRealtime.cpp
  runtime/gc_realtime/UnfinalizedObjectBufferRealtime.cpp
Labels: comp:gc

#4989 Make String.indexOf(String) handle compact strings correctly
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm

#5166 Add IgnoreDecimalOverflowException codegen flag
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.hpp
Labels: comp:jit, comp:jit:z

#5142 CMake: remove hardcoded references to 'dl'
  runtime/j9vm/CMakeLists.txt
  runtime/jsigWrapper/CMakeLists.txt
  runtime/port/CMakeLists.txt
  runtime/redirector/CMakeLists.txt
  runtime/tests/jsig/CMakeLists.txt
  runtime/tests/redirector/genericlauncher/CMakeLists.txt
  runtime/tests/redirector/jep178/CMakeLists.txt
Labels: comp:build

#5169 Correct the field order for J9DbgROMClassBuilder
  runtime/oti/j9nonbuilder.h
Labels: comp:vm

#5020 jdk8: Stop bundling openssl on Linux platforms, and enable on AIX
  buildenv/jenkins/variables/defaults.yml
  test/functional/cmdLineTests/openssl/playlist.xml
Labels: comp:build, comp:test, depends:openjdk8

#5162 Modify MetronomeAlarm for moving into OMR
  runtime/gc_realtime/MetronomeAlarm.cpp
  runtime/gc_realtime/MetronomeAlarm.hpp
Labels: comp:gc

#5179 No longer pass Artifactory details to Test Pipelines
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#5159 Extend summary table to include all downstream builds
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform
Labels: comp:build

#5103 Adopt Java 12 jdk.internal.reflect.Reflection & ASM requirement
  test/functional/JavaAgentTest/build.xml
  test/functional/JavaAgentTest/playlist.xml
  test/functional/JavaAgentTest/src_java12/org/openj9/test/javaagenttest/Cmvc196982.java
  test/functional/JavaAgentTest/src_java12/org/openj9/test/javaagenttest/util/CustomClassVisitor.java
  test/functional/JavaAgentTest/src_java12/org/openj9/test/javaagenttest/util/FieldAdder.java
  test/functional/JavaAgentTest/src_java12/org/openj9/test/javaagenttest/util/MethodAddAdapter.java
  test/functional/JavaAgentTest/src_java12/org/openj9/test/javaagenttest/util/MethodInstrumentAdapter_AddPrintOut.java
  test/functional/JavaAgentTest/src_java12/org/openj9/test/javaagenttest/util/MethodInstrumentAdapter_CallNewMethod.java
  test/functional/JavaAgentTest/src_java12/org/openj9/test/javaagenttest/util/MethodInstrumentAdapter_InitializeNewStatic.java
  test/functional/JavaAgentTest/src_java8/org/openj9/test/javaagenttest/Cmvc196982.java
  test/functional/JavaAgentTest/src_java8/org/openj9/test/javaagenttest/util/CustomClassVisitor.java
  test/functional/JavaAgentTest/src_java8/org/openj9/test/javaagenttest/util/FieldAdder.java
  test/functional/JavaAgentTest/src_java8/org/openj9/test/javaagenttest/util/MethodAddAdapter.java
  test/functional/JavaAgentTest/src_java8/org/openj9/test/javaagenttest/util/MethodInstrumentAdapter_AddPrintOut.java
  test/functional/JavaAgentTest/src_java8/org/openj9/test/javaagenttest/util/MethodInstrumentAdapter_CallNewMethod.java
  test/functional/JavaAgentTest/src_java8/org/openj9/test/javaagenttest/util/MethodInstrumentAdapter_InitializeNewStatic.java
Labels: comp:test, jdk12

#5171 Replace the incorrect assert with verbose log
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: comp:jit, comp:jit:aot

#4696 AArch64: Update build instructions
  doc/build-instructions/Build_Instructions_V11.md
Labels: comp:doc

#5184 Add checks that romClassBuilder is not NULL
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/VmCheckCommand.java
  runtime/vmchk/checkinterntable.c
Labels: comp:vm

#5186 Move classlib.properties to Java 8 extension repo
  runtime/classlib.properties
  runtime/jcl/common/vm_scar.c
Labels: comp:vm, depends:openjdk8

#5177 Remove references to Java 9 Build 148
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/LoggingMXBeanImpl.java
  jcl/src/java.management/share/classes/java/lang/management/DefaultPlatformMBeanProvider.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/PlatformMBeanProvider.java
  jcl/src/jdk.management/share/classes/openj9/lang/management/internal/OpenJ9DiagnosticsMXBeanImpl.java
Labels: comp:vm

#5151 Improve the error reporting when j9shmem_getDir() failed.
  runtime/harmony/include/hyporterror.h
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9porterror.h
  runtime/port/common/j9shmem.c
  runtime/port/sysvipc/j9shmem.c
  runtime/port/win32/j9shmem.c
  runtime/shared/shrclssup.c
  runtime/shared_common/CacheLifecycleManager.cpp
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/OSCachesysv.cpp
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
  runtime/tests/port/j9shsem_deprecatedTest.c
  runtime/tests/port/shmem.c
  runtime/tests/shared/CacheDirPerm.cpp
  runtime/tests/shared/CorruptCacheTest.cpp
  runtime/tests/shared/OSCacheTestMmap.cpp
  runtime/tests/shared/OSCacheTestSysv.cpp
  runtime/tests/shared/SharedCacheAPITest.cpp
Labels: comp:vm

#5180 Disable SVM during Startup
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit, comp:jit:aot

#4998 Improve formatting of threadInfo
  jcl/src/java.base/share/classes/com/ibm/oti/util/Util.java
  jcl/src/java.base/share/classes/java/lang/StackTraceElement.java
  jcl/src/java.base/share/classes/java/lang/Throwable.java
  jcl/src/java.management/share/classes/java/lang/management/ThreadInfo.java
Labels: comp:vm

#5126 Disable JITaaSCHTableCommit for Remote AOT
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/JITaaSCHTable.cpp
Labels: jitaas

#5027 Enable Concurrent Scavenger on BE Linux for Power
  runtime/gc_glue_java/configure_includes/configure_aix_ppc.mk
  runtime/gc_glue_java/configure_includes/configure_linux_ppc.mk
Labels: comp:jit, comp:jit:p

#5014 Fixed freeing of memory for cudaInfo for JIT GPU
  runtime/compiler/optimizer/SPMDParallelizer.cpp
  runtime/compiler/runtime/GPUHelpers.cpp
Labels: comp:jit, comp:jit:p

#5172 Do not cache array class of RAM class
  runtime/compiler/env/VMJ9Server.cpp
Labels: jitaas

#5202 Remove the assertion and return if j9shr_getCacheDir() failed
  runtime/shared/shrclssup.c
Labels: comp:vm

#5188 Salt on Nursery resize
  runtime/gc_base/GCExtensions.cpp
Labels: comp:gc

#5167 Persist thunks to SCC for delayed AOT load in JITaaS Remote AOT mode
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: jitaas

#5143 Handle delayed AOT load for JITaaS Remote AOT
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
Labels: jitaas

#5190 Set _started to false in shutdownForStats() after exitWriteMutex()
  runtime/shared_common/CompositeCache.cpp
Labels: bug, comp:vm

#4816 AArch64: Add entries of helper functions to Runtime.cpp
  runtime/compiler/aarch64/runtime/CMakeLists.txt
  runtime/compiler/aarch64/runtime/PicBuilder.spp
  runtime/compiler/build/files/host/aarch64.mk
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit

#5201 Destroy idleGCManager at tear down
  runtime/gc_base/GCExtensions.cpp
Labels: comp:gc

#5168 caching the attributes for AOT
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: jitaas

#5155 Export JAVA_HOME in TestKitGen
  test/TestConfig/settings.mk
Labels: comp:test

#4569 Extend booleans to the int type in the native
  runtime/oti/VMHelpers.hpp
  runtime/tests/jniarg/CMakeLists.txt
  runtime/tests/jniarg/args_10.c
  runtime/tests/jniarg/cdefs.c
  runtime/tests/jniarg/exports.xml
  runtime/tests/jniarg/jniargtests.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/MHInterpreter.hpp
  test/functional/NativeTest/jniargtests/JniArgTests.java
  test/functional/NativeTest/playlist.xml
Labels: comp:vm

#5196 Remove unnecessary UMA_SP_CFLAGS, and the _sp SPECs from gc_glue_java
  runtime/gc_glue_java/configure_includes/configure_aix_ppc.mk
  runtime/gc_glue_java/configure_includes/configure_linux_390.mk
  runtime/gc_glue_java/configure_includes/configure_linux_ppc.mk
  runtime/gc_glue_java/configure_includes/configure_linux_x86.mk
  runtime/gc_glue_java/configure_includes/configure_win_x86.mk
  runtime/gc_glue_java/configure_includes/configure_zos_390.mk.ftl
  runtime/makelib/mkconstants.mk.ftl
  runtime/makelib/targets.mk.ftl
Labels: comp:build

#5204 Set the z/OS 64-bit default OS stack size to 1MB
  runtime/oti/j9cfg_builder.h
Labels: comp:vm

#5214 Fix missing +
  buildenv/jenkins/common/build
Labels: comp:build

#4955 Add ValueType support to the MonitorEnter and MonitorExit bytecodes
  runtime/nls/j9vm/j9vm.nls
  runtime/vm/BytecodeInterpreter.hpp
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm

#5127 DDR: add support for OSX core files
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/CoreReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/BuildVersionCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/DSymtabCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/DyldInfoCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/DylibCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/DylinkerCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/EncryptionCommand64.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/EntryPointCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/LinkeditDataCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/LinkerOptionCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/LoadCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/MachoDumpReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/MachoDumpReaderFactory.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/NoteCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/OSXProcessAddressSpace.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/PrebindChecksumCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/PreboundDylibCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/RoutinesCommand64.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/RpathCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/SegmentCommand64.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/SourceVersionCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/SubCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/SymtabCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/ThreadCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/TwoLevelHintsCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/UuidCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/VersionMinCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/VMRegMapHelper.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/utils/file/FileSniffer.java
  test/functional/DDR_Test/build.xml
  test/functional/DDR_Test/playlist.xml
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
  test/functional/cmdLineTests/classesdbgddrext/playlist.xml
  test/functional/cmdLineTests/dumpromtests/playlist.xml
  test/functional/cmdLineTests/modularityddrtests/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/playlist.xml
Labels: comp:vm

#5220 AArch64: Update Dockerfile for cross-compilation
  buildenv/docker/jdk11/aarch64_CC/arm-linux-aarch64/Dockerfile
Labels: comp:build
