Repository eclipse-openj9/openj9, pull requests merged in 2019-02, with the labels that each got.

#4499 Add logic to specify test with different aot tags
  test/TestConfig/playlist.xsd
  test/TestConfig/run_configure.mk
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/TestConfig/scripts/testKitGen/testKitGen.pl
Labels: comp:test

#4539 Implement direct calls in JITaaS mode
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
Labels: jitaas

#4509 Initial implementation of TR_ResolvedRelocatableJ9JITaaSServerMethod
  runtime/compiler/env/j9methodServer.hpp
Labels: jitaas

#4536 Move getClassDepthAndFlagsValue to TR_J9VMBase
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: blocker, comp:jit

#4355 Adding library to ldconfig on ppc64le centos7 Dockerfile
  buildenv/jenkins/docker-slaves/ppc64le/centos7/Dockerfile
Labels: comp:build

#3737 Pass build extra options from the upstream to the downstream pipelines
  buildenv/jenkins/common/build
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform
Labels: comp:build

#4310 Update relocation for Object Allocation inlining
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#4550 Add Linux PPCLE docker file for JDK12
  buildenv/docker/jdk12/ppc64le/ubuntu16/Dockerfile
  doc/build-instructions/Build_Instructions_V12.md
Labels: comp:build

#4551 Update CryptoTest.java to load CipherCore
  test/functional/cmdLineTests/openssl/src/org/openj9/test/openssl/CryptoTest.java
Labels: comp:test

#4547 Remove obsolete OpenSSL test
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/openssl/TestOpenSSL.java
  test/functional/Java8andUp/testng.xml
Labels: comp:test

#4558 Update openssl testing for the 0.12.1 release
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/openssl/TestOpenSSL.java
  test/functional/Java8andUp/testng.xml
  test/functional/cmdLineTests/openssl/openssl.xml
  test/functional/cmdLineTests/openssl/src/org/openj9/test/openssl/CryptoTest.java
Labels: comp:test

#4537 CMake: Add missing Java 8 natives
  runtime/jcl/cl_se7_basic/CMakeLists.txt
  runtime/jcl/cmake/se6_vm-side_natives.cmake
  runtime/jcl/cmake/se8.cmake
Labels: comp:build

#4563 Delete references to obsolete classes and methods
  jcl/src/java.base/share/classes/com/ibm/oti/vm/MsgHelp.java
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/StackWalker.java
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/LoggingMXBeanImpl.java
  jcl/src/java.management/share/classes/java/lang/management/DefaultPlatformMBeanProvider.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/PlatformMBeanProvider.java
  jcl/src/jdk.management/share/classes/openj9/lang/management/internal/OpenJ9DiagnosticsMXBeanImpl.java
Labels: comp:vm

#4282 Avoid mishandling of immutable objects that escape in cold blocks
  runtime/compiler/optimizer/EscapeAnalysis.cpp
Labels: comp:jit

#3827 Remove deprecated snippets on X86 [Phase 1/2]
  runtime/compiler/build/files/target/x.mk
  runtime/compiler/x/codegen/CMakeLists.txt
  runtime/compiler/x/codegen/JNIPauseSnippet.cpp
  runtime/compiler/x/codegen/JNIPauseSnippet.hpp
  runtime/compiler/x/codegen/PassJNINullSnippet.cpp
  runtime/compiler/x/codegen/PassJNINullSnippet.hpp
  runtime/compiler/x/codegen/StackOverflowCheckSnippet.cpp
  runtime/compiler/x/codegen/StackOverflowCheckSnippet.hpp
  runtime/compiler/x/codegen/WriteBarrierSnippet.cpp
  runtime/compiler/x/codegen/WriteBarrierSnippet.hpp
  runtime/compiler/x/i386/codegen/IA32JNILinkage.cpp
Labels: comp:jit

#4553 Update get source step in Jenkins build to work with reference cache
  buildenv/jenkins/common/build
Labels: comp:build

#4566 Fix version references
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V12.md
Labels: comp:doc

#4406 Function implementation for the TR_J9SharedCacheServerVM class
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4570 Fold opening of getBootLayer() onto a single line
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm

#4326 Enable NASM assembler on x86 Linux and Windows
  runtime/compiler/build/files/host/i386.mk
  runtime/compiler/build/platform/host/amd64-linux-gcc.mk
  runtime/compiler/build/platform/host/ia32-win32-mvs.mk
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/asmprotos.h
  runtime/compiler/x/i386/runtime/IA32CompressString_nasm.inc
  runtime/compiler/x/i386/runtime/IA32Math64_nasm.inc
  runtime/compiler/x/i386/runtime/IA32Recompilation.nasm
  runtime/compiler/x/i386/runtime/J9IA32CompressString.nasm
  runtime/compiler/x/i386/runtime/J9IA32Math64.nasm
  runtime/compiler/x/runtime/X86ArrayTranslate.nasm
  runtime/compiler/x/runtime/X86Codert.nasm
  runtime/compiler/x/runtime/X86EncodeUTF16.nasm
  runtime/compiler/x/runtime/X86LockReservation.nasm
  runtime/compiler/x/runtime/X86PicBuilder.nasm
  runtime/compiler/x/runtime/X86Unresolveds.nasm
  runtime/jilgen/jilconsts.c
Labels: comp:jit

#4567 Fix TR_J9SharedCacheServerVM::stackWalkerMaySkipFrames
  runtime/compiler/env/VMJ9Server.cpp
Labels: jitaas

#4374 Suppress echoing commands to build file list on Windows
  runtime/compiler/build/rules/win-msvc/helper_macro.mk
Labels: comp:build, comp:jit

#4525 Replace enter/exit tracing method with isMethodTracingEnabled
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: comp:jit

#4311 Supporting changes for Symbol Validation Manager on Z
  runtime/compiler/env/j9method.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390AOTRelocation.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jit

#4591 Relocate OMR CodeCacheManager methods to OpenJ9
  runtime/compiler/runtime/J9CodeCacheManager.cpp
  runtime/compiler/runtime/J9CodeCacheManager.hpp
Labels: comp:jit

#4595 Add compression option when archiving test natives in Jenkins build
  buildenv/jenkins/common/build
Labels: comp:build

#4523 Add support for the AdoptOpenJDK Tests repository to Jenkins pipelines
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#4576 Implement TR_J9SharedCacheServerVM::getMethodFromClass
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4586 Implement TR_J9SharedCacheServerVM::isPublicClass
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4584 Create TR_J9JITaaSServerSharedCache dummy implementation
  runtime/compiler/env/J9SharedCache.hpp
Labels: jitaas

#4501 Implement some methods of TR_J9SharedCacheServerVM
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4578 Implement TR_J9SharedCacheServerVM::isInstanceOf
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4577 Implement TR_J9SharedCacheServerVM::supportAllocationInlining
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4532 Make sure the cache file path is shorter than the OS limit
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9port.h
  runtime/port/sysvipc/j9sharedhelper.h
  runtime/port/win32/j9shsem.c
  runtime/port/win32/j9shsem_deprecated.c
  runtime/shared_common/CacheLifecycleManager.cpp
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/OSCachesysv.cpp
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/shrinit.cpp
Labels: bug, comp:vm

#4521 Add options to print a javacore dump to STDOUT and STDERR
  runtime/rasdump/TextFileStream.cpp
  runtime/rasdump/dmpagent.c
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/playlist.xml
Labels: comp:vm, depends:doc

#4602 Fix missing atomic-free JNI check
  runtime/vm/vmthread.c
Labels: bug, comp:vm

#4529 Fold ClassFromMethod into method records
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/env/PersistentCHTable.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9Inliner.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit

#4568 Install gcc 7.3/7.4 from Adopt in docker files
  buildenv/docker/jdk11/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk11/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk11/x86_64/ubuntu16/Dockerfile
  buildenv/jenkins/docker-slaves/s390x/ubuntu16/Dockerfile
  buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile
Labels: comp:build

#4611 Fix unused variable warning when J9VM_INTERP_ATOMIC_FREE_JNI is not defined
  runtime/vm/vmthread.c
Labels: comp:vm

#4619 Re-enable AOT by default in non-JITaaS mode
  runtime/compiler/control/CompilationThread.cpp
Labels: bug, jitaas

#4615 Fix missing return value assignment
  runtime/jvmti/jvmtiExtensionMechanism.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/getJ9method/gj9m001.c
Labels: bug, comp:vm

#4610 Remove deprecated CodeCache::initialize function
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/J9CodeCache.hpp
Labels: comp:jit

#4579 Implement TR_J9SharedCacheServerVM::getClassFromSignature
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4330 Schedule remote sync compilation to local first
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
  runtime/compiler/ras/DebugExt.cpp
Labels: jitaas

#4594 Implement storeValidationRecordIfNecessary for JITaaS
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: jitaas

#4575 Enable Symbol Validation Manager on Z
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit, comp:jit:z, depends:omr

#4580 Implement TR_J9SharedCacheServerVM::getSystemClassFromClassName
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4585 Implement TR_J9SharedCacheServerVM::getProfiledClassFromProfiledInfo
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4636 Verify JDK12 builds at Mac/Win/AIX platforms
  doc/build-instructions/Build_Instructions_V12.md
Labels: comp:doc

#4626 Remove dead code for obsolete Java 9 'shapes'
  runtime/j9vm/java11vmi.c
  runtime/j9vm/jvm.c
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/system.c
  runtime/jvmti/jvmtiModules.c
  runtime/oti/j2sever.h
  runtime/util/modularityHelper.c
  runtime/vm/classloadersearch.c
Labels: comp:vm

#4587 Implement TR_J9SharedCacheServerVM::hasFinalizer
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4588 Implement TR_J9SharedCacheServerVM::getClassDepthAndFlagsValue
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4627 Clean up deprecated code resulting from migrating to a unified assembler across x86
  runtime/compiler/build/files/host/amd64.mk
  runtime/compiler/build/files/host/i386.mk
  runtime/compiler/build/files/host/x.mk
  runtime/compiler/build/rules/gnu/filetypes.mk
  runtime/compiler/build/rules/win-msvc/filetypes.mk
  runtime/compiler/build/scripts/masm2gas.pl
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/build/toolcfg/win-msvc/common.mk
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/runtime/CRuntimeImpl.cpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/asmprotos.h
  runtime/compiler/x/amd64/runtime/AMD64CompressString.asm
  runtime/compiler/x/amd64/runtime/AMD64CompressString.inc
  runtime/compiler/x/amd64/runtime/AMD64CompressString.nasm
  runtime/compiler/x/amd64/runtime/AMD64CompressString_nasm.inc
  runtime/compiler/x/amd64/runtime/AMD64Recompilation.asm
  runtime/compiler/x/i386/runtime/IA32CompressString.inc
  runtime/compiler/x/i386/runtime/IA32CompressString_nasm.inc
  runtime/compiler/x/i386/runtime/IA32Math64.inc
  runtime/compiler/x/i386/runtime/IA32Math64_nasm.inc
  runtime/compiler/x/i386/runtime/IA32Recompilation.asm
  runtime/compiler/x/i386/runtime/J9IA32CompressString.asm
  runtime/compiler/x/i386/runtime/J9IA32CompressString.nasm
  runtime/compiler/x/i386/runtime/J9IA32Math64.asm
  runtime/compiler/x/i386/runtime/J9IA32Math64.nasm
  runtime/compiler/x/runtime/X86ArrayTranslate.asm
  runtime/compiler/x/runtime/X86Codert.asm
  runtime/compiler/x/runtime/X86EncodeUTF16.asm
  runtime/compiler/x/runtime/X86LockReservation.asm
  runtime/compiler/x/runtime/X86PicBuilder.inc
  runtime/compiler/x/runtime/X86PicBuilder.nasm
  runtime/compiler/x/runtime/X86PicBuilder.pasm
  runtime/compiler/x/runtime/X86PicBuilder_nasm.inc
  runtime/compiler/x/runtime/X86RegisterMap.inc
  runtime/compiler/x/runtime/X86Unresolveds.nasm
  runtime/compiler/x/runtime/X86Unresolveds.pasm
Labels: comp:jit

#4616 Redeliver Escape Analysis changes that were reverted under PR 4145
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/EscapeAnalysis.hpp
Labels: comp:jit

#4504 Fix pltest on OSX
  runtime/tests/port/j9processTest.c
  runtime/tests/port/si.c
  test/functional/cmdLineTests/pltest/playlist.xml
Labels: comp:port, comp:test

#4633 Implement some methods of TR_ResolvedRelocatableJ9JITaaSServerMethod
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: jitaas

#4645 Add JAVA_VERSION to JDK_VERSION mapping for Java12
  test/TestConfig/run_configure.mk
  test/TestConfig/settings.mk
Labels: comp:test

#4646 Implemented TR_ResolvedRelocatableJ9JITaaSServerMethod::isInterpreted()
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: jitaas

#4652 Load correct virtualCallOffsetAndIgnoreRtResolve
  runtime/compiler/runtime/RelocationRecord.cpp
Labels: comp:jit

#4607 Remove enter/exit tracing methods
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jit

#4641 Install gcc 7.3/7.4 from Adopt in JDK12 docker files
  buildenv/docker/jdk12/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk12/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk12/x86_64/ubuntu16/Dockerfile
Labels: comp:build

#4102 Add BUILD_IDENTIFIER to Artifactory metadata
  buildenv/jenkins/common/build
Labels: comp:build

#4671 Deprecate toUpperCase and toLowerCase Lithuanian tests from OpenJ9
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:test

#4673 CMake: Stop building unused redirector shared libraries
  runtime/redirector/CMakeLists.txt
Labels: comp:build

#4647 Create just one JVM shared library
  runtime/CMakeLists.txt
  runtime/j9vm/module.xml
  runtime/j9vm_b150/CMakeLists.txt
  runtime/j9vm_b150/module.xml
  runtime/j9vm_b156/CMakeLists.txt
  runtime/j9vm_b156/module.xml
  runtime/j9vm_jdk11/CMakeLists.txt
  runtime/j9vm_jdk11/module.xml
  runtime/j9vm_jdk12/CMakeLists.txt
  runtime/j9vm_jdk12/module.xml
  runtime/util_b156/module.xml
Labels: comp:build, depends:openjdk, depends:openjdk11, depends:openjdk12

#4666 Symbol validation manager well-known classes
  doc/compiler/aot/SymbolValidationManager.md
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot

#4442 Override the soft file descriptor limit
  runtime/vm/jvminit.c
Labels: backport:candidate, comp:vm, depends:omr

#4458 Provide method name when constructing VarHandleInvokeHandle
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandleInvokeHandle.java
Labels: bug, comp:vm

#4502 Compress interface dispatch tables
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/jswalk.c
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/oti/j9modifiers_api.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/util_api.h
  runtime/util/hshelp.c
  runtime/util/mthutil.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/createramclass.cpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm

#4680 Commonize definitions of jint & jbyte
  runtime/include/jni.h
  runtime/include/jniport.h
Labels: comp:vm

#4167 Enable double compile of methods, remote and local
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
Labels: jitaas

#4589 Implement TR_J9SharedCacheServerVM::isPrimitiveClass
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4665 WIP: Implement TR_J9SharedCacheServerVM::isGetImplInliningSupported
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4600 Avoid TR::comp() in TR_J9SharedCacheServerVM
  runtime/compiler/env/VMJ9Server.cpp
Labels: jitaas

#4682 Run jdk11 cmake build instead of jdk9, add jdk8 as well
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
Labels: comp:build

#4639 Add test utility methods to get attach API information
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestAttachAPI.java
  test/functional/TestUtilities/src/org/openj9/test/attachAPI/TargetManager.java
  test/functional/TestUtilities/src/org/openj9/test/attachAPI/TargetVM.java
Labels: comp:test

#4635 Fix SVM Assert
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot

#4683 Ensure return code checked first in MXBean code
  runtime/jcl/common/extendedosmbean.c
Labels: bug, comp:vm

#4656 Fix value Type generator
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test

#4590 Implement TR_J9SharedCacheServerVM::getComponentClassFromArrayClass
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4159 Software Concurrent Scavenge Support on Power
  runtime/codert_vm/pnathelp.m4
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.hpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/gc_glue_java/configure_includes/configure_aix_ppc.mk
  runtime/gc_glue_java/configure_includes/configure_linux_ppc.mk
  runtime/gc_modron_startup/mminit.cpp
  runtime/jilgen/jilconsts.c
Labels: comp:jit

#4592 Implement TR_J9SharedCacheServerVM::getArrayClassFromComponentClass
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4677 Modify MetronomeAlarmThread for moving into OMR
  runtime/gc_glue_java/CMakeLists.txt
  runtime/gc_glue_java/MetronomeAlarmThreadDelegate.cpp
  runtime/gc_glue_java/MetronomeAlarmThreadDelegate.hpp
  runtime/gc_realtime/MetronomeAlarmThread.cpp
  runtime/gc_realtime/MetronomeAlarmThread.hpp
Labels: comp:gc

#4219 allow dollars in identifiers
  runtime/compiler/CMakeLists.txt
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/build/toolcfg/ztpf-gcc/common.mk
Labels: comp:build, comp:jit

#4695 Avoid unnecessary SVM records for field references
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jit, comp:jit:aot

#4708 Fix uninitialized variable
  runtime/compiler/control/JITaaSCompilationThread.cpp
Labels: bug, jitaas

#4690 Function implementation for TR_ResolvedRelocatableJ9JITaaSServerMethod
  runtime/compiler/env/j9methodServer.hpp
Labels: jitaas

#4664 Implement TR_J9SharedCacheServerVM::getMethodFromName
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4701 Remove unused legacy hook generation tool
  sourcetools/.classpath
  sourcetools/j9hook.jardesc
  sourcetools/j9hook/com/ibm/oti/HookTool/HookTool.java
  sourcetools/j9hook/com/ibm/oti/HookTool/IncrementalFileOutputStream.java
Labels: comp:build

#4601 Implement TR_J9SharedCacheServerVM::getLeafComponentClassFromArrayClass
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4711 Fixing compilation warning and typo
  runtime/gc_glue_java/MetronomeAlarmThreadDelegate.cpp
  runtime/gc_realtime/MetronomeAlarmThread.hpp
Labels: comp:gc

#4603 Implement TR_J9SharedCacheServerVM::getBaseComponentClass
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#4694 Eliminate redundant ClassFromCP/ClassByName records
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jit, comp:jit:aot

#3502 AArch64: Implement unsafe helper functions
  runtime/vm/module.xml
  runtime/vm/xr64/unsafeHelper.s
Labels: comp:vm

#4713 Add assertions for the UTF8 SRPs of J9ROMClass
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/tests/shared/ProtectNewROMClassDataTests.cpp
  runtime/tests/shared/ProtectSharedCacheDataTests.cpp
Labels: comp:vm

#4691 JDK12: set system properties java.vendor, java.vendor.url and java.vendor.url.bug
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/include/vendor_version.h
  runtime/vm/vmprops.c
Labels: comp:vm, depends:openjdk12, jdk12

#4706 Add DigestLoop test class
  test/functional/Java8andUp/src/org/openj9/test/java/security/DigestLoop.java
  test/functional/Java8andUp/testng.xml
Labels: comp:test

#4687 Implement constructor of TR_RelocatableJ9JITaaSServerMethod
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/rpc/protos/compile.proto
Labels: jitaas

#4625 Move CLI scavenger code to the scavenger delegate
  runtime/cmake/caches/common.cmake
  runtime/gc_base/ObjectAccessBarrier.hpp
  runtime/gc_glue_java/CMakeLists.txt
  runtime/gc_glue_java/CollectorLanguageInterfaceImpl.cpp
  runtime/gc_glue_java/CollectorLanguageInterfaceImpl.hpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_glue_java/ScavengerDelegate.hpp
  runtime/gc_glue_java/ScavengerRootClearer.cpp
  runtime/gc_glue_java/ScavengerRootClearer.hpp
  runtime/gc_glue_java/ScavengerRootScanner.cpp
  runtime/gc_glue_java/ScavengerRootScanner.hpp
  runtime/gc_glue_java/configure_includes/configure_common.mk.ftl
Labels: comp:gc

#4725 WIP: Fix a crash in TR_ResolvedJITaaSServerMethod constructor
  runtime/compiler/env/j9methodServer.cpp
Labels: jitaas

#4606 Implement TR_J9SharedCacheServerVM::getClassFromNewArrayType
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#3980 Fix Java 12 build failures
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/java.base/share/classes/java/lang/invoke/FilterArgumentsWithCombinerHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/oti/VM_MethodHandleKinds.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/MHInterpreter.cpp
  runtime/vm/MHInterpreter.hpp
  runtime/vm/bindnatv.cpp
Labels: comp:vm, jdk12

#4727 Disable callerClassLoader optimization under AOT
  runtime/compiler/ilgen/IlGenerator.cpp
Labels: comp:jit, comp:jit:aot

#4735 Remove callingMethod from getMethodFromName()
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jit

#4723 Enable SVM during startup
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit, comp:jit:aot

#4736 Initialize TEST_FLAG to blank
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#4699 Implement methods that create TR_ResolvedRelocatableJ9JITaaSServerMethod
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9methodServer.cpp
Labels: jitaas

#4604 Align mutable fields of x86 PIC data
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/CallSnippet.hpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/runtime/X86PicBuilder.inc
  runtime/compiler/x/runtime/X86PicBuilder.nasm
Labels: comp:jit, comp:jit:x

#4731 Reimplement storeValidationRecordIfNecessary
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/rpc/protos/compile.proto
Labels: jitaas

#4030 Stubs for Constants API (jep334)
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/String.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
Labels: comp:vm, jdk12

#4739 Use port_file_get_unicode_path() to covert cache file path to Unicode.
  runtime/port/win32/j9shmem.c
Labels: comp:vm, depends:omr

#4531 Java 12 test compilation
  test/TestConfig/resources/excludes/latest_exclude_12.txt
  test/functional/Java8andUp/build.xml
  test/functional/Java8andUp/java8andUpSettings.mk
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src_110/org/openj9/test/jdk/internal/InternalAccessor.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/contendedfields/TestClasses.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/Test_Class.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/Test_Package.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/Test_System.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/Test_Thread_Extra.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/management/ThreadMXBean/ThreadMXBeanTestCase.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/regression/Cmvc194781.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/typeAnnotation/IbmTypeAnnotationsApiTest.java
  test/functional/Java8andUp/src_120/org/openj9/test/jdk/internal/InternalAccessor.java
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_12.xml
Labels: comp:test, jdk12

#4726 Remove TR_SharedCacheJITaaSRelocationRuntime and add asserts
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: jitaas

#4744 Add SVM profiled class records for checkcast/instanceof
  runtime/compiler/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, comp:jit:aot, comp:jit:p, comp:jit:z

#4745 JDK12 add new method java.lang.String.transform()
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm, jdk12

#4738 JDK12 setSecurityManager according to java.security.manager special tokens
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, jdk12

#4729 Fix improper J9Class materialization during IL generation
  runtime/compiler/env/j9fieldsInfo.cpp
  runtime/compiler/env/j9method.cpp
Labels: comp:jit, comp:jit:aot

#4715 Implement methods in TR_ResolvedRelocatableJ9JITaaSServerMethod
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: jitaas

#4742 Add support for SVM relocations to Power AheadOfTimeCompile
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot, comp:jit:p

#4748 Collapse JCL shared libraries into a single version
  runtime/buildtools.mk
  runtime/cmake/version.cmake
  runtime/ddr/run_omrddrgen.mk.ftl
  runtime/include/j9lib.h.in
  runtime/jcl/CMakeLists.txt
  runtime/jcl/cl_se10/CMakeLists.txt
  runtime/jcl/cl_se10/module.xml
  runtime/jcl/cl_se11/CMakeLists.txt
  runtime/jcl/cl_se11/module.xml
  runtime/jcl/cl_se12/CMakeLists.txt
  runtime/jcl/cl_se12/module.xml
  runtime/jcl/cl_se7_basic/CMakeLists.txt
  runtime/jcl/cl_se7_basic/module.xml
  runtime/jcl/cl_se9/CMakeLists.txt
  runtime/jcl/cl_se9/module.xml
  runtime/jcl/cl_se9_before_b165/CMakeLists.txt
  runtime/jcl/cl_se9_before_b165/module.xml
  runtime/jcl/cmake/attach.cmake
  runtime/jcl/cmake/jithelpers.cmake
  runtime/jcl/cmake/se6_vm-side_lifecycle.cmake
  runtime/jcl/cmake/se6_vm-side_natives.cmake
  runtime/jcl/cmake/se7.cmake
  runtime/jcl/cmake/se8.cmake
  runtime/jcl/cmake/se9.cmake
  runtime/jcl/cmake/sun_misc_unsafe.cmake
  runtime/jcl/common/vm_scar.c
  runtime/jcl/module.xml
  runtime/makelib/uma.properties
  runtime/oti/vmconstantpool.xml
  runtime/sunvmi_jdk11/module.xml
  runtime/util/vmargs.c
  runtime/vm/vmprops.c
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/ClassRef.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/ConstantPool.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/ConstantPoolStream.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/FieldRef.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/InterfaceMethodRef.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/Main.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/PrimaryItem.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/SpecialMethodRef.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/StaticFieldRef.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/StaticMethodRef.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/VirtualMethodRef.java
Labels: comp:build, comp:vm, depends:openjdk11, depends:openjdk12, depends:openjdk8

#4749 AArch64: Add buildspec for compressed references
  buildspecs/linux_aarch64_cmprssptrs.spec
  runtime/gc_glue_java/configure_includes/configure_linux_aarch64.mk
Labels: comp:build

#4722 Handle the receiving of AOT code on JITaaS client
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/CHTable.cpp
Labels: jitaas

#4753 Exclude tests for JDK12+
  test/functional/JavaAgentTest/playlist.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:test

#4750 Replace references to deprecated reserveTrampoline/unreserveTrampoline
  runtime/compiler/runtime/J9CodeCache.cpp
Labels: comp:jit

#4761 Avoid NoSuchFieldError accessing older core file
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ConstantHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ObjectHash.java
Labels: comp:vm

#4763 Address assert issue in remoteCompilationEnd
  runtime/compiler/control/JITaaSCompilationThread.cpp
Labels: jitaas

#4746 Replace calls to indexedTrampolineLookup with findHelperTrampoline
  runtime/compiler/arm/codegen/ARMHelperCallSnippet.cpp
  runtime/compiler/arm/codegen/ARMRecompilationSnippet.cpp
  runtime/compiler/arm/runtime/Recomp.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/p/codegen/CallSnippet.cpp
  runtime/compiler/p/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/p/codegen/J9PPCInstruction.cpp
  runtime/compiler/p/codegen/J9PPCSnippet.cpp
  runtime/compiler/p/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/p/codegen/PPCRecompilationSnippet.cpp
  runtime/compiler/p/codegen/StackCheckFailureSnippet.cpp
  runtime/compiler/p/runtime/Recomp.cpp
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/J9CodeCacheManager.cpp
  runtime/compiler/runtime/J9CodeCacheManager.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/x/codegen/CheckFailureSnippet.cpp
  runtime/compiler/x/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/x/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/x/codegen/RecompilationSnippet.cpp
  runtime/compiler/x/runtime/Recomp.cpp
  runtime/compiler/x/runtime/X86PicBuilderC.cpp
  runtime/compiler/z/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/z/codegen/J9S390Snippet.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
  runtime/compiler/z/codegen/S390StackCheckFailureSnippet.cpp
Labels: comp:jit, depends:omr

#4773 Increase JVM_INTERFACE_VERSION to 6 for JDK11+
  runtime/j9vm/jvm.c
Labels: comp:vm

#4760 Remove initializeAotRuntimeInfo() call from TR_JITaaSRelocationRuntime
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: jitaas

#4794 Exclude tests for JDK12+
  test/functional/JavaAgentTest/playlist.xml
Labels: comp:test

#4779 Fix code cache issues with remote AOT
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: jitaas

#4790 Remove unnecessary findHelperTrampoline API
  runtime/compiler/runtime/J9CodeCacheManager.cpp
  runtime/compiler/runtime/J9CodeCacheManager.hpp
Labels: comp:jit

#4793 JDK12 JVM_INTERFACE_VERSION workaround
  runtime/j9vm/jvm.c
Labels: comp:vm

#4796 Remove deprecated FrontEnd indexedTrampolineLookup function
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jit

#4762 Add further SVM documentation
  doc/compiler/aot/SymbolValidationManager.md
Labels: comp:jit, comp:jit:aot

#4755 Add J9HookVMDynamicCodeLoad for JITaaS remote AOT relocation
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
Labels: jitaas

#4781 Add Power-specific relocation types needed for SVM AOT
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
Labels: comp:jit, comp:jit:aot, comp:jit:p

#4807 Fix version conditions for cmake 3.4
  runtime/jcl/CMakeLists.txt
Labels: comp:build

#4802 Get Method.methodAccessor via reflection of getMethodAccessor()
  test/functional/cmdLineTests/jvmtitests/playlist.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/retransformClasses/rtc001.java
Labels: comp:test

#4801 Add a new method for TR_J9SharedCache
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot

#4808 Add FileSystemImpl.isSecuritySupported0()
  runtime/mgmt/mgmtinit.c
  runtime/mgmt/module.xml
Labels: bug, comp:vm

#4804 Use count=0 to generate more AOT methods in SCCMLAotMethodOperation test
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/testSCCMLAotMethodOperation.xml
Labels: comp:test

#4795 Remove Java 9/10 native supports
  runtime/bcutil/bcutil.c
  runtime/bcutil/cfreader.c
  runtime/bcutil/defineclass.c
  runtime/bcutil/dynload.c
  runtime/bcverify/staticverify.c
  runtime/gc_base/GCExtensions.cpp
  runtime/gc_base/StringTable.cpp
  runtime/gc_vlhgc/RuntimeExecManager.cpp
  runtime/j9vm/jvm.c
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/jclexception.c
  runtime/jcl/common/jniidcacheinit.c
  runtime/jcl/common/mgmtruntime.c
  runtime/jcl/common/stdinit.c
  runtime/jcl/common/sun_misc_Unsafe.cpp
  runtime/jcl/common/system.c
  runtime/jcl/common/vm_scar.c
  runtime/jcl/win32/syshelp.c
  runtime/jvmti/jvmtiGeneral.c
  runtime/jvmti/jvmtiHook.c
  runtime/oti/j2sever.h
  runtime/oti/j9.h
  runtime/shared_common/OSCachemmap.cpp
  runtime/shared_common/OSCachesysv.cpp
  runtime/shared_common/SCImplementedAPI.cpp
  runtime/shared_common/hookhelpers.cpp
  runtime/shared_common/shrinit.cpp
  runtime/sunvmi/sunvmi.c
  runtime/tests/shared/OSCacheTestSysv.cpp
  runtime/util/hshelp.c
  runtime/util_core/j9shchelp.c
  runtime/vm/classloadersearch.c
  runtime/vm/classsupport.c
  runtime/vm/createramclass.cpp
  runtime/vm/exceptiondescribe.c
  runtime/vm/jnimisc.cpp
  runtime/vm/jvminit.c
  runtime/vm/rasdump.c
  runtime/vm/resolvesupport.cpp
  runtime/vm/visible.c
  runtime/vm/vmprops.c
  runtime/vm/vmthinit.c
Labels: comp:vm

#4596 Fix a bug in packed decimal shift
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
Labels: comp:jit, comp:jit:z

#4724 Enforce a return value of 0 or 1 for JNI boolean
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.hpp
Labels: comp:jit, comp:jit:z

#4819 Fix rev-parse to a length of 8 to account for different versions of git
  buildenv/jenkins/jobs/infrastructure/omrMirror
Labels: comp:build

#4812 Add avgCompTime.pl script
  runtime/compiler/tools/avgCompTime.pl
Labels: comp:jit

#4714 Allow redefinition of Object in fast HCR
  runtime/util/hshelp.c
Labels: comp:vm, enhancement

#4785 Utilize perl module to parse playlist.xml in testKitGen
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/TestConfig/settings.mk
  test/functional/JIT_Test/playlist.xml
  test/functional/JLM_Tests/playlist.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/Java9andUp/playlist.xml
  test/functional/Jsr292/playlist.xml
  test/functional/NativeTest/playlist.xml
  test/functional/cmdLineTests/J9security/playlist.xml
  test/functional/cmdLineTests/URLClassLoaderTests/playlist.xml
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
  test/functional/cmdLineTests/classesdbgddrext/playlist.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/playlist.xml
  test/functional/cmdLineTests/cmdlinetestertests/playlist.xml
  test/functional/cmdLineTests/dumpromtests/playlist.xml
  test/functional/cmdLineTests/gcRegressionTests/playlist.xml
  test/functional/cmdLineTests/gcsuballoctests/playlist.xml
  test/functional/cmdLineTests/getCallerClassTests/playlist.xml
  test/functional/cmdLineTests/gptest/playlist.xml
  test/functional/cmdLineTests/ignoreUnrecognizedVMOptions/playlist.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/playlist.xml
  test/functional/cmdLineTests/jimageinterface/playlist.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
  test/functional/cmdLineTests/lazyClassLoadingTest/playlist.xml
  test/functional/cmdLineTests/lockWordAlignment/playlist.xml
  test/functional/cmdLineTests/loopReduction/playlist.xml
  test/functional/cmdLineTests/modularityddrtests/playlist.xml
  test/functional/cmdLineTests/openssl/playlist.xml
  test/functional/cmdLineTests/pageAlignDirectMemory/playlist.xml
  test/functional/cmdLineTests/pltest/playlist.xml
  test/functional/cmdLineTests/proxyFieldAccess/playlist.xml
  test/functional/cmdLineTests/runtimemxbeanTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/DataHelperTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/ListAllCachesTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/ShareClassesSimpleSanity/playlist.xml
  test/functional/cmdLineTests/shareClassTests/StoreFilterTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/playlist.xml
  test/functional/cmdLineTests/sigxfszHandlingTest/playlist.xml
  test/functional/cmdLineTests/softmxCmdOptTest/playlist.xml
  test/functional/cmdLineTests/stackSizeInfoTest/playlist.xml
  test/functional/cmdLineTests/verboseVerification/playlist.xml
  test/functional/cmdLineTests/verbosetest/playlist.xml
  test/functional/cmdLineTests/vmRuntimeState/playlist.xml
  test/functional/cmdLineTests/xcheckjni/playlist.xml
  test/functional/cmdLineTests/xxargtest/playlist.xml
Labels: comp:test

#4825 Fix windows compile error
  runtime/util/hshelp.c
Labels: bug, comp:vm
