Repository eclipse-openj9/openj9, pull requests merged in 2019-12, with the labels that each got.

#7927 setSecurityManager() always initialize the protection domain
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#7925 Remove unnecessary debug print
  test/functional/CacheManagement/src/tests/sharedclasses/TestUtils.java
  test/functional/CacheManagement/src/tests/sharedclasses/options/TestSharedCacheJavaAPI.java
Labels: comp:test

#7907 Fix JITServer memory leak due to runtime assumptions
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
Labels: bug, comp:jitserver

#7924 Do not check ROMCLass UTF8 SPRs for AttachedDataTest
  runtime/shared_common/CacheMap.cpp
Labels: comp:test

#7872 Add options for workaround in case if Smart Address not reliable
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm, depends:omr, enhancement

#7905 Move arithmeticNeedsLiteralFromPool from OMR for Z codegen
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.hpp
Labels: arch:z, comp:jit

#7931 CMake: Update to use boot jdk tools properly
  CMakeLists.txt
  sourcetools/CMakeLists.txt
Labels: comp:build

#7930 Fix memory leak in JITServer related to IProfiler
  runtime/compiler/runtime/JITServerIProfiler.cpp
Labels: comp:jitserver

#7909 Remove references of deprecated const/compare Opcodes from OpenJ9
  runtime/compiler/optimizer/DynamicLiteralPool.cpp
  runtime/compiler/optimizer/IdiomRecognition.cpp
  runtime/compiler/optimizer/IdiomRecognition.hpp
  runtime/compiler/optimizer/IdiomTransformations.cpp
  runtime/compiler/optimizer/SequentialStoreSimplifier.cpp
Labels: comp:jit

#7885 Migrate Test Kit Gen to its own repo
  test/.gitignore
  test/README.md
  test/TestConfig/.project
  test/TestConfig/build.xml
  test/TestConfig/envSettings.mk
  test/TestConfig/featureSettings.mk
  test/TestConfig/makeGen.mk
  test/TestConfig/makefile
  test/TestConfig/openj9Settings.mk
  test/TestConfig/playlist.xsd
  test/TestConfig/resources/modes.xml
  test/TestConfig/resources/ottawa.csv
  test/TestConfig/run_configure.mk
  test/TestConfig/scripts/build_test.xml
  test/TestConfig/scripts/build_tools.xml
  test/TestConfig/scripts/configure.pl
  test/TestConfig/scripts/getDependencies.pl
  test/TestConfig/scripts/getSHA.sh
  test/TestConfig/scripts/getUniqueId.pl
  test/TestConfig/scripts/resultsSum.pl
  test/TestConfig/settings.mk
  test/TestConfig/src/org/openj9/envInfo/EnvDetector.java
  test/TestConfig/src/org/openj9/envInfo/JavaInfo.java
  test/TestConfig/src/org/openj9/envInfo/MachineInfo.java
  test/TestConfig/src/org/testKitGen/Constants.java
  test/TestConfig/src/org/testKitGen/Counter.java
  test/TestConfig/src/org/testKitGen/MainRunner.java
  test/TestConfig/src/org/testKitGen/MkGen.java
  test/TestConfig/src/org/testKitGen/MkTreeGen.java
  test/TestConfig/src/org/testKitGen/ModesDictionary.java
  test/TestConfig/src/org/testKitGen/Options.java
  test/TestConfig/src/org/testKitGen/TestInfo.java
  test/TestConfig/src/org/testKitGen/UtilsGen.java
  test/TestConfig/src/org/testKitGen/Variation.java
  test/TestConfig/testEnv.mk
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#7937 Fix memory leak due to caching of resolved methods
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: comp:jitserver

#7916 Create GC scan type for flattened arrays
  runtime/gc_glue_java/MarkingDelegate.hpp
  runtime/gc_glue_java/ObjectModel.hpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
Labels: comp:gc, enhancement, project:valhalla

#7769 Fix codecache Xlp parsing to use right-most option
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#7765 Fast-path ASCII strings in j9gc_createJavaLangString
  runtime/bcutil/ClassFileWriter.hpp
  runtime/gc/gctable.c
  runtime/gc_base/StringTable.cpp
  runtime/gc_base/gc_internal.h
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9protos.h
  runtime/oti/vm_api.h
  runtime/util/utf8hash.c
  runtime/vm/intfunc.c
  runtime/vm/resolvesupport.cpp
  runtime/vm/stringhelpers.cpp
Labels: comp:vm, perf

#7816 AArch64: Implement ZEROCHKEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#7956 Handle unsupported scanner types in ObjectIterator
  runtime/gc_glue_java/ObjectIterator.hpp
Labels: comp:gc

#7962 Add AdoptOpenJDK/openjdk-tests repository to git repository cache
  buildenv/jenkins/jobs/infrastructure/Update-Reference-Repos.groovy
Labels: comp:build

#7935 CMake: Fix classpath for j9vmcp on cygwin
  sourcetools/j9constantpool/CMakeLists.txt
Labels: comp:build

#7828 CMake: Add j9vm_shadowed_option
  runtime/CMakeLists.txt
  runtime/cmake/options.cmake
Labels: comp:build

#7860 Add JITServer spec to pipelines
  buildenv/jenkins/README.md
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#7957 Fix memory leak due to caching of resolved methods
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: comp:jitserver

#7879 Fix issues highlighted by warnings from gcc 9
  runtime/cfdumper/main.c
  runtime/dbgext/trdbgext.c
  runtime/gc_verbose_old_events/VerboseEventMetronomeOutOfMemory.cpp
  runtime/rasdump/dmpmap.c
  runtime/rasdump/j9dmp.tdf
  runtime/rasdump/trigger.c
  runtime/rastrace/trcmisc.c
  runtime/rastrace/trcoptions.c
  runtime/rastrace/trctrigger.c
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/OSCachemmap.cpp
  runtime/shared_common/OSCachesysv.cpp
  runtime/tests/shared/AttachedDataTest.cpp
  runtime/tests/shared/CorruptCacheTest.cpp
  runtime/vm/jvminitcommon.c
Labels: comp:gc, comp:vm

#7943 Increase scratchSpaceLimit for JITServer
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.hpp
Labels: comp:jitserver

#7954 Use existing sun.security.util.SecurityConstants
  jcl/src/java.base/share/classes/com/ibm/oti/util/RuntimePermissions.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/Thread.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
  jcl/src/java.base/share/classes/java/security/AccessControlContext.java
  jcl/src/java.base/share/classes/java/security/AccessController.java
Labels: comp:vm

#7809 Jenkins: Implement inheritance between builds specs
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#5920 Remove hardcoded jobs=8 from AIX configure options
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#7952 #7871 Remove getVMThreadStatus_DEPRECATED function
  runtime/oti/util_api.h
  runtime/tests/thread/thrstate/testcases1.c
  runtime/tests/thread/thrstate/testcases2.c
  runtime/tests/thread/thrstate/testcases3.c
  runtime/tests/thread/thrstate/testcases4.c
  runtime/tests/thread/thrstate/testcases5.c
  runtime/tests/thread/thrstate/testcases6.c
  runtime/tests/thread/thrstate/testsetup.c
  runtime/tests/thread/thrstate/thrstatetest.h
  runtime/util/thrinfo.c
Labels: comp:vm

#7806 Properly free CompilationInfoPerThread resources
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
Labels: comp:jitserver

#7964 Add missing barriers to jProfiling helpers
  runtime/compiler/runtime/ValueProfiler.cpp
Labels: bug, comp:jit

#7981 Jenkins: Fix bug in getScalarField
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#7984 Fix compilation failure
  runtime/gc_glue_java/MarkingDelegate.hpp
Labels: comp:gc

#7948 Fix JITServer memory leak due to runtime assumptions
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
Labels: comp:jitserver

#7978 CMake: Make J9VM_OPT_CUDA shadow the OMR flag
  runtime/cmake/caches/common.cmake
  runtime/cmake/options.cmake
Labels: comp:build

#7963 Refactor flattened array barrier API
  runtime/gc/gctable.c
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/gc_base/ObjectAccessBarrier.hpp
  runtime/gc_base/accessBarrier.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_include/ObjectAccessBarrierAPI.hpp
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:gc

#7971 AArch64: Add jitCollapseJNIReferenceFrame helper
  runtime/compiler/runtime/Runtime.cpp
Labels: arch:aarch64, comp:jit

#7992 Use sparse checkout path for Git-SCM
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
Labels: comp:build

#7974 JCL Stubs for JEP 359
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, jdk14

#8007 Use sparse checkout path for clones on workers
  buildenv/jenkins/jobs/pipelines/Build-Any-Platform.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform.groovy
Labels: comp:build

#7975 CMake: Don't link with -z defs on osx
  runtime/cmake/platform.cmake
Labels: comp:build

#8010 Jenkins: Update handling of test target names
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#7723 Add GC Mappings
  runtime/gc_modron_startup/mmparse.cpp
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:gc, comp:vm, depends:doc

#7987 Pass correct prefix length to removeCacheVersionAndGen()
  runtime/shared_common/OSCache.cpp
Labels: comp:vm

#7990 Added the -Xshareclasses:none option tests
  test/functional/JIT_Test/playlist.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/Jsr335/playlist.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:test

#7977 Increase scratchSpaceLimit for JITServer
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.hpp
Labels: comp:jitserver

#8013 Update cacheManagement project default task as build
  test/functional/CacheManagement/build.xml
Labels: comp:test

#8011 CMake: Mark libffi assembly files on AIX
  runtime/libffi/CMakeLists.txt
Labels: comp:build

#7892 CMake: Dont pass -static-libgcc or -static-libstdc++ on osx
  runtime/compiler/CMakeLists.txt
Labels: comp:build

#7443 Update GC code & script for RISC-V in OpenJ9 (part4/GC)
  runtime/gc_glue_java/configure_includes/configure_linux_riscv.mk
Labels: comp:gc

#7938 Add downstream pipelines status auto-refresh
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#8008 CMake: use ".so" as shared lib extension on aix
  runtime/cmake/platform.cmake
Labels: comp:build

#7942 Add structral comparison barriers
  runtime/gc/gctable.c
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/gc_base/ObjectAccessBarrier.hpp
  runtime/gc_base/accessBarrier.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_include/ObjectAccessBarrierAPI.hpp
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:gc

#7785 Add interpreter emulator for ECS in inliner
  runtime/compiler/build/files/common.mk
  runtime/compiler/optimizer/CMakeLists.txt
  runtime/compiler/optimizer/EstimateCodeSize.cpp
  runtime/compiler/optimizer/EstimateCodeSize.hpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/InterpreterEmulator.hpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.hpp
Labels: comp:jit, enhancement

#8030 Class.isRecord stub to always return false
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#8031 Tidy up BufferedMemory & BufferedMemorySource
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/memory/BufferedMemory.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/memory/BufferedMemorySource.java
Labels: comp:vm

#7958 Disable TOC for Remote Compilations
  runtime/compiler/control/J9Options.cpp
Labels: arch:power, comp:jit, depends:omr

#7564 AArch64: Update Build Instructions
  doc/build-instructions/Build_Instructions_V11.md
Labels: arch:aarch64, comp:doc

#8042 Fix problems with jenkins inheritance pr
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8044 Fix infinite loop for downstream jobs auto-refresh
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#8058 Catch PR trigger Jenkins test compile
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#8057 Replace native libray unpack with awt in test_callNativesOnNewClassLoaders
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_ClassLoader.java
Labels: comp:test

#8009 Replace metronome usage of deprecated Windows timeSetEvent()
  runtime/gc_realtime/MetronomeAlarm.cpp
  runtime/gc_realtime/MetronomeAlarm.hpp
Labels: comp:gc

#8006 Initialize header of stack allocated object
  runtime/compiler/optimizer/EscapeAnalysis.cpp
Labels: bug, comp:jit

#8067 Add removal of content in /cores on osx
  buildenv/jenkins/jobs/infrastructure/Cleanup-Nodes.groovy
Labels: comp:build

#7832 Fix JITServer java_lang_invoke_PermuteHandle_permuteArgs
  runtime/compiler/env/j9method.cpp
Labels: comp:jitserver

#8055 DDR: Add workarounds for xlclang 16 on AIX
  buildenv/jenkins/variables/defaults.yml
  runtime/ddr/CMakeLists.txt
  runtime/ddr/blacklist
  runtime/ddr/gcddr.cpp
  runtime/ddr/module.xml
  runtime/ddr/overrides-gc
  runtime/ddr/run_omrddrgen.mk.ftl
  runtime/ddr/vmddr.cpp
  runtime/gc_base/StringTable.hpp
  test/functional/DDR_Test/playlist.xml
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
  test/functional/cmdLineTests/classesdbgddrext/playlist.xml
  test/functional/cmdLineTests/modularityddrtests/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/playlist.xml
Labels: comp:vm

#7955 Populate cache corruption information for non-zero layer cache
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/shared_common/CacheMapStats.hpp
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/CompositeCacheImpl.hpp
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/OSCache.hpp
  runtime/shared_common/OSCachemmap.cpp
  runtime/shared_common/OSCachemmap.hpp
  runtime/shared_common/OSCachesysv.cpp
  runtime/shared_common/OSCachesysv.hpp
  runtime/shared_common/j9shr.tdf
Labels: comp:vm, depends:doc

#7972 AArch64: Add initial implementation of JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.hpp
Labels: arch:aarch64, comp:jit

#7920 Propagate arg info from caller
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
Labels: comp:jit, depends:omr, enhancement

#7989 Create callsites in ecs using InterpreterEmulator
  runtime/compiler/optimizer/EstimateCodeSize.hpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#7986 Add newValue JIT helpers
  runtime/codert_vm/arm64nathelp.m4
  runtime/codert_vm/armnathelp.m4
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/pnathelp.m4
  runtime/codert_vm/xnathelp.m4
  runtime/codert_vm/znathelp.m4
  runtime/compiler/runtime/asmprotos.h
  runtime/oti/j9nonbuilder.h
Labels: comp:vm

#8073 Remove always on ifdef code
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/runtime/codertinit.cpp
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/ConstantPoolStream.java
Labels: comp:jit, comp:vm

#8082 Add comment on where _recompilationMethodInfo is freed
  runtime/compiler/control/JITServerCompilationThread.cpp
Labels: comp:jitserver

#8090 Disable auto-build for RISC-V build specs
  buildspecs/linux_riscv64.spec
  buildspecs/linux_riscv64_cmprssptrs.spec
  buildspecs/linux_riscv64_cmprssptrs_cross.spec
  buildspecs/linux_riscv64_cross.spec
Labels: comp:build

#8092 RISC-V: set build_product to false
  buildspecs/linux_riscv64.spec
  buildspecs/linux_riscv64_cmprssptrs.spec
  buildspecs/linux_riscv64_cmprssptrs_cross.spec
  buildspecs/linux_riscv64_cross.spec
Labels: comp:build

#8091 Remove reference to OMR promotion tags
  buildenv/jenkins/README.md
Labels: comp:doc

#8048 Fix serialization of entire CHTable
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/JITServerPersistentCHTable.cpp
  runtime/compiler/env/JITServerPersistentCHTable.hpp
  runtime/compiler/env/PersistentCHTable.hpp
Labels: comp:jitserver

#8083 Fix assertions in debug build
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: comp:jit

#8077 Replace native library unpack in test_callNativesOnNewClassLoaders
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_ClassLoader.java
Labels: comp:test

#7772 Fix the CacheUniqueID
  runtime/nls/shrc/j9shr.nls
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/CompositeCacheImpl.hpp
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/OSCache.hpp
  runtime/shared_common/OSCachemmap.cpp
  runtime/shared_common/OSCachemmap.hpp
  runtime/shared_common/OSCachesysv.cpp
  runtime/shared_common/OSCachesysv.hpp
  runtime/shared_common/j9shr.tdf
Labels: comp:vm

#8069 Mirror new changes in JIT to JITServer
  runtime/compiler/env/j9method.cpp
Labels: comp:jitserver

#8107 Replace native library unpack with j9ben
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_ClassLoader.java
Labels: comp:test

#8039 Enable OpenSSL build in JITServer
  runtime/compiler/net/ClientStream.cpp
  runtime/compiler/net/ClientStream.hpp
  runtime/compiler/net/CommunicationStream.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/SSLProtobufStream.hpp
  runtime/compiler/net/ServerStream.cpp
  runtime/compiler/net/ServerStream.hpp
Labels: comp:jitserver

#8101 Remove obsolete configuration for Java12
  jcl/jpp_configuration.xml
Labels: comp:build

#8105 Initialize MM_GCExtensions::classLoaderManager field
  runtime/gc_base/GCExtensions.hpp
Labels: bug, comp:gc

#8108 Add release notes for 0.18 milestone one
  doc/release-notes/0.18/0.18.md
Labels: comp:doc

#8112 Fix initialization of j9object_t object
  runtime/jcl/common/java_lang_Class.cpp
Labels: comp:vm

#8115 Set JITServer Compilations Options on the client instead
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#7838 AArch64: Add ConstantDataSnippet.cpp to the source list in makefile
  runtime/compiler/build/files/target/aarch64.mk
Labels: arch:aarch64, comp:jit

#8078 AArch64: Add generateBinaryEncodingPrePrologue in J9CodeGenerator
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.hpp
Labels: arch:aarch64, comp:jit

#8119 Add new committer to admin_list.yml
  buildenv/jenkins/variables/admin_list.yml
Labels: comp:infra

#7570 Added the tests for the Multi-layer caches sub-options
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-3.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/exclude.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/exclude_openj9.xml
Labels: comp:test

#8118 Don't exclude special.system testing on the 0.18 branch
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8116 Re-enable special.system jdk8 testing on Windows
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8132 Update test lib location
  test/.gitignore
  test/Utils/.classpath
  test/functional/IllegalAccessError_for_protected_method/.classpath
  test/functional/JIT_Test/.classpath
  test/functional/Java8andUp/.classpath
  test/functional/Java9andUp/.classpath
  test/functional/Jsr292/.classpath
  test/functional/Jsr335/.classpath
  test/functional/SharedCPEntryInvokerTests/.classpath
  test/functional/TestExample/.classpath
  test/functional/TestUtilities/.classpath
  test/functional/UnsafeTest/.classpath
  test/functional/Valhalla/.classpath
Labels: comp:test

#8130 Jenkins: Fix handling of default test targets
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#8122 Move test_callNativesOnNewClassLoaders to a native test bucket
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_ClassLoader.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_ClassLoader_Native.java
  test/functional/Java8andUp/testng.xml
Labels: comp:test

#8129 Set JITServer Compilations Options on the client instead (0.18.0)
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#8128 Initialize MM_GCExtensions::classLoaderManager field (0.18.0)
  runtime/gc_base/GCExtensions.hpp
Labels: comp:gc

#8120 AArch64: Enable TR_PreXRecompile::compensate
  runtime/compiler/runtime/RuntimeAssumptions.cpp
Labels: arch:aarch64, comp:jit

#7998 AArch64: Implement checkForJNIExceptions in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.hpp
Labels: arch:aarch64, comp:jit

#8003 AArch64: Implement getReturnRegisterFromDeps in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
Labels: arch:aarch64, comp:jit

#8117 Use FrontEnd implementations of instanceOfOrCheckCast routines
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jitserver

#8149 Use FrontEnd implementations of instanceOfOrCheckCast routines (0.18.0)
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jitserver

#6429 Remove Unused build flags
  buildspecs/aix_ppc-64.spec
  buildspecs/aix_ppc-64_cmprssptrs.spec
  buildspecs/aix_ppc.spec
  buildspecs/j9.flags
  buildspecs/linux_390-64.spec
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_390.spec
  buildspecs/linux_aarch64.spec
  buildspecs/linux_aarch64_cmprssptrs.spec
  buildspecs/linux_aarch64_cmprssptrs_cross.spec
  buildspecs/linux_aarch64_cross.spec
  buildspecs/linux_arm.spec
  buildspecs/linux_arm_linaro.spec
  buildspecs/linux_ppc-64.spec
  buildspecs/linux_ppc-64_cmprssptrs.spec
  buildspecs/linux_ppc-64_cmprssptrs_le.spec
  buildspecs/linux_ppc-64_cmprssptrs_le_gcc.spec
  buildspecs/linux_ppc-64_le.spec
  buildspecs/linux_ppc-64_le_gcc.spec
  buildspecs/linux_ppc.spec
  buildspecs/linux_x86.spec
  buildspecs/linux_ztpf_390-64.spec
  buildspecs/win_x86-64.spec
  buildspecs/win_x86-64_cmprssptrs.spec
  buildspecs/win_x86.spec
  buildspecs/zos_390-64.spec
  buildspecs/zos_390-64_cmprssptrs.spec
  buildspecs/zos_390.spec
  runtime/cmake/caches/win_x86-64.cmake
  runtime/include/j9cfg.h.in
Labels: comp:build

#8110 Add newValue JIT helpers take2
  runtime/codert_vm/arm64nathelp.m4
  runtime/codert_vm/armnathelp.m4
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/pnathelp.m4
  runtime/codert_vm/xnathelp.m4
  runtime/codert_vm/znathelp.m4
  runtime/compiler/compile/J9AliasBuilder.cpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/asmprotos.h
  runtime/jilgen/jilconsts.c
  runtime/oti/j9nonbuilder.h
Labels: comp:jit, comp:vm, depends:omr

#8100 Add support for single level peeking in EA under HCR
  runtime/compiler/build/files/common.mk
  runtime/compiler/optimizer/CMakeLists.txt
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/EscapeAnalysis.hpp
  runtime/compiler/optimizer/EscapeAnalysisTools.cpp
  runtime/compiler/optimizer/EscapeAnalysisTools.hpp
  runtime/compiler/optimizer/PostEscapeAnalysis.cpp
  runtime/compiler/optimizer/PreEscapeAnalysis.cpp
  runtime/compiler/optimizer/PreEscapeAnalysis.hpp
Labels: comp:jit, enhancement

#8148 Fix data race when locking JProfiling tables
  runtime/compiler/runtime/ValueProfiler.cpp
Labels: comp:jit

#8027 Move SPEC suffixes to BUILD_IDENTIFIER for test jobs
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#7993 AArch64: Implement buildJNICallOutFrame in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.hpp
Labels: arch:aarch64, comp:jit

#7994 AArch64: Implement restoreJNICallOutFrame in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.hpp
Labels: arch:aarch64, comp:jit

#7884 Command Line DDR tests for ValueTypes
  test/functional/Valhalla/src/org/openj9/test/lworld/DDRValueTypeTest.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/cmdLineTests/valuetypeddrtests/build.xml
  test/functional/cmdLineTests/valuetypeddrtests/flattenedvaluetypeddrtests.xml
  test/functional/cmdLineTests/valuetypeddrtests/playlist.xml
  test/functional/cmdLineTests/valuetypeddrtests/unflattenedvaluetypeddrtests.xml
Labels: comp:test

#7999 AArch64: Implement adjustReturnValue in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
Labels: arch:aarch64, comp:jit

#8157 AArch64: Update OpenSSL version in Dockerfile
  buildenv/docker/jdk11/aarch64_CC/arm-linux-aarch64/Dockerfile
Labels: arch:aarch64

#8158 0.18: Fix data race when locking JProfiling tables
  runtime/compiler/runtime/ValueProfiler.cpp
Labels: comp:jit

#8160 Fix ARM 32bit jit helpers
  runtime/codert_vm/armnathelp.m4
Labels: comp:vm

#7996 AArch64: Implement releaseVMAccess in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.hpp
Labels: arch:aarch64, comp:jit

#7997 AArch64: Implement acquireVMAccess in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.hpp
Labels: arch:aarch64, comp:jit

#8000 AArch64: Implement generateMethodDispatch in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.hpp
Labels: arch:aarch64, comp:jit

#8161 AArch64: Fix jitNewValue helpers
  runtime/codert_vm/arm64nathelp.m4
Labels: arch:aarch64

#8152 Fix issue -Xverbosegclog number of cycles must be greater than 0
  runtime/verbose/verbose.c
Labels: comp:vm

#8167 AArch64: Add compensation code for PatchJNICallSite
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/RuntimeAssumptions.cpp
Labels: arch:aarch64, comp:jit

#8145 Dynamically load libssl in JITServer
  runtime/compiler/CMakeLists.txt
  runtime/compiler/build/files/common.mk
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/control/rossa.cpp
  runtime/compiler/net/CMakeLists.txt
  runtime/compiler/net/ClientStream.cpp
  runtime/compiler/net/CommunicationStream.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/LoadSSLLibs.cpp
  runtime/compiler/net/LoadSSLLibs.hpp
  runtime/compiler/net/SSLProtobufStream.hpp
  runtime/compiler/net/ServerStream.cpp
Labels: comp:jitserver

#8168 AArch64: Handle TR_BodyInfoAddressLoad in initializeAOTRelocationHeader
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
Labels: arch:aarch64, comp:jit:aot

#8153 Fix initialization of J9::Compilation::_isOutOfProcessCompilation
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#8177 Fix compilation failure in zLinux due to missing include
  runtime/compiler/z/runtime/Recomp.cpp
Labels: comp:jitserver

#8179 Fix initialization of J9::Compilation::_isOutOfProcessCompilation (0.…
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#8180 Fix compilation failure in zLinux due to missing include (0.18.0)
  runtime/compiler/z/runtime/Recomp.cpp
Labels: comp:jitserver

#8182 Dynamically load libssl for JITServer (0.18.0)
  runtime/compiler/CMakeLists.txt
  runtime/compiler/build/files/common.mk
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/control/rossa.cpp
  runtime/compiler/net/CMakeLists.txt
  runtime/compiler/net/ClientStream.cpp
  runtime/compiler/net/CommunicationStream.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/LoadSSLLibs.cpp
  runtime/compiler/net/LoadSSLLibs.hpp
  runtime/compiler/net/SSLProtobufStream.hpp
  runtime/compiler/net/ServerStream.cpp
Labels: comp:jitserver

#8186 Couple of more checks to prevent local compilations in JITServer
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/JitRuntime.cpp
Labels: comp:jitserver

#8185 Increase JITServer default timeout value
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#8187 Increase JITServer default timeout value (0.18.0)
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#8188 Couple of more checks to prevent local compilations in JITServer (0.1…
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/JitRuntime.cpp
Labels: comp:jitserver
