Repository eclipse-openj9/openj9, pull requests merged in 2019-10, with the labels that each got.

#6911 Use correct query to get RAM Method for remote compilations
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: arch:z, comp:jitserver

#7271 Backport JITServer VMJ9-related changes from master
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/runtime/MetaData.cpp
Labels: comp:jitserver

#7220 AArch64: Temporarily change the usage of x18
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#7298 (v0.17.0) Resetting dump statistics after event
  runtime/rasdump/javadump.cpp
Labels: comp:vm, depends:doc

#7302 (v0.17.0) Fix off-by-one issue in intrinsicIndexOfString* intrinsic on Z
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  runtime/compiler/env/j9method.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/com/ibm/jit/Test_JITHelpers.java
  test/functional/Java8andUp/src/org/openj9/test/string/StringIndexOfString.java
  test/functional/Java8andUp/testng.xml
Labels: arch:z, comp:jit, comp:test

#7296 AArch64: Remove unused symbols in arm64helpers.m4
  runtime/oti/arm64helpers.m4
Labels: arch:aarch64, comp:jit

#7272 Eliminate VM_isSameOrSuperClass messages
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/protos/compile.proto
Labels: comp:jitserver

#7286 CMake: Add zos support to libffi
  runtime/libffi/CMakeLists.txt
Labels: arch:z, comp:build

#7270 Change printStats on Multi-layer caches.
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9nonbuilder.h
  runtime/rasdump/javadump.cpp
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/CompositeCacheImpl.hpp
  runtime/shared_common/sharedconsts.h
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
Labels: comp:vm, depends:doc

#7310 Add javadoc comments to openj9 modules
  jcl/src/openj9.cuda/share/classes/module-info.java
  jcl/src/openj9.dataaccess/share/classes/module-info.java
  jcl/src/openj9.dtfjview/share/classes/module-info.java
  jcl/src/openj9.gpu/share/classes/module-info.java
  jcl/src/openj9.jvm/share/classes/module-info.java
  jcl/src/openj9.sharedclasses/share/classes/module-info.java
  jcl/src/openj9.traceformat/share/classes/module-info.java
  jcl/src/openj9.zosconditionhandling/share/classes/module-info.java
Labels: comp:vm

#7317 (v0.17.0) Add javadoc comments to openj9 modules
  jcl/src/openj9.cuda/share/classes/module-info.java
  jcl/src/openj9.dataaccess/share/classes/module-info.java
  jcl/src/openj9.dtfjview/share/classes/module-info.java
  jcl/src/openj9.gpu/share/classes/module-info.java
  jcl/src/openj9.jvm/share/classes/module-info.java
  jcl/src/openj9.sharedclasses/share/classes/module-info.java
  jcl/src/openj9.traceformat/share/classes/module-info.java
  jcl/src/openj9.zosconditionhandling/share/classes/module-info.java
Labels: comp:vm

#7309 Fix the incorrect whitespace characters on the comments
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/diagnostics/base/DiagnosticProperties.java
  runtime/bcutil/ROMClassCreationContext.hpp
  runtime/oti/bcverify_api.h
Labels: comp:vm

#7311 Make Unsafe constructor private to prevent instantiation
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
Labels: comp:vm

#7314 (v0.17.0) Make Unsafe constructor private to prevent instantiation
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
Labels: comp:vm

#7284 CMake: Add zos handling to j9vm_gen_asm
  runtime/cmake/J9vmGenAsm.cmake
Labels: arch:z, comp:build

#7322 (v0.17.0) Change printStats on Multi-layer caches.
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9nonbuilder.h
  runtime/rasdump/javadump.cpp
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/CompositeCacheImpl.hpp
  runtime/shared_common/sharedconsts.h
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
Labels: comp:vm, depends:doc

#7316 Fix handleStartupError() to return the result of deleting the cache.
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
Labels: comp:vm

#7313 Move DiagnosticProperties & DiagnosticUtils to openj9.internal.tools.attach.target
  jcl/src/java.base/share/classes/module-info.java.extra
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Attachment.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticProperties.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticUtils.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/IPC.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/attacher/AttacherDiagnosticsProvider.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jcmd.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jmap.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jstack.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Util.java
  runtime/jcl/common/dump.c
  runtime/jcl/common/jclvm.c
  runtime/jcl/common/mgmtthread.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/oti/jclprots.h
  test/functional/Java8andUp/build.xml
  test/functional/Java8andUp/playlist.xml
Labels: comp:vm

#7325 Fix DDR shrc commands
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/ShrCCommand.java
Labels: comp:vm

#7326 (v0.17.0) Fix handleStartupError() to return the result of deleting the cache and DDR shrc command
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/ShrCCommand.java
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
Labels: comp:vm

#7150 Enable BCU asserts by default
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/j9bcu.tdf
Labels: comp:vm

#7315 AArch64: Use of collected reference reg in buildPrivateLinkageArgs()
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#7323 Remove non-ASCII characters and trailing whitespace
  buildenv/jenkins/ARTIFACTORY.md
  buildenv/jenkins/jobs/infrastructure/artifactory_cleanup.groovy
  doc/compiler/hcr/NextGenHCR.md
  doc/release-notes/0.14/0.14.md
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticProperties.java
  longabout.html
  runtime/bcutil/ROMClassCreationContext.hpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/oti/bcverify_api.h
  test/functional/JIT_Test/src/jit/test/jitt/codecache/BoundaryTest.java
  test/functional/JIT_Test/src/jit/test/jitt/codecache/CodeCacheObj.java
Labels: comp:doc, comp:test

#7067 master: Indy error checking for null resolution Java 11+
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/indyn/BootstrapMethods.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/indyn/Helper.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/indyn/IndyTest.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/indyn/SimpleIndyGenerator.java
Labels: comp:vm, jdk11

#7335 v0.17.0: Indy error checking for null resolution Java 11+
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/indyn/BootstrapMethods.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/indyn/Helper.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/indyn/IndyTest.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/indyn/SimpleIndyGenerator.java
Labels: comp:vm

#7161 Enable Ownable Synchronizers tracking for Concurrent Scavenger
  runtime/gc_api/HeapIteratorAPI.cpp
  runtime/gc_api/HeapRootScanner.cpp
  runtime/gc_base/GCExtensions.cpp
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/modronapi.cpp
  runtime/gc_check/CheckEngine.cpp
  runtime/gc_check/CheckOwnableSynchronizerList.cpp
  runtime/gc_glue_java/ConfigurationDelegate.hpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_realtime/OwnableSynchronizerObjectBufferRealtime.cpp
  runtime/gc_vlhgc/HeapRegionDescriptorVLHGC.cpp
Labels: comp:gc

#7290 Preserve FPRs before calling JIT helper on Power
  runtime/compiler/p/runtime/PicBuilder.spp
Labels: arch:power, comp:jit

#7321 (v0.17.0) Preserve FPRs before calling JIT helper on Power
  runtime/compiler/p/runtime/PicBuilder.spp
Labels: arch:power, bug, comp:jit

#7341 Adjust hook section in javacore files
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#7343 CMake: add missing sources to vm for zos
  runtime/vm/CMakeLists.txt
Labels: comp:build

#7308 CMake: Add m4 defines when generating zos asm for codert
  runtime/codert_vm/CMakeLists.txt
Labels: comp:build

#7291 Merge PR 4032 from JITServer to master
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/infra/J9MonitorTable.cpp
  runtime/compiler/infra/J9MonitorTable.hpp
  runtime/compiler/ras/DebugExt.cpp
Labels: comp:jitserver

#7330 AArch64: Add "defined(TR_HOST_ARM64)" to AOT-related #ifdefs
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: arch:aarch64

#7347 AArch64: Remove an obsolete comment from arm64nathelp.m4
  runtime/codert_vm/arm64nathelp.m4
Labels: arch:aarch64

#6569 Add an entry to support newvalue into CodeGenGPU
  runtime/compiler/codegen/CodeGenGPU.cpp
Labels: comp:jit, depends:omr, enhancement

#7353 Remove ignore for files which are now generated elsewhere
  debugtools/DDR_VM/.gitignore
Labels: comp:build

#7208 Created a general function for retrying commands
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#7351 Always print out the layer number in the cache statistics.
  runtime/shared_common/CacheMap.cpp
Labels: comp:vm

#7350 (v0.17.0) Always print out the layer number in the cache statistics.
  runtime/shared_common/CacheMap.cpp
Labels: comp:vm

#7356 Cherry pick #7279 and #7313 for sanity test on the JITServer br…
  jcl/src/java.base/share/classes/module-info.java.extra
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Advertisement.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Attachment.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachmentConnection.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Command.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticProperties.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticUtils.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/FileLock.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/FilelockTimer.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/IPC.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/IbmAttachOperationFailedException.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Reply.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Response.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/TargetDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/WaitLoop.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/package-info.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9AttachProvider.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachineDescriptor.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/attacher/AttacherDiagnosticsProvider.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jcmd.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jmap.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jstack.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Util.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedOperatingSystemMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedRuntimeMXBeanImpl.java
  runtime/jcl/common/attach.c
  runtime/jcl/common/dump.c
  runtime/jcl/common/jclvm.c
  runtime/jcl/common/mgmtthread.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/attach_exports.xml
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/oti/j9java8packages.gperf
  runtime/oti/j9java8packages.h
  runtime/oti/jclprots.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/bindnatv.cpp
  runtime/vm/jniinv.c
  test/functional/JLM_Tests/build.xml
  test/functional/Java10andUp/build.xml
  test/functional/Java11andUp/build.xml
  test/functional/Java8andUp/build.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/fileLock/NativeFileLock.java
  test/functional/Java9andUp/build.xml
  test/functional/TestUtilities/src/org/openj9/test/attachAPI/TargetManager.java
  test/functional/cmdLineTests/jvmtitests/build.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/util/attachingAgent.java
Labels: comp:jitserver

#7307 Fix PR 4032 to be merged into master
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/infra/J9MonitorTable.cpp
Labels: comp:jitserver

#7236 Merge JITServerRelocationRuntime from the jitaas branch
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: comp:jitserver

#7312 Apply JITServer CompilationInfo refactoring to non-JITServer mo…
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#7359 Update JITServer build documentation
  doc/compiler/jitserver/Build.md
Labels: comp:jitserver

#7333 AArch64: Add a register map to snippet gc map of ARM64HelperCallSnippet
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#7365 AArch64: Fix build failure with storeAOTInSharedCache()
  runtime/compiler/control/CompilationRuntime.hpp
Labels: arch:aarch64, bug, comp:jit

#7366 AArch64: Temporarily disable UnresolvedDataSnippet
  runtime/compiler/aarch64/codegen/J9UnresolvedDataSnippet.hpp
Labels: arch:aarch64, comp:jit

#7369 AArch64: Use VirtualUnresolvedSnippet when compileRelocatableCode()
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#7227 Add detailed build instructions for OpenJDK 13
  buildenv/aix/jdk11/yum_install_aix-ppc64.txt
  buildenv/aix/jdk13/yum_install_aix-ppc64.txt
  buildenv/docker/jdk13/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk13/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk13/x86_64/ubuntu16/Dockerfile
  doc/build-instructions/Build_Instructions_V13.md
Labels: comp:build

#6866 Specify cfgRegion in realEstimateCodeSize
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.hpp
Labels: comp:jit

#7375 CMake: update link flags for testjep178
  runtime/tests/redirector/jep178/CMakeLists.txt
Labels: comp:build, comp:test

#7378 CMake: Fix typos in jcl exports
  runtime/jcl/exports.cmake
Labels: comp:build

#6953 Solaris spec update
  test/TestConfig/TKGJ/src/org/openj9/envInfo/JavaInfo.java
  test/TestConfig/resources/ottawa.csv
Labels: comp:test

#7399 Adding package `libxrandr-dev` to X86 and PPC64le JDK11 Dockerfile
  buildenv/docker/jdk11/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk11/x86_64/ubuntu16/Dockerfile
Labels: comp:build

#7381 Add tests for -XX:[+|-]ClassRelationshipVerifier
  runtime/tests/bcverify/CMakeLists.txt
  runtime/tests/bcverify/relationships/bcvrelationships.c
  runtime/tests/bcverify/relationships/module.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/classRelationshipVerifier/ClassGenerator.java
  test/functional/Java8andUp/src/org/openj9/test/classRelationshipVerifier/CustomClassLoader.java
  test/functional/Java8andUp/src/org/openj9/test/classRelationshipVerifier/TestClassRelationshipVerifier.java
  test/functional/Java8andUp/src/org/openj9/test/vmcheck/TestLoadingClassesFromJarfile.java
  test/functional/Java8andUp/testng.xml
Labels: comp:test

#7215 Merge JITClientCompThread from the jitaas branch
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/CMakeLists.txt
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.hpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: comp:jitserver

#7305 Port cmdLineTester_lockWordAlignment_Object_* tests
  test/functional/cmdLineTests/lockWordAlignment/alignment.xml
  test/functional/cmdLineTests/lockWordAlignment/alignmentSettings.mk
  test/functional/cmdLineTests/lockWordAlignment/playlist.xml
Labels: comp:test

#7402 Updated error handling for MethodHandle invocation
  runtime/vm/MHInterpreter.cpp
  runtime/vm/MHInterpreter.hpp
Labels: comp:vm

#7372 Fix unsafeHelper.m4 to use correct mov instruction.
  runtime/vm/xa64/unsafeHelper.m4
Labels: comp:vm

#7371 Thread.cleanup() invokes TerminatingThreadLocal.threadTerminated
  jcl/src/java.base/share/classes/java/lang/Thread.java
Labels: comp:vm

#7163 Fix Varargs.invokeWithArguments to process excess paramenter
  jcl/src/java.base/share/classes/java/lang/invoke/VarargsCollectorHandle.java
Labels: comp:vm

#7153 Restrict MHs.dropLookupMode checks
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm

#7357 Fix allowance for padding after lookupswitch bytecode
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/ByteCodeDumper.java
Labels: comp:vm

#7237 Update JITServerRelocationRuntime to be merged into master
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
Labels: comp:jitserver

#7394 AArch64: Fix GC Map set to StackCheckFailureSnippet
  runtime/compiler/aarch64/codegen/StackCheckFailureSnippet.cpp
Labels: arch:aarch64, comp:jit

#7374 Back port PR7312 from the master branch
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#7403 (v0.17.0) Fix unsafeHelper.m4 to use correct mov instruction.
  runtime/vm/xa64/unsafeHelper.m4
Labels: comp:vm

#7413 (v0.17.0) Fix allowance for padding after lookupswitch bytecode
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/ByteCodeDumper.java
Labels: comp:vm

#6264 AArch64: Implement AheadOfTimeCompile::processRelocations()
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
Labels: arch:aarch64, comp:jit, comp:jit:aot

#7222 AArch64: Implement initializeAOTRelocationHeader
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.hpp
Labels: arch:aarch64, comp:jit, comp:jit:aot

#7388 Enable reloLogging for JITServer
  runtime/compiler/runtime/MetaData.cpp
Labels: arch:power, comp:jitserver

#7408 AArch64: Enable TR_ALLOC() in ARM64Relocation
  runtime/compiler/aarch64/codegen/ARM64AOTRelocation.hpp
Labels: arch:aarch64, comp:jit

#7395 AArch64: Fix for dependencies in virtual unresolved call
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#7416 Add a javadoc comment to the jdk.jcmd module.
  jcl/src/jdk.jcmd/share/classes/module-info.java
Labels: comp:vm

#6931 Runtime compressed refs work
  runtime/compiler/arm/codegen/J9ARMEvaluator.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9fieldsInfo.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/p/codegen/J9PPCSnippet.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/runtime/GPUHelpers.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationTarget.cpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/Trampoline.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/runtime/X86Codert.nasm
  runtime/compiler/x/runtime/X86LockReservation.nasm
  runtime/compiler/x/runtime/X86PicBuilder.inc
  runtime/compiler/x/runtime/X86Unresolveds.nasm
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/jilgen/jilconsts.c
  runtime/oti/j9accessbarrier.h
  runtime/vm/ObjectMonitor.cpp
Labels: comp:jit

#7424 (v0.17.0) Add a javadoc comment to the jdk.jcmd module.
  jcl/src/jdk.jcmd/share/classes/module-info.java
Labels: comp:vm

#7232 Back port changes in JITClientCompilationThread from master
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: comp:jitserver

#7418 (v0.17.0-release) Backport #7279 and #7313
  jcl/src/java.base/share/classes/module-info.java.extra
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Advertisement.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Attachment.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachmentConnection.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Command.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticProperties.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticUtils.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/FileLock.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/FilelockTimer.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/IPC.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/IbmAttachOperationFailedException.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Reply.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Response.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/TargetDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/WaitLoop.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/package-info.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9AttachProvider.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachineDescriptor.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/attacher/AttacherDiagnosticsProvider.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jcmd.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jmap.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jstack.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Util.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedOperatingSystemMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedRuntimeMXBeanImpl.java
  runtime/jcl/common/attach.c
  runtime/jcl/common/dump.c
  runtime/jcl/common/jclvm.c
  runtime/jcl/common/mgmtthread.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/attach_exports.xml
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/oti/j9java8packages.gperf
  runtime/oti/j9java8packages.h
  runtime/oti/jclprots.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/bindnatv.cpp
  runtime/vm/jniinv.c
  test/functional/JLM_Tests/build.xml
  test/functional/Java10andUp/build.xml
  test/functional/Java11andUp/build.xml
  test/functional/Java8andUp/build.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/fileLock/NativeFileLock.java
  test/functional/Java9andUp/build.xml
  test/functional/TestUtilities/src/org/openj9/test/attachAPI/TargetManager.java
  test/functional/cmdLineTests/jvmtitests/build.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/util/attachingAgent.java
Labels: comp:vm

#7405 Delete obsolete Dockerfiles and build instructions for jdk9, 10, 12
  buildenv/Build_Instructions_V10.md
  buildenv/Build_Instructions_V9.md
  buildenv/docker/jdk10/aarch64_CC/arm-linux-aarch64/Dockerfile
  buildenv/docker/jdk10/armhf_CC/arm-linux-gnueabihf/Dockerfile
  buildenv/docker/jdk10/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk10/ppc64le/ubuntu18/Dockerfile
  buildenv/docker/jdk10/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk10/s390x/ubuntu18/Dockerfile
  buildenv/docker/jdk10/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk10/x86_64/ubuntu18/Dockerfile
  buildenv/docker/jdk12/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk12/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk12/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk9/aarch64_CC/arm-linux-aarch64/Dockerfile
  buildenv/docker/jdk9/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk9/ppc64le/ubuntu18/Dockerfile
  buildenv/docker/jdk9/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk9/s390x/ubuntu18/Dockerfile
  buildenv/docker/jdk9/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk9/x86_64/ubuntu18/Dockerfile
  buildenv/docker/test/Dockerfile
  buildenv/docker/test/README.md
  doc/build-instructions/Build_Instructions_V12.md
Labels: comp:build

#7304 Set the z/OS 64-bit minimum OS stack size to 1MB
  runtime/vm/jvminit.c
Labels: comp:vm, depends:doc

#7340 Fix decompile at exception catch
  runtime/codert_vm/decomp.cpp
Labels: bug, comp:jit, comp:vm

#7431 Fix the -Xmso test to match #7304
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java8.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java9.xml
Labels: comp:test

#7425 Rename badly named util/filecache constants
  runtime/util/filecache.c
  runtime/util/filecache.h
Labels: comp:vm

#7417 Use asm v7.2 for lockWordAlignment test in JDK8+
  test/TestConfig/scripts/tools/getDependencies.pl
  test/functional/cmdLineTests/lockWordAlignment/alignmentSettings.mk
Labels: comp:test

#7428 Tests added for -Xshareclasses:printStats=startuphint
  test/functional/DDR_Test/src/j9vm/test/corehelper/SCCTestHelper.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/Constants.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestSharedClassesExt.java
  test/functional/DDR_Test/tck_ddrext.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-6.xml
Labels: comp:test

#7376 Add cmake support for building the jit on aix
  runtime/compiler/CMakeLists.txt
Labels: comp:build

#7282 Remove TR::imulover IL opcode
  runtime/compiler/codegen/CodeGenGPU.cpp
Labels: comp:jit, depends:omr

#7344 Backport multi-layered SCC change from master to jitaas
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/ClassLoaderTable.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
  runtime/shared_common/shrinit.cpp
Labels: comp:jitserver

#7429 Enable CUDA in Linux x64 builds
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#7368 AArch64: Fill _relocationTargetTypeToHeaderSizeMap
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
Labels: arch:aarch64, comp:jit, comp:jit:aot

#7434 Override OMR::Node's dontEliminateStores
  runtime/compiler/il/J9Node.cpp
  runtime/compiler/il/J9Node.hpp
Labels: comp:jit

#7433 Remove "return" from CodeGenerator setSupports*() functions
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#7175 Add Guide for Committers doc
  doc/GuideForCommitters.md
Labels: comp:doc

#7398 Simplify TKG java
  test/TestConfig/TKGJ/src/org/testKitGen/MainRunner.java
  test/TestConfig/TKGJ/src/org/testKitGen/MkTreeGen.java
  test/TestConfig/makeGen.mk
  test/functional/cmdLineTests/proxyFieldAccess/playlist.xml
Labels: comp:test

#7447 Update bootjdks for jdknext/14 to use jdk13
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#7292 Eliminate ClassEnv_getROMClassRefName messages
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#7240 Jstat initial implementation
  jcl/src/java.base/share/classes/module-info.java.extra
  jcl/src/java.base/share/classes/openj9/internal/management/ClassLoaderInfoBaseImpl.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticUtils.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ClassLoadingMXBeanImpl.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jstat.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Util.java
  runtime/jcl/common/mgmtclassloading.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/oti/jclprots.h
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/AttachApiTest.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJstat.java
  test/functional/Java8andUp/testng.xml
Labels: comp:vm

#7438 Port TR_J9JITServerSharedCache from jitaas to master
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: comp:jitserver

#7451 (0.17.0) Update MH.asSpreader tests
  test/functional/Jsr292/src/com/ibm/j9/jsr292/AdaptorTests.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/Crash.java
Labels: comp:vm

#7466 (0.17.0) Updated error handling for MethodHandle invocation
  jcl/src/java.base/share/classes/java/lang/invoke/SpreadHandle.java
Labels: comp:jit, comp:vm

#7465 Update Dockerfiles to use gcc-7 to build OpenJ9 JDK8
  buildenv/docker/jdk8/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk8/ppc64le/ubuntu18/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu18/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/Dockerfile
Labels: comp:build

#7329 Eliminate VM_getConstantPoolFromMethod(Class) messages
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/net/protos/compile.proto
Labels: comp:jitserver

#7464 Handle NULL String Class Pointer
  runtime/compiler/optimizer/StringPeepholes.cpp
Labels: bug, comp:jit, comp:jit:aot

#7468 Change API access modifier for DiagnosticUtils.executeDiagnosticCommand
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticUtils.java
Labels: comp:vm

#7469 (v0.17.0-release) Change API access modifier for DiagnosticUtils.executeDiagnosticCommand
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticUtils.java
Labels: comp:vm

#7370 Update draft release notes ready for 0.17 GA.
  doc/release-notes/0.17/0.17.md
Labels: comp:doc

#7437 Improved code generation for compare and branch instructions
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#7280 Reduced the size of installation files for cuda 9.0
  buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile
Labels: comp:build

#7358 Merge codegen related changes from JITServer
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/env/J9CPU.cpp
  runtime/compiler/x/env/J9CPU.hpp
  runtime/compiler/x/runtime/Recomp.cpp
  runtime/compiler/x/runtime/X86RelocationTarget.cpp
  runtime/compiler/x/runtime/X86RelocationTarget.hpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jitserver

#7319 Port JITServer changes in J9VMEnv/J9VMMethodEnv
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/env/J9VMEnv.cpp
  runtime/compiler/env/J9VMMethodEnv.cpp
Labels: comp:jitserver

#7470 AArch64: Enable class redefinition and flush compilation queue hooks
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/runtime/codertinit.cpp
Labels: arch:aarch64, comp:jit

#7485 Add JITServer support for J9ObjectModel
  runtime/compiler/env/J2IThunk.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/env/J9PersistentInfo.hpp
Labels: comp:jitserver

#7483 Port JITSERVER change in Optimizer to the master branch
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/J9Inliner.cpp
Labels: comp:jitserver

#7180 Initial implementation of private linkage mapStack and createPr…
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
  runtime/compiler/runtime/MethodMetaData.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/stackwalk.h
  runtime/util/jitregs.c
Labels: arch:aarch64, comp:jit

#7202 AArch64: Implement functions of TR_ARM64RelocationTarget
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
  runtime/compiler/aarch64/runtime/ARM64RelocationTarget.cpp
Labels: arch:aarch64, comp:jit, comp:jit:aot

#7439 Set J9VM_SHA only if not set
  runtime/buildtools.mk
Labels: comp:build

#7327 Retry the function set_build_status and catch its failure
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#7488 Merge PR-7329 from JITServer
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/net/protos/compile.proto
Labels: comp:jitserver

#7461 Add JITServer SharedCache support
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: comp:jitserver

#7422 Update codegen related code to be merged into master
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/env/J9CPU.cpp
  runtime/compiler/x/runtime/Recomp.cpp
  runtime/compiler/x/runtime/X86RelocationTarget.cpp
  runtime/compiler/x/runtime/X86RelocationTarget.hpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jitserver

#7484 Back port changes in Optimizer from the master branch
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/optimizer/IdiomRecognition.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jitserver

#7505 Update large heap build platform list in release notes
  doc/release-notes/0.15/0.15.md
  doc/release-notes/0.16/0.16.md
  doc/release-notes/0.17/0.17.md
Labels: comp:doc

#7490 Implement linkage entry point functions for ARM64PrivateLinkage
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#7400 Replace binary length peeking in PPCRecompilationSnippet
  runtime/compiler/p/codegen/PPCRecompilation.cpp
  runtime/compiler/p/codegen/PPCRecompilationSnippet.cpp
  runtime/compiler/p/codegen/PPCRecompilationSnippet.hpp
Labels: arch:power, comp:jit

#7498 Backport various changes from master
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/env/J2IThunk.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9VMEnv.cpp
  runtime/compiler/env/J9VMMethodEnv.cpp
Labels: comp:jitserver

#7504 AArch64: Resolve C++ compiler warnings
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
  runtime/compiler/aarch64/codegen/StackCheckFailureSnippet.cpp
Labels: arch:aarch64, comp:jit

#7411 Added an option to send slack message when a build passes
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#7473 Added a new DDR command !shrc startuphint
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/ShrCCommand.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/Constants.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestSharedClassesExt.java
Labels: comp:vm

#7497 Remove unused RemoteCompilationRequest methodEvent
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationController.hpp
Labels: comp:jitserver

#7512 Update the join Slack link
  README.md
Labels: comp:doc

#7477 Add control-related JITServer changes
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
Labels: comp:jitserver

#7507 Add JVM_GetExtendedNPEMessage to support JDK 14 compilation
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.c
  runtime/redirector/forwarders.m4
Labels: comp:vm, jdk14

#7495 Merge JITServer update in env directory
  runtime/compiler/env/J2IThunk.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9VMEnv.cpp
  runtime/compiler/env/J9VMMethodEnv.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
Labels: comp:jitserver

#7487 Merge PR-7292 from JITServer
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#7523 Update J9 specific test targets
  test/functional/Jsr335/playlist.xml
  test/functional/Jsr335_interfaceStaticMethod/playlist.xml
  test/functional/cmdLineTests/gcRegressionTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/ListAllCachesTests/playlist.xml
Labels: comp:test

#7526 Add JVM_GetExtendedNPEMessage to support JDK 14 compilation
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.c
  runtime/j9vm/module.xml
  runtime/redirector/forwarders.m4
  runtime/redirector/module.xml
Labels: comp:vm, jdk14

#7455 AArch64: Fix for outgoing arguments passed via stack
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#7527 AArch64: Set correct entry point instructions in createPrologue()
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#7454 Merge JITServer changes to CompilationThread.cpp/hpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/MethodToBeCompiled.hpp
  runtime/compiler/ilgen/J9IlGeneratorMethodDetails.cpp
  runtime/compiler/ilgen/J9IlGeneratorMethodDetails.hpp
Labels: comp:jitserver

#7448 Add Recompilation Doc
  doc/compiler/runtime/Recompilation.md
Labels: comp:jit

#7492 Backport CompilationThread.cpp/hpp changes from master
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/env/VMJ9Server.cpp
Labels: comp:jitserver

#7392 Add JITServer assert in getJITTedbodyInfoFromPC
  runtime/compiler/p/runtime/Recomp.cpp
Labels: arch:power, comp:jitserver

#7510 Add bootjdk 13 to Dockerfiles
  buildenv/jenkins/docker-slaves/ppc64le/centos7/Dockerfile
  buildenv/jenkins/docker-slaves/s390x/ubuntu16/Dockerfile
  buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile
Labels: comp:build

#7541 Relax reference assert after Scavenger clearing
  runtime/gc_glue_java/ScavengerRootScanner.hpp
Labels: comp:gc

#7496 Back port changes from master branch in env directory
  runtime/compiler/env/CHTable.cpp
  runtime/compiler/env/ClassLoaderTable.cpp
  runtime/compiler/env/J2IThunk.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9VMEnv.cpp
  runtime/compiler/env/J9VMMethodEnv.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/JITServerIProfiler.cpp
Labels: comp:jitserver

#6278 CMake: Link jit statically against c++ standard lib
  runtime/compiler/CMakeLists.txt
Labels: comp:build

#7536 Remove JITSERVER_TODO macro
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/runtime/CMakeLists.txt
Labels: comp:jitserver

#7537 Use getROMMethodFromRAMMethod for JITServer
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/env/J9KnownObjectTable.cpp
  runtime/compiler/env/annotations/GPUAnnotation.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jitserver

#7533 Refactor inROMClass into JITServerHelpers class
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#7546 Memset the shared classes CacheUniqueID
  runtime/shared_common/CacheMap.cpp
Labels: comp:vm
