Repository eclipse-openj9/openj9, pull requests merged in 2019-05, with the labels that each got.

#5643 Add back the `_WIN32` case to JNIEXPORT definition
  runtime/include/jniport.h
Labels: comp:vm

#5608 Modify codegens to call addDependency from CodeGeneratorUtils
  runtime/compiler/arm/codegen/ARMJNILinkage.cpp
  runtime/compiler/arm/codegen/J9ARMEvaluator.cpp
  runtime/compiler/arm/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/DFPTreeEvaluator.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/PPCJNILinkage.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
Labels: comp:jit, comp:jit:arm, comp:jit:p

#5642 Miscellaneous updates specific to z/TPF
  runtime/compiler/build/toolcfg/ztpf-gcc/common.mk
  runtime/ddr/module.xml
  runtime/j9vm/jvm.c
  runtime/jilgen/module.xml
  runtime/makelib/targets.mk.ftl
  runtime/makelib/targets.mk.ztpf.inc.ftl
  runtime/port/module.xml
  runtime/port/sysvipc/j9sharedhelper.c
  runtime/redirector/module.xml
Labels: comp:build

#5552 HWProfiler can not work well on IBM i
  runtime/compiler/control/rossa.cpp
Labels: comp:jit

#5656 Cleanup AIX pipes
  buildenv/jenkins/jobs/infrastructure/Cleanup-Nodes
Labels: comp:build

#5537 Add tests targets to the pipelines variables file
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#5652 Refactor OMR Mirror script
  buildenv/jenkins/jobs/infrastructure/omrMirror
Labels: comp:build

#5406 Remove unnecessary GCC option on X86
  runtime/gc/CMakeLists.txt
  runtime/gc/module.xml
  runtime/gc_api/module.xml
  runtime/gc_base/module.xml
  runtime/gc_check/module.xml
  runtime/gc_include/module.xml
  runtime/gc_modron_standard/module.xml
  runtime/gc_modron_startup/module.xml
  runtime/gc_realtime/module.xml
  runtime/gc_stats/module.xml
  runtime/gc_structs/module.xml
  runtime/gc_tests/hooktests/module.xml
  runtime/gc_trace/module.xml
  runtime/gc_trace_standard/module.xml
  runtime/gc_trace_vlhgc/module.xml
  runtime/gc_verbose_handler_realtime/module.xml
  runtime/gc_verbose_handler_standard_java/module.xml
  runtime/gc_verbose_handler_vlhgc/module.xml
  runtime/gc_verbose_java/module.xml
  runtime/gc_verbose_old/module.xml
  runtime/gc_verbose_old_events/module.xml
  runtime/gc_vlhgc/module.xml
  runtime/gcchk/module.xml
Labels: comp:build

#5653 Add runtime compressed refs queries
  runtime/codert_vm/cnathelp.cpp
  runtime/gc_api/HeapIteratorAPI.cpp
  runtime/gc_check/CheckEngine.cpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparse.cpp
  runtime/gc_verbose_java/VerboseJava.cpp
  runtime/gc_verbose_old_events/VerboseEventGCInitialized.cpp
  runtime/gc_vlhgc/InterRegionRememberedSet.cpp
  runtime/jilgen/jilconsts.c
  runtime/oti/j9nonbuilder.h
  runtime/tests/shared/SharedCacheAPITest.cpp
  runtime/util/shchelp_j9.c
  runtime/vm/monhelpers.c
  runtime/vm/vmthinit.c
  runtime/vm/vmthread.c
Labels: comp:vm

#5557 Add displaying disabled tests and reasons in TestKitGen
  test/.gitignore
  test/README.md
  test/TestConfig/makefile
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#5641 Do not use special constructor for Pointer Array split case
  runtime/gc_glue_java/PointerArrayObjectScanner.hpp
Labels: comp:gc

#5591 CMake: enable ddr
  runtime/CMakeLists.txt
  runtime/gc/CMakeLists.txt
  runtime/jcl/CMakeLists.txt
  runtime/jvmti/CMakeLists.txt
  runtime/port/CMakeLists.txt
  runtime/rastrace/CMakeLists.txt
  runtime/shared/CMakeLists.txt
  runtime/thread/CMakeLists.txt
  runtime/vm/CMakeLists.txt
Labels: comp:build

#5664 Do not generate test jobs if no tests will run
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#5655 Fix java executable path in OnOutOfMemoryError test
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests.xml
Labels: comp:test

#5667 Remove implementation dependencies from J9S390PrivateLinkage.hpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.hpp
Labels: comp:jit, comp:jit:z

#5662 Setting Tr_silentEnv *disables* printing env vars
  runtime/compiler/runtime/Runtime.cpp
Labels: bug, comp:jit

#5610 Reducing the message getClassFromCP
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/VMJ9Server.cpp
Labels: jitaas

#5666 Code clean: remove java references to DecimalFormatHelper
  jcl/src/java.base/share/classes/com/ibm/jit/DecimalFormatHelper.java
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
Labels: comp:vm

#5669 Add MemoryReference forward declaration
  runtime/compiler/arm/codegen/ARMJNILinkage.hpp
Labels: comp:jit:arm

#5670 Remove all references to `installJitBytecodes()`
  runtime/compiler/runtime/codertinit.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9protos.h
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
Labels: comp:vm

#5549 Handle multiple threads in OSX corereader
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/MachoDumpReader.java
Labels: comp:vm

#5566 Create two module hashtables with module name/pointer as key
  runtime/j9vm/java11vmi.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/ModularityHashTables.c
  runtime/vm/classallocation.c
  runtime/vm/intfunc.c
Labels: backport:candidate, bug, comp:vm

#5586 Add the detailed error message for class loading
  runtime/nls/j9vm/j9vm.nls
  runtime/vm/createramclass.cpp
Labels: bug, comp:vm

#5674 Disable addJavaPropertiesOptions() in OpenJ9 builds.
  runtime/j9vm/jvm.c
  runtime/oti/vmargs_api.h
  runtime/util/vmargs.c
Labels: comp:vm

#2836 Convert PullRequests to pipeline of jobs
  buildenv/jenkins/README.md
  buildenv/jenkins/common/build
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/common/variables-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#5682 Rename GIT_BRANCH variable to SOURCE_BRANCH in DSL
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
Labels: comp:build

#5683 Change to ghprbPullId for PR check
  buildenv/jenkins/common/build
Labels: comp:build

#5672 Fix JNI check to properly handle atomic-free
  runtime/jnichk/jnichk_internal.h
Labels: bug, comp:vm, userRaised

#5677 OpenJDK Acceptance build support
  buildenv/jenkins/jobs/infrastructure/Promote-OpenJ9-OMR-master-to-openj9
  buildenv/jenkins/jobs/infrastructure/promote_repo.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#5684 Create implementations of getNextSlotMap with new signature
  runtime/gc_glue_java/MixedObjectScanner.hpp
  runtime/gc_glue_java/PointerArrayObjectScanner.hpp
  runtime/gc_glue_java/ReferenceObjectScanner.hpp
Labels: comp:gc

#5517 CMake: Fix platform specific config for compiler component
  runtime/compiler/CMakeLists.txt
Labels: comp:build, comp:jit

#5686 Strip off https:// from repo address
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#4840 Setup SLACK_CHANNEL rather than SLACK_HANDLE
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
Labels: comp:build

#5628 Disable PPCHWProfiler on IBM i current releases.
  runtime/compiler/build/files/host/p.mk
Labels: comp:build, comp:jit

#5689 Fix IllegalStateException in Jenkins pipeline
  buildenv/jenkins/common/variables-functions
Labels: comp:build

#5671 Combine `ResolvedMethod_isUnresolvedString` message into `ResolvedMethod_stringConstant`
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: jitaas

#3150 Silence clang compiler warning in J9ValueProfiler.hpp
  runtime/compiler/runtime/J9ValueProfiler.hpp
Labels: comp:jit

#5038 Enable building openssl for jdk-next
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, depends:openjdk, jdk-head

#5690 Remove references to obsolete flag OMR_GC_STACCATO
  runtime/cmake/caches/common.cmake
  runtime/gc_glue_java/configure_includes/configure_common.mk.ftl
Labels: comp:build, comp:gc

#5693 Use correct VMAccess helper for JNI dispatch
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
Labels: comp:jit, comp:jit:z

#5444 Enhance the handling of indexOf in ValuePropagation
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/J9ValuePropagation.hpp
Labels: comp:jit, enhancement, perf

#5717 (v0.14.2-release) Create two module hashtables with module name/pointer as key
  runtime/j9vm/java11vmi.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/ModularityHashTables.c
  runtime/vm/classallocation.c
  runtime/vm/intfunc.c
Labels: bug, comp:vm

#5718 (v0.14.2) Add back the `_WIN32` case to JNIEXPORT definition
  runtime/include/jniport.h
Labels: comp:vm

#5719 (v0.14.2-release) Init system property java.vm.specification.version via native
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/include/vendor_version.h
  runtime/vm/vmprops.c
Labels: comp:vm

#5700 Add null check to cancel_running_builds
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#5680 Add new `-XX:[-+]NLSMessages` option to allow disabling NLS
  runtime/gc_glue_java/UtilGlue.c
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm, depends:omr, perf

#5709 Encode the full helper assembly function name in PPA1
  runtime/oti/zhelpers.m4
Labels: comp:jit, comp:jit:z, comp:vm

#5714 Cleanup after changing of signature of getNextSlotMap()
  runtime/gc_glue_java/MixedObjectScanner.hpp
  runtime/gc_glue_java/PointerArrayObjectScanner.hpp
  runtime/gc_glue_java/ReferenceObjectScanner.hpp
Labels: comp:gc

#5706 Add (disabled) code to allow runtime compressed refs
  runtime/jilgen/jilconsts.c
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/J9OMRHelpers.cpp
  runtime/vm/jvminit.c
  runtime/vm/vmthread.c
Labels: comp:vm

#5691 Replaced JAVA_BIN with TEST_JDK_HOME in several tests
  test/functional/JLM_Tests/build.xml
  test/functional/Java11andUp/build.xml
  test/functional/Java8andUp/build.xml
  test/functional/Java9andUp/build.xml
Labels: comp:test

#5679 Consolidate CPU processor detection on Z
  runtime/compiler/build/files/target/z.mk
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/z/codegen/DFPTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9MemoryReference.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9S390SystemLinkage.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/ReduceSynchronizedFieldLoad.cpp
  runtime/compiler/z/env/J9CPU.cpp
  runtime/compiler/z/env/J9CPU.hpp
Labels: comp:jit, comp:jit:z, depends:omr

#5685 Make TEST_FLAG option generic
  buildenv/jenkins/common/pipeline-functions
Labels: comp:build

#5728 Delete unused method
  runtime/jniinv/main.c
Labels: comp:vm

#5712 Purge cached data of clients that suddenly disconnected
  runtime/compiler/runtime/StatisticsThread.cpp
Labels: jitaas

#5713 Move max/minAccessedShrCacheMetadata into CompositeCache
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/CompositeCacheImpl.hpp
Labels: comp:vm

#5609 Implement z/OS XPLINK system linkage
  runtime/compiler/build/files/target/z.mk
  runtime/compiler/env/VMJ9.h
  runtime/compiler/z/codegen/DFPTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390CHelperLinkage.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9SystemLinkageLinux.cpp
  runtime/compiler/z/codegen/J9SystemLinkageLinux.hpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.cpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.hpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
  runtime/compiler/z/codegen/S390Recompilation.cpp
  runtime/compiler/z/codegen/S390Recompilation.hpp
  runtime/compiler/z/codegen/S390StackCheckFailureSnippet.cpp
  runtime/compiler/z/runtime/Recomp.cpp
Labels: comp:jit, comp:jit:z, depends:omr

#5647 Fix queries for HW and SW read barrier on z
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/env/J9CPU.cpp
  runtime/gc_modron_startup/mminit.cpp
Labels: comp:gc, comp:jit, comp:jit:z

#5729 Add @loader_path/.. to dylib rpath on OSX
  runtime/makelib/targets.mk.osx.inc.ftl
Labels: backport:candidate, bug, comp:vm

#5640 Read new field value before initializing the class
  runtime/codert_vm/cnathelp.cpp
Labels: bug, comp:jit

#5735 Rename j9sig to omrsig structs
  runtime/compiler/p/runtime/Emulation.c
  runtime/vm/inlineleconditionhandler.c
Labels: comp:vm

#5736 Disable the flag check on method without stackmaps
  runtime/bcverify/rtverify.c
Labels: backport:candidate, bug, comp:vm

#5734 (v0.14.2) Declare J9RAMVirtualMethodRef methodIndexAndArgCount as volatile
  runtime/oti/j9nonbuilder.h
Labels: bug, comp:vm

#5730 (v0.14.2) Add @loader_path/.. to dylib rpath on OSX
  runtime/makelib/targets.mk.osx.inc.ftl
Labels: bug, comp:vm

#5405 Store J9JIT_RUNTIME_RESOLVE per-client on JITaaS
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/j9methodServer.cpp
Labels: jitaas

#5744 Replace JAVA_BIN with TEST_JDK_HOME
  test/README.md
  test/TestConfig/makefile
  test/TestConfig/openj9Settings.mk
  test/TestConfig/run_configure.mk
  test/TestConfig/settings.mk
  test/TestConfig/src/build_envInfo.xml
  test/docs/OpenJ9TestUserGuide.md
  test/functional/DDR_Test/build.xml
  test/functional/DDR_Test/playlist.xml
  test/functional/DDR_Test/tck_ddrext.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/VM_Test/playlist.xml
  test/functional/cmdLineTests/URLClassLoaderTests/playlist.xml
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
  test/functional/cmdLineTests/classesdbgddrext/playlist.xml
  test/functional/cmdLineTests/dumpromtests/playlist.xml
  test/functional/cmdLineTests/modularityddrtests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/DataHelperTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/ListAllCachesTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/CommandLineOptionTests.xml
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/HelperCompatibilityTests.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/HelperCompatibilityTests_8.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatibilityTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/ShareClassesSimpleSanity/ShareClassesSimpleSanity.xml
  test/functional/cmdLineTests/shareClassTests/ShareClassesSimpleSanity/playlist.xml
  test/functional/cmdLineTests/shareClassTests/StoreFilterTests/StoreFilterTests.xml
  test/functional/cmdLineTests/shareClassTests/StoreFilterTests/StoreFilterTests_8.xml
  test/functional/cmdLineTests/shareClassTests/StoreFilterTests/playlist.xml
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/playlist.xml
Labels: comp:test

#5740 (v0.14.2) Disable the flag check on method without stackmaps
  runtime/bcverify/rtverify.c
Labels: bug, comp:vm

#5754 CleanWs at the start of a build
  buildenv/jenkins/common/build
Labels: comp:build

#5756 Fix punctuation of help message
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/CoreInfoCommand.java
Labels: comp:vm

#5758 Fix illegal variable shadow
  runtime/gc_base/ObjectAccessBarrier.cpp
Labels: bug, comp:gc

#5733 Reference Promote_OMR job instead of Promote-OpenJ9-OMR-master-to-openj9
  buildenv/jenkins/README.md
Labels: comp:build, comp:doc

#5743 Update VT test default values
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test

#5762 Map all to a subset of platforms for PR builds
  buildenv/jenkins/common/pipeline-functions
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All
Labels: comp:build

#5770 (v0.14.2) Fix the duplicated NLS messages when SH_OSCache::getCacheDir() failed.
  runtime/shared/shrclssup.c
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/OSCache.hpp
  runtime/shared_common/shrinit.cpp
Labels: comp:vm

#5704 Fix bug in profiled inlined method relocation
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot

#5773 DDR: Enable support for z/OS core file format
  debugtools/DDR_VM/.classpath
  debugtools/DDR_VM/src_stubs/com/ibm/jzos/ZFile.java
Labels: comp:vm

#5708 Make PassThrough x86 NULLCHKs implicit
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, comp:jit:x

#5778 Add a VMLangAccess method to create threads
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VMLangAccess.java
  jcl/src/java.base/share/classes/java/lang/Thread.java
  jcl/src/java.base/share/classes/java/lang/VMAccess.java
Labels: comp:vm

#5748 Add AOT Feature Flag for Transactional Memory
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/runtime/J9Runtime.hpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: bug, comp:jit, comp:jit:aot, depends:omr

#5760 Add caching for improper resolved methods
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: jitaas

#5780 (v0.14.2-release) Add a VMLangAccess method to create threads
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VMLangAccess.java
  jcl/src/java.base/share/classes/java/lang/Thread.java
  jcl/src/java.base/share/classes/java/lang/VMAccess.java
Labels: comp:vm

#2680 Rework classfile version checking
  runtime/bcutil/cfreader.c
  runtime/bcutil/defineclass.c
  runtime/cfdumper/main.c
  runtime/nls/cfre/cfrerr.nls
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm

#5788 Remove modified=mod1 in DDR tests
  test/functional/DDR_Test/tck_ddrext.xml
Labels: comp:test

#5783 More runtime checks for compressed refs
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/gc_base/modron.h
  runtime/gc_include/j9modron.h
  runtime/gc_modron_startup/mmhelpers.cpp
  runtime/jcl/common/jclcinit.c
  runtime/oti/ObjectHash.hpp
  runtime/vm/montable.c
  runtime/vm/rasdump.c
  runtime/vm/segment.c
  runtime/vm/vmthinit.c
  runtime/vm/vmthread.c
Labels: comp:gc, comp:jit, comp:vm

#5794 Pass reportByteCodeInfoAtCatchBlock to the server
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: jitaas

#5798 Remove "// *this swipeable for debug" comments
  runtime/compiler/arm/codegen/CallSnippet.cpp
  runtime/compiler/arm/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/p/codegen/CallSnippet.cpp
  runtime/compiler/p/codegen/InterfaceCastSnippet.cpp
  runtime/compiler/p/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/z/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jit

#5799 JDK12+ doesn't need to set the user.timezone property to empty string
  runtime/jcl/unix/syshelp.c
  runtime/jcl/win32/syshelp.c
Labels: comp:vm, jdk-head, jdk12

#2443 shutDownHookWrapper only needed for IBMJ9
  runtime/vm/jvminit.c
Labels: comp:vm, depends:omr

#5813 Remove ' from comment in ppc .spp file to avoid xlC error
  runtime/compiler/p/runtime/PicBuilder.spp
Labels: comp:jit

#5812 fix configure fail Xrander.h
  .travis.yml
Labels: comp:build

#5805 Convert static initialization into a single loop
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/oti/j9javaaccessflags.h
  runtime/vm/ClassInitialization.cpp
Labels: comp:vm, perf

#5817 Fix spelling, isnt -> is not
  runtime/compiler/p/runtime/PicBuilder.spp
Labels: comp:jit

#5814 Prepare to remove OMR::ResolvedMethodSymbol::isNoTemps
  runtime/compiler/optimizer/SequentialStoreSimplifier.cpp
Labels: comp:jit

#5811 Merge pull request #5811 from 0xdaryl/logicalparm
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#5766 Update instructions for running Valhalla tests
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test

#5826 Fix bug in assumption reclamation
  runtime/compiler/runtime/HookHelpers.cpp
Labels: bug, comp:jit

#5827 Properly align doubleStaticAddress for 32bit systems
  runtime/vm/ClassInitialization.cpp
Labels: bug, comp:vm

#5790 Relocate the CodeGenerator::createOrFindClonedNode function from OMR
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#5792 Switch JCL field ID cache setting order to avoid reading NULL
  runtime/jcl/common/jniidcacheinit.c
Labels: bug, comp:vm

#5809 Create an OpenJ9 extension for ResolvedMethodSymbol
  runtime/compiler/build/files/common.mk
  runtime/compiler/il/CMakeLists.txt
  runtime/compiler/il/symbol/J9ResolvedMethodSymbol.cpp
  runtime/compiler/il/symbol/J9ResolvedMethodSymbol.hpp
  runtime/compiler/il/symbol/ResolvedMethodSymbol.hpp
Labels: comp:jit

#5623 Modify RealtimeMarkingScheme for moving to OMR
  runtime/gc_base/RootScanner.hpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/gc_glue_java/MetronomeDelegate.hpp
  runtime/gc_realtime/EnvironmentRealtime.hpp
  runtime/gc_realtime/RealtimeGC.cpp
  runtime/gc_realtime/RealtimeGC.hpp
  runtime/gc_realtime/RealtimeMarkTask.cpp
  runtime/gc_realtime/RealtimeMarkingScheme.cpp
  runtime/gc_realtime/RealtimeMarkingScheme.hpp
  runtime/gc_realtime/RealtimeMarkingSchemeRootClearer.hpp
  runtime/gc_realtime/RealtimeMarkingSchemeRootMarker.hpp
  runtime/gc_realtime/RealtimeRootScanner.cpp
  runtime/gc_realtime/RealtimeRootScanner.hpp
  runtime/gc_realtime/Scheduler.cpp
  runtime/gc_realtime/Scheduler.hpp
Labels: comp:gc

#5829 Not re-fetch ramCPEntry via CP index
  runtime/vm/resolvesupport.cpp
Labels: comp:vm

#5819 Fix some startup issues in mixed mode
  runtime/gc_base/modron.h
  runtime/gc_modron_startup/mminit.cpp
  runtime/vm/J9OMRHelpers.cpp
  runtime/vm/segment.c
Labels: comp:gc, comp:vm

#5842 Remove JDK9,10 from Specs
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#5845 Include j9comp.h in shcflags.h
  runtime/oti/shcflags.h
Labels: comp:vm

#5840 Do not trigger GC memory usage hook
  runtime/gc_realtime/RealtimeGC.cpp
  runtime/gc_verbose_old/VerboseManagerOld.cpp
  runtime/gc_verbose_old_events/CMakeLists.txt
  runtime/gc_verbose_old_events/VerboseEventReportMemoryUsage.cpp
  runtime/gc_verbose_old_events/VerboseEventReportMemoryUsage.hpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
Labels: comp:gc

#5613 Use global name space for shared semaphores on Windows
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/Advertisement.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/IPC.java
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/WaitLoop.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachineDescriptor.java
  runtime/jcl/common/attach.c
  runtime/oti/j9port.h
  runtime/oti/jclprots.h
  runtime/port/sysvipc/j9shsem.c
  runtime/port/win32/j9shsem.c
Labels: backport:candidate, comp:vm, depends:doc

#5835 Clear the JVMTI exception throw flag before reporting event
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm

#5614 Migrate innerConstrainAcall to OpenJ9
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/J9ValuePropagation.hpp
Labels: comp:jit

#5828 Remove references to deprecated trivial store sinking
  runtime/compiler/optimizer/J9Optimizer.cpp
Labels: comp:jit

#5853 z/TPF Root VPATH Rename
  runtime/compiler/build/toolcfg/ztpf-gcc/common.mk
  runtime/makelib/targets.mk.ztpf.inc.ftl
Labels: comp:build

#5772 Ensure Jenkins reconnects slaves after their sanitation
  buildenv/jenkins/jobs/infrastructure/Cleanup-Nodes
Labels: comp:build

#5857 Add libfontconfig1-dev to JDK 8 Dockerfiles
  buildenv/docker/jdk8/ppc64le/ubuntu16/Dockerfile
  buildenv/docker/jdk8/ppc64le/ubuntu18/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu18/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/Dockerfile
Labels: comp:build

#5871 Add a #include in J9WatchedStaticFieldSnippet.cpp
  runtime/compiler/codegen/J9WatchedStaticFieldSnippet.cpp
Labels: comp:jit:aarch64

#5818 Relocate J9::CodeGenerator::_nodesSpineCheckedList to OpenJ9
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#5838 Remove dependency on the environment at build time
  runtime/compiler/build/toolcfg/common.mk
  runtime/makelib/mkconstants.mk.ftl
  sourcetools/com.ibm.uma/com/ibm/j9/uma/platform/PlatformWindows.java
Labels: comp:build

#5863 CMake: Add jvmtitest
  runtime/tests/jvmtitests/CMakeLists.txt
  runtime/tests/jvmtitests/exports.cmake
  runtime/tests/jvmtitests/src/CMakeLists.txt
Labels: comp:build

#5860 CMake: Add ddr_misc library
  runtime/CMakeLists.txt
  runtime/ddr/CMakeLists.txt
Labels: comp:build

#5861 Enable DDR on z/OS
  runtime/CMakeLists.txt
  runtime/buildtools.mk
  runtime/compiler/build/toolcfg/zos-xlc/common.mk
  runtime/ddr/run_omrddrgen.mk.ftl
  runtime/gc_glue_java/configure_includes/configure_zos_390.mk.ftl
  runtime/include/module.xml
  runtime/j9vm/module.xml
  runtime/jilgen/module.xml
  runtime/makelib/mkconstants.mk.ftl
  runtime/makelib/targets.mk.ftl
  runtime/makelib/targets.mk.zos.inc.ftl
  runtime/redirector/module.xml
  runtime/thread/threadshared.mk.ftl
Labels: comp:build

#5867 Eliminate redundant instruction
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, comp:jit:z

#5824 Delete _compressedRefs references from OpenJ9
  runtime/compiler/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#5839 Relocate OMR::SupportsBigDecimalLongLookasideVersioning to OpenJ9
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#5882 Remove obsolete -Xdiagnosticscollector option
  runtime/nls/exel/exelib.nls
  runtime/nls/exel/exelib_ca.nls
  runtime/nls/exel/exelib_cs.nls
  runtime/nls/exel/exelib_de.nls
  runtime/nls/exel/exelib_es.nls
  runtime/nls/exel/exelib_fr.nls
  runtime/nls/exel/exelib_hu.nls
  runtime/nls/exel/exelib_it.nls
  runtime/nls/exel/exelib_ja.nls
  runtime/nls/exel/exelib_ko.nls
  runtime/nls/exel/exelib_pl.nls
  runtime/nls/exel/exelib_pt_BR.nls
  runtime/nls/exel/exelib_ru.nls
  runtime/nls/exel/exelib_sk.nls
  runtime/nls/exel/exelib_sl.nls
  runtime/nls/exel/exelib_tr.nls
  runtime/nls/exel/exelib_zh.nls
  runtime/nls/exel/exelib_zh_CN.nls
  runtime/nls/exel/exelib_zh_TW.nls
  runtime/nls/j9vm/j9vm.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_de.nls
  runtime/nls/j9vm/j9vm_es.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_ja.nls
  runtime/nls/j9vm/j9vm_ko.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/j9vm/j9vm_zh_TW.nls
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm

#5821 Relocate JniCallSites to OpenJ9
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#5887 Fix javadoc warnings and remove #if 0'd code
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/StackTraceElement.java
  jcl/src/java.base/share/classes/java/lang/StackWalker.java
  jcl/src/java.base/share/classes/java/lang/String.java
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleInfo.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/java/lang/invoke/WrongMethodTypeException.java
  runtime/vm/KeyHashTable.c
Labels: comp:vm

#5890 Relocate OMR default implementation of makeParameterList to OpenJ9
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
Labels: comp:jit

#5884 Enable z15 by default
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit, comp:jit:z

#5869 Add a method to set allocation sampling interval
  runtime/gc/gctable.c
  runtime/gc_base/gc_internal.h
  runtime/gc_base/modronapi.cpp
  runtime/gc_base/modronapi.hpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#5891 Add Modules memory info to Javacore
  runtime/j9vm/j9memcategories.c
Labels: comp:vm

#5868 Deprecate ILProp4::PackedArithmeticSelect and J9::Node bcdFlags
  runtime/compiler/il/J9Node.hpp
  runtime/compiler/il/J9Node_inlines.hpp
  runtime/compiler/optimizer/DataAccessAccelerator.cpp
Labels: comp:jit, comp:jit:z

#5873 Delete the _snippetsToBePatchedOnRegisterNative reference in OpenJ9
  runtime/compiler/ras/DebugExt.cpp
Labels: comp:jit

#5900 Remove obsolete J9MEM_CATEGORY_NATIVE_PACKED_DATA memory category
  runtime/include/j9memcategories.h
  runtime/j9vm/j9memcategories.c
  test/functional/Java8andUp/src/j9vm/test/memory/MemoryAllocator.java
Labels: comp:vm

#5144 Add Protobuf and OpenSSL to xlinux test containers
  buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile
  buildenv/jenkins/docker-slaves/x86/ubuntu16/Dockerfile
  buildenv/jenkins/docker-slaves/x86/ubuntu18/Dockerfile
Labels: comp:build

#5906 Remove NLS-specific number tags from the default string
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/shared_common/shrinit.cpp
  runtime/vm/lookupmethod.c
Labels: comp:vm

#5902 Add gc barriers to constant_dynamic resolution
  runtime/vm/resolvesupport.cpp
Labels: comp:vm

#5858 Use new constructor for GC_IndexableObjectScanner
  runtime/gc_glue_java/PointerArrayObjectScanner.hpp
Labels: comp:gc

#5692 Create resolved methods in batches
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/rpc/protos/compile.proto
Labels: jitaas

#5789 Check and use openssl flags set in JVM build
  runtime/compiler/build/toolcfg/gnu/common.mk
Labels: jitaas

#5913 Load GPUAssist.Provider during bootstrap
  jcl/src/java.base/share/classes/com/ibm/gpu/spi/GPUAssist.java
  jcl/src/java.base/share/classes/com/ibm/gpu/spi/GPUAssistHolder.java
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, depends:openjdk, depends:openjdk11, depends:openjdk12

#5745 Consolidate AOT Relocation Records
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot

#5923 OpenJ9 Signal Support Changes
  runtime/j9vm/jvm.c
Labels: comp:vm

#5914 Fix unguarded JIT trace message from BoolArrayStoreTransformer
  runtime/compiler/optimizer/BoolArrayStoreTransformer.cpp
Labels: comp:jit

#5933 (v0.14.3) Add gc barriers to constant_dynamic resolution
  runtime/vm/resolvesupport.cpp
Labels: comp:vm

#5894 Fix behaviour of XX:IdleTuningCompactOnIdle
  runtime/gc_modron_startup/mminit.cpp
  runtime/vm/jvminit.c
Labels: comp:vm

#5929 Load GPUAssist.Provider during bootstrap
  jcl/src/java.base/share/classes/com/ibm/gpu/spi/GPUAssist.java
  jcl/src/java.base/share/classes/com/ibm/gpu/spi/GPUAssistHolder.java
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, jdk11

#5937 Fix creation of ResolvedMethods and mirrors for certain special methods
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
Labels: jitaas

#5892 Fix sys/socketvar.h not found (compiling on alpine)
  runtime/port/unix_include/j9sock.h
Labels: comp:vm

#5935 Add compressedrefs modes to jsr335 tests
  test/functional/Jsr335/playlist.xml
Labels: comp:test

#5881 Overload incRefCountForOpaquePseudoRegister in OpenJ9
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.hpp
Labels: comp:jit, comp:jit:z

#5915 Move constLoadNeedsLiteralFromPool to OpenJ9
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.hpp
Labels: comp:jit, comp:jit:z

#5901 No module related hashtable creation for JDK8
  runtime/gc_base/RootScanner.cpp
  runtime/gc_glue_java/ConcurrentMarkingDelegate.cpp
  runtime/gc_glue_java/MarkingDelegate.cpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkCardScrubber.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/PartialMarkingScheme.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/vm/classallocation.c
Labels: comp:vm
