Repository eclipse-openj9/openj9, pull requests merged in 2019-09, with the labels that each got.

#6892 Merge JITServer functionalities to MethodToBeCompiled
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
Labels: comp:jitserver

#6885 Add JITServer Dockerfiles for zLinux
  buildenv/docker/jdk8/s390x/ubuntu16/jitaas/build/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/jitaas/buildenv/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/jitaas/run/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/jitaas/test/Dockerfile
Labels: comp:jitserver

#6916 Copy private linkage register indices to parameter symbols
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#6942 Minor Header Platform configuration change for z/TPF
  runtime/gc_realtime/MetronomeAlarmThread.cpp
Labels: comp:gc

#6918 Prepare JITServerStatisticsThread to be ported to master branch
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/runtime/CMakeLists.txt
  runtime/compiler/runtime/JITServerStatisticsThread.cpp
  runtime/compiler/runtime/JITServerStatisticsThread.hpp
  runtime/compiler/runtime/StatisticsThread.hpp
Labels: comp:jitserver

#6847 CMake: Enable DDR in travis builds
  .travis.yml
  buildenv/travis/build-on-travis.sh
Labels: comp:build

#6905 Initial implementation of a J9 InstructionDelegate hierarchy
  runtime/compiler/aarch64/codegen/J9InstructionDelegate.hpp
  runtime/compiler/arm/codegen/J9InstructionDelegate.hpp
  runtime/compiler/codegen/InstructionDelegate.hpp
  runtime/compiler/codegen/J9InstructionDelegate.hpp
  runtime/compiler/p/codegen/J9InstructionDelegate.hpp
  runtime/compiler/x/codegen/J9InstructionDelegate.hpp
  runtime/compiler/z/codegen/J9InstructionDelegate.hpp
Labels: comp:jit, depends:omr

#6936 AArch64: Fix _interfaceCallHelper
  runtime/compiler/aarch64/runtime/PicBuilder.spp
Labels: arch:aarch64, comp:jit

#6935 AArch64: Fix BRANCH_VIA_VMTHREAD macro
  runtime/oti/arm64helpers.m4
Labels: arch:aarch64, comp:jit

#6950 Avoid object corruption in Unsafe
  runtime/oti/UnsafeAPI.hpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/OutOfLineINL_jdk_internal_misc_Unsafe.cpp
Labels: comp:vm

#6891 Support signals needed by Jython
  runtime/j9vm/jvm.c
Labels: comp:vm, depends:omr

#6927 Don't try to inline AtomicLong methods if classBlock is null
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: arch:z, comp:jit

#6865 Replace all JITaaS prefix with JITServer under runtime folder
  doc/compiler/jitserver/Caching.md
  doc/compiler/jitserver/OptionsDev.md
  doc/compiler/jitserver/ResolvedMethod.md
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationController.hpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/J9Recompilation.hpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/J9VMMethodEnv.cpp
  runtime/compiler/env/JITServerCHTable.cpp
  runtime/compiler/env/JITServerPersistentCHTable.cpp
  runtime/compiler/env/JITServerPersistentCHTable.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/J9Runtime.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITServerIProfiler.cpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
Labels: comp:jitserver

#6957 Delete unused variable assignment
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#6904 AArch64: Implement L_outOfRange in PicBuilder.spp
  runtime/compiler/aarch64/runtime/PicBuilder.spp
Labels: arch:aarch64, comp:jit

#6901 AArch64: Fix branch conditions for static method call
  runtime/compiler/aarch64/runtime/PicBuilder.spp
Labels: arch:aarch64, comp:jit

#6932 Fix RAT hangs by avoiding double free in TR_PatchNOPedGuardSiteOnClas…
  runtime/compiler/env/CHTable.hpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/RuntimeAssumptions.cpp
Labels: comp:jit

#6924 Don't add relo records for TR_MethodObject during remote compil…
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jitserver

#6960 Fix RAT hangs by avoiding double free in TR_PatchNOPedGuardSiteOnClas… (0.16.0)
  runtime/compiler/env/CHTable.hpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/RuntimeAssumptions.cpp
Labels: comp:jit

#6961 (V0.16.0) Avoid object corruption in Unsafe
  runtime/oti/UnsafeAPI.hpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/OutOfLineINL_jdk_internal_misc_Unsafe.cpp
Labels: comp:vm

#6962 Revert "Enable z15 by default" (0.16.0)
  runtime/compiler/control/J9Options.cpp
Labels: arch:z, comp:jit

#5737 Improve Escape Analysis under OSR
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/EscapeAnalysis.hpp
Labels: comp:jit

#6955 Add attach API logs
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/com/ibm/tools/attach/target/CommonDirectory.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9AttachProvider.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
Labels: comp:vm

#6941 AArch64: Add implementation of debug print function for StackCheckFailureSnippet
  runtime/compiler/aarch64/codegen/StackCheckFailureSnippet.cpp
Labels: arch:aarch64, comp:jit

#6966 Remove extra semi-colon in Throwable.java
  jcl/src/java.base/share/classes/java/lang/Throwable.java
Labels: comp:vm

#6903 AArch64: Correct condition code of branch in BNDCHKEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#6902 AArch64: Correct wrtbarEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#6882 Separate JITServerHelpers from JITServerCompilationThread
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/CMakeLists.txt
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
Labels: comp:jitserver

#6893 Update MethodToBeCompiled for merging into master
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
Labels: comp:jitserver

#6973 Modify the translated PII files in nls folder - 0905
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_hu.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_ru.nls
  runtime/nls/dump/j9dmp_ko.nls
  runtime/nls/exel/exelib_fr.nls
  runtime/nls/exel/exelib_pt_BR.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/port/port_fr.nls
  runtime/nls/shrc/j9shr_cs.nls
  runtime/nls/shrc/j9shr_de.nls
  runtime/nls/shrc/j9shr_fr.nls
  runtime/nls/shrc/j9shr_hu.nls
  runtime/nls/shrc/j9shr_it.nls
  runtime/nls/shrc/j9shr_sl.nls
  runtime/nls/shrc/j9shr_tr.nls
  runtime/nls/shrc/j9shr_zh_TW.nls
Labels: comp:vm

#6965 Grab TR_J9SharedCache from AOT FE in sampling hook
  runtime/compiler/control/CompilationController.cpp
Labels: comp:jit, comp:jit:aot

#6923 Resynchronize the relocation header size table and introduce TR_MethodCallAddress relocation entry on Z
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit

#6895 Add grinder rebuild option in the end of test target
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
  test/TestConfig/settings.mk
Labels: comp:test

#6970 Include special.system tests for osx CR on JDK8
  buildenv/jenkins/variables/defaults.yml
Labels: comp:test

#6912 Get existing method info from the J9Method instead of startPC
  runtime/compiler/z/codegen/S390Recompilation.cpp
Labels: arch:z, comp:jitserver

#6980 (v0.16.0) Include special.system testing in the 0.16 release branch
  buildenv/jenkins/variables/defaults.yml
Labels: comp:test

#6944 Make use of `align` utility
  runtime/codert_vm/decomp.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/env/J9SegmentAllocator.cpp
  runtime/shared_common/shrinit.cpp
  runtime/vm/J9OMRHelpers.cpp
  runtime/vm/bindnatv.cpp
Labels: comp:jit, comp:vm

#6978 Add CUSTOM_TARGET in the rebuild links
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
  test/TestConfig/settings.mk
Labels: comp:test

#6974 AArch64: Fix inconsistency in interface call
  runtime/compiler/aarch64/runtime/PicBuilder.spp
Labels: arch:aarch64, comp:jit

#6930 Add stubs for Java 14 Unsafe methods
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
Labels: comp:vm

#6996 Fix missing X11 header errors when building JDK11 on s390x
  buildenv/docker/jdk11/s390x/ubuntu16/Dockerfile
Labels: arch:z, comp:build, jdk11, os:linux

#6956 Add special DDR field formatter for pointers to J9ConstantPool
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ConstantPoolHelpers.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ROMHelp.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITStackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/MethodMetaData.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalkerUtils.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/TerseStackWalkerCallbacks.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9MethodHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/StructureCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/LocalMapCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/StackmapCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/structureformat/extensions/J9ConstantPoolFieldFormatter.java
Labels: comp:vm

#6946 libffi: Fix bug in 31 bit calling convention
  runtime/libffi/z/sysvz.S
Labels: arch:z, comp:vm

#6994 Build DDR test only if j9ddr.jar is present in JDK
  test/functional/DDR_Test/build.xml
Labels: comp:test

#6997 Fix Option issue in TKGJ
  test/TestConfig/TKGJ/src/org/testKitGen/Options.java
Labels: comp:test

#6858 Remove arraylet ifdefs, permanently enabling them
  buildspecs/combogc.feature
  buildspecs/j9.flags
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCArrayObjectModel.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCArrayletObjectModelBase_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCContiguousArrayObjectModel_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCHeapRegionDescriptor_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCObjectIterator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCObjectModel_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9IndexableObjectHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/gccheck/CheckEngine.java
  runtime/cmake/caches/common.cmake
  runtime/compiler/env/VMJ9.cpp
  runtime/ddr/overrides-vm
  runtime/gc/gctable.c
  runtime/gc_api/HeapIteratorAPI.cpp
  runtime/gc_base/GCExtensions.cpp
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/gc_base/ObjectAccessBarrier.hpp
  runtime/gc_base/ScavengerForwardedHeader.hpp
  runtime/gc_base/VMInterfaceAPI.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_check/CheckEngine.cpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_glue_java/ArrayletObjectModelBase.cpp
  runtime/gc_glue_java/ArrayletObjectModelBase.hpp
  runtime/gc_glue_java/MetronomeDelegate.hpp
  runtime/gc_glue_java/ObjectModel.hpp
  runtime/gc_glue_java/ObjectModelDelegate.hpp
  runtime/gc_modron_standard/StandardAccessBarrier.cpp
  runtime/gc_modron_standard/StandardAccessBarrier.hpp
  runtime/gc_modron_startup/arrayCopy.cpp
  runtime/gc_modron_startup/mmhelpers.cpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_realtime/IncrementalOverflow.cpp
  runtime/gc_realtime/MemorySubSpaceMetronome.cpp
  runtime/gc_realtime/MemorySubSpaceMetronome.hpp
  runtime/gc_realtime/RealtimeAccessBarrier.cpp
  runtime/gc_structs/ArrayletLeafIterator.hpp
  runtime/gc_structs/PointerArrayIterator.hpp
  runtime/gc_structs/PointerArrayletInlineLeafIterator.hpp
  runtime/gc_structs/PointerArrayletIterator.hpp
  runtime/gc_vlhgc/AllocationContextBalanced.cpp
  runtime/gc_vlhgc/AllocationContextBalanced.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/CopyForwardScheme.hpp
  runtime/gc_vlhgc/HeapRegionDataForAllocate.cpp
  runtime/gc_vlhgc/HeapRegionDataForAllocate.hpp
  runtime/gc_vlhgc/MemorySubSpaceTarok.cpp
  runtime/gc_vlhgc/MemorySubSpaceTarok.hpp
  runtime/gc_vlhgc/ParallelSweepSchemeVLHGC.cpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.hpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.hpp
  runtime/include/j9cfg.h.in
  runtime/jnichk/jnicheck.c
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#6379 XX:[+-]DeepScan Options for Deep Scan Optimization
  runtime/oti/j9consts.h
  runtime/oti/jvminit.h
  runtime/vm/description.c
  runtime/vm/jvminit.c
Labels: comp:vm

#7008 AArch64: Correct method trampolines
  runtime/compiler/runtime/Trampoline.cpp
Labels: arch:aarch64, comp:jit

#6989 master: Fix StackMapTable verification
  runtime/bcverify/staticverify.c
Labels: comp:vm

#7007 AArch64: Fix alignment of embedded address in PicBuilder.spp
  runtime/compiler/aarch64/runtime/PicBuilder.spp
Labels: arch:aarch64, comp:jit

#7021 Fix multiple bugs in TR_J9SharedCache::addHint()
  runtime/compiler/env/J9SharedCache.cpp
Labels: bug, comp:jit

#7014 Use / instead of $(D) in testEnv.mk
  test/TestConfig/testEnv.mk
Labels: comp:test

#6614 Build jniargtests with system linkage
  runtime/makelib/targets.mk.zos.inc.ftl
  runtime/tests/jniarg/cdefs.c
  runtime/tests/jniarg/jniargtests.h
  runtime/tests/jniargsystemlinkage/module.xml
  test/functional/NativeTest/jniargtests/JniArgTests.java
  test/functional/NativeTest/playlist.xml
Labels: arch:z, bits:32, comp:jit, comp:test, os:zos

#6987 Update getters/setters in CompilationInfo for merging into mast…
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/runtime/JITClientSession.cpp
Labels: comp:jitserver

#6584 Enable XLC 16.1 Clang-based toolchain for AIX platforms
  buildenv/jenkins/variables/defaults.yml
  buildspecs/aix_ppc-64.spec
  buildspecs/aix_ppc-64_cmprssptrs.spec
  buildspecs/aix_ppc.spec
  runtime/compiler/build/toolcfg/aix-xlc/common.mk
  runtime/gc_glue_java/configure_includes/configure_aix_ppc.mk
  runtime/makelib/targets.mk.aix.inc.ftl
Labels: blocker, comp:build, jdk-head, jdk13, jdk14, os:aix

#7027 Fixed Jenkinsfile SPEC mapping
  test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl
Labels: comp:test

#7039 (v0.16.0) Enable XLC 16.1 Clang-based toolchain for AIX platforms
  buildenv/jenkins/variables/defaults.yml
  buildspecs/aix_ppc-64.spec
  buildspecs/aix_ppc-64_cmprssptrs.spec
  buildspecs/aix_ppc.spec
  runtime/compiler/build/toolcfg/aix-xlc/common.mk
  runtime/gc_glue_java/configure_includes/configure_aix_ppc.mk
  runtime/makelib/targets.mk.aix.inc.ftl
Labels: comp:build, jdk13, os:aix

#7034 Enable XLC16.1 toolchain for AIX platforms
  runtime/compiler/build/toolcfg/aix-xlc/common.mk
Labels: comp:build, comp:jit, jdk13, os:aix

#7038 Lock the cache inside markItemStaleCheckMutex().
  runtime/shared_common/CacheMap.cpp
Labels: bug, comp:vm

#7040 (v0.16.0) Lock the cache inside markItemStaleCheckMutex().
  runtime/shared_common/CacheMap.cpp
Labels: bug, comp:vm

#6999 Port JITServer Iprofiler changes
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: comp:jitserver

#6977 Port JITServerStatisticsThread to master branch
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/CMakeLists.txt
  runtime/compiler/runtime/JITServerStatisticsThread.cpp
  runtime/compiler/runtime/JITServerStatisticsThread.hpp
Labels: comp:jitserver

#7025 AArch64: Fix asynccheckEvaluator()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#7046 WIP: Remove j9mm_arraylet_identification GC API
  runtime/gc/gctable.c
  runtime/gc_api/HeapIteratorAPI.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_include/HeapIteratorAPI.h
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#7052 AArch64: Update package URLs for cross-compilation.
  buildenv/docker/jdk11/aarch64_CC/arm-linux-aarch64/Dockerfile
Labels: arch:aarch64, comp:build

#7048 Remove object pointer from Object Scanner
  runtime/gc_glue_java/MixedObjectScanner.hpp
  runtime/gc_glue_java/PointerArrayObjectScanner.hpp
  runtime/gc_glue_java/ReferenceObjectScanner.hpp
Labels: comp:gc

#7063 Port review suggestions for JITServerStatisticsThread to jitaas branch
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/JITServerStatisticsThread.cpp
Labels: comp:jitserver

#6723 JIT support for multi-layered SCCs
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/env/ClassLoaderTable.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/J9Runtime.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
  runtime/shared_common/shrinit.cpp
Labels: comp:jit

#7070 AArch64: Fix checks for MethodNotCompiledBit in PicBuilder.spp
  runtime/compiler/aarch64/runtime/PicBuilder.spp
Labels: arch:aarch64, comp:jit

#7066 Merge common methods from JITServer ClassEnv and VM
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jitserver

#7069 AArch64: Implement generateVFTMaskInstruction()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#7018 Update JITServerHelpers to be ported into the master branch
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jitserver

#6664 AArch64: Implement buildArgs() and buildDirectDispatch() in PrivateLinkage
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#7073 CMake: update include paths for z/OS
  runtime/gc_modron_startup/CMakeLists.txt
  runtime/redirector/CMakeLists.txt
Labels: comp:build

#7076 CMake: Add zos specific sources to j9util
  runtime/util/CMakeLists.txt
Labels: comp:build

#7059 Enhance Artifactory Cleanup script to Slack on error
  buildenv/jenkins/jobs/infrastructure/artifactory_cleanup.groovy
Labels: comp:build

#7074 Remove assert in Monitor Table Read Barrier
  runtime/gc_modron_standard/StandardAccessBarrier.cpp
Labels: comp:gc

#7078 Increase timeout for JITClient to 2 seconds
  runtime/compiler/env/J9PersistentInfo.hpp
Labels: comp:jitserver

#7075 Rename ffi assembly files from .S to .s on zos
  runtime/libffi/module.xml
  runtime/libffi/z/closure_sysvz.s
  runtime/libffi/z/closure_sysvz64.s
  runtime/libffi/z/sysvz.s
  runtime/libffi/z/sysvz64.s
Labels: comp:build

#7084 Add an empty MethodHandle.customize()
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
Labels: comp:vm

#7089 Implement class relationship recording and validating
  runtime/bcverify/CMakeLists.txt
  runtime/bcverify/bcverify.c
  runtime/bcverify/classrelationships.c
  runtime/bcverify/j9bcverify.tdf
  runtime/bcverify/module.xml
  runtime/bcverify/rtverify.c
  runtime/bcverify/vrfyhelp.c
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/bcverify_api.h
  runtime/oti/j9.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9relationship.h
  runtime/oti/jvminit.h
  runtime/tests/bcverify/CMakeLists.txt
  runtime/tests/bcverify/natives/module.xml
  runtime/vm/ClassInitialization.cpp
  runtime/vm/classallocation.c
  runtime/vm/j9vm.tdf
Labels: comp:vm, depends:doc

#6976 Implement functions to load/spill linkage registers for private linkage
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#7001 Add -Xshareclasses:noPersistentDiskSpaceCheck option
  runtime/nls/shrc/j9shr.nls
  runtime/oti/shcflags.h
  runtime/shared_common/OSCachemmap.cpp
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
Labels: comp:vm, depends:doc

#7065 Backport JITServerIProfiler changes from master to jitaas
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/env/J9VMMethodEnv.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/runtime/ExternalProfiler.hpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/JITServerIProfiler.cpp
  runtime/compiler/runtime/JITServerIProfiler.hpp
Labels: comp:jitserver

#7016 Merge JITServerHelpers to the master branch
  runtime/compiler/build/files/common.mk
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CMakeLists.txt
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
Labels: comp:jitserver

#7037 Prepare JITServer j9method-related changes
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/runtime/MetaData.cpp
Labels: comp:jitserver

#7101 Split JITServerCompilationThread into JITClientCompilationThread
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/CMakeLists.txt
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.hpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9VMEnv.cpp
  runtime/compiler/env/J9VMMethodEnv.cpp
  runtime/compiler/env/JITServerPersistentCHTable.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/net/StreamExceptions.hpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jitserver

#6926 Disable countDigits idiom recognition for remote compilations
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/optimizer/IdiomRecognition.cpp
Labels: arch:z, comp:jitserver

#6925 Disable ArrayTranslateAndTest support on Z for remote compilations
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: arch:z, comp:jitserver

#7098 Changed the color of slack messages into grey for aborted jenkins jobs
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#7109 Fix compile warnings/errors
  runtime/runtimetools/osmemory/OSMemoryAgent.hpp
  runtime/tests/jni/jnitest.c
Labels: comp:test

#7044 Port JITServer j9method changes
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
Labels: comp:jitserver

#7107 DDR: generalize return types of bitfield and SRP accessor methods
  debugtools/DDR_VM/src/com/ibm/j9ddr/BytecodeGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
Labels: comp:vm

#7111 Fix tkg compilation issue when AUTO_DETECT=false
  test/TestConfig/run_configure.mk
Labels: comp:test

#7114 Inside getPrereqCache(), call setCorruptCache() if readOnly is false.
  runtime/shared_common/CacheMap.cpp
Labels: comp:vm

#6173 Change the way to inline method handle chains
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/EstimateCodeSize.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/J9Inliner.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
  runtime/compiler/optimizer/J9Optimizer.cpp
Labels: comp:jit, depends:omr, enhancement

#7000 Add semi-exhaustive intrinsicIndexOf* unit tests
  test/functional/Java8andUp/src/org/openj9/test/com/ibm/jit/Test_JITHelpers.java
Labels: comp:jit, comp:test

#7029 Store caches inside ClassInfo instead of pointers to them
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#7102 Deprecate splitWarmAndColdBlocksPhase
  runtime/compiler/codegen/CodeGenPhaseToPerform.hpp
  runtime/compiler/codegen/J9CodeGenPhase.cpp
  runtime/compiler/codegen/J9CodeGenPhase.hpp
  runtime/compiler/codegen/J9CodeGenPhaseEnum.hpp
  runtime/compiler/codegen/J9CodeGenPhaseFunctionTable.hpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/z/codegen/CodeGenPhaseToPerform.hpp
  runtime/compiler/z/codegen/J9CodeGenerator.hpp
Labels: arch:z, comp:jit

#7144 Fix misnamed exports in zos native tests
  runtime/tests/zos/module.xml
Labels: comp:build

#6993 Create resolved method with valid vtable offset
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/jit_vm/cthelpers.cpp
  runtime/oti/j9protos.h
Labels: comp:jit

#7148 Fixes for -XX:+ClassRelationshipVerifier implementation
  runtime/bcverify/bcverify.c
  runtime/vm/ClassInitialization.cpp
Labels: bug, comp:vm

#7104 Round maxRequiredSize to match romSize calculation
  runtime/bcutil/ROMClassBuilder.cpp
Labels: bug, comp:vm

#7120 Work around compiler bug when reading SCC hints
  runtime/compiler/env/J9SharedCache.cpp
Labels: comp:jit

#7108 Update uses of getExistingJittedBodyInfo()
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/env/CHTable.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/x/codegen/X86Recompilation.cpp
  runtime/compiler/z/codegen/S390Recompilation.cpp
Labels: comp:jitserver

#7147 Fix incorrect JITSERVER_SUPPORT guard
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
Labels: comp:jitserver

#7157 Update getDependencies.pl (v0.15.0-release)
  test/TestConfig/scripts/tools/getDependencies.pl
Labels: comp:test

#7085 Fix build break with isPointerInSharedCache() in IProfiler.cpp
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#7103 Remove unused portLibCall_sysinfo functions from VMJ9
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jit

#7142 Skip Pre- and PostEscapeAnalysis if EA is not enabled
  runtime/compiler/optimizer/PostEscapeAnalysis.cpp
  runtime/compiler/optimizer/PreEscapeAnalysis.cpp
Labels: comp:jit

#7116 Set custom SecurityManager constructor accessible flag
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  test/functional/Java8andUp/src/org/openj9/test/support/Support_Exec.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/Test_System.java
Labels: comp:vm

#7105 Remove redundant recognized methods inlining code from the Power codegen
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#7121 AArch64: Add x18 to SAVE/RESTORE_PRESERVED_REGS
  runtime/oti/arm64helpers.m4
Labels: arch:aarch64, comp:jit

#6937 AArch64: Temporarily empty J9::Recompilation::getJittedBodyInfoFromPC()
  runtime/compiler/aarch64/runtime/Recomp.cpp
Labels: arch:aarch64, comp:jit

#7151 Port j9methodServer from jitaas to master
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/J9Recompilation.hpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/env/CMakeLists.txt
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/JITServerIProfiler.cpp
  runtime/compiler/x/runtime/Recomp.cpp
Labels: comp:jitserver

#7149 New option to store unsafe classes on shared cache
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/ROMClassCreationContext.hpp
  runtime/jcl/common/sun_misc_Unsafe.cpp
  runtime/nls/exel/exelib.nls
  runtime/oti/jvminit.h
  runtime/oti/shcflags.h
  runtime/shared/shrclssup.c
  runtime/shared_common/shrinit.cpp
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, depends:doc

#7159 Adding `libexpat1-dev` package to dependency list
  buildenv/docker/test/Dockerfile
Labels: comp:build, comp:test

#7181 Modify the translated PII files in nls folder
  runtime/nls/shrc/j9shr_tr.nls
Labels: comp:vm

#7152 Use TestKitGen java for testing
  test/TestConfig/TKGJ/src/org/testKitGen/Constants.java
  test/TestConfig/TKGJ/src/org/testKitGen/Counter.java
  test/TestConfig/TKGJ/src/org/testKitGen/MkGen.java
  test/TestConfig/TKGJ/src/org/testKitGen/UtilsGen.java
  test/TestConfig/makeGen.mk
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/TestConfig/scripts/testKitGen/testKitGen.pl
Labels: comp:test

#7113 Port JITServerCHTable/JITServerPersistentCHTable to master bran…
  runtime/compiler/build/files/common.mk
  runtime/compiler/env/CHTable.cpp
  runtime/compiler/env/CHTable.hpp
  runtime/compiler/env/CMakeLists.txt
  runtime/compiler/env/JITServerCHTable.cpp
  runtime/compiler/env/JITServerCHTable.hpp
  runtime/compiler/env/JITServerPersistentCHTable.cpp
  runtime/compiler/env/JITServerPersistentCHTable.hpp
  runtime/compiler/env/PersistentCHTable.hpp
  runtime/compiler/runtime/RuntimeAssumptions.cpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
Labels: comp:jitserver

#7166 Add a check with getNumChildren before calling getFirstChild()
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: bug, comp:jit

#7185 Put the reminder of removal on top of the package name
  buildenv/docker/test/Dockerfile
Labels: comp:build, comp:test

#7187 Clean up StructureReader
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureReader.java
Labels: comp:vm

#7174 Fix APIs that overwrite data in the shared cache.
  runtime/shared_common/ByteDataManagerImpl.cpp
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/ROMClassResourceManager.cpp
  runtime/shared_common/j9shr.tdf
Labels: comp:vm

#7119 Fix MH.insertArguments argument check
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm

#7176 Use with-boot-jdk variable instead of hardcode
  debugtools/DDR_VM/compile_ddr.xml
  debugtools/DDR_VM/generate.xml
Labels: comp:build

#6890 Backport JITServer chtable related changes from master
  doc/compiler/jitserver/CHTable.md
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/CHTable.cpp
  runtime/compiler/env/CHTable.hpp
  runtime/compiler/env/JITServerCHTable.cpp
  runtime/compiler/env/JITServerCHTable.hpp
  runtime/compiler/env/JITServerPersistentCHTable.cpp
  runtime/compiler/env/JITServerPersistentCHTable.hpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/RuntimeAssumptions.cpp
Labels: comp:jitserver

#7198 Rename TR_DisableInliningOfIsAssignableFrom to TR_disableInlineIsAssignableFrom
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
Labels: arch:x86, comp:jit

#6907 Thunk related fixes
  runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp
Labels: arch:z, comp:jitserver

#7212 Move help text of layer=<number> and createLayer to -Xshareclasses:help
  runtime/shared_common/shrinit.cpp
Labels: comp:vm

#7213 (v0.17.0) Fix APIs that overwrite data in the shared cache
  runtime/shared_common/ByteDataManagerImpl.cpp
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/ROMClassResourceManager.cpp
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/shrinit.cpp
Labels: comp:vm, depends:doc

#7216 CMake: Add missing file to compiler excludes
  runtime/compiler/CMakeLists.txt
Labels: comp:build

#7206 Eliminate VM_isSameOrSuperClass messages
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/net/protos/compile.proto
Labels: comp:jitserver

#7117 Merge IlGeneratorMethodDetails related methods to master
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/J9Recompilation.hpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/env/VMJ9.h
  runtime/compiler/ilgen/IlGeneratorMethodDetails.hpp
  runtime/compiler/ilgen/J9IlGeneratorMethodDetails.cpp
  runtime/compiler/ilgen/J9IlGeneratorMethodDetails.hpp
  runtime/compiler/net/StreamExceptions.hpp
  runtime/compiler/runtime/J9Runtime.hpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
Labels: comp:jitserver

#7192 Fix the error message when using -XX:-IgnoreUnrecognizedXXColonOptions with shared class options
  runtime/shared/shrclssup.c
  runtime/vm/jvminit.c
Labels: comp:vm

#7118 Update IlGeneratorMethodDetails related methods for merging int…
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/J9Recompilation.hpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/env/VMJ9.h
  runtime/compiler/ilgen/IlGeneratorMethodDetails.hpp
  runtime/compiler/ilgen/J9IlGeneratorMethodDetails.cpp
  runtime/compiler/ilgen/J9IlGeneratorMethodDetails.hpp
  runtime/compiler/runtime/J9Runtime.hpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: comp:jitserver

#7110 Added retry and echo to Artifactory upload for testing purposes
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#7145 Wrapped job creation to reduce ConcurrentModificationException
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#7219 AArch64: Set LRKilled flag in asynccheckEvaluator()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#6761 AArch64: Implement ARM64PrivateLinkage::buildIndirectDispatch()
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
  runtime/oti/JITInterface.hpp
Labels: arch:aarch64, comp:jit

#7064 Generate DDR pointer classes dynamically as appropriate
  debugtools/DDR_VM/src/com/ibm/j9ddr/J9DDRClassLoader.java
  runtime/ddr/vmddr.cpp
Labels: comp:vm, depends:doc

#7228 Restore declarations to sorted order
  runtime/ddr/gcddr.cpp
Labels: comp:vm

#7224 Add 0.17 release notes for milestone 1
  doc/release-notes/0.16/0.16.md
  doc/release-notes/0.17/0.17.md
Labels: comp:doc

#7062 Updated error handling for MethodHandle invocation
  runtime/vm/MHInterpreter.cpp
  runtime/vm/MHInterpreter.hpp
Labels: comp:vm

#7238 Restore J9_JAVA_XXX constants in j9consts.h
  runtime/ddr/vmddr.cpp
  runtime/oti/j9consts.h
Labels: comp:vm

#7201 Merge JITServerCompilationThread
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jitserver

#7200 Update JITServerCompilationThread to be merged into master
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jitserver

#7235 Update TestKitGen Java for Valhalla and Panama
  test/TestConfig/TKGJ/src/org/testKitGen/MkTreeGen.java
  test/TestConfig/TKGJ/src/org/testKitGen/TestInfo.java
  test/TestConfig/makeGen.mk
Labels: comp:test

#7100 Static value type tests
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test

#7253 CMake: Fix platform specific flags in the verbose component
  runtime/verbose/CMakeLists.txt
Labels: comp:build
