Repository eclipse-openj9/openj9, pull requests merged in 2019-07, with the labels that each got.

#6271 Enable shared classes by default
  runtime/oti/j9.h
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/playlist.xml
Labels: comp:vm, depends:doc

#6186 Use a common query to decide what to generate for virtual guards
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#5926 Add support to compress AOT code
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/build/toolcfg/zos-xlc/common.mk
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/module.xml
  runtime/compiler/runtime/J9Runtime.hpp
Labels: comp:jit, comp:jit:aot

#6317 Declare obsolete J9_JAVA constants in DDR blob for compatibility
  runtime/ddr/vmddr.cpp
Labels: backport:candidate, comp:vm

#6321 (V0.15.0) Declare obsolete J9_JAVA constants in DDR blob for compatibility
  runtime/ddr/vmddr.cpp
Labels: comp:vm

#6179 Eliminate Warnings for Compilation in JITaaS Code
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
Labels: comp:jit, jitaas

#6082 Replaced JAVA_BIN to corresponding Test_JDK_HOME in Openj9
  test/TestConfig/openj9Settings.mk
  test/TestConfig/scripts/build_test.xml
  test/TestConfig/settings.mk
  test/TestConfig/testEnv.mk
  test/functional/Jsr292/build.xml
  test/functional/Jsr335_interfaceStaticMethod/build.xml
  test/functional/NativeTest/playlist.xml
  test/functional/OpenJ9_Jsr_292_API/build.xml
  test/functional/VM_Test/playlist.xml
  test/functional/cmdLineTests/gptest/playlist.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/build.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/playlist.xml
  test/functional/cmdLineTests/jvmtitests/build.xml
  test/functional/cmdLineTests/lockWordAlignment/build.xml
  test/functional/cmdLineTests/lockWordAlignment/playlist.xml
  test/functional/cmdLineTests/openssl/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption14.pl
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption15.pl
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption16.pl
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption17.pl
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption18.pl
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption19.pl
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/sharedClassesUtil.pl
Labels: comp:test

#5279 Set prexArg for method handle thunks
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit, depends:omr, perf

#5567 AArch64: Implement initARM64RealRegisterLinkage() in ARM64PrivateLinkage
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#6323 Replace JITaaS namespace with JITServer
  doc/compiler/jitaas/Protobuf.md
  doc/compiler/jitaas/Sockets.md
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/control/MethodToBeCompiled.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/J9VMMethodEnv.cpp
  runtime/compiler/env/JITaaSPersistentCHTable.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/rpc/J9Client.cpp
  runtime/compiler/rpc/J9Client.hpp
  runtime/compiler/rpc/J9Server.cpp
  runtime/compiler/rpc/J9Server.hpp
  runtime/compiler/rpc/J9Stream.cpp
  runtime/compiler/rpc/J9Stream.hpp
  runtime/compiler/rpc/ProtobufTypeConvert.cpp
  runtime/compiler/rpc/ProtobufTypeConvert.hpp
  runtime/compiler/rpc/StreamTypes.hpp
  runtime/compiler/rpc/protos/compile.proto
  runtime/compiler/runtime/CompileService.cpp
  runtime/compiler/runtime/CompileService.hpp
  runtime/compiler/runtime/JITaaSIProfiler.cpp
  runtime/compiler/runtime/JITaaSIProfiler.hpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/x/runtime/Recomp.cpp
Labels: jitaas

#6117 CMake: add support for aix in j9vm_gen_asm
  runtime/cmake/J9vmGenAsm.cmake
Labels: comp:build

#6326 Replace JITAAS_ENABLE_SSL with JITSERVER_ENABLE_SSL
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/rpc/J9Client.cpp
  runtime/compiler/rpc/J9Client.hpp
  runtime/compiler/rpc/J9Server.cpp
  runtime/compiler/rpc/J9Server.hpp
  runtime/compiler/rpc/J9Stream.hpp
  runtime/compiler/rpc/SSLProtobufStream.hpp
Labels: jitaas

#5797 Reorganize pipeline code
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/infrastructure/Cleanup-Nodes.groovy
  buildenv/jenkins/jobs/infrastructure/Update-Reference-Repos.groovy
  buildenv/jenkins/jobs/infrastructure/artifactory_cleanup.groovy
  buildenv/jenkins/jobs/infrastructure/branchSplit.groovy
  buildenv/jenkins/jobs/infrastructure/copyrightCheck.groovy
  buildenv/jenkins/jobs/infrastructure/lineEndingsCheck.groovy
  buildenv/jenkins/jobs/infrastructure/omrMirror.groovy
  buildenv/jenkins/jobs/infrastructure/promote_repo.groovy
  buildenv/jenkins/jobs/infrastructure/signedOffByCheck.groovy
  buildenv/jenkins/jobs/infrastructure/tagRepos.groovy
  buildenv/jenkins/jobs/infrastructure/wrapper_job.groovy
  buildenv/jenkins/jobs/infrastructure/wrapper_template.groovy
  buildenv/jenkins/jobs/infrastructure/wrapper_variables.yml
  buildenv/jenkins/jobs/pipelines/Build-Any-Platform.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
Labels: comp:build

#6329 Update libssl path in AArch64 Dockerfile
  buildenv/docker/jdk11/aarch64_CC/arm-linux-aarch64/Dockerfile
Labels: arch:aarch64

#6269 Add a set of release notes for MS1
  doc/release-notes/0.15/0.15.md
Labels: comp:doc

#6118 CMake: make libffi work on aix
  runtime/libffi/CMakeLists.txt
Labels: comp:build

#6341 CMake: add exports to jniargtest
  runtime/tests/jniarg/CMakeLists.txt
  runtime/tests/jniarg/exports.cmake
Labels: comp:build, comp:test

#6337 Add aix sources to util component
  runtime/util/CMakeLists.txt
Labels: comp:build, os:aix

#6336 Link against the platform agnostic OMR_PLATFORM_THREAD_LIBRARY
  runtime/thread/CMakeLists.txt
Labels: comp:build

#5673 Allow client to compile locally when server is down
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/rpc/J9Client.cpp
Labels: jitaas

#6300 Send processor features from JITaaS client to server
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/x/env/J9CPU.cpp
  runtime/compiler/x/env/J9CPU.hpp
Labels: jitaas

#6188 Verify LocalVariable(Type)Table index
  runtime/bcutil/cfreader.c
  runtime/bcutil/defineclass.c
Labels: comp:vm

#6334 Reduce number of messages for AOT compilations
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
Labels: jitaas

#6339 Rename JITaaS Networking Files
  runtime/compiler/build/files/common.mk
  runtime/compiler/build/files/net.mk
  runtime/compiler/build/rules/gnu/filetypes.mk
  runtime/compiler/build/toolcfg/common.mk
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/env/JITaaSPersistentCHTable.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/net/ClientStream.cpp
  runtime/compiler/net/ClientStream.hpp
  runtime/compiler/net/CommunicationStream.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/ProtobufTypeConvert.cpp
  runtime/compiler/net/ProtobufTypeConvert.hpp
  runtime/compiler/net/SSLProtobufStream.hpp
  runtime/compiler/net/ServerStream.cpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/net/StreamTypes.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/runtime/CompileService.hpp
  runtime/compiler/runtime/Listener.cpp
Labels: jitaas

#6055 Implement DIVCHKEvaluator for AArch64
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6322 Make ServerStream::finishCompilation variadic
  runtime/compiler/net/ServerStream.cpp
  runtime/compiler/net/ServerStream.hpp
Labels: jitaas

#6258 Exempt com/sun/proxy classes from validation
  runtime/jcl/common/proxy.c
Labels: backport:candidate, comp:vm

#6176 Implement evaluators for checkcast and checkcastAndNULLCHK
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6353 Fix DIVCHK Evaluator Function Declaration
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: bug, comp:jit

#6344 Fix creation of duplicate AOTClassInfos for static fields
  runtime/compiler/env/j9method.cpp
Labels: bug, comp:jit, comp:jit:aot

#6355 AArch64: Implementation of monexitEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6356 AArch64: Implementation of newObjectEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#5432 AArch64: Implement _interfaceCallHelper in PicBuilder.spp
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
  runtime/compiler/aarch64/runtime/PicBuilder.spp
  runtime/compiler/runtime/Runtime.cpp
Labels: arch:aarch64, comp:jit

#6357 AArch64: Implementation of newArrayEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6048 Deep Structure Scan Optimization
  runtime/gc_api/HeapIteratorAPI.cpp
  runtime/gc_base/ReferenceChainWalker.cpp
  runtime/gc_glue_java/CompactDelegate.cpp
  runtime/gc_glue_java/CompactSchemeFixupObject.cpp
  runtime/gc_glue_java/MarkingDelegate.hpp
  runtime/gc_glue_java/MetronomeDelegate.hpp
  runtime/gc_glue_java/ObjectIterator.hpp
  runtime/gc_glue_java/ObjectModel.hpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_realtime/RealtimeAccessBarrier.cpp
  runtime/gc_trace_vlhgc/TgcInterRegionReferences.cpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkCardScrubber.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/PartialMarkingScheme.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/oti/j9nonbuilder.h
  runtime/vm/createramclass.cpp
  runtime/vm/description.c
Labels: comp:gc

#6372 AArch64: Fixed missing type on newArrayEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, bug

#6358 AArch64: Implementation of anewArrayEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6363 Fix VSTRS loop indexing error by adding -1 to VLL
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#6174 Avoid constant timestamp checking on classpaths
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassURLClasspathHelperImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassURLHelperImpl.java
  runtime/jcl/common/shared.c
  runtime/jcl/exports.cmake
  runtime/jcl/j9jcl.tdf
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/jcl/uma/se7_exports.xml
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/shcflags.h
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
  test/functional/VM_Test/src/j9vm/test/invalidclasspath/SetClasspathTestRunner.java
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests.xml
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests_80.xml
Labels: comp:vm, depends:doc

#6375 (v.0.15.0) Exempt com/sun/proxy classes from validation
  runtime/jcl/common/proxy.c
Labels: comp:vm

#6376 Fix ValueType compilation failures
  runtime/oti/VMHelpers.hpp
Labels: comp:vm

#6342 Fix compile errors with xlc 16 on AIX
  runtime/port/unix/j9process.c
  runtime/port/unix/j9sock.c
Labels: comp:vm

#6340 Set C/C++ flags for Protobuf
  buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile
Labels: comp:build

#6335 Add aix support to vm component
  runtime/vm/CMakeLists.txt
Labels: comp:build, os:aix

#6373 CMake: Add symbol exports test libraries
  runtime/tests/bcverify/CMakeLists.txt
  runtime/tests/jni/CMakeLists.txt
  runtime/tests/jni/exports.cmake
  runtime/tests/shared/CMakeLists.txt
  runtime/tests/thread/CMakeLists.txt
Labels: comp:build

#6381 Perform all AOT compilations remotely
  runtime/compiler/control/CompilationThread.cpp
Labels: jitaas

#6383 AArch64: Fixed Syntax Error in newObjectEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, bug, comp:jit

#6345 AArch64: Implementation of monentEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6091 Statically link protobuf
  LICENSE
  longabout.html
  runtime/compiler/build/rules/gnu/common.mk
  runtime/compiler/build/toolcfg/gnu/common.mk
Labels: jitaas

#6394 Add comments to ClientStream and ServerStream classes
  runtime/compiler/net/ClientStream.cpp
  runtime/compiler/net/ClientStream.hpp
  runtime/compiler/net/ServerStream.cpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/runtime/Listener.cpp
Labels: jitaas

#6348 Enable server and client to exchange opt plan
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
Labels: jitaas

#6401 Avoid constant timestamp checking on classpaths (v0.15.0-release)
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassURLClasspathHelperImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassURLHelperImpl.java
  runtime/jcl/common/shared.c
  runtime/jcl/exports.cmake
  runtime/jcl/j9jcl.tdf
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/jcl/uma/se7_exports.xml
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/shcflags.h
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
  test/functional/VM_Test/src/j9vm/test/invalidclasspath/SetClasspathTestRunner.java
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests.xml
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests_80.xml
Labels: comp:vm, depends:doc

#6400 CMake: Add missing ppc code gen source files
  runtime/compiler/p/codegen/CMakeLists.txt
Labels: comp:build, comp:jit

#6100 Add JITSERVER_SUPPORT flag for JITaaS conditional build
  runtime/compiler/build/files/common.mk
  runtime/compiler/build/rules/common.mk
  runtime/compiler/build/rules/gnu/common.mk
  runtime/compiler/build/rules/gnu/filetypes.mk
  runtime/compiler/build/toolcfg/common.mk
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/compiler.mk
Labels: jitaas

#5625 AArch64: Implement constructor of ARM64PrivateLinkage
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#6077 AArch64: Implementation of ArrayLengthEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6390 AArch64: Use separate compilation thread by default
  runtime/compiler/control/CompilationThread.cpp
Labels: arch:aarch64, comp:jit

#6407 AArch64: Fix build break with arraylengthEvaluator()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, bug, comp:jit

#6402 Use parsed data in TKG to work around perl CSV module on Zos
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
  test/TestConfig/scripts/testKitGen/makeGenTool/modesData.pl
Labels: comp:test

#6328 Move resolveCHKEvaluator() to common J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/arm/codegen/J9CodeGenerator.cpp
  runtime/compiler/arm/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
Labels: comp:jit

#6410 AArch64: Set the register for JIT_STACK_OVERFLOW_SIZE_REGISTER
  runtime/codert_vm/cnathelp.cpp
Labels: arch:aarch64, comp:jit

#6217 Transform and inline dsqrt evaluator
  runtime/compiler/il/symbol/J9ResolvedMethodSymbol.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:power, arch:x86, arch:z, comp:jit

#6374 Remove math_useDivRem flag
  buildspecs/aix_ppc-64.spec
  buildspecs/aix_ppc-64_cmprssptrs.spec
  buildspecs/aix_ppc.spec
  buildspecs/j9.flags
  buildspecs/linux_390-64.spec
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_390.spec
  buildspecs/linux_ztpf_390-64.spec
  runtime/include/j9cfg.h.in
  runtime/util/divrem.c
Labels: comp:build, comp:vm

#6415 Fix ARM CodeGenerator constructor build break
  runtime/compiler/arm/codegen/J9CodeGenerator.cpp
Labels: arch:aarch32, bug, comp:jit

#6413 Fix invalid suffix on literal in shrinit.h
  runtime/shared_common/shrinit.h
Labels: comp:vm

#6365 Add default socket connection timeout as 1s
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/net/ServerStream.cpp
  runtime/compiler/net/ServerStream.hpp
Labels: jitaas

#6416 Fix compilation error in jvm.c for AIX XL C/C++ 16.1
  runtime/j9vm/jvm.c
Labels: comp:vm, os:aix

#6408 AArch64: Adding dummy entries for some evaluators
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6397 Reduce initialization costs of management beans
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/BufferPoolMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ClassLoadingMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/CompilationMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ComponentBuilder.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/GarbageCollectorMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/LazyDelegatingNotifier.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/LoggingMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ManagementUtils.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/MemoryMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/MemoryManagerMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/MemoryPoolMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/OperatingSystemMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/RuntimeMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ThreadMXBeanImpl.java
  jcl/src/java.management/share/classes/java/lang/management/DefaultPlatformMBeanProvider.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/CpuUtilizationHelper.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedGarbageCollectorMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedMemoryMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedOperatingSystemMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/PlatformMBeanProvider.java
  jcl/src/jdk.management/share/classes/openj9/lang/management/internal/OpenJ9DiagnosticsMXBeanImpl.java
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestLoggingMXBean.java
Labels: comp:vm, perf

#6409 Update 0.15 release notes for SHRC behavior change
  doc/release-notes/0.15/0.15.md
Labels: comp:doc

#6354 AArch64: Implementation of instanceofEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6359 AArch64: Implementation of multianewArrayEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6403 Fix String.indexOf corner case where start == Integer.MAX_VALUE - 1
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/java/lang/String.java
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:power, arch:x86, arch:z, comp:jit, comp:vm, jdk8

#6346 Get Artifactory credentials from Artifactory object
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/infrastructure/artifactory_cleanup.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#6433 Update release notes for GC hints
  doc/release-notes/0.15/0.15.md
Labels: comp:doc

#6431 Disable Deep Scan
  runtime/gc_glue_java/ObjectModel.hpp
Labels: comp:gc

#6423 Fix runtime resolve for static methods
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/j9methodServer.cpp
Labels: jitaas

#6439 Disable arraycopy transformations for AArch64
  runtime/compiler/control/rossa.cpp
Labels: arch:aarch64, comp:jit

#6447 Disable features not available on AArch64 yet
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: arch:aarch64, comp:jit

#6280 Common monexitfenceEvaluator, removed arch specific versions
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/arm/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6305 Get rid of calls to extra_L in BruteArgumentMoverHandle
  jcl/src/java.base/share/classes/java/lang/invoke/BruteArgumentMoverHandle.java
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/JSR292Methods.h
  runtime/compiler/env/j9method.cpp
Labels: comp:jit, comp:vm

#6456 Remove unnecessary execute permissions from files
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
  runtime/compiler/arm/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch32, arch:aarch64, comp:jit

#6458 WIP: Should not call destructor on null pointer
  runtime/compiler/control/CompilationThread.cpp
Labels: bug, comp:jit

#6448 Remove redundant character substitution.
  runtime/port/win32/j9shsem.c
Labels: comp:port, os:windows

#6460 add scripts to check git repo sha
  test/.gitignore
  test/TestConfig/scripts/build_test.xml
  test/TestConfig/scripts/getSHA.sh
Labels: comp:test

#6459 Refactor willGenerateNOPForVirtualGuard() to avoid an assert
  runtime/compiler/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#6471 Increase Nightly & Decrease OMR history
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#6464 Fix the releases sorting in the pipeline summary
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#6440 Prepare networking files to be merged in master
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J2IThunk.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/net/ClientStream.cpp
  runtime/compiler/net/CommunicationStream.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/ServerStream.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
Labels: jitaas

#6463 Lock nursery is no longer optional
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ObjectFieldOffsetIterator_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ObjectMonitor_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/RootScanner.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ObjectHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9ClassShapeCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/structureformat/extensions/J9ObjectStructureFormatter.java
  runtime/compiler/arm/codegen/J9ARMEvaluator.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/ras/kca_offsets_generator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/runtime/X86LockReservation.nasm
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/gc_base/RootScanner.cpp
  runtime/gc_include/ObjectAccessBarrierAPI.hpp
  runtime/gc_realtime/RealtimeRootScanner.cpp
  runtime/gc_structs/ClassStaticsDeclarationOrderIterator.hpp
  runtime/gc_structs/MixedObjectDeclarationOrderIterator.hpp
  runtime/include/locknursery.h
  runtime/jilgen/jilconsts.c
  runtime/oti/ObjectMonitor.hpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/tests/thread/testnatives/testnatives.c
  runtime/util/moninfo.c
  runtime/util/thrinfo.c
  runtime/vm/ObjectMonitor.cpp
  runtime/vm/createramclass.cpp
  runtime/vm/description.c
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
  runtime/vm/lockwordconfig.c
  runtime/vm/monhelpers.c
  runtime/vm/montable.c
  runtime/vm/threadhelp.cpp
  runtime/vm/vm_internal.h
Labels: comp:gc, comp:jit, comp:vm

#6461 Correct test of successful download of freemarker.jar
  buildenv/travis/build-on-travis.sh
Labels: comp:build

#6490 Remove extra rpaths in AIX shared libs
  runtime/compiler/build/toolcfg/aix-xlc/common.mk
  runtime/makelib/targets.mk.aix.inc.ftl
Labels: comp:vm

#6494 (v0.15.0) Remove extra rpaths in AIX shared libs
  runtime/compiler/build/toolcfg/aix-xlc/common.mk
  runtime/makelib/targets.mk.aix.inc.ftl
Labels: comp:vm

#6491 Change UMA_EXE_LINK_POSTFLAGS set method in aix makefile
  runtime/makelib/targets.mk.aix.inc.ftl
Labels: comp:vm, os:aix

#6492 Invoke DomainCombiner.combine() for embedded AccessControlContext
  jcl/src/java.base/share/classes/java/security/AccessControlContext.java
  jcl/src/java.base/share/classes/java/security/AccessController.java
  test/functional/Java8andUp/src/org/openj9/test/java/security/Test_AccessControlContext.java
Labels: comp:vm

#6493 (0.15.0) Invoke DomainCombiner.combine() for embedded AccessControlContext
  jcl/src/java.base/share/classes/java/security/AccessControlContext.java
  jcl/src/java.base/share/classes/java/security/AccessController.java
  test/functional/Java8andUp/src/org/openj9/test/java/security/Test_AccessControlContext.java
Labels: comp:vm

#6497 Add missing `# END NON-TRANSLATABLE` comment
  runtime/nls/cfre/cfrerr.nls
Labels: comp:vm

#6501 Fix out-of-bounds write in String.getBytes
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm

#6502 (v0.15.0) Fix out-of-bounds write in String.getBytes
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm

#6506 (0.15.0) add scripts to check git repo sha
  test/.gitignore
  test/TestConfig/scripts/build_test.xml
  test/TestConfig/scripts/getSHA.sh
Labels: comp:test

#6487 Fix missing labels in the pipeline summary table
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#6457 Cmake: allow build to define version identifiers
  runtime/cmake/build_tags.cmake
  runtime/compiler/env/VMJ9.cpp
  runtime/include/j9version.h.ftl
  runtime/include/j9version.h.in
  runtime/vm/vmprops.c
  sourcetools/CMakeLists.txt
Labels: comp:build

#6312 Match Java 14 parameter annotation format changes
  test/functional/Java8andUp/src/org/openj9/test/annotation/Test_Annotation.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/Test_Class.java
Labels: comp:test, jdk14

#6514 Update JITaaS Docker files
  buildenv/docker/jdk8/x86_64/ubuntu16/jitaas/build/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitaas/buildenv/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitaas/build/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitaas/buildenv/Dockerfile
Labels: comp:jitserver

#6483 Implement TR_ResolveJ9JITaaSServerMethod::varHandleMethodTypeTableEntryAddress
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/net/protos/compile.proto
Labels: comp:jitserver

#6508 WIP: Update networking files based on master branch merge
  runtime/compiler/build/files/net.mk
  runtime/compiler/build/rules/gnu/common.mk
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/net/ClientStream.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/ProtobufTypeConvert.hpp
  runtime/compiler/net/ServerStream.cpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/net/StreamTypes.hpp
Labels: comp:jitserver

#6519 Fix references to 0.15.0 to be 0.15.1
  doc/release-notes/0.15/0.15.md
Labels: comp:doc

#6520 Clean up java.lang.String
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm

#6526 CMake: Add s390 support to the vm component
  runtime/vm/CMakeLists.txt
Labels: comp:build

#6523 Remove com.ibm.j9ddr.corereaders.debugger
  debugtools/DDR_VM/src/com/ibm/j9ddr/command/JNICommandReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/CoreReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/DataEntry.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniAddressSpace.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniImageInputStream.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniMemory.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniNatives.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniOutputStream.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniProcess.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniRegisters.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniRegistersAMD64.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniRegistersIA32.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniRegistersPPC32.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniRegistersPPC64.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniRegistersS39031.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniRegistersS39064.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniSearchableMemory.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/debugger/JniThread.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ddrinteractive/DDRInteractive.java
Labels: comp:vm

#6528 Implement JavaLangAccess.loadLibrary()
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk14

#6532 CMake: add s390 support to codert_vm
  runtime/codert_vm/CMakeLists.txt
Labels: comp:build

#6534 AArch64: Add ForceRecompilationSnippet files
  runtime/compiler/aarch64/codegen/CMakeLists.txt
  runtime/compiler/aarch64/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/aarch64/codegen/ForceRecompilationSnippet.hpp
  runtime/compiler/build/files/target/aarch64.mk
Labels: arch:aarch64, comp:jit

#6426 AArch64: Implement VMgenerateCatchBlockBBStartPrologue()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#6227 Specialize MethodHandle.invokeExact in ILGen
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
Labels: comp:jit

#6539 Disable EDO on AArch64
  runtime/compiler/control/J9Options.cpp
Labels: arch:aarch64, comp:jit

#6516 modified Test User Guide
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#6424 Merged cmdLineTester_CryptoTest for various jdk versions
  test/functional/cmdLineTests/openssl/playlist.xml
Labels: comp:test

#6250 Implement store/load/full/allocationFence for AArch64
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6513 Implement jcmd
  jcl/src/java.base/share/classes/openj9/tools/attach/diagnostics/base/DiagnosticProperties.java
  jcl/src/java.base/share/classes/openj9/tools/attach/diagnostics/base/DiagnosticUtils.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/attacher/AttacherDiagnosticsProvider.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jcmd.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jps.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jstack.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Util.java
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/AttachApiTest.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJcmd.java
  test/functional/Java8andUp/testng.xml
Labels: comp:vm

#6517 Improve performance of final field writes
  runtime/bcutil/ROMClassWriter.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9consts.h
  runtime/oti/j9javaaccessflags.h
  runtime/oti/j9modifiers_api.h
  runtime/shared_common/OSCache.hpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/resolvesupport.cpp
  runtime/vm/visible.c
Labels: comp:vm, perf

#6524 Remove rconsole support
  buildspecs/aix_ppc-64.spec
  buildspecs/aix_ppc-64_cmprssptrs.spec
  buildspecs/aix_ppc.spec
  buildspecs/j9.flags
  buildspecs/linux_390-64.spec
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_390.spec
  buildspecs/linux_aarch64.spec
  buildspecs/linux_aarch64_cmprssptrs.spec
  buildspecs/linux_aarch64_cmprssptrs_cross.spec
  buildspecs/linux_aarch64_cross.spec
  buildspecs/linux_arm.spec
  buildspecs/linux_arm_linaro.spec
  buildspecs/linux_ppc-64.spec
  buildspecs/linux_ppc-64_cmprssptrs.spec
  buildspecs/linux_ppc-64_cmprssptrs_le.spec
  buildspecs/linux_ppc-64_cmprssptrs_le_gcc.spec
  buildspecs/linux_ppc-64_le.spec
  buildspecs/linux_ppc-64_le_gcc.spec
  buildspecs/linux_ppc.spec
  buildspecs/linux_x86-64.spec
  buildspecs/linux_x86-64_cmprssptrs.spec
  buildspecs/linux_x86.spec
  buildspecs/linux_ztpf_390-64.spec
  buildspecs/osx_x86-64.spec
  buildspecs/osx_x86-64_cmprssptrs.spec
  buildspecs/win_x86-64.spec
  buildspecs/win_x86-64_cmprssptrs.spec
  buildspecs/win_x86.spec
  buildspecs/zos_390-64.spec
  buildspecs/zos_390-64_cmprssptrs.spec
  buildspecs/zos_390.spec
  runtime/bcutil/test/dyntest/romclass_testing.c
  runtime/cassume/ctest.c
  runtime/exelib/CMakeLists.txt
  runtime/exelib/common/rconsole.c
  runtime/exelib/module.xml
  runtime/include/exelib_api.h
  runtime/jniinv/main.c
  runtime/tests/algorithm/algotest.c
  runtime/tests/thread/thrstate/runtest.c
  runtime/tests/vm/vmtest.c
Labels: comp:vm

#6551 Fix zOS Jenkins builds
  runtime/compiler/build/toolcfg/zos-xlc/common.mk
Labels: comp:build

#6556 Cleanup: remote console
  runtime/cmake/caches/common.cmake
  runtime/include/j9cfg.h.in
  runtime/nls/exel/exelib.nls
  runtime/nls/exel/exelib_ca.nls
  runtime/nls/exel/exelib_cs.nls
  runtime/nls/exel/exelib_de.nls
  runtime/nls/exel/exelib_es.nls
  runtime/nls/exel/exelib_fr.nls
  runtime/nls/exel/exelib_hu.nls
  runtime/nls/exel/exelib_it.nls
  runtime/nls/exel/exelib_ja.nls
  runtime/nls/exel/exelib_ko.nls
  runtime/nls/exel/exelib_pl.nls
  runtime/nls/exel/exelib_pt_BR.nls
  runtime/nls/exel/exelib_ru.nls
  runtime/nls/exel/exelib_sk.nls
  runtime/nls/exel/exelib_sl.nls
  runtime/nls/exel/exelib_tr.nls
  runtime/nls/exel/exelib_zh.nls
  runtime/nls/exel/exelib_zh_CN.nls
  runtime/nls/exel/exelib_zh_TW.nls
Labels: comp:vm

#6427 AArch64: Implementation of BNDCHK Evaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6527 Add OpenJ9 repository to git cache
  buildenv/jenkins/jobs/infrastructure/Update-Reference-Repos.groovy
Labels: comp:build

#6546 Fix racing condition that set and unset string intern table flag
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CompositeCache.cpp
Labels: bug, comp:vm

#6343 Add git reference repo to checkout scm to Jenkins pipelines
  buildenv/jenkins/jobs/pipelines/Build-Any-Platform.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
Labels: comp:build

#6554 Cache declaring classes of fields and statics on the server
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/j9methodServer.cpp
Labels: comp:jitserver

#6567 Fixed asmtools.jar download
  test/TestConfig/scripts/tools/getDependencies.pl
Labels: comp:test

#6480 Fix invalid preprocessing token in ebb.spp for AIX platform
  runtime/compiler/p/runtime/ebb.spp
Labels: comp:jit

#6405 Add archive diagnostic files when compile fails
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Build-Any-Platform.groovy
Labels: comp:build

#6568 Jenkins pipelines: Fix checkout scm for PR builds
  buildenv/jenkins/jobs/pipelines/Build-Any-Platform.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform.groovy
Labels: comp:build

#6572 Fix incorrect function name call
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#6566 Increase Artifactory cleanup to 50 days
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#6436 Add a missing J2I thunk pointer relocation
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/J2IThunk.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationTarget.cpp
  runtime/compiler/runtime/RelocationTarget.hpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/runtime/X86RelocationTarget.cpp
  runtime/compiler/x/runtime/X86RelocationTarget.hpp
Labels: bug, comp:jitserver

#6396 Place compressedRef anchor at the right place
  runtime/compiler/compile/J9Compilation.cpp
Labels: comp:jit

#6279 Improve CollectHandle
  jcl/src/java.base/share/classes/java/lang/invoke/CollectHandle.java
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/J9DataTypes.hpp
Labels: comp:vm

#6576 Increment msg sequence number after client cancels compilation
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
Labels: comp:jitserver

#6445 AArch64: Implement asynccheckEvaluator()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6591 Fixed asmtools.jar download
  test/TestConfig/scripts/tools/getDependencies.pl
Labels: comp:jitserver

#6588 Replace J9JIT_INTERP_VTABLE_OFFSET with VMEnv::getInterpreterVTableOffset()
  runtime/compiler/env/J9VMEnv.cpp
  runtime/compiler/env/J9VMEnv.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
Labels: comp:jit

#6470 AArch64: Implement ArrayStoreCHKEvaluator()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6594 Exclude special.system for jdk13, enable more platforms
  buildenv/jenkins/variables/defaults.yml
Labels: comp:test

#6601 Disable special.system tests jdk11 plinux, enable jdk8 xlinux
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:test

#6592 Fix for GCC 8+ compiler optimization busy hang problem
  runtime/util/fltconv.c
Labels: comp:vm

#6605 Preparing listener code to be merged into master branch
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/runtime/Listener.hpp
Labels: comp:jitserver

#6385 Update JITaaS option names
  buildenv/docker/jdk8/x86_64/ubuntu16/jitaas/run/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitaas/run/Dockerfile
  doc/compiler/jitaas/Build.md
  doc/compiler/jitaas/CHTable.md
  doc/compiler/jitaas/Docker.md
  doc/compiler/jitaas/Frontend.md
  doc/compiler/jitaas/IProfiler.md
  doc/compiler/jitaas/OptionsDev.md
  doc/compiler/jitaas/Problem.md
  doc/compiler/jitaas/Sockets.md
  doc/compiler/jitaas/Testing.md
  doc/compiler/jitaas/Usage.md
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  test/TestConfig/testEnv.mk
Labels: comp:jitserver

#6583 Enable jniargtests to run with the JIT
  test/functional/NativeTest/jniargtests/JniArgTests.java
  test/functional/NativeTest/playlist.xml
Labels: comp:test

#6548 Replaced JAVA_BIN in openj9
  test/TestConfig/makefile
  test/TestConfig/scripts/build_test.xml
  test/TestConfig/settings.mk
Labels: comp:test
