Repository eclipse-openj9/openj9, pull requests merged in 2019-08, with the labels that each got.

#6618 Add code for AArch64 to ProcessorDetection.cpp
  runtime/compiler/env/ProcessorDetection.cpp
Labels: arch:aarch64, comp:jit

#6619 AArch64: Add ARM64RelocationTarget
  runtime/compiler/aarch64/runtime/ARM64RelocationTarget.cpp
  runtime/compiler/aarch64/runtime/ARM64RelocationTarget.hpp
  runtime/compiler/aarch64/runtime/CMakeLists.txt
  runtime/compiler/build/files/host/aarch64.mk
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: arch:aarch64, comp:jit

#6245 Consolidate InstOpCode tables on Power and improve documentation
  runtime/compiler/build/files/common.mk
  runtime/compiler/build/files/target/p.mk
  runtime/compiler/p/codegen/J9PPCSnippet.cpp
Labels: arch:power, comp:jit, depends:omr

#6626 Look for right caller method when handling OSR in context of inliner
  runtime/compiler/optimizer/J9Inliner.cpp
Labels: comp:jit

#6612 Port JITServer Listener
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/CompileService.cpp
  runtime/compiler/runtime/CompileService.hpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/runtime/Listener.hpp
Labels: comp:jitserver

#6647 Add initial Compiler Best Practices doc
  doc/compiler/BestPractices.md
Labels: comp:jit

#6571 Fix the `dsqrt` transformation
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#6658 Disable linkage register allocation
  runtime/compiler/control/J9Options.cpp
Labels: arch:aarch64, comp:jit

#6653 Add missing vm access
  runtime/compiler/env/j9method.cpp
Labels: bug, comp:jit

#6641 Deal with FIXMEs for JITServer
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/runtime/JITaaSIProfiler.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: comp:jitserver

#6656 Fix issues with connection interruptions
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/net/ClientStream.hpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/net/StreamExceptions.hpp
  runtime/compiler/net/protos/compile.proto
Labels: comp:jitserver

#6662 Enable SCC hints for JITServer
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#6574 update getDependencies.pl logic
  test/TestConfig/scripts/tools/getDependencies.pl
Labels: comp:test

#6685 Fix bug with ClientSessionTerminate verbose output
  runtime/compiler/control/JITaaSCompilationThread.cpp
Labels: comp:jitserver

#6582 Track registered J2I thunks on the JITServer
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jitserver

#6678 Backport Listener-related code
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/CompileService.cpp
  runtime/compiler/runtime/CompileService.hpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/runtime/StatisticsThread.cpp
Labels: comp:jitserver

#6699 AArch64: Stop saving/restoring x19 and x20
  runtime/oti/arm64helpers.m4
Labels: arch:aarch64, comp:jit

#6518 Add cmake cache for aix_64
  runtime/cmake/caches/aix_ppc-64.cmake
  runtime/cmake/caches/aix_ppc-64_cmprssptrs.cmake
Labels: comp:build

#6686 There in no need to call notifyClasspathChange3() when urlCount is 0
  runtime/jcl/common/shared.c
  runtime/jcl/j9jcl.tdf
Labels: bug, comp:vm

#6717 Add doc to build only compiler component
  doc/build-instructions/Build_Compiler_Only.md
Labels: comp:jit

#6747 Move all steps running on master to workers
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform.groovy
Labels: comp:jitserver

#6719 Fix clientSessionData nullptr issue
  runtime/compiler/net/ServerStream.hpp
Labels: CI-Needed, bug, comp:jitserver

#6754 Update test readme
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#6736 Update jitserver documentation
  doc/compiler/jitserver/Build.md
  doc/compiler/jitserver/CHTable.md
  doc/compiler/jitserver/Caching.md
  doc/compiler/jitserver/ClientSession.md
  doc/compiler/jitserver/Docker.md
  doc/compiler/jitserver/Frontend.md
  doc/compiler/jitserver/IProfiler.md
  doc/compiler/jitserver/OptionsDev.md
  doc/compiler/jitserver/Overview.md
  doc/compiler/jitserver/Problem.md
  doc/compiler/jitserver/Protobuf.md
  doc/compiler/jitserver/README.md
  doc/compiler/jitserver/ResolvedMethod.md
  doc/compiler/jitserver/Sockets.md
  doc/compiler/jitserver/Testing.md
  doc/compiler/jitserver/Usage.md
Labels: comp:doc, comp:jitserver

#6705 Restore correct final field behaviour in old class files
  runtime/oti/VMHelpers.hpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/resolvesupport.cpp
Labels: CI-Needed, bug, comp:vm

#6733 Fix the exception for mismatched number of args
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/ProtobufTypeConvert.hpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/runtime/CompileService.cpp
Labels: CI-Needed, bug, comp:jitserver

#6732 Fix caching of field/static attributes in AOT mode
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: CI-Needed, comp:jitserver

#6751 Add JVM_InitializeFromArchive for JDK11
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.c
  runtime/j9vm/module.xml
  runtime/redirector/forwarders.m4
  runtime/redirector/module.xml
Labels: comp:vm

#6676 Fetch VM correctly in haltThreadForInspection
  runtime/vm/VMAccess.cpp
Labels: CI-Needed, bug, comp:vm

#6631 Reorganize lazy creation of MBeanServer
  jcl/src/java.management/share/classes/java/lang/management/ManagementFactory.java
Labels: CI-Needed, comp:vm

#6764 Include object javanextvmi for Java 11
  runtime/j9vm/module.xml
Labels: comp:vm

#6772 Make SCC enabled checks consistent
  runtime/jcl/common/system.c
Labels: CI-Needed, bug, comp:vm

#6728 Fix incorrect assert in TR_RelocationRecord::setReloFlags
  runtime/compiler/runtime/RelocationRecord.cpp
Labels: CI-Needed, bug, comp:jit, comp:jit:aot

#6726 Disable SVM for AOT loads if the original compile did not use SVM
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: CI-Needed, bug, comp:jit, comp:jit:aot

#6713 Enable Transparent Hugepage on xLinux by default
  runtime/vm/jvminit.c
Labels: CI-Needed, comp:vm, perf

#6541 Store VM anonymous classes to shared cache
  runtime/bcutil/ComparingCursor.cpp
  runtime/bcutil/ComparingCursor.hpp
  runtime/bcutil/Cursor.hpp
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/ROMClassBuilder.hpp
  runtime/bcutil/ROMClassCreationContext.hpp
  runtime/bcutil/ROMClassWriter.cpp
  runtime/bcutil/j9bcu.tdf
  runtime/jcl/common/sun_misc_Unsafe.cpp
  runtime/nls/exel/exelib.nls
  runtime/oti/jvminit.h
  runtime/oti/shcflags.h
  runtime/oti/util_api.h
  runtime/shared/shrclssup.c
  runtime/shared_common/Manager.cpp
  runtime/shared_common/SCImplementedAPI.cpp
  runtime/shared_common/shrinit.cpp
  runtime/util/shchelp_j9.c
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
  test/functional/cmdLineTests/shrcdbgddrext/shrcdbgextddrtests.xml
  test/functional/cmdLineTests/utils/src/org/openj9/test/lambdatests/Test1.java
  test/functional/cmdLineTests/utils/src/org/openj9/test/lambdatests/Test2.java
Labels: comp:doc, comp:vm, doc:externals

#6730 CMake: Add s390 host/target defines
  runtime/cmake/compiler_config.cmake
Labels: comp:build

#6787 Fix variable definition to be c89 for windows
  runtime/util/shchelp_j9.c
Labels: comp:vm

#6580 Replace J9JIT_INTERP_VTABLE_OFFSET with VMEnv::getInterpreterVTableOffset()
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/JITaaSCompilationThread.hpp
  runtime/compiler/env/J9VMEnv.cpp
Labels: CI-Needed, comp:jitserver

#6789 Update jcmd help output
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jcmd.java
Labels: comp:vm

#6557 Add extra checks to Throwable.readObject
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/Throwable.java
Labels: comp:vm

#6495 AArch64: Implementation of awrtbarEvaluator in AArch64
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#6679 Add GCC stack-protector flag
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/gc_glue_java/configure_includes/configure_linux_390.mk
  runtime/gc_glue_java/configure_includes/configure_linux_aarch64.mk
  runtime/gc_glue_java/configure_includes/configure_linux_arm.mk
  runtime/gc_glue_java/configure_includes/configure_linux_ppc.mk
  runtime/gc_glue_java/configure_includes/configure_linux_x86.mk
  runtime/gc_glue_java/configure_includes/configure_osx.mk
  runtime/makelib/targets.mk.linux.inc.ftl
  runtime/makelib/targets.mk.osx.inc.ftl
Labels: comp:build, comp:gc, comp:jit, comp:vm

#6654 Define new Pre- and PostEscapeAnalysis passes
  runtime/compiler/build/files/common.mk
  runtime/compiler/optimizer/CMakeLists.txt
  runtime/compiler/optimizer/J9Optimizer.cpp
  runtime/compiler/optimizer/PostEscapeAnalysis.cpp
  runtime/compiler/optimizer/PostEscapeAnalysis.hpp
  runtime/compiler/optimizer/PreEscapeAnalysis.cpp
  runtime/compiler/optimizer/PreEscapeAnalysis.hpp
Labels: CI-Needed, comp:jit, enhancement

#4648 Fix code size estimation
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#6651 Enable change to determine calling method for OSR code unconditionally
  runtime/compiler/optimizer/J9Inliner.cpp
Labels: comp:jit

#6793 Miscellaneous cleanup
  runtime/bcutil/ClassFileWriter.cpp
  runtime/bcverify/bcverify.c
  runtime/bcverify/rtverify.c
  runtime/bcverify/vrfyhelp.c
  runtime/cfdumper/main.c
  runtime/codert_vm/decomp.cpp
  runtime/codert_vm/jswalk.c
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/j9method.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntimeLogger.cpp
  runtime/j9vm/j7vmi.c
  runtime/jcl/common/java_lang_StackWalker.cpp
  runtime/jcl/common/jclexception.c
  runtime/jcl/common/jclvm.c
  runtime/jcl/common/mgmtthread.c
  runtime/jcl/common/reflecthelp.c
  runtime/jnichk/jnicbuf.c
  runtime/jnichk/jnicheck.c
  runtime/jvmti/jvmtiHelpers.c
  runtime/jvmti/jvmtiHook.c
  runtime/jvmti/jvmtiMethod.c
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/rasdump/trigger.c
  runtime/rastrace/method_trace.c
  runtime/rastrace/method_trigger.c
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/shrinit.cpp
  runtime/stackmap/debuglocalmap.c
  runtime/stackmap/fixreturns.c
  runtime/stackmap/localmap.c
  runtime/stackmap/maxmap.c
  runtime/stackmap/stackmap.c
  runtime/util/hshelp.c
  runtime/util/rcdump.c
  runtime/verbose/errormessageframeworkrtv.c
  runtime/vm/ObjectFieldInfo.hpp
  runtime/vm/bindnatv.cpp
  runtime/vm/exceptiondescribe.c
  runtime/vm/gphandle.c
  runtime/vm/jnicsup.cpp
  runtime/vm/jvminit.c
  runtime/vm/linearswalk.c
  runtime/vm/lookupmethod.c
  runtime/vm/swalk.c
  runtime/vm/vmthread.c
Labels: comp:vm

#6693 Runtime compressed refs work
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/gc_api/HeapIteratorAPI.cpp
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/gc_base/RootScanner.cpp
  runtime/gc_glue_java/ArrayletObjectModelBase.hpp
  runtime/gc_glue_java/objectdescription.h
  runtime/gc_include/ObjectAccessBarrierAPI.hpp
  runtime/gc_modron_startup/mgcalloc.cpp
  runtime/jcl/common/thread.cpp
  runtime/oti/ObjectMonitor.hpp
  runtime/oti/j9accessbarrier.h
  runtime/oti/monhelp.h
  runtime/tests/jni/montest.c
  runtime/tests/thread/testnatives/testnatives.c
  runtime/util/moninfo.c
  runtime/util/thrinfo.c
  runtime/vm/ObjectMonitor.cpp
  runtime/vm/monhelpers.c
  runtime/vm/montable.c
  runtime/vm/threadhelp.cpp
Labels: comp:gc, comp:jit, comp:vm

#6746 Disable SymbolValidationManager for non-AOT compilations
  runtime/compiler/control/CompilationThread.cpp
Labels: CI-Needed, comp:jit, comp:jit:aot

#6791 Fix memory leak in archetypeArgPlaceholderSlot
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
Labels: bug, comp:jit

#6635 Merge JITServer J9Options to master
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/env/J9PersistentInfo.hpp
  test/TestConfig/testEnv.mk
Labels: CI-Needed, comp:jitserver

#6809 Add extra checks to Throwable.readObject
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/Throwable.java
Labels: comp:vm

#6738 Fix foldArguments when passed target taking 0 arguments
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/FoldArgumentsTest.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/api/MethodHandleAPI_foldArguments.java
  test/functional/Jsr292/src/com/ibm/j9/jsr292/api/SamePackageExample.java
Labels: bug, comp:vm

#6785 Fix client crash due to uncaught stream flush exception
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/net/ProtobufTypeConvert.hpp
Labels: comp:jitserver

#6559 AArch64: Implementation of awrtbariEvaluator in AArch64
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#6643 Update JITServer verbose log names
  buildenv/docker/jdk8/x86_64/ubuntu16/jitaas/run/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitaas/run/Dockerfile
  doc/compiler/jitserver/Usage.md
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITaaSCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/net/ClientStream.cpp
  runtime/compiler/net/ServerStream.cpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/runtime/CompileService.cpp
  runtime/compiler/runtime/JITaaSIProfiler.cpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/runtime/StatisticsThread.cpp
Labels: CI-Needed, comp:jitserver

#6788 Port the latest networking and runtime files to master
  runtime/compiler/net/ClientStream.cpp
  runtime/compiler/net/ClientStream.hpp
  runtime/compiler/net/CommunicationStream.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/ProtobufTypeConvert.hpp
  runtime/compiler/net/ServerStream.cpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/net/StreamExceptions.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/runtime/CompileService.cpp
  runtime/compiler/runtime/Listener.cpp
Labels: comp:jitserver

#6766 Handle multi-threaded metadata cache access
  runtime/codert_vm/jswalk.c
Labels: bug, comp:vm, userRaised

#6585 Refactor JProfilingValue
  runtime/compiler/optimizer/J9Optimizer.cpp
  runtime/compiler/optimizer/JProfilingValue.cpp
  runtime/compiler/optimizer/JProfilingValue.hpp
  runtime/compiler/runtime/J9Profiler.cpp
Labels: comp:jit, depends:omr, enhancement

#6790 Reject jcmd/jmap invalid command arguments
  jcl/src/java.base/share/classes/openj9/tools/attach/diagnostics/base/DiagnosticUtils.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jmap.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJcmd.java
Labels: comp:vm

#6739 AArch64: Implementation of MethodEnterHook/MethodExitHook
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#6712 Updated Protobuf config options in Docker
  buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile
Labels: comp:build

#6823 update make version to 4.1 in test readme
  test/docs/Prerequisites.md
Labels: comp:test

#6575 Reduce AOT load failures
  runtime/compiler/env/PersistentCHTable.cpp
  runtime/compiler/env/PersistentCHTable.hpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: CI-Needed, comp:jit, comp:jit:aot

#6627 Update J9Options to be merged into master
  buildenv/docker/jdk8/x86_64/ubuntu16/jitaas/run/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitaas/run/Dockerfile
  doc/compiler/jitserver/Testing.md
  doc/compiler/jitserver/Usage.md
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/env/J9PersistentInfo.hpp
  test/TestConfig/testEnv.mk
Labels: comp:jitserver

#6792 Fix testSCCMLTests1_0 to work for also 32 bit machines
  runtime/bcutil/j9bcu.tdf
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
  test/functional/cmdLineTests/utils/src/org/openj9/test/lambdatests/Test1.java
Labels: comp:test

#6708 Add JITServer test mode
  runtime/compiler/control/CompilationThread.cpp
Labels: CI-Needed, comp:jitserver

#6639 JITServer compilation fixes
  runtime/compiler/compiler.mk
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#6821 Replace JITaaS prefix with JITServer
  doc/compiler/jitserver/CHTable.md
  doc/compiler/jitserver/ClientSession.md
  doc/compiler/jitserver/IProfiler.md
  doc/compiler/jitserver/Protobuf.md
  doc/compiler/jitserver/Sockets.md
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9VMEnv.cpp
  runtime/compiler/env/J9VMMethodEnv.cpp
  runtime/compiler/env/JITaaSPersistentCHTable.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/JITaaSIProfiler.cpp
  runtime/compiler/runtime/StatisticsThread.cpp
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jitserver

#6804 Print help text instead of error when no command specified
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jcmd.java
Labels: comp:vm

#6769 jstack: print properties in human-readable form
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jstack.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Util.java
Labels: comp:vm

#6752 Implement Unsafe_compareAndSwapInt_jlObjectJII_Z support for AArch64
  runtime/compiler/aarch64/codegen/J9CodeGenerator.hpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#6703 TestKitGen Java
  test/.gitignore
  test/TestConfig/TKGJ/build_tools.xml
  test/TestConfig/TKGJ/src/org/openj9/envInfo/EnvDetector.java
  test/TestConfig/TKGJ/src/org/openj9/envInfo/JavaInfo.java
  test/TestConfig/TKGJ/src/org/openj9/envInfo/MachineInfo.java
  test/TestConfig/TKGJ/src/org/testKitGen/Constants.java
  test/TestConfig/TKGJ/src/org/testKitGen/Counter.java
  test/TestConfig/TKGJ/src/org/testKitGen/MainRunner.java
  test/TestConfig/TKGJ/src/org/testKitGen/MkGen.java
  test/TestConfig/TKGJ/src/org/testKitGen/MkTreeGen.java
  test/TestConfig/TKGJ/src/org/testKitGen/ModesDictionary.java
  test/TestConfig/TKGJ/src/org/testKitGen/Options.java
  test/TestConfig/TKGJ/src/org/testKitGen/TestInfo.java
  test/TestConfig/TKGJ/src/org/testKitGen/UtilsGen.java
  test/TestConfig/TKGJ/src/org/testKitGen/Variation.java
  test/TestConfig/makeGen.mk
  test/TestConfig/run_configure.mk
  test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl
Labels: comp:test

#6734 Lower invocation counts for SCC cold runs
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit, comp:jit:aot

#6832 Fix assertion failure in shrtest.
  runtime/shared_common/CompositeCache.cpp
Labels: comp:vm

#6632 Use cmake to build JITServer
  runtime/compiler/CMakeLists.txt
  runtime/compiler/control/CMakeLists.txt
  runtime/compiler/env/CMakeLists.txt
  runtime/compiler/runtime/CMakeLists.txt
Labels: comp:jitserver

#6841 AArch64: Fix undefined symbol with CodeGenerator::inlineDirectCall()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#6829 AArch64: Correct helper trampolines
  runtime/compiler/runtime/Trampoline.cpp
Labels: arch:aarch64, comp:jit

#6812 AArch64: Correct lengths of CallSnippets
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
Labels: arch:aarch64, comp:jit

#6795 AArch64: Temporarily disable UnresolvedDataSnippet
  runtime/compiler/aarch64/codegen/J9UnresolvedDataSnippet.cpp
Labels: arch:aarch64, comp:jit

#6624 add new Java 13 String Methods
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm, jdk13

#6815 Release notes to support 0.16 milestone 1
  doc/release-notes/0.16/0.16.md
Labels: comp:doc

#6251 master: LocalVariable(Type)Table name index check
  runtime/bcutil/cfreader.c
Labels: comp:vm

#6542 master: Add local variable size check with StackMapTable
  runtime/bcverify/staticverify.c
Labels: comp:vm

#3428 Test cases for BoostrapMethod arguments
  runtime/verutil/cfrerr.c
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/bsmargstest.xml
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/build.xml
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/playlist.xml
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/src/org/openj9/test/bsmargs/RejectInvalidCPEntryFieldref.jcod
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/src/org/openj9/test/bsmargs/RejectInvalidCPEntryInterfaceMethodref.jcod
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/src/org/openj9/test/bsmargs/RejectInvalidCPEntryInvokeDynamic.jcod
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/src/org/openj9/test/bsmargs/RejectInvalidCPEntryMethodref.jcod
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/src/org/openj9/test/bsmargs/RejectInvalidCPEntryNameAndType.jcod
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/src/org/openj9/test/bsmargs/RejectInvalidCPEntryUtf8.jcod
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/src/org/openj9/test/bsmargs/RejectInvalidCPTestTemplate.java
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/src/org/openj9/test/bsmargs/RejectInvalidCPTestTemplate.jcod
Labels: comp:test

#6784 Added reading base exclude file as backup
  test/TestConfig/resources/excludes/latest_exclude_base.txt
  test/Utils/src/org/openj9/test/util/IncludeExcludeTestAnnotationTransformer.java
Labels: comp:test

#6869 Restrict fixing simple name to JDK8
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#6876 SIGKILL support added for Jython
  runtime/j9vm/jvm.c
Labels: comp:vm

#6872 Add TR_J9VM::isSameOrSuperClass API
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/SymbolValidationManager.cpp
Labels: comp:jit

#6877 AArch64: Declare TR::ARM64PrivateLinkage::buildPrivateLinkageArgs()
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#6850 Port JITClientSession changes to master
  runtime/compiler/build/files/common.mk
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/CMakeLists.txt
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
Labels: comp:jitserver

#6894 Update the build script for bootstrapMethodArgumentTest
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/build.xml
Labels: comp:test

#6689 AArch64: Implement ARM64PrivateLinkage::createEpilogue()
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#6898 Remove reference to j9getuserid.h
  runtime/port/unix/j9sysinfo.c
Labels: comp:vm

#6838 Port fixes and changes from the jitaas branch
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/j9method.cpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
Labels: comp:jitserver

#6900 Skip package signer check for trusted system code
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm

#6867 AArch64: Enable helper linkage call
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
Labels: arch:aarch64, comp:jit

#6899 Update the default format strings for NLS message
  runtime/bcverify/vrfyhelp.c
  runtime/verutil/cfrerr.c
Labels: comp:vm
