Repository eclipse-openj9/openj9, pull requests merged in 2019-11, with the labels that each got.

#7640 Fix the Startuphint test
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-6.xml
Labels: comp:test

#6909 Use front-end implementation of the instanceOfOrCheckCast routines
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/protos/compile.proto
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jitserver

#7663 Add missing JITServer StreamInterrupted handle
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#7513 Add Code Cache Reclamation Doc
  doc/compiler/runtime/CodeCacheReclamation.md
Labels: comp:doc, comp:jit

#7637 Fix compiler issues with SCC hint pointers
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
Labels: comp:jit, comp:jit:aot

#7664 Change quoting style in jit m4 assembly files
  runtime/compiler/z/runtime/Math.m4
  runtime/compiler/z/runtime/PicBuilder.m4
  runtime/compiler/z/runtime/Recompilation.m4
  runtime/compiler/z/runtime/ValueProf.m4
  runtime/compiler/z/runtime/s390_asdef.inc
  runtime/compiler/z/runtime/s390_macros.inc
  runtime/compiler/z/runtime/zLinux_macros.inc
  runtime/compiler/z/runtime/zOS_macros.inc
Labels: arch:z, comp:jit, comp:vm, os:zos

#7654 Fix JITServer message type mismatch
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#7665 Enable THP by default for all Linux
  runtime/vm/jvminit.c
Labels: comp:vm

#7666 Remove Unsafe method fixup
  runtime/codert_vm/cnathelp.cpp
  runtime/compiler/env/j9method.cpp
  runtime/jcl/common/jcldefine.c
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/createramclass.cpp
  runtime/vm/initsendtarget.cpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm

#7678 Statically assert sizeof(J9Class) == sizeof(J9ArrayClass)
  runtime/oti/j9nonbuilder.h
Labels: comp:vm

#7645 Add the option to pull Dockerfile from vendor repo
  buildenv/jenkins/docker-slaves/jenkinsfile-build-container
Labels: comp:build

#7687 Fix identation in java/lang/Throwable.java
  jcl/src/java.base/share/classes/java/lang/Throwable.java
Labels: comp:vm

#7691 Exclude DDR tests for JDK13+ AIX
  test/functional/DDR_Test/playlist.xml
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
  test/functional/cmdLineTests/classesdbgddrext/playlist.xml
  test/functional/cmdLineTests/modularityddrtests/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/playlist.xml
Labels: comp:test

#7406 Add Xdump:exit agent and ExitOnOutOfMemoryError
  runtime/nls/dump/j9dmp.nls
  runtime/oti/jvminit.h
  runtime/rasdump/dmpagent.c
  runtime/rasdump/dmpsup.c
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests.xml
Labels: comp:vm, depends:doc

#7693 Enable -qlanglvl=extended0x features for C++ code on AIX
  runtime/makelib/targets.mk.aix.inc.ftl
Labels: comp:build, comp:gc, comp:vm, os:aix

#7703 Refine Default Boot Sharing Check
  runtime/compiler/control/HookedByTheJit.cpp
Labels: backport:candidate, bug, comp:jit, comp:jit:aot

#7705 Generate aconst node for constant ref pointing to null
  runtime/compiler/ilgen/Walker.cpp
Labels: backport:candidate, bug, comp:jit

#7698 Fix findROMClassFromPC() when romClass is in the shared cache.
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/shared_common/j9shr.tdf
Labels: bug, comp:vm

#7697 Update IProfiler to handle invokePrivateMethod
  runtime/compiler/env/j9method.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/jit_vm/ctsupport.c
Labels: comp:jit, comp:vm

#7702 Allow NODE param to be passed to container build
  buildenv/jenkins/docker-slaves/jenkinsfile-build-container
  buildenv/jenkins/docker-slaves/jenkinsfile-build-container.groovy
Labels: comp:build

#7590 Retrieve method signature using getROMString
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
Labels: comp:jitserver

#7650 Remove the unnecessary assert on checking TR_AOT
  runtime/compiler/codegen/J9CodeGenerator.cpp
Labels: comp:jitserver

#7686 Print out the failing line in s390m4check.pl
  runtime/compiler/build/scripts/s390m4check.pl
Labels: comp:build

#7726 Removed API within DAA for which Java implementations do not ex…
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: arch:z, comp:jit, depends:omr

#7638 Remove deprecated Shift and Shift Logical unsigned ILOpcodes
  runtime/compiler/codegen/CodeGenGPU.cpp
Labels: comp:jit, depends:omr

#7661 Rename helpersNeedRelocation to needRelocationsForHelpers
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/z/codegen/J9SystemLinkageLinux.cpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.cpp
Labels: comp:jit, depends:omr

#7733 Add jdk test natives to test-images.tar.gz archive
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build, comp:test

#7719 Add tracepoint to aid debugging IProfiler unknown PC issues
  runtime/compiler/env/j9jit.tdf
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit, comp:vm

#7729 Fix cast in J9VM_J9CLASS_FROM_HEAPCLASS_VM
  runtime/oti/j9cp.h
Labels: comp:vm

#7621 AArch64: Update Build Instruction for V8
  doc/build-instructions/Build_Instructions_V8.md
Labels: arch:aarch64, comp:doc

#7670 AArch64: Implement print() for CallSnippets
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
Labels: arch:aarch64, comp:jit

#7747 Remove assignments from if statements when calling FIND_ARG_IN_VMARGS
  runtime/shared/shrclssup.c
  runtime/vm/jvminit.c
Labels: comp:vm

#7720 Port the JITServer Docker and document files
  buildenv/docker/jdk8/s390x/ubuntu16/jitserver/build/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/jitserver/buildenv/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/jitserver/run/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/jitserver/test/Dockerfile
  buildenv/docker/jdk8/x86_64/rhel7/jitserver/build/Dockerfile
  buildenv/docker/jdk8/x86_64/rhel7/jitserver/run/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/build/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/buildenv/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/run/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/test/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/build/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/buildenv/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/run/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/test/Dockerfile
  buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile
  buildenv/jenkins/docker-slaves/x86/ubuntu16/Dockerfile
  buildenv/jenkins/docker-slaves/x86/ubuntu18/Dockerfile
  doc/compiler/jitserver/Build.md
  doc/compiler/jitserver/CHTable.md
  doc/compiler/jitserver/Caching.md
  doc/compiler/jitserver/ClientSession.md
  doc/compiler/jitserver/Docker.md
  doc/compiler/jitserver/Frontend.md
  doc/compiler/jitserver/IProfiler.md
  doc/compiler/jitserver/OptionsDev.md
  doc/compiler/jitserver/Overview.md
  doc/compiler/jitserver/Problem.md
  doc/compiler/jitserver/Protobuf.md
  doc/compiler/jitserver/README.md
  doc/compiler/jitserver/ResolvedMethod.md
  doc/compiler/jitserver/Sockets.md
  doc/compiler/jitserver/Testing.md
  doc/compiler/jitserver/Usage.md
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#7636 Enable scan all slots in a class during Scavenge
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_modron_standard/ReadBarrierVerifier.cpp
  runtime/gc_modron_standard/ReadBarrierVerifier.hpp
  runtime/gc_modron_standard/RootScannerReadBarrierVerifier.cpp
  runtime/gc_modron_standard/RootScannerReadBarrierVerifier.hpp
  runtime/gc_structs/ConstantPoolObjectSlotIterator.cpp
  runtime/gc_structs/ConstantPoolObjectSlotIterator.hpp
Labels: comp:gc

#7760 Use direct call rather than internalVMFunction table
  runtime/vm/ModularityHashTables.c
Labels: comp:vm

#7762 Replace J9InternalVMFunction table calls with direct calls
  runtime/bcverify/CMakeLists.txt
  runtime/bcverify/clconstraints.c
  runtime/bcverify/module.xml
Labels: comp:vm

#6863 Added Protobuf 3.7.1 to zlinux
  buildenv/jenkins/docker-slaves/s390x/ubuntu16/Dockerfile
Labels: comp:build

#7728 Enable Pauseless GC on macOS
  runtime/gc_glue_java/configure_includes/configure_osx.mk
Labels: comp:gc, depends:doc

#7457 Enables TR_IIHF in trampoline sequences by default
  runtime/compiler/runtime/Trampoline.cpp
Labels: arch:z, comp:jit

#7759 Skip getNestMembers security check for array/primitive/void
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#7742 Set refc to VarHandle when creating a VarHandleInvokeHandle
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandleInvokeHandle.java
Labels: comp:vm

#7722 Fix FIND_ARG_IN_VMARGS to return valid index for -Xlp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#7774 Fix call to static method Thread.yield() to compile on Java 14
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/util/SyncThread.java
Labels: comp:test, jdk14

#7673 Optimize stacktraces and resolve using peekClassHashTable
  runtime/jcl/common/jclexception.c
  runtime/jcl/common/jclexception.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/tests/vm/module.xml
  runtime/tests/vm/vmstubs.c
  runtime/vm/classsupport.c
  runtime/vm/intfunc.c
  runtime/vm/resolvefield.cpp
Labels: comp:vm

#7676 Only check the intern table when requesting interned strings
  runtime/gc_base/StringTable.cpp
Labels: comp:gc, comp:vm

#7700 Handle circular chained exceptions
  jcl/src/java.base/share/classes/java/lang/Throwable.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Throwable.java
Labels: comp:vm

#7744 Add API for checking for VM initialMethods
  runtime/compiler/runtime/IProfiler.cpp
  runtime/jit_vm/CMakeLists.txt
  runtime/jit_vm/ctsupport.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9nonbuilder.h
  runtime/verbose/CMakeLists.txt
  runtime/verbose/module.xml
Labels: comp:vm

#7738 Add support for terabytes in -X options
  runtime/gc_modron_startup/mmparse.cpp
  runtime/util/vmargs.c
  runtime/vm/jvminit.c
Labels: comp:vm, depends:doc

#7781 Stop caching nestMembers[] on j.l.Class
  jcl/src/java.base/share/classes/java/lang/Class.java
  runtime/jcl/common/java_lang_Class.cpp
Labels: comp:vm

#7668 Archive javadoc at the end of jdk builds
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
Labels: comp:build

#7784 Cache fileNameString on j.l.Class object during stacktrace generation & optimize Module lookup
  jcl/src/java.base/share/classes/java/lang/Class.java
  runtime/jcl/common/java_lang_StackWalker.cpp
  runtime/jcl/common/jclexception.c
  runtime/oti/vmconstantpool.xml
Labels: comp:vm

#7093 Remove redundant z13 processor checks on Z
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#7795 Correct trampoline comment in Z private linkage
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
Labels: arch:z, comp:jit

#7763 Fix JNI performance regression
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#7792 Fix max size reporting issue for Large Object Area
  runtime/gc_base/modronapi.cpp
Labels: comp:gc

#7813 Fix s390x Ubunutu18 Dockerfile to be able to complete the configure step
  buildenv/docker/jdk8/s390x/ubuntu18/Dockerfile
Labels: arch:z, comp:build, jdk8

#7811 CMake: Update source file name in jit s390 codegen
  runtime/compiler/z/codegen/CMakeLists.txt
Labels: arch:z, comp:build, comp:jit

#7778 Misc. Linkage header file fixes
  runtime/compiler/arm/codegen/ARMPrivateLinkage.cpp
  runtime/compiler/codegen/PrivateLinkage.hpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.hpp
  runtime/compiler/p/codegen/StackCheckFailureSnippet.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/codegen/X86HelperLinkage.hpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9Linkage.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390StackCheckFailureSnippet.cpp
Labels: comp:jit

#7812 Stop translating invokevirtual to invokespecial during HCR
  runtime/jvmti/jvmtiClass.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9protos.h
  runtime/oti/jclprots.h
  runtime/oti/util_api.h
  runtime/oti/vm_api.h
  runtime/util/hshelp.c
  runtime/vm/classsupport.c
  runtime/vm/intfunc.c
Labels: comp:vm

#7768 Migrate J9 specific Linkages to appropriate J9 namespace
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.hpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/arm/codegen/ARMJNILinkage.cpp
  runtime/compiler/arm/codegen/ARMJNILinkage.hpp
  runtime/compiler/arm/codegen/ARMPrivateLinkage.cpp
  runtime/compiler/arm/codegen/ARMPrivateLinkage.hpp
  runtime/compiler/arm/codegen/J9CodeGenerator.cpp
  runtime/compiler/build/files/target/z.mk
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/PPCJNILinkage.cpp
  runtime/compiler/p/codegen/PPCJNILinkage.hpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.hpp
  runtime/compiler/x/amd64/codegen/AMD64JNILinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64JNILinkage.hpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.hpp
  runtime/compiler/x/amd64/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/X86HelperLinkage.cpp
  runtime/compiler/x/codegen/X86HelperLinkage.hpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.hpp
  runtime/compiler/x/i386/codegen/IA32JNILinkage.cpp
  runtime/compiler/x/i386/codegen/IA32JNILinkage.hpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.hpp
  runtime/compiler/x/i386/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/CMakeLists.txt
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9S390PrivateLinkage.hpp
  runtime/compiler/z/codegen/J9SystemLinkageLinux.cpp
  runtime/compiler/z/codegen/J9SystemLinkageLinux.hpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.cpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.hpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/ReduceSynchronizedFieldLoad.cpp
  runtime/compiler/z/codegen/S390CHelperLinkage.cpp
  runtime/compiler/z/codegen/S390CHelperLinkage.hpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.hpp
  runtime/compiler/z/runtime/PicBuilder.m4
Labels: comp:jit

#7801 Direct call fixes for JITServer on Power
  runtime/compiler/p/codegen/J9PPCInstruction.cpp
Labels: comp:jitserver

#7802 Disable use of TR_VMField on JITServer
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jitserver

#7756 Add known object index on this symbol of custom thunk
  runtime/compiler/compile/J9Compilation.cpp
Labels: comp:jit, enhancement

#7754 Handle the case where getClass returns NULL
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: bug, comp:jit

#7814 Runtime compressed refs work
  runtime/gc_base/ScavengerForwardedHeader.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
Labels: comp:gc, depends:omr

#7804 Disable JNI specialCasing of java_util_zip_CRC32_updateBytes
  runtime/compiler/il/J9Node.cpp
  runtime/compiler/p/codegen/PPCJNILinkage.cpp
Labels: comp:jitserver

#7803 Use JITServer check to create a relocation record for interface calls on Power
  runtime/compiler/p/codegen/CallSnippet.cpp
Labels: comp:jitserver

#7837 AArch64: Fix a build break with ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, bug, comp:jit

#7430 Enable CUDA in 64-bit Windows builds
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#7794 Use backward compatible cmake protobuf variables
  runtime/compiler/CMakeLists.txt
Labels: comp:jitserver

#7842 Skip getNestMembers security check for singleton nest
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#7808 Remove VM native lookupJava8Package()
  runtime/oti/j9java8packages.gperf
  runtime/oti/j9java8packages.h
  runtime/util/modularityHelper.c
Labels: comp:vm

#7607 Convert jar file path to UTF8 or system default for Windows
  runtime/j9vm/jvm.c
  runtime/jvmti/j9jvmti.tdf
  runtime/jvmti/jvmtiStartup.c
  runtime/vm/classloadersearch.c
Labels: comp:vm

#7831 Java 14 Thread/ThreadGroup API Deprecated forRemoval=true
  jcl/src/java.base/share/classes/java/lang/Thread.java
  jcl/src/java.base/share/classes/java/lang/ThreadGroup.java
Labels: comp:vm

#7823 Java 14 j.l.Thread.countStackFrames() throws UOE
  jcl/src/java.base/share/classes/java/lang/Thread.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Thread.java
Labels: comp:vm, jdk14

#7805 Use LIB_DIR in build.xml
  test/TestConfig/makefile
  test/TestConfig/settings.mk
  test/functional/DDR_Test/build.xml
  test/functional/DDR_Test/playlist.xml
  test/functional/DDR_Test/tck_ddrext.xml
  test/functional/IllegalAccessError_for_protected_method/build.xml
  test/functional/JIT_Test/build.xml
  test/functional/JLM_Tests/build.xml
  test/functional/Java10andUp/build.xml
  test/functional/Java11andUp/build.xml
  test/functional/Java12andUp/build.xml
  test/functional/Java8andUp/build.xml
  test/functional/Java9andUp/build.xml
  test/functional/JavaAgentTest/build.xml
  test/functional/Jsr292/build.xml
  test/functional/Jsr335/build.xml
  test/functional/Jsr335_interfaceStaticMethod/build.xml
  test/functional/OpenJ9_Jsr_292_API/build.xml
  test/functional/Panama/build.xml
  test/functional/SharedCPEntryInvokerTests/build.xml
  test/functional/TestExample/build.xml
  test/functional/UnsafeTest/build.xml
  test/functional/VM_Test/build.xml
  test/functional/Valhalla/build.xml
  test/functional/cmdLineTests/J9security/build.xml
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/build.xml
  test/functional/cmdLineTests/gcRegressionTests/build.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/build.xml
  test/functional/cmdLineTests/jvmtitests/build.xml
  test/functional/cmdLineTests/lockWordAlignment/build.xml
Labels: comp:test

#7830 Clean up m4 defines for s390 jit assembly
  runtime/codert_vm/CMakeLists.txt
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/compiler/build/toolcfg/zos-xlc/common.mk
  runtime/compiler/build/toolcfg/ztpf-gcc/common.mk
  runtime/compiler/z/runtime/Math.m4
  runtime/compiler/z/runtime/PicBuilder.m4
  runtime/compiler/z/runtime/Recompilation.m4
  runtime/compiler/z/runtime/ValueProf.m4
  runtime/compiler/z/runtime/s390_macros.inc
  runtime/jilgen/jilconsts.c
  runtime/makelib/targets.mk.ftl
  runtime/makelib/targets.mk.linux.inc.ftl
  runtime/makelib/targets.mk.zos.inc.ftl
  runtime/makelib/targets.mk.ztpf.inc.ftl
Labels: arch:z, comp:jit

#7783 Fix JITServer cmdLineTester_fieldwatchtests_0
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9WatchedStaticFieldSnippet.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jitserver

#7851 AArch64: Fix build breaks with ARM64PrivateLinkage and StackCheck
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
  runtime/compiler/aarch64/codegen/StackCheckFailureSnippet.cpp
Labels: arch:aarch64, bug, comp:jit

#7847 Runtime compressed refs work
  runtime/gc_glue_java/ScavengerBackOutScanner.cpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_glue_java/ScavengerRootClearer.cpp
  runtime/gc_glue_java/ScavengerRootClearer.hpp
  runtime/gc_glue_java/ScavengerRootScanner.cpp
  runtime/gc_modron_standard/StandardAccessBarrier.cpp
Labels: comp:gc, depends:omr

#7731 Call getROMString() to retrieve the signature at the server
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
Labels: comp:jitserver

#7796 Update consumers of loadAddressConstant API
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9PPCSnippet.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
Labels: arch:power, comp:jit

#7859 Added the Test cases on URLHelperTests
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/APITests/NullPointerAndEmptyArrayTest.java
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests.xml
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests_80.xml
Labels: comp:test

#7757 Move AOT specific flag to guard AOT specific code (JITServer)
  runtime/compiler/env/VMJ9.cpp
Labels: comp:jitserver

#7655 Properly free CompilationInfoPerThread resources(JITServer)
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
Labels: comp:jitserver

#7852 Optimize range based for loops
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#7758 Move AOT specific flag to guard AOT specific code
  runtime/compiler/env/VMJ9.cpp
Labels: comp:jitserver

#7191 Add buffer backed DDR memory source
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ddrinteractive/BufferedMemory.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ddrinteractive/BufferedMemorySource.java
Labels: comp:vm

#7876 Added the Test cases on URLHelperTests
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/APITests/NullPointerAndEmptyArrayTest.java
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests.xml
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests_80.xml
Labels: comp:test

#7780 Remove KEEP_REPORTDIR param to pickup default value true
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#7861 Ignore -XcompilationThreads0 option
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#7835 Ability to set SCM_BRANCH and SCM_REFSPEC in personal builds
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#7869 Fix groovy.lang.MissingPropertyException for ARCHIVE_JAVADOC
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#7882 Set Mode607-OSR and Mode607-OSRG to no on linux_ppc-64_le
  test/TestConfig/resources/ottawa.csv
Labels: comp:test

#7845 Relocate getMonClass and addMonClass to OpenJ9
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#7793 Override needRelocationsForLookupEvaluationData
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.hpp
Labels: comp:jit

#7389 Update loadAddressConstant call to generate relocatable code on…
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jitserver

#7887 Remove use of variable that is no longer defined
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#7863 Migrate TR_LinkageInfo from OMR to OpenJ9
  runtime/compiler/arm/codegen/J9CodeGenerator.cpp
  runtime/compiler/arm/runtime/Recomp.cpp
  runtime/compiler/codegen/PrivateLinkage.hpp
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/p/runtime/Recomp.cpp
  runtime/compiler/ras/DebugExt.cpp
  runtime/compiler/runtime/HookHelpers.cpp
  runtime/compiler/runtime/J9Runtime.hpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/Trampoline.cpp
  runtime/compiler/x/codegen/X86Recompilation.cpp
  runtime/compiler/x/runtime/Recomp.cpp
  runtime/compiler/z/codegen/S390Recompilation.cpp
  runtime/compiler/z/runtime/Recomp.cpp
Labels: comp:jit

#7771 Fix JITServer cmdLineTester_fieldwatchtests_0 failure
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9WatchedStaticFieldSnippet.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jitserver

#7880 CMake: link port library with iconv on osx and aix
  runtime/port/CMakeLists.txt
Labels: comp:build

#7868 MethodType::fromMethodDescriptorString requires "getClassLoader" permission
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
Labels: comp:vm, jdk14

#6604 Enable XL C/C++ 13.1 compiler for Linux PPC BE
  buildspecs/linux_ppc-64.spec
  buildspecs/linux_ppc-64_cmprssptrs.spec
  buildspecs/linux_ppc.spec
  runtime/compiler/build/toolcfg/gnu-xlc/common.mk
  runtime/makelib/targets.mk.ftl
Labels: comp:build

#7886 Limit CacheManagement compile job to JDK_IMPL=openj9 | IBM
  test/functional/CacheManagement/build.xml
Labels: comp:test

#7858 Add support for zlinux large heap builds
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/infrastructure/wrapper_variables.yml
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
  test/TestConfig/scripts/resultsSum.pl
  test/functional/JLM_Tests/playlist.xml
Labels: comp:build

#7883 Enable NextGenHCR during startup
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit, enhancement

#7889 CMake: specify RUNTIME DESTINATION when installing shared libraries
  runtime/tests/gp/CMakeLists.txt
  runtime/tests/jniarg/CMakeLists.txt
Labels: comp:build

#7810 Move NullChkEvaluators from OMR for ARM, Power, Z and Aarch64 c…
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
  runtime/compiler/arm/codegen/J9TreeEvaluator.cpp
  runtime/compiler/arm/codegen/J9TreeEvaluator.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.hpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch32, arch:aarch64, arch:power, arch:z, comp:jit

#7910 Stop tagging OMR promotions
  buildenv/jenkins/jobs/infrastructure/promote_repo.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#7888 Optimize range based for loops
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#7898 Skip code page encoding converting for an empty options string
  runtime/jvmti/jvmtiStartup.c
Labels: comp:vm

#7387 Don't inline java_lang_String_hashCodeImplDecompressed in JITSe…
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jitserver

#7815 Override CG query to decide when to emit data
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#7918 Remove static declaration for ARM evaluateNULLCHKWithPossibleResolve
  runtime/compiler/arm/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch32, bug

#7904 Use a cache name for NewROMCreationAfterModifyingExistingClassTest
  test/functional/VM_Test/src/j9vm/test/romclasscreation/NewROMCreationAfterModifyingExistingClassTestRunner.java
Labels: comp:test

#7862 Fix memory leak in JITServer related to IProfiler
  runtime/compiler/runtime/JITServerIProfiler.cpp
Labels: bug, comp:jitserver

#7878 CMake: add exports to j9ddr_misc
  runtime/ddr/CMakeLists.txt
Labels: comp:build

#7866 Throw IllegalThreadStateException when thread is not suspended
  jcl/src/java.base/share/classes/java/lang/Thread.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Thread.java
Labels: comp:vm

#7926 Invert if for Java 11
  runtime/j9vm/exports.cmake
Labels: comp:build
