Repository eclipse-openj9/openj9, pull requests merged in 2020-11, with the labels that each got.

#11079 Fix issues in compiler after enabling byteswap evaluators
  runtime/compiler/optimizer/DataAccessAccelerator.cpp
Labels: comp:jit

#11062 Ensure correct vTables when interface class is redefined
  runtime/tests/jvmtitests/agent/tests.c
  runtime/tests/jvmtitests/exports.cmake
  runtime/tests/jvmtitests/include/jvmti_test.h
  runtime/tests/jvmtitests/module.xml
  runtime/tests/jvmtitests/src/CMakeLists.txt
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rtc003.c
  runtime/util/hshelp.c
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/retransformClasses/rtc003.java
Labels: comp:vm

#10714 Add double map API to OSX
  buildspecs/osx_x86-64.spec
  buildspecs/osx_x86-64_cmprssptrs.spec
  runtime/cmake/caches/osx_x86-64.cmake
  runtime/cmake/options.cmake
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_base/IndexableObjectAllocationModel.hpp
  runtime/gc_glue_java/configure_includes/configure_osx.mk
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
Labels: comp:gc

#11059 Class Unload Scan time should not include Mutex Quiesce Time
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
Labels: comp:gc

#10770 Remove initialization logic from default CodeGenerator constructor
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.hpp
  runtime/compiler/arm/codegen/J9CodeGenerator.cpp
  runtime/compiler/arm/codegen/J9CodeGenerator.hpp
  runtime/compiler/codegen/CodeGenerator.hpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.hpp
  runtime/compiler/x/amd64/codegen/J9CodeGenerator.hpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.hpp
  runtime/compiler/x/i386/codegen/J9CodeGenerator.hpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#11089 Initialize variables so mergeStacks is easier to read
  runtime/bcverify/bcverify.c
Labels: comp:vm

#11096 Fix DAA creating byteswap and conversion in the wrong order
  runtime/compiler/optimizer/DataAccessAccelerator.cpp
Labels: comp:jit

#10314 Replace the checks for inlining Math.abs() methods
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#10570 AArch64: Add support for CHelper in PrivateLinkage
  runtime/codert_vm/arm64nathelp.m4
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#10892 Update JDK8 windows compiles to use Visual Studio 2013
  buildenv/jenkins/variables/defaults.yml
  runtime/compiler/build/toolcfg/win-msvc/common.mk
Labels: comp:build, depends:doc

#11095 Initialize variables so mergeStacks is easier to read
  runtime/bcverify/bcverify.c
Labels: comp:vm

#11099 Exclude default/forceLazySymbolResolution test for jdk15+
  test/functional/cmdLineTests/defaultLazySymbolResolution/playlist.xml
  test/functional/cmdLineTests/forceLazySymbolResolution/playlist.xml
Labels: comp:test

#11081 Enable parallel on zos test builds
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#11107 Add missing VerboseLog.hpp includes
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/J9JitMemory.cpp
  runtime/compiler/env/J9SegmentAllocator.cpp
  runtime/compiler/env/JITServerCHTable.cpp
  runtime/compiler/net/LoadSSLLibs.cpp
  runtime/compiler/runtime/CompileService.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITServerStatisticsThread.cpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
Labels: comp:jit

#11090 Create known object for MethodHandle constant
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
Labels: comp:jit, project:MH

#10946 Fix array size offset for inlined zero sized arrays in x86
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: arch:x86, comp:jit

#10912 JEP358 NPE extended message part 2 - the cause of NPE
  runtime/j9vm/javanextvmi.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/extendedMessageNPE.cpp
  runtime/vm/intfunc.c
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
  test/functional/Java14andUp/build.xml
  test/functional/Java14andUp/playlist.xml
  test/functional/Java14andUp/src/org/openj9/test/jep358/NPEMessageTests.java
Labels: comp:vm

#11117 Rename workflow to generic name, fix name of MH assigner
  .github/workflows/assign-to-project.yml
Labels: comp:build

#11086 Reduce the optimization level of bcverify.c in compilation
  runtime/bcverify/CMakeLists.txt
  runtime/makelib/targets.mk.linux.inc.ftl
Labels: comp:build, comp:vm

#11109 AArch64: Cleanup instanceof evaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#11033 Add replicas of default build configs with OpenJDK JSR292 enabled
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, project:MH

#11098 Add a call to j9cpu_flush_icache() in j9vmemTest.c
  runtime/tests/port/j9vmemTest.c
Labels: comp:test

#11115 exclude hotspot for default/forceLazySymbolResolution
  test/functional/cmdLineTests/defaultLazySymbolResolution/build.xml
  test/functional/cmdLineTests/forceLazySymbolResolution/build.xml
Labels: comp:test

#11050 enable cmdLineTest_locales on openj9
  test/functional/cmdLineTests/locales/playlist.xml
  test/functional/cmdLineTests/locales/run_all_locales.sh
Labels: comp:test

#11122 Fix JDK8 Windows compilation warning
  runtime/vm/extendedMessageNPE.cpp
Labels: comp:vm

#11132 AArch64: Fix `break` position of the `switch` statement in VMinstanceofEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#11131 AArch64: Implement VMcheckcastEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#10942 Fix incorrect helper trampolines when disableTOC is set
  runtime/compiler/runtime/Trampoline.cpp
Labels: arch:power, bug, comp:jit

#11101 CMake: Add copyright info to dlls on windows
  runtime/cmake/J9vmTargetSupport.cmake
  runtime/cmake/shared_lib.rc.in
Labels: cmake, comp:build

#11134 Correct signatures of several JVM functions
  runtime/j9vm/generated.h.m4
  runtime/redirector/forwarders.m4
  runtime/redirector/generated.c.m4
Labels: comp:vm

#11091 Skip self-storing stores
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit, project:MH

#11140 Remove JNIEXPORT from function definition
  runtime/jcl/common/java_lang_ref_Reference.cpp
Labels: comp:vm, jdk16

#11082 Parse -Xlog:gc variants for compatibility and add tests
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/xlogTests/build.xml
  test/functional/cmdLineTests/xlogTests/playlist.xml
  test/functional/cmdLineTests/xlogTests/xlog.xml
Labels: comp:test, comp:vm, depends:doc

#11144 Fix issue in DDR field layout calculation
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ObjectFieldInfo.java
Labels: comp:vm

#11146 Add <impls> to support AQA tests
  test/functional/Java14andUp/playlist.xml
Labels: comp:test

#11129 Fix array size offset for inlined zero sized arrays in x86
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: arch:x86, comp:jit

#11150 Fix build error with legacy DDR tools
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ObjectFieldInfo.java
Labels: comp:vm

#11156 Convert the property value from the platform encoding to MUTF8 string
  runtime/vm/vmprops.c
Labels: bug, comp:vm

#11147 Provide default message if NLS look fails
  runtime/port/aix/j9hypervisor.c
  runtime/port/common/j9hypervisor_i386.c
  runtime/port/linuxppc/j9hypervisor.c
  runtime/port/linuxs390/j9hypervisor.c
  runtime/port/zos390/j9hypervisor.c
Labels: comp:vm

#11155 Exclude waiting objects from owned monitor queries
  runtime/codert_vm/jswalk.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/intfunc.c
  runtime/vm/ownedmonitors.c
Labels: comp:vm

#11165 Fix VM crash inside SH_CacheMap::handleStartupError()
  runtime/shared_common/CacheMap.cpp
Labels: comp:vm

#11160 JDK15 getCurrentClassLoader() for jdk.internal.loader.NativeLibraries.load()
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/J9Node.cpp
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/stdinit.c
  runtime/jcl/j9jcl.tdf
  runtime/oti/j9nonbuilder.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/j9vm.tdf
  runtime/vm/jnimisc.cpp
Labels: comp:jit, comp:vm

#11138 Cache well-known class chain offsets in JITServer client session
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jitserver

#11167 Use ByteArrayOutputStream instead of List<Byte>
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/tools/ToolsRegistryOutputChannels.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/tools/utils/OutputStreamModifier.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/tools/utils/StringReceiver.java
Labels: comp:vm

#11176 Update -Xlog tests to accept "java version"
  test/functional/cmdLineTests/xlogTests/xlog.xml
Labels: comp:test

#10891 Added CDSAdaptorTest with updated osgi verison
  cdsadapter/README.md
  test/functional/cmdLineTests/CDSAdaptorTest/.classpath
  test/functional/cmdLineTests/CDSAdaptorTest/build.xml
  test/functional/cmdLineTests/CDSAdaptorTest/cdsadaptortest.xml
  test/functional/cmdLineTests/CDSAdaptorTest/playlist.xml
  test/functional/cmdLineTests/CDSAdaptorTest/readme.txt
  test/functional/cmdLineTests/CDSAdaptorTest/resources/CDSAdaptorOrphanTestBundles/readme.txt
  test/functional/cmdLineTests/CDSAdaptorTest/resources/FrameworkBundles/readme.txt
  test/functional/cmdLineTests/CDSAdaptorTest/resources/TestBundle/MANIFEST.MF
  test/functional/cmdLineTests/CDSAdaptorTest/resources/TestBundle/src/org/openj9/test/testbundle/Activator.java
  test/functional/cmdLineTests/CDSAdaptorTest/resources/TestBundle/src/org/openj9/test/testbundle/SomeMessageV1.java
  test/functional/cmdLineTests/CDSAdaptorTest/resources/TestBundle/src/org/openj9/test/testbundle/SomeMessageV2.java
  test/functional/cmdLineTests/CDSAdaptorTest/resources/WeavinghookTest/MANIFEST.MF
  test/functional/cmdLineTests/CDSAdaptorTest/resources/WeavinghookTest/src/org/openj9/test/weavinghooktest/Activator.java
  test/functional/cmdLineTests/CDSAdaptorTest/resources/WeavinghookTest/src/org/openj9/test/weavinghooktest/Util.java
  test/functional/cmdLineTests/CDSAdaptorTest/resources/WeavinghookTest/src/org/openj9/test/weavinghooktest/WeavingHookImpl.java
  test/functional/cmdLineTests/CDSAdaptorTest/resources/readme.txt
  test/functional/cmdLineTests/CDSAdaptorTest/src/org/openj9/test/cdsadaptortest/CDSAdaptorOrphanTest.java
  test/functional/cmdLineTests/CDSAdaptorTest/src/org/openj9/test/cdsadaptortest/OSGiFrameworkLauncher.java
Labels: comp:test

#11153 Avoid duplicate work in non-cmake builds
  runtime/buildtools.mk
  runtime/compiler/linter.mk
Labels: comp:build

#11170 Ensure we don't crash when image not present
  runtime/vm/VMSnapshotImpl.cpp
Labels: comp:vm, snapshot

#11143 Add missing TR::CodeGenerator() constructor
  runtime/compiler/codegen/CodeGenerator.hpp
Labels: comp:jit, snapshot

#10893 Update resolve code to support OpenJDK MH
  runtime/bcutil/ConstantPoolMap.cpp
  runtime/bcutil/ConstantPoolMap.hpp
  runtime/bcutil/ROMClassWriter.cpp
  runtime/codert_vm/cnathelp.cpp
  runtime/gc_structs/ClassIterator.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9protos.h
  runtime/util/romclasswalk.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/callin.cpp
  runtime/vm/createramclass.cpp
  runtime/vm/intfunc.c
  runtime/vm/j9vm.tdf
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, project:MH

#11061 Support surrogate pairs in case insensitive string comparison
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm, jdk16

#11158 Add Java11 support for snapshot/restore
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  runtime/jcl/common/stdinit.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9protos.h
  runtime/oti/vmconstantpool.xml
  runtime/util/modularityHelper.c
  runtime/vm/ModularityHashTables.c
  runtime/vm/callin.cpp
  runtime/vm/classallocation.c
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
Labels: comp:vm, snapshot

#11180 Remove obsolete code related to CC_STARTUP_NO_CACHELETS
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/CompositeCacheImpl.hpp
  runtime/shared_common/j9shr.tdf
Labels: comp:vm

#11188 NullPointerException(null).getMessage() returns null
  runtime/vm/extendedMessageNPE.cpp
  test/functional/Java14andUp/src/org/openj9/test/jep358/NPEMessageTests.java
Labels: comp:vm

#11199 Fix getUnixPID() for jdk11+ and stop waiting for tests after 10 min
  test/functional/cmdline_options_tester/src/Test.java
Labels: comp:test

#11203 Enable the check for sealed classes for Java 16
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/cfreader.c
Labels: comp:vm, jdk16

#11213 Set MARKED_STALE_FLAG once timestamp update has been detected
  runtime/shared_common/ClasspathManagerImpl2.cpp
Labels: comp:vm

#11217 Update Jenkins Credential IDs to new human-readable names
  buildenv/jenkins/docker-slaves/jenkinsfile-build-container.groovy
  buildenv/jenkins/jobs/infrastructure/branchSplit.groovy
  buildenv/jenkins/jobs/infrastructure/omrMirror.groovy
  buildenv/jenkins/jobs/infrastructure/tagRepos.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#11189 Purge JITServer caches sooner when memory is low
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#10406 Putfield & Withfield support for sym ref generation for flattened fields
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit, project:valhalla

#11221 Update documentation from -Xlog to -Xsyslog
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Log.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/package-info.java
Labels: comp:vm

#11216 Include JAVA_VENDOR, J9PRODUCT_NAME, J9JDK_EXT_VERSION in javacore
  runtime/include/vendor_version.h
  runtime/rasdump/javadump.cpp
Labels: comp:vm, depends:openjdk, depends:openjdk11, depends:openjdk15, depends:openjdk8

#11210 Enhance DDR support
  debugtools/DDR_Autoblob/build.xml
  debugtools/DDR_VM/generate.xml
  debugtools/DDR_VM/manual_build.xml
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
  runtime/buildtools.mk
  runtime/ddr/autoblob_rules.mk
Labels: comp:vm

#11224 fix CDSAdaptorTest for vmfarm Windows
  test/functional/cmdLineTests/CDSAdaptorTest/playlist.xml
Labels: comp:test

#11212 Improve JITServer ROMClass packing
  runtime/compiler/control/JITServerHelpers.cpp
Labels: comp:jitserver

#10916 Consolidate AOT Relocation Records
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/runtime/PPCRelocationTarget.cpp
  runtime/compiler/ras/DebugExt.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/runtime/RelocationTarget.cpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot

#11230 Enable use of a Java 7 bootjdk
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureReader.java
Labels: comp:vm

#11231 Don't enter and exit the VM when finding class loader
  runtime/vm/jnimisc.cpp
Labels: comp:vm

#11220 Remove dup cleanWs command on Win/zOS
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#11238 Remove unwanted import
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureReader.java
Labels: comp:vm

#11114 Use byteswap to implement reverseBytes
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#11241 Fetch array length before dropping vm access
  runtime/jcl/common/sun_misc_Unsafe.cpp
Labels: comp:vm

#11169 Centralize opcode enum
  runtime/compiler/aarch64/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/arm/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/codegen/CodeGenGPU.cpp
  runtime/compiler/il/ILOpCodeProperties.hpp
  runtime/compiler/il/ILOpCodesEnum.hpp
  runtime/compiler/il/J9ILOpCodesEnum.hpp
  runtime/compiler/il/Opcodes.enum
  runtime/compiler/optimizer/J9SimplifierTable.enum
  runtime/compiler/optimizer/J9SimplifierTableEnum.hpp
  runtime/compiler/optimizer/SimplifierTable.hpp
  runtime/compiler/p/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/x/amd64/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/x/i386/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/z/codegen/TreeEvaluatorTable.hpp
Labels: arch:aarch32, arch:aarch64, arch:power, arch:x86, arch:z, comp:jit

#11234 Move native Thread.setNameImpl method after Thread initialize()
  jcl/src/java.base/share/classes/java/lang/Thread.java
Labels: comp:vm

#11249 Fix format string
  test/functional/JIT_Test/src/jit/test/jitserver/JITServerTest.java
Labels: comp:test

#11253 Add --illegal-access=permit in tests
  test/functional/Java11andUp/playlist.xml
  test/functional/Java14andUp/playlist.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/Jsr292/playlist.xml
Labels: comp:test

#11092 Use the right symbol for constant string placeholder
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/exceptions/AOTFailure.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
Labels: comp:jit

#11267 Add a stub for NativeMethodHandle in JDK16
  jcl/src/java.base/share/classes/java/lang/invoke/NativeMethodHandle.java
Labels: comp:vm, jdk16

#11275 Update classpath for JAVA16
  jcl/jpp_configuration.xml
Labels: comp:build

#11276 Improve error message on duplicate class definition
  runtime/j9vm/j7vmi.c
  runtime/jcl/common/jcldefine.c
  runtime/nls/j9cl/j9jcl.nls
  runtime/vm/exceptionsupport.c
Labels: comp:vm

#11233 Enable Value Type support for JITServer
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
Labels: comp:jitserver

#11281 Support for OpenJDK MethodHandles
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodTypeForm.java
  runtime/util/hshelp.c
Labels: project:MH

#10856 Remove code related to invokeWithArgumentsHelper
  runtime/codert_vm/arm64nathelp.m4
  runtime/codert_vm/armnathelp.m4
  runtime/codert_vm/pnathelp.m4
  runtime/codert_vm/xnathelp.m4
  runtime/codert_vm/znathelp.m4
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
Labels: comp:vm, depends:omr, project:MH

#11283 Prune constructors from NPE stack trace
  runtime/compiler/env/j9method.cpp
  runtime/j9vm/javanextvmi.c
Labels: comp:vm

#11284 Use byteswap to implement reverseBytes
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#11285 Remove invalid shrc asserts during shutdown
  runtime/shared_common/CompositeCache.cpp
Labels: comp:vm

#11279 Add more info to assert message in SymRefTab
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
Labels: comp:jit

#11270 Convert compiles to use CentOS 6 containers for x86
  buildspecs/linux_x86-64.spec
  buildspecs/linux_x86-64_cmprssptrs.spec
  buildspecs/linux_x86.spec
Labels: comp:build

#11223 Resolve issues when restoring with -Xjit
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/MethodMetaData.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9vm.hdf
  runtime/vm/VMSnapshotImpl.cpp
Labels: snapshot

#11290 Only enable j2iInvokeExact and i2jMHTransition for OpenJ9 MHs
  runtime/vm/BytecodeInterpreter.hpp
Labels: project:MH

#11295 Java 16: Deprecate certain ThreadGroup methods
  jcl/src/java.base/share/classes/java/lang/ThreadGroup.java
Labels: comp:vm

#11051 Add Dynamic Breadth First Scan Ordering to Balanced GC
  runtime/gc_base/CMakeLists.txt
  runtime/gc_base/HotFieldUtil.cpp
  runtime/gc_base/HotFieldUtil.hpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_glue_java/ScavengerDelegate.hpp
  runtime/gc_modron_startup/mmhelpers.cpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_modron_startup/mmparseXgc.cpp
  runtime/gc_vlhgc/ConfigurationIncrementalGenerational.cpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/CopyForwardScheme.hpp
Labels: comp:gc

#11294 Reset softmx after testing to avoid OOMs later
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestMemoryMXBean.java
Labels: comp:test

#11289 Rename OpenJ9 MethodType fields to match OpenJDK MethodType
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/J9Symbol.cpp
  runtime/compiler/il/J9Symbol.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/oti/VMHelpers.hpp
  runtime/oti/vmconstantpool.xml
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/MHInterpreter.hpp
  runtime/vm/MHInterpreter.inc
  runtime/vm/OutOfLineINL_java_lang_invoke_NativeMethodHandle.cpp
  runtime/vm/resolvesupport.cpp
Labels: project:MH

#10061 Add native stubs for vector API support
  runtime/jcl/CMakeLists.txt
  runtime/jcl/common/vectornatives.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se16_exports.xml
  runtime/jcl/uma/se16_objects.xml
  runtime/oti/jclprots.h
Labels: comp:vm, jdk16

#11298 For z/OS, set attach.enable=yes running testJpsSanity
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJps.java
Labels: comp:test

#11297 Remove unused field ThreadGroup.memorySpace
  jcl/src/java.base/share/classes/java/lang/ThreadGroup.java
  runtime/oti/vmconstantpool.xml
Labels: comp:vm

#11301 Reset the last error code on z/OS in j9shmem.c after omrnls_printf()
  runtime/port/sysvipc/j9shmem.c
Labels: comp:vm, os:zos

#11035 JEP390 implementation
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/codert_vm/cnathelp.cpp
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/ObjectMonitor.hpp
  runtime/oti/j9.h
  runtime/oti/j9consts.h
  runtime/oti/j9javaaccessflags.h
  runtime/oti/j9modifiers_api.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/vm/BytecodeAction.hpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ObjectMonitor.cpp
  runtime/vm/ValueTypeHelpers.cpp
  runtime/vm/createramclass.cpp
  runtime/vm/intfunc.c
  runtime/vm/jnicsup.cpp
  runtime/vm/jvminit.c
Labels: comp:vm, depends:doc
