Repository eclipse-openj9/openj9, pull requests merged in 2020-07, with the labels that each got.

#10058 Make uses of Compilation object consistent in CodeGenerator
  runtime/compiler/p/codegen/CallSnippet.cpp
  runtime/compiler/p/codegen/DFPTreeEvaluator.cpp
  runtime/compiler/p/codegen/InterfaceCastSnippet.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9PPCInstruction.cpp
  runtime/compiler/p/codegen/J9PPCSnippet.cpp
  runtime/compiler/p/codegen/J9PPCWatchedStaticFieldSnippet.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
  runtime/compiler/p/codegen/PPCRecompilation.cpp
  runtime/compiler/p/codegen/PPCRecompilationSnippet.cpp
  runtime/compiler/p/codegen/StackCheckFailureSnippet.cpp
  runtime/compiler/x/amd64/codegen/AMD64JNILinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/amd64/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/CheckFailureSnippet.cpp
  runtime/compiler/x/codegen/CheckFailureSnippet.hpp
  runtime/compiler/x/codegen/GuardedDevirtualSnippet.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/x/codegen/J9Linkage.cpp
  runtime/compiler/x/codegen/J9LinkageUtils.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
  runtime/compiler/x/i386/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/DFPTreeEvaluator.cpp
  runtime/compiler/z/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.hpp
  runtime/compiler/z/codegen/J9Linkage.cpp
  runtime/compiler/z/codegen/J9S390Snippet.cpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/z/codegen/ReduceSynchronizedFieldLoad.cpp
  runtime/compiler/z/codegen/S390AOTRelocation.cpp
  runtime/compiler/z/codegen/S390CHelperLinkage.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390Recompilation.cpp
  runtime/compiler/z/codegen/S390StackCheckFailureSnippet.cpp
Labels: comp:jit

#10064 Fix ForceRecompilationSnippet.cpp compilation error
  runtime/compiler/z/codegen/ForceRecompilationSnippet.cpp
Labels: bug, comp:jit

#10051 multianewarray creates an extra array class
  runtime/codert_vm/cnathelp.cpp
  runtime/j9vm/j7vmi.c
  runtime/jcl/common/reflecthelp.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/bchelper.c
Labels: comp:vm

#10023 AArch64: Remove length parameter from MemoryReference (step 2)
  runtime/compiler/aarch64/codegen/J9MemoryReference.cpp
  runtime/compiler/aarch64/codegen/J9MemoryReference.hpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/MemoryReference.hpp
Labels: arch:aarch64, comp:jit

#10057 Upgrade ASM version to 8.0.1
  test/functional/Java11andUp/build.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/Java14andUp/build.xml
  test/functional/Java14andUp/playlist.xml
  test/functional/Java14andUp/src/org/openj9/test/utilities/RecordClassGenerator.java
  test/functional/cmdLineTests/lockWordAlignment/alignmentSettings.mk
Labels: comp:test

#10019 Implement Scheduler's prepareThreadsForTask From Base Class
  runtime/gc_realtime/Scheduler.cpp
Labels: comp:gc

#10008 Include array classes in GetClassLoaderClasses
  runtime/jvmti/jvmtiClass.c
Labels: bug, comp:vm

#10024 AArch64: Remove length parameter from MemoryReference (step 4)
  runtime/compiler/aarch64/codegen/MemoryReference.hpp
Labels: arch:aarch64, comp:jit

#9939 Compiler: fix warning about NULL used in pointer arithmetic
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#10060 Enable the static verification for unsafe classes
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/cfreader.c
  runtime/bcutil/defineclass.c
  runtime/bcverify/staticverify.c
  runtime/oti/j9nonbuilder.h
Labels: comp:vm

#10072 Convert monitor enter tests to equality checks
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/jnicsup.cpp
Labels: comp:vm, project:valhalla

#10055 Jenkins: Disable jdk11 p and z linux cmake builds
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#8939 Remove definitions of deprecated unsigned IL Opcodes of Equality Compare and branch
  runtime/compiler/codegen/CodeGenGPU.cpp
Labels: comp:jit, depends:omr:breaking

#10052 CMake: Add aarch64 support to the jit
  runtime/compiler/CMakeLists.txt
  runtime/compiler/aarch64/CMakeLists.txt
Labels: comp:build

#10062 Update fips sha
  buildspecs/j9.build-info
Labels: comp:build

#9898 [Test] Adjust the setting of GC specific tests on RISC-V
  test/functional/Java8andUp/src/org/openj9/test/nogc/TestGCPolicyNogc.java
  test/functional/cmdLineTests/gcRegressionTests/gcRegressionTests.xml
  test/functional/cmdLineTests/gcRegressionTests/gcRegressionTests_excludes.xml
  test/functional/cmdLineTests/gcRegressionTests/playlist.xml
Labels: comp:gc, comp:test

#10092 (v0.20.0) Upgrade ASM version to 8.0.1
  jcl/src/java.base/share/classes/java/lang/Thread.java
  runtime/oti/vmconstantpool.xml
  runtime/vm/vmthread.c
  test/functional/Java11andUp/build.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/Java14andUp/build.xml
  test/functional/Java14andUp/playlist.xml
  test/functional/Java14andUp/src/org/openj9/test/java/lang/Test_Thread.java
  test/functional/Java14andUp/src/org/openj9/test/utilities/RecordClassGenerator.java
  test/functional/Java14andUp/testng.xml
  test/functional/cmdLineTests/lockWordAlignment/alignmentSettings.mk
Labels: comp:test

#10093 CMake: add cache files for aarch64
  runtime/cmake/caches/linux_aarch64.cmake
  runtime/cmake/caches/linux_aarch64_cmprssptrs.cmake
Labels: comp:build

#10074 Remove obsolete comments
  jcl/src/ibm.jzos/share/classes/module-info.java
  jcl/src/java.base/share/classes/module-info.java.extra
  jcl/src/java.management/share/classes/module-info.java.extra
  jcl/src/jdk.attach/share/classes/module-info.java.extra
  jcl/src/jdk.jcmd/share/classes/module-info.java
  jcl/src/jdk.management/share/classes/module-info.java.extra
  jcl/src/openj9.cuda/share/classes/module-info.java
  jcl/src/openj9.dataaccess/share/classes/module-info.java
  jcl/src/openj9.dtfj/share/classes/module-info.java
  jcl/src/openj9.dtfjview/share/classes/module-info.java
  jcl/src/openj9.gpu/share/classes/module-info.java
  jcl/src/openj9.jvm/share/classes/module-info.java
  jcl/src/openj9.sharedclasses/share/classes/module-info.java
  jcl/src/openj9.traceformat/share/classes/module-info.java
  jcl/src/openj9.zosconditionhandling/share/classes/module-info.java
Labels: comp:build

#6928 Disable isVettedForAOT when getting systemClass
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jitserver

#10090 Refactor allowGuardMerging() to the common codegen
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#10069 Add Java 11 IFA support for JVMTI_EVENT_SAMPLED_OBJECT_ALLOC
  runtime/jvmti/jvmtiHelpers.c
  runtime/oti/j9consts.h
Labels: comp:vm

#10100 Add Option to Build AIX with full references
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#10083 Break JITServer connection for interrupted compilations
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#9680 Jenkins: Enable -Werror on cmake builds
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#10103 (v0.21.0) Upgrade ASM version to 8.0.1
  test/functional/Java11andUp/build.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/Java14andUp/build.xml
  test/functional/Java14andUp/playlist.xml
  test/functional/Java14andUp/src/org/openj9/test/utilities/RecordClassGenerator.java
  test/functional/cmdLineTests/lockWordAlignment/alignmentSettings.mk
Labels: comp:test

#10059 Enable Record preview tests for both 14 and 15
  test/functional/Java14andUp/build.xml
  test/functional/Java14andUp/playlist.xml
  test/functional/Java14andUp/src/org/openj9/test/utilities/RecordClassGenerator.java
  test/functional/TestUtilities/src/org/openj9/test/util/VersionCheck.java
Labels: comp:test

#10106 Do not notify GC if class redef fails
  runtime/jvmti/jvmtiClass.c
Labels: comp:vm

#10108 CMake: remove J9VM_IS_NON_STAGING
  CMakeLists.txt
  runtime/CMakeLists.txt
  runtime/jcl/CMakeLists.txt
  runtime/jsigWrapper/CMakeLists.txt
Labels: comp:build

#10107 Allow SDK Implementation to be passed
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#10098 enable TestCollisionResilientHashtable in DDR_Test
  test/functional/DDR_Test/playlist.xml
  test/functional/DDR_Test/src/j9vm/test/ddrext/AutoRun.java
Labels: comp:test

#10117 Fix searching with a method signature
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/MethodForNameCommand.java
Labels: comp:vm

#9868 (0.21.0) Map symrefs in OSR liveness to those in current trees in creating calls to eaEscapeHelper
  runtime/compiler/optimizer/EscapeAnalysisTools.cpp
  runtime/compiler/optimizer/EscapeAnalysisTools.hpp
  runtime/compiler/optimizer/PreEscapeAnalysis.cpp
Labels: bug, comp:jit, enhancement

#9465 Remove J9::Options::setCounts()
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#10113 Override canUseRelativeLongInstructions in Z codegen
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.hpp
Labels: arch:z, comp:jit

#10121 Support JDK15 new field java.lang.reflect.Field.trustedFinal
  runtime/jcl/common/reflecthelp.c
  runtime/oti/vmconstantpool.xml
Labels: comp:vm, jdk15

#10006 Fix Class Chain Validation Caching
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/PersistentAllocator.hpp
  runtime/compiler/env/PersistentCHTable.cpp
  runtime/compiler/env/PersistentCHTable.hpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
Labels: comp:jit, comp:jit:aot

#10116 Rename asm-8.0.1.jar to asm.jar
  test/functional/Java11andUp/build.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/Java14andUp/build.xml
  test/functional/Java14andUp/playlist.xml
  test/functional/cmdLineTests/lockWordAlignment/alignmentSettings.mk
Labels: comp:test

#10132 Put Windows .map file in same folder as .dll
  runtime/compiler/build/rules/win-msvc/common.mk
  runtime/makelib/targets.mk.win.inc.ftl
Labels: comp:build

#10135 (v0.21.0) Rename asm-8.0.1.jar to asm.jar
  test/functional/Java11andUp/build.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/Java14andUp/build.xml
  test/functional/Java14andUp/playlist.xml
  test/functional/cmdLineTests/lockWordAlignment/alignmentSettings.mk
Labels: comp:test

#10133 Jenkins: add aarch64 cmake builds
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#10136 Remove unnecessary monitor enter during VM exit
  runtime/vm/jvminit.c
Labels: comp:vm

#10088 Disable array translate support for remote compilations
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: arch:z, comp:jit

#10142 Add missing break statement for case BCV_ERR_BYTECODE_ERROR
  runtime/verbose/errormessageframeworkrtv.c
Labels: bug, comp:vm

#10145 (v0.21.0) Add missing break statement for case BCV_ERR_BYTECODE_ERROR
  runtime/verbose/errormessageframeworkrtv.c
Labels: bug, comp:vm

#10131 Stop using obsolete javac option -Xmodule: in tests
  test/functional/Java8andUp/build.xml
  test/functional/cmdLineTests/proxyFieldAccess/build.xml
  test/functional/cmdLineTests/proxyFieldAccess/playlist.xml
Labels: comp:test

#9955 Stored the ram classes before sending the compilationReq to server
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/net/CommunicationStream.hpp
Labels: comp:jitserver

#10151 Set proxyFieldAccess test build destdir to fix Windows compile
  test/functional/cmdLineTests/proxyFieldAccess/build.xml
Labels: comp:test

#10021 Add documentation for adding tracepoints
  doc/diagnostics/AddingTracepoints.md
Labels: comp:doc

#10119 Duplicate PassThrough nodes when creating acmp fastpaths
  runtime/compiler/codegen/J9CodeGenerator.cpp
Labels: comp:jit, project:valhalla

#10034 Check for assignment of NULL to array of value type
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: comp:jit, project:valhalla

#10120 Part 1: JEP 360 Sealed Classes
  jcl/src/java.base/share/classes/java/lang/Class.java
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/ROMClassWriter.cpp
  runtime/bcutil/ROMClassWriter.hpp
  runtime/bcutil/attrlookup.gperf
  runtime/bcutil/attrlookup.h
  runtime/bcutil/cfreader.c
  runtime/jcl/common/java_lang_Class.cpp
  runtime/jcl/common/reflecthelp.c
  runtime/jcl/exports.cmake
  runtime/jcl/jcl_internal.h
  runtime/jcl/module.xml
  runtime/jcl/uma/se15_exports.xml
  runtime/nls/cfre/cfrerr.nls
  runtime/oti/VMHelpers.hpp
  runtime/oti/cfr.h
  runtime/oti/j9javaaccessflags.h
  runtime/oti/j9modifiers_api.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/util_api.h
  runtime/util/optinfo.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_java_lang_Class.cpp
  runtime/vm/bindnatv.cpp
  test/functional/Java15andUp/build.xml
  test/functional/Java15andUp/playlist.xml
  test/functional/Java15andUp/src/org/openj9/test/java/lang/Test_Class.java
  test/functional/Java15andUp/testng.xml
Labels: comp:test, comp:vm, jdk15

#10140 AArch64: Change instruction class to use new method for bookkeeping register use count
  runtime/compiler/aarch64/codegen/Instruction.hpp
Labels: arch:aarch64, comp:jit

#10154 CMake: Set libpath for constgen on AIX
  runtime/jilgen/CMakeLists.txt
Labels: comp:build

#10139 Rename MasterGCThread files to MainGCThread in omr
  runtime/gc_vlhgc/IncrementalGenerationalGC.hpp
Labels: comp:gc

#10160 Remove unused test variables
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Object.java
Labels: comp:test

#10162 Fix Power ArrayCopyBNDCHK handling of negative constants
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: bug, comp:jit

#10163 (0.21.0) Fix Power ArrayCopyBNDCHK handling of negative constants
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: bug, comp:jit

#10065 Release notes to support 0.21.0
  doc/release-notes/0.21/0.21.md
Labels: comp:doc

#10143 Relax condition to require no exclusive VM access when generating jitdump
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JitDump.cpp
  runtime/compiler/env/VMJ9.cpp
Labels: comp:jit

#10159 Validate Class Chain of class of method being compiled
  runtime/compiler/control/CompilationThread.cpp
Labels: bug, comp:jit, comp:jit:aot

#10068 Add ResolveCHK for value types before NULLCHK
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit, project:valhalla

#9731 Add portable AOT support on x86
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/env/J9CPU.cpp
  runtime/compiler/x/env/J9CPU.hpp
  runtime/oti/j9nonbuilder.h
Labels: depends:doc

#9496 Support for OpenJDK LambdaForm
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/invoke/BoundMethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/CallSite.java
  jcl/src/java.base/share/classes/java/lang/invoke/ClassSpecializer.java
  jcl/src/java.base/share/classes/java/lang/invoke/DelegatingMethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/DirectMethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/InvokerBytecodeGenerator.java
  jcl/src/java.base/share/classes/java/lang/invoke/Invokers.java
  jcl/src/java.base/share/classes/java/lang/invoke/LambdaForm.java
  jcl/src/java.base/share/classes/java/lang/invoke/LambdaFormBuffer.java
  jcl/src/java.base/share/classes/java/lang/invoke/LambdaFormEditor.java
  jcl/src/java.base/share/classes/java/lang/invoke/MemberName.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleNatives.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/java/lang/invoke/SimpleMethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarForm.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandleGuards.java
Labels: comp:vm

#10111 AArch64: Call stopUsingRegister() in monent/monexitEvaluator()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#10127 AArch64: Implement genCAS()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#10184 Pass JDK_REPO and JDK_BRANCH to test jobs
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#10194 Modify the translated PII files in nls folder - 20200720
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_cs.nls
  runtime/nls/cfre/cfrerr_de.nls
  runtime/nls/cfre/cfrerr_es.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_hu.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_ja.nls
  runtime/nls/cfre/cfrerr_ko.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_ru.nls
  runtime/nls/cfre/cfrerr_sk.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/cfre/cfrerr_zh_TW.nls
Labels: comp:vm

#6921 Add JITServer checks in the z codegen
  runtime/compiler/z/codegen/J9S390Snippet.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: arch:z, comp:jitserver

#10188 Move verifyQualifiedName to internalFindClassString
  runtime/j9vm/j7vmi.c
  runtime/j9vm/jvm.c
  runtime/jcl/common/clsldr.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_com_ibm_oti_vm_VM.cpp
  runtime/vm/FastJNI_java_lang_Class.cpp
  runtime/vm/FastJNI_java_lang_ClassLoader.cpp
  runtime/vm/classsupport.c
  runtime/vm/stringhelpers.cpp
Labels: comp:vm

#10192 Fixed a comment typo, changed j9j9portcontrol.c to j9portcontrol.c
  runtime/oti/j9port_generated.h
Labels: comp:vm

#10203 enable testDDRExtJunit_StackMap in DDR
  test/functional/DDR_Test/playlist.xml
  test/functional/DDR_Test/src/j9vm/test/ddrext/AutoRun.java
  test/functional/DDR_Test/tck_ddrext.xml
Labels: comp:test

#10208 Z/OS DDR: suppress C preprocessor errors
  runtime/makelib/targets.mk.ftl
Labels: comp:build

#10212 Exclude cmdLineTester_libpathTestRtf on zos
  test/functional/cmdLineTests/libpathTest/playlist.xml
Labels: comp:test

#10213 Exclude Nestmate_virtual_private tests on zos
  test/functional/Java11andUp/playlist.xml
Labels: comp:test

#9907 Acquire Thread.lock while calling jvmti suspendThread
  runtime/jvmti/suspendhelper.cpp
Labels: comp:vm

#10218 z/OS for Java 11 supports V2R3 and later on zec12/zbc12
  runtime/gc_glue_java/configure_includes/configure_zos_390.mk.ftl
  runtime/makelib/targets.mk.zos.inc.ftl
Labels: comp:build, comp:vm

#10216 Explicitly check for PERSONAL_BUILD string true
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#10206 Runtime compressed refs work
  runtime/gc_base/ObjectAccessBarrier.hpp
  runtime/gc_base/ScavengerForwardedHeader.hpp
  runtime/gc_glue_java/ArrayletObjectModelBase.hpp
  runtime/gc_glue_java/MixedObjectModel.hpp
  runtime/gc_glue_java/ObjectModelDelegate.hpp
  runtime/gc_glue_java/ScavengerDelegate.hpp
  runtime/gc_include/ObjectAccessBarrierAPI.hpp
  runtime/gc_include/ObjectAllocationAPI.hpp
  runtime/gc_structs/ArrayletLeafIterator.hpp
  runtime/gc_structs/MixedObjectIterator.hpp
  runtime/gc_structs/PointerArrayletInlineLeafIterator.hpp
  runtime/gc_structs/PointerArrayletIterator.hpp
  runtime/gc_structs/PointerContiguousArrayIterator.hpp
  runtime/gc_vlhgc/InterRegionRememberedSet.hpp
  runtime/gc_vlhgc/LeafAwareMixedObjectIterator.hpp
  runtime/oti/ArrayCopyHelpers.hpp
  runtime/oti/ObjectHash.hpp
  runtime/oti/ObjectMonitor.hpp
  runtime/oti/UnsafeAPI.hpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/objectreferencesmacros_define.inc
  runtime/vm/BytecodeInterpreterCompressed.cpp
  runtime/vm/BytecodeInterpreterFull.cpp
  runtime/vm/DebugBytecodeInterpreterCompressed.cpp
  runtime/vm/DebugBytecodeInterpreterFull.cpp
  runtime/vm/ValueTypeHelpers.hpp
Labels: comp:gc

#10186 JEP 360: cfdumper support
  runtime/bcutil/ClassFileWriter.cpp
  runtime/bcutil/cfreader.c
  runtime/cfdumper/main.c
  runtime/oti/cfr.h
  runtime/util/romclasswalk.c
Labels: comp:vm, jdk15

#10207 JEP371 implementation part 2
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/ROMClassCreationContext.hpp
  runtime/bcutil/ROMClassSegmentAllocationStrategy.cpp
  runtime/bcutil/ROMClassSegmentAllocationStrategy.hpp
  runtime/bcutil/defineclass.c
  runtime/jcl/common/clsldr.cpp
  runtime/jcl/common/java_lang_Class.cpp
  runtime/jcl/common/jcldefine.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se15_exports.xml
  runtime/oti/j9.h
  runtime/oti/j9consts.h
  runtime/oti/j9javaaccessflags.h
  runtime/oti/j9modifiers_api.h
  runtime/oti/jclprots.h
  runtime/util/hshelp.c
  runtime/vm/ClassInitialization.cpp
  runtime/vm/classsupport.c
  runtime/vm/createramclass.cpp
  runtime/vm/visible.c
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/exclude.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/exclude_openj9.xml
Labels: comp:vm, jdk15

#10222 Update docker script to enable dtrace support
  buildenv/docker/mkdocker.sh
Labels: comp:build

#10177 Part 2: JEP 360 Sealed Classes
  runtime/nls/j9vm/j9vm.nls
  runtime/vm/createramclass.cpp
  runtime/vm/j9vm.tdf
  test/functional/Java15andUp/build.xml
  test/functional/Java15andUp/playlist.xml
  test/functional/Java15andUp/src/org/openj9/test/sealedclasses/SealedClassesTests.java
  test/functional/Java15andUp/src/org/openj9/test/utilities/CustomClassLoader.java
  test/functional/Java15andUp/src/org/openj9/test/utilities/SealedClassGenerator.java
  test/functional/Java15andUp/testng.xml
Labels: comp:test, comp:vm, jdk15

#10229 Add -Xcheck:jni mismatching field check - static vs non-static
  runtime/jnichk/jnicheck.c
  runtime/jnichk/jnichk_internal.h
  runtime/jnichk/jnicwrappers.c
  runtime/nls/jnck/jnichk.nls
  runtime/tests/jni/exports.cmake
  runtime/tests/jni/jnierrors.c
  runtime/tests/jni/jnitest_internal.h
  runtime/tests/jni/module.xml
  test/functional/cmdLineTests/xcheckjni/xcheckjni.xml
  test/functional/cmdline_options_testresources/src/j9vm/test/jnichk/PassingFieldID.java
Labels: comp:test, comp:vm

#10233 Fix static field cycle value tests
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test

#10225 Add impl ibm to Java 11+ openj9 tests
  test/functional/JIT_Test/playlist.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/Jsr335/playlist.xml
  test/functional/cmdLineTests/openssl/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/playlist.xml
Labels: comp:test

#10217 Remaining master/slave replacements
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Advertisement.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticProperties.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/WaitLoop.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/package-info.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/MemoryMXBeanImpl.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9AttachProvider.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/JvmCpuMonitorMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/MemoryMXBean.java
  runtime/bcutil/test/dyntest/module.xml
  runtime/cassume/module.xml
  runtime/cfdumper/module.xml
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/jcl/common/mgmtinit.c
  runtime/jcl/common/mgmtmemory.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/jniinv/module.xml
  runtime/nls/j9cl/j9jcl.nls
  runtime/nls/verb/verbose.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/rasdump/dmpmap.c
  runtime/redirector/generated.c.m4
  runtime/redirector/redirector.c
  runtime/tests/algorithm/module.xml
  runtime/tests/port/module.xml
  runtime/tests/props/module.xml
  runtime/tests/shared/OSCacheTestMmap.cpp
  runtime/tests/shared/OSCacheTestSysv.cpp
  runtime/tests/shared/module.xml
  runtime/tests/shared_service/module.xml
  runtime/tests/thread/thrstate/module.xml
  runtime/tests/vm/module.xml
  runtime/tests/vm_lifecycle/module.xml
  sourcetools/com.ibm.uma/com/ibm/j9/uma/platform/PlatformImplementation.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestMonitors.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestStackMap.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/util/parser/ThreadsOutputParser.java
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestMemoryMXBean.java
  test/functional/Java8andUp/src/j9vm/test/arrayCopy/ArrayCopyTest.java
Labels: comp:jit, comp:test, comp:vm, depends:doc

#10240 Add "--with-cmake=no" for AArch64 cross building
  doc/build-instructions/Build_Instructions_V11.md
Labels: arch:aarch64, comp:doc

#10238 Compiler Flags changes for Java11 on z/OS
  runtime/compiler/build/toolcfg/zos-xlc/common.mk
Labels: comp:jit

#10224 Use unchecked version of addExceptionEdge in monitor elimination
  runtime/compiler/optimizer/MonitorElimination.cpp
Labels: bug, comp:jit

#10176 Add warning about using lastOptSubIndex in monitor elimination
  runtime/compiler/optimizer/MonitorElimination.cpp
Labels: comp:jit

#10209 Fix client UUID printing in verbose log
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#10242 Disable JEP 360 preview tests for Java 16+
  test/functional/Java15andUp/playlist.xml
Labels: comp:test

#10232 JEP 360 sealed classes instrumentation restrictions
  runtime/util/hshelp.c
  test/functional/Java15andUp/META-INF/MANIFEST.MF
  test/functional/Java15andUp/build.xml
  test/functional/Java15andUp/playlist.xml
  test/functional/Java15andUp/src/org/openj9/test/java/lang/instrument/Test_Instrumentation.java
  test/functional/Java15andUp/src/org/openj9/test/utilities/JavaAgent.java
  test/functional/Java15andUp/src/org/openj9/test/utilities/SealedClassGenerator.java
  test/functional/Java15andUp/testng.xml
Labels: comp:test, comp:vm, jdk15

#10102 AArch64: Enable inlineDirectCall()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#10221 Add new set of build instructions for OpenJDK15
  buildenv/aix/jdk15/yum_install_aix-ppc64.txt
  doc/build-instructions/Build_Instructions_V15.md
Labels: comp:doc

#10253 Make JVMTI test variables static
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/traceSubscription/ts001.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/verboseGC/vgc001.c
Labels: comp:vm

#9157 CMake: Modify arch tuning value for jit on aix
  runtime/compiler/CMakeLists.txt
Labels: comp:build

#10220 Move lowering of ArrayStoreCHK to lowerTreesPreChildrenVisit
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: bug, comp:jit, project:valhalla

#10258 Minor javadoc improvements
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/java/j9/TraceBuffer.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/jvm/j9/dump/indexsupport/NodeGPF.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/jvm/j9/dump/indexsupport/NodeJ9Dump.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/jvm/j9/dump/indexsupport/NodeJavaVM.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassHelper.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassHelperFactory.java
Labels: comp:vm

#10260 Clear non-zAAP eligible bit for JCL natives
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/jcl/common/sun_misc_Perf.c
  runtime/jcl/common/sun_misc_Unsafe.cpp
  runtime/jcl/common/sun_reflect_ConstantPool.c
  runtime/jcl/jcl_internal.h
Labels: comp:vm

#10262 Add AARCH64 as a target processor for JDK 8 in libargs.c
  runtime/exelib/common/libargs.c
Labels: arch:aarch64, comp:vm

#10263 Remove --disable-warnings-as-errors from jdk8 build instructions
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#10167 AArch64: Enable OOL for ZEROCHKEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#10261 Fix port/shmem test
  runtime/tests/port/shmem.c
Labels: comp:test

#10205 Add JIT Hooks Documentation
  doc/compiler/runtime/JITHooks.md
Labels: comp:doc, comp:jit

#10270 Fix compile warnings in openj9.dataaccess
  jcl/src/openj9.dataaccess/share/classes/com/ibm/dataaccess/ByteArrayUnmarshaller.java
  jcl/src/openj9.dataaccess/share/classes/com/ibm/dataaccess/DecimalData.java
  jcl/src/openj9.dataaccess/share/classes/com/ibm/dataaccess/PackedDecimal.java
Labels: comp:vm

#9392 Enable JIT testing for value types tests
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/Valhalla/testng.xml
Labels: comp:test

#10271 Fix compile warnings in openj9.jvm
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/DumpConfigurationUnavailableException.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/InvalidDumpOptionException.java
Labels: comp:vm

#10259 JEP 384: Record final fields not modifiable through reflection
  runtime/jcl/common/reflecthelp.c
  test/functional/Java15andUp/build.xml
  test/functional/Java15andUp/playlist.xml
  test/functional/Java15andUp/src/org/openj9/test/java/lang/Test_Class.java
  test/functional/Java15andUp/src/org/openj9/test/records/RecordFinalFieldTests.java
  test/functional/Java15andUp/testng.xml
Labels: comp:test, comp:vm, jdk15

#10219 AArch64: Enable OOL for VMnewEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#10276 Remove OpenJ9 restriction on jps, jstack, etc. tests
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJcmd.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJmap.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJps.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJstack.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJstat.java
Labels: comp:test

#10251 Migrate TestInvtest to OpenJ9
  test/functional/NativeTest/nativeTestSettings.mk
  test/functional/NativeTest/playlist.xml
Labels: comp:test

#10280 Fix 'fallthrough' warnings
  jcl/src/openj9.dataaccess/share/classes/com/ibm/dataaccess/DecimalData.java
Labels: comp:vm

#10230 Rename gc master/slave options
  runtime/gc_modron_startup/mmparseXgc.cpp
Labels: comp:gc

#10190 Merging Dispatcher to ParallelDispatcher (1/2)
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/VMInterface.cpp
  runtime/gc_base/modronapi.cpp
  runtime/gc_glue_java/CompactSchemeFixupObject.cpp
  runtime/gc_glue_java/CompactSchemeFixupRoots.hpp
  runtime/gc_glue_java/MarkingDelegate.cpp
  runtime/gc_glue_java/MarkingSchemeRootClearer.cpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_glue_java/ScavengerRootClearer.cpp
  runtime/gc_glue_java/ScavengerRootScanner.cpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_realtime/ConfigurationRealtime.cpp
  runtime/gc_realtime/ConfigurationRealtime.hpp
  runtime/gc_realtime/IncrementalParallelTask.cpp
  runtime/gc_realtime/IncrementalParallelTask.hpp
  runtime/gc_realtime/RealtimeGC.cpp
  runtime/gc_realtime/RealtimeGC.hpp
  runtime/gc_realtime/RealtimeMarkTask.hpp
  runtime/gc_realtime/RealtimeRootScanner.cpp
  runtime/gc_realtime/RealtimeRootScanner.hpp
  runtime/gc_realtime/RealtimeSweepTask.hpp
  runtime/gc_realtime/Scheduler.cpp
  runtime/gc_trace_vlhgc/TgcInterRegionRememberedSetDemographics.cpp
  runtime/gc_vlhgc/CardListFlushTask.cpp
  runtime/gc_vlhgc/CardListFlushTask.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/CopyForwardScheme.hpp
  runtime/gc_vlhgc/CopyForwardSchemeTask.hpp
  runtime/gc_vlhgc/CopyScanCacheListVLHGC.cpp
  runtime/gc_vlhgc/GlobalMarkCardScrubber.cpp
  runtime/gc_vlhgc/GlobalMarkCardScrubber.hpp
  runtime/gc_vlhgc/GlobalMarkDelegate.cpp
  runtime/gc_vlhgc/GlobalMarkDelegate.hpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.hpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/InterRegionRememberedSet.cpp
  runtime/gc_vlhgc/ParallelSweepSchemeVLHGC.cpp
  runtime/gc_vlhgc/ParallelSweepSchemeVLHGC.hpp
  runtime/gc_vlhgc/PartialMarkDelegate.cpp
  runtime/gc_vlhgc/PartialMarkDelegate.hpp
  runtime/gc_vlhgc/PartialMarkingScheme.cpp
  runtime/gc_vlhgc/PartialMarkingScheme.hpp
  runtime/gc_vlhgc/ReclaimDelegate.cpp
  runtime/gc_vlhgc/ReclaimDelegate.hpp
  runtime/gc_vlhgc/SweepHeapSectioningVLHGC.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.hpp
Labels: comp:gc

#10234 Add option to pax to retain extattr settings
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#10281 Fix StructureHeader.readBlobVersion()
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureHeader.java
Labels: comp:vm

#10283 Use an extension of FileImageInputStream to avoid loading the awt shared library
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ClassGenerator.java
Labels: comp:vm

#9993 Enable portable AOT on x86
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/j9jit.tdf
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/nls/exel/exelib.nls
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/shared/shrclssup.c
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/shrinit.cpp
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_exclude.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
Labels: comp:jit, comp:vm, depends:doc

#10138 Update xlinux platforms to use Cent7 for JDK15+ compiles
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#10287 Fix sysinfo_test_get_cwd3 to handle symlinks
  runtime/tests/port/si.c
Labels: comp:test

#10291 Add JDK 8 build pipeline for AArch64 Linux
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: arch:aarch64, comp:build, jdk8

#10301 Add JVM_IsUseContainerSupport for jdk16
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/java11vmi.c
  runtime/j9vm/module.xml
  runtime/redirector/forwarders.m4
  runtime/redirector/module.xml
Labels: comp:vm, jdk16
