Repository eclipse-openj9/openj9, pull requests merged in 2020-01, with the labels that each got.

#8192 (0.18.0) Fix issue -Xverbosegclog number of cycles must be greater than 0
  runtime/verbose/verbose.c
Labels: comp:vm

#8147 Enable JIT Server for xlinux jdk8 and jdk11
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8196 Configure option '--enable-jitserver' does not need a value
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8001 AArch64: Implement pushJNIReferenceArg in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
Labels: arch:aarch64, comp:jit

#8002 AArch64: Implement buildJNIArgs in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
Labels: arch:aarch64, comp:jit

#8060 AArch64: Enable directToJNI
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#8144 Add Linux ARM spec to DDR supersets cache file
  debugtools/DDR_VM/generate.properties
Labels: comp:build

#8201 Update zlib to 1.2.11
  longabout.html
  runtime/include/about.html
  runtime/include/zconf.h
  runtime/include/zlib.h
  runtime/zlib/about.html
  runtime/zlib/adler32.c
  runtime/zlib/compress.c
  runtime/zlib/crc32.c
  runtime/zlib/crc32.h
  runtime/zlib/deflate.c
  runtime/zlib/deflate.h
  runtime/zlib/gzguts.h
  runtime/zlib/infback.c
  runtime/zlib/inffast.c
  runtime/zlib/inffast.h
  runtime/zlib/inffixed.h
  runtime/zlib/inflate.c
  runtime/zlib/inflate.h
  runtime/zlib/inftrees.c
  runtime/zlib/inftrees.h
  runtime/zlib/trees.c
  runtime/zlib/trees.h
  runtime/zlib/uncompr.c
  runtime/zlib/zconf.h
  runtime/zlib/zutil.c
  runtime/zlib/zutil.h
Labels: comp:vm

#8216 Don't consider TraceFormat.dat in OpenJ9 builds
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/traceformat/TraceFormat.java
Labels: comp:vm

#8207 Add fast JNI support for JDK9 Unsafe
  runtime/vm/FastJNI.cpp
Labels: comp:vm

#8217 (0.18.0) Update zlib to 1.2.11
  longabout.html
  runtime/include/about.html
  runtime/include/zconf.h
  runtime/include/zlib.h
  runtime/zlib/about.html
  runtime/zlib/adler32.c
  runtime/zlib/compress.c
  runtime/zlib/crc32.c
  runtime/zlib/crc32.h
  runtime/zlib/deflate.c
  runtime/zlib/deflate.h
  runtime/zlib/gzguts.h
  runtime/zlib/infback.c
  runtime/zlib/inffast.c
  runtime/zlib/inffast.h
  runtime/zlib/inffixed.h
  runtime/zlib/inflate.c
  runtime/zlib/inflate.h
  runtime/zlib/inftrees.c
  runtime/zlib/inftrees.h
  runtime/zlib/trees.c
  runtime/zlib/trees.h
  runtime/zlib/uncompr.c
  runtime/zlib/zconf.h
  runtime/zlib/zutil.c
  runtime/zlib/zutil.h
Labels: comp:vm

#8098 Extend Spec Inheritance for remaining components
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8211 JITServer thunk and relo record fixes for Power
  runtime/compiler/p/codegen/CallSnippet.cpp
  runtime/compiler/p/codegen/J9PPCInstruction.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
Labels: arch:power, comp:jitserver

#8212 Correctly set unresolvedInCP flag
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#8050 Fix compact strings check to handle offsets correctly
  jcl/src/java.base/share/classes/java/lang/String.java
  jcl/src/java.base/share/classes/java/lang/StringBuffer.java
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:test, comp:vm

#7788 master: Apply #311 to Java 8
  jcl/src/java.base/share/classes/java/lang/Class.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetMethodsTests.java
  test/functional/Java8andUp/src_80/org/openj9/test/java/lang/Test_Class.java
  test/functional/Java8andUp/src_90/org/openj9/test/java/lang/Test_Class.java
Labels: comp:vm

#8227 Check if pointer is in the SCC before loading it
  runtime/compiler/runtime/IProfiler.cpp
Labels: bug, comp:jit

#8243 Check if pointer is in SCC before loading it (0.18.0)
  runtime/compiler/runtime/IProfiler.cpp
Labels: bug, comp:jit

#8136 Build openssl support in aarch64 builds
  buildenv/jenkins/variables/defaults.yml
Labels: arch:aarch64, comp:build

#8241 (0.18.0) Fix compact strings check to handle offsets correctly
  jcl/src/java.base/share/classes/java/lang/String.java
  jcl/src/java.base/share/classes/java/lang/StringBuffer.java
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:test, comp:vm

#8245 Enable JIT Server for xlinux jdk8 and jdk11 (0.18.0)
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8240 Enable JIT Server for plinux jdk8 and jdk11
  buildenv/jenkins/variables/defaults.yml
Labels: comp:jitserver

#8239 Deprecate value assertions for NULLVALUE
  runtime/compiler/arm/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#7940 Add launcher for JITServer
  buildspecs/core.feature
  buildspecs/j9.flags
  runtime/CMakeLists.txt
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/runtime/Listener.hpp
  runtime/include/j9cfg.h.ftl
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/jvm.c
  runtime/jitserver_launcher/CMakeLists.txt
  runtime/jitserver_launcher/jitserver.c
  runtime/jitserver_launcher/module.xml
  runtime/oti/j9arch.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jitserver_api.h
  runtime/oti/jitserver_error.h
  runtime/oti/vm_api.h
  runtime/redirector/redirector.c
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
  runtime/vm/threadhelp.cpp
Labels: comp:jitserver

#8249 Add launcher for JITServer (0.18.0)
  buildspecs/core.feature
  buildspecs/j9.flags
  runtime/CMakeLists.txt
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/runtime/Listener.hpp
  runtime/include/j9cfg.h.ftl
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/jvm.c
  runtime/jitserver_launcher/CMakeLists.txt
  runtime/jitserver_launcher/jitserver.c
  runtime/jitserver_launcher/module.xml
  runtime/oti/j9arch.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jitserver_api.h
  runtime/oti/jitserver_error.h
  runtime/oti/vm_api.h
  runtime/redirector/redirector.c
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
  runtime/vm/threadhelp.cpp
Labels: comp:jitserver

#7949 Disable garbage collection for value types test
  test/functional/Valhalla/playlist.xml
Labels: comp:test

#8131 Only pass down single line trigger comment
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#8246 Allow use of buildtools.mk from arbitrary locations
  runtime/buildtools.mk
Labels: comp:build

#8015 Fix JVMTI getConstantPool and getBytecodes output
  runtime/jvmti/jvmtiClass.c
  runtime/jvmti/jvmtiMethod.c
Labels: comp:vm

#8135 Use buildspec manager for JDK Image Dir
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8248 v0.18.0-release : Move synchronized to native method CLassLoader.loadLibraryWithPath
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm

#8225 Move synchronized to native method CLassLoader.loadLibraryWithPath
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm

#8244 Add missing break statements
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#8070 CMake: Add windows macros
  runtime/cmake/platform.cmake
Labels: comp:build

#8256 Update release notes for milestone 2
  doc/release-notes/0.18/0.18.md
Labels: comp:doc

#8169 AArch64: Enable DirectToJNI on AOT compilation
  runtime/compiler/aarch64/codegen/J9CodeGenerator.hpp
  runtime/compiler/aarch64/runtime/ARM64RelocationTarget.hpp
  runtime/compiler/env/j9method.cpp
Labels: arch:aarch64, comp:jit:aot

#8206 JIT Support for getCallerClass in recent JDK versions
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#8260 Replace references to -XX:StartAsJITServer with jitserver
  buildenv/docker/jdk8/s390x/ubuntu16/jitserver/run/Dockerfile
  buildenv/docker/jdk8/x86_64/rhel7/jitserver/run/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/buildserver/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/buildserver/Dockerfile
  doc/compiler/jitserver/Build.md
  doc/compiler/jitserver/Testing.md
  doc/compiler/jitserver/Usage.md
Labels: comp:jitserver

#8226 Disabled VSTRS optimizations for `inlineVectorizedStringIndexOf`
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#8275 Disabled VSTRS optimizations for `inlineVectorizedStringIndexOf` (0.18.0)
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#8261 Check if offset is in the SCC before loading it
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/runtime/IProfiler.cpp
Labels: bug, comp:jit

#8286 0.18: Check if offset is in the SCC before loading it
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/runtime/IProfiler.cpp
Labels: bug, comp:jit

#7004 Remove unsigned deprecated ILopcodes TR::luadd and TR::lusub from OpenJ9
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#7891 CMake: dont use '-femit-class-debug-always' on clang
  runtime/ddr/CMakeLists.txt
Labels: comp:build

#8278 Fix Assert due to live register
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#8289 Fix options for valhalla tests
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test

#8295 Fix the issue with the dangling pointer at shutdown
  runtime/shared_common/CacheMap.cpp
Labels: bug, comp:vm

#8300 Fix the issue with the dangling pointer at shutdown (v0.18.0-release)
  runtime/shared_common/CacheMap.cpp
Labels: bug, comp:vm

#8254 Disable double mapping when page size exceeds default page size
  runtime/gc_base/IndexableObjectAllocationModel.hpp
  runtime/gc_glue_java/ArrayletObjectModelBase.hpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_vlhgc/ConfigurationIncrementalGenerational.cpp
Labels: comp:gc

#8310 CMake: Fix undefined symbols on gcc builds
  runtime/gc_glue_java/CMakeLists.txt
Labels: comp:build

#8312 Use sun.misc.IOUtils new API readAllBytes()
  jcl/src/java.base/share/classes/java/lang/invoke/SecurityFrameInjector.java
Labels: comp:vm

#8315 (v0.18.0-release) Use sun.misc.IOUtils new API readAllBytes()
  jcl/src/java.base/share/classes/java/lang/invoke/SecurityFrameInjector.java
Labels: comp:vm

#8306 AArch64: Enable encodeHelperBranchAndLink to encode `b` instruction
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.hpp
Labels: arch:aarch64, comp:jit

#8304 AArch64: Save parameters to the stack in FSD mode
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#8319 Don't initialize LogManager class prematurely
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/LoggingMXBeanImpl.java
Labels: comp:vm

#8299 Use com.ibm.jvm.io.ConsolePrintStream.localize for z/OS
  debugtools/DDR_VM/.classpath
  jcl/jpp_configuration.xml
  jcl/src/com.ibm.jzos/share/classes/com/ibm/jzos/ZFile.java
  jcl/src/com.ibm.jzos/share/classes/module-info.java
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, depends:openjdk, depends:openjdk11, depends:openjdk14, depends:openjdk8

#8329 Revert "Disable double mapping when page size exceeds default page size"
  runtime/gc_base/IndexableObjectAllocationModel.hpp
  runtime/gc_glue_java/ArrayletObjectModelBase.hpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_vlhgc/ConfigurationIncrementalGenerational.cpp
Labels: comp:gc

#8293 Add walkReferenceChain JITServer Support
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/protos/compile.proto
Labels: comp:jitserver

#8340 Disable double mapping when page size exceeds default page size
  runtime/gc_base/IndexableObjectAllocationModel.hpp
  runtime/gc_glue_java/ArrayletObjectModelBase.hpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_vlhgc/ConfigurationIncrementalGenerational.cpp
Labels: comp:gc

#8326 Change double map command line option to fix functional test
  runtime/gc_modron_startup/mmparseXXgc.cpp
Labels: comp:gc

#7479 Enable ExpandInstructionsPhase
  runtime/compiler/codegen/CodeGenPhaseToPerform.hpp
  runtime/compiler/z/codegen/CodeGenPhaseToPerform.hpp
Labels: comp:jit

#8305 AArch64: Add support for jitInduceOSRAtCurrentPC
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
Labels: arch:aarch64, comp:jit

#8342 AArch64: Fix register save order when resolving virtual method
  runtime/compiler/aarch64/runtime/PicBuilder.spp
Labels: arch:aarch64, comp:jit

#8347 Remove preprocessor configuration for JAVA13
  jcl/.classpath
  jcl/jpp_configuration.xml
  jcl/src/com.ibm.jzos/share/classes/com/ibm/jzos/ZFile.java
Labels: comp:build, comp:vm

#8348 Add -Xdump on ClassCastException to osx,xlinux builds
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8200 Upgrade to asm-7.3
  test/functional/Java11andUp/build.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/cmdLineTests/lockWordAlignment/alignmentSettings.mk
Labels: comp:test

#7825 Add String.charAt in list of alwaysWorthInlining list
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit, perf

#7609 Remove the `inlineMathSQRT()` function on X86
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  test/functional/JIT_Test/playlist.xml
  test/functional/JIT_Test/src/jit/test/recognizedMethod/TestJavaLangMath.java
  test/functional/JIT_Test/src/jit/test/recognizedMethod/TestJavaLangStrictMath.java
  test/functional/JIT_Test/testng.xml
Labels: arch:x86, comp:jit, depends:omr

#8363 Update TKG running process
  buildenv/docker/jdk8/s390x/ubuntu16/jitserver/test/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/test/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/test/Dockerfile
  doc/compiler/jitserver/Testing.md
  test/README.md
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#8350 Move double map command line option from -XXgc to -Xgc
  runtime/gc_base/IndexableObjectAllocationModel.hpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_modron_startup/mmparseXgc.cpp
Labels: comp:gc

#8362 Preload property jdk.serialFilter to prevent later modification
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#8334 Avoids the concern about enqueue causing clear to be called
  jcl/src/java.base/share/classes/java/lang/ref/Reference.java
Labels: comp:gc, comp:vm

#8336 Disable fieldwatch remote compilations on Power
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#8327 Check if pointer is in SCC
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/env/J9SharedCache.cpp
Labels: bug, comp:jit, comp:jit:aot

#8372 Ensure the systemProperties is initialized
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: bug, comp:vm, jdk14

#8371 Move setParameterLinkageRegisterIndex from OMR to OpenJ9
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.hpp
Labels: arch:z, comp:jit

#8332 Fix ByteOrder handling in ddr blob parsing
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureHeader.java
Labels: comp:build, comp:vm

#8380 AArch64: undefine J9SW_JIT_FLOATS_PASSED_AS_DOUBLES
  runtime/oti/stackwalk.h
Labels: arch:aarch64

#8022 CMake: Link ddr_misc with -bexpall on aix
  runtime/ddr/CMakeLists.txt
Labels: comp:build

#8379 Misc. compiler runtime cleanup
  runtime/compiler/arm/runtime/MTHelpersARM.cpp
  runtime/compiler/build/files/host/arm.mk
  runtime/compiler/p/runtime/PicBuilder.spp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/runtime/X86PicBuilder.nasm
  runtime/compiler/x/runtime/X86Unresolveds.nasm
  runtime/compiler/z/runtime/PicBuilder.m4
Labels: comp:jit

#8367 Set the AIX data segment resource soft limit to the hard limit
  runtime/vm/jvminit.c
Labels: comp:vm, depends:omr, os:aix

#8307 Add option to disable aliasing of primitive box class final fields
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
Labels: comp:jit

#8364 Avoid control flow for copying heap allocations to temporaries
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/EscapeAnalysis.hpp
Labels: comp:jit, enhancement

#8028 Enable CFG Simplifier
  runtime/compiler/optimizer/J9CFGSimplifier.cpp
Labels: comp:jit, depends:omr, enhancement

#8392 Remove runtest target from test guide
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#8366 Use getScalarField to set TEST_FLAG
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#7893 CMake: fix j9vrb on clang
  runtime/verbose/CMakeLists.txt
Labels: comp:build

#8408 Remove mention of mingw from Windows build instructions
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V13.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#8218 Handle NoRecompilationRecoverableILGenException
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#8407 Add Test subfolder to repo path
  buildenv/jenkins/jobs/infrastructure/artifactory_cleanup.groovy
Labels: comp:build

#8412 Revert "Enable CFG Simplifier"
  runtime/compiler/optimizer/J9CFGSimplifier.cpp
Labels: blocker, bug, comp:jit

#8413 Implement setParameterLinkageRegisterIndex pure virtual function
  runtime/compiler/z/codegen/S390CHelperLinkage.hpp
Labels: arch:z, comp:jit, depends:omr

#8409 Remove init of splitting params
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
Labels: comp:gc

#7475 Recognized fma methods on Power
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  test/functional/Java9andUp/playlist.xml
  test/functional/Java9andUp/src/org/openj9/test/java/lang/Test_Math_Fma.java
  test/functional/Java9andUp/src/org/openj9/test/java/lang/Test_StrictMath_Fma.java
  test/functional/Java9andUp/testng.xml
Labels: comp:jit

#8411 Fix jniGetPrimitiveArrayCritical in the case of empty arraylets
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
Labels: comp:gc

#8333 Moving supportVMInternalNatives from OMR to Openj9
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#8394 AArch64: Add code for compressed refs - awrtbariEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#8416 AArch64: Add code for compressed refs - evaluateNULLCHKWithPossibleResolve
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#8415 AArch64: Add code for compressed refs - ArrayStoreCHKEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#8410 Add missing VarHandle signature restore for JITServer
  runtime/compiler/env/j9methodServer.cpp
Labels: comp:jitserver

#8444 Add the installation of GCC back to JITServer docker file
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/build/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/buildenv/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/buildserver/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/build/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/buildenv/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/buildserver/Dockerfile
  doc/compiler/jitserver/Docker.md
Labels: comp:jitserver

#5985 AArch64: Implement UnresolvedDataSnippet
  runtime/compiler/aarch64/codegen/J9MemoryReference.cpp
  runtime/compiler/aarch64/codegen/J9MemoryReference.hpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
  runtime/compiler/aarch64/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/aarch64/codegen/J9UnresolvedDataSnippet.hpp
  runtime/compiler/aarch64/runtime/PicBuilder.spp
  runtime/compiler/runtime/MethodMetaData.c
  runtime/compiler/runtime/Runtime.cpp
Labels: arch:aarch64, comp:jit

#6147 AArch64: Implement ARM64MonitorEnter/ExitSnippet
  runtime/compiler/aarch64/codegen/J9ARM64Snippet.cpp
  runtime/compiler/aarch64/codegen/J9ARM64Snippet.hpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#7944 AArch64: Implement computed calls
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/runtime/Recompilation.spp
Labels: arch:aarch64, comp:jit

#8426 Enable JIT Server for plinux jdk8 and jdk11
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8439 Add PRINTSTATS_SHOW_STARTUPHINT to PRINTSTATS_SHOW_ALL const
  runtime/shared_common/sharedconsts.h
Labels: comp:vm

#8323 Fix several out-of-range immediates in the Power codegen
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#8405 Grow StringBuffer and StringBuilder aggressively from 1G to 2G
  jcl/src/java.base/share/classes/java/lang/StringBuffer.java
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java8.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/playlist.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/src/TestStringBufferAndBuilderGrowth.java
Labels: comp:vm, depends:doc, jdk8

#8463 Use IOUtils.readFully() to accommodate other lagging JCL levels
  jcl/src/java.base/share/classes/java/lang/invoke/SecurityFrameInjector.java
Labels: comp:vm

#8421 Ability to pass extra labels to test jobs if defined in variable file
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-Any-Platform.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8472 Disable jdk8 special.system on AIX while not enough machines
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:test

#8430 Recognizing Vector Facility Enhancement 1 feature on Z
  runtime/compiler/z/env/J9CPU.cpp
Labels: arch:z, comp:jit, depends:omr

#8277 Retrieve constant dynamic info from the JITClient
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/protos/compile.proto
Labels: comp:jitserver

#8459 Ability to set test param KEEP_REPORTDIR per target
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build
