Repository eclipse-openj9/openj9, pull requests merged in 2020-06, with the labels that each got.

#9748 Remove obsolete 'tenant' references. Cache VMFunctionTable.
  runtime/jcl/common/mgmtthread.c
Labels: comp:vm

#9517 Fix instanceOf's dynamicCache sequence on IBM Z
  runtime/compiler/runtime/codertinit.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#8477 Common getOffsetToFirstParm and mapIncomingParms in the linkage class across codegens
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
  runtime/compiler/arm/codegen/ARMJNILinkage.cpp
  runtime/compiler/arm/codegen/ARMPrivateLinkage.cpp
  runtime/compiler/arm/codegen/ARMPrivateLinkage.hpp
  runtime/compiler/arm/codegen/CallSnippet.cpp
  runtime/compiler/codegen/CMakeLists.txt
  runtime/compiler/codegen/PrivateLinkage.cpp
  runtime/compiler/codegen/PrivateLinkage.hpp
  runtime/compiler/p/codegen/CallSnippet.cpp
  runtime/compiler/p/codegen/PPCJNILinkage.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.hpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.hpp
Labels: comp:jit, depends:omr

#9718 Add function for aborting compilation with bad value type operations
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#9431 Replace CPU APIs on Z
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9CompilerEnv.cpp
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/p/env/J9CPU.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/z/codegen/DFPTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9MemoryReference.cpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/ReduceSynchronizedFieldLoad.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
  runtime/compiler/z/env/J9CPU.cpp
  runtime/compiler/z/env/J9CPU.hpp
Labels: arch:z, comp:jit

#9661 Remove explicit cast
  runtime/gc_trace/TgcParallel.cpp
Labels: comp:gc

#9764 AArch64: Fix a build break with getOffsetToFirstParm()
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#9767 Sampling allocation bytes precisely - step1
  runtime/gc_glue_java/EnvironmentDelegate.hpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#9737 Add trace points for JITServer
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/JITServerPersistentCHTable.cpp
  runtime/compiler/env/j9jit.tdf
  runtime/compiler/runtime/JITClientSession.cpp
Labels: comp:jitserver

#9421 Replace CPU APIs on x86
  runtime/compiler/env/J9CompilerEnv.cpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.hpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/env/J9CPU.cpp
  runtime/compiler/x/env/J9CPU.hpp
Labels: arch:x86, comp:jit

#9746 Throw better error from com.ibm.lang.management.ProcessorUsage
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/ProcessorUsage.java
Labels: comp:vm

#9781 Modify the translated PII files in nls folder - 20200603
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_de.nls
  runtime/nls/j9vm/j9vm_es.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_ja.nls
  runtime/nls/j9vm/j9vm_ko.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/j9vm/j9vm_zh_TW.nls
Labels: comp:vm

#9735 Ensure that J9SH_DESTROY_TOP_LAYER_ONLY is properly defined
  runtime/shared_common/CacheLifecycleManager.hpp
Labels: comp:build, comp:vm

#9783 Revert "Enable CFG simplifier"
  runtime/compiler/optimizer/J9CFGSimplifier.cpp
Labels: comp:jit

#9776 Fix dependencies generated in instanceOf Evaluator
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#9755 AArch64: Stop passing NULL to generateCompareBranchInstruction()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9542 AArch64: Implement read barrier evaluators
  runtime/codert_vm/arm64nathelp.m4
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
  runtime/compiler/runtime/Runtime.cpp
Labels: arch:aarch64, comp:jit

#9715 CMake Stop forcing OMR_SEPARATE_DEBUG_INFO
  runtime/cmake/omr_config.cmake
Labels: comp:build

#9716 Remove unused staccato build flags
  buildspecs/combogc.feature
  buildspecs/j9.flags
Labels: comp:build

#9587 Verify LVTT entries refer to existing variables
  runtime/bcutil/ClassFileOracle.cpp
  runtime/nls/cfre/cfrerr.nls
Labels: comp:vm

#9728 Simplify OSX build instructions
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V14.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#9790 AArch64: Revert the asynccheckEvaluator() change
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9740 AArch64: Enable allocation inlining on AOT
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/env/VMJ9.cpp
Labels: arch:aarch64, comp:jit

#9632 AIX JDK11 System.mapLibraryName() returns libraries with .a suffix
  runtime/jcl/unix/syshelp.c
Labels: comp:vm

#9779 Fix assert on checking obj location reference on KNOT
  runtime/compiler/env/J9KnownObjectTable.cpp
Labels: comp:jitserver

#9763 Update numActiveThreads at the proper location at the server
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/JITServerPersistentCHTable.cpp
Labels: comp:jitserver

#9795 AArch64: Disable inlining of allocation under AOT
  runtime/compiler/env/VMJ9.cpp
Labels: arch:aarch64, comp:jit:aot

#9665 AArch64: Enable concurrent scavenger
  runtime/gc_glue_java/configure_includes/configure_linux_aarch64.mk
  runtime/gc_modron_startup/mminit.cpp
Labels: arch:aarch64, comp:jit

#9777 DTFJ: Add API to query the byte order of an address space
  debugtools/DDR_VM/src/com/ibm/j9ddr/view/dtfj/image/J9DDRImageAddressSpace.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/addressspace/CommonAddressSpace.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/addressspace/IAbstractAddressSpace.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/image/ImageAddressSpace.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/image/j9/ImageAddressSpace.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/image/javacore/JCImageAddressSpace.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/phd/PHDImageAddressSpace.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/FindPtrCommand.java
Labels: comp:vm

#9732 Remove use of J9VM_GC_IDLE_HEAP_MANAGER
  buildspecs/j9.flags
  buildspecs/linux_390-64.spec
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_ppc-64.spec
  buildspecs/linux_ppc-64_cmprssptrs.spec
  buildspecs/linux_ppc-64_cmprssptrs_le.spec
  buildspecs/linux_ppc-64_le.spec
  buildspecs/linux_riscv64.spec
  buildspecs/linux_riscv64_cmprssptrs.spec
  buildspecs/linux_riscv64_cmprssptrs_cross.spec
  buildspecs/linux_riscv64_cross.spec
  buildspecs/linux_x86-64.spec
  buildspecs/linux_x86-64_cmprssptrs.spec
  buildspecs/linux_x86.spec
  buildspecs/osx_x86-64.spec
  buildspecs/osx_x86-64_cmprssptrs.spec
  buildspecs/zos_390-64.spec
  buildspecs/zos_390-64_cmprssptrs.spec
  runtime/cmake/caches/aix_ppc-64.cmake
  runtime/cmake/caches/linux_390-64.cmake
  runtime/cmake/caches/linux_ppc-64_le.cmake
  runtime/cmake/caches/linux_x86-64.cmake
  runtime/cmake/caches/osx_x86-64.cmake
  runtime/cmake/caches/win_x86-64.cmake
  runtime/cmake/options.cmake
  runtime/gc_base/GCExtensions.cpp
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_base/IdleGCManager.cpp
  runtime/gc_base/IdleGCManager.hpp
  runtime/gc_base/modronapi.cpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/include/j9cfg.h.in
Labels: comp:build

#9768 Port cmdLineTester_pltest_j9sig_ext Test
  test/functional/cmdLineTests/pltest/playlist.xml
Labels: comp:test

#9745 Sampling allocation bytes precisely without compromising the performance
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCObjectHeapIteratorAddressOrderedList_V1.java
  runtime/gc_base/modronapi.cpp
  runtime/gc_glue_java/EnvironmentDelegate.cpp
  runtime/gc_glue_java/EnvironmentDelegate.hpp
  runtime/gc_modron_startup/mgcalloc.cpp
  runtime/jvmti/jvmtiCapability.c
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#9791 AArch64: Improve asynccheckEvaluator()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9765 AArch64: Implement Recomp.cpp
  runtime/compiler/aarch64/runtime/Recomp.cpp
  runtime/compiler/runtime/J9Runtime.hpp
Labels: arch:aarch64, comp:jit

#9756 AArch64: Implement functions for sampling recompilation
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
  runtime/compiler/aarch64/codegen/ARM64Recompilation.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.hpp
  runtime/compiler/aarch64/runtime/Recompilation.spp
Labels: arch:aarch64, comp:jit

#9752 Collect stats about sizes of different types of messages sent in JITServer
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/net/CommunicationStream.cpp
  runtime/compiler/net/CommunicationStream.hpp
Labels: comp:jitserver

#9807 Add more wait when checking the thread terminate status
  test/functional/JIT_Test/src/jit/test/jitserver/JITServerTest.java
Labels: comp:jitserver

#9812 Disable jitdump at the server
  runtime/compiler/control/JitDump.cpp
Labels: comp:jitserver

#9803 Fix a couple minor issues with 16-bit immediates on Power
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#9778 AArch64: Remove the call to setAllowRecompilation(false)
  runtime/compiler/control/J9Options.cpp
Labels: arch:aarch64, comp:jit

#9801 Stop requiring GDK_HOME
  runtime/compiler/build/toolcfg/common.mk
Labels: comp:build, comp:jit

#9780 AArch64: Add instructions for enabling CUDA support
  doc/build-instructions/Build_Instructions_V11.md
Labels: arch:aarch64, comp:doc

#9789 Jenkins: adjust test excludes for cmake builds
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#9823 Fix indentation
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#9827 (0.21.0) Revert "Mark VM as exitting earlier"
  runtime/gc_base/FinalizerSupport.cpp
  runtime/vm/jniinv.c
Labels: comp:vm

#9793 AArch64: Enhance VMnewEvaluator to support variable length array allocation
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9830 AArch64: Fix VMnewEvaluator to patch correct instruction under AOT
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/env/VMJ9.cpp
Labels: arch:aarch64, comp:jit:aot

#9727 Archive openj9-docs if ARCHIVE_JAVADOC is set
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#9836 CMake: cleanup cache files
  runtime/cmake/caches/linux_390-64.cmake
  runtime/cmake/caches/linux_ppc-64_le.cmake
  runtime/cmake/caches/linux_x86-64.cmake
  runtime/cmake/caches/win_x86-64.cmake
Labels: comp:build

#9828 Disable testJITServer for XL builds
  test/functional/JIT_Test/playlist.xml
Labels: comp:jitserver, comp:test

#9826 Store OMRProcessorDesc in AOT Header
  runtime/compiler/aarch64/env/J9CPU.cpp
  runtime/compiler/aarch64/env/J9CPU.hpp
  runtime/compiler/arm/env/J9CPU.cpp
  runtime/compiler/arm/env/J9CPU.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9CPU.hpp
  runtime/compiler/p/env/J9CPU.cpp
  runtime/compiler/p/env/J9CPU.hpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/x/env/J9CPU.cpp
  runtime/compiler/x/env/J9CPU.hpp
  runtime/compiler/z/env/J9CPU.cpp
  runtime/compiler/z/env/J9CPU.hpp
Labels: comp:jit:aot

#9850 (0.21.0) DDR Back compatible for TLH enable/disable change
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCHeapRegionDescriptor_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCObjectHeapIteratorAddressOrderedList_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCObjectHeapIteratorAddressOrderedList_V2.java
  runtime/ddr/algorithm_versions.c
Labels: comp:gc

#9848 Add NON-NLS to GetMethodTests.java
  test/functional/Java8andUp/src/org/openj9/test/reflect/GetMethodTests.java
Labels: comp:test

#9847 Add code for AArch64 in getJitRecompilationResolvePushes()
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/MethodMetaData.java
  runtime/compiler/runtime/MethodMetaData.c
Labels: arch:aarch64, comp:jit

#9831 (0.21.0) AArch64: Enhance VMnewEvaluator to support variable length array allocation
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9837 Disable cpu asserts for JITServer
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/env/J9CPU.cpp
  runtime/compiler/x/env/J9CPU.hpp
  runtime/compiler/z/env/J9CPU.cpp
  runtime/compiler/z/env/J9CPU.hpp
Labels: comp:jitserver

#9863 Add jdk15 to pipelines
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#8922 Refactor JIT implementation of acmp{eq,ne} to handle value types
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit, project:valhalla

#9802 Map symrefs in OSR liveness to those in current trees in creating calls to eaEscapeHelper
  runtime/compiler/optimizer/EscapeAnalysisTools.cpp
  runtime/compiler/optimizer/EscapeAnalysisTools.hpp
  runtime/compiler/optimizer/PreEscapeAnalysis.cpp
Labels: bug, comp:jit, enhancement

#9720 Add Calling conventions Doc
  doc/diagnostics/CallingConventions.md
Labels: arch:power, arch:x86, arch:z, comp:doc, comp:jit, depends:omr

#9858 (0.21.0) Disable cpu assert tests for JITServer and store OMRProcessorDesc in SCC
  runtime/compiler/aarch64/env/J9CPU.cpp
  runtime/compiler/aarch64/env/J9CPU.hpp
  runtime/compiler/arm/env/J9CPU.cpp
  runtime/compiler/arm/env/J9CPU.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9CPU.hpp
  runtime/compiler/p/env/J9CPU.cpp
  runtime/compiler/p/env/J9CPU.hpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/env/J9CPU.cpp
  runtime/compiler/x/env/J9CPU.hpp
  runtime/compiler/z/env/J9CPU.cpp
  runtime/compiler/z/env/J9CPU.hpp
Labels: comp:jitserver

#9867 Allow System.exit from finalizer during DestroyJavaVM
  runtime/vm/jniinv.c
  runtime/vm/jvminit.c
Labels: comp:vm

#9861 (0.21.0) AArch64: Fix VMnewEvaluator to patch correct instruction under AOT
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/env/VMJ9.cpp
Labels: arch:aarch64, comp:jit:aot

#9811 Minimize contention between "finders" using SCC JCL helper
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassTokenHelperImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassURLClasspathHelperImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassURLHelperImpl.java
  runtime/jcl/common/shared.c
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/shared_common/ClasspathManagerImpl2.cpp
  runtime/shared_common/hookhelpers.cpp
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/shrinit.cpp
  runtime/tests/shared/CorruptCacheTest.cpp
  runtime/vm/classsupport.c
Labels: comp:vm

#9883 Add JDK15 JVMTI Version
  runtime/include/jvmti.h.m4
  runtime/jvmti/jvmtiGeneral.c
  runtime/jvmti/jvmtiHook.c
  runtime/tests/jvmtitests/agent/version.c
Labels: comp:vm

#9814 Only add `/usr/lib` to AIX LIBPATH if not already there
  runtime/j9vm/jvm.c
Labels: comp:vm

#9840 Don't acquire exclusive vm access with waiting xdump
  runtime/rasdump/trigger.c
Labels: comp:vm

#9128 Special handling of checkcast to value type class
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit, project:valhalla

#9882 AArch64: Move J9-specific recompilation code from OMR
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64Recompilation.cpp
Labels: arch:aarch64, comp:jit

#5951 Remove old instanceof and checkcast evaluators
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#9891 Add missing END NON-TRANSLATABLE in j9shr.nls
  runtime/nls/shrc/j9shr.nls
Labels: comp:vm

#9885 Close timing hole in System.exit
  runtime/vm/jvminit.c
Labels: comp:vm

#9842 Rename S390JNICallDataSnippet2 to S390JNICallDataSnippet
  runtime/compiler/z/codegen/J9SystemLinkageLinux.cpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.hpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.hpp
Labels: arch:z, comp:jit

#9903 (0.21) System.exit/DestroyJavaVM fixes
  runtime/gc_base/FinalizerSupport.cpp
  runtime/vm/jniinv.c
  runtime/vm/jvminit.c
Labels: comp:vm

#9373 Remove discontiguous arraylet NULL pointers
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_glue_java/ArrayletObjectModelBase.hpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
Labels: comp:gc

#9734 Create query to determine the SCC mode
  runtime/oti/j9nonbuilder.h
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
Labels: comp:vm

#9705 Pass Reference repo to get_source.sh
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#9904 Retrieve info from the client in isClassRefValueType
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
Labels: comp:jitserver

#9862 Fix NULL handling in j9jit_testarossa_err()
  runtime/compiler/control/rossa.cpp
Labels: comp:jit

#9845 Ensure enough space is allocated for the unique cache id
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/OSCache.cpp
Labels: comp:vm

#9888 Pipeline script for Build_JDK_Timeout_Handler job
  buildenv/jenkins/jobs/infrastructure/buildJDKTimeoutHandler.groovy
Labels: comp:build

#9613 Fixed imm value for addis and lis
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
Labels: arch:power, comp:jit

#9913 [Reapply] Pass Reference repo to get_source.sh
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#9878 Add 32-bit Arm and AArch64 to CallingConventions.md
  doc/diagnostics/CallingConventions.md
Labels: arch:aarch32, arch:aarch64, comp:doc, comp:jit

#9915 Improve Test_Thread.test_join3() failure diagnostics
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Thread.java
Labels: comp:test

#9916 Jenkins: Add a number of cmake/uma builds
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#9905 Add JDK15 JVMTI Version
  runtime/include/jvmti.h.m4
  runtime/jvmti/jvmtiGeneral.c
  runtime/jvmti/jvmtiHook.c
  runtime/tests/jvmtitests/agent/version.c
Labels: comp:vm

#9917 Clone the StackTraceElement[] before validating it
  jcl/src/java.base/share/classes/java/lang/Throwable.java
Labels: comp:vm

#9919 (0.21.0) Clone the StackTraceElement[] before validating it
  jcl/src/java.base/share/classes/java/lang/Throwable.java
Labels: comp:vm

#9922 Modify the translated PII files in nls folder - 20200618
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_cs.nls
  runtime/nls/cfre/cfrerr_de.nls
  runtime/nls/cfre/cfrerr_es.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_hu.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_ja.nls
  runtime/nls/cfre/cfrerr_ko.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_ru.nls
  runtime/nls/cfre/cfrerr_sk.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/cfre/cfrerr_zh_TW.nls
  runtime/nls/dump/j9dmp_cs.nls
  runtime/nls/dump/j9dmp_it.nls
  runtime/nls/exel/exelib_ja.nls
  runtime/nls/exel/exelib_pt_BR.nls
  runtime/nls/exel/exelib_zh.nls
  runtime/nls/exel/exelib_zh_CN.nls
  runtime/nls/exel/exelib_zh_TW.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_es.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/jitm/j9jit_ca.nls
  runtime/nls/jitm/j9jit_es.nls
  runtime/nls/jitm/j9jit_fr.nls
  runtime/nls/jitm/j9jit_ru.nls
  runtime/nls/jitm/j9jit_tr.nls
  runtime/nls/jitm/j9jit_zh_TW.nls
  runtime/nls/shrc/j9shr_ca.nls
  runtime/nls/shrc/j9shr_cs.nls
  runtime/nls/shrc/j9shr_de.nls
  runtime/nls/shrc/j9shr_es.nls
  runtime/nls/shrc/j9shr_fr.nls
  runtime/nls/shrc/j9shr_hu.nls
  runtime/nls/shrc/j9shr_it.nls
  runtime/nls/shrc/j9shr_ja.nls
  runtime/nls/shrc/j9shr_ko.nls
  runtime/nls/shrc/j9shr_pl.nls
  runtime/nls/shrc/j9shr_pt_BR.nls
  runtime/nls/shrc/j9shr_ru.nls
  runtime/nls/shrc/j9shr_sk.nls
  runtime/nls/shrc/j9shr_sl.nls
  runtime/nls/shrc/j9shr_tr.nls
  runtime/nls/shrc/j9shr_zh.nls
  runtime/nls/shrc/j9shr_zh_CN.nls
  runtime/nls/shrc/j9shr_zh_TW.nls
Labels: comp:vm

#9918 Assign getStackTrace result to a local variable to avoid refetching
  jcl/src/java.base/share/classes/java/lang/Throwable.java
Labels: comp:vm

#9870 Modified printJITServerMsgStats to print at shutdown on server
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/control/JitDump.cpp
Labels: comp:jitserver

#9927 (0.21.0) Assign getStackTrace result to a local variable to avoid refetching
  jcl/src/java.base/share/classes/java/lang/Throwable.java
Labels: comp:vm

#9926 (0.21.0) Modify the translated PII files in nls folder - 20200618
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_cs.nls
  runtime/nls/cfre/cfrerr_de.nls
  runtime/nls/cfre/cfrerr_es.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_hu.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_ja.nls
  runtime/nls/cfre/cfrerr_ko.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_ru.nls
  runtime/nls/cfre/cfrerr_sk.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/cfre/cfrerr_zh_TW.nls
  runtime/nls/dump/j9dmp_cs.nls
  runtime/nls/dump/j9dmp_it.nls
  runtime/nls/exel/exelib_ja.nls
  runtime/nls/exel/exelib_pt_BR.nls
  runtime/nls/exel/exelib_zh.nls
  runtime/nls/exel/exelib_zh_CN.nls
  runtime/nls/exel/exelib_zh_TW.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_es.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/jitm/j9jit_ca.nls
  runtime/nls/jitm/j9jit_es.nls
  runtime/nls/jitm/j9jit_fr.nls
  runtime/nls/jitm/j9jit_ru.nls
  runtime/nls/jitm/j9jit_tr.nls
  runtime/nls/jitm/j9jit_zh_TW.nls
  runtime/nls/shrc/j9shr.nls
  runtime/nls/shrc/j9shr_ca.nls
  runtime/nls/shrc/j9shr_cs.nls
  runtime/nls/shrc/j9shr_de.nls
  runtime/nls/shrc/j9shr_es.nls
  runtime/nls/shrc/j9shr_fr.nls
  runtime/nls/shrc/j9shr_hu.nls
  runtime/nls/shrc/j9shr_it.nls
  runtime/nls/shrc/j9shr_ja.nls
  runtime/nls/shrc/j9shr_ko.nls
  runtime/nls/shrc/j9shr_pl.nls
  runtime/nls/shrc/j9shr_pt_BR.nls
  runtime/nls/shrc/j9shr_ru.nls
  runtime/nls/shrc/j9shr_sk.nls
  runtime/nls/shrc/j9shr_sl.nls
  runtime/nls/shrc/j9shr_tr.nls
  runtime/nls/shrc/j9shr_zh.nls
  runtime/nls/shrc/j9shr_zh_CN.nls
  runtime/nls/shrc/j9shr_zh_TW.nls
Labels: comp:vm

#9914 Add wrtbar for UnsafeFastPath static field writes
  runtime/compiler/optimizer/UnsafeFastPath.cpp
Labels: comp:jit

#9937 Port: silence warning about ignored return value
  runtime/port/module.xml
  runtime/port/unix/j9process.c
Labels: comp:build

#9932 Update mkdocker.sh: include jdk15 in git cache
  buildenv/docker/mkdocker.sh
Labels: comp:build

#9941 Re-Fetch patcharray after entering VM
  runtime/jcl/common/sun_misc_Unsafe.cpp
Labels: comp:vm

#9899 [Test] Disable the timeout setting on RISC-V
  test/functional/cmdline_options_tester/src/Test.java
  test/functional/cmdline_options_tester/src/TestConfigParser.java
Labels: comp:test

#9943 (0.21.0) Re-Fetch patch array after entering VM
  runtime/jcl/common/sun_misc_Unsafe.cpp
Labels: comp:vm

#9936 jilgen: wrap declaration of writeMacros in an ifdef
  runtime/jilgen/jilconsts.c
Labels: comp:vm

#9419 Add the check of BCV_SPECIAL in generating stackmaps
  runtime/bcverify/bcverify.c
  runtime/bcverify/j9bcverify.tdf
  runtime/bcverify/rtverify.c
Labels: comp:vm

#9872 Avoid gpProtect path when -Xrs is set
  runtime/vm/jnicsup.cpp
Labels: comp:vm

#9948 (0.21.0) Fixed imm value for addis and lis
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
Labels: arch:power, comp:jit

#9934 Improve Test_Thread failure diagnostics
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Thread.java
Labels: comp:test

#9952 Adopt new DDR tool terminology
  runtime/CMakeLists.txt
  runtime/ddr/excludes
  runtime/ddr/run_omrddrgen.mk.ftl
Labels: comp:vm

#9954 (0.21.0) Immediate field handling cleanup on Power
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/p/codegen/J9PPCSnippet.cpp
  runtime/compiler/p/codegen/PPCJNILinkage.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
  runtime/compiler/p/codegen/PPCRecompilation.cpp
Labels: arch:power, comp:jit

#9951 (0.21.0) Add the check of BCV_SPECIAL in generating stackmaps
  runtime/bcverify/bcverify.c
  runtime/bcverify/j9bcverify.tdf
  runtime/bcverify/rtverify.c
Labels: comp:vm

#9706 Add OpenJ9 & OMR to Reference Repo
  buildenv/jenkins/jobs/infrastructure/Update-Reference-Repos.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#9935 CMake: update handling of _FORTIFY_SOURCE
  runtime/cmake/platform/toolcfg/gnu.cmake
  runtime/ddr/CMakeLists.txt
Labels: comp:build

#9957 Add configuration for Java 16
  jcl/jpp_configuration.xml
Labels: comp:build

#9953 AArch64: Set link register killed when ARM64HelperCallSnippet is used
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9947 Disable vectorization of induction variable
  runtime/compiler/optimizer/SPMDParallelizer.cpp
Labels: comp:jit

#9968 (0.21.0) AArch64: Set link register killed when ARM64HelperCallSnippet is used
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9958 (0.21.0) Disable vectorization of induction variable
  runtime/compiler/optimizer/SPMDParallelizer.cpp
Labels: comp:jit

#9966 AArch64: Change a call to decReferenceCount()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9908 Add Unit test for SIMD Optimization
  test/functional/JIT_Test/playlist.xml
  test/functional/JIT_Test/src/jit/test/tr/SIMDOpts/SIMDOptTest.java
  test/functional/JIT_Test/testng.xml
Labels: comp:test

#9956 Fix access to J9ModronThreadLocalHeap.realHeapAlloc in older core files
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ConstantHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCObjectHeapIteratorAddressOrderedList_V1.java
Labels: comp:gc

#9959 (0.21.0) Fix access to J9ModronThreadLocalHeap.realHeapAlloc in older core files
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ConstantHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCObjectHeapIteratorAddressOrderedList_V1.java
Labels: comp:gc

#9976 Port: silence warning about ignored return value
  runtime/port/module.xml
  runtime/port/unix/j9process.c
Labels: comp:vm

#9973 Do not enter class segment mutex inside read mutex
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/shared_common/CompositeCache.cpp
Labels: comp:vm

#9970 Break connection to JITServer on exceptions
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#9945 Fix warnings building on osx
  runtime/compiler/codegen/CodeGenGC.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit

#9980 (v0.21.0) Process the whole LIBPATH looking for '/usr/lib'.
  runtime/j9vm/jvm.c
Labels: comp:vm

#9986 Break connection to JITServer on exceptions (0.21.0)
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#9902 Improve group caching of resolved methods
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jitserver

#9989 Use the latest available ASM version
  jcl/src/openj9.dtfj/share/classes/com/ibm/java/diagnostics/utils/plugins/impl/ClassScanner.java
Labels: comp:vm

#9991 (0.21.0) Use the latest available ASM version
  jcl/src/openj9.dtfj/share/classes/com/ibm/java/diagnostics/utils/plugins/impl/ClassScanner.java
Labels: comp:vm

#9988 Add a private flag to indicate a thread is in SCC read mutex
  runtime/oti/j9consts.h
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/CompositeCacheImpl.hpp
Labels: comp:vm

#9865 Support JEP383 (Part 2) and CDS natives
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/invoke/DirectMethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/InfoFromMemberName.java
  jcl/src/java.base/share/classes/java/lang/invoke/MemberName.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleNatives.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/java11vmi.c
  runtime/redirector/forwarders.m4
Labels: comp:vm

#9992 Fix J9BuildFlags aliases
  debugtools/DDR_VM/src/com/ibm/j9ddr/BytecodeGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ConfigFlags.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITRegMap.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITStackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/MethodMetaData.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalkerUtils.java
Labels: comp:vm

#9923 AArch64: Move call to setNeedsAOTRelocation() to constructor in OMR
  runtime/compiler/aarch64/codegen/ARM64Recompilation.cpp
Labels: arch:aarch64, comp:jit:aot

#9910 (0.21.0) AArch64: Add code in getJitRecompilationResolvePushes()
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/MethodMetaData.java
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64Recompilation.cpp
  runtime/compiler/runtime/MethodMetaData.c
Labels: arch:aarch64, comp:jit

#9994 Use _NSGetEnviron() on OSX to retrieve environ
  runtime/vm/rasdump.c
Labels: comp:vm

#9995 Use TR_ExternalRelocationTargetKind enum for relocation kinds
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/amd64/codegen/AMD64JNILinkage.cpp
  runtime/compiler/x/i386/codegen/IA32JNILinkage.cpp
  runtime/compiler/z/codegen/J9SystemLinkageLinux.cpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.cpp
  runtime/compiler/z/codegen/S390AOTRelocation.hpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jit

#10000 Add support for Java 16
  runtime/bcutil/defineclass.c
  runtime/oti/j2sever.h
  runtime/oti/j9nonbuilder.h
Labels: comp:vm, jdk16

#9984 Properly handle runtime assumptions in S390J9CallDataSnippet
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: arch:z, comp:jitserver

#10005 Add explicit type parameters for Java 8
  debugtools/DDR_VM/src/com/ibm/j9ddr/BytecodeGenerator.java
Labels: comp:vm

#10007 Reduce limits for keeping artifacts and logs
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#10011 (0.21.0) AArch64: Remove the call to setAllowRecompilation(false)
  runtime/compiler/control/J9Options.cpp
Labels: arch:aarch64, comp:jit

#10013 (0.21.0) Fix NULL handling in j9jit_testarossa_err()
  runtime/compiler/control/rossa.cpp
Labels: comp:jit

#9977 Add overview doc for AOT
  doc/compiler/aot/README.md
Labels: comp:doc, comp:jit, comp:jit:aot

#10014 Use TraceException rather than TraceEvent for failure conditions
  runtime/vm/j9vm.tdf
Labels: comp:vm

#9391 Update verbose log write API calls to use new newline convention
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/net/Message.cpp
  runtime/compiler/runtime/CRuntimeImpl.cpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/DataCache.cpp
  runtime/compiler/runtime/GPUHelpers.cpp
  runtime/compiler/runtime/HookHelpers.cpp
  runtime/compiler/runtime/JitRuntime.cpp
Labels: comp:jit, depends:omr:breaking

#10015 CMake: add jit defines for arm / aarch64
  runtime/cmake/compiler_config.cmake
Labels: comp:build, comp:jit

#10018 Update aarch64 TreeEvaluatorTable to use Omr extensible header
  runtime/compiler/aarch64/codegen/TreeEvaluatorTable.hpp
Labels: arch:aarch64, comp:jit

#9859 Read message in buffer capacity first
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/net/CommunicationStream.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/Message.hpp
  runtime/compiler/net/MessageBuffer.cpp
  runtime/compiler/net/MessageBuffer.hpp
Labels: comp:jitserver

#10001 (0.21.0) Fix J9BuildFlags aliases
  debugtools/DDR_VM/src/com/ibm/j9ddr/BytecodeGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ConfigFlags.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITRegMap.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITStackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/MethodMetaData.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalkerUtils.java
Labels: comp:vm

#9983 Delete dead code for a no longer applicable compiler bug
  runtime/shared_common/shrinit.cpp
Labels: comp:vm

#10020 CMake: add arm/aarch64 support to codert_vm
  runtime/codert_vm/CMakeLists.txt
Labels: comp:build
