Repository eclipse-openj9/openj9, pull requests merged in 2020-05, with the labels that each got.

#9415 Cache illegal final field modification at the server
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#9422 Use jdk14 to build jdk14
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#9418 Abort AOT when symbol owning method is not inlined
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/exceptions/AOTFailure.hpp
Labels: bug, comp:jit, comp:jit:aot

#9404 Fix exception catch at synthetic handler
  runtime/codert_vm/cnathelp.cpp
Labels: comp:jit, comp:vm

#5568 Add IBM i specific changes for POWER9 support and disable getsystemcf…
  runtime/port/unix/j9sysinfo.c
Labels: comp:vm

#9388 Update PARALLEL param for test builds
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#9407 Add Mode110 and Mode610 to native tests
  test/functional/Java8andUp/playlist.xml
  test/functional/NativeTest/playlist.xml
  test/functional/SharedCPEntryInvokerTests/playlist.xml
  test/functional/cmdLineTests/lazyClassLoadingTest/playlist.xml
Labels: comp:test

#9387 Improve jitdump diagnostic messages and function names
  runtime/compiler/control/JitDump.cpp
  runtime/compiler/control/JitDump.hpp
  runtime/compiler/control/rossa.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9protos.h
  runtime/rasdump/dmpagent.c
Labels: comp:jit

#9409 Add --with-boot-jdk and other improvements to Linux build instructions
  buildenv/docker/mkdocker.sh
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V14.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#8615 Improve performance of iterateStackTrace
  runtime/j9vm/j7vmi.c
  runtime/jcl/common/jclexception.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/rasdump/javadump.cpp
  runtime/rasdump/trigger.c
  runtime/shared_common/include/SCQueryFunctions.h
  runtime/vm/exceptiondescribe.c
Labels: comp:vm, perf

#9423 Enable gcc toolchain on Linux PPC LE platforms
  buildspecs/linux_ppc-64_cmprssptrs_le.spec
  buildspecs/linux_ppc-64_cmprssptrs_le_gcc.spec
  buildspecs/linux_ppc-64_le.spec
  buildspecs/linux_ppc-64_le_gcc.spec
  debugtools/DDR_VM/generate.properties
  runtime/cmake/caches/linux_ppc-64_cmprssptrs_le.cmake
  runtime/cmake/caches/linux_ppc-64_le.cmake
  runtime/ddr/module.xml
  runtime/gc_glue_java/configure_includes/configure_linux_ppc.mk
  runtime/tests/redirector/jep178/module.xml
Labels: comp:build, depends:openjdk, depends:openjdk11, depends:openjdk14, depends:openjdk8

#9449 CMake: Don't link jsig against omrsig
  runtime/jsigWrapper/CMakeLists.txt
Labels: cmake

#9454 Fix build instructions docker --with-boot-jdk= paths
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V14.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#9451 CMake: Fix missing exports in jniargtests
  runtime/tests/jniarg/exports.cmake
Labels: cmake

#9450 CMake add missing exports for JVMTI Exception event test
  runtime/tests/jvmtitests/exports.cmake
Labels: cmake

#9473 Suppress warnings about trailing digit in 'openj9' module names
  jcl/src/openj9.cuda/share/classes/module-info.java
  jcl/src/openj9.dataaccess/share/classes/module-info.java
  jcl/src/openj9.dtfj/share/classes/module-info.java
  jcl/src/openj9.dtfjview/share/classes/module-info.java
  jcl/src/openj9.gpu/share/classes/module-info.java
  jcl/src/openj9.jvm/share/classes/module-info.java
  jcl/src/openj9.sharedclasses/share/classes/module-info.java
  jcl/src/openj9.traceformat/share/classes/module-info.java
  jcl/src/openj9.zosconditionhandling/share/classes/module-info.java
Labels: comp:build, comp:vm

#9466 Enable UNB Artifactory again
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#9467 Consolidate AOT Relocation Records
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot

#9471 Implement JVM_GetRandomSeedForCDSDump
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/java11vmi.c
  runtime/j9vm/module.xml
  runtime/redirector/forwarders.m4
  runtime/redirector/module.xml
Labels: comp:vm, jdk15

#7901 Provide PrivateLinkage implementations for method entry inquiries
  runtime/compiler/build/files/common.mk
  runtime/compiler/codegen/CMakeLists.txt
  runtime/compiler/codegen/PrivateLinkage.cpp
  runtime/compiler/codegen/PrivateLinkage.hpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.hpp
Labels: comp:jit

#9488 Remove extraneous entryPointFromInterpretedMethod for PrivateLinkage
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.hpp
Labels: bug, comp:jit

#9468 AArch64: Fix loadStackParametersToLinkageRegisters
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#9469 AArch64: Move copyParametersToHomeLocation to OMRLinkage
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#9341 Java 14: track interrupt state when thread is dead
  jcl/src/java.base/share/classes/java/lang/Thread.java
  runtime/oti/vmconstantpool.xml
  runtime/vm/vmthread.c
  test/functional/Java14andUp/playlist.xml
  test/functional/Java14andUp/src/org/openj9/test/java/lang/Test_Thread.java
  test/functional/Java14andUp/testng.xml
Labels: comp:test, comp:vm, jdk14

#9489 AIX JDK8 System.mapLibraryNamepublic() returns libraries with .a suffix
  runtime/jcl/unix/syshelp.c
Labels: comp:vm

#9487 Build instructions boot jdk updates
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V14.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#9470 Disable GCR for hot compilations
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#9403 Cache result of class chain validation
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
Labels: comp:jit, comp:jit:aot, depends:omr

#9483 Add an option to disable the JITServer warning message
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#9504 Fix testSCCacheManagement failure on zos
  test/functional/CacheManagement/src/tests/sharedclasses/options/TestSharedCacheJvmtiAPI.java
Labels: comp:test

#9505 Absorb generateShiftAndKeepSelected64Bit changes from OMR
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#9512 Add xlinuxxlcm, osxxlcm spec and exclude some xlinux cm tests, and enable all releases for all cm and jit specs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#9498 Jenkins: Enable testing on osx cmake builds
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#9511 Updated misspelling of recogniedMethod
  runtime/compiler/optimizer/StringBuilderTransformer.cpp
Labels: comp:jit

#9480 Handle OSR from inlined synchronized method
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/MethodMetaData.c
  runtime/compiler/runtime/Runtime.cpp
  runtime/oti/j9nonbuilder.h
Labels: bug, comp:jit

#9477 Consolidate all trace CG options
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
Labels: comp:jit, depends:omr

#9447 Leverage CHTable at the server to check if a class is extended
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/JITServerPersistentCHTable.cpp
  runtime/compiler/env/JITServerPersistentCHTable.hpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
Labels: comp:jitserver

#9523 Removing Global GC specific method from base Collector class
  runtime/gc_glue_java/ScavengerDelegate.cpp
Labels: comp:gc

#9531 Consolidate all trace CG options
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
Labels: comp:jit, depends:omr

#9472 AArch64: Enable Linkage Register Allocation
  runtime/compiler/control/J9Options.cpp
Labels: arch:aarch64, comp:jit

#9463 Add decompilation test
  runtime/tests/jvmtitests/agent/tests.c
  runtime/tests/jvmtitests/exports.cmake
  runtime/tests/jvmtitests/include/jvmti_test.h
  runtime/tests/jvmtitests/module.xml
  runtime/tests/jvmtitests/src/CMakeLists.txt
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/decompResolveFrame/decomp003.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/decompResolveFrame/decomp005.c
  test/functional/cmdLineTests/jvmtitests/decompilationtests.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/decompResolveFrame/decomp005.java
Labels: comp:test

#9411 Change to postconditions only for ICF end labels
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#9525 Don't remember historical thread names by default
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/trace/format/api/TraceContext.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/traceformat/TraceFormat.java
Labels: comp:vm

#9552 Fix for Z 31-bit decompile issue
  runtime/codert_vm/cnathelp.cpp
Labels: comp:jit, comp:vm

#9461 Update JITServer documentation
  doc/compiler/jitserver/Build.md
  doc/compiler/jitserver/Protobuf.md
  doc/compiler/jitserver/Testing.md
  doc/compiler/jitserver/Usage.md
Labels: comp:jitserver

#9507 Java 14+: class transformation with records
  runtime/include/jvmti.h.m4
  runtime/jvmti/jvmtiGeneral.c
  runtime/util/hshelp.c
Labels: comp:vm, jdk14, jdk15

#9548 Remove the dead PPCHeapAllocSnippet class
  runtime/compiler/p/codegen/J9PPCSnippet.cpp
  runtime/compiler/p/codegen/J9PPCSnippet.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#9551 Add -Xnocompressedrefs for Mode107-OSRG and Mode110-OSRG
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:test

#8495 JEP358 extended NPE message part 1 - result of this NPE
  runtime/CMakeLists.txt
  runtime/bcverify/bcvcfr.h
  runtime/j9vm/j7vmi.c
  runtime/j9vm/j9scar.tdf
  runtime/j9vm/javanextvmi.c
  runtime/jcl/common/jclexception.c
  runtime/oti/cfreader.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/rasdump/javadump.cpp
  runtime/rasdump/trigger.c
  runtime/stackmap/debuglocalmap.c
  runtime/stackmap/fixreturns.c
  runtime/stackmap/localmap.c
  runtime/stackmap/stackmap.c
  runtime/vm/CMakeLists.txt
  runtime/vm/exceptiondescribe.c
  runtime/vm/extendedMessageNPE.cpp
  runtime/vm/intfunc.c
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
Labels: comp:vm, jdk14

#9563 Fix the wrong message type enum number in the comment
  runtime/compiler/net/MessageTypes.hpp
Labels: comp:jitserver

#9559 Add class unloading assumption for inline methods in metadata
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
Labels: comp:jitserver

#9541 AArch64: Add gpu feature in build spec files
  buildspecs/linux_aarch64.spec
  buildspecs/linux_aarch64_cmprssptrs.spec
  buildspecs/linux_aarch64_cmprssptrs_cross.spec
  buildspecs/linux_aarch64_cross.spec
Labels: arch:aarch64

#9234 Enable DDR SharedClasses test for AArch64 again
  test/functional/DDR_Test/playlist.xml
Labels: arch:aarch64, comp:test

#9580 Enable DDR for cmake builds of jdk14/next
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#9555 Only specify base address for 32-bit JIT dll
  runtime/compiler/build/rules/win-msvc/common.mk
  runtime/compiler/build/toolcfg/win-msvc/common.mk
Labels: comp:build, comp:jit

#9503 Remove obsolete support for -Duse.legacy.version
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#9577 Run ref repo updater on test only nodes
  buildenv/jenkins/jobs/infrastructure/Update-Reference-Repos.groovy
Labels: comp:build

#9588 Swap NoClassDefFoundError message class name order
  runtime/bcutil/ROMClassCreationContext.hpp
Labels: comp:vm, depends:doc

#9602 Modify the translated PII files in nls folder - 20200518
  runtime/nls/jitm/j9jit_ca.nls
  runtime/nls/jitm/j9jit_cs.nls
  runtime/nls/jitm/j9jit_de.nls
  runtime/nls/jitm/j9jit_es.nls
  runtime/nls/jitm/j9jit_fr.nls
  runtime/nls/jitm/j9jit_hu.nls
  runtime/nls/jitm/j9jit_it.nls
  runtime/nls/jitm/j9jit_ja.nls
  runtime/nls/jitm/j9jit_ko.nls
  runtime/nls/jitm/j9jit_pl.nls
  runtime/nls/jitm/j9jit_pt_BR.nls
  runtime/nls/jitm/j9jit_ru.nls
  runtime/nls/jitm/j9jit_sk.nls
  runtime/nls/jitm/j9jit_sl.nls
  runtime/nls/jitm/j9jit_tr.nls
  runtime/nls/jitm/j9jit_zh.nls
  runtime/nls/jitm/j9jit_zh_CN.nls
  runtime/nls/jitm/j9jit_zh_TW.nls
Labels: comp:jit

#9564 Convert long to float on Windows-32 bit
  runtime/util/fltconv.c
Labels: comp:vm

#9583 Fix warning in jvmti agent test
  runtime/cmake/platform/toolcfg/msvc.cmake
  runtime/makelib/targets.mk.win.inc.ftl
  runtime/tests/jvmtitests/agent/error.c
  runtime/tests/jvmtitests/agent/module.xml
Labels: comp:test

#9556 Update JITServer heuristics
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
  runtime/compiler/env/CpuUtilization.cpp
  runtime/compiler/env/CpuUtilization.hpp
Labels: comp:jitserver

#9592 Activate compilation threads more aggressively for JITClient
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#9562 Remove unwanted jvmti error code for Java 8
  runtime/include/jvmti.h.m4
Labels: comp:vm

#9606 AArch64: Add HeapAllocSnippet
  runtime/compiler/aarch64/codegen/J9ARM64Snippet.cpp
  runtime/compiler/aarch64/codegen/J9ARM64Snippet.hpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9565 cmdLineTest_J9tests cleanup
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java8.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java9.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java_common.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/playlist.xml
Labels: comp:test

#9598 AArch64: Use stp instruction to clear collectable locals in createPrologue()
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#9557 Change the style of jilconsts.inc for AArch64 Linux
  runtime/jilgen/jilconsts.c
Labels: arch:aarch64

#9604 Reduce the scratch segment cache in JITClient from 16MB to 2MB
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#9607 AArch64: Implement genHeapAlloc for VMnewEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9608 AArch64: Implement genZeroInitObject for VMnewEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9624 Remove J9VM_OPT_VALHALLA_NESTMATES
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ClassFileWriter.cpp
  runtime/bcutil/ConstantPoolMap.hpp
  runtime/bcutil/ROMClassWriter.cpp
  runtime/bcutil/ROMClassWriter.hpp
  runtime/bcutil/cfreader.c
  runtime/cfdumper/main.c
  runtime/cmake/options.cmake
  runtime/codert_vm/cnathelp.cpp
  runtime/include/j9cfg.h.ftl
  runtime/include/j9cfg.h.in
  runtime/j9vm/java11vmi.c
  runtime/jcl/common/java_lang_Class.cpp
  runtime/jvmti/jvmtiClass.c
  runtime/oti/cfr.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/util_api.h
  runtime/oti/vm_api.h
  runtime/shared_common/CacheMap.cpp
  runtime/util/hshelp.c
  runtime/util/rcdump.c
  runtime/util/romclasswalk.c
  runtime/vm/intfunc.c
  runtime/vm/lookupmethod.c
  runtime/vm/visible.c
Labels: comp:vm

#9581 Fail the build if j9ddr.jar is missing
  test/functional/DDR_Test/build.xml
Labels: comp:test

#9630 Mark VM as exitting earlier
  runtime/gc_base/FinalizerSupport.cpp
  runtime/vm/jniinv.c
Labels: comp:vm

#9638 CMake: Add arm support for libffi
  runtime/libffi/CMakeLists.txt
Labels: comp:build

#9615 CMake: Stop copying jit tracegen to source tree
  runtime/compiler/CMakeLists.txt
  runtime/compiler/linter.mk
Labels: comp:build

#9485 Java 15 Use Unsafe.defineAnonyousClass() to define Hidden classes.
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/BufferPoolMXBeanImpl.java
  runtime/j9vm/java11vmi.c
  runtime/jcl/common/java_lang_Class.cpp
  runtime/nls/j9vm/j9vm.nls
  runtime/redirector/forwarders.m4
Labels: comp:vm

#9643 Weak root Read Barrier for VLHGC
  runtime/gc_base/StringTable.cpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.hpp
Labels: bug, comp:gc

#9609 AArch64: Enable inlining of jitNewObject
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9648 CMake: Disable enhanced warnings part 1
  runtime/bcutil/CMakeLists.txt
  runtime/bcutil/test/recompiled/CMakeLists.txt
  runtime/bcverify/CMakeLists.txt
  runtime/cassume/CMakeLists.txt
  runtime/cfdumper/CMakeLists.txt
  runtime/codert_vm/CMakeLists.txt
  runtime/dbgext/CMakeLists.txt
  runtime/ddr/CMakeLists.txt
  runtime/exelib/CMakeLists.txt
  runtime/jit_vm/CMakeLists.txt
  runtime/jnichk/CMakeLists.txt
  runtime/jniinv/CMakeLists.txt
  runtime/libffi/CMakeLists.txt
  runtime/port/CMakeLists.txt
  runtime/runtimetools/agentbase/CMakeLists.txt
  runtime/runtimetools/balloon/CMakeLists.txt
  runtime/runtimetools/javacoregen/CMakeLists.txt
  runtime/runtimetools/jlm/CMakeLists.txt
  runtime/runtimetools/memorywatcher/CMakeLists.txt
  runtime/runtimetools/osmemory/CMakeLists.txt
  runtime/runtimetools/vmruntimestateagent/CMakeLists.txt
  runtime/stackmap/CMakeLists.txt
  runtime/sunvmi/CMakeLists.txt
  runtime/tests/algorithm/CMakeLists.txt
  runtime/tests/port/CMakeLists.txt
  runtime/tests/vm/CMakeLists.txt
  runtime/tests/vm_lifecycle/CMakeLists.txt
  runtime/util/CMakeLists.txt
  runtime/verbose/CMakeLists.txt
  runtime/verutil/CMakeLists.txt
  runtime/vmchk/CMakeLists.txt
  runtime/zip/CMakeLists.txt
Labels: comp:build

#9313 Change the AS path and add IBM i specific flags
  runtime/compiler/build/toolcfg/aix-xlc/common.mk
Labels: comp:build, comp:jit

#9513 Add GC schedule setting Artifactory Doc
  buildenv/jenkins/ARTIFACTORY.md
Labels: comp:build

#9645 enable dynamic parallel in extended.functional_x86-64_linux_Nightly
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build, comp:test

#9614 Fix for 16bit load on Z with balanced GC policy (Arraylets)
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, bug, comp:jit

#9647 Remove old cpu.is() and cpu.isAtLeast()
  runtime/compiler/aarch64/env/J9CPU.cpp
  runtime/compiler/arm/env/J9CPU.cpp
  runtime/compiler/p/env/J9CPU.cpp
  runtime/compiler/z/env/J9CPU.cpp
Labels: comp:jit

#9652 Remove some statics from z/codegen
  runtime/compiler/z/codegen/DFPTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
Labels: arch:z, comp:jit

#9666 AArch64: Set linkage for JProfilingValue helper call
  runtime/compiler/optimizer/JProfilingValue.cpp
Labels: arch:aarch64, comp:jit

#9664 CMake: enable -fstack-protector on gnu toolchains
  runtime/cmake/platform/toolcfg/gnu.cmake
Labels: comp:build

#9586 Add guards to unguarded traces
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/J9Symbol.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/DataAccessAccelerator.hpp
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/IdiomTransformations.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/SPMDParallelizer.cpp
  runtime/compiler/optimizer/SPMDPreCheck.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/runtime/J9Profiler.cpp
Labels: comp:jit

#9662 Save Volatile FPRs in PicBuilder before C call
  runtime/compiler/z/runtime/PicBuilder.m4
  runtime/compiler/z/runtime/s390_macros.inc
Labels: arch:z, comp:jit

#9670 Jenkins: Capture more diagnostics info for cmake builds
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#9635 Remove a redundant word from Recompilation.md
  doc/compiler/runtime/Recompilation.md
Labels: comp:doc

#9649 CMake: Disable enhanced warnings part 2
  runtime/j9vm/CMakeLists.txt
  runtime/jextractnatives/CMakeLists.txt
  runtime/redirector/CMakeLists.txt
  runtime/runtimetools/migration/CMakeLists.txt
  runtime/runtimetools/softmxtest/CMakeLists.txt
  runtime/tests/bcverify/CMakeLists.txt
  runtime/tests/gp/CMakeLists.txt
  runtime/tests/jni/CMakeLists.txt
  runtime/tests/jniarg/CMakeLists.txt
  runtime/tests/jvmtitests/agent/CMakeLists.txt
  runtime/tests/jvmtitests/src/CMakeLists.txt
  runtime/tests/redirector/jep178/CMakeLists.txt
  runtime/tests/thread/CMakeLists.txt
Labels: comp:build

#9653 Enable scratch space limit self tuning when swap is not available
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#9678 Fix typos in MemorySourceTable.MergedMemoryRange.isReadOnly()
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/memory/MemorySourceTable.java
Labels: comp:vm

#9679 CMake: Enable base warnings for gnu toolchains
  runtime/cmake/platform/toolcfg/gnu.cmake
Labels: comp:build

#9687 Remove or replace redundant eclipse openj9 website links
  README.md
Labels: comp:doc

#9689 Remove obsolete decl from staticverify.c to fix Win compile error
  runtime/bcverify/staticverify.c
Labels: comp:vm

#9691 Port over a subset of resources from website
  README.md
Labels: comp:doc

#9695 Update README.md for jdk11, add links, fix links
  README.md
Labels: comp:doc

#9669 enable dynamic parallel for all functional test builds
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:test

#9688 Remove unused local variables
  runtime/jitserver_launcher/jitserver.c
Labels: comp:jitserver

#9696 CMake: Reintroduce base warning flags
  runtime/cmake/platform/toolcfg/gnu.cmake
  runtime/compiler/CMakeLists.txt
Labels: comp:build

#9697 Support for JEP 383 (Java 15): Part 1
  jcl/src/java.base/share/classes/java/lang/invoke/BoundMethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/DirectMethodHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
Labels: comp:vm

#9703 CMake: ensure J9VM_OPT_USE_OMR_DDR is defined
  runtime/include/j9cfg.h.in
Labels: comp:build

#9704 CMake: Disable OMR_THR_YIELD_ALG on MacOS
  runtime/cmake/caches/aix_ppc-64.cmake
  runtime/cmake/caches/common.cmake
  runtime/cmake/caches/linux.cmake
  runtime/cmake/caches/win_x86-64.cmake
Labels: comp:build

#9567 Incomplete tactical implementation for -XX:+PrintFlagsFinal
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/xxargtest/XXArgumentTesting.xml
Labels: comp:vm, doc:externals, enhancement

#9693 Add S390JNICallDataSnippet class
  runtime/compiler/z/codegen/J9SystemLinkageLinux.cpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.hpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.hpp
Labels: arch:z, comp:jit

#9701 Mac: set compatibility and current version of dylib's to 1.0.0
  runtime/cmake/platform/os/osx.cmake
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/makelib/targets.mk.osx.inc.ftl
  runtime/thread/threadshared.mk.ftl
Labels: comp:vm

#9685 AArch64: Enhance VMnewEvaluator to support newarray with constant length
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/compile/J9Compilation.cpp
Labels: arch:aarch64, comp:jit

#9671 Enhanced the output with stats about JITClient specific Activity
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
Labels: comp:jitserver

#9713 Jenkins add osx UMA builds
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#9378 Set extraTestLabels blank if TEST_NODE is set
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#9304 Update jdk11 build instructions on osx
  doc/build-instructions/Build_Instructions_V11.md
Labels: comp:build

#9681 Add trace points for JITServer
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/j9jit.tdf
  runtime/compiler/runtime/JITClientSession.cpp
Labels: comp:jitserver

#9610 Add support for -XX:[+|-]HandleSIGABRT
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9consts.h
  runtime/oti/jvminit.h
  runtime/rasdump/dmpsup.c
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/sigabrtHandlingTest/build.xml
  test/functional/cmdLineTests/sigabrtHandlingTest/playlist.xml
  test/functional/cmdLineTests/sigabrtHandlingTest/sigabrtHandlingTest.xml
  test/functional/cmdline_options_testresources/src/VMBench/GPTests/GPTest.java
Labels: comp:vm

#9561 Refactor processor version check for branch hints
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#9723 jdk15 Implement java.lang.Access.stringConcatMix
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk15

#9742 Add uma to list of suffixes not applicable to test
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#9717 Fix method name of getAndBitwiseXor
  runtime/compiler/optimizer/VarHandleTransformer.cpp
Labels: comp:jit

#9659 Fix ilgen not clearing node flag when auto slot 0 is overwritten
  runtime/compiler/ilgen/J9ByteCodeIterator.cpp
Labels: bug, comp:jit

#9589 Enable CFG simplifier
  runtime/compiler/optimizer/J9CFGSimplifier.cpp
Labels: comp:jit

#9633 Change where J9Method_HT, and DLT_Record Tables are cleaned
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit, perf

#9575 Fix incorrect types in value JProfiling quickTest block
  runtime/compiler/optimizer/JProfilingValue.cpp
Labels: bug, comp:jit

#9725 PrintFlagsFinal output needs to be on stdout
  runtime/vm/jvminit.c
Labels: comp:vm

#9719 Fix crash printing to verbose log
  runtime/compiler/env/j9method.cpp
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/oti/j9nonbuilder.h
Labels: bug, comp:jit, comp:jit:aot

#9744 Delete com.ibm.lang.management.ProcessorMXBean
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/ProcessorMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ProcessorMXBeanImpl.java
  runtime/jcl/CMakeLists.txt
  runtime/jcl/common/mgmtprocessor.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/jcl/uma/se6_vm-side_natives_objects.xml
  runtime/oti/jclprots.h
Labels: comp:vm

#9566 Enable windows compilation with VS2017
  buildspecs/win_x86-64.spec
  buildspecs/win_x86-64_cmprssptrs.spec
  buildspecs/win_x86.spec
Labels: comp:build

#9739 AArch64: Enhance VMnewEvaluator to support anewarray with constant length
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#9736 Fix Character.isUpperCase inlining on POWER9
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
Labels: arch:power, comp:jit
