Repository eclipse-openj9/openj9, pull requests merged in 2020-12, with the labels that each got.

#11088 Accelerate two-dimensional new array with second dimension being zero
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  test/functional/JIT_Test/playlist.xml
  test/functional/JIT_Test/src/jit/test/jitt/array/multianewarray.java
  test/functional/JIT_Test/testng.xml
Labels: arch:z, comp:jit

#11337 Fix the issue with the unsafe target register on RISC-V
  runtime/vm/gphandle.c
Labels: comp:vm

#11311 Enable LoadFlattenableArray for non-VT arrays
  runtime/codert_vm/cnathelp.cpp
Labels: comp:vm, project:valhalla

#11338 Disable multianewarray evaluator on Z
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#11323 Use fewer compilation threads at client when JITServer is low on memory
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
Labels: comp:jitserver

#11322 JDK16 Changes
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/String.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm, jdk16

#11328 Eliminate VM_getClassNameSignatureFromMethod message
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
Labels: comp:jitserver

#11350 Remove duplicate of defineHiddenClassWithClassData
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm, jdk15

#11314 Improve the mechanism of accepting new request at JITServer
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/j9jit.tdf
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#11340 Limit size of core files created by the OS, and reduce -Xmx
  test/functional/cmdLineTests/sigabrtHandlingTest/sigabrtHandlingTest.xml
Labels: comp:test

#11348 Add Ben Thomas (aviansie-ben) to PR launch list
  buildenv/jenkins/variables/admin_list.yml
Labels: comp:build, comp:infra

#11341 Enable parallel runs in system test builds
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#11226 get third party dependency in VM_Test
  test/functional/VM_Test/build.xml
Labels: comp:test

#11339 Fix withField access check
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, project:valhalla

#11357 Adjust stubs required for jdk16
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandle.java
Labels: comp:vm, jdk16

#11354 Adjust signature of JVM_LookupLambdaProxyClassFromArchive for jdk16
  runtime/j9vm/java11vmi.c
  runtime/redirector/forwarders.m4
Labels: comp:vm

#11355 Display available memory in JITServer heartbeat
  runtime/compiler/runtime/JITServerStatisticsThread.cpp
Labels: comp:jitserver

#11004 Uncommon autosimd piv loop stride increment node
  runtime/compiler/optimizer/SPMDParallelizer.cpp
  runtime/compiler/optimizer/SPMDParallelizer.hpp
  test/functional/JIT_Test/playlist.xml
  test/functional/JIT_Test/src/jit/test/tr/SIMDOpts/SIMDCommonedAddressTest.java
  test/functional/JIT_Test/testng.xml
Labels: comp:jit

#10879 Print `initialized` stanza to each file
  runtime/gc_verbose_handler_realtime/VerboseHandlerOutputRealtime.cpp
  runtime/gc_verbose_handler_realtime/VerboseHandlerOutputRealtime.hpp
  runtime/gc_verbose_handler_standard_java/VerboseHandlerOutputStandardJava.cpp
  runtime/gc_verbose_handler_standard_java/VerboseHandlerOutputStandardJava.hpp
  runtime/gc_verbose_handler_vlhgc/VerboseHandlerOutputVLHGC.cpp
  runtime/gc_verbose_handler_vlhgc/VerboseHandlerOutputVLHGC.hpp
  runtime/gc_verbose_java/VerboseHandlerJava.cpp
  runtime/gc_verbose_java/VerboseHandlerJava.hpp
Labels: comp:gc

#11364 Increase threshold for low JITServer memory
  runtime/compiler/control/JITServerCompilationThread.cpp
Labels: comp:jitserver

#11330 Update ROMClass walk implementation to support ROMClass serialization in JITServer
  runtime/oti/dbg.h
  runtime/util/optinfo.c
  runtime/util/romclasswalk.c
Labels: comp:jitserver, comp:vm

#11370 Enable java.lang.Class.getConstantPool() for Java 8
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#11324 Only patch CP entries with valid mapping
  runtime/jcl/common/sun_misc_Unsafe.cpp
Labels: comp:vm, project:MH

#11310 Reset runtimeAssumptionList field in metadata on restore
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/codertinit.cpp
Labels: comp:jit, snapshot

#11247 Add ability to activate CH Table at an arbitrary point
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/PersistentCHTable.cpp
  runtime/compiler/env/PersistentCHTable.hpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/annotations/AnnotationBase.cpp
  runtime/compiler/runtime/RuntimeAssumptions.cpp
Labels: comp:jit

#11215 Add cpu feature info to javacore
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/oti/j9nonbuilder.h
  runtime/rasdump/javadump.cpp
Labels: comp:jit, comp:vm, depends:omr

#10368 Fix testSCCacheManagement failure on ibm 11 zos
  test/functional/CacheManagement/src/tests/sharedclasses/TestUtils.java
  test/functional/CacheManagement/src/tests/sharedclasses/options/TestPersistentCacheMoving01.java
  test/functional/CacheManagement/src/tests/sharedclasses/options/TestSharedCacheJavaAPI.java
  test/functional/CacheManagement/src/tests/sharedclasses/options/TestSharedCacheJvmtiAPI.java
Labels: comp:test

#11304 Update CCData usage for changes made in master
  runtime/compiler/runtime/J9CodeCacheManager.cpp
  runtime/compiler/z/codegen/J9MemoryReference.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
Labels: snapshot

#11394 Exclude special.system on AIX XL
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#11381 AArch64: Change -fpic to -fPIC
  runtime/makelib/targets.mk.linux.inc.ftl
Labels: arch:aarch64, comp:build

#11389 jdk.internal.access.SharedSecrets is required for JDK15+
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, jdk15

#11395 Revert "Revert "Add cpu feature info to javacore""
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/oti/j9nonbuilder.h
  runtime/rasdump/javadump.cpp
Labels: comp:jit, comp:vm

#11343 AArch64: Add a flag for implicit NULLCHKs to memory reference class
  runtime/compiler/aarch64/codegen/J9MemoryReference.cpp
  runtime/compiler/aarch64/codegen/J9MemoryReference.hpp
Labels: arch:aarch64, comp:jit

#11344 AArch64: Add jitARM64Handler
  runtime/compiler/runtime/SignalHandler.c
Labels: arch:aarch64, comp:jit

#11409 Only load initialized class from SCC into iprofiler data (v0.24.0)
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#11411 (0.24.0) Add cpu feature info to javacore
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/oti/j9nonbuilder.h
  runtime/rasdump/javadump.cpp
Labels: comp:jit, comp:vm

#11254 Keep splitPostGRA stores in right block for acmp fast path
  runtime/compiler/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#11408 Update platforms exception Windows to use openssl 1.1.1i
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#11392 Store client's VM phase in JITServer client session
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/J9VMEnv.cpp
  runtime/compiler/env/J9VMEnv.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#11412 Add ability to delete tso datasets for zOS guests
  buildenv/jenkins/jobs/infrastructure/Cleanup-Nodes.groovy
Labels: comp:build

#11242 Error handling for case where snapshot trigger class does not exist
  runtime/jcl/common/stdinit.c
  runtime/nls/j9cl/j9jcl.nls
  runtime/oti/j9consts.h
  runtime/vm/VMSnapshotImpl.cpp
Labels: snapshot

#11345 AArch64: Add a method for setting up implicit exception point to InstructionDelegate
  runtime/compiler/aarch64/codegen/J9InstructionDelegate.cpp
  runtime/compiler/aarch64/codegen/J9InstructionDelegate.hpp
Labels: arch:aarch64, comp:jit

#11368 move third party lib to functional level
  test/functional/CacheManagement/build.xml
  test/functional/DDR_Test/build.xml
  test/functional/IllegalAccessError_for_protected_method/build.xml
  test/functional/JIT_Test/build.xml
  test/functional/JLM_Tests/build.xml
  test/functional/Java10andUp/build.xml
  test/functional/Java11andUp/build.xml
  test/functional/Java12andUp/build.xml
  test/functional/Java14andUp/build.xml
  test/functional/Java15andUp/build.xml
  test/functional/Java8andUp/build.xml
  test/functional/Java9andUp/build.xml
  test/functional/JavaAgentTest/build.xml
  test/functional/Jsr292/build.xml
  test/functional/Jsr335/build.xml
  test/functional/Jsr335_interfaceStaticMethod/build.xml
  test/functional/OpenJ9_Jsr_292_API/build.xml
  test/functional/Panama/build.xml
  test/functional/SharedCPEntryInvokerTests/build.xml
  test/functional/TestExample/build.xml
  test/functional/UnsafeTest/build.xml
  test/functional/Valhalla/build.xml
  test/functional/cmdLineTests/CDSAdaptorTest/build.xml
  test/functional/cmdLineTests/J9security/build.xml
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/build.xml
  test/functional/cmdLineTests/doProtectedAccessCheck/build.xml
  test/functional/cmdLineTests/gcRegressionTests/build.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/build.xml
  test/functional/cmdLineTests/jvmtitests/build.xml
  test/functional/cmdLineTests/lockWordAlignment/build.xml
Labels: comp:test

#11416 Fix bug related to sequencing scheme in JITServer
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#11420 (0.24.0) Update platforms exception Windows to use openssl 1.1.1i
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#11396 Add doc for relocation of inlined methods
  doc/compiler/aot/InlinedMethods.md
  doc/compiler/aot/README.md
Labels: comp:doc, comp:jit, comp:jit:aot

#11316 Correct name of NestHost class for value type withfield test class
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/Valhalla/testng.xml
Labels: comp:test, project:valhalla

#11429 (0.24.0) Fix bug related to sequencing scheme in JITServer
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#11436 Remove dead code surrounded by the OPENJDK_METHODHANDLES JPP flag
  jcl/src/java.base/share/classes/java/lang/invoke/CallSite.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
Labels: comp:vm, project:MH

#11434 Add --illegal-access=permit in JCL tests
  test/functional/Java8andUp/playlist.xml
Labels: comp:test

#11450 Bringup JDK17 - add JAVA17 JPP pConfig & MajorVersion
  jcl/jpp_configuration.xml
  runtime/bcutil/defineclass.c
  runtime/oti/j2sever.h
  runtime/oti/j9nonbuilder.h
Labels: comp:vm, jdk17

#11259 Update the debug flags for the Assembly source
  runtime/compiler/build/toolcfg/gnu/common.mk
Labels: comp:jit

#11421 Use TR::MemoryReference::create API
  runtime/compiler/z/codegen/DFPTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit, depends:omr

#11432 Change the new CML options for JEP390
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/vm/jvminit.c
Labels: comp:vm, jdk16

#11460 Temporarily disable xlpCodeCacheTests on AIX since it fails
  test/functional/VM_Test/playlist.xml
Labels: comp:test

#11454 Capture more information in SymRefTab fatal assert
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
Labels: comp:jit

#11459 Remove <PLATFORM>_mixed_cm and use <PLATFORM>_mixed for mixed refs
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#11463 (0.24.0) Temporarily disable xlpCodeCacheTests on AIX since it fails
  test/functional/VM_Test/playlist.xml
Labels: comp:test

#11462 Add -Xlp test support for Mac
  test/functional/VM_Test/playlist.xml
  test/functional/VM_Test/src/j9vm/runner/Runner.java
  test/functional/VM_Test/src/j9vm/test/xlp/XlpOptionsTestRunner.java
  test/functional/VM_Test/src/j9vm/test/xlpcodecache/XlpCodeCacheOptionsTestRunner.java
Labels: comp:test

#11457 Avoid NPE with -verbose:stacktrace when source location is null
  jcl/src/java.base/share/classes/com/ibm/oti/util/Util.java
Labels: comp:vm

#11448 Replace deprecated gethostbyname() with getaddrinfo() to avoid crash
  runtime/compiler/net/ClientStream.cpp
Labels: comp:jitserver

#11317 Update how Eden size is reported at gc-start and gc-end
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
Labels: comp:gc

#11451 Bug fixes for Z's multianewArrayEvaluator
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#11431 (0.24.0) Change TR_ASSERT_FATAL into failCompilation call
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
Labels: comp:jit

#11476 Fix build break due to definingClassFromCPFieldRef change
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: comp:jit

#11456 Update guidelines regarding capitalizing commit first letter
  CONTRIBUTING.md
Labels: comp:doc

#11478 (0.24.0) Avoid NPE with -verbose:stacktrace when source location is null
  jcl/src/java.base/share/classes/com/ibm/oti/util/Util.java
Labels: comp:vm

#11468 Use TR::MemoryReference::create API where applicable
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#11461 Support exception event hooks in AOT
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/runtime/J9Runtime.hpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: comp:jit, comp:jit:aot

#11425 Use getOriginalROMMethod under FSD mode
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/ilgen/J9IlGeneratorMethodDetails.cpp
  runtime/compiler/ilgen/J9IlGeneratorMethodDetails.hpp
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#11346 AArch64: Implement implicit NULLCHK
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#11435 Change asm package name for lockWordAlignment
  test/functional/cmdLineTests/lockWordAlignment/src/CreateTestObjectJar.java
  test/functional/cmdLineTests/lockWordAlignment/src/IntLongObjectAlignmentTestGenerator.java
Labels: comp:test

#11485 Add test exclude files for jdk17
  test/TestConfig/resources/excludes/latest_exclude_17.txt
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_17.xml
Labels: comp:test, jdk17

#9590 Support for serialization of TR_BlockFrequencyInfo
  runtime/compiler/runtime/J9Profiler.cpp
  runtime/compiler/runtime/J9Profiler.hpp
Labels: comp:jit, depends:omr

#11483 Update JavaRuntimeVersion test (jrvTest) to handle more variants
  test/functional/cmdline_options_testresources/src/JavaRuntimeVersion.java
Labels: comp:test

#11372 OpenJDK MethodType arg slots not needed to support OpenJDK MethodHandle
  runtime/oti/vmconstantpool.xml
Labels: comp:vm, project:MH

#11488 Use JDK11+ API to get process pid to fix AttachAPISanity for JDK16+
  test/functional/TestUtilities/src/org/openj9/test/attachAPI/TargetManager.java
Labels: comp:test

#11214 Delay liveness analysis to post tree lowering
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/optimizer/J9OptimizationManager.cpp
  runtime/compiler/optimizer/LiveVariablesForGC.cpp
Labels: comp:jit

#11482 Add add-exports to JEP358NPEMessageTests
  test/functional/Java14andUp/playlist.xml
Labels: comp:test

#11487 Fix utf8 range check in SCC
  runtime/bcutil/ComparingCursor.cpp
Labels: comp:vm

#11495 Add jdk16 to the build pipelines
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#11498 (0.24.0) Fix utf8 range check in SCC
  runtime/bcutil/ComparingCursor.cpp
Labels: comp:vm

#11423 Fix implementation of String equalsIgnoreCase() and regionMatches()
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#11358 Handle monitor enter/exit on value based instances (X86)
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
Labels: JEP, arch:x86, comp:jit, enhancement

#11499 Add illegalAccessPermit for TestRefreshGCSpecialClassesCache
  test/functional/JavaAgentTest/playlist.xml
Labels: comp:test

#11383 Implement JIT support for flattened value type arrays
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit, project:valhalla

#11497 (0.24.0) Fix String equalsIgnoreCase() and regionMatches() implementations
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#11513 Revert delay liveness analysis change
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/optimizer/J9OptimizationManager.cpp
  runtime/compiler/optimizer/LiveVariablesForGC.cpp
Labels: comp:jit

#11501 PlatformLoggingMXBean.setLoggerLevel() should allow null level
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/LoggingMXBeanImpl.java
Labels: comp:vm

#11517 (0.24.0) PlatformLoggingMXBean.setLoggerLevel() should allow null level
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/LoggingMXBeanImpl.java
Labels: comp:vm

#11520 Update osgi jar name
  test/functional/cmdLineTests/CDSAdaptorTest/.classpath
  test/functional/cmdLineTests/CDSAdaptorTest/cdsadaptortest.xml
  test/functional/cmdLineTests/CDSAdaptorTest/resources/readme.txt
Labels: comp:test

#11375 Use portable formats from omrformatconsts.h
  runtime/compiler/codegen/CodeGenGPU.cpp
  runtime/compiler/env/annotations/TestAnnotation.cpp
  runtime/compiler/optimizer/IdiomRecognition.cpp
  runtime/compiler/ras/kca_offsets_generator.cpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/HWProfiler.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/J9ValueProfiler.hpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/MetaData.cpp
Labels: comp:jit

#11489 Refine receiver class based on CP class of callsite
  runtime/compiler/optimizer/J9Inliner.cpp
Labels: comp:jit

#11320 Perform cleanup in x86 and Z's multianewarrayEvaluator
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:x86, comp:jit

#11514 AArch64: Add dummy constant data snippet
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: arch:aarch64, comp:jit

#11527 (0.24.0) Update osgi jar name
  test/functional/cmdLineTests/CDSAdaptorTest/.classpath
  test/functional/cmdLineTests/CDSAdaptorTest/cdsadaptortest.xml
  test/functional/cmdLineTests/CDSAdaptorTest/resources/readme.txt
Labels: comp:test

#11521 Remove VarHandle equals and hashCode
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
  test/functional/Java12andUp/src/org/openj9/test/java_lang_invoke/Test_VarHandle.java
  test/functional/Java12andUp/src/org/openj9/test/java_lang_invoke/Test_VarHandleDesc.java
Labels: comp:test, comp:vm, depends:doc, jdk15

#11533 0.24: Remove VarHandle equals and hashCode
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
  test/functional/Java12andUp/src/org/openj9/test/java_lang_invoke/Test_VarHandle.java
  test/functional/Java12andUp/src/org/openj9/test/java_lang_invoke/Test_VarHandleDesc.java
Labels: comp:test, comp:vm

#11530 Simplify ArrayStoreCHK evaluator
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#11367 Update linkToInterface for OpenJDK MethodHandles
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, project:MH

#11347 AArch64: Enable implicit NULLCHK
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/compiler/runtime/codertinit.cpp
Labels: arch:aarch64, comp:jit

#11539 Release notes for OpenJ9 0.24.0
  doc/release-notes/0.24/0.24.md
Labels: comp:doc
