Repository eclipse-openj9/openj9, pull requests merged in 2021-08, with the labels that each got.

#13248 Remove JITServer-specific methods for ROM strings access
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#12910 Check indexable data address correct on object movement
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ObjectModel.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCObjectModel.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9IndexableObjectHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/gccheck/CheckBase.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/gccheck/CheckCycle.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/gccheck/CheckEngine.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/gccheck/CheckReporterTTY.java
  runtime/gc_check/CheckBase.hpp
  runtime/gc_check/CheckCycle.cpp
  runtime/gc_check/CheckEngine.cpp
  runtime/gc_check/CheckReporterTTY.cpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gcchk/module.xml
Labels: comp:gc

#13278 Move Linux aarch64 compiles to Adoptium docker container
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#13283 Fix #endif comments for USE_STATIC_RAS_STRUCT
  runtime/vm/rasdump.c
Labels: comp:vm

#13263 AArch64: Enable ArrayCopyOpts and primitive arraycopy
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/control/rossa.cpp
Labels: comp:jit, arch:aarch64

#13281 Use jitSetMutableCallSiteTarget for all instances of MutableCallSite
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
Labels: comp:vm, comp:jit, project:MH

#13287 Handle find virtual of interface methods
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, project:MH

#13288 Add a JITServer option to do cold sync compiles locally
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
Labels: comp:jitserver

#13286 Disable inline script dump
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#13265 Use ForceInline annotation in JIT
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#13277 Update tests to check Semeru in java -version output
  test/functional/cmdLineTests/gcsuballoctests/gcsuballoctests.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-4.xml
  test/functional/cmdLineTests/xxargtest/XXArgumentTesting.xml
Labels: comp:test

#13301 Add JITServer support for ForceInline annotation
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: comp:jitserver

#13303 Add -XX:JITServerShareROMClasses option to JITServer
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#13268 AArch64: Implement Interface Call Dynamic PIC
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
  runtime/compiler/aarch64/codegen/CallSnippet.hpp
  runtime/compiler/aarch64/runtime/PicBuilder.spp
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit, arch:aarch64

#13282 Remove precision adjustments from floating-point math
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#13306 Update to latest centos6 container
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#13316 Add initial 0.28 release notes
  doc/release-notes/0.27/0.27.md
  doc/release-notes/0.28/0.28.md
Labels: comp:doc

#13317 Update JTIServer build instructions
  buildenv/docker/jdk8/s390x/ubuntu16/jitserver/build/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/jitserver/buildenv/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/jitserver/run/Dockerfile
  buildenv/docker/jdk8/s390x/ubuntu16/jitserver/test/Dockerfile
  buildenv/docker/jdk8/x86_64/rhel7/jitserver/build/Dockerfile
  buildenv/docker/jdk8/x86_64/rhel7/jitserver/run/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/build/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/buildenv/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/buildserver/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu16/jitserver/test/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/build/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/buildenv/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/buildserver/Dockerfile
  buildenv/docker/jdk8/x86_64/ubuntu18/jitserver/test/Dockerfile
  doc/compiler/jitserver/Build.md
  doc/compiler/jitserver/Docker.md
  doc/compiler/jitserver/Testing.md
Labels: comp:jitserver

#13307 Improve write barrier codegen by eliminating redundant loads
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:power

#13279 AArch64: Implement reference arraycopy
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: comp:jit, arch:aarch64

#13335 Replace MethodHandleImpl.profileBoolean() calls with boolean parameter
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#13341 Exempt certain methods from call target trimming
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#13360 Support aarch compiles on all versions in a container
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#13350 Improve known object propagation for MethodHandles
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/MethodHandleTransformer.cpp
Labels: comp:jit, depends:omr

#13363 Restore space at end of J9NLS_VM_STACK_TRACE_EXCEPTION_IN message
  runtime/nls/j9vm/j9vm.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_de.nls
  runtime/nls/j9vm/j9vm_es.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_tr.nls
Labels: comp:vm

#13374 Update to openssl 1.1.1l for all platforms but Windows
  buildenv/jenkins/variables/defaults.yml
Labels: comp:openssl

#13322 JDK17 - add missed annotations
  jcl/src/java.base/share/classes/java/lang/Thread.java
  jcl/src/java.base/share/classes/java/lang/ThreadGroup.java
  jcl/src/java.base/share/classes/java/security/AccessControlContext.java
  jcl/src/java.base/share/classes/java/security/AccessController.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/LoggingMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ThreadMXBeanImpl.java
  jcl/src/java.management/share/classes/java/lang/management/RuntimeMXBean.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9AttachProvider.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/Cuda.java
  jcl/src/openj9.gpu/share/classes/com/ibm/gpu/CUDAManager.java
  jcl/src/openj9.gpu/share/classes/com/ibm/gpu/SortNetwork.java
  jcl/src/openj9.gpu/share/classes/com/ibm/gpu/internal/CudaGPUAssistProvider.java
Labels: comp:vm

#13352 Fix void-pointer-to-enum-cast warning in Clang
  runtime/jvmti/jvmtiExtensionMechanism.c
Labels: comp:vm, os:macos

#13346 Fix off-by-one error in String.indexOf acceleration on z15
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  test/functional/Java8andUp/src/org/openj9/test/com/ibm/jit/Test_JITHelpers.java
Labels: comp:jit, arch:z

#13378 Add envvar TR_DisableIndexOfStringIntrinsic
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:z

#13380 Update exception message to support OJDK test case
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, project:MH

#13342 Create known object prex args for appendices in InterpreterEmulator
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/InterpreterEmulator.hpp
Labels: comp:jit

#13406 Add explicit conversion from jboolean to boolean
  runtime/jcl/common/java_lang_Class.cpp
Labels: comp:vm

#9095 Reduce scratchSpaceFactorWhenJSR292Workload to 1 in Xtune:virtualized
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#13304 Remove Compilation on Application Threads
  runtime/compiler/arm/codegen/ARMAOTRelocation.cpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9CompilerEnv.cpp
  runtime/compiler/env/J9JitMemory.cpp
  runtime/compiler/env/J9SegmentAllocator.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/NewInitialization.cpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/S390AOTRelocation.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/jilconsts.h
Labels: comp:jit, depends:omr:breaking

#13196 Enable warnings as errors in compiler component on S390
  debugtools/DDR_VM/data/superset-constants.dat
  runtime/compiler/CMakeLists.txt
  runtime/gc_tests/rwlocktests/gc_rwlocktest.cpp
Labels: comp:jit, arch:z, depends:omr:breaking

#13257 Change uses of snprintf() to use infra/String.hpp instead
  runtime/compiler/build/files/common.mk
  runtime/compiler/codegen/CodeGenGPU.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/InterpreterEmulator.hpp
  runtime/compiler/optimizer/StringBuilderTransformer.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
Labels: comp:jit, depends:omr:breaking

#13213 Implement initial Vector API expansion
  runtime/compiler/build/files/common.mk
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/CMakeLists.txt
  runtime/compiler/optimizer/J9Optimizer.cpp
  runtime/compiler/optimizer/Optimizations.enum
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#13241 Skip HCR guards for VectorSupport intrinsics
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#13408 JITServer support for ``TR_J9VMBase::delegatingMethodHandleTarget``
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
Labels: comp:jitserver
