Repository eclipse-openj9/openj9, pull requests merged in 2021-09, with the labels that each got.

#13331 Cleanup stale directories and files of attach API properly
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/TargetDirectory.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestAttachAPI.java
Labels: comp:vm

#13343 Fix GCCheck Reporting bug in `ReportObjectHeader` Method When Object to Report is a Hole
  runtime/gc_check/CheckReporterTTY.cpp
Labels: comp:gc

#13345 Remove NULL appendix in linkToStaticSpecial call
  runtime/vm/BytecodeInterpreter.hpp
Labels: project:MH

#13425 Do not reuse fabricated symrefs for relocatable compilations
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
Labels: comp:jit, comp:jitserver

#13412 Fix jsr inliner for zero indexes
  runtime/bcverify/staticverify.c
  runtime/nls/cfre/cfrerr.nls
Labels: comp:vm

#13418 Add VectorAPIExpansion to optimization strategies
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Optimizer.cpp
Labels: comp:jit

#13439 Don't inline Vector API intrinsics
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#13435 Add new CRIU API methods
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  runtime/criusupport/criusupport.c
  runtime/criusupport/criusupport.h
Labels: comp:vm, criu

#13442 Vectorize Vector API intirinsics if possible
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit, arch:power

#13447 (0.28.0) Do not reuse fabricated symrefs for relocatable compilations
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
Labels: comp:jit, comp:jitserver

#13438 Change SCC default directory to /tmp on z/OS
  runtime/shared_common/OSCache.cpp
  runtime/tests/shared/CacheDirPerm.cpp
  runtime/tests/shared/CorruptCacheTest.cpp
  runtime/tests/shared/OSCacheTestMmap.cpp
  runtime/tests/shared/OSCacheTestSysv.cpp
  runtime/tests/shared/SharedCacheAPITest.cpp
  test/functional/CacheManagement/src/tests/sharedclasses/TestUtils.java
  test/functional/CacheManagement/src/tests/sharedclasses/options/TestPersistentCacheMoving01.java
  test/functional/CacheManagement/src/tests/sharedclasses/options/TestSharedCacheJavaAPI.java
  test/functional/CacheManagement/src/tests/sharedclasses/options/TestSharedCacheJvmtiAPI.java
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/SCCOptionTestSetting.mk
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/exclude_11.xml
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/playlist.xml
Labels: comp:vm, doc:externals

#13461 (0.28.0) JITServer support for ```TR_J9VMBase::delegatingMethodHandleTarget```
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
Labels: comp:jitserver

#13463 Update the documentation for new boot jdk location
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V16.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#13456 Use MemorySegment intrusive list for SystemSegmentProvider free list
  runtime/compiler/env/SystemSegmentProvider.cpp
  runtime/compiler/env/SystemSegmentProvider.hpp
Labels: comp:jit

#13468 (v0.28.0-release) Cleanup stale directories and files of attach API properly
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/TargetDirectory.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestAttachAPI.java
Labels: comp:vm

#13445 AArch64: Update Dockerfile for cross build
  buildenv/docker/aarch64-linux_CC/Dockerfile
Labels: comp:build, arch:aarch64

#13420 Add method handle related hidden fields to JITServer VM info
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#13308 Clean up softmx logic in MemorySubSpaceTarok
  runtime/gc_vlhgc/MemorySubSpaceTarok.cpp
  runtime/gc_vlhgc/MemorySubSpaceTarok.hpp
Labels: comp:gc

#13479 (0.28.0) Add method handle related hidden fields to JITServer VM info
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#13482 Disable JITServer Tech Preview message for Power and x86
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#13436 Update functional tests dependencies part1
  test/functional/CacheManagement/build.xml
  test/functional/DDR_Test/build.xml
  test/functional/HealthCenter/build.xml
  test/functional/IllegalAccessError_for_protected_method/build.xml
  test/functional/InstrumentationAgent/build.xml
  test/functional/Java10andUp/build.xml
  test/functional/Java11andUp/build.xml
  test/functional/Java12andUp/build.xml
  test/functional/Java14andUp/build.xml
  test/functional/Java15andUp/build.xml
  test/functional/Java16andUp/build.xml
  test/functional/Java8andUp/build.xml
  test/functional/Java9andUp/build.xml
  test/functional/JavaAgentTest/build.xml
Labels: comp:test

#13490 (0.28.0) Disable JITServer Tech Preview message for Power and x86
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#13492 Remove JITServer tech preview message from the server
  runtime/jitserver_launcher/jitserver.c
Labels: comp:jitserver

#13489 Allow downgrading of JSR292 methods
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit, perf

#13465 Remove j.l.String methods from canSkipNullChecks for JDK17+
  runtime/compiler/il/J9MethodSymbol.cpp
Labels: comp:jit, jdk17

#13444 Throw NCDE on inaccesble catch classes
  runtime/bcverify/rtverify.c
Labels: comp:vm

#13481 Clean up `MemorySubSpaceTarok` softmx heap resizing
  runtime/gc_vlhgc/MemorySubSpaceTarok.cpp
  runtime/gc_vlhgc/MemorySubSpaceTarok.hpp
Labels: comp:gc

#13321 Don't loop forever trying to find DDR blob in z/OS system dumps
  debugtools/DDR_VM/src/com/ibm/j9ddr/VMDataFactory.java
Labels: comp:vm

#13476 Add bound check before accessing flags array of InterpreterEmulator
  runtime/compiler/optimizer/InterpreterEmulator.cpp
Labels: comp:jit

#12981 JDK17+ : Try BootLoader if bootstrapClassLoader didn't find the native
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  runtime/j9vm/j9scar.tdf
  runtime/vm/j9vm.tdf
  runtime/vm/vmbootlib.c
Labels: comp:vm

#13500 (v0.28.0-release) Try BootLoader if bootstrapClassLoader didn't find the native
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  runtime/j9vm/j9scar.tdf
  runtime/vm/j9vm.tdf
  runtime/vm/vmbootlib.c
Labels: comp:vm

#13474 Refine linkToVirtual to a direct call when no vtable entry exists
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#13506 (0.28.0) Add bound check before accessing flags array of InterpreterEmulator
  runtime/compiler/optimizer/InterpreterEmulator.cpp
Labels: comp:jit

#13505 (0.28.0) Refine linkToVirtual to a direct call when no vtable entry exists
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#13507 AArch64: Remove unnecessary regdep from reference array copy
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#13473 Update functional tests dependencies part2
  test/functional/JIT_Test/build.xml
  test/functional/JLM_Tests/build.xml
  test/functional/Jsr292/build.xml
  test/functional/Jsr335/build.xml
  test/functional/Jsr335_interfaceStaticMethod/build.xml
  test/functional/NativeTest/build.xml
  test/functional/OpenJ9_Jsr_292_API/build.xml
  test/functional/Panama/build.xml
  test/functional/SharedCPEntryInvokerTests/build.xml
  test/functional/TestExample/build.xml
  test/functional/UnsafeTest/build.xml
  test/functional/VM_Test/build.xml
  test/functional/Valhalla/build.xml
  test/functional/cmdLineTests/build.xml
Labels: comp:test

#13511 Update 0.28 release notes with JITServer info
  doc/release-notes/0.28/0.28.md
Labels: comp:doc

#13512 Create build instructions for jdk17
  buildenv/aix/jdk14/yum_install_aix-ppc64.txt
  buildenv/aix/jdk17/yum_install_aix-ppc64.txt
  doc/build-instructions/Build_Instructions_V17.md
Labels: comp:doc

#13514 (0.28.0) AArch64: Remove unnecessary regdep from reference array copy
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#13449 Re-add MIN_PROFILED_CALL_FREQUENCY to inliner
  runtime/compiler/optimizer/J9Inliner.cpp
Labels: comp:jit, depends:omr:breaking

#13510 Store field signature for TypeLayoutEntry on heap
  runtime/compiler/env/J9ClassEnv.cpp
Labels: bug, comp:jit, project:valhalla

#13521 Add space after JVM_OPTIONS in jython test
  test/functional/cmdLineTests/jython/playlist.xml
Labels: comp:test

#13138 Update TGC to Fetch Scavenge Times from event data
  runtime/gc_trace/TgcParallel.cpp
Labels: comp:gc

#13497 Enable -XX:+PortableSharedCache test on all platforms
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_exclude.xml
Labels: comp:test

#13520 Remove unused print statements on s390
  runtime/compiler/z/runtime/Recomp.cpp
Labels: comp:jit, arch:z

#13526 Recognize new HashMap keysToArray and valuesToArray methods
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
Labels: bug, comp:jit

#13527 (0.28.0) Recognize new HashMap keysToArray and valuesToArray methods
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#13525 Create an Eclipse OpenJ9 security policy
  SECURITY.md
Labels: comp:doc

#13539 Don't over-abbreviate SHAs
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#13538 Workaround for zlinux mmap issue in pltest
  runtime/tests/port/j9mmapTest.c
Labels: comp:test

#13531 Handle checkcast in VectorAPIExpansion
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#13542 (0.28.0) Workaround for zlinux mmap issue in pltest
  runtime/tests/port/j9mmapTest.c
Labels: comp:test

#13426 jdk17+: remove Unsafe.defineAnonymousClass()
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
  runtime/jcl/common/sun_misc_Unsafe.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/uma/sun_misc_Unsafe_exports.xml
  runtime/oti/jclprots.h
  test/functional/CacheManagement/build.xml
  test/functional/Java16andUp/build.xml
  test/functional/Java8andUp/build.xml
  test/functional/Java8andUp/src/j9vm/test/invoker/InvokeSpecialInsideInterface.java
  test/functional/Java8andUp/src_110/org/openj9/test/jdk/internal/InternalAccessor.java
  test/functional/Java8andUp/src_110_up/j9vm/test/invoker/InvokeSpecialInsideInterface.java
  test/functional/Java8andUp/src_170/org/openj9/test/jdk/internal/InternalAccessor.java
  test/functional/Java8andUp/src_80/j9vm/test/invoker/InvokeSpecialInsideInterface.java
  test/functional/Jsr335/build.xml
  test/functional/Jsr335/src/org/openj9/test/jsr335/defineAnonClass/BasicClass.java
  test/functional/Jsr335/src/org/openj9/test/jsr335/defineAnonClass/TestUnsafeDefineAnonClass.java
  test/functional/Jsr335/src_110_up/org/openj9/test/jsr335/defineAnonClass/DefineAnonClass.java
  test/functional/Jsr335/src_80/org/openj9/test/jsr335/defineAnonClass/DefineAnonClass.java
  test/functional/RasapiTest/.gitignore
  test/functional/RasapiTest/build.xml
  test/functional/UnsafeAccess/src/org/openj9/test/access/UnsafeClasses.java
  test/functional/UnsafeAccess/src_110/org/openj9/test/access/UnsafeClasses.java
  test/functional/UnsafeAccess/src_170/org/openj9/test/access/UnsafeClasses.java
  test/functional/UnsafeTest/build.xml
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeAccess.java
  test/functional/cmdLineTests/bootstrapMethodArgumentTest/build.xml
  test/functional/cmdLineTests/jvmtitests/build.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/retransformRedefineCombo/rrc001.java
  test/functional/cmdLineTests/jvmtitests/src_80/com/ibm/jvmti/tests/util/DefineAnonClass.java
  test/functional/cmdLineTests/jvmtitests/src_90/com/ibm/jvmti/tests/util/DefineAnonClass.java
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
  test/functional/cmdLineTests/utils/build.xml
  test/functional/cmdLineTests/utils/src/org/openj9/test/classtests/ClassTest.java
  test/functional/cmdLineTests/utils/src_shared/org/openj9/test/classtests/ClassTestHelper.java
  test/functional/cmdLineTests/utils2/build.xml
  test/functional/cmdLineTests/utils2/src/org/openj9/test/classtests/AnonClassAndUnsafeClassTest.java
  test/functional/cmdLineTests/utils2/src/org/openj9/test/classtests/ClassTest.java
  test/functional/cmdLineTests/utilshelper/src/org/openj9/test/classtests/ClassTestHelper.java
  test/functional/cmdLineTests/utilshelper/src_110/org/openj9/test/classtests/ClassTestHelper.java
Labels: comp:vm, jdk17

#13311 Add UTF to String cache for reflection calls
  runtime/gc/gctable.c
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/RootScanner.hpp
  runtime/gc_base/StringTable.cpp
  runtime/gc_base/gc_internal.h
  runtime/jcl/common/java_lang_StackWalker.cpp
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/jclexception.cpp
  runtime/jcl/common/reflecthelp.c
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/jvmfree.c
  runtime/vm/jvminit.c
Labels: comp:vm, comp:gc, depends:doc

#12043 New eden and heap sizing logic in Balanced GC
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_modron_startup/mmparse.cpp
  runtime/gc_modron_startup/mmparseXgc.cpp
  runtime/gc_stats/MarkVLHGCStats.hpp
  runtime/gc_verbose_handler_vlhgc/VerboseHandlerOutputVLHGC.cpp
  runtime/gc_verbose_handler_vlhgc/VerboseHandlerOutputVLHGC.hpp
  runtime/gc_vlhgc/ConfigurationIncrementalGenerational.cpp
  runtime/gc_vlhgc/EnvironmentVLHGC.cpp
  runtime/gc_vlhgc/EnvironmentVLHGC.hpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.hpp
  runtime/gc_vlhgc/MemorySubSpaceTarok.cpp
  runtime/gc_vlhgc/MemorySubSpaceTarok.hpp
  runtime/gc_vlhgc/ReclaimDelegate.cpp
  runtime/gc_vlhgc/SchedulingDelegate.cpp
  runtime/gc_vlhgc/SchedulingDelegate.hpp
Labels: comp:gc

#13528 Disable tests known to fail with forceAOT
  test/functional/JIT_Test/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatTests/playlist.xml
  test/functional/cmdLineTests/verbosetest/playlist.xml
Labels: comp:test

#13551 Fix cast warning from #12043
  runtime/gc_vlhgc/SchedulingDelegate.cpp
Labels: comp:gc

#13554 JDK17+ unify bootstrapClassLoader nativelibs w/ BootLoader
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm, jdk17

#13562 Revert "Add UTF to String cache for reflection calls "
  runtime/gc/gctable.c
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/RootScanner.hpp
  runtime/gc_base/StringTable.cpp
  runtime/gc_base/gc_internal.h
  runtime/jcl/common/java_lang_StackWalker.cpp
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/jclexception.cpp
  runtime/jcl/common/reflecthelp.c
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/jvmfree.c
  runtime/vm/jvminit.c
Labels: comp:vm, comp:gc

#13550 Add testng dependency in cmdLineTests/utils build file
  test/functional/cmdLineTests/buildTools.xml
  test/functional/cmdLineTests/utils/build.xml
Labels: comp:test

#13564 (0.29.0) Revert "Add UTF to String cache for reflection calls"
  runtime/gc/gctable.c
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/RootScanner.hpp
  runtime/gc_base/StringTable.cpp
  runtime/gc_base/gc_internal.h
  runtime/jcl/common/java_lang_StackWalker.cpp
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/jclexception.cpp
  runtime/jcl/common/reflecthelp.c
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/jvmfree.c
  runtime/vm/jvminit.c
Labels: comp:vm, comp:gc

#13565 Disable automatic execution of linter job
  .github/workflows/presubmit.yml
Labels: comp:build

#13560 (v0.29.0-release) JDK17+ unify bootstrapClassLoader nativelibs w/ BootLoader
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm, jdk17

#13553 Remove casts related to `reservedSize` and `freeTenure`
  runtime/gc_vlhgc/MemorySubSpaceTarok.cpp
  runtime/gc_vlhgc/SchedulingDelegate.cpp
Labels: comp:gc

#13568 Add UTF to String cache for reflection calls
  runtime/gc/gctable.c
  runtime/gc_base/StringTable.cpp
  runtime/gc_base/gc_internal.h
  runtime/jcl/common/java_lang_StackWalker.cpp
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/jclexception.cpp
  runtime/jcl/common/reflecthelp.c
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/VMAccess.cpp
  runtime/vm/jvmfree.c
  runtime/vm/jvminit.c
Labels: comp:vm

#13327 Update graph_req.os value in win_x86.spec
  buildspecs/win_x86.spec
  test/functional/NativeTest/playlist.xml
Labels: comp:test

#13576 (0.29) Add UTF to String cache for reflection calls
  runtime/gc/gctable.c
  runtime/gc_base/StringTable.cpp
  runtime/gc_base/gc_internal.h
  runtime/jcl/common/java_lang_StackWalker.cpp
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/jclexception.cpp
  runtime/jcl/common/reflecthelp.c
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/VMAccess.cpp
  runtime/vm/jvmfree.c
  runtime/vm/jvminit.c
Labels: comp:vm

#13580 JDK17+ reduce registerBootstrapLibrary usages
  runtime/include/j9lib.h.ftl
  runtime/include/j9lib.h.in
  runtime/j9vm/jvm.c
  runtime/vm/jvminit.c
  runtime/vm/vmprops.c
Labels: comp:vm, jdk17

#13583 (v0.29.0-release) JDK17+ reduce registerBootstrapLibrary usages
  runtime/include/j9lib.h.ftl
  runtime/include/j9lib.h.in
  runtime/j9vm/jvm.c
  runtime/vm/jvminit.c
  runtime/vm/vmprops.c
Labels: comp:vm, jdk17

#13592 Cannot have two aot instructions in test playlists
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatTests/playlist.xml
Labels: comp:test

#13579 Show ignored options in java dumps
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#13593 Remove unused extern declarations
  runtime/rasdump/trigger.c
Labels: comp:vm

#13555 Split loadArrayElement into two APIs
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit, project:valhalla

#13143 Fix memcpy byte-to-char loop reduction for little endian architectures
  runtime/compiler/optimizer/IdiomTransformations.cpp
  test/functional/JIT_Test/src/jit/test/loopReduction/bigEndianByte2CharMemCpy.java
  test/functional/JIT_Test/src/jit/test/loopReduction/idiomTests.java
  test/functional/JIT_Test/src/jit/test/loopReduction/littleEndianByte2CharMemCpy.java
Labels: bug, comp:jit

#13594 Bump bootjdk for 17 & next to 17
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#13395 Check for Qtype static field
  runtime/bcutil/ClassFileOracle.cpp
  runtime/gc_check/CheckEngine.cpp
Labels: comp:vm, comp:gc, project:valhalla

#13601 Remove J9RAS_DUMP_DO_HALT_ALL_THREADS and J9RAS_DUMP_THREADS_HALTED
  debugtools/DDR_VM/data/superset-constants.dat
  runtime/oti/j9dump.h
  runtime/rasdump/javadump.cpp
  runtime/rasdump/rasdump_internal.h
  runtime/rasdump/trigger.c
Labels: comp:vm

#13274 Enable ValueType testing on all platforms
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, project:valhalla

#13602 Fix @since tags in javadoc
  jcl/src/java.base/share/classes/java/lang/ref/Reference.java
  jcl/src/jdk.management/share/classes/com/sun/management/GcInfo.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/java/JavaClass.java
Labels: comp:vm

#13604 JDK17+ Access.decodeASCII() uses String.decodeASCII()
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm

#13603 JDK18 adds Access.encodeASCII()
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk18
