Repository eclipse-openj9/openj9, pull requests merged in 2021-06, with the labels that each got.

#11465 Standardize evaluator names across backends
  runtime/compiler/aarch64/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/arm/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.hpp
  runtime/compiler/p/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/x/amd64/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/x/i386/codegen/TreeEvaluatorTable.hpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
  runtime/compiler/z/codegen/TreeEvaluatorTable.hpp
Labels: comp:jit, depends:omr:breaking

#12793 Fix Java Options for testDDRExt_SharedClasses
  test/functional/DDR_Test/tck_ddrext.xml
Labels: comp:test

#12806 Disable J9-specific HCR code in OJDK implementation
  runtime/jvmti/jvmtiClass.c
  runtime/oti/util_api.h
  runtime/util/hshelp.c
Labels: project:MH

#12813 Add 31/64 shim functions for *StringPlatform APIs
  runtime/j9vm31/j9vm31.h
  runtime/j9vm31/jnimisc.cpp
Labels: comp:vm, os:zos

#12572 Fix object field copying issue on valueType
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ObjectFieldOffsetIterator_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ObjectFieldInfo.java
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/oti/j9.h
  runtime/vm/ObjectFieldInfo.cpp
  runtime/vm/createramclass.cpp
  runtime/vm/resolvefield.cpp
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/cmdLineTests/valuetypeddrtests/flattenedvaluetypeddrtests.xml
Labels: comp:vm, project:valhalla

#12745 Avoid folding MutableCallSite.target
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/il/J9Symbol.cpp
  runtime/compiler/il/J9Symbol.hpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
Labels: comp:jit

#12809 Remove code guarded by TR_OrderedCompiles
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#12820 Delete comment referring to obsolete J9VMJavaLangClassNativesCDLC
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ClassHelper.java
Labels: comp:vm

#12822 Cleanup parent folders instead of individual artifacts
  buildenv/jenkins/jobs/infrastructure/artifactory_cleanup.groovy
Labels: comp:build

#12825 New Artifactory Repo
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#12810 Read _JAVA_OPTIONS env var instead of JAVA_OPTIONS
  runtime/j9vm/jvm.c
  runtime/oti/jvminit.h
  runtime/oti/vmargs_api.h
  runtime/redirector/redirector.c
  runtime/util/vmargs.c
  test/functional/Java8andUp/src/org/openj9/test/vmArguments/VmArgumentTests.java
Labels: comp:vm, depends:doc

#12741 Mixedrefs build switches to nocompressedrefs automatically based on -Xmx
  runtime/gc_modron_startup/mminit.cpp
  runtime/oti/j9.h
  runtime/redirector/redirector.c
  runtime/vm/jvminit.c
Labels: comp:vm

#12799 Fix MemberName fields after Fast HCR and FSD
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jvmti/jvmtiClass.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/util_api.h
  runtime/util/hshelp.c
Labels: project:MH

#12823 Remove unused TR::CompilationTracingFacility
  runtime/compiler/control/CompilationOperations.hpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationTracingFacility.hpp
  runtime/compiler/control/MethodToBeCompiled.cpp
Labels: comp:jit

#12729 Adopt TR::InstOpCode on x86
  runtime/compiler/build/files/target/x.mk
  runtime/compiler/x/amd64/codegen/AMD64J9SystemLinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64JNILinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/codegen/Instruction.hpp
  runtime/compiler/x/codegen/J9LinkageUtils.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/x/codegen/J9X86Instruction.cpp
  runtime/compiler/x/codegen/J9X86Instruction.hpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.hpp
  runtime/compiler/x/i386/codegen/IA32JNILinkage.cpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
Labels: arch:x86, comp:jit, depends:omr:breaking

#12829 Update OpenJ9 CI links in GuideForCommitters.md
  doc/GuideForCommitters.md
Labels: comp:doc

#12824 Disallow error report/abort during ASGCT stack walk
  runtime/codert_vm/jswalk.c
  runtime/compiler/control/JitDump.cpp
  runtime/j9vm/asgct.cpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/rasdump/javadump.cpp
  runtime/vm/swalk.c
Labels: comp:vm

#12842 JDK17 update : add JavaLangAccess methods & @SuppressWarnings("removal") for SecurityManager
  jcl/src/java.base/share/classes/com/ibm/oti/vm/AbstractClassLoader.java
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  jcl/src/java.base/share/classes/java/lang/StackWalker.java
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/java.base/share/classes/java/lang/Thread.java
  jcl/src/java.base/share/classes/java/lang/ThreadGroup.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java
  jcl/src/java.base/share/classes/java/security/AccessControlContext.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ClassLoadingMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ManagementUtils.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/MemoryMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/MemoryPoolMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/RuntimeMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ThreadMXBeanImpl.java
  jcl/src/java.management/share/classes/java/lang/management/ManagementFactory.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9AttachProvider.java
  jcl/src/jdk.management/share/classes/openj9/lang/management/internal/OpenJ9DiagnosticsMXBeanImpl.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaDevice.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/CudaModule.java
  jcl/src/openj9.gpu/share/classes/com/ibm/gpu/CUDAManager.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Dump.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Log.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Trace.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedAbstractHelper.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedAbstractHelperFactory.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassUtilities.java
Labels: comp:vm

#12846 Disallow error report/abort during ASGCT stack walk
  runtime/codert_vm/jswalk.c
  runtime/compiler/control/JitDump.cpp
  runtime/j9vm/asgct.cpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/rasdump/javadump.cpp
  runtime/vm/swalk.c
Labels: comp:vm

#12558 Update ClassLoader_defineClassImpl1 + Redo InjectedInvoker Support
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/ROMClassBuilder.hpp
  runtime/bcutil/ROMClassCreationContext.hpp
  runtime/jcl/common/clsldr.cpp
Labels: comp:vm, project:MH

#12843 Update OpenJ9 CI links in various docs
  CONTRIBUTING.md
  buildenv/jenkins/README.md
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:doc

#12779 OJDK MHs test excludes + Process a list of test exclude files
  runtime/vm/vmprops.c
  test/TestConfig/resources/excludes/feature_ojdkmh_exclude.txt
  test/Utils/src/org/openj9/test/util/IncludeExcludeTestAnnotationTransformer.java
Labels: comp:test, project:MH

#12859 Fix incorrect AArch64 JNI instruction sequences
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
Labels: arch:aarch64, bug, comp:jit

#11862 Utilize fragmented memory as survivor in balanced gc
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCHeapRegionDescriptor_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/MM_HeapRegionDescriptorHelper.java
  runtime/ddr/gcddr.cpp
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_vlhgc/AllocationContextBalanced.cpp
  runtime/gc_vlhgc/AllocationContextBalanced.hpp
  runtime/gc_vlhgc/CollectionSetDelegate.cpp
  runtime/gc_vlhgc/CompactGroupPersistentStats.cpp
  runtime/gc_vlhgc/CompressedCardTable.cpp
  runtime/gc_vlhgc/CompressedCardTable.hpp
  runtime/gc_vlhgc/ConfigurationIncrementalGenerational.cpp
  runtime/gc_vlhgc/CopyForwardDelegate.cpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/CopyForwardScheme.hpp
  runtime/gc_vlhgc/GlobalAllocationManagerTarok.cpp
  runtime/gc_vlhgc/HeapRegionDataForAllocate.cpp
  runtime/gc_vlhgc/HeapRegionDataForAllocate.hpp
  runtime/gc_vlhgc/HeapRegionDescriptorVLHGC.cpp
  runtime/gc_vlhgc/HeapRegionDescriptorVLHGC.hpp
  runtime/gc_vlhgc/HeapRegionManagerVLHGC.cpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/InterRegionRememberedSet.cpp
  runtime/gc_vlhgc/MarkMapManager.cpp
  runtime/gc_vlhgc/MemorySubSpaceTarok.cpp
  runtime/gc_vlhgc/ParallelSweepSchemeVLHGC.cpp
  runtime/gc_vlhgc/ParallelSweepSchemeVLHGC.hpp
  runtime/gc_vlhgc/ProjectedSurvivalCollectionSetDelegate.cpp
  runtime/gc_vlhgc/ReclaimDelegate.cpp
  runtime/gc_vlhgc/RegionValidator.cpp
  runtime/gc_vlhgc/SchedulingDelegate.cpp
  runtime/gc_vlhgc/SurvivorMemoryIterator.hpp
  runtime/gc_vlhgc/SweepHeapSectioningVLHGC.cpp
  runtime/gc_vlhgc/SweepPoolManagerVLHGC.cpp
  runtime/gc_vlhgc/SweepPoolManagerVLHGC.hpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
Labels: comp:gc

#12865 JDK17 add Access.findNative(loader, entryName)
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm, jdk17

#12856 Increase JITClient socket default timeout to 10 seconds
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
Labels: comp:jitserver

#12877 Update CachedRowSet create method for illegal-access error
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/annotationClassLoader/Test_ClassLoader.java
Labels: comp:test

#12876 Fix Java options for testDDRExt_SharedClasses
  test/functional/DDR_Test/tck_ddrext.xml
Labels: comp:test

#12862 Add flags for CRIU Java APIs
  buildspecs/j9.flags
  jcl/jpp_configuration.xml
  runtime/cmake/options.cmake
  runtime/oti/j9consts.h
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm, criu

#12861 Fix deadlock when crashed thread holds onto the class unload mutex
  runtime/compiler/control/JitDump.cpp
Labels: comp:jit

#12883 Fix windows compilation failure
  runtime/bcutil/ROMClassBuilder.cpp
Labels: comp:vm

#12849 AArch64: Use CASAL instruction for monitor enter
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12872 AArch64: Add suppressInliningOfRecognizedMethod to code generator
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.hpp
Labels: arch:aarch64, comp:jit

#12767 Enable warnings as errors in compiler component on x86
  runtime/compiler/CMakeLists.txt
  runtime/compiler/codegen/CodeGenGC.cpp
  runtime/compiler/codegen/CodeGenRA.cpp
  runtime/compiler/codegen/J9CodeGenPhase.cpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9GCStackAtlas.cpp
  runtime/compiler/codegen/J9Instruction.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9CPU.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/infra/J9Monitor.hpp
  runtime/compiler/optimizer/DataAccessAccelerator.cpp
  runtime/compiler/optimizer/EstimateCodeSize.hpp
  runtime/compiler/optimizer/J9Optimizer.cpp
  runtime/compiler/optimizer/SPMDParallelizer.cpp
  runtime/compiler/ras/HashTable.hpp
  runtime/compiler/runtime/HWProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/J9CodeCacheManager.cpp
  runtime/compiler/runtime/J9CodeCacheManager.hpp
  runtime/compiler/runtime/J9Profiler.hpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/util_core/CMakeLists.txt
  runtime/util_core/j9shchelp.c
Labels: arch:x86, comp:build, comp:jit

#12882 Update DDR Extension test to run in REPORTDIR
  test/functional/DDR_Test/playlist.xml
Labels: comp:test

#12827 Add missing j9vm nls sample inputs
  runtime/nls/j9vm/j9vm.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_de.nls
  runtime/nls/j9vm/j9vm_es.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_ja.nls
  runtime/nls/j9vm/j9vm_ko.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/j9vm/j9vm_zh_TW.nls
Labels: comp:vm

#12826 Compile AIX with -qstackprotect
  runtime/cmake/platform/toolcfg/xlc.cmake
  runtime/compiler/build/toolcfg/aix-xlc/common.mk
  runtime/gc_glue_java/configure_includes/configure_aix_ppc.mk
  runtime/makelib/targets.mk.aix.inc.ftl
  runtime/shared_common/CompositeCache.cpp
Labels: comp:jit, comp:vm

#12895 Correct NLS sample inputs for j9vm
  runtime/nls/j9vm/j9vm.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_de.nls
  runtime/nls/j9vm/j9vm_es.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_ja.nls
  runtime/nls/j9vm/j9vm_ko.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/j9vm/j9vm_zh_TW.nls
Labels: comp:vm

#12852 Fix incorrect J9Class pointer in ClassCastException
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#12899 (0.27.0) Compile AIX with -qstackprotect
  runtime/cmake/platform/toolcfg/xlc.cmake
  runtime/compiler/build/toolcfg/aix-xlc/common.mk
  runtime/gc_glue_java/configure_includes/configure_aix_ppc.mk
  runtime/makelib/targets.mk.aix.inc.ftl
  runtime/shared_common/CompositeCache.cpp
Labels: comp:vm

#12873 AArch64: Fix usage of ScratchRegisterManger in VMinlineCompareAndSwap
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12902 AArch64: Stop generating a redundant shift instruction
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12904 31/64 Interop: Exploit CEEPCB_3164 bit and fix va_list_64 arg for NewObjectV
  runtime/j9vm31/j9cel4ro64.c
  runtime/j9vm31/jnicsup.cpp
  runtime/libffi/z/ffi64.c
Labels: comp:vm

#12900 Update version of docker container for JDK8&11 x86 compiles
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#12622 Fix ifInstanceOfEvaluator for unknown class cases
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: arch:power, comp:jit

#12880 Reset InjectedInvoker class name during Classfile Recreation
  runtime/bcutil/ClassFileWriter.hpp
Labels: comp:vm, project:MH

#12860 Reset InjectedInvoker class name during Classfile Recreation
  runtime/bcutil/ClassFileWriter.hpp
Labels: comp:vm, project:MH

#12901 AArch64: Use CASAL for Unsafe#compareAndSwap
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12889 Enable SSE3 feature check
  runtime/compiler/x/env/J9CPU.cpp
Labels: arch:x86, comp:jit

#12897 Adopt TR::InstOpCode on ARM
  runtime/compiler/arm/codegen/ARMJNILinkage.cpp
  runtime/compiler/arm/codegen/ARMJNILinkage.hpp
  runtime/compiler/arm/codegen/ARMPrivateLinkage.cpp
  runtime/compiler/arm/codegen/ARMPrivateLinkage.hpp
  runtime/compiler/arm/codegen/Instruction.hpp
  runtime/compiler/arm/codegen/J9ARMSnippet.cpp
  runtime/compiler/build/files/target/arm.mk
Labels: arch:aarch32, comp:jit, depends:omr:breaking

#12913 Remove limit on number of JITServer compilation threads
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#12776 Add support for delayed start of JITServer
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
Labels: comp:jitserver

#12908 Handle optional fields in obsolete types
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/StructureStubGenerator.java
Labels: comp:vm

#12903 Allow NULL currentThread in J9VMThread blockingEnterObject read
  runtime/gc_base/accessBarrier.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_realtime/RealtimeAccessBarrier.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc, comp:vm

#12898 Update release notes for JAVA_OPTIONS
  doc/release-notes/0.27/0.27.md
Labels: comp:doc

#12905 Account for array header alignment for multianewarray evaluator
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  test/functional/JIT_Test/playlist.xml
Labels: arch:x86, arch:z, bug, comp:jit

#12870 Enable runaqa PR build
  .github/workflows/runAqa.yml
  .github/workflows/runAqaConfig.json
Labels: comp:test

#12925 Add option -Xaot:disableSharedCacheHints in SCC CML tests
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-6.xml
Labels: comp:test

#12912 Fix memory leaks when using fast client session destruction
  runtime/compiler/runtime/JITClientSession.cpp
Labels: comp:jitserver

#12920 Tweaks to Value Propagation for value types prototype support
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit, perf, project:valhalla

#12924 (0.27) Account for array header alignment for multianewarray evaluator
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  test/functional/JIT_Test/playlist.xml
Labels: arch:x86, arch:z, bug, comp:jit

#12909 Update git url to adoptium/aqa-tests
  buildenv/jenkins/README.md
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#12855 Stop using unsafe sprintf() in InterpreterEmulator
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/InterpreterEmulator.hpp
Labels: comp:jit

#12936 (0.27.0) Handle optional fields in obsolete type
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/StructureStubGenerator.java
Labels: comp:vm

#12933 Modify the translated PII files in nls folder 20210610
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_ru.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/dump/j9dmp_ca.nls
  runtime/nls/dump/j9dmp_cs.nls
  runtime/nls/dump/j9dmp_it.nls
  runtime/nls/dump/j9dmp_ru.nls
  runtime/nls/dump/j9dmp_sk.nls
  runtime/nls/dump/j9dmp_zh.nls
  runtime/nls/dump/j9dmp_zh_CN.nls
  runtime/nls/dump/j9dmp_zh_TW.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/jitm/j9jit_ca.nls
  runtime/nls/jitm/j9jit_it.nls
  runtime/nls/jitm/j9jit_sk.nls
  runtime/nls/jitm/j9jit_tr.nls
  runtime/nls/jitm/j9jit_zh.nls
  runtime/nls/jitm/j9jit_zh_CN.nls
  runtime/nls/jitm/j9jit_zh_TW.nls
Labels: comp:jit, comp:vm

#12929 add mode 616 to cmdLineTester_jython test
  test/functional/cmdLineTests/jython/playlist.xml
Labels: comp:test

#12667 Update <plat> to <platform> for playlist disabled tag
  test/docs/OpenJ9TestUserGuide.md
  test/functional/JLM_Tests/playlist.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/NativeTest/playlist.xml
  test/functional/RasapiTest/playlist.xml
  test/functional/VM_Test/playlist.xml
  test/functional/cmdLineTests/URLClassLoaderTests/playlist.xml
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/playlist.xml
  test/functional/cmdLineTests/dumpromtests/playlist.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/playlist.xml
  test/functional/cmdLineTests/libpathTest/playlist.xml
  test/functional/cmdLineTests/pltest/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/playlist.xml
Labels: comp:test

#12938 (0.27.0) Modify the translated PII files in nls folder 20210610
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_ru.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/dump/j9dmp_ca.nls
  runtime/nls/dump/j9dmp_cs.nls
  runtime/nls/dump/j9dmp_it.nls
  runtime/nls/dump/j9dmp_ru.nls
  runtime/nls/dump/j9dmp_sk.nls
  runtime/nls/dump/j9dmp_zh.nls
  runtime/nls/dump/j9dmp_zh_CN.nls
  runtime/nls/dump/j9dmp_zh_TW.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/jitm/j9jit_ca.nls
  runtime/nls/jitm/j9jit_it.nls
  runtime/nls/jitm/j9jit_sk.nls
  runtime/nls/jitm/j9jit_tr.nls
  runtime/nls/jitm/j9jit_zh.nls
  runtime/nls/jitm/j9jit_zh_CN.nls
  runtime/nls/jitm/j9jit_zh_TW.nls
Labels: comp:jit, comp:vm

#12892 Set add-opens for several packages due to JEP 403
  test/functional/Java14andUp/playlist.xml
  test/functional/JavaAgentTest/playlist.xml
  test/functional/Jsr292/playlist.xml
Labels: comp:test

#12931 JDK18 bringup - add JAVA18 JPP pConfig, Access.exit & MajorVersion
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/Access.java
  runtime/bcutil/defineclass.c
  runtime/oti/j2sever.h
  runtime/oti/j9nonbuilder.h
Labels: comp:vm, jdk-head

#12840 Fix a number of issues related to runtime resolution of methods
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9methodServer.cpp
Labels: comp:jitserver

#12926 Increase maximum number of JITServer compilation threads
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#12405 JITServer AOT cache deserializer
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/runtime/CMakeLists.txt
  runtime/compiler/runtime/JITServerAOTCache.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
  runtime/compiler/runtime/JITServerAOTSerializationRecords.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jitserver

#12939 Use client's object alignment value on the JITServer
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#12946 AArch64: Fix alignment in VMnewEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12928 AArch64: Fix getLoadOpCodeFromDataType()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12949 Add latest_exclude_18.txt & jvmtitests_excludes_18.xml
  test/TestConfig/resources/excludes/latest_exclude_15.txt
  test/TestConfig/resources/excludes/latest_exclude_18.txt
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_10.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_12.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_13.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_14.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_15.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_18.xml
Labels: comp:test

#12685 RISC-V: add skeleton of codert_vm component
  runtime/codert_vm/CMakeLists.txt
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/riscvnathelp.m4
  runtime/jilgen/jilconsts.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/riscvhelpers.m4
  runtime/oti/stackwalk.h
Labels: arch:riscv, comp:jit

#12864 Inline MutableCallSite targets with LambdaForm
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/CHTable.cpp
  runtime/compiler/env/JITServerCHTable.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/InterpreterEmulator.hpp
  runtime/compiler/optimizer/J9Inliner.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
  runtime/compiler/runtime/codertinit.cpp
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/jclcinit.c
  runtime/oti/j9nonbuilder.h
Labels: comp:jit

#12848 Store ROM Method arg slot count in floatTemp1 for linkToStatic
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:jit, depends:omr

#12958 Exclude building riscvnathelp.m4 within codert_vm/modules.xml
  runtime/codert_vm/module.xml
Labels: arch:riscv

#12891 Exclude tests due to JEP 403
  test/functional/Java9andUp/playlist.xml
  test/functional/cmdLineTests/modularityddrtests/exclude.xml
  test/functional/cmdLineTests/modularityddrtests/playlist.xml
Labels: comp:test

#12668 Defer the default conflict exception until MH.invoke
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/initsendtarget.cpp
  test/TestConfig/resources/excludes/feature_ojdkmh_exclude.txt
Labels: comp:vm, project:MH

#12962 Checkout directly to OPENJSK_SHA if passed
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#12950 CRIUSupport helpers
  buildspecs/core.feature
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/CRIUSupport.java
  runtime/cmake/platform/toolcfg/gnu.cmake
  runtime/include/j9cfg.h.in
  runtime/jcl/CMakeLists.txt
  runtime/jcl/common/criusupport.c
  runtime/jcl/exports.cmake
  runtime/jcl/module.xml
  runtime/jcl/uma/criusupport_exports.xml
  runtime/jcl/uma/criusupport_objects.xml
  runtime/oti/jclprots.h
Labels: comp:vm, criu

#12955 (0.27.0) Fix incorrect J9Class pointer in ClassCastException
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#12935 Cleanup some obsoleted defines after JDK18 version introduced
  debugtools/DDR_VM/data/superset-constants.dat
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/cfreader.c
  runtime/bcutil/defineclass.c
  runtime/bcverify/staticverify.c
  runtime/jcl/common/sun_misc_Unsafe.cpp
  runtime/jcl/unix/syshelp.c
  runtime/jcl/win32/syshelp.c
  runtime/jvmti/jvmtiGeneral.c
  runtime/oti/j2sever.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/jvminit.c
  runtime/vm/visible.c
Labels: comp:vm

#12850 AArch64: Use store-release for monitor exit
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12968 Fix a memory leak in runtime assumption list
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
Labels: comp:jit

#12922 Move all x86 mnemonics into the TR::InstOpCode class
  runtime/compiler/x/amd64/codegen/AMD64J9SystemLinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64JNILinkage.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9LinkageUtils.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/x/codegen/X86HelperLinkage.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/codegen/X86Recompilation.cpp
  runtime/compiler/x/i386/codegen/IA32J9SystemLinkage.cpp
  runtime/compiler/x/i386/codegen/IA32JNILinkage.cpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
Labels: arch:x86, comp:jit, depends:omr:breaking

#12973 Move all ARM mnemonics into the TR::InstOpCode class
  runtime/compiler/arm/codegen/ARMJNILinkage.cpp
  runtime/compiler/arm/codegen/ARMPrivateLinkage.cpp
  runtime/compiler/arm/codegen/ARMRecompilation.cpp
  runtime/compiler/arm/codegen/CallSnippet.cpp
  runtime/compiler/arm/codegen/Instruction.hpp
  runtime/compiler/arm/codegen/J9ARMEvaluator.cpp
  runtime/compiler/arm/codegen/J9ARMSnippet.cpp
  runtime/compiler/arm/codegen/J9CodeGenerator.cpp
  runtime/compiler/arm/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch32, comp:jit, depends:omr:breaking

#12983 Select the correct internal method for foldArguments
  test/functional/Jsr292/src/com/ibm/j9/jsr292/api/MethodHandleAPI_foldArguments.java
Labels: comp:test

#12914 Increase maximum number of JIT client compilation threads
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/JITServerPersistentCHTable.cpp
  runtime/compiler/env/JITServerPersistentCHTable.hpp
  runtime/compiler/runtime/RuntimeAssumptions.cpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
Labels: comp:jit

#12879 Inject IdentityInterface to "heavy" abstract classes when necessary
  runtime/bcutil/BuildResult.hpp
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/ROMClassCreationContext.cpp
  runtime/bcutil/defineclass.c
  runtime/bcutil/romphase.h
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/bcutil.h
  runtime/oti/j9javaaccessflags.h
  runtime/oti/j9modifiers_api.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/createramclass.cpp
  test/TestConfig/resources/excludes/feature_vtstandard_exclude.txt
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#12978 AArch64: Implement guarded devirtualization
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12988 AArch64: Suppress a compiler warning
  runtime/compiler/aarch64/runtime/Recomp.cpp
Labels: arch:aarch64, comp:jit

#12954 CMake: apply OMR_EXE_LAUNCHER when launching jilgen
  runtime/jilgen/CMakeLists.txt
Labels: cmake, comp:build

#12535 CMake: set output directory for static libs
  runtime/CMakeLists.txt
  runtime/jsigWrapper/CMakeLists.txt
  runtime/redirector/CMakeLists.txt
Labels: cmake, comp:build

#12984 Check runtime resolve flag in TR_ResolvedJ9JITServerMethod::getClassFromConstantPool
  runtime/compiler/env/j9methodServer.cpp
Labels: comp:jitserver

#12611 Preserve entire contents of XMM registers across helper calls on X
  runtime/codert_vm/xnathelp.m4
  runtime/oti/j9nonbuilder.h
  runtime/oti/xhelpers.m4
Labels: arch:x86, comp:jit, project:panama

#12994 Add additional check for romClass in iterateStackTrace()
  runtime/vm/exceptiondescribe.c
Labels: comp:vm

#12966 Fix a bug in assumption reclamation
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: comp:jit

#12999 Add jdk17 to the build pipelines
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#13005 Update Build JDK Timeout Handler job to use jtreg5.1-b01.tar.gz
  buildenv/jenkins/jobs/infrastructure/buildJDKTimeoutHandler.groovy
Labels: comp:test

#13007 JDK17 requires JavaLangAccess.exit(status) implementation
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm

#12716 Hide generated frames with hidden annotation
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/jcl/common/java_lang_Class.cpp
  runtime/oti/VMHelpers.hpp
  runtime/sunvmi/sunvmi.c
  runtime/vm/NativeHelpers.cpp
Labels: comp:vm, project:MH

#12997 AArch64: Implement static PICs for virtual and interface call
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.hpp
Labels: arch:aarch64, comp:jit

#13025 (v0.27.0)Add additional check for romClass in iterateStackTrace()
  runtime/vm/exceptiondescribe.c
Labels: comp:vm

#12998 Add a flag to method metadata indicating a remote compilation
  runtime/compiler/runtime/MetaData.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:jitserver

#13011 exclude hotspot for classTestHelper compilation
  test/functional/cmdLineTests/utils/build.xml
  test/functional/cmdLineTests/utils2/build.xml
Labels: comp:test

#13030 (0.27) Allow NULL currentThread in J9VMThread blockingEnterObject read
  runtime/gc_base/accessBarrier.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_realtime/RealtimeAccessBarrier.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc, comp:vm

#13009 Fix TR_ValueProfiler initialization to allow arraycopy length profiling
  runtime/compiler/runtime/J9Profiler.hpp
Labels: comp:jit

#12970 AArch64: Implement ArrayCHKEvaluator()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
Labels: arch:aarch64, comp:jit

#13036 Docker: add jdk17 to git repository cache
  buildenv/docker/mkdocker.sh
Labels: comp:build

#13031 AArch64: Implement debug print functions for CallSnippets
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
Labels: arch:aarch64, comp:jit

#13035 Add missing bytecodes to ROM class walk
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/RomClassWalker.java
  runtime/util/romclasswalk.c
Labels: comp:jitserver, comp:vm

#13026 Simplify the logic for identifying minimum free size for sweeping
  runtime/gc_vlhgc/SweepHeapSectioningVLHGC.cpp
  runtime/gc_vlhgc/SweepPoolManagerVLHGC.cpp
  runtime/gc_vlhgc/SweepPoolManagerVLHGC.hpp
Labels: comp:gc

#12985 Fix potential Segmentation Error due to a NULL hotFieldPoolMutex
  runtime/vm/resolvefield.cpp
Labels: comp:vm

#12590 CMake: rework compressed AOT data in the jit
  runtime/compiler/CMakeLists.txt
Labels: cmake, comp:build, comp:jit

#13045 Remove unused ant tasks
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ant/ExecOverFiles.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ant/PrefixJUnitResults.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ant/tasks/ClassList.java
Labels: comp:vm

#13044 Add explicit assignment to workaround JDK8 zOS 64bit compiler issue
  runtime/bcutil/defineclass.c
  runtime/oti/j9nonbuilder.h
Labels: comp:vm

#13033 Ensure consistency in the ClassLoader hash table
  runtime/oti/vm_api.h
  runtime/vm/KeyHashTable.c
  runtime/vm/classallocation.c
  runtime/vm/createramclass.cpp
Labels: comp:vm

#12969 Add JVM checkpoint API
  jcl/.classpath
  jcl/jpp_configuration.xml
  jcl/src/openj9.criu/share/classes/module-info.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUDumpPermission.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  runtime/jcl/common/criusupport.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/criusupport_exports.xml
  runtime/nls/j9cl/j9jcl.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/vm_api.h
  runtime/vm/CMakeLists.txt
  runtime/vm/criuhelpers.cpp
  runtime/vm/intfunc.c
Labels: comp:vm, criu

#12976 Add ExcludeTestAnnotationTransformer listener to testUnreflect
  test/functional/Java9andUp/playlist.xml
  test/functional/Java9andUp/testUnreflect.xml
Labels: comp:test, project:MH

#13013 Simplify fePreProcess
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
Labels: comp:jit

#13058 delete getDependentLibs in lockWordAlignment build.xml
  test/functional/cmdLineTests/lockWordAlignment/build.xml
Labels: comp:test

#12200 Replicate Methodhandle.invoke/invokeExact behavior in OJDK impl
  runtime/jcl/CMakeLists.txt
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/module.xml
  runtime/jcl/uma/java_dyn_methodhandle_exports.xml
  runtime/jcl/uma/java_lang_invoke_MethodHandleNatives_objects.xml
  runtime/jcl/uma/se829_exports.xml
  runtime/oti/jclprots.h
Labels: comp:vm, project:MH

#12987 AArch64: Add arraycopy helpers
  runtime/compiler/aarch64/runtime/CMakeLists.txt
  runtime/compiler/build/files/host/aarch64.mk
  runtime/compiler/runtime/Runtime.cpp
Labels: arch:aarch64, comp:jit

#13052 Exclude failing tests in jsr292Tests_JitCount0
  test/TestConfig/resources/excludes/feature_ojdkmh_exclude.txt
Labels: comp:test

#12932 Move java specific evaluators from OMR
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
Labels: arch:z, comp:jit

#13046 Rename External MM Barrier APIs
  runtime/codert_vm/cnathelp.cpp
  runtime/gc/gctable.c
  runtime/gc_base/accessBarrier.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_include/ObjectAccessBarrierAPI.hpp
  runtime/gc_modron_standard/StandardAccessBarrier.cpp
  runtime/oti/j9accessbarrier.h
  runtime/oti/j9nonbuilder.h
  runtime/util/hshelp.c
Labels: comp:gc

#12854 Cleanup EstimateCodeSize magic numbers
  runtime/compiler/optimizer/EstimateCodeSize.cpp
  runtime/compiler/optimizer/EstimateCodeSize.hpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#13047 AArch64: Set correct instruction as implicit exception point
  runtime/compiler/aarch64/codegen/J9InstructionDelegate.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#13040 Use preprocessor for DDR_VM code
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/tdump/TDumpReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/tdump/zebedee/dumpreader/Dump.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/tdump/zebedee/dumpreader/MVSFileReader.java
  jcl/jpp_configuration.xml
  jcl/src/openj9.dtfj/share/classes/com/ibm/jzos/ZFile.java
  sourcetools/com.ibm.jpp.preprocessor/com/ibm/jpp/commandline/CommandlineBuilder.java
Labels: comp:vm

#13072 Fix typo in Artifactory cleanup
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#13059 Add MN_TRUSTED_FINAL to MemberName flags
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9nonbuilder.h
Labels: project:MH

#13076 (0.27.0) Use preprocessor for DDR_VM code
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/tdump/TDumpReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/tdump/zebedee/dumpreader/Dump.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/tdump/zebedee/dumpreader/MVSFileReader.java
  jcl/jpp_configuration.xml
  jcl/src/openj9.dtfj/share/classes/com/ibm/jzos/ZFile.java
  sourcetools/com.ibm.jpp.preprocessor/com/ibm/jpp/commandline/CommandlineBuilder.java
Labels: comp:vm

#13079 Parse command line double values using `.` instead of locale setting
  runtime/util_core/j9argscan.c
Labels: comp:gc, comp:vm

#13093 (0.27.0) Parse command line double values using `.` instead of locale setting
  runtime/util_core/j9argscan.c
Labels: comp:gc, comp:vm

#13086 Replace hard-code JAVA_MODULE_VERSION with JAVA_SPEC_VERSION_STRING
  runtime/ddr/j9ddr.h
  runtime/jcl/common/jclexception.c
  runtime/jvmti/jvmtiCapability.c
  runtime/oti/j9comp.h
  runtime/oti/jvminit.h
  runtime/vm/exceptiondescribe.c
  runtime/vm/vmprops.c
Labels: comp:vm

#13090 Update jit_jitt_array_compress unit test to set -Xmx
  test/functional/JIT_Test/playlist.xml
Labels: comp:jit, comp:test

#13091 (0.27.0) Update jit_jitt_array_compress unit test to set -Xmx
  test/functional/JIT_Test/playlist.xml
Labels: comp:jit, comp:test

#13070 Fix and re-enable inliner ILGen reduction of getCallerClass
  debugtools/DDR_VM/data/superset-constants.dat
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.hpp
  runtime/oti/j9consts.h
Labels: comp:jit, perf
