Repository eclipse-openj9/openj9, pull requests merged in 2021-05, with the labels that each got.

#12586 Replace TR_RequireJITServer with a command line option
  doc/compiler/jitserver/Problem.md
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
Labels: comp:jitserver

#12597 Do not lower decompressed NULL reference to iconst before storing compressed reference
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#12607 Use new updateGetProcessorName routine
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jit

#12606 Cleanup CompilationThread.cpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#12400 Update JIT inline array allocation sequence on x
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: arch:x86, comp:jit

#12610 CMake: Fix jvmtitest exports on z/OS
  runtime/tests/jvmtitests/agent/CMakeLists.txt
  runtime/tests/jvmtitests/src/CMakeLists.txt
Labels: cmake, comp:build

#12617 Add Artifactory info for removing anon-read and adding openj9 account
  buildenv/jenkins/ARTIFACTORY.md
Labels: comp:doc

#12587 Delayed transformation tree lowering
  runtime/compiler/optimizer/TreeLowering.cpp
  runtime/compiler/optimizer/TreeLowering.hpp
Labels: comp:jit, project:valhalla

#12612 Fix getSignatureForLinkToStaticFor*()
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.h
Labels: comp:jit

#12624 Fix build error on big endian platforms
  runtime/compiler/optimizer/TreeLowering.cpp
  runtime/compiler/optimizer/TreeLowering.hpp
Labels: comp:jit

#12620 Update the error action for ACC_MODULE
  runtime/bcutil/cfreader.c
  runtime/bcutil/j9bcu.tdf
  test/functional/Java9andUp/src/org/openj9/test/defineModuleAsClass/DefineModuleAsClassTest.java
Labels: comp:vm

#12626 Prevent expensive compilations from exhausting available memory at JITServer
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
Labels: comp:jitserver

#12636 Add Retry with delay to initial clone
  buildenv/jenkins/jobs/pipelines/Pipeline-Initialize.groovy
Labels: comp:build

#12577 AArch64: Issue correct memory barrier instruction at monent/monexit
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#11994 CMake: Add initial zos caches
  runtime/cmake/caches/zos_390-64.cmake
  runtime/cmake/caches/zos_390-64_cmprssptrs.cmake
Labels: cmake, comp:build

#12634 CMake: set -Wc,inline on z/OS
  runtime/cmake/platform/os/zos.cmake
Labels: cmake, comp:build, os:zos

#12609 Fixup OS stack free with more accurate stack size
  runtime/jvmti/jvmtiThread.c
  runtime/oti/j9cfg_builder.h
  runtime/oti/util_api.h
  runtime/util/thrhelp.c
  runtime/util/util.tdf
  runtime/vm/callin.cpp
  runtime/vm/j9vm.tdf
  runtime/vm/jniinv.c
  runtime/vm/vmthread.c
Labels: comp:vm

#12633 Deprecate TR_OptimizeForSpace
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/arm/codegen/J9ARMEvaluator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#12641 Set system property native.encoding
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, jdk17

#12623 Move areValueTypesEnabled() from jvminit.c
  runtime/vm/ValueTypeHelpers.cpp
  runtime/vm/jvminit.c
Labels: comp:vm

#12635 Deprecate unsigned IL
  runtime/compiler/codegen/CodeGenGPU.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#12650 Add documentation for relocation records
  doc/compiler/aot/README.md
  doc/compiler/aot/RelocationRecords.md
Labels: comp:jit, comp:jit:aot

#12625 Sending Client feedback about number of active compilations threads
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/net/CommunicationStream.hpp
Labels: comp:jitserver

#12467 Look for opportunities in Value Propagation to replace nonhelper and helper calls for value type support with inline IL
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/J9ValuePropagation.hpp
Labels: comp:jit, perf, project:valhalla

#12627 Convert RegisterDependencyGroup to an extensible class
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/build/files/common.mk
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
Labels: comp:jit, depends:omr:breaking

#12665 Fixup OS stack free with more accurate stack size ver2
  runtime/jvmti/jvmtiThread.c
  runtime/oti/j9cfg_builder.h
  runtime/oti/util_api.h
  runtime/util/thrhelp.c
  runtime/util/util.tdf
  runtime/vm/callin.cpp
  runtime/vm/j9vm.tdf
  runtime/vm/jniinv.c
  runtime/vm/vmthread.c
Labels: comp:vm

#12644 Enable warnings as errors in compiler component on OSX
  runtime/compiler/codegen/CodeGenGPU.cpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/env/PersistentCHTable.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/annotations/AnnotationBase.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/J9Node.cpp
  runtime/compiler/ilgen/ClassLookahead.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/IdiomRecognition.cpp
  runtime/compiler/optimizer/IdiomRecognitionUtils.cpp
  runtime/compiler/optimizer/IdiomTransformations.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/J9SimplifierHandlers.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/JProfilingBlock.cpp
  runtime/compiler/optimizer/JitProfiler.cpp
  runtime/compiler/optimizer/LoopAliasRefiner.cpp
  runtime/compiler/optimizer/MethodHandleTransformer.cpp
  runtime/compiler/optimizer/MonitorElimination.cpp
  runtime/compiler/optimizer/SPMDParallelizer.cpp
  runtime/compiler/optimizer/SPMDPreCheck.cpp
  runtime/compiler/optimizer/StringPeepholes.cpp
  runtime/compiler/optimizer/UnsafeFastPath.cpp
  runtime/compiler/optimizer/VarHandleTransformer.cpp
  runtime/compiler/ras/DebugExt.cpp
  runtime/compiler/runtime/J9Profiler.cpp
  runtime/compiler/runtime/J9ValueProfiler.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#12675 Replace decompress calls with StringLatin1.inflate and improve StringLatin1.inflate API tests
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/JIT_Test/src/jit/test/recognizedMethod/TestJavaLangStringLatin1.java
Labels: comp:test, comp:vm

#12680 AArch64: Enable supportsInliningOfIsInstance flag
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.hpp
Labels: arch:aarch64, comp:jit

#12439 Enable JitDump support on JITServer
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/JitDump.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/env/j9jit.tdf
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/runtime/CompileService.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#12125 Enabled Global Lock Reservation by default on Power
  doc/compiler/ObjectLockword.md
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/vm/jvminit.c
Labels: arch:power, comp:jit, depends:doc

#12684 Add documentation: how to add a new relocation record
  doc/compiler/aot/AddingNewRelocation.md
  doc/compiler/aot/README.md
Labels: comp:jit, comp:jit:aot

#12604 Access.protectionDomain() invokes clazz.getProtectionDomainInternal()
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  test/functional/cmdLineTests/J9security/build.xml
  test/functional/cmdLineTests/J9security/j9SecurityTest.xml
  test/functional/cmdLineTests/J9security/jsr292.policy
  test/functional/cmdLineTests/J9security/playlist.xml
  test/functional/cmdLineTests/J9security/src/com/ibm/j9/jsr292/indyn/TestJSR292.java
  test/functional/cmdLineTests/J9security/src/com/ibm/j9/jsr292/indyn/bootpath/CodeNotTrusted.java
Labels: comp:vm

#12671 AArch64: Complete implementation of Unsafe CAS
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12660 Disable impdep1 handling for OpenJDK MHs
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/BytecodeInterpreter.inc
  runtime/vm/jvminit.c
  runtime/vm/swalk.c
Labels: project:MH

#12694 Fix warnings due to improper use of strncpy()
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/tests/redirector/jep178/testjep178.c
Labels: comp:jit, comp:test, comp:vm

#12700 JDK17 Add Access.findBootstrapClassOrNull(name)
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  test/functional/Java8andUp/java8andUpSettings.mk
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src_110_up/j9vm/test/invoker/InvokeSpecialInsideInterface.java
  test/functional/Java8andUp/src_80/j9vm/test/invoker/InvokeSpecialInsideInterface.java
  test/functional/Jsr335/build.xml
  test/functional/Jsr335/playlist.xml
  test/functional/Jsr335/src_110_up/org/openj9/test/jsr335/defineAnonClass/DefineAnonClass.java
  test/functional/Jsr335/src_80/org/openj9/test/jsr335/defineAnonClass/DefineAnonClass.java
Labels: comp:test, comp:vm

#12702 Move f2i, f2l, d2i, d2l evaluators from OMR to OpenJ9
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
Labels: comp:jit

#12686 Add isNonNull check on the fast acmp path in tree lowering
  runtime/compiler/optimizer/TreeLowering.cpp
Labels: comp:jit, project:valhalla

#12718 Fix build break in J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: arch:x86, bits:32, bug, comp:jit

#12703 AArch64: Enable AtomicFreeJNI
  buildspecs/linux_aarch64.spec
  buildspecs/linux_aarch64_cmprssptrs.spec
  buildspecs/linux_aarch64_cmprssptrs_cross.spec
  buildspecs/linux_aarch64_cross.spec
  runtime/cmake/caches/linux_aarch64.cmake
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.hpp
  runtime/compiler/control/J9Options.cpp
Labels: arch:aarch64

#12714 Improve JITServer::MessageBuffer capacity expansion mechanism
  runtime/compiler/net/MessageBuffer.cpp
  runtime/compiler/net/MessageBuffer.hpp
Labels: comp:jitserver

#12711 Add initial 0.27 release notes
  doc/release-notes/0.27/0.27.md
Labels: comp:doc

#12677 Unify a set of common pseudo-instructions across codegens
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9SystemLinkageLinux.cpp
  runtime/compiler/z/codegen/J9SystemLinkagezOS.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/ReduceSynchronizedFieldLoad.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390Recompilation.cpp
Labels: comp:jit, depends:omr:breaking

#12726 Update CONTRIBUTING.md with additional requirements for doc
  CONTRIBUTING.md
Labels: comp:doc

#12708 Properly free ROMClass when caching at the JITServer fails
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/runtime/JITClientSession.cpp
Labels: comp:jitserver

#12704 AArch64: Enhance ArrayStoreCHKEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12737 Fix -Wswitch
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit, os:macos

#12730 Fix mismatch in filename case causing macOS builds to fail
  runtime/libffi/CMakeLists.txt
Labels: cmake, comp:build, comp:vm

#12744 Add comment about missing break statement
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#12549 Store number of arguments in vmThread.floatTemp1 for linkToStatic
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/oti/j9nonbuilder.h
Labels: comp:jit, project:MH

#12762 Print JITServer options in effect into the verbose log
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#12758 AArch64: Fix VMinlineCompareAndSwapObject
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#12688 String.substring() StringIndexOutOfBoundsException helpful messages
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm

#12743 Fix race condition in JITServer cache initialization
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#12770 compile Jsr335 for ibm/openj9 only
  test/functional/Jsr335/build.xml
Labels: comp:test

#12771 compile J9security for ibm/openj9 only
  test/functional/cmdLineTests/J9security/build.xml
Labels: comp:test

#12773 31/64 Interop: Fix va_list_64 arguments pointer for Call*MethodV
  runtime/j9vm31/jnicgen.cpp
Labels: comp:vm

#12765 Remove TR_DebugExt
  runtime/compiler/build/files/common.mk
  runtime/compiler/build/scripts/j9jit.aix.exp
  runtime/compiler/build/scripts/j9jit.def
  runtime/compiler/build/scripts/j9jit.linux.debug.exp
  runtime/compiler/build/scripts/j9jit.linux.exp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationOperations.hpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/CompilationTracingFacility.hpp
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/CHTable.hpp
  runtime/compiler/env/ClassLoaderTable.hpp
  runtime/compiler/env/J9KnownObjectTable.hpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/env/J9VMEnv.cpp
  runtime/compiler/env/RuntimeAssumptionTable.hpp
  runtime/compiler/env/exports.h
  runtime/compiler/env/j9method.h
  runtime/compiler/il/J9Node.hpp
  runtime/compiler/infra/J9MonitorTable.hpp
  runtime/compiler/ras/CFGCheckerExt.hpp
  runtime/compiler/ras/CMakeLists.txt
  runtime/compiler/ras/DebugExt.cpp
  runtime/compiler/ras/DebugExt.hpp
  runtime/compiler/ras/DebugExtSegmentProvider.cpp
  runtime/compiler/ras/DebugExtSegmentProvider.hpp
  runtime/compiler/ras/HashTable.hpp
  runtime/compiler/ras/InternalFunctions.hpp
  runtime/compiler/ras/InternalFunctionsExt.hpp
  runtime/compiler/runtime/DataCache.hpp
  runtime/compiler/runtime/J9CodeCache.hpp
  runtime/compiler/runtime/MetaDataDebug.cpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/dbgext/CMakeLists.txt
  runtime/dbgext/dbgext_internal.h
  runtime/dbgext/j9dbgext.c
  runtime/dbgext/trdbgext.c
  runtime/jextractnatives/jextractglue.c
  runtime/oti/dbgext_api.h
Labels: comp:jit, comp:vm

#12775 Update release notes for 0.27 for Balanced GC Optimization
  doc/release-notes/0.27/0.27.md
Labels: comp:doc

#12777 Revert "Store number of arguments in vmThread.floatTemp1 for linkToStatic"
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/oti/j9nonbuilder.h
Labels: comp:jit

#12731 AArch64: Support FastJNI
  runtime/compiler/env/j9method.cpp
Labels: arch:aarch64, comp:jit

#12763 Delete J9::TransformUtil::transformIndirectLoad()
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
Labels: comp:jit

#12774 AIX compiler upgrade
  buildspecs/aix_ppc-64.spec
  buildspecs/aix_ppc-64_cmprssptrs.spec
  buildspecs/aix_ppc.spec
  buildspecs/linux_390-64.spec
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_390.spec
  buildspecs/linux_aarch64.spec
  buildspecs/linux_aarch64_cmprssptrs.spec
  buildspecs/linux_aarch64_cmprssptrs_cross.spec
  buildspecs/linux_aarch64_cross.spec
  buildspecs/linux_arm.spec
  buildspecs/linux_arm_linaro.spec
  buildspecs/linux_ppc-64.spec
  buildspecs/linux_ppc-64_cmprssptrs.spec
  buildspecs/linux_ppc-64_cmprssptrs_le.spec
  buildspecs/linux_ppc-64_le.spec
  buildspecs/linux_ppc.spec
  buildspecs/linux_riscv64.spec
  buildspecs/linux_riscv64_cmprssptrs.spec
  buildspecs/linux_riscv64_cmprssptrs_cross.spec
  buildspecs/linux_riscv64_cross.spec
  buildspecs/linux_x86-64.spec
  buildspecs/linux_x86-64_cmprssptrs.spec
  buildspecs/linux_x86.spec
  buildspecs/linux_ztpf_390-64.spec
  buildspecs/osx_x86-64.spec
  buildspecs/osx_x86-64_cmprssptrs.spec
  buildspecs/win_x86-64.spec
  buildspecs/win_x86-64_cmprssptrs.spec
  buildspecs/win_x86.spec
  buildspecs/zos_390-64.spec
  buildspecs/zos_390-64_cmprssptrs.spec
  buildspecs/zos_390.spec
Labels: comp:build, comp:gc, comp:jit, comp:vm, os:aix

#12781 Revert "Add Artifactory info for removing anon-read and adding openj9…
  buildenv/jenkins/ARTIFACTORY.md
Labels: comp:doc

#12764 Combine the two definitions of foldFinalFieldsIn()
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#12791 Fix spelling of 'brief', remove trailing whitespace
  runtime/oti/vm_api.h
Labels: comp:vm

#10320 AArch64: Implement BNDCHKwithSpineCHKEvaluator()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
  test/functional/Java11andUp/playlist.xml
Labels: arch:aarch64, comp:jit

#11439 Update docker container script for use with OpenJ9 builds
  buildenv/docker/mkdocker.sh
  buildenv/jenkins/docker-nodes/README.md
  buildenv/jenkins/docker-nodes/jenkinsfile-build-container.groovy
Labels: comp:build

#12748 Cleanup Refactor of CopyForward to reuse fixupForwardedObject
  runtime/gc_glue_java/ObjectModelDelegate.hpp
Labels: comp:gc

#12788 Move new jitm/j9jit message to the end and fix explanation prefix
  runtime/nls/jitm/j9jit.nls
  runtime/nls/jitm/j9jit_ca.nls
  runtime/nls/jitm/j9jit_cs.nls
  runtime/nls/jitm/j9jit_de.nls
  runtime/nls/jitm/j9jit_es.nls
  runtime/nls/jitm/j9jit_fr.nls
  runtime/nls/jitm/j9jit_hu.nls
  runtime/nls/jitm/j9jit_it.nls
  runtime/nls/jitm/j9jit_ja.nls
  runtime/nls/jitm/j9jit_ko.nls
  runtime/nls/jitm/j9jit_pl.nls
  runtime/nls/jitm/j9jit_pt_BR.nls
  runtime/nls/jitm/j9jit_ru.nls
  runtime/nls/jitm/j9jit_sk.nls
  runtime/nls/jitm/j9jit_sl.nls
  runtime/nls/jitm/j9jit_tr.nls
  runtime/nls/jitm/j9jit_zh.nls
  runtime/nls/jitm/j9jit_zh_CN.nls
  runtime/nls/jitm/j9jit_zh_TW.nls
Labels: comp:jit

#12778 All 64k pagesize tests fix
  runtime/tests/port/j9vmemTest.c
  test/functional/VM_Test/playlist.xml
  test/functional/VM_Test/src/j9vm/test/xlpcodecache/XlpCodeCacheOptionsTestRunner.java
Labels: comp:test, depends:omr

#12753 Teach InterpreterEmulator about foldable statics
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/InterpreterEmulator.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
Labels: comp:jit

#11251 Rewrite opt for combining consecutive byte loads
  runtime/compiler/optimizer/J9Optimizer.cpp
  runtime/compiler/optimizer/SequentialStoreSimplifier.cpp
  runtime/compiler/optimizer/SequentialStoreSimplifier.hpp
  test/functional/JIT_Test/playlist.xml
  test/functional/JIT_Test/src/jit/test/tr/SeqLoadSimplificationTest.java
  test/functional/JIT_Test/testng.xml
Labels: comp:jit

#12780 Replace illegal-access with add-opens
  test/functional/JLM_Tests/playlist.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/Java8andUp/playlist.xml
Labels: comp:test

#12792 Add ability to build within a container
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#12790 Print Openj9 options in effect into the verbose log
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit
