Repository eclipse-openj9/openj9, pull requests merged in 2021-11, with the labels that each got.

#13845 Reduce ClientStream::INCOMPATIBILITY_COUNT_LIMIT to 1
  runtime/compiler/net/ClientStream.cpp
Labels: comp:jitserver

#13840 Add more info to compilation failure lines in vlog
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#13850 Update github URLs
  doc/release-notes/0.27/0.27.1.md
  doc/release-notes/0.27/0.27.md
Labels: comp:doc

#13834 Convert criu files to cpp
  runtime/criusupport/CMakeLists.txt
  runtime/criusupport/criusupport.cpp
  runtime/criusupport/criusupport.hpp
  runtime/criusupport/exports.cmake
Labels: comp:vm, criu

#13853 Improve redirector
  runtime/CMakeLists.txt
  runtime/j9vm/generated.h.m4
  runtime/oti/helpers.m4
  runtime/redirector/forwarders.m4
  runtime/redirector/generated.c.m4
Labels: comp:vm

#13849 JDK18+ returns os.version before System.systemProperties is initialized
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/jcl/common/system.c
  runtime/jcl/exports.cmake
  runtime/jcl/module.xml
  runtime/jcl/uma/se18_exports.xml
  runtime/oti/jclprots.h
  runtime/vm/vmprops.c
Labels: comp:vm, jdk18

#13833 Add missing null check for envFile
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
Labels: comp:vm

#13493 Use vcall for Vector API intrinsics
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#13859 Remove unused UTF8 constants related to completeInitialization()
  runtime/vm/jniinv.c
Labels: comp:vm

#13854 Improve implementation of Reference.refersTo()
  runtime/jcl/common/java_lang_ref_Reference.cpp
  runtime/vm/FastJNI_java_lang_ref_Reference.cpp
Labels: comp:gc

#12982 RISC-V: reimplement `c_cInterpreter`
  runtime/oti/j9nonbuilder.h
  runtime/oti/riscvhelpers.m4
  runtime/vm/CMakeLists.txt
  runtime/vm/module.xml
  runtime/vm/riscvcinterp.m4
  runtime/vm/rv64cinterp.m4
  runtime/vm/rv64cinterpnojit.cpp
Labels: comp:vm, arch:riscv

#13869 Support StaticMethodRef alias
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/InterfaceMethodRef.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/StaticMethodRef.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/VirtualMethodRef.java
Labels: comp:vm

#13864 Add assertions to JCL startup failures
  runtime/jcl/common/jclcinit.c
  runtime/jcl/j9jcl.tdf
Labels: comp:vm

#13867 AArch64: Implement a helper for Patchable GCRs
  runtime/compiler/aarch64/runtime/PicBuilder.spp
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit, arch:aarch64

#13870 Fix hangTest failure with dynamic compile
  test/functional/cmdLineTests/hangTest/build.xml
Labels: comp:test

#13872 Port library startup should not return -1
  runtime/oti/j9porterror.h
  runtime/port/common/j9hypervisor_common.c
  runtime/port/common/j9port.c
Labels: comp:vm

#13670 Extend usage of ForceInline annotation in JIT
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#13881 Remove useless field aliases
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/reflecthelp.c
  runtime/oti/vmconstantpool.xml
Labels: comp:vm

#13883 Use the dot naming convention in exception stack traces
  runtime/jcl/common/jclexception.cpp
  runtime/oti/j9modifiers_api.h
Labels: comp:vm

#13866 Only enable verbose gc log for -Xlog levels trace, debug, info
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/xlogTests/xlog.xml
Labels: comp:vm

#13882 Do not enter the write mutex after the read mutex
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CompositeCache.cpp
Labels: comp:vm

#13887 Remove vestigal setStackSizeCheckNeeded() calls
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
Labels: comp:jit, arch:z

#13873 AArch64: Kill placeholder registers for arraycopy
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#13888 (0.29.1) Use the dot naming convention in exception stack traces
  runtime/jcl/common/jclexception.cpp
  runtime/oti/j9modifiers_api.h
Labels: comp:vm

#13668 Fix getOriginalROMMethod() crash indexing off the end of the J9Class VFT
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/optimizer/J9CallGraph.hpp
  runtime/compiler/optimizer/J9Inliner.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
Labels: comp:jit

#13885 Cache fact that FlushCandidate has no stack allocation candidate
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/EscapeAnalysis.hpp
Labels: bug, comp:jit, perf

#13886 Ensure log trace message is guarded
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
Labels: comp:jit

#13896 Fix jvmnativestest test_EnsureWallClockTime()
  test/functional/VM_Test/src/com/ibm/oti/jvmtests/GetNanoTimeAdjustment.java
Labels: comp:test

#13890 Unblock JDK-next (JDK18) acceptance build
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/compiler/env/j9method.cpp
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/stdinit.c
  runtime/oti/vmconstantpool.xml
Labels: comp:vm, jdk18

#13900 Update comment about signature of NativeLibraries.load()
  runtime/vm/jnimisc.cpp
Labels: comp:vm, comp:doc

#13898 jdk18: adjust signature of JVM_LoadLibrary()
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/jvm.c
  runtime/redirector/forwarders.m4
Labels: comp:vm, jdk18

#13899 Use ReflectionFactory helpers to adopt JEP 416 MH changes
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#13622 Vectorize or scalarize VectorSupport.broadcastCoerced
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#13403 Allow Value Propagation to transform an array store if the value assigned is known not to be a value type
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/J9ValuePropagation.hpp
  runtime/compiler/optimizer/TreeLowering.cpp
  runtime/compiler/optimizer/TreeLowering.hpp
Labels: comp:jit, perf, project:valhalla

#13911 Update BootJDK 17 to 0.29.1 M1
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#13909 Indent consistently and make other minor whitespace changes
  buildspecs/j9.flags
Labels: comp:build

#13913 Fix jvmnativestest test_EnsureWallClockTime()
  test/functional/VM_Test/src/com/ibm/oti/jvmtests/GetNanoTimeAdjustment.java
Labels: comp:test

#13918 Remove JPP configuration for Java 16
  jcl/jpp_configuration.xml
Labels: comp:build

#13922 JDK18 adds java.lang.invoke.MethodHandleNatives as requiredClasses
  runtime/jcl/common/jclcinit.c
  runtime/oti/vmconstantpool.xml
Labels: comp:vm, jdk18

#13915 Add assertions to stack walker caching
  runtime/vm/swalk.c
Labels: comp:vm

#13927 AArch64: Load heap size from vmstruct on AOT compilation
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, comp:jit:aot, arch:aarch64

#13940 Revert "Add java option to ensure classes are hashed"
  runtime/gc_include/ObjectAllocationAPI.hpp
  runtime/gc_modron_startup/mgcalloc.cpp
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/createramclass.cpp
  runtime/vm/jvminit.c
Labels: comp:vm

#13822 Add extensions repository for Valhalla to Jenkins builds
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#13938 Don't override counts if specified by user in subset
  runtime/compiler/control/HookedByTheJit.cpp
Labels: bug, comp:jit

#13934 Tidy up CRIU support
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/criusupport/criusupport.cpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/CMakeLists.txt
  runtime/vm/criuhelpers.cpp
  runtime/vm/jvminit.c
  runtime/vm/module.xml
Labels: comp:vm, comp:jit, criu

#13552 Improve parsing flow for `-Xmint` and `-Xmaxt`
  runtime/gc_modron_startup/mmparse.cpp
Labels: comp:gc

#13944 Fix annotation of 1TIPREPSTATE in javacore dumps
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#13907 Infrastructure for creating JITServer AOT cache records during compilation
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/compile/AOTClassInfo.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jitserver

#13935 Push/pop the array object into/from special frame in slow path
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ValueTypeHelpers.hpp
Labels: comp:vm, project:valhalla

#13930 CMake: add guards on compiler arch includes
  runtime/compiler/CMakeLists.txt
Labels: comp:build, cmake

#12657 Implement evaluator for inlining of StringLatin1.inflate
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
Labels: comp:jit, arch:x86

#13956 Infrastructure for creating JITServer AOT cache records during compilation (rework)
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/compile/AOTClassInfo.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jitserver

#13959 (0.29.1) AArch64: Load heap size from vmstruct on AOT compilation
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit:aot, arch:aarch64

#13955 Pass buffer size to getTRPID() in JITServer
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#13889 Allow inline allocation for value types
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/arm/codegen/J9ARMEvaluator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, perf, project:valhalla

#13199 Check the InnerClass attribute of the enclosing class
  jcl/src/java.base/share/classes/java/lang/Class.java
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ClassFileWriter.cpp
  runtime/bcutil/ROMClassWriter.cpp
  runtime/bcutil/ROMClassWriter.hpp
  runtime/jcl/common/java_lang_Class.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/oti/j9nonbuilder.h
  runtime/shared_common/OSCache.hpp
  runtime/util/romclasswalk.c
Labels: comp:vm, depends:doc

#13963 Move JCL platform encoding initialization to afterClinitInitialization()
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/jcl/common/system.c
  runtime/jcl/exports.cmake
  runtime/jcl/module.xml
  runtime/jcl/uma/se11_exports.xml
  runtime/jcl/uma/se18_exports.xml
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/oti/jclprots.h
Labels: comp:vm

#13958 Override TR_J9VMBase::isJavaLangObject at JITServer
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: bug, comp:jitserver

#13923 Cache the packageName to which receiver belongs
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#13924 Add isFlattened and IsFlattenedArray Unsafe methods
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
  runtime/oti/VMHelpers.hpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ValueTypeHelpers.cpp
  runtime/vm/bindnatv.cpp
Labels: comp:vm, project:valhalla

#13945 OpenJ9 build image improvements
  buildenv/docker/mkdocker.sh
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc, comp:build

#13942 Simplify relo header initialization process
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.hpp
Labels: comp:jit, comp:jit:aot

#13960 Remove nonexistent data from relo log format string
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot

#13952 GetExtendedNPEMessage skips hidden frames and recognizes MH newInstance
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/j9vm/javanextvmi.c
  runtime/vm/extendedMessageNPE.cpp
  test/functional/cmdline_options_testresources/build.xml
  test/functional/cmdline_options_testresources/src_90/com/ibm/j9/getcallerclass/RefectionMHTests.java
Labels: comp:vm, jdk18

#13969 Print unaligned class value
  runtime/vm/CMakeLists.txt
  runtime/vm/KeyHashTable.c
  runtime/vm/module.xml
Labels: comp:vm

#13976 Add initial 0.30.0 release notes
  doc/release-notes/0.30/0.30.md
Labels: comp:doc

#13972 Disable JIT cache earlier in ASGCT
  runtime/j9vm/asgct.cpp
Labels: comp:vm

#13973 Visit enclosed inner classes in the ROMClass walk
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/RomClassWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/RomClassSummaryCommand.java
  runtime/ddr/overrides-vm
  runtime/ddr/vmddrstructs.properties
  runtime/util/romclasswalk.c
Labels: comp:vm

#13971 Remove functions related to non-existent JITHelpers features
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/il/J9Symbol.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/jcl/common/jithelpers.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/jithelpers_jni_exports.xml
Labels: comp:jit

#13928 AArch64: Fix the check for value type monitorEnter/Exit
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#14006 Fix link warnings on Windows
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/exports.h
Labels: comp:jit

#13979 Move ASGCT resolve frame to proper scope
  runtime/j9vm/asgct.cpp
Labels: comp:vm

#13962 Serializing and caching results of AOT compilations at the JITServer
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/control/MethodToBeCompiled.hpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTCache.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jitserver

#13365 CMake enablement for libjvm31 shim library
  runtime/CMakeLists.txt
  runtime/cmake/caches/zos_390-64.cmake
  runtime/j9vm31/CMakeLists.txt
  runtime/j9vm31/exports.cmake
  runtime/j9vm31/j9vm31.h
  runtime/j9vm31/module.xml
Labels: comp:vm, cmake

#14018 Check for NULL before using the APIs in TR_J9SharedCache
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit, comp:jit:aot

#13989 AArch64: Implement JIT field watch support
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
  runtime/compiler/control/J9Options.cpp
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:jit, arch:aarch64

#14023 Disable stackMap cache during ASGCT
  runtime/codert_vm/CodertVMHelpers.cpp
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/decomp.cpp
  runtime/codert_vm/jswalk.c
  runtime/compiler/runtime/MethodMetaData.c
  runtime/compiler/runtime/MethodMetaData.h
  runtime/compiler/runtime/SignalHandler.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9protos.h
  runtime/rasdump/javadump.cpp
  runtime/vm/exceptiondescribe.c
Labels: comp:vm

#14017 Serving cached AOT methods at the JITServer and loading them at the client
  doc/compiler/jitserver/Caching.md
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JitDump.cpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/env/ClassLoaderTable.hpp
  runtime/compiler/exceptions/AOTFailure.hpp
  runtime/compiler/net/CommunicationStream.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTCache.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
Labels: comp:jitserver

#13912 Handle unaryOp intrinsic in VectorAPIExpansion
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#14033 Remove redundant check of non-Windows platform
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/IPC.java
Labels: comp:vm

#14003 Use an object of java.lang.Thread to test Class.descriptorString()
  test/functional/Java12andUp/src/org/openj9/test/java_lang/Test_Class.java
Labels: comp:test

#13926 Implement Stable annotations for arrays
  runtime/compiler/env/J9KnownObjectTable.cpp
  runtime/compiler/env/J9KnownObjectTable.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
Labels: comp:jit

#14041 j9gc_createJavaLangString() must use Unicode length for Unicode strings
  runtime/gc_base/StringTable.cpp
Labels: comp:vm
