Repository eclipse-openj9/openj9, pull requests merged in 2021-12, with the labels that each got.

#14046 (0.29.1) j9gc_createJavaLangString() must use Unicode length for Unicode strings
  runtime/gc_base/StringTable.cpp
Labels: comp:vm

#14045 Ensure MessageTypes.hpp sees the definition of J9VM_OPT_METHOD_HANDLE
  runtime/compiler/build/files/common.mk
  runtime/compiler/net/CMakeLists.txt
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
Labels: bug, comp:jitserver

#14050 Avoid locking the CHTable at end of compilation if possible
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/CHTable.cpp
  runtime/compiler/env/CHTable.hpp
Labels: comp:jit

#13836 Fix inconsistency between J9Class and annotation data when redefine
  jcl/src/java.base/share/classes/com/ibm/oti/reflect/AnnotationParser.java
  jcl/src/java.base/share/classes/com/ibm/oti/reflect/TypeAnnotationParser.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VMLangAccess.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/InternalConstantPool.java
  jcl/src/java.base/share/classes/java/lang/VMAccess.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleResolver.java
  runtime/jcl/common/com_ibm_oti_vm_VM.c
  runtime/jcl/common/java_lang_Access.c
  runtime/jcl/common/reflecthelp.c
  runtime/jcl/common/sun_reflect_ConstantPool.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se7_exports.xml
  runtime/oti/jclprots.h
  runtime/oti/vmconstantpool.xml
  runtime/tests/jvmtitests/agent/tests.c
  runtime/tests/jvmtitests/exports.cmake
  runtime/tests/jvmtitests/include/jvmti_test.h
  runtime/tests/jvmtitests/module.xml
  runtime/tests/jvmtitests/src/CMakeLists.txt
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021.c
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotatedType_O.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotatedType_R.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotationCache_O.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotationCache_R.java
Labels: comp:vm

#14052 Avoid scanning the compilation queue for duplicates
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#14051 Fix GCCheck class not found error
  test/functional/cmdLineTests/gcCheck/build.xml
  test/functional/cmdLineTests/gcCheck/gcchecktests.xml
  test/functional/cmdLineTests/gcCheck/src/org/openj9/test/nogc/Main.java
Labels: comp:test

#14056 Impose a limit on the compilation queue size
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
Labels: comp:jit

#14057 (0.30.0) Add java option to ensure classes are hashed
  runtime/gc_include/ObjectAllocationAPI.hpp
  runtime/gc_modron_startup/mgcalloc.cpp
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/createramclass.cpp
  runtime/vm/jvminit.c
Labels: comp:vm, depends:doc

#14060 Add release documentation for java option `-XX:[+|-]EnsureHashed`
  doc/release-notes/0.30/0.30.md
Labels: comp:doc

#14069 JDK8 Thread.cleanup requires TerminatingThreadLocal.threadTerminated()
  jcl/src/java.base/share/classes/java/lang/Thread.java
Labels: comp:vm

#14070 (v0.30.0-release) JDK8 Thread.cleanup requires TerminatingThreadLocal.threadTerminated()
  jcl/src/java.base/share/classes/java/lang/Thread.java
Labels: comp:vm

#14063 Fix inconsistency between J9Class and annotation data when redefine (take 2)
  jcl/src/java.base/share/classes/com/ibm/oti/reflect/AnnotationParser.java
  jcl/src/java.base/share/classes/com/ibm/oti/reflect/TypeAnnotationParser.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VMLangAccess.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/InternalConstantPool.java
  jcl/src/java.base/share/classes/java/lang/VMAccess.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleResolver.java
  runtime/jcl/common/com_ibm_oti_vm_VM.c
  runtime/jcl/common/java_lang_Access.c
  runtime/jcl/common/reflecthelp.c
  runtime/jcl/common/sun_reflect_ConstantPool.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se7_exports.xml
  runtime/oti/jclprots.h
  runtime/oti/vmconstantpool.xml
  runtime/tests/jvmtitests/agent/tests.c
  runtime/tests/jvmtitests/exports.cmake
  runtime/tests/jvmtitests/include/jvmti_test.h
  runtime/tests/jvmtitests/module.xml
  runtime/tests/jvmtitests/src/CMakeLists.txt
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021.c
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotatedType_O.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotatedType_R.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotationCache_O.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotationCache_R.java
Labels: comp:vm

#14087 Compile MHInterpreter code only if OPT_METHOD_HANDLE
  runtime/vm/CMakeLists.txt
  runtime/vm/MHInterpreter.inc
  runtime/vm/module.xml
Labels: comp:vm

#14071 Prevent VP Object.clone transformation under involuntary OSR
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit

#14102 Correct URLs targeting https://eclipse-openj9.github.io/openj9-docs
  CONTRIBUTING.md
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V8.md
  doc/release-notes/0.15/0.15.md
Labels: comp:doc

#14096 Clarify J9Class.ramConstantPool
  runtime/ddr/overrides-vm
  runtime/ddr/vmddrstructs.properties
  runtime/oti/j9cp.h
  runtime/oti/j9nonbuilder.h
  runtime/util/annhelp.c
  runtime/util/hshelp.c
  runtime/vm/ValueTypeHelpers.cpp
  runtime/vm/createramclass.cpp
  runtime/vmchk/checkclasses.c
  runtime/vmchk/checkmethods.c
Labels: comp:vm

#14103 Update docker script
  buildenv/docker/mkdocker.sh
Labels: comp:build

#14113 Define JVM_IsFinalizationEnabled() for Java 18+
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.c
  runtime/redirector/forwarders.m4
Labels: comp:vm, jdk18

#14116 JDK18 adds --finalization=[enabled|disabled]
  runtime/j9vm/javanextvmi.c
  runtime/oti/j9consts.h
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm, jdk18

#14059 (0.30.0) Fix inconsistency between J9Class and annotation data when redefine
  jcl/src/java.base/share/classes/com/ibm/oti/reflect/AnnotationParser.java
  jcl/src/java.base/share/classes/com/ibm/oti/reflect/TypeAnnotationParser.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VMLangAccess.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/InternalConstantPool.java
  jcl/src/java.base/share/classes/java/lang/VMAccess.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleResolver.java
  runtime/jcl/common/com_ibm_oti_vm_VM.c
  runtime/jcl/common/java_lang_Access.c
  runtime/jcl/common/reflecthelp.c
  runtime/jcl/common/sun_reflect_ConstantPool.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se7_exports.xml
  runtime/oti/jclprots.h
  runtime/oti/vmconstantpool.xml
  runtime/tests/jvmtitests/agent/tests.c
  runtime/tests/jvmtitests/exports.cmake
  runtime/tests/jvmtitests/include/jvmti_test.h
  runtime/tests/jvmtitests/module.xml
  runtime/tests/jvmtitests/src/CMakeLists.txt
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021.c
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotatedType_O.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotatedType_R.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotationCache_O.java
  test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/redefineClasses/rc021_testAnnotationCache_R.java
Labels: comp:vm

#14114 Mark Object.finalize() for removal in Java 18+
  jcl/src/java.base/share/classes/java/lang/Object.java
Labels: comp:vm, jdk18

#14105 (0.30.0) Prevent VP Object.clone transformation under involuntary OSR
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit

#13977 Add findOrFabricateFlattenedArrayElementFieldShadowSymbol
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
Labels: comp:jit, depends:omr, project:valhalla

#14109 Add a test case in ShareClassesCML with verbose output enabled
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLOpenJ9.xml
Labels: comp:test

#14137 JDK18 isReflectionMethod checks Method.invoke(Object,Object[],Class<?>)
  runtime/jcl/common/java_lang_Class.cpp
  runtime/jcl/common/stdinit.c
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9nonbuilder.h
  runtime/sunvmi/sunvmi.c
  runtime/vm/NativeHelpers.cpp
Labels: comp:vm, jdk18

#14125 Rewrite MN.resolve logic on updating method flags
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
Labels: project:MH

#14025 Add user hooks capabilities
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/J9InternalCheckpointHookAPI.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/JVMCheckpointException.java
Labels: comp:vm, criu

#14144 Don't create non-relocatable table during AOT in IdiomRecognition
  runtime/compiler/optimizer/IdiomTransformations.cpp
Labels: comp:jit, comp:jit:aot

#14128 Scan hidden fields for instance description bits
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ObjectFieldOffsetIterator_V1.java
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/vm/createramclass.cpp
  runtime/vm/resolvefield.cpp
Labels: comp:vm, project:MH

#14145 JDK18 specifies file.encoding UTF-8 when w/o command line defines
  runtime/jcl/common/system.c
Labels: comp:vm, jdk18

#14156 (0.30.0) Ensure MessageTypes.hpp sees the definition of J9VM_OPT_METHOD_HANDLE
  runtime/compiler/build/files/common.mk
  runtime/compiler/net/CMakeLists.txt
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
Labels: comp:jitserver

#14155 Update OpenSSL except Windows to 1.1.1m
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#14151 (0.30.0) Don't create non-relocatable table during AOT in IdiomRecognition
  runtime/compiler/optimizer/IdiomTransformations.cpp
Labels: comp:jit, comp:jit:aot

#14160 (0.30.0) Update OpenSSL except Windows to 1.1.1m
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#14158 VMCPTool adds a NOT operator ! for J9 flags
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/Main.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/PrimaryItem.java
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/Util.java
Labels: comp:vm

#14170 JDK19 bringup
  jcl/jpp_configuration.xml
  runtime/oti/j2sever.h
  runtime/oti/j9nonbuilder.h
Labels: comp:vm, jdk-head

#14174 Add latest_exclude_19.txt
  test/TestConfig/resources/excludes/latest_exclude_19.txt
Labels: comp:test

#14163 Prevent recognition of J9VMInternals.getSuperclass under FSD
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#14164 (0.30.0) Prevent recognition of J9VMInternals.getSuperclass under FSD
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#14149 Use correct add instruction in inlineStringLatin1Inflate
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#13975 Add calculate element address with element stride
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
Labels: comp:jit, project:valhalla

#14189 Remove --enable-preview for JEP 358/360/384/389/397 tests
  test/functional/Java14andUp/build.xml
  test/functional/Java14andUp/playlist.xml
  test/functional/Java14andUp/src/org/openj9/test/utilities/RecordClassGenerator.java
  test/functional/Java15andUp/build.xml
  test/functional/Java15andUp/playlist.xml
  test/functional/Java15andUp/src/org/openj9/test/utilities/SealedClassGenerator.java
  test/functional/Java16andUp/build.xml
  test/functional/Java16andUp/modules/org.openj9test.modularity.moduleX/org/openj9/test/modularity/pkgD/Test_SubClass.java
  test/functional/Java16andUp/modules/org.openj9test.modularity.moduleY/org/openj9/test/modularity/pkgB/Test_SubClass.java
  test/functional/Java16andUp/playlist.xml
  test/functional/Java16andUp/src/org/openj9/test/utilities/SealedClassGenerator.java
Labels: comp:test

#14034 Implement valueHeaderSize and uninitializedDefaultValue Unsafe apis
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, project:valhalla

#14195 AArch64: Provide factory methods for MemoryReference objects
  runtime/compiler/aarch64/codegen/MemoryReference.hpp
Labels: comp:jit, arch:aarch64
