Repository eclipse-openj9/openj9, pull requests merged in 2021-10, with the labels that each got.

#13609 Limit use of configure option '--enable-openjdk-methodhandles'
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#13613 Temporarily hack the bootjdk url for alinux on jdk17
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#13415 Fix compilation error on Windows Value Type build
  runtime/vm/ObjectFieldInfo.cpp
  runtime/vm/resolvefield.cpp
Labels: comp:vm, project:valhalla

#13611 Disable testSoftMxNotDisclaimMemory_3
  test/functional/JLM_Tests/playlist.xml
Labels: comp:test

#13624 Correctly pop class loading stack in some error paths
  runtime/vm/createramclass.cpp
Labels: bug, comp:vm

#13621 Remove duplicate definition of DEFERRED_RS_REMOVE_FLAG
  runtime/gc_include/j9modron.h
Labels: comp:gc

#13629 (0.29) Add fast JNI implementation for java.lang.ref.Reference.refersTo()
  runtime/vm/FastJNI_java_lang_ref_Reference.cpp
Labels: comp:vm

#13632 Fix z/OS assembly warnings
  runtime/port/zos390/j9gs_get_supported.s
Labels: comp:vm

#13598 AArch64: Adding additional arraycopy helper entries
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit, arch:aarch64

#13630 AArch64: Add .text and .align directives to asm files
  runtime/compiler/aarch64/runtime/FlushICache.spp
  runtime/compiler/aarch64/runtime/Recompilation.spp
Labels: comp:jit, arch:aarch64

#13642 Pull bootjdk url to be set in variable file
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#13641 Remove redundant cmake version check
  runtime/CMakeLists.txt
Labels: comp:build, cmake

#13765 Add invalid size to NegativeArraySizeException
  jcl/src/java.base/share/classes/java/lang/StringBuffer.java
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
  jcl/src/java.base/share/classes/java/lang/reflect/Array.java
  runtime/codert_vm/cnathelp.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/bchelper.c
  runtime/vm/exceptionsupport.c
  runtime/vm/intfunc.c
  runtime/vm/jnicsup.cpp
  runtime/vm/jnicsup.h
  runtime/vm/jnimisc.cpp
  test/functional/Java8andUp/src/org/openj9/test/java/lang/reflect/Test_Array.java
Labels: comp:vm

#13832 Add pre-processor checks for openj9.criu
  jcl/src/java.base/share/classes/module-info.java.extra
Labels: comp:vm

#13786 Replace classNameToSignature with the define in ClassEnv
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/J9SymbolReference.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/InterProceduralAnalyzer.cpp
  runtime/compiler/optimizer/J9Inliner.cpp
  runtime/compiler/optimizer/MonitorElimination.cpp
  runtime/compiler/runtime/J9Profiler.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
Labels: comp:jit

#13821 Modify JITServerTest to use a new port for each subtest
  test/functional/JIT_Test/src/jit/test/jitserver/JITServerTest.java
Labels: comp:jitserver
