Repository eclipse-openj9/openj9, pull requests merged in 2021-01, with the labels that each got.

#11550 Add "Program Files" to build instructions for Windows
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V14.md
  doc/build-instructions/Build_Instructions_V15.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#11529 Update JITServer documentation
  doc/compiler/jitserver/Build.md
  doc/compiler/jitserver/CHTable.md
  doc/compiler/jitserver/Caching.md
  doc/compiler/jitserver/Problem.md
  doc/compiler/jitserver/README.md
  doc/compiler/jitserver/ResolvedMethod.md
  doc/compiler/jitserver/Sockets.md
  doc/compiler/jitserver/Testing.md
  doc/compiler/jitserver/Usage.md
Labels: comp:jitserver

#11564 Fix minor formatting issues
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#11558 Update Mac Xcode version and delete V14 build instructions
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V14.md
  doc/build-instructions/Build_Instructions_V15.md
Labels: comp:doc

#11567 JDK15+ JVM_LoadLibrary convert libName for Windows platform
  runtime/j9vm/jvm.c
Labels: comp:vm, jdk15

#11565 Fix potential memory leak
  runtime/jcl/common/sun_misc_Unsafe.cpp
Labels: comp:vm

#11568 (v0.24.0-release) JDK15+ JVM_LoadLibrary convert libName for Windows platform
  runtime/j9vm/jvm.c
Labels: comp:vm, jdk15

#11535 RuntimeMXBean.getSystemProperties() must use stringPropertyNames()
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/RuntimeMXBeanImpl.java
Labels: comp:vm

#11541 Rework timeout handling for the cmdline tester
  test/functional/cmdline_options_tester/src/MainTester.java
  test/functional/cmdline_options_tester/src/Test.java
Labels: comp:test

#11571 (0.24.0) Rework timeout handling for the cmdline tester
  test/functional/cmdline_options_tester/src/MainTester.java
  test/functional/cmdline_options_tester/src/Test.java
Labels: comp:test

#11572 Update Windows to openssh 1.1.1i
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#11573 (0.24.0) Update Windows to openssh 1.1.1i
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#11575 Reduce heap size for cores, remove -Xint running cmdline tests
  test/functional/cmdLineTests/J9security/playlist.xml
  test/functional/cmdLineTests/callsitedbgddrext/callsiteddrtests.xml
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
  test/functional/cmdLineTests/classesdbgddrext/classesddrtests.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/playlist.xml
  test/functional/cmdLineTests/cmdlinetestertests/cmdlinetests.xml
  test/functional/cmdLineTests/defaultLazySymbolResolution/playlist.xml
  test/functional/cmdLineTests/dscr/playlist.xml
  test/functional/cmdLineTests/dumpromtests/dumpromclasstests.xml
  test/functional/cmdLineTests/forceLazySymbolResolution/playlist.xml
  test/functional/cmdLineTests/gcRegressionTests/playlist.xml
  test/functional/cmdLineTests/gptest/playlist.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/playlist.xml
  test/functional/cmdLineTests/lazyClassLoadingTest/playlist.xml
  test/functional/cmdLineTests/locales/playlist.xml
  test/functional/cmdLineTests/modularityddrtests/modularityddrtests.xml
  test/functional/cmdLineTests/reflectCache/playlist.xml
  test/functional/cmdLineTests/shareClassTests/BadStackMap/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-2.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-4.xml
  test/functional/cmdLineTests/shareClassTests/StorageKey/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/shrcdbgextddrtests.xml
  test/functional/cmdLineTests/sigabrtHandlingTest/playlist.xml
  test/functional/cmdLineTests/softmxCmdOptTest/playlist.xml
  test/functional/cmdLineTests/stackSizeInfoTest/playlist.xml
  test/functional/cmdLineTests/valuetypeddrtests/flattened32bitRefBackfillTest.xml
  test/functional/cmdLineTests/valuetypeddrtests/flattenedvaluetypeddrtests.xml
  test/functional/cmdLineTests/valuetypeddrtests/playlist.xml
  test/functional/cmdLineTests/valuetypeddrtests/unflattenedvaluetypeddrtests.xml
  test/functional/cmdLineTests/verboseVerification/playlist.xml
  test/functional/cmdLineTests/xcheckjni/playlist.xml
Labels: comp:test

#11585 openj9/ibm for cmdLineTester_classesdbgddrext_aix
  test/functional/cmdLineTests/classesdbgddrext/playlist.xml
Labels: comp:test

#10095 verbose:module/nomodule option implementation
  runtime/j9vm/java11vmi.c
  runtime/oti/j9vm.hdf
  runtime/oti/verbose_api.h
  runtime/verbose/verbose.c
  runtime/vm/jvmfree.c
  test/functional/cmdLineTests/verbosetest/playlist.xml
  test/functional/cmdLineTests/verbosetest/verbosetests.xml
  test/functional/cmdLineTests/verbosetest/verbosetests_11.xml
Labels: comp:test, comp:vm, depends:doc

#11542 Add single quote detection
  test/functional/cmdLineTests/sigabrtHandlingTest/sigabrtHandlingTest.xml
  test/functional/cmdline_options_tester/src/Tokenizer.java
Labels: comp:test

#11592 Add entry for Java dump file containing processor features
  doc/release-notes/0.24/0.24.md
Labels: comp:doc

#11591 JVM_LoadLibrary() must use lazy library loading by default
  runtime/j9vm/jvm.c
  test/functional/cmdLineTests/defaultLazySymbolResolution/playlist.xml
Labels: comp:test, comp:vm

#11595 (0.24.0) JVM_LoadLibrary() must use lazy library loading by default
  runtime/j9vm/jvm.c
  test/functional/cmdLineTests/defaultLazySymbolResolution/playlist.xml
Labels: comp:test, comp:vm

#11480 Move J9 specific changes to S390J9CallSnippet
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.hpp
  runtime/compiler/z/runtime/PicBuilder.m4
Labels: arch:z, comp:jit, depends:omr:breaking

#11593 Adjust expectations for *.cmd files
  buildenv/jenkins/jobs/infrastructure/lineEndingsCheck.groovy
Labels: comp:build

#11589 Add new make target for building java preprocessor
  sourcetools/buildj9tools.mk
Labels: comp:build

#11597 Export com.ibm.dtfj.utils for j9ddr.jar
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/image/j9/ImageFactory.java
Labels: comp:vm

#11507 Add extra U_64 data field to Indexable Object Headers
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_include/ObjectAllocationAPI.hpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
Labels: comp:gc, comp:jit

#11600 Update reflectCache test to use Unsafe for JDK15+
  test/functional/cmdLineTests/reflectCache/build.xml
  test/functional/cmdLineTests/reflectCache/playlist.xml
  test/functional/cmdLineTests/reflectCache/reflectcache_test.xml
  test/functional/cmdLineTests/reflectCache/src_15/test/reflectCache/Test_ReflectCache.java
  test/functional/cmdLineTests/reflectCache/src_8/test/reflectCache/Test_ReflectCache.java
Labels: comp:test

#9591 Add new relocation records for block frequency
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/J9Recompilation.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/optimizer/JProfilingBlock.cpp
  runtime/compiler/optimizer/JProfilingRecompLoopTest.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/J9Profiler.cpp
  runtime/compiler/runtime/J9Profiler.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, depends:omr

#11559 Remove use of get and setAccessStaticsIndirectly APIs
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/ProfileGenerator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: arch:z, comp:jit, depends:omr

#11598 Return type signature for NonSpecificConstObject
  runtime/compiler/il/J9SymbolReference.cpp
Labels: comp:jit

#11574 Update JDK8 build instructions using VS2013 for Windows
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V15.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#11612 --add-exports and opens to TestFileLocking for Java 16+
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/fileLock/TestFileLocking.java
Labels: comp:test, jdk16

#11590 Disable unneeded relocation in field watch snippet for JITServer
  runtime/compiler/codegen/J9WatchedStaticFieldSnippet.cpp
Labels: comp:jitserver

#11632 Add --illegal-access=permit to several tests
  test/functional/JavaAgentTest/playlist.xml
Labels: comp:test, jdk16

#11627 Add stub and constants for jitResolveFlattenableField
  runtime/codert_vm/arm64nathelp.m4
  runtime/codert_vm/armnathelp.m4
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/pnathelp.m4
  runtime/codert_vm/xnathelp.m4
  runtime/codert_vm/znathelp.m4
  runtime/compiler/runtime/asmprotos.h
  runtime/jilgen/jilconsts.c
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
Labels: comp:vm

#11604 Remove useless J9_RUNTIME_DENY_ILLEGAL_ACCESS flag
  runtime/oti/j9consts.h
  runtime/vm/vmprops.c
Labels: comp:vm, jdk16

#11635 Implement jitResolveFlattenableField
  runtime/codert_vm/CMakeLists.txt
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/j9codertvm.tdf
  runtime/codert_vm/jsr292.c
  runtime/codert_vm/jsr292.h
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9consts.h
  runtime/oti/jitprotos.h
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:jit

#11610 Enable additional tracing for jitdump compiles
  doc/diagnostics/VMState.md
  runtime/codert_vm/CodertVMHelpers.cpp
  runtime/codert_vm/cnathelp.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JitDump.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/oti/j9nonbuilder.h
  runtime/rasdump/javadump.cpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/gphandle.c
Labels: comp:jit

#11646 Compute NPE message for JBinvokestatic
  runtime/vm/extendedMessageNPE.cpp
Labels: comp:vm, project:MH

#11645 Fix invokedynamic in DDR bytecode dumper
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/ByteCodeDumper.java
Labels: comp:vm

#11626 Call correct print function for Unresolved Call Snippet
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jit

#11653 Revert "Add extra U_64 data field to Indexable Object Headers"
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_include/ObjectAllocationAPI.hpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
Labels: comp:gc, comp:jit

#11649 Update UNB curl redirection script to be more detailed
  buildenv/jenkins/ARTIFACTORY.md
Labels: comp:build, comp:doc

#11647 Define J9Package.export booleans as U_32, fix jdk16 !dumpmodule test
  runtime/ddr/overrides-vm
  runtime/ddr/vmddrstructs.properties
  runtime/j9vm/java11vmi.c
  runtime/oti/j9nonbuilder.h
  runtime/util/modularityHelper.c
  runtime/vm/callin.cpp
  test/functional/cmdLineTests/modularityddrtests/modularityddrtests.xml
  test/functional/cmdLineTests/modularityddrtests/playlist.xml
Labels: comp:test, comp:vm

#11658 Fix typos, formatting
  debugtools/DDR_VM/src/com/ibm/j9ddr/VMDataFactory.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/DataType.java
Labels: comp:vm

#11663 Add new make target for building java preprocessor
  sourcetools/buildj9tools.mk
Labels: comp:build

#11661 Fix error introduced by #11635
  runtime/oti/VMHelpers.hpp
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm

#11235 General Relocation Infrastructure Clean up
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/z/codegen/J9AheadOfTimeCompile.hpp
Labels: comp:jit, comp:jit:aot

#11660 Remove vm.cmprssptrs in platformRequirements
  test/functional/JIT_Test/playlist.xml
  test/functional/cmdLineTests/libpathTest/playlist.xml
  test/functional/cmdLineTests/xxargtest/playlist.xml
Labels: comp:test

#11638 Fix failures in identifying invokeBasic
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: comp:jit, project:MH

#11664 Set domainCombiner from closest frame in result AccessControlContext
  jcl/src/java.base/share/classes/java/security/AccessController.java
Labels: comp:vm

#11670 (v0.24.0-release) Set domainCombiner from closest frame in result AccessControlContext
  jcl/src/java.base/share/classes/java/security/AccessController.java
Labels: comp:vm

#11668 j9gc_createJavaLangString() check for ASCII properly in Unicode
  runtime/gc_base/StringTable.cpp
  runtime/oti/VMHelpers.hpp
Labels: comp:gc, comp:vm

#10279 Inclusive terms for infra scripts
  .copyrightignore
  buildenv/jenkins/ARTIFACTORY.md
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/infrastructure/Cleanup-Nodes.groovy
  buildenv/jenkins/jobs/infrastructure/Update-Reference-Repos.groovy
  buildenv/jenkins/jobs/infrastructure/copyrightCheck.groovy
  buildenv/jenkins/jobs/infrastructure/wrapper_template.groovy
  buildenv/jenkins/jobs/infrastructure/wrapper_variables.yml
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:infra

#11675 (0.24.0) Update JavaRuntimeVersion test (jrvTest) to handle more variants
  test/functional/cmdline_options_testresources/src/JavaRuntimeVersion.java
Labels: comp:test

#11680 Add file types to clean up job
  buildenv/jenkins/jobs/infrastructure/Cleanup-Nodes.groovy
Labels: comp:infra

#11561 Fold TR_ S390LinkageConventions into TR_LinkageConventions
  runtime/compiler/codegen/LinkageConventions.enum
  runtime/compiler/z/codegen/J9Linkage.hpp
  runtime/compiler/z/codegen/Linkage.hpp
  runtime/compiler/z/codegen/S390CHelperLinkage.cpp
  runtime/compiler/z/codegen/S390CHelperLinkage.hpp
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
  runtime/compiler/z/codegen/S390PrivateLinkage.hpp
Labels: arch:z, comp:jit, depends:omr:breaking

#11648 Enable Linter job in github workflow
  .github/runlint.sh
  .github/workflows/presubmit.yml
Labels: comp:build

#11690 Remove jdk11 travis build now linter runs via github actions
  .travis.yml
  buildenv/travis/build-on-travis.sh
  doc/GuideForCommitters.md
Labels: comp:build

#11699 Make MethodHandles.classData public for JDK16
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm, jdk16

#11628 Improve JITServer client compilation thread activation policy
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/runtime/CompileService.cpp
Labels: comp:jitserver

#11678 Update the check of isRecord() for record classes
  jcl/src/java.base/share/classes/java/lang/Class.java
  runtime/bcutil/cfreader.c
  runtime/nls/cfre/cfrerr.nls
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9modifiers_api.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_java_lang_Class.cpp
  runtime/vm/bindnatv.cpp
  test/functional/Java15andUp/playlist.xml
Labels: comp:vm, jdk15

#11712 Decrease verbosity in gcRecressionTests
  test/functional/cmdLineTests/gcRegressionTests/playlist.xml
Labels: comp:test

#11700 Clean up StringTable code
  runtime/gc_base/StringTable.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9consts.h
Labels: comp:vm

#11704 Remove -g flag when building the interpreter on aix
  runtime/vm/CMakeLists.txt
Labels: comp:build

#11710 Generate DDR pointer classes at runtime
  debugtools/DDR_VM/src/com/ibm/j9ddr/J9DDRClassLoader.java
Labels: comp:vm

#11713 Fix sending server memory state at compilation failure
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/runtime/CompileService.cpp
Labels: comp:jitserver

#11656 Fix PGC calibration issue
  runtime/gc_vlhgc/SchedulingDelegate.cpp
Labels: comp:gc

#11714 Created FlattenedContiguousArrayIterator for FA iteration
  runtime/gc_glue_java/CompactSchemeFixupObject.cpp
  runtime/gc_glue_java/CompactSchemeFixupObject.hpp
  runtime/gc_structs/CMakeLists.txt
  runtime/gc_structs/FlattenedContiguousArrayIterator.cpp
  runtime/gc_structs/FlattenedContiguousArrayIterator.hpp
  test/functional/Valhalla/playlist.xml
Labels: comp:gc

#11709 Implement MethodHandles.dropReturn for JDK16
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: jdk16

#11679 Remove unnecessary dependence on bash
  runtime/compiler/build/scripts/guess-platform.sh
Labels: comp:jit

#11677 Handle monitor enter/exit on value based instances in Z
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: arch:z, comp:jit

#11716 Correct formatting of test build.xml for zOS
  test/functional/CacheManagement/build.xml
Labels: comp:test

#11734 Optimize anon class name fixup
  runtime/gc_base/StringTable.cpp
Labels: comp:vm

#11737 Accommodate NPE messages computed by OpenJ9 with OpenJDK MethodHandles
  test/functional/Java14andUp/src/org/openj9/test/jep358/NPEMessageTests.java
Labels: comp:test

#11728 Add value type standard testing capabilities
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, project:valhalla

#11748 Remove duplicate line in memcheck.c
  runtime/exelib/common/memcheck.c
Labels: comp:vm

#11754 Add a missing null check in defineHiddenClassWithClassData
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm, jdk15, jdk16

#11750 Fix incorrect if condition in CacheMap.cpp
  runtime/shared_common/CacheMap.cpp
Labels: comp:vm

#11695 Add a CML test suite for JEP390
  test/functional/cmdLineTests/ValueBasedClassTest/build.xml
  test/functional/cmdLineTests/ValueBasedClassTest/jep390.xml
  test/functional/cmdLineTests/ValueBasedClassTest/playlist.xml
  test/functional/cmdLineTests/ValueBasedClassTest/src/org/openj9/test/JEP390Test/ValueBasedClass.java
  test/functional/cmdLineTests/ValueBasedClassTest/src/org/openj9/test/JEP390Test/ValueBasedClassTest.java
Labels: comp:test

#11331 Fully serialize ROMClasses sent to JITServer
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#11746 Add missing break keywords in RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
Labels: bug, comp:jit, comp:jit:aot

#10494 AArch64: Implement monitor enter/exit VM helper call for value types
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.hpp
  runtime/compiler/runtime/Runtime.cpp
Labels: arch:aarch64, comp:jit

#11761 Get metadataCache field without caching to avoid circular dependency
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#11780 AArch64: Implement inlined version of awrtbar/awrtbariEvaluator
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64, comp:jit

#11773 Remove unused JITServer message types and associated dead code
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/net/StreamExceptions.hpp
Labels: comp:jitserver

#11669 Use new disabled feature to exclude tests
  test/functional/JLM_Tests/playlist.xml
  test/functional/Java11andUp/playlist.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/NativeTest/playlist.xml
  test/functional/VM_Test/playlist.xml
  test/functional/Valhalla/playlist.xml
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/playlist.xml
  test/functional/cmdLineTests/dumpromtests/playlist.xml
  test/functional/cmdLineTests/forceLazySymbolResolution/playlist.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/playlist.xml
  test/functional/cmdLineTests/libpathTest/playlist.xml
  test/functional/cmdLineTests/pltest/playlist.xml
  test/functional/cmdLineTests/shrcdbgddrext/playlist.xml
Labels: comp:test

#11779 Zero out unused fields in TR_AOTHeader
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: comp:jit:aot

#11755 Add extra U_64 data field to Indexable Object Headers
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_include/ObjectAllocationAPI.hpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#11789 Update docker script
  buildenv/docker/mkdocker.sh
Labels: comp:build

#11682 Port cmdLineTester_GCCheck into openj9
  test/functional/cmdLineTests/gcCheck/build.xml
  test/functional/cmdLineTests/gcCheck/gcchecktests.xml
  test/functional/cmdLineTests/gcCheck/gcchecktests_excludes.xml
  test/functional/cmdLineTests/gcCheck/playlist.xml
  test/functional/cmdLineTests/gcCheck/src/org/openj9/test/nogc/Main.java
Labels: comp:test

#11784 Remove code related to unsupported Java versions
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/Thread.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/BufferPoolMXBeanImpl.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/java/diagnostics/utils/plugins/impl/ClassScanner.java
Labels: comp:vm

#11601 Include classloader name and module version in stack trace
  jcl/src/java.base/share/classes/com/ibm/oti/util/Util.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VMLangAccess.java
  jcl/src/java.base/share/classes/java/lang/StackTraceElement.java
  jcl/src/java.base/share/classes/java/lang/StackWalker.java
  jcl/src/java.base/share/classes/java/lang/Throwable.java
  jcl/src/java.base/share/classes/java/lang/VMAccess.java
  runtime/jcl/common/jclexception.c
  runtime/oti/vmconstantpool.xml
Labels: comp:vm

#11788 Fix bug in SerializedRuntimeAssumption list allocation
  runtime/compiler/compile/J9Compilation.cpp
Labels: comp:jitserver

#11797 Remove unused import in Java 8 from Util.java
  jcl/src/java.base/share/classes/com/ibm/oti/util/Util.java
Labels: comp:vm

#11794 Properly close JITServer listener socket at shutdown
  runtime/compiler/runtime/Listener.cpp
Labels: comp:jitserver

#11796 Reference.isEnqueued() deprecated since Java 16
  jcl/src/java.base/share/classes/java/lang/ref/Reference.java
Labels: comp:vm, jdk16

#11786 Fast path for Reflection.getClassAccessFlags()
  runtime/oti/VMHelpers.hpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/bindnatv.cpp
Labels: comp:vm

#11802 VarHandle withInvoke[Exact]Behavior methods should be abstract
  jcl/src/java.base/share/classes/java/lang/invoke/ArrayVarHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/FieldVarHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java
  jcl/src/java.base/share/classes/java/lang/invoke/ViewVarHandle.java
Labels: comp:vm, jdk16

#11804 Remove Windows Configuration text from test suite id
  test/functional/cmdLineTests/URLClassLoaderTests/URLClassLoaderTests.xml
  test/functional/cmdLineTests/URLClassLoaderTests/URLClassLoaderTests_Java8.xml
  test/functional/cmdLineTests/shareClassTests/ListAllCachesTests/expireAndListAllCachesTests.xml
  test/functional/cmdLineTests/shareClassTests/ListAllCachesTests/listAllCachesTests.xml
  test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/CommandLineOptionTests.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatTests/HelperCompatibilityTests.xml
  test/functional/cmdLineTests/shareClassTests/SCHelperCompatTests/HelperCompatibilityTests_8.xml
  test/functional/cmdLineTests/shareClassTests/ShareClassesSimpleSanity/ShareClassesSimpleSanity.xml
  test/functional/cmdLineTests/shareClassTests/StoreFilterTests/StoreFilterTests.xml
  test/functional/cmdLineTests/shareClassTests/StoreFilterTests/StoreFilterTests_8.xml
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests.xml
  test/functional/cmdLineTests/shareClassTests/URLHelperTests/URLHelperTests_80.xml
Labels: comp:test

#11588 Refactor prex arg info computation and propagation
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/J9Inliner.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
Labels: comp:jit, depends:omr:breaking

#11762 Remove mention of AdoptOpenJDK downloads
  README.md
  doc/processes/release_process.md
  doc/release-notes/0.24/0.24.md
Labels: comp:doc

#11393 Remove unneeded code in NULLCHKEvaluator
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#11810 Fix algorithm version constant MIXED_REFERENCE_MODE for DDR
  runtime/ddr/algorithm_versions.c
Labels: comp:vm

#11769 Account for Lookup.ORIGINAL access in JDK16
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm, jdk16

#11809 Remove unnecessary test excludes
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#11730 Consolidate tests for whether to compress pointers
  runtime/gc_base/ObjectAccessBarrier.hpp
  runtime/gc_base/ScavengerForwardedHeader.hpp
  runtime/gc_glue_java/ArrayletObjectModelBase.hpp
  runtime/gc_glue_java/MixedObjectModel.hpp
  runtime/gc_glue_java/ObjectModelDelegate.hpp
  runtime/gc_glue_java/ScavengerDelegate.hpp
  runtime/gc_include/ObjectAccessBarrierAPI.hpp
  runtime/gc_structs/ArrayletLeafIterator.hpp
  runtime/gc_structs/MixedObjectIterator.hpp
  runtime/gc_structs/PointerArrayletInlineLeafIterator.hpp
  runtime/gc_structs/PointerArrayletIterator.hpp
  runtime/gc_structs/PointerContiguousArrayIterator.hpp
  runtime/gc_vlhgc/InterRegionRememberedSet.hpp
  runtime/gc_vlhgc/LeafAwareMixedObjectIterator.hpp
Labels: comp:gc

#11720 Remove -verbose flag in playlist.xml
  test/functional/cmdLineTests/CDSAdaptorTest/playlist.xml
  test/functional/cmdLineTests/J9security/playlist.xml
  test/functional/cmdLineTests/SystemPropertiesTest/playlist.xml
  test/functional/cmdLineTests/classLoaderTest/playlist.xml
  test/functional/cmdLineTests/gcRegressionTests/playlist.xml
  test/functional/cmdLineTests/gcsuballoctests/playlist.xml
  test/functional/cmdLineTests/gptest/playlist.xml
  test/functional/cmdLineTests/ignoreUnrecognizedVMOptions/playlist.xml
  test/functional/cmdLineTests/jep178staticLinkingTest/playlist.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
  test/functional/cmdLineTests/openssl/playlist.xml
  test/functional/cmdLineTests/pltest/playlist.xml
  test/functional/cmdLineTests/sigabrtHandlingTest/playlist.xml
  test/functional/cmdLineTests/stackSizeInfoTest/playlist.xml
  test/functional/cmdLineTests/xlpCMLTests/playlist.xml
Labels: comp:test

#11824 Ensure com.ibm.j9ddr.tools.ddrinteractive can be exported
  jcl/src/openj9.dtfj/share/classes/com/ibm/j9ddr/tools/ddrinteractive/Unused.java
Labels: comp:vm

#11766 Add a value type check in valueTypeIllegalMonitorState
  runtime/codert_vm/cnathelp.cpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/jnicsup.cpp
Labels: comp:vm, project:valhalla

#11828 Modify romClassLoadFromCookie entry trace point
  runtime/vm/j9vm.tdf
  runtime/vm/romutil.c
Labels: comp:vm

#11830 Update the CML option of JEP390
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  test/functional/cmdLineTests/ValueBasedClassTest/jep390.xml
Labels: comp:vm, jdk16

#11820 Update incorrect variable in assert
  runtime/compiler/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#11815 [MethodHandles] Update classData and add classDataAt for JDK16
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
Labels: comp:vm, jdk16

#10690 Implement MethodHandleNatives native code
  runtime/jcl/CMakeLists.txt
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/reflecthelp.c
  runtime/jcl/exports.cmake
  runtime/jcl/j9jcl.tdf
  runtime/jcl/module.xml
  runtime/jcl/uma/java_lang_invoke_MethodHandleNatives_exports.xml
  runtime/jcl/uma/java_lang_invoke_MethodHandleNatives_objects.xml
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
Labels: comp:vm, project:MH
