Repository eclipse-openj9/openj9, pull requests merged in 2022-08, with the labels that each got.

#15118 Add API getDefaultValueSlotAddress
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jit, depends:omr, project:valhalla

#15652 Exclude Jep425Tests_testVirtualThread
  test/functional/Java19andUp/playlist.xml
Labels: comp:test

#15659 Avoid costly native symbol resolution for java dumps
  runtime/oti/j9port_generated.h
  runtime/rasdump/dmpsup.c
  runtime/rasdump/javadump.cpp
  runtime/vm/gphandle.c
Labels: comp:vm

#15555 Show owner of J9VMInternals$ClassInitializationLock in javacore
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#15660 Enhance assertion to simplify debugging
  runtime/gc_vlhgc/CopyForwardScheme.cpp
Labels: comp:gc

#15653 Allow for incompatible caches in JVMTI shared cache management test
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/sharedCacheAPI/sca001.c
Labels: comp:test

#15669 Fix a message in TR_DynamicLiteralPool::addNewAloadChild()
  runtime/compiler/optimizer/DynamicLiteralPool.cpp
Labels: comp:jit

#15613 Fix cmdLineTester_criu_keepCheckpoint
  test/functional/cmdLineTests/criu/criuScript.sh
  test/functional/cmdLineTests/criu/criu_keepCheckpoint.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/CRIUSimpleTest.java
Labels: comp:test

#15667 Implement Access.executeOnCarrierThread()
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, project:loom, jdk19

#15617 Change how TR_IPBCDataCallGraph entries are persisted into SCC
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit, depends:omr

#15648 CRIU delay Thread.interrupt() in single thread mode
  runtime/jcl/common/thread.cpp
  runtime/jcl/j9jcl.tdf
  runtime/jvmti/jvmtiRawMonitor.c
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/j9vm.tdf
  runtime/vm/threadhelp.cpp
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/CRIUTestUtils.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestDelayedOperations.java
Labels: comp:vm, criu

#15684 Add -Xint to testVirtualThread, re-enable test
  test/functional/Java19andUp/playlist.xml
Labels: comp:test, project:loom

#15674 Enable JITServer in CRIU non-portable mode
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/J9Options.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
Labels: comp:vm, comp:jit, criu

#15680 Refactor TR::DefaultCompilationStrategy::processJittedSample
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationController.hpp
Labels: comp:jit

#15618 Add option to decompress() for variable length
  jcl/src/java.base/share/classes/java/lang/StringBuffer.java
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
Labels: jdk8, comp:vm

#15689 Disable testSystemNanoTime due to intermitten criu failures
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
Labels: comp:test

#15691 Delete unused methods TR_MultipleCallTargetInliner::walkCallSite[s]()
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
Labels: comp:jit

#15642 Call setContinuation before/after entry
  jcl/src/java.base/share/classes/jdk/internal/vm/Continuation.java
  runtime/jcl/common/jclcinit.c
Labels: project:loom

#15686 Disable LocalSyncCompiles under FullSpeedDebug
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#15644 Prefer local compilations in more cases
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#15699 Remove AVX512F from features supported by portable CPU
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jit, arch:x86

#15700 Fix race condition related to IProfiler info persistence
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#15698 Add extra assertions for unexpected Card states
  runtime/gc_vlhgc/CopyForwardScheme.cpp
Labels: comp:gc

#15666 Load default value instance if the class is initialized
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/il/J9SymbolReference.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit, project:valhalla

#15707 Fix incorrect free in ensure hashed parsing
  runtime/vm/jvminit.c
Labels: bug, comp:vm

#15637 Add SIGUSR2 handler and matching -Xdump event
  buildspecs/aix_ppc-64.spec
  buildspecs/aix_ppc-64_cmprssptrs.spec
  buildspecs/aix_ppc.spec
  buildspecs/j9.flags
  buildspecs/linux_390-64.spec
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_390.spec
  buildspecs/linux_aarch64.spec
  buildspecs/linux_aarch64_cmprssptrs.spec
  buildspecs/linux_aarch64_cmprssptrs_cross.spec
  buildspecs/linux_aarch64_cross.spec
  buildspecs/linux_arm.spec
  buildspecs/linux_arm_linaro.spec
  buildspecs/linux_ppc-64.spec
  buildspecs/linux_ppc-64_cmprssptrs.spec
  buildspecs/linux_ppc-64_cmprssptrs_le.spec
  buildspecs/linux_ppc-64_le.spec
  buildspecs/linux_ppc.spec
  buildspecs/linux_riscv64.spec
  buildspecs/linux_riscv64_cmprssptrs.spec
  buildspecs/linux_riscv64_cmprssptrs_cross.spec
  buildspecs/linux_riscv64_cross.spec
  buildspecs/linux_x86-64.spec
  buildspecs/linux_x86-64_cmprssptrs.spec
  buildspecs/linux_x86.spec
  buildspecs/linux_ztpf_390-64.spec
  buildspecs/osx_x86-64.spec
  buildspecs/osx_x86-64_cmprssptrs.spec
  buildspecs/zos_390-64.spec
  buildspecs/zos_390-64_cmprssptrs.spec
  buildspecs/zos_390.spec
  debugtools/DDR_VM/src/com/ibm/j9ddr/CompatibilityConstants29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/view/dtfj/image/J9DDRImageProcess.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/ShowDumpAgentsCommand.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/javacore/parser/j9/section/platform/PlatformPatternMatchers.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/javacore/parser/j9/section/platform/PlatformSectionParser.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/javacore/parser/j9/section/platform/PlatformTagParser.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/jvm/j9/dump/indexsupport/NodeGPF.java
  runtime/cmake/caches/common.cmake
  runtime/cmake/caches/win_x86-64.cmake
  runtime/cmake/caches/win_x86.cmake
  runtime/include/j9cfg.h.in
  runtime/jcl/CMakeLists.txt
  runtime/jcl/common/sigusr2.c
  runtime/jcl/common/stdinit.c
  runtime/jcl/j9jcl.tdf
  runtime/jcl/jcl_internal.h
  runtime/jcl/uma/se6_vm-side_natives_objects.xml
  runtime/oti/j9consts.h
  runtime/oti/j9dump.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/rasdump/dmpagent.c
  runtime/rasdump/trigger.c
  runtime/vm/jniinv.c
  runtime/vm/jvminit.c
Labels: comp:vm, depends:doc

#15701 Force a GC pre-checkpoint Part1
  runtime/criusupport/criusupport.cpp
Labels: comp:gc, criu

#15722 Disable AVX register preservation on x86
  runtime/vm/jvminit.c
Labels: comp:jit

#15728 (0.33.1) Disable AVX register preservation on x86
  runtime/vm/jvminit.c
Labels: comp:jit

#15729 (0.33.1) Remove AVX512F from the features supported by our portable CPU description
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jit, arch:x86

#15725 Deleted an unnecessary assert
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#15724 Fix node reference counts in VectorAPIExpansion
  runtime/compiler/optimizer/J9OptimizationManager.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#15715 Add options to control resolution of native stack symbols in java dumps
  runtime/oti/j9dump.h
  runtime/oti/jvminit.h
  runtime/rasdump/dmpsup.c
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#15742 Add release notes for 0.33.1
  doc/release-notes/0.33/0.33.1.md
Labels: comp:doc

#15733 Add more remote recompilation guards
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#15739 Delay LocalSyncCompiles option parsing
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#15678 Add Continuation direct transition support
  jcl/src/java.base/share/classes/jdk/internal/vm/Continuation.java
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ContinuationHelpers.cpp
  runtime/vm/ContinuationHelpers.hpp
  runtime/vm/bindnatv.cpp
Labels: project:loom

#15745 Update 0.33 release notes to support 0.33.1
  doc/release-notes/0.33/0.33.1.md
  doc/release-notes/0.33/0.33.md
Labels: comp:doc

#15723 Check VFT bounds in TR_J9VMBase::getVFTEntry()
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/VMJ9.cpp
Labels: comp:jit

#15727 Stop registering class extend assumptions for HCR guards
  runtime/compiler/env/CHTable.cpp
Labels: comp:jit

#15726 Add class for OSR redefinition when removing a merged HCR guard
  runtime/compiler/optimizer/OSRGuardInsertion.cpp
Labels: comp:jit

#15713 Check if instanceDescription is an immediate value in loop
  runtime/compiler/env/j9fieldsInfo.cpp
Labels: bug, comp:jit, project:valhalla

#15782 Remove jdk18 from support in 0.35 release notes
  doc/release-notes/0.35/0.35.md
Labels: comp:doc

#15765 Update jvmtiGetThreadInfo for Loom
  runtime/jvmti/jvmtiThread.c
  runtime/oti/j9nonbuilder.h
Labels: comp:vm, project:loom

#15783 Compile Windows jdk11 with VS2019
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#15807 AArch64: Inline Math.min and max
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#15683 Inline superClassTest for transformed checkCast nodes when castClass is runtime variable
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#15785 Update disabled platforms
  test/functional/cmdLineTests/libpathTest/playlist.xml
Labels: comp:test

#15812 Enable Portable SCC detection on aarch64
  runtime/vm/jvminit.c
Labels: comp:jit, comp:jit:aot, arch:aarch64
