Repository eclipse-openj9/openj9, pull requests merged in 2022-07, with the labels that each got.

#15484 Update OpenSSL to 1.1.1q
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#15393 Make BoolArrayStoreTransformer iterate CFG for DLT compiles
  runtime/compiler/optimizer/BoolArrayStoreTransformer.cpp
Labels: comp:jit

#15486 Disable libpathTestRtfChild on headless platforms
  test/functional/cmdLineTests/libpathTest/playlist.xml
Labels: comp:test

#15520 Use OpenSSL 1.1.1p for xmac
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#15525 Add missing NULL-check for jitConfig
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#15498 Re-order the shutdown hook sequence
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
Labels: comp:vm

#15523 Remove unwanted definition of JVMTI_VERSION_15
  runtime/include/jvmti.h.m4
Labels: comp:vm

#15497 Do not set backfillOffset of VT to -1
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/vm/description.c
Labels: comp:vm, comp:gc, project:valhalla

#15053 Add verification for primitive objects
  runtime/bcutil/cfreader.c
  runtime/bcverify/rtverify.c
  runtime/bcverify/staticverify.c
  runtime/bcverify/vrfyhelp.c
  runtime/nls/cfre/cfrerr.nls
  runtime/oti/bcverify_api.h
  runtime/oti/bytecodewalk.h
  runtime/oti/cfreader.h
  runtime/verbose/errormessageframeworkrtv.c
  runtime/verbose/errormessagehelper.c
  runtime/verutil/chverify.c
Labels: comp:vm, project:valhalla

#15526 CRIU add single parameter exception constructors to support native setCurrentExceptionUTF()
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/JVMCheckpointException.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/RestoreException.java
Labels: comp:vm, criu

#15531 Correct J9NLS_CFR_ERR_NEST_MEMBER_INVALID_REFERENCETYPE_DESCRIPTOR
  runtime/bcutil/cfreader.c
  runtime/nls/cfre/cfrerr.nls
Labels: comp:vm

#15528 Add openj9 exclude file for Java 20
  test/TestConfig/resources/excludes/latest_exclude_20.txt
Labels: comp:test

#15532 Remove assert invalidated by "Recognize Class.cast and transform calls to it into checkcast"
  runtime/compiler/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:z

#15551 Relocate clearNonZAAPEligibleBit implementation to vm_scar.c
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/jcl/common/vm_scar.c
Labels: comp:vm

#15556 Add new JITServer features in the 0.33.0 release notes
  doc/release-notes/0.33/0.33.md
Labels: comp:doc

#15559 Add UMA makefile filter flag for ContinuationHelpers.cpp/hpp
  runtime/vm/module.xml
Labels: comp:vm

#15564 Fix compiler warning
  runtime/jcl/common/jdk_internal_vm_Continuation.cpp
Labels: comp:vm

#15550 NPE extended message generation missed j9mem_free_memory calls
  runtime/j9vm/javanextvmi.c
  runtime/vm/extendedMessageNPE.cpp
Labels: comp:vm

#15565 (0.33) NPE extended message generation missed j9mem_free_memory calls
  runtime/j9vm/javanextvmi.c
  runtime/vm/extendedMessageNPE.cpp
Labels: comp:vm

#15467 Factor out SSL context creation, improve SSL log message
  runtime/compiler/net/ServerStream.cpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/runtime/MetricsServer.cpp
Labels: comp:jitserver

#15571 Use internalRunStaticMethod to pass object pointer arguments
  runtime/oti/vmconstantpool.xml
  runtime/vm/bindnatv.cpp
  runtime/vm/callin.cpp
Labels: comp:vm

#15543 Stop trusting parameter types for bastore in DLT
  runtime/compiler/optimizer/BoolArrayStoreTransformer.cpp
Labels: comp:jit

#15505 Improve JITServer handling of socket timeouts
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/StreamExceptions.hpp
Labels: comp:jitserver

#15588 Update SysPropTest to work on AIX with jdk18.0.2
  test/functional/cmdLineTests/SystemPropertiesTest/src/SysPropTest.java
Labels: comp:test

#15589 (0.33) Update SysPropTest to work on AIX with jdk18.0.2
  test/functional/cmdLineTests/SystemPropertiesTest/src/SysPropTest.java
Labels: comp:test

#15581 Fix compilation thread number parsing error
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit, comp:jitserver

#15583 Add AVX2 to supported feature tests
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jit, depends:omr:breaking

#15597 Remove musl license and update OpenJ9/OMR start copyright date
  LICENSE
  longabout.html
Labels: comp:doc

#15600 (0.33) Remove musl license and update OpenJ9/OMR start copyright date
  LICENSE
  longabout.html
Labels: comp:doc

#15604 Fix obsolete link
  cdsadapter/README.md
Labels: comp:doc

#15591 Apply performance and functional fixes to VectorAPIExpansion
  runtime/compiler/optimizer/J9Optimizer.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#15546 Remove setting of Vector Supports in Linkage
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
Labels: comp:jit, arch:z

#15602 Abstract JIT GPR spill area
  runtime/jilgen/jilconsts.c
  runtime/oti/j9nonbuilder.h
Labels: project:loom

#15557 CRIU throws UnsupportedOperationException when UnsatisfiedLinkError
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
Labels: comp:vm, criu

#15587 Handle EINTR errors in JITServer networking
  runtime/compiler/net/CommunicationStream.hpp
Labels: comp:jitserver

#15608 Add space before method hotness
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#15593 Move ClassSpecializer.java from OpenJ9 to extension repo
  jcl/src/java.base/share/classes/java/lang/invoke/ClassSpecializer.java
Labels: comp:vm

#15625 Clone jvmti test exclusions from 19 for 20
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_20.xml
Labels: comp:test

#15610 Cleaning for Concurrent Scavenger initialization
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
Labels: bug, comp:gc, depends:omr

#15614 Disable multiple checkpoints test
  test/functional/cmdLineTests/criu/playlist.xml
Labels: comp:test

#15460 Fix issues with non-SVM aconst_init AOT compilation
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, project:valhalla

#15619 Fix issue in java.lang.Thread.getThreads
  runtime/jcl/common/thread.cpp
Labels: comp:vm, jdk19
