Repository eclipse-openj9/openj9, pull requests merged in 2022-12, with the labels that each got.

#16397 Modify test conditions to allow for restore failure
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_random.xml
  test/functional/cmdLineTests/criu/criu_security.xml
Labels: comp:test

#16405 Remove invalid arch.s390x
  test/functional/JIT_Test/playlist.xml
Labels: comp:test

#16389 Invoke J9AllocateObject without acquiring liveVirtualThreadListMutex
  runtime/j9vm/javanextvmi.cpp
Labels: backport:candidate, jdk19

#16375 Delay Continuation's native allocation to first mount
  jcl/src/java.base/share/classes/jdk/internal/vm/Continuation.java
  runtime/jcl/common/jdk_internal_vm_Continuation.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se19_exports.xml
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/ContinuationHelpers.cpp
  runtime/vm/intfunc.c
Labels: backport:candidate, jdk19

#16406 Fix bug while computing effective caller index
  runtime/compiler/runtime/J9Profiler.cpp
Labels: comp:jit

#16287 Remove node refCount decrement in DAA evaluators
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
Labels: comp:jit

#16370 AArch64: Clean up UpcallThunkGen.cpp
  runtime/vm/xr64/UpcallThunkGen.cpp
Labels: comp:vm, project:panama, arch:aarch64

#16394 Improve client JVM disconnect messages
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
Labels: comp:jitserver

#16414 Fix up potential stale pointer after GC
  runtime/j9vm/javanextvmi.cpp
Labels: backport:candidate, jdk19

#16265 Add functions to support and use type hint in VP
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/J9ValuePropagation.hpp
Labels: comp:jit, depends:omr

#16415 (0.36) Check sequence boundary before generating next sequence transition
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#15830 Update test user guide
  test/docs/OpenJ9TestUserGuide.md
Labels: comp:test

#16399 Fix unsafe call transformation
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#16334 Update OpenJ9 build for Windows
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#16425 Update LICENSE and about files for zlib 1.2.13, libffi
  LICENSE
  longabout.html
  runtime/include/about.html
  runtime/zlib/about.html
Labels: comp:doc

#16432 (0.36) Update LICENSE and about files for zlib 1.2.13, libffi
  LICENSE
  longabout.html
  runtime/include/about.html
  runtime/zlib/about.html
Labels: comp:doc

#16435 Update cmake workarounds for jdk11
  sourcetools/CMakeLists.txt
  sourcetools/j9constantpool/CMakeLists.txt
Labels: comp:build, jdk11, os:windows

#16441 (0.36.0) Update cmake workarounds for jdk11
  sourcetools/CMakeLists.txt
  sourcetools/j9constantpool/CMakeLists.txt
Labels: comp:build, jdk11, os:windows

#16423 Rectify the flag setting for uninitializedThis in the stackmaps
  runtime/bcverify/bcverify.c
  runtime/bcverify/rtverify.c
  runtime/oti/j9consts.h
  runtime/verbose/errormessageframeworkrtv.c
Labels: comp:vm

#16427 [FFI] Remove PUSH_OBJECT_IN_SPECIAL_FRAME in the upcall dispatcher
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalUpcallHandler.java
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/UpcallMHMetaData.java
  runtime/oti/vmconstantpool.xml
  runtime/vm/OutOfLineINL_openj9_internal_foreign_abi_UpCallMHMetaData.cpp
  runtime/vm/UpcallVMHelpers.cpp
Labels: comp:vm, project:panama

#16445 [FFI/0.36]Fix the OOM issue with thunk allocation
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalUpcallHandler.java
  runtime/jcl/common/jdk_internal_foreign_abi_UpcallStubs.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/vm/OutOfLineINL_openj9_internal_foreign_abi_InternalUpcallHandler.cpp
  runtime/vm/UpcallThunkMem.cpp
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
  runtime/vm/vmthinit.c
Labels: comp:vm, project:panama

#16385 GC Thread Pool Tuning for CRIU
  runtime/criusupport/criusupport.cpp
  runtime/gc/gctable.c
  runtime/gc_base/gc_internal.h
  runtime/gc_base/modronapi.cpp
  runtime/gc_modron_startup/mmparse.cpp
  runtime/gc_realtime/Scheduler.hpp
  runtime/oti/j9nonbuilder.h
  runtime/vm/vmthread.cpp
Labels: comp:gc, criu

#16447 Release all free pages in balanced GC
  runtime/gc_vlhgc/MemorySubSpaceTarok.cpp
  runtime/gc_vlhgc/MemorySubSpaceTarok.hpp
  test/functional/cmdLineTests/criu/playlist.xml
Labels: comp:gc, criu

#16450 [Verifier/0.36] Rectify the flag setting for uninitializedThis in the stackmaps
  runtime/bcverify/bcverify.c
  runtime/bcverify/rtverify.c
  runtime/oti/j9consts.h
  runtime/verbose/errormessageframeworkrtv.c
Labels: comp:vm

#16455 Avoid calling getEnclosingBlock
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/EscapeAnalysis.hpp
Labels: comp:jit

#16421 Add Disable Global Continuation Lists option
  runtime/gc_base/GCExtensions.cpp
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_base/modronapi.cpp
  runtime/gc_glue_java/MarkingSchemeRootClearer.cpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/gc_glue_java/ScavengerRootClearer.cpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/oti/VMHelpers.hpp
Labels: comp:gc, backport:candidate, project:loom

#16465 [0.36.0] Avoid calling getEnclosingBlock
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/EscapeAnalysis.hpp
Labels: comp:jit

#16458 AArch64: Save non-clobberable argument register when passed using the stack
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: comp:jit, arch:aarch64

#16429 Inline interface calls only when the named interface can be found
  runtime/compiler/optimizer/J9Inliner.cpp
Labels: comp:jit

#16418 Add GLIBC_TUNABLES values in criu cmdline tests
  test/functional/cmdLineTests/criu/criuScript.sh
Labels: comp:test, criu

#16470 Add CRIU helper VM.isJVMInSingleThreadedMode()
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  runtime/jcl/common/com_ibm_oti_vm_VM.c
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se7_exports.xml
  runtime/oti/jclprots.h
Labels: comp:vm, criu

#16476 Fix reloErrorCodeNames mistake
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: comp:jit:aot

#16475 Set _updateFreeMemoryMinPeriod option to 300 ms on Power
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit, arch:power

#16483 Clear pending exception after JVMTI class replacement
  runtime/jvmti/jvmtiClass.c
Labels: comp:vm

#16485 Fix missing parameter for scanContinuationNativeSlots
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
Labels: comp:gc, backport:candidate, project:loom, jdk19

#16488 (0.36) Clear pending exception after JVMTI class replacement
  runtime/jvmti/jvmtiClass.c
Labels: comp:vm

#16491 Fix reloErrorCodeNames mistake (0.36.0)
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: comp:jit:aot

#16492 (0.36) Update OpenJ9 build for Windows
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#16495 Remove aarch64 exclude of SCURLClassLoaderTests
  test/functional/cmdLineTests/URLClassLoaderTests/playlist.xml
Labels: comp:test

#16442 Add options for JITServer AOT caching exclusion
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: depends:omr, comp:jitserver

#16419 Add Deprecation Process doc
  doc/processes/deprecation.md
  doc/processes/release_process.md
Labels: comp:doc
