Repository eclipse-openj9/openj9, pull requests merged in 2022-11, with the labels that each got.

#16227 Update Class.getModifiers() to include new Valhalla modifiers
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, project:valhalla

#16233 Obsolete Trc_CRIU_after_checkpoint and reuse it with a new signature
  runtime/criusupport/j9criu.tdf
Labels: comp:vm

#16245 Fix use of Thread.resume(), stop(), suspend() in tests for jdk20
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_Thread.java
  test/functional/VM_Test/src/j9vm/test/clinit/GetStaticDuringClinit.java
  test/functional/VM_Test/src/j9vm/test/clinit/InvokeStaticDuringClinit.java
  test/functional/VM_Test/src/j9vm/test/clinit/NewDuringClinit.java
  test/functional/VM_Test/src/j9vm/test/clinit/PutStaticDuringClinit.java
Labels: comp:test

#16241 Fix JVMTI ContFramePopTest
  runtime/jvmti/jvmtiHelpers.c
Labels: comp:vm, project:loom, jdk19

#16252 Replace libffi/aarch64 with the latest version in GitHub
  runtime/include/ffi_common.h
  runtime/libffi/CMakeLists.txt
  runtime/libffi/aarch64/ffi.c
  runtime/libffi/aarch64/ffitarget.h
  runtime/libffi/aarch64/internal.h
  runtime/libffi/aarch64/sysv.S
  runtime/libffi/closures.c
  runtime/libffi/preconf/xr64/ffi.h
  runtime/libffi/preconf/xr64/fficonfig.h
  runtime/libffi/tramp.c
Labels: comp:vm, project:panama, arch:aarch64

#16256 Change the default SCC directory
  runtime/oti/j9port.h
  runtime/port/sysvipc/j9shmem.c
Labels: comp:vm, depends:doc

#16266 Suppress deprecation warnings for jdk20+
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassAbstractHelper.java
Labels: comp:vm, jdk20

#16262 Update interface method resolution
  runtime/vm/lookupmethod.c
Labels: comp:vm

#16272 Add test for default SCC directory
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLOpenJ9.xml
Labels: comp:test

#16177 Add testing for VT hashcodes
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTestClasses.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeUnsafeTests.java
Labels: comp:test, project:valhalla

#16268 AArch64: Fix getArgPointer() for FFI upcall
  runtime/vm/xr64/UpcallThunkGen.cpp
Labels: comp:vm, project:panama, arch:aarch64

#16295 Fix potential NPE in TestOpenJ9DiagnosticsMXBean.tearDown()
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestOpenJ9DiagnosticsMXBean.java
Labels: comp:test

#16296 Remove obsolete JAVA18 JPP configuration
  jcl/jpp_configuration.xml
Labels: comp:build

#16282 Disable TM when generating portable code
  runtime/compiler/env/J9CompilerEnv.cpp
  runtime/compiler/env/J9CompilerEnv.hpp
  runtime/compiler/p/env/J9CPU.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/z/env/J9CPU.cpp
Labels: comp:jit, comp:jit:aot

#16171 Handle mask reduction intrinsic in VectorAPIExpansion
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#16182 Remove uses of unsupported freetype configure options
  buildenv/jenkins/variables/defaults.yml
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc, comp:build

#16288 Stack walk loop breaker for ASGCT
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/swalk.c
Labels: comp:vm

#16305 Update to zlib 1.2.13
  runtime/include/zconf.h
  runtime/include/zlib.h
  runtime/zlib/compress.c
  runtime/zlib/crc32.c
  runtime/zlib/deflate.c
  runtime/zlib/deflate.h
  runtime/zlib/infback.c
  runtime/zlib/inflate.c
  runtime/zlib/inftrees.c
  runtime/zlib/inftrees.h
  runtime/zlib/trees.c
  runtime/zlib/uncompr.c
  runtime/zlib/zutil.c
  runtime/zlib/zutil.h
Labels: comp:vm

#16299 Re-write valueType sub-tests
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/DDRBackfillLayouTest.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTestClasses.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/Valhalla/testng.xml
  test/functional/cmdLineTests/valuetypeddrtests/flattened32bitRefBackfillTest.xml
Labels: comp:test, project:valhalla

#16308 Revert "Stack walk loop breaker for ASGCT"
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/swalk.c
Labels: comp:vm

#16075 Support for reading/writing a JITServer AOT cache in the background
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/env/PersistentCollections.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTCache.hpp
Labels: comp:jitserver

#16228 Refactor JITServer AOT cache reading
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTCache.hpp
  runtime/compiler/runtime/JITServerAOTSerializationRecords.hpp
Labels: comp:jitserver

#16313 Stack walk loop breaker for ASGCT
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/swalk.c
Labels: comp:vm

#16307 Remove ValueTypeArrayTestsJIT and ValueTypeTestsJIT from testng.xml
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/testng.xml
Labels: comp:test, project:valhalla

#16199 AArch64: Stop generating a dmb for allocationFence when possible
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#16317 Fix AttachAPI test AssertJUnit.assertNotNull()
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestAttachErrorHandling.java
Labels: comp:test

#16264 Remove type checks for VT <init> method in constant pool
  runtime/bcverify/staticverify.c
Labels: comp:vm, project:valhalla

#16273 Disable countDecimalDigits transformation for AOT compilations
  runtime/compiler/optimizer/IdiomTransformations.cpp
Labels: comp:jit, comp:jit:aot

#16294 Fix field offset in flattened array element access
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeArrayTests.java
Labels: comp:jit, project:valhalla

#14930 Add perl-IPC-Cmd to CentOS6 docker container
  buildenv/docker/mkdocker.sh
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#16280 CRIURestoreNonPortableMode is enabled by default
  runtime/vm/jvminit.c
Labels: comp:vm, criu

#16219 [VaList/JDK17]Enable VaList related test suites on Power & zLinux
  test/functional/Java17andUp/playlist.xml
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/valist/ApiTests.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/valist/DowncallTests.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/valist/UpcallTests.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/valist/VaListUpcallMethodHandles.java
  test/functional/Java17andUp/testng_170.xml
Labels: comp:test, project:panama

#16290 Synchronization between continuation mounting and concurrent scanning
  runtime/gc_glue_java/CompactSchemeFixupObject.cpp
  runtime/gc_glue_java/HeapWalkerDelegate.cpp
  runtime/gc_glue_java/MarkingDelegate.cpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_structs/VMThreadStackSlotIterator.cpp
  runtime/gc_structs/VMThreadStackSlotIterator.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/ContinuationHelpers.cpp
Labels: comp:vm, comp:gc, project:loom

#16155 Use profilingOpts strategy under JitProfiling mode only
  runtime/compiler/optimizer/J9Optimizer.cpp
  runtime/compiler/optimizer/OptimizationGroups.enum
Labels: comp:jit

#16318 Improve JITServer AOT cache error logging
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTCache.hpp
Labels: comp:jitserver

#16217 Adds implementation for accessFlags() in Class.java
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, jdk20

#16332 AArch64: Fix getArgPointer() for FFI upcall
  runtime/vm/xr64/UpcallThunkGen.cpp
Labels: comp:vm, project:panama, arch:aarch64

#16330 Fix the return type of VectorSupport.fromBitsCoerced
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#16343 AArch64: Simplify stack offsets for FFI upcall on macOS
  runtime/vm/xr64/UpcallThunkGen.cpp
Labels: comp:vm, project:panama, arch:aarch64

#16316 Make VP erase interface types in array types from signatures
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/J9ValuePropagation.hpp
Labels: comp:jit, depends:omr

#16345 Re-enable gtgc001 on JDK20
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_20.xml
Labels: comp:test

#16283 CRIU invokes j9sysinfo_get_env() to avoid checkpoint failure
  runtime/oti/j9port.h
  runtime/port/common/j9prt.tdf
  runtime/port/sysvipc/j9shmem.c
  runtime/shared_common/shrinit.cpp
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/jvminit.c
Labels: comp:vm, criu

#16335 Unset Valhalla modifiers in Class.toGenericString()
  jcl/src/java.base/share/classes/java/lang/Class.java
  test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/Test_Class.java
Labels: comp:vm, comp:test, project:valhalla

#16359 Update DDR TestClassExt to expect 14 Object methods
  test/functional/DDR_Test/src/j9vm/test/ddrext/Constants.java
Labels: comp:test

#16251 Introduce SystemCheckpointException
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/JVMRestoreException.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/SystemRestoreException.java
  runtime/criusupport/criusupport.cpp
  runtime/nls/j9cl/j9jcl.nls
  runtime/nls/j9cl/j9jcl_ca.nls
  runtime/nls/j9cl/j9jcl_cs.nls
  runtime/nls/j9cl/j9jcl_de.nls
  runtime/nls/j9cl/j9jcl_es.nls
  runtime/nls/j9cl/j9jcl_fr.nls
  runtime/nls/j9cl/j9jcl_hu.nls
  runtime/nls/j9cl/j9jcl_it.nls
  runtime/nls/j9cl/j9jcl_ja.nls
  runtime/nls/j9cl/j9jcl_ko.nls
  runtime/nls/j9cl/j9jcl_pl.nls
  runtime/nls/j9cl/j9jcl_pt_BR.nls
  runtime/nls/j9cl/j9jcl_sk.nls
  runtime/nls/j9cl/j9jcl_sl.nls
  runtime/nls/j9cl/j9jcl_tr.nls
  runtime/nls/j9cl/j9jcl_zh.nls
  runtime/nls/j9cl/j9jcl_zh_CN.nls
  runtime/nls/j9cl/j9jcl_zh_TW.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/exceptionsupport.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/CRIUTestUtils.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeCheckpointException.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeRestoreException.java
Labels: comp:vm, criu

#16339 Remove mention of ThreadDeath, which is unused and deprecated in jdk20
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
Labels: comp:vm, jdk20

#16360 Fix up global continuation lists instead of rebuilding for compaction
  runtime/gc_glue_java/CompactDelegate.cpp
  runtime/gc_glue_java/CompactSchemeFixupObject.cpp
  runtime/gc_glue_java/CompactSchemeFixupObject.hpp
  runtime/gc_glue_java/CompactSchemeFixupRoots.cpp
  runtime/gc_glue_java/CompactSchemeFixupRoots.hpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.hpp
Labels: comp:gc

#16350 Handle maskReductionCoerced element type in VectorAPIExpansion
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit, arch:aarch64

#16344 Pass struct correctly in memory for Windows upcall thunk
  runtime/vm/wa64/UpcallThunkGen.cpp
Labels: comp:vm, project:panama

#16362 AArch64 macOS: Fix alignment of structs passed in the stack
  runtime/libffi/aarch64/ffi.c
Labels: project:panama, arch:aarch64

#16205 Inspect BCI as well while computing effective caller index
  runtime/compiler/runtime/J9Profiler.cpp
Labels: comp:jit

#16260 [Jtreg/FFI]Fix the OOM issue with thunk allocation
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalUpcallHandler.java
  runtime/jcl/common/jdk_internal_foreign_abi_UpcallStubs.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/vm/OutOfLineINL_openj9_internal_foreign_abi_InternalUpcallHandler.cpp
  runtime/vm/UpcallThunkMem.cpp
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
  runtime/vm/vmthinit.c
Labels: comp:vm, project:panama, arch:x86, arch:z, jdk17, jdk19

#16355 Update the verifier to recognize new constructor <vnew> of value type
  runtime/bcutil/cfreader.c
  runtime/bcverify/staticverify.c
  runtime/bcverify/vrfyhelp.c
  runtime/jcl/common/java_lang_Class.cpp
  runtime/nls/cfre/cfrerr.nls
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_cs.nls
  runtime/nls/cfre/cfrerr_de.nls
  runtime/nls/cfre/cfrerr_es.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_hu.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_ja.nls
  runtime/nls/cfre/cfrerr_ko.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_sk.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/cfre/cfrerr_zh_TW.nls
  runtime/oti/cfr.h
  runtime/oti/cfreader.h
  runtime/oti/j9modifiers_api.h
  runtime/verbose/errormessagehelper.c
  runtime/verutil/chverify.c
Labels: comp:vm, project:valhalla
