Repository eclipse-openj9/openj9, pull requests merged in 2022-01, with the labels that each got.

#14162 (0.30.0) Update license copyrights missed by previous commits
  LICENSE
  longabout.html
Labels: comp:doc

#14161 Update license copyrights missed by previous commits
  LICENSE
  longabout.html
Labels: comp:doc

#13925 Implement SharedClassStatistics.numberAttached(), cachePath(), etc.
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassStatistics.java
  runtime/jcl/common/shared.c
  runtime/jcl/exports.cmake
  runtime/jcl/j9jcl.tdf
  runtime/jcl/uma/se829_exports.xml
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/rasdump/javadump.cpp
  runtime/shared_common/CacheLifecycleManager.cpp
  runtime/shared_common/OSCache.cpp
  runtime/shared_common/OSCache.hpp
  runtime/shared_common/OSCachemmap.cpp
  runtime/shared_common/OSCachesysv.cpp
  runtime/tests/shared/SharedCacheAPITest.cpp
Labels: comp:vm, depends:doc

#14184 AIX: correct a variable declaration by removing the keyword `volatile`
  runtime/tests/jsig/main.c
Labels: comp:test

#14196 AArch64: Use factory methods for creating MemoryReference
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/J9MemoryReference.hpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/codegen/MemoryReference.hpp
Labels: comp:jit, arch:aarch64

#14167 Adopt RI java.lang.Thread/ThreadGroup w/ opt_ojdkThreadSupport
  buildspecs/core.feature
  buildspecs/j9.flags
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  jcl/src/java.base/share/classes/java/lang/Thread.java
  jcl/src/java.base/share/classes/java/lang/ThreadGroup.java
  runtime/cmake/options.cmake
  runtime/include/j9cfg.h.in
  runtime/jvmti/jvmtiThreadGroup.c
  runtime/oti/vmconstantpool.xml
Labels: comp:vm, jdk-head, project:loom

#14214 (0.30.0) AIX: correct a variable declaration by removing the keyword volatile
  runtime/tests/jsig/main.c
Labels: comp:test

#14216 Throw the VerifyError in the case of the bad offset in stackmaps
  runtime/bcverify/staticverify.c
Labels: comp:vm, jdk18

#14220 Shared cache - fix comparison > 0 after nattach declaration change
  runtime/shared_common/CacheLifecycleManager.cpp
Labels: comp:vm

#14222 Fix GPUAssist enablement
  jcl/src/java.base/share/classes/com/ibm/gpu/spi/GPUAssistHolder.java
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  jcl/src/java.base/share/classes/java/lang/System.java
  test/functional/cmdLineTests/gputests/build.xml
  test/functional/cmdLineTests/gputests/gputests.xml
  test/functional/cmdLineTests/gputests/gputests_exclude.xml
  test/functional/cmdLineTests/gputests/playlist.xml
Labels: comp:vm

#14223 Replace delayedErrorCode with errorCode for the bad offset in stackmaps
  runtime/bcverify/staticverify.c
Labels: comp:vm

#14225 Minor improvements to java.lang.System
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#14235 Fix GPUAssist enablement test
  test/functional/cmdLineTests/gputests/playlist.xml
Labels: comp:test

#14217 Replace vlogAcquire()/vlogRelease() pairs with CriticalSection
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/net/Message.cpp
  runtime/compiler/runtime/CRuntimeImpl.cpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/HookHelpers.cpp
  runtime/compiler/runtime/JITServerStatisticsThread.cpp
  runtime/compiler/runtime/JitRuntime.cpp
Labels: comp:jit

#14210 Open RT Log per compilation thread
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/CodeRuntime.hpp
  runtime/compiler/runtime/RelocationRuntimeLogger.cpp
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit, comp:jit:aot

#14241 Add criu build targets
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, criu

#14245 Simplify capacity of HashMap
  jcl/src/java.base/share/classes/java/lang/Thread.java
Labels: comp:vm

#14247 AArch64: Disabling Subrange Overlap test
  runtime/compiler/optimizer/IdiomTransformations.cpp
Labels: comp:jit, arch:aarch64

#14242 Move the check on the constant module/package flag to checkPool()
  runtime/bcutil/cfreader.c
Labels: comp:vm

#14212 Re-organize TestUtilities
  test/functional/Java10andUp/build.xml
  test/functional/Java8andUp/build.xml
  test/functional/Java9andUp/build.xml
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/TargetManager.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/TargetVM.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/package-info.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/java/lang/management/ThreadMXBean/ThreadMXBeanTestCaseCommon.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/jdk/internal/agent/Test_FileSystem_Base.java
Labels: comp:test

#14194 AArch64: Add support for macOS in JNILinkage
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
Labels: comp:jit, arch:aarch64, os:macos

#14249 Use String.isEmpty() for Java 8 compatibility
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
Labels: comp:vm, criu

#14250 Thread.stop() is deprecated for removal in jdk18
  jcl/src/java.base/share/classes/java/lang/Thread.java
Labels: comp:vm, jdk18

#14256 Update top level OpenJ9 and OMR copyright to 2022
  LICENSE
  longabout.html
Labels: comp:doc

#14224 Update release_process with time line guidance
  doc/processes/release_process.md
Labels: comp:doc

#14259 Update some instances of AdoptOpenJDK to Adoptium
  .github/ISSUE_TEMPLATE/test-suite-failure.md
  .github/workflows/autoTestPR.yml
  doc/compiler/jitserver/Testing.md
  doc/processes/labels.md
  test/README.md
  test/docs/OpenJ9TestUserGuide.md
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, comp:doc

#14255 Fix ddr modularity test, jdk17+ doesn't support --illegal-access option
  test/functional/cmdLineTests/modularityddrtests/modularityddrtests11.xml
  test/functional/cmdLineTests/modularityddrtests/modularityddrtests17.xml
  test/functional/cmdLineTests/modularityddrtests/playlist.xml
Labels: comp:test

#14270 Add CRIU support system property
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, criu

#14263 Emit the start time in the jitserver verbose log
  runtime/compiler/runtime/Listener.cpp
Labels: comp:jitserver

#14257 Add parameters to run specific aqa-tests releases
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
Labels: comp:test, comp:build

#14295 (0.30.0) Add parameters to run specific aqa-tests releases
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
Labels: comp:test, comp:build

#14294 (0.30.0) Fix the start of internal control flow and deps
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#14284 Fix native.encoding and properly initialize the console charset
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#14285 JEP 400 maps -Dfile.encoding=COMPAT to platform encoding
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/jcl/common/system.c
Labels: comp:vm, jdk18

#14307 JDK18+ disable finalization accordingly to command line option
  runtime/gc_modron_startup/mminit.cpp
Labels: comp:gc, jdk18

#14312 Resolve https://github.com/madler/zlib/issues/245 in zlib
  runtime/zlib/inflate.c
Labels: comp:vm

#14313 (0.30.0) Resolve https://github.com/madler/zlib/issues/245 in zlib
  runtime/zlib/inflate.c
Labels: comp:vm

#14314 Validate the count field when deserializing StringBuffer/StringBuilder
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/StringBuffer.java
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
Labels: comp:vm

#14315 (v0.30.0-release) Validate the count field when deserializing StringBuffer/StringBuilder
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/StringBuffer.java
  jcl/src/java.base/share/classes/java/lang/StringBuilder.java
Labels: comp:vm

#14305 Add missing release note and known problem
  doc/release-notes/0.30/0.30.md
Labels: comp:doc

#14309 Auto-download OpenSSL on Windows
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#14316 (0.30.0) Auto-download OpenSSL on Windows
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#14317 (0.30.0) Add missing release note and known problem
  doc/release-notes/0.30/0.30.md
Labels: comp:doc

#14306 (0.30.0) Add release documentation for java option `-XX:[+|-]EnsureHashed`
  doc/release-notes/0.30/0.30.md
Labels: comp:doc

#14310 Set a small -Xmx for testing RAS
  test/functional/RasapiTest/test.xml
Labels: comp:test

#14296 AArch64: Load function pointers from memory using a macro
  runtime/compiler/aarch64/runtime/PicBuilder.spp
  runtime/compiler/aarch64/runtime/Recompilation.spp
Labels: comp:jit, arch:aarch64

#14177 [JEP416] Add caller sensitive adapter method in java.lang.ClassLoader
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
Labels: comp:vm, jdk18

#14273 Process aladd offsets that can fit in 32 bits
  runtime/compiler/optimizer/NewInitialization.cpp
Labels: comp:jit

#14311 Modify getObjectAlignmentInBytes for jitserver
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
Labels: comp:jitserver

#14277 Create -Xtune:throughput option and set options that favor throughput plus other cleanup
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/oti/j9consts.h
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm, comp:gc, comp:jit, perf

#14319 Set an appropriate -Xmx for testing RAS
  test/functional/RasapiTest/test.xml
Labels: comp:test

#14320 Set an appropriate -Xmx for testing RAS
  test/functional/RasapiTest/test.xml
Labels: comp:test

#14308 Updates to AsyncGetCallTrace
  runtime/j9vm/asgct.cpp
  runtime/vm/jniinv.c
Labels: comp:vm

#14293 Use omrstr_current_time_zone in javadump, emit time zone in the jitserver verbose log
  runtime/compiler/runtime/Listener.cpp
  runtime/rasdump/javadump.cpp
Labels: comp:vm, comp:jit

#14324 JDK18 deprecates getObjectPendingFinalizationCount & runFinalization
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/MemoryMXBeanImpl.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryMXBean.java
Labels: comp:vm, jdk18

#13987 Remove unused frontend function isString(uintptr_t objectPointer)
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jit

#13315 JEP389/419 Foreign Linker API: DownCall (Phase 2 & 3 / struct support)
  jcl/src/jdk.incubator.foreign/share/classes/jdk/internal/foreign/abi/LayoutStrPreprocessor.java
  jcl/src/jdk.incubator.foreign/share/classes/jdk/internal/foreign/abi/ProgrammableInvoker.java
  jcl/src/jdk.incubator.foreign/share/classes/jdk/internal/foreign/abi/TypeLayoutCheckHelper.java
  runtime/include/j9memcategories.h
  runtime/j9vm/j9memcategories.c
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9nonbuilder.h
  runtime/tests/clinkerffi/CMakeLists.txt
  runtime/tests/clinkerffi/downcall.c
  runtime/tests/clinkerffi/downcall.h
  runtime/tests/clinkerffi/module.xml
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/CMakeLists.txt
  runtime/vm/FFITypeHelpers.cpp
  runtime/vm/FFITypeHelpers.hpp
  runtime/vm/LayoutFFITypeHelpers.cpp
  runtime/vm/LayoutFFITypeHelpers.hpp
  runtime/vm/OutOfLineINL_jdk_internal_foreign_abi_ProgrammableInvoker.cpp
  runtime/vm/bindnatv.cpp
  runtime/vm/jvminit.c
  runtime/vm/vm_internal.h
  runtime/vm/vmthinit.c
  test/functional/Java16andUp/build.xml
  test/functional/Java16andUp/playlist.xml
  test/functional/Java16andUp/src_160/org/openj9/test/jep389/downcall/InvalidDownCallTests.java
  test/functional/Java16andUp/src_160/org/openj9/test/jep389/downcall/PrimitiveTypeTests.java
  test/functional/Java16andUp/src_160/org/openj9/test/jep389/downcall/StructTests.java
  test/functional/Java16andUp/src_160/org/openj9/test/jep389/valist/VaListTests.java
  test/functional/Java16andUp/testng_160.xml
  test/functional/Java17andUp/playlist.xml
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/InvalidDownCallTests.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/MultiCallTests.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/MultiThreadingTests1.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/MultiThreadingTests2.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/MultiThreadingTests3.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/MultiThreadingTests4.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/PrimitiveTypeTests1.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/PrimitiveTypeTests2.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/PrimitiveTypeTests3.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/StructTests1.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/StructTests2.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/valist/VaListTests.java
  test/functional/Java17andUp/testClinkerFfi.xml
  test/functional/Java18andUp/playlist.xml
  test/functional/Java18andUp/src/org/openj9/test/jep419/downcall/InvalidDownCallTests.java
  test/functional/Java18andUp/src/org/openj9/test/jep419/downcall/PrimitiveTypeTests1.java
  test/functional/Java18andUp/src/org/openj9/test/jep419/downcall/PrimitiveTypeTests2.java
  test/functional/Java18andUp/src/org/openj9/test/jep419/downcall/StructTests1.java
  test/functional/Java18andUp/src/org/openj9/test/jep419/downcall/StructTests2.java
  test/functional/Java18andUp/src/org/openj9/test/jep419/valist/VaListTests.java
  test/functional/Java18andUp/testClinkerFfi.xml
Labels: comp:vm, jdk18

#14334 Revert "JEP389/419 Foreign Linker API: DownCall (Phase 2 & 3 / struct support)"
  jcl/src/jdk.incubator.foreign/share/classes/jdk/internal/foreign/abi/LayoutStrPreprocessor.java
  jcl/src/jdk.incubator.foreign/share/classes/jdk/internal/foreign/abi/ProgrammableInvoker.java
  jcl/src/jdk.incubator.foreign/share/classes/jdk/internal/foreign/abi/TypeLayoutCheckHelper.java
  runtime/include/j9memcategories.h
  runtime/j9vm/j9memcategories.c
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9nonbuilder.h
  runtime/tests/clinkerffi/CMakeLists.txt
  runtime/tests/clinkerffi/downcall.c
  runtime/tests/clinkerffi/downcall.h
  runtime/tests/clinkerffi/module.xml
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/CMakeLists.txt
  runtime/vm/FFITypeHelpers.cpp
  runtime/vm/FFITypeHelpers.hpp
  runtime/vm/LayoutFFITypeHelpers.cpp
  runtime/vm/LayoutFFITypeHelpers.hpp
  runtime/vm/OutOfLineINL_jdk_internal_foreign_abi_ProgrammableInvoker.cpp
  runtime/vm/bindnatv.cpp
  runtime/vm/jvminit.c
  runtime/vm/vm_internal.h
  runtime/vm/vmthinit.c
  test/functional/Java16andUp/build.xml
  test/functional/Java16andUp/playlist.xml
  test/functional/Java16andUp/src_160/org/openj9/test/jep389/downcall/InvalidDownCallTests.java
  test/functional/Java16andUp/src_160/org/openj9/test/jep389/downcall/PrimitiveTypeTests.java
  test/functional/Java16andUp/src_160/org/openj9/test/jep389/downcall/StructTests.java
  test/functional/Java16andUp/src_160/org/openj9/test/jep389/valist/VaListTests.java
  test/functional/Java16andUp/testng_160.xml
  test/functional/Java17andUp/playlist.xml
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/InvalidDownCallTests.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/MultiCallTests.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/MultiThreadingTests1.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/MultiThreadingTests2.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/MultiThreadingTests3.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/MultiThreadingTests4.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/PrimitiveTypeTests1.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/PrimitiveTypeTests2.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/PrimitiveTypeTests3.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/StructTests1.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/StructTests2.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/valist/VaListTests.java
  test/functional/Java17andUp/testClinkerFfi.xml
  test/functional/Java18andUp/playlist.xml
  test/functional/Java18andUp/src/org/openj9/test/jep419/downcall/InvalidDownCallTests.java
  test/functional/Java18andUp/src/org/openj9/test/jep419/downcall/PrimitiveTypeTests1.java
  test/functional/Java18andUp/src/org/openj9/test/jep419/downcall/PrimitiveTypeTests2.java
  test/functional/Java18andUp/src/org/openj9/test/jep419/downcall/StructTests1.java
  test/functional/Java18andUp/src/org/openj9/test/jep419/downcall/StructTests2.java
  test/functional/Java18andUp/src/org/openj9/test/jep419/valist/VaListTests.java
  test/functional/Java18andUp/testClinkerFfi.xml
Labels: comp:vm, jdk18

#14327 JDK17 adds Access.encodeASCII() & NativeLibraries.load()
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/compiler/env/j9method.cpp
  runtime/jcl/common/stdinit.c
  runtime/oti/vmconstantpool.xml
Labels: comp:vm, comp:jit, jdk17

#14337 (v0.30.0-release) JDK17 adds Access.encodeASCII() & NativeLibraries.load()
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/compiler/env/j9method.cpp
  runtime/jcl/common/stdinit.c
  runtime/oti/vmconstantpool.xml
Labels: comp:vm, comp:jit, jdk17

#14339 Clean up Access.java
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm

#14338 Update JITServer docs about actions needed when extending ClientSessionData
  doc/compiler/jitserver/ClientSession.md
Labels: comp:jitserver

#13968 Change signatures in JDK17
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/jvm.c
  runtime/redirector/forwarders.m4
  runtime/vm/jnimisc.cpp
Labels: comp:vm, jdk17

#14325 Cache client array class element size
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#14345 Set parameters for generating test jobs
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:test, comp:build

#14179 Add zNext hardware exploitation to JIT z/codegen
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/DataAccessAccelerator.cpp
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
  runtime/compiler/z/env/J9CPU.cpp
  test/functional/JIT_Test/src/jit/test/recognizedMethod/TestJavaIntegerAndLongToString.java
  test/functional/JIT_Test/testng.xml
Labels: comp:jit, depends:omr, arch:z

#14348 (v0.30.0-release) Set parameters for generating test jobs
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:test, comp:build

#14213 AArch64 macOS: Call pthread_jit_write_protect_np()
  runtime/CMakeLists.txt
  runtime/cmake/caches/osx_aarch64.cmake
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/decomp.cpp
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
  runtime/compiler/aarch64/runtime/PicBuilder.spp
  runtime/compiler/aarch64/runtime/Recomp.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/J2IThunk.cpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/Trampoline.cpp
Labels: comp:jit, arch:aarch64, os:macos

#14363 Change GCRQueuedThresholdForCounting value for JITServer AOT cache
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#3627 Support -XX:[+/-]ShowHiddenFrames option
  runtime/j9vm/j7vmi.c
  runtime/jcl/common/getstacktrace.c
  runtime/jcl/common/java_lang_StackWalker.cpp
  runtime/oti/j9consts.h
  runtime/oti/jvminit.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_java_lang_Throwable.cpp
  runtime/vm/jvminit.c
  runtime/vm/swalk.c
Labels: comp:vm, depends:doc

#14357 Add bootloader unnamed module to root set
  jcl/src/java.base/share/classes/java/lang/StackWalker.java
  runtime/gc_base/RootScanner.cpp
  runtime/gc_glue_java/ConcurrentMarkingDelegate.cpp
  runtime/gc_glue_java/MarkingDelegate.cpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkCardScrubber.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
Labels: comp:vm, comp:gc

#14019 Fix debug build of the compiler component
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#14359 AArch64 macOS: Enable JIT and AOT
  runtime/vm/jvminit.c
Labels: comp:jit, comp:jit:aot, arch:aarch64, os:macos

#14360 Convert AUTOMATIC_GENERATION to boolean
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:test, comp:build

#14352 Throw correct exception when initialization already failed
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
Labels: comp:vm, jdk18

#14378 Reformat [IF JAVA_SPEC_VERSION >= 18] macros
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm

#14358 Make some hard-coded JITServer settings configurable
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/runtime/JITServerStatisticsThread.cpp
Labels: comp:jitserver

#14377 Fix inappropriate error about case-insensitive file match found
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/LibraryResolverFactory.java
Labels: comp:vm

#14388 AArch64 macOS: Add calls to pthread_jit_write_protect_np()
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
Labels: comp:jit, arch:aarch64, os:macos

#14267 [JEP416] Add caller sensitive adapter methods in java.lang.Class
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, jdk18

#14376 Exclude functional tests on AArch64 macOS
  test/functional/JIT_Test/playlist.xml
  test/functional/VM_Test/j9vm.xml
  test/functional/cmdLineTests/callsitedbgddrext/playlist.xml
  test/functional/cmdLineTests/gcCheck/playlist.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
  test/functional/cmdLineTests/pltest/playlist.xml
  test/functional/cmdLineTests/xxargtest/playlist.xml
Labels: comp:test

#14389 Remove obsolete specs XL,mixed & cmake/uma
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#14392 Create initial release notes document for 0.31
  doc/release-notes/0.30/0.30.md
  doc/release-notes/0.31/0.31.md
Labels: comp:doc

#14356 Do not wait for message under lock in TR_J9ServerVM::classHasBeenExtended
  runtime/compiler/env/VMJ9Server.cpp
Labels: comp:jitserver

#14350 Remove TR_ResolvedJ9JITServerMethod::fieldOrStaticName()
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: comp:jitserver

#14098 Transform flattened array element load and store in VP
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/J9ValuePropagation.hpp
Labels: comp:jit, perf, project:valhalla

#14355 Thread refactoring to match ibmruntime jdk extension repo PR #387
  jcl/src/java.base/share/classes/java/lang/Thread.java
Labels: comp:vm

#14400 Remove useless com.ibm.j9ddr.corereaders.ShutdownHook
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/AbstractCoreReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/ClosingFileReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/ShutdownHook.java
Labels: comp:vm

#14393 Enable GC rotating verbose log tests for jdk 11 and up
  test/functional/cmdLineTests/gcRegressionTests/gcRegressionTests.xml
  test/functional/cmdLineTests/gcRegressionTests/gcRegressionTests_excludes.xml
  test/functional/cmdLineTests/gcRegressionTests/gcRotatingVerboseLogTests.xml
  test/functional/cmdLineTests/gcRegressionTests/gcRotatingVerboseLogTests_excludes.xml
  test/functional/cmdLineTests/gcRegressionTests/playlist.xml
Labels: comp:test
