Repository eclipse-openj9/openj9, pull requests merged in 2022-06, with the labels that each got.

#15084 Improve error message when loading an invalid class version
  runtime/bcutil/cfreader.c
  runtime/nls/cfre/cfrerr.nls
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_cs.nls
  runtime/nls/cfre/cfrerr_de.nls
  runtime/nls/cfre/cfrerr_es.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_hu.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_ja.nls
  runtime/nls/cfre/cfrerr_ko.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_ru.nls
  runtime/nls/cfre/cfrerr_sk.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/cfre/cfrerr_zh_TW.nls
  runtime/oti/j9nonbuilder.h
  runtime/verutil/cfrerr.c
Labels: comp:vm

#15157 (0.33.0) Fix generateSystemDump() to make "J9NO_DUMPS" work
  runtime/vm/gphandle.c
Labels: comp:vm

#15111 Paremeterize Pull Request related jobs
  buildenv/jenkins/jobs/infrastructure/copyrightCheck.groovy
  buildenv/jenkins/jobs/infrastructure/lineEndingsCheck.groovy
  buildenv/jenkins/jobs/infrastructure/signedOffByCheck.groovy
Labels: comp:build

#15156 Use playlist.xml to exclude test in VT standard build
  test/TestConfig/resources/excludes/feature_vtstandard_exclude.txt
  test/functional/JavaAgentTest/playlist.xml
Labels: comp:test

#15112 Add InternalCRIUSupport.getCheckpointRestoreTimeDelta() & tests
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
  runtime/criusupport/criusupport.hpp
  runtime/criusupport/exports.cmake
  runtime/criusupport/uma/criusupport_exports.xml
  runtime/jcl/common/criu.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/uma/criu_exports.xml
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TimeChangeTest.java
Labels: comp:vm, criu

#15159 (0.33) Improve error message when loading an invalid class version
  runtime/bcutil/cfreader.c
  runtime/nls/cfre/cfrerr.nls
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_cs.nls
  runtime/nls/cfre/cfrerr_de.nls
  runtime/nls/cfre/cfrerr_es.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_hu.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_ja.nls
  runtime/nls/cfre/cfrerr_ko.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_ru.nls
  runtime/nls/cfre/cfrerr_sk.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/cfre/cfrerr_zh_TW.nls
  runtime/oti/j9nonbuilder.h
  runtime/verutil/cfrerr.c
Labels: comp:vm

#15192 (0.33) Fix usage of pTOC with portableSCC code run in P10 container
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
Labels: comp:jit, arch:power

#15079 Recognize Class.cast and transform calls to it into checkcast
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
Labels: comp:jit

#15200 Add InternalCRIUSupport native method declarations
  runtime/oti/jclprots.h
Labels: comp:vm, criu

#14614 Improve checkcast/instanceof performance for interfaces on x86/x64
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:x86

#15194 Ensure calls to feGetEnv are cached
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit

#15154 Add jdk19 support for stdout.encoding and stderr.encoding
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  jcl/src/java.base/share/classes/java/lang/System.java
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_console19.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/playlist.xml
Labels: comp:vm, jdk19

#15073 Initial changes to support Project Loom in Java 19
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  jcl/src/java.base/share/classes/java/lang/LiveStackFrame.java
  jcl/src/java.base/share/classes/java/lang/LiveStackFrameInfo.java
  jcl/src/java.base/share/classes/java/lang/StackFrameInfo.java
  jcl/src/java.base/share/classes/java/lang/StackTraceElement.java
  jcl/src/java.base/share/classes/java/lang/StackWalker.java
  jcl/src/java.base/share/classes/java/lang/Thread.java
  jcl/src/java.base/share/classes/java/lang/ThreadGroup.java
  jcl/src/java.base/share/classes/java/lang/ref/Reference.java
  jcl/src/java.base/share/classes/java/lang/ref/ReferenceQueue.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ThreadMXBeanImpl.java
  runtime/include/jni.h.m4
  runtime/include/jvmti.h.m4
  runtime/j9vm/exports.cmake
  runtime/j9vm/j7vmi.c
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.c
  runtime/j9vm31/exports.cmake
  runtime/j9vm31/j9vm31.h
  runtime/j9vm31/jnicsup.cpp
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/sun_misc_Perf.c
  runtime/jcl/common/thread.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/module.xml
  runtime/jcl/uma/se19_exports.xml
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/jvmti/jvmtiCapability.c
  runtime/jvmti/jvmtiFunctionTable.c
  runtime/jvmti/jvmtiGeneral.c
  runtime/jvmti/jvmtiThread.c
  runtime/jvmti/jvmtiThreadGroup.c
  runtime/jvmti/jvmti_internal.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/vmconstantpool.xml
  runtime/rasdump/javadump.cpp
  runtime/redirector/forwarders.m4
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_java_lang_Thread.cpp
  runtime/vm/bindnatv.cpp
  runtime/vm/callin.cpp
  runtime/vm/jnicsup.cpp
  runtime/vm/jvminit.c
  runtime/vm/rasdump.c
  runtime/vm/threadhelp.cpp
  runtime/vm/vmthread.cpp
Labels: comp:vm, project:loom

#15218 When -Xcompressedrefs is specified, use that mode regardless of -Xmx
  runtime/vm/jvminit.c
Labels: comp:vm

#14977 Implement vmin and vmax IL Opcodes
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#15222 (0.33) When -Xcompressedrefs is specified, use that mode regardless of -Xmx
  runtime/vm/jvminit.c
Labels: comp:vm

#15216 Fold instance final fields of Boolean and Reflection classes
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#15231 Modify the translated PII files in nls folder 20220606
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_sk.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/cfre/cfrerr_zh_TW.nls
  runtime/nls/j9cl/j9jcl_cs.nls
  runtime/nls/j9cl/j9jcl_es.nls
  runtime/nls/j9cl/j9jcl_it.nls
  runtime/nls/j9cl/j9jcl_ko.nls
  runtime/nls/j9cl/j9jcl_pl.nls
  runtime/nls/j9cl/j9jcl_zh.nls
  runtime/nls/j9cl/j9jcl_zh_CN.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
Labels: comp:vm

#15233 Compile Windows jdk8 with VS2017
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#15234 Deprecate -XX:+AllowNonVirtualCalls
  doc/release-notes/0.31/0.31.md
  doc/release-notes/0.32/0.32.md
  doc/release-notes/0.33/0.33.md
  runtime/vm/jvminit.c
Labels: comp:vm, comp:doc

#15240 Update build instructions and release notes for jdk8 VS2017
  doc/build-instructions/Build_Instructions_V8.md
  doc/release-notes/0.33/0.33.md
Labels: comp:doc

#15215 Add j.l.Access.parkVirtualThread methods
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, project:loom, jdk19

#15239 Update j.l.invoke.Invokers methods for JDK8 compatibility
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#15248 JDK19 unparkVirtualThread adopts BaseVirtualThread
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, project:loom, jdk19

#15256 Increase timeout for decompilation tests
  test/functional/cmdLineTests/jvmtitests/decompilationtests.xml
Labels: comp:test

#15255 Disable regex usage since cmdlinetester does not correctly process it
  test/functional/cmdLineTests/gcRegressionTests/gcRegressionTests.xml
Labels: comp:test

#15261 Move AArch64 macOS from "Notable changes in this release"
  doc/release-notes/0.33/0.33.md
Labels: comp:doc

#15257 Create verbose option for VectorAPIExpansion
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#15282 Don't let JIT compile the methods we need to find in tests
  test/functional/DDR_Test/tck_ddrext.xml
Labels: comp:test

#15286 (0.33) Compile Windows jdk8 with VS2017
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#15288 (0.33) Modify the translated PII files in nls folder 20220606
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_sk.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/cfre/cfrerr_zh_TW.nls
  runtime/nls/j9cl/j9jcl_cs.nls
  runtime/nls/j9cl/j9jcl_es.nls
  runtime/nls/j9cl/j9jcl_it.nls
  runtime/nls/j9cl/j9jcl_ko.nls
  runtime/nls/j9cl/j9jcl_pl.nls
  runtime/nls/j9cl/j9jcl_zh.nls
  runtime/nls/j9cl/j9jcl_zh_CN.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
Labels: comp:vm

#15285 (0.33) Don't let JIT compile the methods we need to find in tests
  test/functional/DDR_Test/tck_ddrext.xml
Labels: comp:test

#15283 Correct reference to FIPS
  runtime/cmake/options.cmake
Labels: comp:build

#15291 (0.33) Check for newInstanceImpl before doing profile guided devirt on Z JIT
  runtime/compiler/z/codegen/S390PrivateLinkage.cpp
Labels: comp:jit, arch:z

#15292 Fix SysPropTest for jdk19
  test/functional/cmdLineTests/SystemPropertiesTest/src/SysPropTest.java
Labels: comp:test

#15202 Prevent hangs when preparing the JIT for checkpoint
  runtime/compiler/control/CompilationThread.cpp
Labels: bug, comp:jit, criu

#15299 jdk19 registerAsParallelCapable() may throw IllegalCallerException
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm, jdk19

#15273 Add a note about cgroup v2 support in the 0.33 release
  doc/release-notes/0.33/0.33.md
Labels: comp:doc

#15312 ClassLoader.registerAsParallelCapable() must handle null caller
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm

#15320 Remove hard coded pipeline-build-test-spec timeout of 20 hours
  buildenv/jenkins/jobs/pipelines/Pipeline-Initialize.groovy
Labels: comp:build

#15329 Fix a couple misspellings of J9ClassLoader
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_java_lang_Class.cpp
Labels: comp:doc

#15339 Return early in String.indexOf if substring is longer than string
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm

#15314 (0.33) AArch64: Handle interface call case when patching call site on recompilation
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/runtime/Recompilation.spp
  runtime/compiler/runtime/Trampoline.cpp
Labels: comp:jit, arch:aarch64

#15343 Simplify Class.forName(String, Class)
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#15199 Add all vector opcodes except related to masks and shuffles
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/J9DataTypes.cpp
  runtime/compiler/il/J9DataTypes.hpp
  runtime/compiler/il/J9ILOps.hpp
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/IdiomRecognition.cpp
  runtime/compiler/optimizer/IdiomRecognition.hpp
  runtime/compiler/optimizer/SPMDParallelizer.cpp
  runtime/compiler/optimizer/SPMDPreCheck.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, depends:omr:breaking

#15232 CRIU throws RestoreException when checkpointRestoreTimeDelta is negative
  runtime/criusupport/criusupport.cpp
  runtime/nls/j9cl/j9jcl.nls
Labels: comp:vm, criu

#15317 Improve robustness of scanning SFXM chains
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/tdump/zebedee/le/DsaStackFrame.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/zos/le/DsaStackFrame.java
Labels: comp:vm

#15300 AArch64 macOS: Call fieldWatchHelper in rewriting data in snippets
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/runtime/PicBuilder.spp
  runtime/compiler/runtime/Runtime.cpp
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:jit, arch:aarch64, os:macos

#15325 Cache Class.toString name
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#15254 add JVMTI callback/hook for virtualThread
  runtime/include/jvmti.h.m4
  runtime/jvmti/j9jvmti.tdf
  runtime/jvmti/jvmtiCapability.c
  runtime/jvmti/jvmtiEventManagement.c
  runtime/jvmti/jvmtiHelpers.c
  runtime/jvmti/jvmtiHook.c
  runtime/oti/j9vm.hdf
Labels: project:loom

#15357 Correct reading BuildVersionCommand from OSX core files
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/BuildVersionCommand.java
Labels: comp:vm

#15354 (0.33.0) AArch64 macOS: Call fieldWatchHelper in rewriting data in snippets
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/aarch64/runtime/PicBuilder.spp
  runtime/compiler/runtime/Runtime.cpp
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:jit, arch:aarch64, os:macos

#15361 Modify the translated PII files in nls folder 20220620
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_cs.nls
  runtime/nls/cfre/cfrerr_de.nls
  runtime/nls/cfre/cfrerr_es.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_hu.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_ja.nls
  runtime/nls/cfre/cfrerr_ko.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_sk.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/cfre/cfrerr_zh_TW.nls
Labels: comp:vm

#15362 (0.33) Correct reading BuildVersionCommand from OSX core files
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/BuildVersionCommand.java
Labels: comp:vm

#15365 (0.33) Modify the translated PII files in nls folder 20220620
  runtime/nls/cfre/cfrerr_ca.nls
  runtime/nls/cfre/cfrerr_cs.nls
  runtime/nls/cfre/cfrerr_de.nls
  runtime/nls/cfre/cfrerr_es.nls
  runtime/nls/cfre/cfrerr_fr.nls
  runtime/nls/cfre/cfrerr_hu.nls
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_ja.nls
  runtime/nls/cfre/cfrerr_ko.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_sk.nls
  runtime/nls/cfre/cfrerr_sl.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/cfre/cfrerr_zh_TW.nls
Labels: comp:vm

#15358 Update ClassScanner to use ASM9 for Java 19+
  jcl/src/openj9.dtfj/share/classes/com/ibm/java/diagnostics/utils/plugins/impl/ClassScanner.java
Labels: comp:vm

#15368 Add JNI_VERSION_19 for Java 19+
  runtime/include/jni.h.m4
Labels: comp:vm

#15380 (0.33.0) Return early in String.indexOf if substring is longer than string
  jcl/src/java.base/share/classes/java/lang/String.java
Labels: comp:vm

#15375 RISC-V: add CFI to `c_cInterpreter`
  runtime/oti/riscvhelpers.m4
  runtime/vm/riscvcinterp.m4
Labels: comp:vm, arch:riscv

#15381 Update openssl to version 1.1.1p
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#15344 Prevent improper removal of static store in idiom recognition
  runtime/compiler/optimizer/IdiomRecognition.cpp
Labels: comp:jit

#15350 CRIU fix Timer.schedule test and show checkpointRestoreTimeDelta value
  runtime/criusupport/criusupport.cpp
  runtime/nls/j9cl/j9jcl.nls
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TimeChangeTest.java
Labels: comp:vm, criu

#15388 Delete obsolete zos jenkins specs for cm, uma, xl, mixed
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#15389 Fixing errors present when creating a build with PROD_WITH_ASSUMES enabled
  runtime/compiler/codegen/CodeGenGPU.cpp
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
Labels: comp:jit

#15384 (0.33) Update openssl to version 1.1.1p
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#15395 (0.33.0) Prevent AutoSIMD seg-fault on defs from method entry
  runtime/compiler/optimizer/SPMDParallelizer.cpp
Labels: comp:jit

#15405 Fix conversion to UTF8 in encodeUTF8CharI8
  runtime/oti/VMHelpers.hpp
Labels: comp:vm

#15392 Correctly close SSL connections in JITServer code
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/Listener.cpp
Labels: comp:jitserver

#15391 Correctly handle JIT client option -Xjit:reconnectWaitTimeMs=0
  runtime/compiler/control/JITServerHelpers.cpp
Labels: comp:jitserver

#15342 Fix unused arguments, declarations in SSL code
  runtime/compiler/control/rossa.cpp
  runtime/compiler/net/ClientStream.cpp
  runtime/compiler/net/ClientStream.hpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/runtime/Listener.cpp
Labels: comp:jitserver

#15137 Refactor TR::DefaultCompilationStrategy::processJittedSample
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationController.hpp
Labels: comp:jit

#15298 Class.arrayType() throws UnsupportedOperationException in jdk19+
  jcl/src/java.base/share/classes/java/lang/Class.java
  test/functional/Java12andUp/build.xml
  test/functional/Java12andUp/src/org/openj9/test/java_lang/Test_Class.java
Labels: comp:vm, jdk19

#15359 Fix operator precedence in copyStringCritical
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
Labels: comp:gc

#15372 Add tests in FIPS mode
  test/functional/cmdLineTests/fips/build.xml
  test/functional/cmdLineTests/fips/fips.xml
  test/functional/cmdLineTests/fips/playlist.xml
  test/functional/cmdLineTests/fips/src/org/openj9/test/fips/FIPSKeyExtractImport.java
  test/functional/cmdLineTests/fips/src/org/openj9/test/fips/FIPSProvidersTest.java
Labels: comp:test

#15407 Re-include "Unload lots of classes" GC regression tests on jdk19
  test/functional/cmdLineTests/gcRegressionTests/gcRegressionTests_excludes.xml
Labels: comp:test

#15420 Un-exclude gcRegression check for memory corruption tests
  test/functional/cmdLineTests/gcRegressionTests/gcRegressionTests_excludes.xml
Labels: comp:test

#15322 Check for duplicate class definitions when creating rom class
  runtime/bcutil/BuildResult.hpp
  runtime/bcutil/ROMClassCreationContext.hpp
  runtime/bcutil/defineclass.c
  runtime/cfdumper/stubs.c
  runtime/jcl/common/jcldefine.c
  runtime/oti/bcutil.h
Labels: comp:vm

#15445 Fix tracepoints: entry tracepoint used as exit tracepoint
  runtime/vm/jnicsup.cpp
Labels: comp:vm

#15304 Add Optimizer Design Feature Document
  doc/compiler/README.md
  doc/compiler/optimizer/OptimizerDesignFeatures.md
Labels: comp:jit, comp:doc

#15386 (0.33) Prevent improper removal of static store in idiom recognition
  runtime/compiler/optimizer/IdiomRecognition.cpp
Labels: comp:jit

#15217 Add optional encryption to the JITServer metrics server
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/net/LoadSSLLibs.cpp
  runtime/compiler/net/LoadSSLLibs.hpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/runtime/MetricsServer.cpp
  runtime/compiler/runtime/MetricsServer.hpp
Labels: comp:jitserver

#15444 Enable prehashing of j.l.Thread and Class
  runtime/options.default
Labels: comp:vm

#15455 jilconst: don't redefine OMR_GC_CONCURRENT_SCAVENGER
  runtime/compiler/aarch64/runtime/Recompilation.spp
  runtime/jilgen/jilconsts.c
Labels: comp:vm

#15438 Fix vector reduction for Float and Double
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#15428 Add j.l.Thread.setCurrentThread() inline & fast jni natives
  runtime/jcl/common/thread.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se19_exports.xml
  runtime/oti/VMHelpers.hpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_java_lang_Thread.cpp
  runtime/vm/bindnatv.cpp
Labels: comp:vm, project:loom, jdk19
