Repository eclipse-openj9/openj9, pull requests merged in 2023-08, with the labels that each got.

#17783 Add jvmtitests_excludes_22.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_22.xml
Labels: comp:test

#17895 Update to OpenSSL 1.1.1v
  buildenv/jenkins/variables/defaults.yml
Labels: comp:openssl

#17896 (0.40) Update to OpenSSL 1.1.1v
  buildenv/jenkins/variables/defaults.yml
Labels: comp:openssl

#17883 cfdump support for Valhalla preload attribute
  runtime/bcutil/ClassFileWriter.cpp
  runtime/cfdumper/main.c
  runtime/oti/util_api.h
  runtime/util/optinfo.c
  runtime/util/rcdump.c
  runtime/util/romclasswalk.c
  runtime/vm/createramclass.cpp
Labels: comp:vm, project:valhalla

#17898 JDK22 adds latest_exclude_22.txt
  test/TestConfig/resources/excludes/latest_exclude_22.txt
Labels: comp:test

#17891 Add missed GMP Cycle Type to j9gc_get_collector_id()
  runtime/gc_base/modronapi.cpp
Labels: bug, comp:gc

#17720 Fix the type of _timeOfLastPurge in ClientSessionHT
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jit, comp:jitserver

#17905 JITServer: Flush ICache after constructing invokeExactJ2IThunk
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jit, comp:jitserver

#17902 Add tracepoint that includes timestamps in the share classes code
  runtime/shared_common/TimestampManagerImpl.cpp
  runtime/shared_common/j9shr.tdf
Labels: comp:vm

#17904 AArch64: Use front end query when allocating VI Thunks
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
Labels: comp:jit, arch:aarch64

#17897 DDR support for Valhalla Preload attribute
  debugtools/DDR_VM/src/com/ibm/j9ddr/CompatibilityConstants29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/OptInfo.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ROMClassHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/RomClassWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
  runtime/oti/j9nonbuilder.h
Labels: comp:vm, project:valhalla

#17915 AArch64: Get existing method info from the J9Method instead of startPC
  runtime/compiler/aarch64/codegen/ARM64Recompilation.cpp
Labels: comp:jit, arch:aarch64

#17900 Disable certain weight adjustments during early ECS
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#17919 Change Attachment.loadAgentLibrary() to a static method
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Attachment.java
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm

#17222 Inline IntrinsicCandidate methods
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#17921 AArch64: Add JITServer spec to Jenkins pipeline
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:jitserver, arch:aarch64

#17856 Fix SVM Assert caused by missing class validation
  runtime/compiler/optimizer/J9Inliner.cpp
Labels: comp:jit, test failure, comp:jit:aot

#17932 Implement JEP 451: Prepare to Disallow the Dynamic Loading of Agents
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticUtils.java
  runtime/j9vm/javanextvmi.cpp
  runtime/jvmti/j9jvmti.tdf
  runtime/jvmti/jvmtiStartup.c
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, depends:doc

#17942 Add missing break statement for switch case
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#17850 Improve linkToVirtual() and linkToInterface() dispatch
  runtime/codert_vm/arm64nathelp.m4
  runtime/codert_vm/armnathelp.m4
  runtime/codert_vm/cnathelp.cpp
  runtime/codert_vm/pnathelp.m4
  runtime/codert_vm/riscvnathelp.m4
  runtime/codert_vm/xnathelp.m4
  runtime/codert_vm/znathelp.m4
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/InterpreterEmulator.hpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/asmprotos.h
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jilgen/jilconsts.c
  runtime/jvmti/jvmtiClass.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/util_api.h
  runtime/util/hshelp.c
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, comp:jit

#17951 Fix spelling of "Obsolete" in tracepoint definition files
  runtime/jcl/j9jcl.tdf
  runtime/jvmti/j9jvmti.tdf
Labels: comp:vm

#15779 Add DDR command continuationstack
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/RootScanner.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/StackRoots.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/BaseStackWalkerCallbacks.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/IStackWalkerCallbacks.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITStackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/MethodMetaData.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalkerUtils.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/TerseStackWalkerCallbacks.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/WalkState.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/GetCommandsTask.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/ContinuationStackWalkCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/JitstackCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/StackWalkCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/gccheck/CheckVMThreadStacks.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/view/dtfj/java/DTFJJavaThread.java
  runtime/ddr/vmddr.cpp
Labels: project:loom

#17939 Update LinearDumpTests.testInvalidClassFile() and enable CFdumptest
  test/functional/VM_Test/playlist.xml
  test/functional/VM_Test/src/com/ibm/j9/cfdump/tests/lineardump/LinearDumpTests.java
Labels: comp:test

#17893 Enable JITServer tests on AArch64 Linux
  test/functional/JIT_Test/playlist.xml
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/jitserver/playlist.xml
Labels: comp:test, arch:aarch64, os:linux

#17960 Correct implicit creation attribute flag storage
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/ROMClassWriter.cpp
  runtime/bcutil/ROMClassWriter.hpp
  runtime/oti/j9modifiers_api.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/util_api.h
  runtime/util/optinfo.c
  runtime/vm/createramclass.cpp
Labels: comp:vm, project:valhalla

#17830 Preload tests + support for all Valhalla attributes
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeTests.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaUtils.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/testng.xml
Labels: comp:test, project:valhalla

#17959 Ensure all JIT compilations are paused during class redefinition
  runtime/codert_vm/decomp.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/jvmti/jvmtiClass.c
Labels: comp:vm, comp:jit

#17935 [FFI/Jtreg_JDK21] Store the error codes correctly on Windows
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, project:panama, jdk21

#17941 Avoid shifting null constants in compression sequences
  runtime/compiler/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#17966 Remove unused TEST_xxx macros
  runtime/bcutil/test/dyntest/romclass_correctness.c
Labels: comp:test

#17934 Add support for jdk.tracePinnedThreads system property
  jcl/src/java.base/share/classes/java/lang/PinnedThreadPrinter.java
  jcl/src/java.base/share/classes/java/lang/StackWalker.java
  runtime/jcl/common/java_lang_StackWalker.cpp
  runtime/oti/vmconstantpool.xml
Labels: project:loom, jdk21

#17968 CRIU tests add failure condition when a javacore is requested
  test/functional/cmdLineTests/criu/criu.xml
  test/functional/cmdLineTests/criu/criu_jitPostRestore.xml
  test/functional/cmdLineTests/criu/criu_jitserverAcrossCheckpoint.xml
  test/functional/cmdLineTests/criu/criu_jitserverPostRestore.xml
  test/functional/cmdLineTests/criu/criu_keepCheckpoint.xml
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortableJDK11Up.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_RAS.xml
  test/functional/cmdLineTests/criu/criu_random.xml
  test/functional/cmdLineTests/criu/criu_security.xml
Labels: comp:test, criu

#17943 isCompilable() fix for JITServer
  runtime/compiler/env/j9method.cpp
Labels: comp:jitserver

#17986 Fix problems with optimization of continuation walkframe processing
  debugtools/DDR_VM/data/superset-constants.dat
  runtime/gc_modron_standard/ContinuationObjectBufferStandard.cpp
  runtime/gc_vlhgc/ContinuationObjectBufferVLHGC.cpp
Labels: comp:gc

#17977 Remove incorrect TR_ASSERTs related to the reloFlags
  runtime/compiler/aarch64/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit, comp:jit:aot

#17949 Remove unnecessary idiom recognition assertions
  runtime/compiler/optimizer/IdiomRecognition.cpp
  runtime/compiler/optimizer/IdiomRecognition.hpp
  runtime/compiler/optimizer/IdiomTransformations.cpp
Labels: comp:jit

#17993 Update README to refer to the "good first issue" label
  README.md
Labels: comp:doc

#17982 Ensure flags stored to raw relo record is 16 bits
  runtime/compiler/runtime/J9Runtime.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
Labels: bug, comp:jit, comp:jit:aot

#17976 ImplicitCreation atribute tests, value class flag verification
  runtime/bcutil/cfreader.c
  runtime/nls/cfre/cfrerr.nls
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeTests.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaUtils.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeGenerator.java
Labels: comp:vm, comp:test, project:valhalla

#17990 JEP 451 skips the warning message if the agent library was loaded
  runtime/jvmti/j9jvmti.tdf
  runtime/jvmti/jvmtiStartup.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9port.h
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, depends:omr, jdk21

#17984 Remove synthetic flag from extraModifiers
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/j9bcu.tdf
Labels: comp:vm

#17979 cfdump support for Valhalla ImplicitCreation Attribute
  runtime/bcutil/ClassFileWriter.cpp
  runtime/cfdumper/main.c
  runtime/util/rcdump.c
  runtime/util/romclasswalk.c
Labels: comp:vm, project:valhalla

#17980 DDR support for Valhalla ImplicitCreation attribute
  debugtools/DDR_VM/src/com/ibm/j9ddr/CompatibilityConstants29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/OptInfo.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ROMClassHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/RomClassWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
Labels: comp:vm, project:valhalla

#17998 Update the assert to allow TR_UnloadedClassPicSite
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
Labels: comp:jit

#18005 Valhalla test classes must either have ACC_VALUE or ACC_IDENTITY flag
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeGenerator.java
Labels: comp:test, project:valhalla

#14900 Update to openssl 3.0.10
  NOTICES.md
  buildenv/jenkins/variables/defaults.yml
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V20.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:openssl

#18010 Revert "Update the assert to allow TR_UnloadedClassPicSite"
  runtime/compiler/runtime/ClassUnloadAssumption.cpp
Labels: comp:jit

#18007 AArch64: Remove inappropriate static keywords from variables
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#17892 Refactor SupportsConst(I|L)Div to Supports(I|L)MulHigh
  runtime/compiler/optimizer/IdiomRecognition.cpp
Labels: comp:jit

#17945 Add SCC layer creation for JITServer AOT cache
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9nonbuilder.h
  runtime/rasdump/javadump.cpp
  runtime/shared/shrclssup.c
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/OSCachemmap.cpp
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/sharedconsts.h
  runtime/shared_common/shrinit.cpp
Labels: comp:vm, comp:doc, comp:jitserver

#18006 NullRestricted attribute cant be in primitive or array field
  runtime/bcutil/ClassFileOracle.cpp
  runtime/nls/cfre/cfrerr.nls
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeTests.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaUtils.java
Labels: comp:vm, comp:test, project:valhalla

#18021 Update docker script
  buildenv/docker/mkdocker.sh
Labels: comp:build

#18019 Fix JITServer AOT SCC layer trace template
  runtime/shared_common/j9shr.tdf
Labels: comp:jitserver

#18022 Add third party content used for testing to NOTICES.md
  NOTICES.md
Labels: comp:doc

#18029 Add protobuf to the NOTICES.md
  NOTICES.md
Labels: comp:doc

#18031 Replace the jdk20 build instructions with jdk21
  buildenv/aix/jdk20/yum_install_aix-ppc64.txt
  buildenv/aix/jdk21/yum_install_aix-ppc64.txt
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V21.md
Labels: comp:doc

#18033 Update feature tag
  test/functional/cmdLineTests/fips/playlist.xml
  test/functional/cmdLineTests/openssl/playlist.xml
Labels: comp:test, comp:fips

#18028 NullRestricted: putstatic and putfield throw NPE on null assignment
  runtime/oti/j9javaaccessflags.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/resolvesupport.cpp
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeTests.java
Labels: comp:vm, comp:test, project:valhalla

#18032 Expand default local storage of remote AOT methods
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jit

#17994 SIGFPE for flattened array of value type that has no fields
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_include/ObjectAllocationAPI.hpp
  runtime/gc_structs/FlattenedContiguousArrayIterator.hpp
Labels: comp:gc, project:valhalla

#18044 Add stronger guarantees to System.gc()
  runtime/jcl/common/java_lang_ref_Finalizer.c
  runtime/sunvmi/sunvmi.c
Labels: comp:vm, comp:gc
