Repository eclipse-openj9/openj9, pull requests merged in 2023-03, with the labels that each got.

#16794 (v0.38.0-release) CRIU internal JVM hook iterates J9Class and its ramMethods
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/CRIUHelpers.hpp
  runtime/vm/intfunc.c
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
Labels: comp:vm, criu

#16808 GC Restore (CRIU): Introduce Restore Opts Parsing and Extend Failure (0.38)
  runtime/criusupport/criusupport.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_base/modronapi.cpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparse.cpp
  runtime/gc_modron_startup/mmparse.h
  runtime/nls/j9gc/j9modron.nls
  runtime/oti/j9nonbuilder.h
Labels: comp:gc, criu

#16799 Infrastructure for EDO profiling optimization
  runtime/compiler/control/CompilationController.cpp
  runtime/compiler/control/CompilationController.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#16811 Update default stream for reading core files
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureReader.java
Labels: comp:vm

#16471 Adding missing break statement
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#16812 Handle lock reservation in single thread mode
  runtime/vm/ObjectMonitor.cpp
Labels: comp:vm, criu

#16769 Comp Threads and JIT Server options post restore
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/JITServerStatisticsThread.cpp
Labels: comp:jit, criu

#16736 Update jdkcompliance settings
  jcl/jpp_configuration.xml
Labels: comp:build

#16814 (0.38) Ensure env is not NULL when calling checked JNI functions
  runtime/jnichk/jnicbuf.c
  runtime/jnichk/jnicheck.c
  runtime/jnichk/jnicheck.h
  runtime/jnichk/jnichk_internal.h
  runtime/jnichk/jnicmem.c
  runtime/jnichk/jnicwrappers.c
  runtime/nls/jnck/jnichk.nls
Labels: comp:vm

#16819 Fix unused variable in ObjectMonitor.cpp
  runtime/vm/ObjectMonitor.cpp
Labels: comp:vm

#16806 CRIU throws UnsupportedOperationException for SecurityManager
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/System.java
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSecurityManager.java
Labels: comp:vm, criu

#16821 Comp Threads and JIT Server options post restore 0.38
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/JITServerStatisticsThread.cpp
Labels: comp:jit, criu

#16817 AttachAPI TestJps should search a unique needle
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJps.java
  test/functional/TestUtilities/src/org/openj9/test/util/StringUtilities.java
Labels: comp:test

#16731 Add z/TPF prehook and posthook dumpagent user exits
  runtime/rasdump/dmpagent.c
Labels: comp:vm

#16822 (v0.38.0-release) CRIU throws UnsupportedOperationException for SecurityManager
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/System.java
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSecurityManager.java
Labels: comp:vm, criu

#16832 Initialize _catchSamplingSizeThreshold in J9Options.cpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#16838 Post Restore Options Processing Continued
  doc/compiler/control/OptionsPostRestore.md
  runtime/compiler/aarch64/runtime/Recomp.cpp
  runtime/compiler/arm/runtime/Recomp.cpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/p/runtime/Recomp.cpp
  runtime/compiler/x/runtime/Recomp.cpp
  runtime/compiler/z/runtime/Recomp.cpp
Labels: comp:jit, criu

#16842 Add NULL check for VM args array
  runtime/util/vmargs.c
Labels: comp:vm, criu

#16851 Post Restore Options Processing Continued (0.38)
  doc/compiler/control/OptionsPostRestore.md
  runtime/compiler/aarch64/runtime/Recomp.cpp
  runtime/compiler/arm/runtime/Recomp.cpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/p/runtime/Recomp.cpp
  runtime/compiler/x/runtime/Recomp.cpp
  runtime/compiler/z/runtime/Recomp.cpp
Labels: comp:jit, criu

#16770 Support for restore args env var
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  runtime/criusupport/criusupport.cpp
  runtime/criusupport/criusupport.hpp
  runtime/criusupport/exports.cmake
  runtime/criusupport/j9criu.tdf
  runtime/criusupport/uma/criusupport_exports.xml
  runtime/jcl/exports.cmake
  runtime/nls/j9cl/j9jcl.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
  runtime/vm/vmprops.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/CRIUTestUtils.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/EnvVarFileTest.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#16852 Post Restore Options Processing Part 4
  doc/compiler/control/OptionsPostRestore.md
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
Labels: comp:jit, criu

#16876 Post Restore Options Processing Part 4 (0.38)
  doc/compiler/control/OptionsPostRestore.md
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
Labels: comp:jit, criu

#16873 CRIU getRestoreSystemProperites() skips non system property entries
  runtime/criusupport/criusupport.cpp
  runtime/vm/CRIUHelpers.cpp
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#16653 Ensure JDWP threads are not halted when hooks run for CRIU
  runtime/criusupport/criusupport.cpp
  runtime/gc_base/modronapi.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
Labels: comp:vm, criu

#16815 Fix Q types in lambda signature generation
  jcl/src/java.base/share/classes/java/lang/Access.java
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
Labels: comp:vm, project:valhalla

#16833 (0.38) Adding the missing break statement
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#16825 Update release note 0.37.0 with tokenlabel support on Linux Z
  doc/release-notes/0.37/0.37.md
Labels: comp:doc

#16775 CRIU restore loads trace options with registerRestoreOptionsFile()
  runtime/criusupport/criusupport.cpp
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9trace.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/rastrace/j9rastrace.h
  runtime/rastrace/method_trace.c
  runtime/rastrace/trcengine.c
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/jvminit.c
  runtime/vm/rastrace.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_Xtrace.xml
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#16880 (v0.38.0-release) Support for restore args env var & CRIU getRestoreSystemProperites() skips non system property entries
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  runtime/criusupport/criusupport.cpp
  runtime/criusupport/criusupport.hpp
  runtime/criusupport/exports.cmake
  runtime/criusupport/j9criu.tdf
  runtime/criusupport/uma/criusupport_exports.xml
  runtime/jcl/exports.cmake
  runtime/nls/j9cl/j9jcl.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
  runtime/vm/vmprops.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/CRIUTestUtils.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/EnvVarFileTest.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#16906 Delete remnant of OFFLOAD support that was missed
  runtime/jcl/common/vm_scar.c
  runtime/oti/jvminit.h
Labels: comp:vm

#16915 (0.37) Implement methods in com.sun.management.ThreadMXBean
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/ThreadMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedThreadMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/sun/management/ThreadMXBean.java
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestThreadMXBean.java
Labels: comp:vm

#16909 Add missing parentheses in macro definitions
  runtime/oti/jvminit.h
Labels: comp:vm

#16893 (v0.38.0-release) CRIU restore loads trace options with registerRestoreOptionsFile()
  runtime/criusupport/criusupport.cpp
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9trace.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/rastrace/j9rastrace.h
  runtime/rastrace/method_trace.c
  runtime/rastrace/trcengine.c
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/jvminit.c
  runtime/vm/rastrace.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_Xtrace.xml
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#16924 Add missing parentheses in macro definitions
  runtime/oti/jvminit.h
Labels: comp:vm

#16911 Add support to disable JITServer and AOT post restore
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
Labels: comp:jit, comp:jitserver, criu

#16845 CRIU Verbose Logging Reinit/Reconfig for Restore
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_base/modronapi.cpp
  runtime/gc_include/VerboseGCInterface.h
  runtime/gc_modron_startup/GCVerboseInterface.cpp
  runtime/gc_verbose_java/VerboseJava.cpp
  runtime/gc_verbose_java/VerboseManagerJava.cpp
  runtime/gc_verbose_java/VerboseManagerJava.hpp
  runtime/oti/verbose_api.h
  runtime/verbose/verbose.c
Labels: comp:vm, comp:gc, criu

#16934 (v0.38.0-release) CRIU tests use success and explicit failure conditions before checkpoint
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_Xtrace.xml
Labels: comp:test, criu

#16928 Invalidate compiles if -Xdump on exception is specified post restore
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/OptionsPostRestore.cpp
Labels: comp:jit, criu

#16935 Post Restore Compiler Options 0.38
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
Labels: comp:jit, comp:jitserver, comp:jit:aot, criu

#16949 Correct link to jitserver Problem Determination guide
  doc/compiler/jitserver/README.md
Labels: comp:doc

#16931 Update jdmpview !coreinfo to print vm properties
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/CoreInfoCommand.java
Labels: comp:vm

#16948 (0.38) Fixing wrong address elementSize calculation
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#16941 Include the product name in the DTFJ JavaRuntime version
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/CoreInfoCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/view/dtfj/java/DTFJJavaRuntime.java
  runtime/oti/j9nonbuilder.h
  runtime/vm/rasdump.c
Labels: comp:vm

#16944 CRIU restore setup Xtrace output file
  runtime/rastrace/trcengine.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#16950 (v0.38.0-release) CRIU restore with -Xdump using CRIUSupport.registerRestoreOptionsFile()
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9dump.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/rasdump/dmpsup.c
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
  runtime/vm/CRIUHelpers.cpp
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_RAS.xml
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#16912 Update common.mk to compile new OMR Register Allocator files
  runtime/compiler/build/files/common.mk
Labels: comp:jit, comp:build, depends:omr:breaking

#16953 Add error handling to enterContinuationImpl
  runtime/vm/BytecodeInterpreter.hpp
Labels: backport:candidate, project:loom

#16956 (v0.38.0-release) CRIU restore setup Xtrace output file
  runtime/rastrace/trcengine.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#16932 [FFI] Handling the captured exceptions for the upcall method
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/CMakeLists.txt
  runtime/vm/UpcallExceptionHandler.cpp
  runtime/vm/UpcallVMHelpers.cpp
  runtime/vm/vmthread.cpp
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/upcall/InvalidUpCallTests.java
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/upcall/UpcallMethodHandles.java
  test/functional/Java17andUp/testng_170.xml
  test/functional/Java19andUp/src/org/openj9/test/jep424/upcall/InvalidUpCallTests.java
  test/functional/Java19andUp/src/org/openj9/test/jep424/upcall/UpcallMethodHandles.java
  test/functional/Java19andUp/testng_190.xml
Labels: comp:vm, project:panama

#16848 AArch64: Implement EDO
  runtime/compiler/aarch64/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/aarch64/codegen/ForceRecompilationSnippet.hpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit, arch:aarch64

#16972 Use sharedCacheAPI to determine -Xshareclasses:disableOnRestore
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
Labels: comp:jit, comp:jit:aot, criu

#16850 (0.38) Disable CRC32C optimization when arraylets are enabled on Power
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
Labels: comp:jit, arch:power

#16975 (0.38) Include the product name in the DTFJ JavaRuntime version, print vm props
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/CoreInfoCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/view/dtfj/java/DTFJJavaRuntime.java
  runtime/oti/j9nonbuilder.h
  runtime/vm/rasdump.c
Labels: comp:vm

#16983 Fix GetCurrentContendedMonitor on mounted CarrierThread
  runtime/jvmti/jvmtiThread.c
Labels: backport:candidate, project:loom, jdk19, comp:jvmti

#16982 Disable method type deadlock test
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
Labels: comp:test

#16991 Reference openjdk.org instead of openjdk.java.net
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/SystemRestoreException.java
  runtime/compiler/optimizer/SimplifierHandlers.hpp
  runtime/compiler/optimizer/SimplifierTable.enum
  runtime/compiler/p/runtime/J9PPCCRC32C_constants.h
  test/functional/Java11andUp/src/org/openj9/test/crc32c/TestJavaUtilZipCRC32C.java
Labels: comp:doc

#17000 (0.38) Add a javaVM variant of isCheckpointAllowed
  runtime/gc_modron_startup/mminit.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
Labels: comp:vm, comp:gc, criu

#16971 Use a non-root user in docker files
  buildenv/docker/aarch64-linux_CC/Dockerfile
  buildenv/docker/armhf-linux_CC/Dockerfile
  buildenv/docker/mkdocker.sh
  buildenv/docker/test/Dockerfile
Labels: comp:build

#17006 CRIU configureDumpAgents() macros apply J9VMInitArgs
  runtime/rasdump/dmpsup.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_RAS.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#17009 Remove setImmutableField on currentThread for JDK19 and up
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jit

#17021 (v0.37.0-release) Remove setImmutableField on currentThread for JDK19 and up
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jit

#17002 CRIU requires Xdump::dynamic to support exception throw/catch options
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.cpp
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_RAS.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#16952 CRIU JDK11UpTimeoutAdjustmentTest add verbose test output
  test/functional/cmdLineTests/criu/criu_nonPortableJDK11Up.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/JDK11UpTimeoutAdjustmentTest.java
Labels: comp:test, criu

#16713 Handle continuation scanning in pending to be mounted case
  runtime/gc_base/GCExtensions.cpp
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_glue_java/CompactSchemeFixupObject.cpp
  runtime/gc_glue_java/HeapWalkerDelegate.cpp
  runtime/gc_glue_java/MarkingDelegate.cpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/gc_glue_java/MetronomeDelegate.hpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_glue_java/ScavengerDelegate.hpp
  runtime/gc_modron_standard/StandardAccessBarrier.cpp
  runtime/gc_realtime/RealtimeAccessBarrier.cpp
  runtime/gc_structs/VMThreadStackSlotIterator.cpp
  runtime/gc_structs/VMThreadStackSlotIterator.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkCardScrubber.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ContinuationHelpers.cpp
Labels: comp:gc, project:loom

#16986 Refactor valueHashCode to be more efficient
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
Labels: comp:vm, project:valhalla

#17035 Add support for jdk20 in mkdocker.sh and remove jdk18
  buildenv/docker/mkdocker.sh
Labels: comp:build

#17030 Fix the 32-bit compile issue in ScavengerDelegate.cpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
Labels: comp:gc

#17040 Update to latest cent6 build container
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#17013 Disable FFI specific test suites for JDK21
  test/functional/Java20andUp/build.xml
  test/functional/Java20andUp/playlist.xml
Labels: comp:test, project:panama

#16992 Fix getting username from env in checkpoint mode
  runtime/jcl/common/system.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/UsernameTest.java
Labels: criu

#17018 (v0.38.0-release) CRIU configureDumpAgents() macros apply J9VMInitArgs
  runtime/rasdump/dmpsup.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_RAS.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#16096 Introduce Dual Indexable Object Header Shape Functionality
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9IndexableObjectHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/WhatIsCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/gccheck/CheckEngine.java
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/ddr/vmddr.cpp
  runtime/gc_base/GCExtensions.cpp
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_base/ObjectCheck.cpp
  runtime/gc_check/CheckEngine.cpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_glue_java/ArrayletObjectModelBase.cpp
  runtime/gc_glue_java/ArrayletObjectModelBase.hpp
  runtime/gc_glue_java/EnvironmentDelegate.hpp
  runtime/gc_glue_java/ObjectModel.hpp
  runtime/gc_include/ObjectAllocationAPI.hpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mminit.h
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/j9vm/j8vmi.c
  runtime/jcl/common/jithelpers.c
  runtime/jcl/common/sun_misc_Unsafe.cpp
  runtime/jilgen/jilconsts.c
  runtime/oti/ObjectHash.hpp
  runtime/oti/UnsafeAPI.hpp
  runtime/oti/j9accessbarrier.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/vmthread.cpp
Labels: comp:gc

#16700 Refactor CompilationStrategy and CompilationController
  runtime/compiler/CMakeLists.txt
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/CMakeLists.txt
  runtime/compiler/control/CompilationStrategy.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompileBeforeCheckpoint.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9CompilationStrategy.cpp
  runtime/compiler/control/J9CompilationStrategy.hpp
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/J9Recompilation.hpp
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/runtime/HWProfiler.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JitRuntime.cpp
Labels: depends:omr:breaking

#17051 Modify the translated PII files in nls folder 20230329
  runtime/nls/cfre/cfrerr_it.nls
  runtime/nls/cfre/cfrerr_ja.nls
  runtime/nls/cfre/cfrerr_pl.nls
  runtime/nls/cfre/cfrerr_pt_BR.nls
  runtime/nls/cfre/cfrerr_tr.nls
  runtime/nls/cfre/cfrerr_zh.nls
  runtime/nls/cfre/cfrerr_zh_CN.nls
  runtime/nls/dump/j9dmp_cs.nls
  runtime/nls/dump/j9dmp_it.nls
  runtime/nls/j9cl/j9jcl_ca.nls
  runtime/nls/j9cl/j9jcl_cs.nls
  runtime/nls/j9cl/j9jcl_hu.nls
  runtime/nls/j9cl/j9jcl_it.nls
  runtime/nls/j9cl/j9jcl_tr.nls
  runtime/nls/j9cl/j9jcl_zh.nls
  runtime/nls/j9cl/j9jcl_zh_CN.nls
  runtime/nls/j9ti/jvmti_fr.nls
  runtime/nls/j9ti/jvmti_it.nls
  runtime/nls/j9ti/jvmti_tr.nls
  runtime/nls/j9ti/jvmti_zh.nls
  runtime/nls/j9ti/jvmti_zh_CN.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/port/port_ca.nls
  runtime/nls/port/port_es.nls
  runtime/nls/port/port_it.nls
  runtime/nls/port/port_pl.nls
  runtime/nls/port/port_sk.nls
  runtime/nls/port/port_zh.nls
  runtime/nls/port/port_zh_CN.nls
Labels: comp:vm

#17017 CRIU Xtrace prepares the trace output file
  runtime/rasdump/dmpsup.c
  runtime/rasdump/j9dmp.tdf
  runtime/rastrace/j9trc.tdf
  runtime/rastrace/trcengine.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_RAS.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#17050 Remove OpenJ9 impl of com.sun.management.ThreadMXBean from IBM Java 8
  jcl/src/jdk.management/share/classes/com/sun/management/ThreadMXBean.java
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestThreadMXBean.java
Labels: comp:vm

#17043 Re-generate client UID after CRIU restore operation
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
Labels: comp:jitserver, criu

#17057 Add paired TraceEntry
  runtime/rasdump/dmpsup.c
  runtime/rasdump/j9dmp.tdf
  runtime/rastrace/j9trc.tdf
  runtime/rastrace/trcengine.c
Labels: comp:vm, criu

#17061 Re-generate client UID after CRIU restore operation (0.38.0)
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
Labels: comp:jitserver, criu

#17056 (v0.38.0-release) CRIU Xtrace prepares the trace output file
  runtime/rasdump/dmpsup.c
  runtime/rasdump/j9dmp.tdf
  runtime/rastrace/j9trc.tdf
  runtime/rastrace/trcengine.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_RAS.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#17068 Add missing OMRCompilationStrategy.cpp to fix UMA build
  runtime/compiler/build/files/common.mk
Labels: comp:build

#16985 JDK21 adds JVM_VirtualThreadMount/JVM_VirtualThreadUnmount
  jcl/src/java.base/share/classes/jdk/internal/foreign/abi/UpcallLinker.java
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.cpp
  runtime/j9vm/module.xml
  runtime/redirector/forwarders.m4
  runtime/redirector/module.xml
Labels: comp:vm, jdk21

#17064 Export dtfj packages required for plugins
  jcl/src/openj9.dtfj/share/classes/module-info.java
Labels: comp:vm

#17075 [FFI/Test] Restore the fix for addDoubleAndIntDoubleLongFromStruct
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/upcall/UpcallMethodHandles.java
  test/functional/Java19andUp/src/org/openj9/test/jep424/upcall/UpcallMethodHandles.java
Labels: project:panama, test failure, jdk17

#17076 (0.38) Export dtfj packages required for plugins
  jcl/src/openj9.dtfj/share/classes/module-info.java
Labels: comp:vm

#17034 New convert intrinsic
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/J9DataTypes.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#17077 Fix javadoc errors and add explicit constructors
  jcl/src/openj9.dtfj/share/classes/com/ibm/java/diagnostics/utils/ContextFactory.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/java/diagnostics/utils/commands/BaseCommand.java
Labels: comp:vm

#17080 (0.38) Fix javadoc errors and add explicit constructors
  jcl/src/openj9.dtfj/share/classes/com/ibm/java/diagnostics/utils/ContextFactory.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/java/diagnostics/utils/commands/BaseCommand.java
Labels: comp:vm

#16855 Refactor VirtualThread synchronization design
  jcl/src/java.base/share/classes/jdk/internal/vm/Continuation.java
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/gc_base/GCExtensions.hpp
  runtime/j9vm/javanextvmi.cpp
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/thread.cpp
  runtime/jvmti/jvmtiHelpers.c
  runtime/jvmti/jvmtiThread.c
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/ContinuationHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/vmthinit.c
Labels: comp:vm, perf, project:loom, jdk19

#17083 Add temporary define of OMRPORT_MMAP_FLAG_ZOS_READ_MAPFILE
  runtime/bcutil/jimagereader.c
Labels: comp:vm

#16776 Test result of arraycmp for value type comparison
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit, project:valhalla

#17074 [FFI/Jtreg] Validate the downcall function address in JDK20
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalDowncallHandler.java
Labels: comp:vm, project:panama, jdk20

#17086 Correctly ifdef Java19 code
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit
