Repository eclipse-openj9/openj9, pull requests merged in 2023-09, with the labels that each got.

#18059 Store JITServer AOT methods if they are delayed
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#18042 ddr support for Valhalla NullRestricted attribute
  debugtools/DDR_VM/src/com/ibm/j9ddr/CompatibilityConstants29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
Labels: comp:vm, project:valhalla

#18045 Print NullRestricted flag for ddr classAndFlags
  debugtools/DDR_VM/src/com/ibm/j9ddr/CompatibilityConstants29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/LinearDumper.java
Labels: comp:vm, project:valhalla

#18063 Do not create class unload PIC site assumption if not required
  runtime/compiler/runtime/RelocationRecord.cpp
Labels: comp:jit

#18035 NullRestricted Valhalla attribute cfdump support
  runtime/bcutil/ClassFileWriter.cpp
  runtime/cfdumper/main.c
Labels: comp:vm, project:valhalla

#18041 Define unit tests involving arrays of empty value types
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeArrayTests.java
Labels: comp:test, project:valhalla

#18069 Update jenkins pipeline
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#18047 x86: Enable AVX512-CD
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jit, arch:x86

#18087 Fix z/OS build error in getMemberNameMethodInfo()
  runtime/compiler/env/VMJ9.cpp
Labels: comp:jit

#17382 Use arraycmplen opcode
  runtime/compiler/optimizer/IdiomRecognition.cpp
  runtime/compiler/optimizer/IdiomTransformations.cpp
Labels: comp:jit, depends:omr:breaking

#18027 Guard a call to VMwrtbarWithoutStoreEvaluator
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#18097 In CriticalRegionTest System.gc once, testAcquireAndGC timeout 10sec
  test/functional/VM_Test/src/j9vm/test/jni/CriticalRegionTest.java
Labels: comp:test

#18101 (0.41) Don't invoke shutdown signal handler until JVM init completes
  runtime/vm/jvminit.c
Labels: comp:vm

#18108 Update OpenSSL version to include fix for CVE-2023-4807
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#18112 (v0.41.0-release) Update feature tag
  test/functional/cmdLineTests/fips/playlist.xml
  test/functional/cmdLineTests/openssl/playlist.xml
Labels: comp:test

#18109 Ignore -Xgc:enableArrayletDoubleMapping silently
  runtime/gc_modron_startup/mmparseXgc.cpp
Labels: comp:gc

#18114 (v0.41.0-release) Ignore -Xgc:enableArrayletDoubleMapping silently
  runtime/gc_modron_startup/mmparseXgc.cpp
Labels: comp:gc

#18119 Create draft 0.41.0 release note
  doc/release-notes/0.41/0.41.md
Labels: comp:doc

#18094 Add NullCHK when storing value into NullRestricted field
  runtime/compiler/ilgen/Walker.cpp
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/NullRestrictedTypeOptTests.java
Labels: comp:jit, project:valhalla

#18120 (0.41) Update OpenSSL version to include fix for CVE-2023-4807
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#17618 CRIU resets j.l.VirtualThread.ForkJoinPool.parallelism after restore
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9nonbuilder.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/j9vm.tdf
  test/functional/cmdLineTests/criu/build.xml
  test/functional/cmdLineTests/criu/criu_nonPortableJDK20Up.xml
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestMachineResourceChange.java
Labels: comp:vm, criu, jdk20

#18122 (0.41) Add third party content to NOTICES.md
  NOTICES.md
Labels: comp:doc

#18075 Move decReferenceCount out of else block
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#18126 Add DDR dummy header size_t strlen(const char *str)
  runtime/ddr/dummy_headers/string.h
Labels: comp:vm

#18116 Update jdk8 build instructions, LOG=cmdlines should be LOG=debug
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#18135 Compile Windows jdk8+ with VS2022, move jdk17 x,p,zlinux to gcc 11.2
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#18130 NullRestricted field throws NPE on null assignment in withfield
  runtime/vm/BytecodeInterpreter.hpp
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeTests.java
Labels: comp:vm, comp:test, project:valhalla

#18136 AIX Valhalla builds should extend ppc64_aix
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, project:valhalla

#18145 StackWalker updates for Java 22
  jcl/src/java.base/share/classes/java/lang/PinnedThreadPrinter.java
  jcl/src/java.base/share/classes/java/lang/StackWalker.java
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/java11vmi.c
  runtime/j9vm/javanextvmi.cpp
  runtime/j9vm/module.xml
  runtime/jcl/common/java_lang_StackWalker.cpp
  runtime/redirector/forwarders.m4
  runtime/redirector/module.xml
Labels: comp:vm

#18137 Update to zlib 1.3 to remove warnings from Clang in latest Xcode
  runtime/include/zconf.h
  runtime/include/zlib.h
  runtime/zlib/adler32.c
  runtime/zlib/compress.c
  runtime/zlib/crc32.c
  runtime/zlib/deflate.c
  runtime/zlib/deflate.h
  runtime/zlib/gzguts.h
  runtime/zlib/infback.c
  runtime/zlib/inffast.c
  runtime/zlib/inffast.h
  runtime/zlib/inflate.c
  runtime/zlib/inftrees.c
  runtime/zlib/inftrees.h
  runtime/zlib/trees.c
  runtime/zlib/uncompr.c
  runtime/zlib/zutil.c
  runtime/zlib/zutil.h
Labels: comp:vm

#18139 Cumulative thread allocaton stats
  runtime/gc/gctable.c
  runtime/gc_base/gc_internal.h
  runtime/gc_base/modronapi.cpp
  runtime/gc_base/modronapi.hpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc, depends:omr

#18159 CRIU adds opt_openjdkCracSupport and OPENJDK_CRAC_SUPPORT
  buildspecs/core.feature
  buildspecs/j9.flags
  jcl/jpp_configuration.xml
Labels: comp:vm, criu

#18165 Fix TestOperatingSystemMXBean HardwareModel test
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestOperatingSystemMXBean.java
Labels: comp:test

#18161 Update to openssl 3.0.11
  buildenv/jenkins/variables/defaults.yml
Labels: comp:openssl

#17903 Add tests for Value Type System.arraycopy transformation
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeSystemArraycopyTests.java
  test/functional/Valhalla/testng.xml
Labels: depends:omr, project:valhalla

#18164 Consume -XX:[+/-]UseZlibNX options in OpenJ9 builds
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm

#18176 Allow zlinux testing to run on rhel8
  buildenv/jenkins/variables/defaults.yml
Labels: comp:test

#18030 NullRestricted attribute field class checks
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9javaaccessflags.h
  runtime/vm/ClassInitialization.cpp
  runtime/vm/createramclass.cpp
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeTests.java
Labels: comp:vm, comp:test, project:valhalla

#18175 Rename OPENJDK_CRAC_SUPPORT to CRAC_SUPPORT
  buildspecs/core.feature
  buildspecs/j9.flags
  jcl/jpp_configuration.xml
  runtime/cmake/options.cmake
  runtime/include/j9cfg.h.in
Labels: comp:vm, criu

#18174 Add missing default cases to switch statements
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: arch:aarch64

#18173 Flatten non-static NullRestricted fields
  runtime/oti/j9.h
  runtime/vm/createramclass.cpp
Labels: comp:vm, project:valhalla

#18099 AArch64: Use lastITable cache for interface call dispatching
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
  runtime/compiler/aarch64/codegen/CallSnippet.hpp
  runtime/compiler/aarch64/runtime/PicBuilder.spp
  runtime/compiler/runtime/Trampoline.cpp
Labels: comp:jit, arch:aarch64

#18181 Enable disabled tests
  test/functional/cmdLineTests/forceLazySymbolResolution/playlist.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:test

#18182 (0.41) Consume -XX:[+/-]UseZlibNX options in OpenJ9 builds
  runtime/oti/jvminit.h
  runtime/vm/jvminit.c
Labels: comp:vm

#18185 Update JVM_IsUseContainerSupport
  runtime/j9vm/java11vmi.c
Labels: comp:vm

#18197 (0.41) Update JVM_IsUseContainerSupport
  runtime/j9vm/java11vmi.c
Labels: comp:vm

#18194 Collect debuginfo files to help diagnose omr_ddrgen failures with gcc11
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#18192 Remove redundant register native call
  runtime/jcl/common/stdinit.c
  runtime/jcl/common/sun_reflect_ConstantPool.c
  runtime/oti/j9consts.h
Labels: comp:vm

#18208 Remove redundant import
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm

#18187 Update 0.41.0 release note
  doc/release-notes/0.41/0.41.md
Labels: comp:doc

#18199 x86: Fix incorrect use of codegen API
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:x86

#18215 re-enable cmdLineTester_dumpromclasstests
  test/functional/cmdLineTests/dumpromtests/playlist.xml
Labels: comp:test

#18123 Z: Use new transactional execution facility flags
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/z/env/J9CPU.cpp
Labels: comp:jit, depends:omr:breaking
