Repository eclipse-openj9/openj9, pull requests merged in 2023-10, with the labels that each got.

#18216 Remove clearNonZAAPEligibleBit
  runtime/jcl/common/vm_scar.c
Labels: comp:vm

#18212 Fix code cache segment race condition
  runtime/vm/segment.c
Labels: comp:vm, comp:jit

#18228 Add AIX sun.font.FontManagerNativeLibrary.load() test
  test/functional/cmdLineTests/loadLibraryTest/build.xml
  test/functional/cmdLineTests/loadLibraryTest/loadLibraryTestAIX.xml
  test/functional/cmdLineTests/loadLibraryTest/playlist.xml
  test/functional/cmdLineTests/loadLibraryTest/src/org/openj9/test/loadLibrary/TestLoadLibraryAIX.java
Labels: comp:test

#18233 Enable write permission before writing into CodeCache segment
  runtime/vm/segment.c
Labels: comp:vm, arch:aarch64, os:macos

#18227 AArch64: Add space for outgoing JNI argument to J9CInterpreterStackFrame
  runtime/codert_vm/arm64nathelp.m4
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/oti/arm64helpers.m4
  runtime/oti/j9nonbuilder.h
Labels: comp:jit, arch:aarch64

#14074 Use getLiveRangeInfo to find pending push symRefs that are dead
  runtime/compiler/optimizer/EscapeAnalysisTools.cpp
Labels: bug, comp:jit

#18236 Fix crash in prepareToFixMemberNames
  runtime/bcutil/j9bcu.tdf
  runtime/gc_base/ClassLoaderManager.cpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/jvmti/jvmtiClass.c
  runtime/oti/j9nonbuilder.h
  runtime/vm/VMAccess.cpp
Labels: comp:vm, comp:gc

#18241 Add options for sizing the IProfiler hash tables
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#18238 Add MN_HIDDEN_MEMBER and change MN_FLATTENED
  runtime/oti/j9nonbuilder.h
Labels: comp:vm, project:valhalla

#18252 Introduce JVMPortableRestoreMode
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/CRIUSimpleTest.java
Labels: comp:vm, comp:jit, criu

#18263 (0.41) Introduce JVMPortableRestoreMode
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/CRIUSimpleTest.java
Labels: comp:vm, comp:jit, criu

#18184 CRIU adds InternalCRIUSupport.getLastRestoreTime()
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
  runtime/criusupport/criusupport.cpp
  runtime/jcl/common/criu.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/uma/criu_exports.xml
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TimeChangeTest.java
Labels: comp:vm, criu

#18278 Ensure constgen is up-to-date before running it
  runtime/cmake/J9vmGenAsm.cmake
  runtime/jilgen/CMakeLists.txt
Labels: comp:build, cmake

#18251 Retain Continuation.vthread until the J9VMContinuation is freed
  runtime/j9vm/javanextvmi.cpp
  runtime/jvmti/jvmtiThread.c
  runtime/oti/ContinuationHelpers.hpp
  runtime/oti/j9consts.h
  runtime/vm/ContinuationHelpers.cpp
Labels: comp:vm

#18268 Add numberOfElements parameter to getArrayletLayout()
  runtime/gc_base/IndexableObjectAllocationModel.hpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_glue_java/ObjectModelDelegate.hpp
Labels: comp:gc, project:valhalla

#16103 Jenkins: Add option to prefix Artifactory build names
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#16102 Jenkins: Always publish buildInfo to Artifactory
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#18262 Add tests to verify JITServer with SSL
  test/functional/cmdLineTests/jitserver/jitserverArgumentTesting.xml
  test/functional/cmdLineTests/jitserver/jitserverScript.sh
  test/functional/cmdLineTests/jitserver/jitserversslconfig.sh
Labels: comp:jitserver

#18189 Update genAconst_init to check NullRestricted attribute
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit, depends:omr, project:valhalla

#18242 Parse softmx on CRIU restore side
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparse.cpp
  runtime/gc_modron_startup/mmparse.h
Labels: comp:gc, criu

#18289 Renamed warm strategy opts
  runtime/compiler/optimizer/J9Optimizer.cpp
Labels: comp:jit

#18259 Insert Null value check if array component type is unknown during compilation time
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeArrayTests.java
Labels: comp:jit, project:valhalla

#18178 Add default cases to PPC switch statements
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/PPCPrivateLinkage.cpp
  runtime/compiler/p/runtime/PPCHWProfiler.cpp
  runtime/compiler/p/runtime/PPCRelocationTarget.cpp
Labels: arch:power

#18281 Improve the error message on SCC control file open/lock failure
  runtime/nls/shrc/j9shr.nls
Labels: comp:vm

#18275 Update NullRestrictedTypeOptTests to build with Valhalla lw5
  test/functional/Valhalla/build.xml
  test/functional/Valhalla/src_lw5/org/openj9/test/lworld/NullRestrictedTypeOptTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/NullRestrictedTypeOptTests.java
Labels: comp:test, project:valhalla

#18300 Make 0-length 0-stride array discontiguous
  runtime/gc_base/IndexableObjectAllocationModel.hpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_glue_java/ObjectModelDelegate.hpp
Labels: comp:gc, project:valhalla

#18248 AArch64: Stop saving/restoring x29 in unnecessary cases
  runtime/codert_vm/arm64nathelp.m4
  runtime/oti/arm64helpers.m4
Labels: comp:jit, arch:aarch64

#18311 Change In Config Due To Moving Forced Flags to Extbase
  runtime/gc_modron_startup/mmparseXXgc.cpp
Labels: comp:gc

#18286 Don't check JNI absolute paths on z/OS, for loading datasets
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#18325 In PR testing redefine `all` to exclude UNB platforms
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
Labels: comp:build

#18243 Support ChangesCurrentThread annotation in the JIT
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#18317 Split ValueTypeTests for lw5 and enable basic value type tests
  runtime/vm/resolvefield.cpp
  test/functional/Valhalla/build.xml
  test/functional/Valhalla/src_lw5/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, comp:test, project:valhalla

#18323 Support for java.lang.Class.asNullRestrictedType
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, project:valhalla

#17555 Update z/TPF code cache strategy
  runtime/compiler/control/rossa.cpp
Labels: comp:jit

#18333 Allow Last Responder thread pointer to be NULL
  runtime/gc_verbose_old_events/VerboseEventGCStart.cpp
Labels: comp:gc

#18330 Split ValueTypeSystemArraycopyTests to src_lw5 and src_qtypes folders
  test/functional/Valhalla/src_lw5/org/openj9/test/lworld/ValueTypeSystemArraycopyTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeSystemArraycopyTests.java
Labels: comp:test, project:valhalla

#18341 Add test classes for lw5 ValueTypeTests
  test/functional/Valhalla/src_lw5/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#18344 Fix mismatched JITServer message type
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#18345 Add debug option to force GPF on heap initialization error
  runtime/gc_base/GCExtensions.cpp
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
Labels: comp:gc

#18350 JDK22+ disable JEP 454 tests
  test/functional/Java22andUp/build.xml
  test/functional/Java22andUp/playlist.xml
Labels: comp:test

#18346 Use -fno-omit-frame-pointer on x86_64-mac JIT builds
  runtime/compiler/CMakeLists.txt
Labels: comp:jit, arch:x86, os:macos

#18351 AArch64 macOS: Stop assigning x18
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64, os:macos

#18361 Update Artifactory doc with new OSU Art URL
  buildenv/jenkins/ARTIFACTORY.md
Labels: comp:doc

#18360 JDK22+ add latest APIs for Valhalla & enable JEP 454 tests
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalDowncallHandler.java
  test/functional/Java22andUp/build.xml
  test/functional/Java22andUp/playlist.xml
Labels: comp:vm, comp:test, project:valhalla

#18315 Use defining symrefs from defining map for <eaEscapeHelper> call
  runtime/compiler/optimizer/EscapeAnalysisTools.cpp
Labels: comp:jit

#16662 Accelerate ArraysSupport.vectorizedMismatch in IL
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#18366 Correct expected number of StackWalker options
  test/functional/Java9andUp/src/org/openj9/test/stackWalker/StackWalkerTest.java
Labels: comp:test

#18356 Reduce counts when class of method is not in SCC
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit, depends:omr

#18235 CRIU adds time compensation for RuntimeMXBean.getUptime()
  runtime/jcl/common/mgmtruntime.c
  runtime/jcl/j9jcl.tdf
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TimeChangeTest.java
Labels: comp:vm, criu

#18348 Part 3 of adding lw5 ValueTypeTests
  test/functional/Valhalla/src_lw5/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#18357 (0.41) AArch64 macOS: Stop assigning x18
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64, os:macos

#18376 Add ability to run Update ref repo job serially
  buildenv/jenkins/jobs/infrastructure/Update-Reference-Repos.groovy
Labels: comp:infra

#17954 Improve MethodHandle direct dispatch J2I-prevention transformations
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/il/J9Node.cpp
  runtime/compiler/il/J9Node.hpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/x/amd64/codegen/AMD64PrivateLinkage.cpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.hpp
  runtime/compiler/x/codegen/X86PrivateLinkage.cpp
  runtime/compiler/x/codegen/X86PrivateLinkage.hpp
Labels: comp:vm, comp:jit, depends:omr
