Repository eclipse-openj9/openj9, pull requests merged in 2023-06, with the labels that each got.

#17503 Fix array constructor for Object Lists
  runtime/gc_base/ContinuationObjectList.cpp
  runtime/gc_base/OwnableSynchronizerObjectList.cpp
  runtime/gc_base/ReferenceObjectList.cpp
  runtime/gc_base/UnfinalizedObjectList.cpp
Labels: comp:gc

#17504 Correct return type of JVM_Sleep()
  runtime/j9vm/jvm.c
  runtime/redirector/forwarders.m4
Labels: comp:vm

#17507 Remove configuration information for Java 19
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#17217 Enable EDO during AOT compilation
  doc/compiler/aot/RelocationRecords.md
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/optimizer/CatchBlockProfiler.cpp
  runtime/compiler/p/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/runtime/PPCRelocationTarget.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, depends:omr, comp:jit:aot

#17112 Handle new vector opcodes
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#17407 Put select system property names and values in allocated memory
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/CoreInfoCommand.java
  runtime/oti/j9nonbuilder.h
  runtime/vm/rasdump.c
  runtime/vm/vmprops.c
Labels: comp:vm

#17505 CRIU skips j9sysinfo_get_username()/getpwuid() if isCheckPointAllowed
  runtime/oti/j9port_generated.h
  runtime/port/sysvipc/j9sharedhelper.c
  runtime/port/sysvipc/j9shmem.c
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/jvminit.c
Labels: comp:vm, criu

#17522 Remove Dockerfile for 32-bit armhf-linux
  buildenv/docker/armhf-linux_CC/Dockerfile
Labels: comp:build, arch:aarch32

#17526 Add getNanoTimeTemp() to OpenJ9
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.hpp
Labels: comp:jit

#17530 0.39.0: Insert branch around re performing store for awrtbar
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#17529 [FFI/Jtreg_JDK20] Validate the downcall address with the scope check (0.39)
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalDowncallHandler.java
Labels: comp:vm, project:panama, jdk20

#17538 [FFI/Jtreg_JDK20] Validate the downcall address with the scope check (0.40)
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalDowncallHandler.java
Labels: comp:vm, project:panama, jdk20

#17533 Exclude cmdLineTester_CryptoTest in FIPS mode
  test/functional/cmdLineTests/openssl/playlist.xml
Labels: comp:test

#17536 Disable EDO under AOT/JITServer on aarch64
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit, arch:aarch64

#17452 Use factory method for ExternalRelocations
  runtime/compiler/aarch64/codegen/CallSnippet.cpp
  runtime/compiler/aarch64/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/arm/codegen/ARMHelperCallSnippet.cpp
  runtime/compiler/arm/codegen/CallSnippet.cpp
  runtime/compiler/arm/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9WatchedInstanceFieldSnippet.cpp
  runtime/compiler/codegen/J9WatchedStaticFieldSnippet.cpp
  runtime/compiler/p/codegen/CallSnippet.cpp
  runtime/compiler/p/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/p/codegen/J9PPCInstruction.cpp
  runtime/compiler/p/codegen/J9PPCSnippet.cpp
  runtime/compiler/p/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/p/codegen/PPCRecompilationSnippet.cpp
  runtime/compiler/p/codegen/StackCheckFailureSnippet.cpp
  runtime/compiler/runtime/HWProfiler.cpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/codegen/CallSnippet.cpp
  runtime/compiler/x/codegen/CheckFailureSnippet.cpp
  runtime/compiler/x/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/x/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/x/codegen/RecompilationSnippet.cpp
  runtime/compiler/z/codegen/ForceRecompilationSnippet.cpp
  runtime/compiler/z/codegen/J9S390Snippet.cpp
  runtime/compiler/z/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/z/codegen/S390AOTRelocation.cpp
  runtime/compiler/z/codegen/S390J9CallSnippet.cpp
Labels: comp:jit

#17386 Remove inlining for j/u/c/atomic_Fences_* methods
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#17447 Check flattenable value types and if Q signature is supported
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:jit, project:valhalla

#17495 Update aarch64_linux build docker image to support building openssl 3
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#17107 Correct Balanced GC Eden size reporting for Mxbean
  runtime/gc_vlhgc/SchedulingDelegate.cpp
Labels: comp:gc

#17557 (0.39) Update openssl to version 1.1.1u
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#16732 For z/TPF disable ATOE mappings in J9IO and InternalFunctions
  runtime/compiler/env/J9IO.cpp
  runtime/compiler/ras/InternalFunctions.cpp
Labels: comp:jit

#17556 Update 0.39.0 release note
  .gitignore
  doc/release-notes/0.39/0.39.md
Labels: comp:doc

#17553 [FFI/Jtreg_JDK20] Keep the downcall address alive for downcall
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalDowncallHandler.java
Labels: comp:vm, project:panama, jdk17, jdk20

#17563 [FFI/Jtreg_JDK20] Keep the downcall address alive for downcall (0.39)
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalDowncallHandler.java
Labels: comp:vm, project:panama, jdk17, jdk20

#17565 [FFI/Jtreg_JDK20] Keep the downcall address alive for downcall (0.40)
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalDowncallHandler.java
Labels: comp:vm, project:panama, jdk17, jdk20

#17562 Fix invalid OMR_PRI* usage on Windows
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#17542 [FFI/Test] Exclude the test suites for JDK21
  test/functional/Java21andUp/playlist.xml
  test/functional/Java21andUp/src/org/openj9/test/jep442/valist/ApiTests.java
  test/functional/Java21andUp/src/org/openj9/test/jep442/valist/DowncallTests.java
  test/functional/Java21andUp/src/org/openj9/test/jep442/valist/UpcallTests.java
  test/functional/Java21andUp/src/org/openj9/test/jep442/valist/VaListUpcallMethodHandles.java
  test/functional/Java21andUp/testng_210.xml
Labels: project:panama, test excluded, jdk21

#17569 (0.40) Fix invalid OMR_PRI* usage on Windows
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#17560 Add NLS message: J9NLS_PORT_RUNNING_IN_CONTAINER_FAILURE
  runtime/nls/port/port.nls
Labels: comp:vm

#17509 Permit JITServer AOT cache methods compiled with SVM to be immediately relocated at the client
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: comp:jitserver

#17546 Avoid generating store of uninitialized auto when reducing TRT2
  runtime/compiler/optimizer/IdiomTransformations.cpp
Labels: comp:jit

#17584 Change JITserver Argument Testing Success Conditions
  test/functional/cmdLineTests/jitserver/jitserverArgumentTesting.xml
Labels: comp:test, comp:jitserver

#17589 AArch64: Add classNode argument to `genSuperClassTest`
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#16452 Enable String Compression by default in OpenJ9
  runtime/vm/jvminit.c
Labels: comp:vm

#17593 Do not send SVM map to JITServer clients
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jitserver

#17550 Fix several mis-spellings of 'starting'
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/StringPeepholes.cpp
  runtime/shared_common/OSCachemmap.cpp
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestOpenJ9DiagnosticsMXBean.java
  test/functional/JLM_Tests/src/org/openj9/test/management/JvmCpuMonitorMXBeanTest.java
Labels: comp:vm, comp:test

#17605 (0.40) Avoid generating store of uninitialized auto when reducing TRT2
  runtime/compiler/optimizer/IdiomTransformations.cpp
Labels: comp:jit

#17358 Handle 1D arrays with multianewarray
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#17603 Update Win build instructions for jdk8 and remove jdk11+ obsolete parts
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V19.md
  doc/build-instructions/Build_Instructions_V20.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#17607 Use correct copyright headers
  runtime/compiler/aarch64/codegen/J9SnippetDelegate.hpp
  runtime/compiler/arm/codegen/J9SnippetDelegate.hpp
  runtime/compiler/codegen/J9SnippetDelegate.hpp
  runtime/compiler/codegen/SnippetDelegate.hpp
  runtime/compiler/p/codegen/J9SnippetDelegate.hpp
  runtime/compiler/x/codegen/J9SnippetDelegate.hpp
  runtime/compiler/z/codegen/J9SnippetDelegate.hpp
Labels: comp:jit

#17568 Allow Reference.refersTo to be inlined under AOT
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
Labels: comp:jit, perf, comp:jitserver, comp:jit:aot

#17609 Add preprocessor configuration for Java 22
  jcl/jpp_configuration.xml
Labels: comp:build

#17612 Switch JITServer AOT method load/relocate order
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#17459 Update Split List Forced Flag + Revert CRIU Thread Count Reinit
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
Labels: comp:gc, criu

#17514 JDK21 adds PreviewFeature APIs and JVM methods
  jcl/src/java.base/share/classes/java/lang/Access.java
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9scar.tdf
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.cpp
  runtime/oti/VMHelpers.hpp
  runtime/redirector/forwarders.m4
Labels: comp:vm, jdk21

#17623 Add TR_disableRemoteAOTMethodStorage env var
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#17614 GC CRIU: Reinit HeapRegionDescriptorExtensions (Region Obj Lists)
  runtime/gc_base/ContinuationObjectList.cpp
  runtime/gc_base/ContinuationObjectList.hpp
  runtime/gc_base/OwnableSynchronizerObjectList.cpp
  runtime/gc_base/OwnableSynchronizerObjectList.hpp
  runtime/gc_base/ReferenceObjectList.cpp
  runtime/gc_base/ReferenceObjectList.hpp
  runtime/gc_base/UnfinalizedObjectList.cpp
  runtime/gc_base/UnfinalizedObjectList.hpp
  runtime/gc_glue_java/ConfigurationDelegate.hpp
  runtime/gc_glue_java/HeapRegionDescriptorStandardExtension.hpp
Labels: comp:gc, criu

#17573 CRIU throws JVMCRIUException in single threaded mode if parks no timeout
  runtime/oti/vm_api.h
  runtime/vm/CMakeLists.txt
  runtime/vm/threadpark.cpp
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeCheckpointException.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeRestoreException.java
Labels: comp:vm, criu

#17645 (0.40) GC CRIU: Reinit HeapRegionDescriptorExtensions (Region Obj Lists)
  runtime/gc_base/ContinuationObjectList.cpp
  runtime/gc_base/ContinuationObjectList.hpp
  runtime/gc_base/OwnableSynchronizerObjectList.cpp
  runtime/gc_base/OwnableSynchronizerObjectList.hpp
  runtime/gc_base/ReferenceObjectList.cpp
  runtime/gc_base/ReferenceObjectList.hpp
  runtime/gc_base/UnfinalizedObjectList.cpp
  runtime/gc_base/UnfinalizedObjectList.hpp
  runtime/gc_glue_java/ConfigurationDelegate.hpp
  runtime/gc_glue_java/HeapRegionDescriptorStandardExtension.hpp
Labels: comp:gc, criu

#17644 (0.40) Update Split List Forced Flag + Revert CRIU Thread Count Reinit
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
Labels: comp:gc, criu

#17637 AArch64: Add debug counters to interface call dispatching sequence
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: comp:jit, arch:aarch64

#17525 Fix incorrect exception info in BNDCHK evaluator
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  test/functional/JIT_Test/playlist.xml
  test/functional/JIT_Test/src/jit/test/tr/BNDCHKImplicitNull/BNDCHKImplicitNullTest.java
  test/functional/JIT_Test/testng.xml
Labels: comp:jit

#17639 (v0.40.0-release) CRIU throws JVMCRIUException in single threaded mode if parks no timeout
  runtime/oti/vm_api.h
  runtime/vm/CMakeLists.txt
  runtime/vm/threadpark.cpp
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeCheckpointException.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeRestoreException.java
Labels: comp:vm, criu

#17627 (v0.40.0)Use debug interpreter unconditionally when debug is enabled …
  runtime/vm/jvminit.c
Labels: comp:vm, criu

#17636 AArch64: Fix a check in VMCardCheckEvaluator()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#17654 Remove tests with -Xlockword:mode=minimizeFootprint
  test/functional/Java8andUp/src/org/openj9/test/contendedfields/ContendedFieldsTests.java
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java_common.xml
  test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_exclude.xml
  test/functional/cmdLineTests/gptest/cmdlineopttest_exclude.xml
  test/functional/cmdLineTests/verboseVerification/cmdlineopttest_exclude.xml
Labels: comp:test

#17653 (0.40) CRIU GC: Flush and Reset Buffers on Reinit
  runtime/gc_base/ContinuationObjectBuffer.hpp
  runtime/gc_base/OwnableSynchronizerObjectBuffer.hpp
  runtime/gc_base/ReferenceObjectBuffer.hpp
  runtime/gc_base/UnfinalizedObjectBuffer.hpp
  runtime/gc_modron_standard/ContinuationObjectBufferStandard.cpp
  runtime/gc_modron_standard/OwnableSynchronizerObjectBufferStandard.cpp
  runtime/gc_modron_standard/ReferenceObjectBufferStandard.cpp
  runtime/gc_modron_standard/UnfinalizedObjectBufferStandard.cpp
Labels: comp:gc

#17667 Update test expectations for parameter modifiers
  test/functional/Java8andUp/src/org/openj9/test/java/lang/reflect/Test_Executable.java
Labels: comp:test, jdk21

#17659 CRIU tests require only one Pre-checkpoint message
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeCheckpointException.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeRestoreException.java
Labels: comp:test, criu

#17647 Flush SCC modification from CML utility to file on disk on z/OS
  runtime/shared/shrclssup.c
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/testSCCMLSoftmx.xml
Labels: comp:vm

#17661 (0.40) Add missed check for compressed string
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
Labels: bug, comp:gc

#17646 CRIU skips clearInetAddressCache() if InetAddress is not initialized
  jcl/src/java.base/share/classes/module-info.java.extra
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeRestoreException.java
Labels: comp:vm, criu

#17666 Change API used for computing code cache size in low memory environments
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#17668 Reset memory categories on successful DestroyJavaVM
  runtime/j9vm/j9memcategories.c
  runtime/j9vm/jvm.c
Labels: comp:vm

#17670 (v0.40.0-release) CRIU skips clearInetAddressCache() if InetAddress is not initialized
  jcl/src/java.base/share/classes/module-info.java.extra
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeRestoreException.java
Labels: comp:vm, criu

#17669 (v0.40.0-release) CRIU tests require only one Pre-checkpoint message
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeCheckpointException.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestSingleThreadModeRestoreException.java
Labels: comp:test, criu

#17679 Modify the translated PII files in nls folder 20230627
  runtime/nls/j9cl/j9jcl_pl.nls
  runtime/nls/j9cl/j9jcl_sk.nls
  runtime/nls/j9cl/j9jcl_zh.nls
  runtime/nls/j9cl/j9jcl_zh_CN.nls
  runtime/nls/j9gc/j9modron_ca.nls
  runtime/nls/j9gc/j9modron_es.nls
  runtime/nls/j9gc/j9modron_fr.nls
  runtime/nls/j9gc/j9modron_hu.nls
  runtime/nls/j9gc/j9modron_it.nls
  runtime/nls/j9gc/j9modron_ja.nls
  runtime/nls/j9gc/j9modron_pl.nls
  runtime/nls/j9gc/j9modron_pt_BR.nls
  runtime/nls/j9gc/j9modron_sk.nls
  runtime/nls/j9gc/j9modron_tr.nls
  runtime/nls/j9gc/j9modron_zh_TW.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_ko.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/jitm/j9jit_ca.nls
  runtime/nls/jitm/j9jit_fr.nls
  runtime/nls/jitm/j9jit_hu.nls
  runtime/nls/jitm/j9jit_it.nls
  runtime/nls/jitm/j9jit_ko.nls
  runtime/nls/jitm/j9jit_pl.nls
  runtime/nls/jitm/j9jit_pt_BR.nls
  runtime/nls/jitm/j9jit_sk.nls
  runtime/nls/jitm/j9jit_tr.nls
  runtime/nls/jitm/j9jit_zh.nls
  runtime/nls/jitm/j9jit_zh_CN.nls
  runtime/nls/jnck/jnichk_es.nls
  runtime/nls/jnck/jnichk_fr.nls
  runtime/nls/jnck/jnichk_it.nls
  runtime/nls/jnck/jnichk_pl.nls
  runtime/nls/jnck/jnichk_sk.nls
  runtime/nls/shrc/j9shr_ca.nls
  runtime/nls/shrc/j9shr_fr.nls
  runtime/nls/shrc/j9shr_hu.nls
  runtime/nls/shrc/j9shr_it.nls
  runtime/nls/shrc/j9shr_ko.nls
Labels: comp:vm, comp:gc

#17687 (0.40) Modify the translated PII files in nls folder 20230627
  runtime/nls/j9cl/j9jcl_pl.nls
  runtime/nls/j9cl/j9jcl_sk.nls
  runtime/nls/j9cl/j9jcl_zh.nls
  runtime/nls/j9cl/j9jcl_zh_CN.nls
  runtime/nls/j9gc/j9modron_ca.nls
  runtime/nls/j9gc/j9modron_es.nls
  runtime/nls/j9gc/j9modron_fr.nls
  runtime/nls/j9gc/j9modron_hu.nls
  runtime/nls/j9gc/j9modron_it.nls
  runtime/nls/j9gc/j9modron_ja.nls
  runtime/nls/j9gc/j9modron_pl.nls
  runtime/nls/j9gc/j9modron_pt_BR.nls
  runtime/nls/j9gc/j9modron_sk.nls
  runtime/nls/j9gc/j9modron_tr.nls
  runtime/nls/j9gc/j9modron_zh_TW.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_ko.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/jitm/j9jit_ca.nls
  runtime/nls/jitm/j9jit_fr.nls
  runtime/nls/jitm/j9jit_hu.nls
  runtime/nls/jitm/j9jit_it.nls
  runtime/nls/jitm/j9jit_ko.nls
  runtime/nls/jitm/j9jit_pl.nls
  runtime/nls/jitm/j9jit_pt_BR.nls
  runtime/nls/jitm/j9jit_sk.nls
  runtime/nls/jitm/j9jit_tr.nls
  runtime/nls/jitm/j9jit_zh.nls
  runtime/nls/jitm/j9jit_zh_CN.nls
  runtime/nls/jnck/jnichk_es.nls
  runtime/nls/jnck/jnichk_fr.nls
  runtime/nls/jnck/jnichk_it.nls
  runtime/nls/jnck/jnichk_pl.nls
  runtime/nls/jnck/jnichk_sk.nls
  runtime/nls/shrc/j9shr_ca.nls
  runtime/nls/shrc/j9shr_fr.nls
  runtime/nls/shrc/j9shr_hu.nls
  runtime/nls/shrc/j9shr_it.nls
  runtime/nls/shrc/j9shr_ko.nls
Labels: comp:vm, comp:gc

#17108 Avoid redundant loads and stores in Escape Analysis
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/EscapeAnalysis.hpp
  runtime/compiler/optimizer/EscapeAnalysisTools.cpp
  runtime/compiler/optimizer/EscapeAnalysisTools.hpp
Labels: comp:jit

#17696 Remove unused counters
  runtime/jvmti/jvmtiHeap.c
  runtime/shared_common/OSCache.cpp
Labels: comp:vm

#17698 Split sanity.openjdk into 3 parallel jobs
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:test

#17695 CRIU tests pass if the original thread IDs can't be acquired
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
Labels: comp:test, criu

#17702 (v0.40.0-release) CRIU tests pass if the original thread IDs can't be acquired
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
Labels: comp:test, criu

#17703 Enable String Compression by default in OpenJ9
  runtime/vm/jvminit.c
Labels: comp:vm

#17699 Return an unmodifiableList from RuntimeMXBean.getInputArguments()
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/RuntimeMXBeanImpl.java
Labels: comp:vm

#17701 JDK21 changes the units for JVM_Sleep
  runtime/j9vm/jvm.c
Labels: comp:vm

#17707 AArch64: Fix the flag to enable trace of PICs
  runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp
Labels: comp:jit, arch:aarch64

#17705 (0.40) Split sanity.openjdk into 3 parallel jobs
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:test

#17643 Add -XX:continuationCache option
  runtime/jcl/common/stdinit.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/ContinuationHelpers.cpp
  runtime/vm/jvmfree.c
  runtime/vm/jvminit.c
Labels: comp:vm

#17656 Fix illegal lookupClass error caused by MethodHandles.Lookup method
  jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleResolver.java
Labels: project:MH

#17722 JDK22 removes JavaLangAccess.fastUUID()
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk-head

#17709 Support HotSpotDiagnosticMXBean in OpenJ9 JDK21+
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ManagementUtils.java
  jcl/src/java.management/share/classes/sun/management/LazyCompositeData.java
  jcl/src/java.management/share/classes/sun/management/LockInfoCompositeData.java
  jcl/src/java.management/share/classes/sun/management/MappedMXBeanType.java
  jcl/src/java.management/share/classes/sun/management/MemoryNotifInfoCompositeData.java
  jcl/src/java.management/share/classes/sun/management/MemoryUsageCompositeData.java
  jcl/src/java.management/share/classes/sun/management/MonitorInfoCompositeData.java
  jcl/src/java.management/share/classes/sun/management/StackTraceElementCompositeData.java
  jcl/src/java.management/share/classes/sun/management/ThreadInfoCompositeData.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/PlatformMBeanProvider.java
  jcl/src/jdk.management/share/classes/com/sun/management/HotSpotDiagnosticMXBean.java
  jcl/src/jdk.management/share/classes/com/sun/management/VMOption.java
  jcl/src/jdk.management/share/classes/com/sun/management/internal/ExtendedHotSpotDiagnostic.java
  jcl/src/jdk.management/share/classes/com/sun/management/internal/Flag.java
  jcl/src/jdk.management/share/classes/com/sun/management/internal/HotSpotDiagnostic.java
  jcl/src/jdk.management/share/classes/com/sun/management/internal/VMOptionCompositeData.java
Labels: comp:vm

#17611 Prefer https over http in URLs
  CONTRIBUTING.md
  README.md
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V20.md
  doc/build-instructions/Build_Instructions_V8.md
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/package-info.java
  jcl/src/openj9.cuda/share/classes/module-info.java
  runtime/compiler/aarch64/codegen/J9InstructionDelegate.cpp
  runtime/compiler/aarch64/codegen/J9InstructionDelegate.hpp
  runtime/compiler/arm/codegen/J9InstructionDelegate.hpp
  runtime/compiler/build/platform/host/amd64-osx-clang.mk
  runtime/compiler/build/platform/host/amd64-osx-gcc.mk
  runtime/compiler/build/scripts/j9jit.def
  runtime/compiler/build/toolcfg/host/osx.mk
  runtime/compiler/codegen/InstructionDelegate.hpp
  runtime/compiler/compile/J9Method.cpp
  runtime/compiler/compile/J9Method.hpp
  runtime/compiler/compile/J9NonHelperSymbols.enum
  runtime/compiler/compile/Method.hpp
  runtime/compiler/compile/NonHelperSymbols.enum
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/il/J9ResolvedMethodSymbol.cpp
  runtime/compiler/optimizer/CatchBlockProfiler.cpp
  runtime/compiler/optimizer/CatchBlockProfiler.hpp
  runtime/compiler/optimizer/PostEscapeAnalysis.cpp
  runtime/compiler/optimizer/PostEscapeAnalysis.hpp
  runtime/compiler/optimizer/PreEscapeAnalysis.cpp
  runtime/compiler/optimizer/PreEscapeAnalysis.hpp
  runtime/compiler/optimizer/SimplifierHandlers.hpp
  runtime/compiler/optimizer/SimplifierTable.enum
  runtime/compiler/p/codegen/J9InstructionDelegate.hpp
  runtime/compiler/p/runtime/J9PPCCRC32.spp
  runtime/compiler/x/codegen/J9InstructionDelegate.hpp
  runtime/compiler/z/codegen/J9InstructionDelegate.hpp
  runtime/gc_glue_java/HeapWalkerDelegate.hpp
  runtime/gc_glue_java/configure_includes/configure_osx.mk
  runtime/include/about.html
  runtime/include/vmi.h
  runtime/tests/cutest/about.html
  runtime/tests/thread/cuharness/about.html
  runtime/vm/vmifunc.c
  test/functional/JIT_Test/src/jit/test/tr/MonitorElimination/Unbalanced.j
Labels: comp:doc

#17726 Restore OpenJ9DiagnosticsMXBean registration call in ManagementUtils
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ManagementUtils.java
Labels: comp:vm
