Repository eclipse-openj9/openj9, pull requests merged in 2024-09, with the labels that each got.

#20097 Ensure that J9JITGPRSpillArea is available
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
Labels: comp:vm

#20101 (0.48.0) Ensure that J9JITGPRSpillArea is available
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
Labels: comp:vm

#20098 Update to openssl 3.0.15
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#20096 JDK24 adds JVM_IsStaticallyLinked(void)
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.cpp
  runtime/redirector/forwarders.m4
Labels: comp:vm, jdk24

#20103 (0.46.1) Update to openssl 3.0.15
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#20104 (0.47.0) Update to openssl 3.0.15
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#20105 (0.48.0) Update to openssl 3.0.15
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#19911 Value type null-restricted array support
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCClassArrayClassSlotIterator.java
  runtime/codert_vm/cnathelp.cpp
  runtime/gc_structs/ClassArrayClassSlotIterator.cpp
  runtime/gc_structs/ClassArrayClassSlotIterator.hpp
  runtime/gc_structs/ClassLoaderClassesIterator.cpp
  runtime/gc_structs/ClassLoaderClassesIterator.hpp
  runtime/j9vm/javanextvmi.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ValueTypeHelpers.hpp
  runtime/vm/classsupport.c
  runtime/vm/createramclass.cpp
  runtime/vm/intfunc.c
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeArrayTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeSystemArraycopyTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#20110 Rename doc/compiler/methodHandels directory
  doc/compiler/methodHandles/MethodHandles.md
Labels: comp:doc

#20092 Set TR_ResolvedMethod vtable slot to zero for private invokevirtual
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#20070 Fix compile error and add iconv_init() call
  runtime/j9vm/jvm.c
Labels: comp:vm, os:zos

#20117 JDK24 adds JavaLangAccess.concat(String, Object, String)
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk24

#20075 Allow SVM assertions to be ignored
  runtime/compiler/runtime/SymbolValidationManager.cpp
Labels: comp:jit:aot

#20108 Reset JNI Addresses if FSD on restore
  runtime/compiler/control/CompileBeforeCheckpoint.cpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/runtime/CRRuntime.cpp
  runtime/compiler/runtime/CRRuntime.hpp
Labels: comp:jit, criu

#20091 Remove unused cpIndex parameter of vTableSlot(), virtualCallSelector()
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/optimizer/InterpreterEmulator.cpp
Labels: comp:jit, depends:omr:breaking

#20123 0.46.1 release note Draft
  doc/release-notes/0.46/0.46.1.md
Labels: comp:doc

#20122 Reset JNI Addresses if FSD on restore (0.48)
  runtime/compiler/control/CompileBeforeCheckpoint.cpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/runtime/CRRuntime.cpp
  runtime/compiler/runtime/CRRuntime.hpp
Labels: comp:jit, criu

#20089 Valhalla requires Java 24
  runtime/bcutil/cfreader.c
  runtime/oti/cfr.h
  runtime/oti/j9consts.h
  runtime/oti/j9modifiers_api.h
  test/functional/Valhalla/build.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaUtils.java
Labels: comp:vm, project:valhalla

#20132 Value type null-restricted array support
  debugtools/DDR_VM/src/com/ibm/j9ddr/AuxFieldInfo29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/gc/GCClassArrayClassSlotIterator.java
  runtime/codert_vm/cnathelp.cpp
  runtime/gc_structs/ClassArrayClassSlotIterator.cpp
  runtime/gc_structs/ClassArrayClassSlotIterator.hpp
  runtime/gc_structs/ClassLoaderClassesIterator.cpp
  runtime/gc_structs/ClassLoaderClassesIterator.hpp
  runtime/j9vm/javanextvmi.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ValueTypeHelpers.hpp
  runtime/vm/classsupport.c
  runtime/vm/createramclass.cpp
  runtime/vm/intfunc.c
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeArrayTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeSystemArraycopyTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#20093 Remove outdated comment and logic from refineMethodHandleLinkTo()
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#20086 J9ClassHasIdentity should not be set for interfaces
  runtime/oti/j9.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_java_lang_Class.cpp
  runtime/vm/createramclass.cpp
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#20142 Correct outdated linkToVirtual() J2I-avoidance transformation comment
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
Labels: comp:jit

#20138 Move value type jni methods to their own file
  runtime/j9vm/CMakeLists.txt
  runtime/j9vm/javanextvmi.cpp
  runtime/j9vm/module.xml
  runtime/j9vm/valhallavmi.cpp
Labels: comp:vm, project:valhalla

#20139 Always create nullable array before null-restricted
  runtime/oti/j9.h
  runtime/vm/classsupport.c
  runtime/vm/createramclass.cpp
Labels: comp:vm, project:valhalla

#20151 JDK24 JavaLangAccess adds stringCoder()/virtualThreadDefaultScheduler()
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk24

#20143 Revert "CRIU disable tests on ppc64le platform temporarily"
  test/functional/cmdLineTests/criu/playlist.xml
Labels: comp:test

#20161 Remove potential double free of syslog
  runtime/vm/CRIUHelpers.cpp
Labels: comp:vm, criu

#20130 0.47.0 release note
  doc/release-notes/0.47/0.47.md
Labels: comp:doc

#20157 (0.48) Use unsigned indexes for unsafe array access
  runtime/oti/UnsafeAPI.hpp
Labels: comp:vm

#20168 (0.48) Remove potential double free of syslog
  runtime/vm/CRIUHelpers.cpp
Labels: comp:vm, criu

#20029 Add flag to indicate if ROMclass is from SCC
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/oti/j9javaaccessflags.h
  runtime/shared_common/OSCache.hpp
Labels: comp:vm, depends:doc

#20178 Add and support JNI_VERSION_24 for Java 24+
  runtime/include/jni.h.m4
  runtime/j9vm/j7vmi.c
  runtime/j9vm/jvm.c
  runtime/redirector/redirector.c
  runtime/vm/jnimisc.cpp
  runtime/vm/jvminitcommon.c
Labels: comp:vm

#20173 Fix "statement has no effect" with J9CLASS_DEPTH()
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
Labels: comp:vm

#19972 Remove requirement for consistent page size in SCC
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/shcflags.h
  runtime/rasdump/javadump.cpp
  runtime/shared/shrclssup.c
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/ClassDebugDataProvider.cpp
  runtime/shared_common/ClassDebugDataProvider.hpp
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/CompositeCacheImpl.hpp
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
  runtime/tests/shared/ClassDebugDataTests.cpp
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/exclude.xml
Labels: comp:vm

#20127 Add extra Simplifier & gotoElim passes to warm/hot
  runtime/compiler/optimizer/J9Optimizer.cpp
Labels: comp:jit

#20182 Remove DDR uses of J9ClassIsPrimitiveValueType
  debugtools/DDR_VM/src/com/ibm/j9ddr/CompatibilityConstants29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/ValueTypeHelper.java
Labels: project:valhalla

#20181 Fix testXXArgumentTesting
  test/functional/cmdLineTests/xxargtest/XXArgumentTesting.xml
  test/functional/cmdLineTests/xxargtest/XXArgumentTesting_j9.xml
  test/functional/cmdLineTests/xxargtest/playlist.xml
Labels: comp:test

#19754 CRIU supports Java debugger via the restore option file
  runtime/jvmti/j9jvmti.tdf
  runtime/jvmti/jvmtiCapability.c
  runtime/jvmti/jvmtiHook.c
  runtime/jvmti/jvmtiStartup.c
  runtime/jvmti/jvmti_internal.h
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9vm.hdf
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
  runtime/vm/lookuphelper.c
  runtime/vm/vmhook.c
  test/functional/cmdLineTests/criu/criu_jitPostRestore.xml
Labels: comp:vm, doc:externals, criu

#20190 (v0.48.0) Fix testXXArgumentTesting
  test/functional/cmdLineTests/xxargtest/XXArgumentTesting.xml
  test/functional/cmdLineTests/xxargtest/XXArgumentTesting_j9.xml
  test/functional/cmdLineTests/xxargtest/playlist.xml
Labels: comp:test

#20152 Update ValueTypeTests.testGCFlattened* tests
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#20195 (0.48) Cache rom to ram mappings for exception backtrace
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9nonbuilder.h
  runtime/shared_common/include/SCQueryFunctions.h
  runtime/shared_common/shrinit.cpp
  runtime/util/hshelp.c
  runtime/vm/exceptiondescribe.c
Labels: comp:vm

#20199 Fix array lists walk in ClassLoaderClasses Iterator
  runtime/gc_structs/ClassLoaderClassesIterator.cpp
  runtime/gc_structs/ClassLoaderClassesIterator.hpp
Labels: comp:gc

#20206 Revert changes that disables use of Method Handle for core reflection
  jcl/src/java.base/share/classes/java/lang/System.java
  test/functional/cmdline_options_testresources/src_90/com/ibm/j9/getcallerclass/ReflectionMHTests.java
Labels: comp:vm

#20208 Remove no-op disable of -Winvalid-offsetof in J9Options
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#20146 Inline SegmentViewVarHandle operations in JDK21+
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#20210 Tag test.fil file as binary
  .gitattributes
Labels: comp:test

#20203 Add openjdk test group to 'sanity' keyword for PR builds
  buildenv/jenkins/common/variables-functions.groovy
Labels: comp:build

#20196 romToRam cache follow up
  runtime/shared_common/shrinit.cpp
  runtime/util/hshelp.c
Labels: comp:vm

#20197 (0.48) romToRam cache follow up
  runtime/shared_common/shrinit.cpp
  runtime/util/hshelp.c
Labels: comp:vm

#20215 Remove CRIU required in cmdLineTester_criu_jitserverAcrossCheckpoint
  test/functional/cmdLineTests/criu/playlist.xml
Labels: comp:test

#20047 Ensure JIT/AOT code is not invalidated post-restore under `-XX:+DebugOnRestore`
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/CRRuntime.cpp
  runtime/compiler/runtime/CRRuntime.hpp
  test/functional/cmdLineTests/criu/criu_jitPostRestore.xml
Labels: comp:jit, criu

#20220 Fix the group for tracepoint Trc_PRT_j9hypervisor_vendor_init_exit
  runtime/port/common/j9prt.tdf
Labels: comp:vm

#20226 Remove unused dfix folder
  runtime/CMakeLists.txt
  runtime/dfix/dfix-exports.xml
  runtime/dfix/dfix-generated.c.ftl
  runtime/dfix/dfix.c
  runtime/dfix/dfix.h.ftl
  runtime/dfix/dfix.tdf
  runtime/dfix/dfix_internal.h.ftl
  runtime/dfix/dfix_memcpy.c
  runtime/dfix/dfix_zero_memory.c
  runtime/dfix/dynamic.ftl
  runtime/dfix/module.xml
  runtime/dfix/test/CMakeLists.txt
  runtime/dfix/test/main.cpp
  runtime/dfix/test/module.xml
Labels: comp:vm

#20217 Skip unloading of ROM class for Anonymous if it is in SCC
  runtime/gc_base/ClassLoaderManager.hpp
Labels: comp:gc

#20222 Latest NLS translations
  runtime/nls/shrc/j9shr.nls
  runtime/nls/shrc/j9shr_ca.nls
  runtime/nls/shrc/j9shr_cs.nls
  runtime/nls/shrc/j9shr_de.nls
  runtime/nls/shrc/j9shr_es.nls
  runtime/nls/shrc/j9shr_fr.nls
  runtime/nls/shrc/j9shr_hu.nls
  runtime/nls/shrc/j9shr_it.nls
  runtime/nls/shrc/j9shr_ja.nls
  runtime/nls/shrc/j9shr_ko.nls
  runtime/nls/shrc/j9shr_pl.nls
  runtime/nls/shrc/j9shr_pt_BR.nls
  runtime/nls/shrc/j9shr_ru.nls
  runtime/nls/shrc/j9shr_sk.nls
  runtime/nls/shrc/j9shr_sl.nls
  runtime/nls/shrc/j9shr_tr.nls
  runtime/nls/shrc/j9shr_zh.nls
  runtime/nls/shrc/j9shr_zh_CN.nls
  runtime/nls/shrc/j9shr_zh_TW.nls
Labels: comp:vm

#20205 Refactor a few CRIU APIs to take J9JavaVM* instead of J9VMThread*
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/runtime/CRRuntime.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXgcpolicy.cpp
  runtime/jcl/common/criu.cpp
  runtime/jcl/common/system.c
  runtime/jcl/unix/syshelp.c
  runtime/jvmti/jvmtiCapability.c
  runtime/jvmti/jvmtiHook.c
  runtime/jvmti/jvmtiStartup.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/shared_common/shrinit.cpp
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
  runtime/vm/lookuphelper.c
  runtime/vm/vmhook.c
Labels: comp:vm, comp:gc, comp:jit

#20230 Update NLS translation, remove unwanted spaces, add missing alignment
  runtime/nls/shrc/j9shr_ca.nls
  runtime/nls/shrc/j9shr_cs.nls
  runtime/nls/shrc/j9shr_de.nls
  runtime/nls/shrc/j9shr_es.nls
  runtime/nls/shrc/j9shr_fr.nls
  runtime/nls/shrc/j9shr_hu.nls
  runtime/nls/shrc/j9shr_it.nls
  runtime/nls/shrc/j9shr_ja.nls
  runtime/nls/shrc/j9shr_ko.nls
  runtime/nls/shrc/j9shr_pl.nls
  runtime/nls/shrc/j9shr_pt_BR.nls
  runtime/nls/shrc/j9shr_ru.nls
  runtime/nls/shrc/j9shr_sk.nls
  runtime/nls/shrc/j9shr_sl.nls
  runtime/nls/shrc/j9shr_tr.nls
  runtime/nls/shrc/j9shr_zh.nls
  runtime/nls/shrc/j9shr_zh_CN.nls
  runtime/nls/shrc/j9shr_zh_TW.nls
Labels: comp:vm

#20236 Updates to earlier NLS translations
  runtime/nls/j9vm/j9vm.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_de.nls
  runtime/nls/j9vm/j9vm_es.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_ja.nls
  runtime/nls/j9vm/j9vm_ko.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/j9vm/j9vm_zh_TW.nls
  runtime/nls/vmut/j9vmutil_ca.nls
  runtime/nls/vmut/j9vmutil_cs.nls
  runtime/nls/vmut/j9vmutil_pl.nls
  runtime/nls/vmut/j9vmutil_ru.nls
  runtime/nls/vmut/j9vmutil_sk.nls
  runtime/nls/vmut/j9vmutil_sl.nls
Labels: comp:vm

#20232 Stash all invokedynamic and invokehandle arguments for OSR
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#20238 (0.48) Add the lastest NLS translation updates
  runtime/nls/j9vm/j9vm.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_de.nls
  runtime/nls/j9vm/j9vm_es.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_ja.nls
  runtime/nls/j9vm/j9vm_ko.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/j9vm/j9vm_zh_TW.nls
  runtime/nls/shrc/j9shr.nls
  runtime/nls/shrc/j9shr_ca.nls
  runtime/nls/shrc/j9shr_cs.nls
  runtime/nls/shrc/j9shr_de.nls
  runtime/nls/shrc/j9shr_es.nls
  runtime/nls/shrc/j9shr_fr.nls
  runtime/nls/shrc/j9shr_hu.nls
  runtime/nls/shrc/j9shr_it.nls
  runtime/nls/shrc/j9shr_ja.nls
  runtime/nls/shrc/j9shr_ko.nls
  runtime/nls/shrc/j9shr_pl.nls
  runtime/nls/shrc/j9shr_pt_BR.nls
  runtime/nls/shrc/j9shr_ru.nls
  runtime/nls/shrc/j9shr_sk.nls
  runtime/nls/shrc/j9shr_sl.nls
  runtime/nls/shrc/j9shr_tr.nls
  runtime/nls/shrc/j9shr_zh.nls
  runtime/nls/shrc/j9shr_zh_CN.nls
  runtime/nls/shrc/j9shr_zh_TW.nls
  runtime/nls/vmut/j9vmutil_ca.nls
  runtime/nls/vmut/j9vmutil_cs.nls
  runtime/nls/vmut/j9vmutil_pl.nls
  runtime/nls/vmut/j9vmutil_ru.nls
  runtime/nls/vmut/j9vmutil_sk.nls
  runtime/nls/vmut/j9vmutil_sl.nls
Labels: comp:vm

#20231 Set dummy resolved method flag in findOrCreateHandleMethodSymbol()
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#20172 Fix "storing the address of local variable" in trcmain.c
  runtime/rastrace/trcmain.c
Labels: comp:ras

#20221 Check the SymbolReference in the Inliner Before Accessing It
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#20188 AArch64: Use dmb limitation enum
  runtime/compiler/aarch64/codegen/ARM64JNILinkage.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#20228 Treat single CPU as if -XnoConcurrentMark were set
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/gc_modron_startup/mminit.cpp
Labels: comp:gc, comp:jit

#20211 Prevent Assertion Fail Caused by Incorrect numDeps
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#20248 Exclude cmdLineTester_criu_jitserverAcrossCheckpoint for jdk8
  test/functional/cmdLineTests/criu/playlist.xml
Labels: comp:test

#20162 Remove old ReferenceType error handling for value types
  runtime/bcutil/cfreader.c
  runtime/bcverify/staticverify.c
  runtime/oti/bcverify_api.h
  runtime/verutil/chverify.c
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, project:valhalla

#20241 Distinguish why AOT is disabled post-restore
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
  runtime/nls/jitm/j9jit.nls
Labels: comp:jit, criu

#20242 (0.48) Stash all invokedynamic and invokehandle arguments for OSR
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#20255 (0.48) Distinguish why AOT is disabled post-restore
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
  runtime/nls/jitm/j9jit.nls
Labels: comp:jit, criu

#19872 Add Xgc options for suballocator heap size and quick allocation
  runtime/gc_modron_startup/mmparseXgc.cpp
  test/functional/cmdLineTests/gcsuballoctests/gcsuballoctests.xml
Labels: comp:gc, depends:omr, comp:port, depends:doc

#20160 Rename IS_REF_OR_VAL_SIGNATURE to IS_CLASS_SIGNATURE
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ArgBits.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/SendSlot.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackmap/StackMap.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ClassHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ClassLoaderHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/view/dtfj/java/DTFJJavaClass.java
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileWriter.cpp
  runtime/bcutil/ROMClassWriter.cpp
  runtime/bcutil/jsrinliner.c
  runtime/bcverify/rtverify.c
  runtime/bcverify/staticverify.c
  runtime/bcverify/vrfyhelp.c
  runtime/gc_check/CheckEngine.cpp
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/java_lang_invoke_VarHandle.c
  runtime/jcl/common/reflecthelp.c
  runtime/jnichk/jnicheck.c
  runtime/jvmti/jvmtiHelpers.cpp
  runtime/oti/j9.h
  runtime/rastrace/method_trace.c
  runtime/stackmap/debuglocalmap.c
  runtime/util/argbits.c
  runtime/util/hshelp.c
  runtime/verbose/errormessagehelper.c
  runtime/verutil/sigverify.c
  runtime/vm/classsupport.c
  runtime/vm/extendedMessageNPE.cpp
  runtime/vm/jnicsup.cpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, project:valhalla
