Repository eclipse-openj9/openj9, pull requests merged in 2024-10, with the labels that each got.

#20177 Remove CRIU Interpreter
  runtime/makelib/targets.mk.ftl
  runtime/makelib/targets.mk.linux.inc.ftl
  runtime/oti/j9nonbuilder.h
  runtime/vm/CMakeLists.txt
  runtime/vm/CRIUBytecodeInterpreterCompressed.cpp
  runtime/vm/CRIUBytecodeInterpreterFull.cpp
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/EnvVarFileTest.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#20202 -agentpath: libraries require no path/name decoration
  runtime/jvmti/jvmtiStartup.c
Labels: comp:vm, criu

#20277 Minor cosmetic improvements to trace code
  runtime/rastrace/trcengine.c
  runtime/rastrace/trcmain.c
Labels: comp:vm

#20262 Restrict getting the restore process start time to CRaC API
  runtime/vm/CRIUHelpers.cpp
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TimeChangeTest.java
Labels: comp:vm, criu

#20278 Fix x86 assembly source issues with gcc 13
  runtime/oti/xhelpers.m4
Labels: comp:vm

#20191 (0.48) CRIU supports Java debugger via the restore option file
  runtime/jvmti/j9jvmti.tdf
  runtime/jvmti/jvmtiCapability.c
  runtime/jvmti/jvmtiHook.c
  runtime/jvmti/jvmtiStartup.c
  runtime/jvmti/jvmti_internal.h
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9vm.hdf
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
  runtime/vm/lookuphelper.c
  runtime/vm/vmhook.c
  test/functional/cmdLineTests/criu/criu_jitPostRestore.xml
Labels: comp:vm, criu

#20275 (0.48) Remove CRIU Interpreter
  runtime/makelib/targets.mk.ftl
  runtime/makelib/targets.mk.linux.inc.ftl
  runtime/oti/j9nonbuilder.h
  runtime/vm/CMakeLists.txt
  runtime/vm/CRIUBytecodeInterpreterCompressed.cpp
  runtime/vm/CRIUBytecodeInterpreterFull.cpp
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/EnvVarFileTest.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/OptionsFileTest.java
Labels: comp:vm, criu

#20219 (0.48) Ensure JIT/AOT code is not invalidated post-restore under `-XX:+DebugOnRestore`
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/CRRuntime.cpp
  runtime/compiler/runtime/CRRuntime.hpp
Labels: comp:jit, criu

#20284 Only add note.GNU-stack on Linux
  runtime/oti/xhelpers.m4
Labels: comp:vm

#20279 Update docker script
  buildenv/docker/mkdocker.sh
Labels: comp:build

#20285 (0.48) Fix x86 assembly source issues with gcc 13
  runtime/oti/xhelpers.m4
Labels: comp:vm

#20286 Remove JPP configuration for Java 22
  jcl/jpp_configuration.xml
Labels: comp:build

#20287 (0.48) -agentpath: libraries require no path/name decoration & Refactor a few CRIU APIs to take J9JavaVM* instead of J9VMThread*
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/runtime/CRRuntime.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXgcpolicy.cpp
  runtime/jcl/common/criu.cpp
  runtime/jcl/common/system.c
  runtime/jcl/unix/syshelp.c
  runtime/jvmti/jvmtiCapability.c
  runtime/jvmti/jvmtiHook.c
  runtime/jvmti/jvmtiStartup.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/shared_common/shrinit.cpp
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
  runtime/vm/lookuphelper.c
  runtime/vm/vmhook.c
Labels: comp:vm

#20265 Attempt to reload the library in case of UnsatisfiedLinkError
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#20300 Remove unused variable on AIX in rasdump.c
  runtime/vm/rasdump.c
Labels: comp:vm

#20250 Remove flattening flag from nullable arrays
  runtime/oti/j9.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/createramclass.cpp
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeSystemArraycopyTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeUnsafeTests.java
Labels: comp:vm, comp:test, project:valhalla

#20295 (0.48) Attempt to reload the library in case of UnsatisfiedLinkError
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#20290 testValueWith...GCScanning is expected to use flattened arrays
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#19991 Accelerate Unsafe CAS Intrinsics on Power and X
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:power, arch:x86

#20304 Changes some uses of nullptr to NULL
  runtime/compiler/env/j9method.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#20303 CRIU adds @NotCheckpointSafe at ClassLoader.getClassLoadingLock()
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm, criu

#20311 (0.48) CRIU adds @NotCheckpointSafe at ClassLoader.getClassLoadingLock()
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
Labels: comp:vm, criu

#20280 Remove evaluators for String.compress() and some other methods
  runtime/compiler/build/files/host/amd64.mk
  runtime/compiler/build/files/host/i386.mk
  runtime/compiler/build/files/host/p.mk
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/runtime/CMakeLists.txt
  runtime/compiler/p/runtime/J9PPCCompressString.spp
  runtime/compiler/p/runtime/PPCCompressString.inc
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/amd64/runtime/.gitignore
  runtime/compiler/x/amd64/runtime/AMD64CompressString.inc
  runtime/compiler/x/amd64/runtime/AMD64CompressString.nasm
  runtime/compiler/x/amd64/runtime/CMakeLists.txt
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
  runtime/compiler/x/i386/runtime/.gitignore
  runtime/compiler/x/i386/runtime/CMakeLists.txt
  runtime/compiler/x/i386/runtime/IA32CompressString.inc
  runtime/compiler/x/i386/runtime/J9IA32CompressString.nasm
Labels: comp:jit, arch:power, arch:x86

#20313 (0.48) Return NULL from getStackTraceForThread for unsteady virtual threads
  runtime/jcl/common/getstacktrace.c
Labels: comp:vm

#20319 Remove build configuration entries for jdk22
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#20317 Remove unnecessary casting
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#20315 Nullable array class cannot be cast to null-restricted
  runtime/oti/VMHelpers.hpp
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#20297 Add CRIU test output failure condition with aot info
  test/functional/cmdLineTests/criu/criu.xml
  test/functional/cmdLineTests/criu/criu_jitserverAcrossCheckpoint.xml
  test/functional/cmdLineTests/criu/criu_keepCheckpoint.xml
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortableJDK11Up.xml
  test/functional/cmdLineTests/criu/criu_nonPortableJDK20Up.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_RAS.xml
  test/functional/cmdLineTests/criu/criu_nonPortable_jdk_crac.xml
  test/functional/cmdLineTests/criu/criu_random.xml
  test/functional/cmdLineTests/criu/criu_security.xml
  test/functional/cmdLineTests/criu/criu_softmx.xml
Labels: comp:test

#20272 Add SVM AOT support for unresolved invokeHandle/invokeDynamic dispatch
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/net/CommunicationStream.hpp
Labels: comp:jit, depends:omr, comp:jit:aot

#20330 Remove Class.asNullRestrictedType
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, project:valhalla

#20332 Enable Jep454Tests for valhalla builds
  test/functional/Java22andUp/playlist.xml
Labels: comp:test, project:valhalla

#20144 TR_RelocationRecordClassAddress Relocates Correctly with Ordered Pair
  runtime/compiler/runtime/RelocationRecord.cpp
Labels: comp:jit, comp:jit:aot

#20349 Update the JITServer AOT Cache Doc
  doc/compiler/jitserver/Usage.md
Labels: comp:doc

#20342 Always profile switches in interpreter profiler
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#20348 Fix retrieval of switch IProfiler info from SCC
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: comp:jit

#20347 x86: add option to disable AVX-512
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jit, arch:x86

#20360 (0.48) x86: add option to disable AVX-512
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jit, arch:x86

#20362 Fix overflow issues
  runtime/j9vm/java11vmi.c
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/intfunc.c
  runtime/vm/jnimisc.cpp
  runtime/vm/stringhelpers.cpp
Labels: comp:vm

#20363 (0.48) Fix overflow issues
  runtime/j9vm/java11vmi.c
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/intfunc.c
  runtime/vm/jnimisc.cpp
  runtime/vm/stringhelpers.cpp
Labels: comp:vm

#20365 Add support for VirtualThreadSchedulerMXBean
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/PlatformMBeanProvider.java
Labels: comp:vm, jdk24

#20366 Limit the number of startup hints in SCC
  runtime/nls/shrc/j9shr.nls
  runtime/oti/j9nonbuilder.h
  runtime/shared/shrclssup.c
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/CacheMap.hpp
  runtime/shared_common/CompositeCache.cpp
  runtime/shared_common/CompositeCacheImpl.hpp
  runtime/shared_common/j9shr.tdf
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-6.xml
Labels: comp:vm, depends:doc

#20361 Updates to IProfiler branch data collection
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#20367 For jdk24 add @Restricted to System.load() and loadLibrary
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/openj9.cuda/share/classes/com/ibm/cuda/Cuda.java
Labels: comp:vm, jdk24

#20377 Omit VirtualThreadSchedulerMXBean in builds for valuetypes
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/PlatformMBeanProvider.java
Labels: comp:vm

#20379 Fix the zlib copyright end date
  LICENSE
Labels: comp:doc

#20380 (0.48) Fix the zlib copyright end date
  LICENSE
Labels: comp:doc

#20371 Update classloader when cached rom to ram entry is found
  runtime/vm/exceptiondescribe.c
Labels: comp:vm

#20382 Remove incorrect assertion
  runtime/shared_common/CompositeCache.cpp
Labels: comp:vm

#20383 (0.48) Update classloader when cached rom to ram entry is found
  runtime/vm/exceptiondescribe.c
Labels: comp:vm

#20112 Fix null restricted array related issues for value types
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/J9ValuePropagation.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
Labels: comp:jit, depends:omr, project:valhalla, depends:omr:breaking

#20341 Valhalla tests to use standard Java array convention
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeArrayTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#20390 Remove unused method layoutContiguousArraylet()
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_base/IndexableObjectAllocationModel.hpp
Labels: comp:gc

#20393 Update OpenSSL 3.0.15 to include the fix for CVE-2024-9143
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#20376 Mark TR_J9VMServer virtual methods with override
  runtime/compiler/env/VMJ9Server.hpp
Labels: comp:jitserver

#20325 Rename Preload attribute to LoadableDescriptors
  debugtools/DDR_VM/src/com/ibm/j9ddr/CompatibilityConstants29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/OptInfo.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ROMClassHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/RomClassWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ClassFileWriter.cpp
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/ROMClassWriter.cpp
  runtime/bcutil/ROMClassWriter.hpp
  runtime/bcutil/attrlookup.gperf
  runtime/bcutil/attrlookup.h
  runtime/bcutil/cfreader.c
  runtime/cfdumper/main.c
  runtime/nls/cfre/cfrerr.nls
  runtime/oti/cfr.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/util_api.h
  runtime/util/optinfo.c
  runtime/util/rcdump.c
  runtime/util/romclasswalk.c
  runtime/vm/createramclass.cpp
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeTests.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaUtils.java
Labels: comp:vm, project:valhalla

#20403 NPE extended message RTV_SEND case should assign classSig a value
  runtime/vm/extendedMessageNPE.cpp
  runtime/vm/j9vm.tdf
Labels: comp:vm

#20398 Remove isPrimitiveValueTypeClass
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/TreeLowering.cpp
Labels: comp:jit, project:valhalla

#20409 Move the additional startup hints in cache stats output
  runtime/nls/shrc/j9shr.nls
  runtime/shared_common/CacheMap.cpp
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-6.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/testSCCMLSoftmx.xml
Labels: comp:vm

#20129 Client Request Cached Methods List from JIT Server
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/net/StreamExceptions.hpp
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTCache.hpp
  runtime/compiler/runtime/JITServerAOTSerializationRecords.hpp
  runtime/oti/j9nonbuilder.h
Labels: depends:omr, comp:jitserver

#20399 Fix Valhalla Jtreg StrictFields test
  runtime/bcutil/cfreader.c
  runtime/bcverify/vrfyhelp.c
  runtime/oti/j9.h
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#20408 Update error to match jtreg NullRestrictedArrayTest
  runtime/j9vm/valhallavmi.cpp
Labels: comp:vm, project:valhalla

#20423 Use C-style comments in header files that might be used in C code
  runtime/ddr/typestubs.h
  runtime/j9vm31/j9vm31.h
  runtime/libffi/preconf/wi/ffi.h
  runtime/oti/j9nonbuilder.h
  runtime/tests/clinkerffi/downcall.h
  runtime/tests/shared/SCTestCommon.h
Labels: comp:vm, comp:test

#20417 Check option TR_DisableIProfilerThread instead of iprofiler thread pr…
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#20424 Protect <string>/<vector> includes with #ifdef
  runtime/compiler/control/rossa.cpp
Labels: comp:jit, comp:jitserver

#20397 Remove method TR_J9VMBase::findOrCreateClassAndDepthFlagsSymbolRef
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit, tech debt

#20429 Add -Xdump debug option for ValueTypeTests
  test/functional/Valhalla/playlist.xml
Labels: comp:test, project:valhalla

#20433 Update signature of Class.getPrimitiveClass(String) for Java 24+
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#20422 Add a null check for J9JavaVM->bytecodeVerificationData
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
Labels: comp:vm

#20420 Do not trust nullable arrayclass type in VP
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  test/functional/Valhalla/playlist.xml
Labels: comp:jit, project:valhalla

#20441 Valhalla still uses static Class<?> getPrimitiveClass(String name)
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm, project:valhalla

#20339 Update j9vmtest for off-heap feature
  test/functional/VM_Test/src/j9vm/test/unsafe/UnsafeCopyMemoryTest.java
Labels: comp:test

#20437 Reset errorDetailCode before bytecode verification
  runtime/bcverify/bcverify.c
Labels: comp:vm

#20442 Disable TR_UseIdleTime temporarily
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#20446 Fix incorrectly named variable in debug code
  runtime/compiler/env/J9ClassEnv.cpp
Labels: comp:jitserver

#20455 Remove outdated tests for JDK 16
  test/functional/Java9andUp/playlist.xml
Labels: comp:test

#20438 Improve instructions for user raised issues
  .github/ISSUE_TEMPLATE/user-problem.md
Labels: comp:doc

#19650 Update AOT Class Chains reference
  doc/compiler/aot/SymbolValidationManager.md
Labels: comp:doc

#20459 Clean up GC_Finalizable*Buffer classes code
  runtime/gc_base/FinalizableClassLoaderBuffer.hpp
  runtime/gc_base/FinalizableObjectBuffer.hpp
  runtime/gc_base/FinalizableReferenceBuffer.hpp
Labels: comp:gc

#20466 Update openjdk.org URL
  NOTICES.md
Labels: comp:doc

#20456 Reenable all ValueTypeTestsJIT tests
  test/functional/Valhalla/playlist.xml
Labels: comp:jit, project:valhalla

#20431 Replace Thread.onSpinWait() with a PAUSE instruction on x86
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/il/J9Node.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#20467 Cleanup ObjectCheck
  runtime/gc_base/ObjectCheck.cpp
  runtime/gc_base/ObjectCheck.hpp
Labels: comp:gc
