Repository eclipse-openj9/openj9, pull requests merged in 2024-02, with the labels that each got.

#18865 Detach copy-cache size bounds from TLH size bounds for Balanced
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/CopyScanCacheChunkVLHGCInHeap.cpp
Labels: comp:gc

#18837 CRIU jcmd trigger checkpoint
  jcl/src/java.base/share/classes/jdk/crac/Core.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Attachment.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticUtils.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/AttachApiTest.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/TargetManager.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/TestConstants.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/TestUtil.java
  test/functional/cmdLineTests/criu/build.xml
  test/functional/cmdLineTests/criu/cracScript.sh
  test/functional/cmdLineTests/criu/criu_nonPortable_jdk_crac.xml
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestJDKCRAC.java
Labels: comp:vm, criu

#18869 Add missing j9vm CRIU NLS samples
  runtime/nls/j9vm/j9vm.nls
Labels: comp:vm

#18872 Use isPointerInSharedCache to avoid race condition
  runtime/compiler/env/J9SharedCache.cpp
Labels: comp:jitserver

#18863 Implement more robust deserializer reset detection
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
Labels: comp:jitserver

#18879 Update TestThreadMXBean test for TotalThreadAllocatedBytes
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestThreadMXBean.java
Labels: comp:vm, comp:test

#18819 Accelerate String.indexOf(char) in JDK17+
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#18878 Allow SCC to be overridden during relocation
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: comp:jitserver, comp:jit:aot

#18895 Preventing flushForClassesUnload() to be called twice
  runtime/vm/profilingbc.c
Labels: comp:vm

#18899 Release note for 0.43.0 release
  doc/release-notes/0.43/0.43.md
Labels: comp:doc

#18839 Support persistent class loader name tracking in all cases when JITServer AOT cache is active
  runtime/compiler/env/ClassLoaderTable.cpp
  runtime/compiler/env/ClassLoaderTable.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
Labels: comp:jitserver

#18903 Support interpreter re-entry for CRIU debug support
  runtime/jilgen/jilconsts.c
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9consts.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/arm64cinterp.m4
  runtime/vm/armcinterp.m4
  runtime/vm/pcinterp.m4
  runtime/vm/riscvcinterp.m4
  runtime/vm/xcinterp.m4
  runtime/vm/zcinterp.m4
Labels: comp:vm, criu

#18884 Modify SCC frontend to take method parameter
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
Labels: comp:jitserver, comp:jit:aot

#18883 Add class loader lookup method to SCC interface
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
Labels: comp:jitserver, comp:jit:aot

#18888 Add explicit well-known classes SCC handling
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jit:aot

#18915 Mask JNI boolean value earlier in setBooleanField
  runtime/vm/jnifield.cpp
Labels: comp:vm

#18921 Support for com.sun.management.ThreadMXBean.getThreadAllocatedBytes()
  doc/release-notes/0.43/0.43.md
Labels: comp:doc

#18889 Send AOT header to server whenever JITServer AOT cache is requested
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: comp:jitserver, comp:jit:aot

#18885 Use a small shared cache size for SimpleApp in CacheManagement test
  test/functional/CacheManagement/src/tests/sharedclasses/TestUtils.java
Labels: comp:test

#18924 Minor corrections for checkpointthreads NLS
  runtime/nls/j9gc/j9modron.nls
Labels: comp:gc

#18913 Avoid double module trace registration after CRIU move to java.base
  runtime/vm/CRIUHelpers.cpp
Labels: comp:vm, criu

#18927 jdk8 Ignore "allow" and "disallow" set in java.security.manager
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, depends:doc

#18934 Avoid testing xmac jdk22+ on sw.os.mac.10_15
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, test failure

#18935 Add latest NLS translations
  runtime/nls/j9gc/j9modron.nls
  runtime/nls/j9gc/j9modron_ca.nls
  runtime/nls/j9gc/j9modron_cs.nls
  runtime/nls/j9gc/j9modron_de.nls
  runtime/nls/j9gc/j9modron_es.nls
  runtime/nls/j9gc/j9modron_fr.nls
  runtime/nls/j9gc/j9modron_hu.nls
  runtime/nls/j9gc/j9modron_it.nls
  runtime/nls/j9gc/j9modron_ja.nls
  runtime/nls/j9gc/j9modron_ko.nls
  runtime/nls/j9gc/j9modron_pl.nls
  runtime/nls/j9gc/j9modron_pt_BR.nls
  runtime/nls/j9gc/j9modron_ru.nls
  runtime/nls/j9gc/j9modron_sk.nls
  runtime/nls/j9gc/j9modron_sl.nls
  runtime/nls/j9gc/j9modron_tr.nls
  runtime/nls/j9gc/j9modron_zh.nls
  runtime/nls/j9gc/j9modron_zh_CN.nls
  runtime/nls/j9gc/j9modron_zh_TW.nls
  runtime/nls/j9vm/j9vm_ca.nls
  runtime/nls/j9vm/j9vm_cs.nls
  runtime/nls/j9vm/j9vm_de.nls
  runtime/nls/j9vm/j9vm_es.nls
  runtime/nls/j9vm/j9vm_fr.nls
  runtime/nls/j9vm/j9vm_hu.nls
  runtime/nls/j9vm/j9vm_it.nls
  runtime/nls/j9vm/j9vm_ja.nls
  runtime/nls/j9vm/j9vm_ko.nls
  runtime/nls/j9vm/j9vm_pl.nls
  runtime/nls/j9vm/j9vm_pt_BR.nls
  runtime/nls/j9vm/j9vm_ru.nls
  runtime/nls/j9vm/j9vm_sk.nls
  runtime/nls/j9vm/j9vm_sl.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/j9vm/j9vm_zh.nls
  runtime/nls/j9vm/j9vm_zh_CN.nls
  runtime/nls/j9vm/j9vm_zh_TW.nls
Labels: comp:vm, comp:gc

#18848 Modify ROMclass packing to normalize more
  runtime/bcutil/ROMClassWriter.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
Labels: comp:jitserver

#18933 Optimize AsyncGetCallTrace methodID retention
  runtime/j9vm/asgct.cpp
  runtime/oti/j9nonbuilder.h
  runtime/vm/classallocation.c
Labels: comp:vm

#18946 Update AIX jdk8 build instructions for xlc 16
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#18922 Define a base and derived deserializer class
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
Labels: comp:jitserver

#18894 Generate FSD code pre-checkpoint under -XX:+DebugOnRestore
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/runtime/J9Runtime.hpp
  runtime/compiler/runtime/MetaData.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  test/functional/cmdLineTests/criu/playlist.xml
Labels: comp:test, comp:jit, criu

#18947 Updated 0.43.0 release note-Additional PRs
  doc/release-notes/0.43/0.43.md
Labels: comp:doc

#18928 CRIU adds org.eclipse.openj9.criu.isCRaCCapable for CRAC_SUPPORT
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, criu

#18937 Support ignoring the client's local SCC when compiling a JITServer AOT cache store
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/JITServerAOTSerializationRecords.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
Labels: comp:jitserver

#18950 Remove flushCaches param from acquireExclusiveVMAccessForGC
  runtime/gc_vlhgc/MemorySubSpaceTarok.cpp
Labels: comp:gc

#18958 Remove unused macro SEGMENT_TYPE
  runtime/oti/j9protos.h
Labels: comp:vm

#18929 Narrow 32 bit values when setting fields in MHInterpreter
  runtime/vm/MHInterpreter.hpp
  runtime/vm/MHInterpreter.inc
Labels: comp:vm

#18948 Implement a deserializer and shared cache interface that ignores the local SCC
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/env/ClassLoaderTable.cpp
  runtime/compiler/env/ClassLoaderTable.hpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/exceptions/AOTFailure.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
Labels: comp:jitserver, comp:jit:aot

#18971 Fix compile error for JAVA_SPEC_VERSION < 19
  runtime/jvmti/jvmtiThread.cpp
Labels: comp:vm

#18876 Recognize StringCoding.implEncodeAsciiArray in the JIT compiler
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/env/j9method.cpp
Labels: comp:jit, perf

#18981 Revert "Recognize java/lang/StringCoding.implEncodeAsciiArray"
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#18976 Add var handle method type lookup table walking
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/oti/j9nonbuilder.h
  runtime/util/romclasswalk.c
Labels: comp:vm

#18301 Allow JITServer AOT cache stores and loads without a local SCC
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/ClassLoaderTable.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/net/ServerStream.hpp
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTCache.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/vm/jvminit.c
Labels: comp:jitserver

#18986 Protect JITServer code with `#if defined(J9VM_OPT_JITSERVER)`
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/ClassLoaderTable.cpp
  runtime/vm/jvminit.c
Labels: bug, comp:jit

#18992 Exclude TestCRaCMXBean for jdk8
  test/functional/JLM_Tests/build.xml
Labels: comp:test

#18983 Recognize java/lang/StringCoding.implEncodeAsciiArray
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#18984 Ignore extension classloader in JVM_LatestUserDefinedLoader on jdk8
  runtime/sunvmi/sunvmi.c
Labels: comp:vm

#18731 Add and utilize methods that do not access flattened arrays
  runtime/compiler/il/J9MethodSymbol.cpp
  runtime/compiler/il/J9MethodSymbol.hpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit, project:valhalla

#19000 Exclude testCRaCMXBean for ibm builds
  test/functional/JLM_Tests/playlist.xml
Labels: comp:test

#18997 (0.44) Ignore extension classloader in JVM_LatestUserDefinedLoader on jdk8
  runtime/sunvmi/sunvmi.c
Labels: comp:vm

#19002 [FFI/Jtreg_JDK22] Change the value of the heap address identifier
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalDowncallHandler.java
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, project:panama, jdk22

#18918 Clean up GC_TLH_PREFETCH_FTA flag settings in cmake files
  runtime/cmake/caches/linux_ppc-64_le.cmake
  runtime/cmake/caches/linux_x86-64.cmake
  runtime/cmake/caches/osx_x86-64.cmake
  runtime/cmake/caches/win_x86-64.cmake
  runtime/cmake/caches/win_x86.cmake
  runtime/cmake/caches/zos_390-64.cmake
Labels: comp:build, cmake

#18966 Clean up flags in common.cmake
  runtime/cmake/caches/common.cmake
Labels: comp:build, cmake

#19008 [FFI/v0.44] Enable heap related code in downcall
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalDowncallHandler.java
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalUpcallHandler.java
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/UpcallMHMetaData.java
  runtime/oti/j9nonbuilder.h
  runtime/tests/clinkerffi/CMakeLists.txt
  runtime/tests/clinkerffi/downcall.c
  runtime/tests/clinkerffi/module.xml
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/UpcallVMHelpers.cpp
  runtime/vm/bindnatv.cpp
  runtime/vm/vmthread.cpp
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/InvalidDownCallTests.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/PrimitiveTypeTests1.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/PrimitiveTypeTests2.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/StructTests1.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/StructTests2.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/upcall/InvalidUpCallTests.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/upcall/UpcallMethodHandles.java
Labels: comp:vm, project:panama

#18936 Add documentation for Checkpoint Restore Coordination
  doc/compiler/README.md
  doc/compiler/control/CheckpointRestoreCoordination.md
  runtime/compiler/control/CompilationRuntime.hpp
Labels: comp:jit, comp:doc, criu

#18959 CRIU adds unqualified exports java.base/jdk.crac when CRaC is enabled
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  jcl/src/java.base/share/classes/module-info.java.extra
  runtime/j9vm/java11vmi.c
  runtime/nls/j9vm/j9vm.nls
  test/functional/cmdLineTests/criu/build.xml
Labels: comp:vm, criu

#19019 Add throwExceptionHelper default case
  runtime/j9vm/java11vmi.c
Labels: comp:vm

#18817 Recognize linkToNative() in the JIT compiler to allow J2I calls
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
Labels: comp:jit, project:MH

#19020 Add missed scan for modules in System and Application class loaders
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/RootScanner.hpp
Labels: bug, comp:gc

#19024 Cache Invocation API function descriptors in libjvm31 wrapper
  runtime/j9vm31/j9cel4ro64.c
  runtime/j9vm31/j9cel4ro64.h
  runtime/j9vm31/jniinv.cpp
  runtime/j9vm31/jnimisc.cpp
Labels: comp:vm

#19030 Fix CRIU ghost file test
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
Labels: comp:test

#19028 JDK22+ print deprecation warning messages
  runtime/nls/j9vm/j9vm.nls
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/ignoreUnrecognizedVMOptions/deprecatedvmoptions.xml
  test/functional/cmdLineTests/ignoreUnrecognizedVMOptions/playlist.xml
Labels: comp:vm

#19032 Add VM.internalGetProperties() helper method
  jcl/src/java.base/share/classes/com/ibm/oti/util/Util.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  jcl/src/java.base/share/classes/java/security/AccessControlContext.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Advertisement.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Attachment.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/IPC.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/CompilationMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ManagementUtils.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/RuntimeMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedOperatingSystemMXBeanImpl.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Dump.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Log.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Trace.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassHelperFactoryImpl.java
Labels: comp:vm

#19038 (v0.44.0-release) Add VM.internalGetProperties() helper method
  jcl/src/java.base/share/classes/com/ibm/oti/util/Util.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  jcl/src/java.base/share/classes/java/security/AccessControlContext.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Advertisement.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Attachment.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/IPC.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/CompilationMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ManagementUtils.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/RuntimeMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedOperatingSystemMXBeanImpl.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Dump.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Log.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Trace.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassHelperFactoryImpl.java
Labels: comp:vm

#19041 Remove unnecessary exports from java.base
  jcl/src/java.base/share/classes/module-info.java.extra
Labels: comp:build

#19023 Update ValueType comparison
  runtime/vm/ValueTypeHelpers.hpp
  runtime/vm/createramclass.cpp
Labels: comp:vm, project:valhalla

#19034 (v0.44.0-release) JDK22+ print deprecation warning messages
  runtime/nls/j9vm/j9vm.nls
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/ignoreUnrecognizedVMOptions/deprecatedvmoptions.xml
  test/functional/cmdLineTests/ignoreUnrecognizedVMOptions/playlist.xml
Labels: comp:vm

#19048 Include sealed/non-sealed as appropriate for Class.toGenericString()
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm
