Repository eclipse-openj9/openj9, pull requests merged in 2024-06, with the labels that each got.

#19565 jdk11 always create compact Strings when possible
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#19600 (0.46.0) Improve x86 inline object allocations
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#19562 Fixup continuation lists for concurrent scavenge backout case
  runtime/gc_glue_java/MarkingSchemeRootClearer.cpp
  runtime/gc_glue_java/ScavengerBackOutScanner.cpp
  runtime/gc_glue_java/ScavengerRootScanner.cpp
Labels: comp:gc, project:loom

#19586 VM support for value type annotations
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
Labels: comp:vm, project:valhalla

#19594 Z: Correct sign for vectorizedHashCode
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#19584 Enabled AOT cache at server by default
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#19607 (0.46) jdk11 always create compact Strings when possible
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#19612 Update zlib to 1.3.1
  longabout.html
  runtime/include/about.html
  runtime/include/zconf.h
  runtime/include/zlib.h
  runtime/zlib/about.html
  runtime/zlib/deflate.c
  runtime/zlib/deflate.h
  runtime/zlib/gzguts.h
  runtime/zlib/inflate.c
  runtime/zlib/inftrees.c
  runtime/zlib/inftrees.h
  runtime/zlib/trees.c
  runtime/zlib/zutil.h
Labels: comp:vm

#19619 (0.46) Enabled AOT cache at server by default
  runtime/compiler/control/J9Options.cpp
Labels: comp:jitserver

#19617 Update the information in contributing to the project
  README.md
Labels: comp:doc

#19601 Prefer to disable TLH allocation prefetching by default post-Skylake
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jit, depends:omr

#19627 UMA: fix references to flags opt_criuSupport, opt_jitserver (v2)
  runtime/compiler/build/files/common.mk.ftl
  runtime/compiler/compiler.mk
Labels: comp:jit

#19628 (0.46) Update to openssl 3.0.14
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#19622 (0.46) Update zlib to 1.3.1
  longabout.html
  runtime/include/about.html
  runtime/include/zconf.h
  runtime/include/zlib.h
  runtime/zlib/about.html
  runtime/zlib/deflate.c
  runtime/zlib/deflate.h
  runtime/zlib/gzguts.h
  runtime/zlib/inflate.c
  runtime/zlib/inftrees.c
  runtime/zlib/inftrees.h
  runtime/zlib/trees.c
  runtime/zlib/zutil.h
Labels: comp:vm

#19625 VM updates for NullRestricted value types
  jcl/src/java.base/share/classes/java/lang/Class.java
  runtime/bcutil/cfreader.c
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/vm/createramclass.cpp
Labels: comp:vm, project:valhalla

#19626 Remove redundant else in defineClassCommon
  runtime/jcl/common/jcldefine.c
Labels: comp:vm

#19624 (0.46.0) Prefer to disable TLH allocation prefetching by default post-Skylake
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jit

#19587 Skip jitCodeCache reclamation for scavenge backout case
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/gcchk/gcchk.cpp
Labels: comp:gc, comp:jit

#19632 Reduce modifications to zlib source code
  runtime/include/zconf.h
  runtime/zlib/deflate.h
  runtime/zlib/inflate.h
Labels: comp:vm

#19639 Define a fail_pattern for alinux, amac, xmac builds
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#19585 Enable -XX:+JITServerAOTCacheIgnoreLocalSCC by default
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/shared/shrclssup.c
  runtime/vm/jvminit.c
Labels: comp:jitserver

#19604 Move anchored instanceof to the correct position
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#19631 Remove CFR_ACC_VALUE_TYPE and CFR_ACC_PRIMITIVE_VALUE_TYPE
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/cfreader.c
  runtime/bcverify/staticverify.c
  runtime/bcverify/vrfyhelp.c
  runtime/cfdumper/main.c
  runtime/oti/cfr.h
  runtime/oti/j9.h
  runtime/oti/j9modifiers_api.h
  runtime/oti/util_api.h
  runtime/util/rcdump.c
Labels: comp:vm, project:valhalla

#19659 (0.46) Update sync logic between vthreadInspectorCount & internalSuspendState
  runtime/j9vm/javanextvmi.cpp
  runtime/jvmti/jvmtiHelpers.cpp
  runtime/jvmti/jvmtiThread.cpp
  runtime/jvmti/suspendhelper.cpp
  runtime/vm/ContinuationHelpers.cpp
Labels: comp:vm

#19655 (0.46) Move anchored instanceof to the correct position
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#19640 Change order of tests for inline Unsafe.{get|put}* calls
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
Labels: comp:jit, perf

#19630 Add optimization to ROM class search for Anonymous classes unloading
  runtime/gc_base/ClassLoaderManager.cpp
  runtime/gc_base/ClassLoaderManager.hpp
Labels: comp:gc, depends:omr

#19660 [0.46.0] Change order of tests for inline Unsafe.{get|put}* calls
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
Labels: comp:jit, perf

#19641 Remove redundant vlog newlines
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/runtime/DataCache.cpp
  runtime/compiler/runtime/HWProfiler.cpp
  runtime/compiler/runtime/J9CodeCache.cpp
Labels: comp:jit

#19665 (0.46) Fixup continuation lists for concurrent scavenge backout case
  runtime/gc_glue_java/MarkingSchemeRootClearer.cpp
  runtime/gc_glue_java/ScavengerBackOutScanner.cpp
  runtime/gc_glue_java/ScavengerRootScanner.cpp
Labels: comp:gc, project:loom

#19670 Fix copyright notices to avoid Java compilation warnings
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/BuildVersionCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/DSymtabCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/DyldInfoCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/DylibCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/DylinkerCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/EncryptionCommand64.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/EntryPointCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/LinkeditDataCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/LinkerOptionCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/LoadCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/MachoDumpReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/NoteCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/OSXProcessAddressSpace.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/PrebindChecksumCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/PreboundDylibCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/RoutinesCommand64.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/RpathCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/SegmentCommand64.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/SourceVersionCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/SubCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/SymtabCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/ThreadCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/TwoLevelHintsCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/UuidCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/VersionMinCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/StructureStubGenerator.java
  jcl/src/java.management/share/classes/java/lang/management/BufferPoolMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/ClassLoadingMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/CompilationMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/DefaultPlatformMBeanProvider.java
  jcl/src/java.management/share/classes/java/lang/management/GarbageCollectorMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/LockInfo.java
  jcl/src/java.management/share/classes/java/lang/management/ManagementPermission.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryManagerMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryNotificationInfo.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryPoolMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryType.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryUsage.java
  jcl/src/java.management/share/classes/java/lang/management/MonitorInfo.java
  jcl/src/java.management/share/classes/java/lang/management/OperatingSystemMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/PlatformLoggingMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/PlatformManagedObject.java
  jcl/src/java.management/share/classes/java/lang/management/RuntimeMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/ThreadInfo.java
  jcl/src/java.management/share/classes/java/lang/management/ThreadInfoAccessImpl.java
  jcl/src/java.management/share/classes/java/lang/management/ThreadMXBean.java
Labels: comp:vm

#19219 Add z/TPF specific configuration diagnostic information to Javacore
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#19669 TGC alloc stats for dual TLH
  runtime/gc_trace/TgcAllocation.cpp
Labels: comp:gc

#19647 JEP471 sets system property according to the command line option value
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/vm/vmprops.c
Labels: comp:vm, jdk23

#19572 Generate a NULLCHK when transforming checkExactType() into ZEROCHK
  runtime/compiler/optimizer/MethodHandleTransformer.cpp
Labels: comp:jit, project:MH

#19672 Fix order of parameters in assertion message
  runtime/gc_modron_startup/mgcalloc.cpp
Labels: comp:gc

#19554 Add cmdline opts to toggle extendedHCR
  runtime/nls/vmut/j9vmutil.nls
  runtime/oti/j9consts.h
  runtime/oti/jvminit.h
  runtime/oti/util_api.h
  runtime/util/extendedHCR.c
  runtime/util/hshelp.c
  runtime/vm/jvminit.c
  test/functional/IllegalAccessError_for_protected_method/playlist.xml
  test/functional/JavaAgentTest/playlist.xml
  test/functional/SharedCPEntryInvokerTests/playlist.xml
  test/functional/cmdLineTests/doProtectedAccessCheck/doProtectedAccessCheck.xml
  test/functional/cmdLineTests/jvmtitests/decompilationtests.xml
  test/functional/cmdLineTests/jvmtitests/fieldwatchtests.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_Java11andUp.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_Java21andUp.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_extended.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:vm, doc:externals

#19676 Mark unlikely blocks as cold for Unsafe.{get|put}*
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit, perf

#19679 Make option -Xshareclasses enable -XX:+ShareOrphans
  runtime/shared/shrclssup.c
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
Labels: comp:vm

#19681 [0.46.0] Mark unlikely blocks as cold for Unsafe.{get|put}*
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit, perf

#19566 Reapply "Optimize OpenJDK VarHandle operation methods"
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/UnsafeFastPath.cpp
Labels: comp:jit, project:MH

#19685 Add stronger deprecation warning
  runtime/nls/vmut/j9vmutil.nls
Labels: comp:vm

#19675 Reduce number of VM_getClassFromSignature messages for JITServer
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
Labels: comp:jitserver

#19687 Fix compilation failure in IBM SDK
  runtime/vm/JFRWriter.hpp
Labels: comp:vm

#19686 DDR: Improve handling of processes with no JRE
  debugtools/DDR_VM/src/com/ibm/j9ddr/VMDataFactory.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/view/dtfj/image/J9DDRImageProcess.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/view/dtfj/image/J9RASImageDataFactory.java
Labels: comp:vm

#19684 (0.46) Add cmdline opts to toggle extendedHCR
  runtime/nls/vmut/j9vmutil.nls
  runtime/oti/j9consts.h
  runtime/oti/jvminit.h
  runtime/oti/util_api.h
  runtime/util/extendedHCR.c
  runtime/util/hshelp.c
  runtime/vm/jvminit.c
  test/functional/IllegalAccessError_for_protected_method/playlist.xml
  test/functional/JavaAgentTest/playlist.xml
  test/functional/SharedCPEntryInvokerTests/playlist.xml
  test/functional/cmdLineTests/doProtectedAccessCheck/doProtectedAccessCheck.xml
  test/functional/cmdLineTests/jvmtitests/decompilationtests.xml
  test/functional/cmdLineTests/jvmtitests/fieldwatchtests.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_Java11andUp.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_Java21andUp.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_extended.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:vm

#19683 Remove unnecessory Assert in clearArgInfo function
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit, tech debt

#19695 Continue using jdk21 as the boot jdk for jdk23+
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#19646 Fix Valhalla test compilation
  runtime/bcutil/ClassFileOracle.cpp
  test/functional/Valhalla/build.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaUtils.java
  test/functional/Valhalla/src_lw5/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/NullRestrictedTypeOptTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeArrayTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeSystemArraycopyTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTestClasses.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeUnsafeTests.java
Labels: comp:vm, comp:test, project:valhalla

#19649 [FFI/JDK22+] Remove the heap argument identifier in downcall
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/InternalDowncallHandler.java
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm, project:panama, jdk22, jdk23

#19706 JDK24 bring up
  jcl/jpp_configuration.xml
  test/TestConfig/resources/excludes/latest_exclude_24.txt
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_24.xml
Labels: comp:vm, comp:test

#19709 Delete the unused build flag build_openj9JDK8
  buildspecs/aix_ppc-64_cmprssptrs.spec
  buildspecs/j9.flags
  buildspecs/linux_390-64_cmprssptrs.spec
  buildspecs/linux_ppc-64_cmprssptrs_le.spec
  buildspecs/linux_riscv64.spec
  buildspecs/linux_riscv64_cmprssptrs.spec
  buildspecs/linux_riscv64_cmprssptrs_cross.spec
  buildspecs/linux_riscv64_cross.spec
  buildspecs/linux_x86-64_cmprssptrs.spec
  buildspecs/osx_x86-64_cmprssptrs.spec
  buildspecs/win_x86-64_cmprssptrs.spec
Labels: comp:build

#19690 Valhalla test updates and disable failing tests
  test/README.md
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#19689 [FFI/Test_JDK21+] Convert the native string for downcall on z/OS
  test/functional/Java21Only/src/org/openj9/test/jep442/downcall/PrimitiveTypeTests1.java
  test/functional/Java21Only/src/org/openj9/test/jep442/downcall/PrimitiveTypeTests2.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/PrimitiveTypeTests1.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/PrimitiveTypeTests2.java
Labels: project:panama, os:zos, jdk21, jdk22, jdk23

#19717 Split IllegalAccessProtectedMethodTest to openj9 and hotspot variant
  test/functional/IllegalAccessError_for_protected_method/playlist.xml
Labels: comp:test

#19718 (0.46) Split IllegalAccessProtectedMethodTest to openj9 and hotspot variant
  test/functional/IllegalAccessError_for_protected_method/playlist.xml
Labels: comp:test

#19725 Avoid NPE in testThreadMXBeanProxy debug output
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestManagementFactory.java
Labels: comp:test

#19727 Remove some value type q cases
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileWriter.cpp
  runtime/bcverify/bcverify.c
  runtime/cfdumper/main.c
  runtime/jcl/common/reflecthelp.c
  runtime/jnichk/jnicbuf.c
  runtime/jnichk/jnicheck.c
  runtime/jvmti/jvmtiForceEarlyReturn.cpp
  runtime/jvmti/jvmtiHelpers.cpp
  runtime/jvmti/jvmtiLocalVariable.cpp
  runtime/rastrace/method_trace.c
  runtime/tests/jvmtitests/agent/strings.c
  runtime/util/sendslot.c
  runtime/verutil/chverify.c
  runtime/vm/classsupport.c
  runtime/vm/extendedMessageNPE.cpp
  runtime/vm/jnicsup.cpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, project:valhalla

#19726 Use sighandler_t instead of sig_handler_t
  runtime/rasdump/dmpsup.c
Labels: comp:vm

#19731 Ignore ByteBufferHandle operations in unsafe fast path
  runtime/compiler/optimizer/UnsafeFastPath.cpp
Labels: comp:jit, project:MH

#19737 Adds compatibility to get docker image from non-default registry
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#19549 Support lambdas and other generated classes in JITServer AOT cache
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/PersistentCollections.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTCache.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
  runtime/compiler/runtime/JITServerAOTSerializationRecords.hpp
  runtime/compiler/runtime/JITServerROMClassHash.cpp
  runtime/compiler/runtime/JITServerROMClassHash.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/oti/util_api.h
  runtime/util/shchelp_j9.c
Labels: comp:vm, comp:jitserver

#19716 Fix and enable heavy/light value type tests
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ROMClassCreationContext.cpp
  runtime/bcutil/romphase.h
  runtime/vm/createramclass.cpp
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, comp:test, project:valhalla

#19730 Fix disclaiming logic to include code cache segments
  runtime/vm/segment.c
Labels: bug, comp:vm

#19739 CRIU adds NotCheckpointSafe at java/lang/ref/ReferenceQueue.poll
  jcl/src/java.base/share/classes/java/lang/ref/ReferenceQueue.java
Labels: comp:vm, criu

#19732 Clean up value type vm code
  jcl/src/java.base/share/classes/java/lang/Class.java
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/cfreader.c
  runtime/oti/cfr.h
  runtime/oti/j9.h
  runtime/util/romhelp.c
  runtime/verutil/chverify.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ObjectMonitor.cpp
  runtime/vm/classsupport.c
  runtime/vm/createramclass.cpp
  runtime/vm/description.c
  runtime/vm/jvminit.c
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
Labels: comp:vm, project:valhalla

#19736 Remove Class.isPrimitiveClass and outdated methods
  jcl/src/java.base/share/classes/java/lang/Class.java
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/oti/VMHelpers.hpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_java_lang_Class.cpp
  runtime/vm/bindnatv.cpp
Labels: comp:vm, comp:jit, project:valhalla

#19524 Assembly fixes for Open XL compliance
  runtime/oti/zhelpers.m4
  runtime/port/zos390/j9gs_load_gscb.s
  runtime/port/zos390/j9gs_store_gscb.s
Labels: comp:vm, arch:z, os:zos

#19760 Disable x86 TLH prefetch by default after Broadwell
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#19747 Remove more q type cases and comments
  runtime/bcverify/staticverify.c
  runtime/codert_vm/decomp.cpp
  runtime/codert_vm/jswalk.c
  runtime/oti/vm_api.h
  runtime/util/fieldutil.c
  runtime/vm/ObjectFieldInfo.cpp
  runtime/vm/ValueTypeHelpers.hpp
  runtime/vm/bindnatv.cpp
  runtime/vm/createramclass.cpp
  runtime/vm/description.c
  runtime/vm/resolvefield.cpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, project:valhalla

#19762 (0.46.0) Disable x86 TLH prefetch by default after Broadwell
  runtime/compiler/control/J9Options.cpp
Labels: comp:jit

#19748 (v0.46.0-release) CRIU adds NotCheckpointSafe at java/lang/ref/ReferenceQueue.poll
  jcl/src/java.base/share/classes/java/lang/ref/ReferenceQueue.java
Labels: comp:vm, criu

#19710 Clear breakpts in class redef and fix HCR warning
  runtime/jvmti/jvmtiClass.c
  runtime/util/hshelp.c
  test/functional/IllegalAccessError_for_protected_method/playlist.xml
  test/functional/JavaAgentTest/playlist.xml
  test/functional/cmdLineTests/jvmtitests/decompilationtests.xml
  test/functional/cmdLineTests/jvmtitests/fieldwatchtests.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_Java11andUp.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_Java21andUp.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:vm

#14931 Reduce unnecessary TLS usage in JITServer code
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9KnownObjectTable.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/J9Inliner.cpp
  runtime/compiler/runtime/JITServerIProfiler.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jitserver

#19752 Remove internal qtype methods
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ValueTypeHelpers.cpp
  runtime/vm/ValueTypeHelpers.hpp
  runtime/vm/intfunc.c
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, comp:test, comp:jit, project:valhalla

#19775 (0.46) Clear breakpts in class redef and fix HCR warning
  runtime/jvmti/jvmtiClass.c
  runtime/util/hshelp.c
  test/functional/IllegalAccessError_for_protected_method/playlist.xml
  test/functional/JavaAgentTest/playlist.xml
  test/functional/cmdLineTests/jvmtitests/decompilationtests.xml
  test/functional/cmdLineTests/jvmtitests/fieldwatchtests.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_Java11andUp.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_Java21andUp.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
  test/functional/cmdLineTests/jvmtitests/playlist.xml
Labels: comp:vm

#19699 Make static final field folding more aggressive
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/JITServerPersistentCHTable.cpp
  runtime/compiler/env/JITServerPersistentCHTable.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/runtime/RuntimeAssumptions.hpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/intfunc.c
  runtime/vm/resolvefield.cpp
Labels: comp:jit, depends:omr, comp:jitserver, project:MH

#19776 Update OpenSSL 3.0.14 to include the fix for CVE-2024-5535
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#19704 Class verification and cleanup for ACC_VALUE removal
  debugtools/DDR_VM/src/com/ibm/j9ddr/CompatibilityConstants29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ROMClassHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/ValueTypeHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
  runtime/bcutil/cfreader.c
  runtime/nls/cfre/cfrerr.nls
  runtime/oti/j9.h
  runtime/oti/j9consts.h
  runtime/oti/j9modifiers_api.h
  runtime/util/resolvehelp.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/FastJNI_java_lang_Class.cpp
  runtime/vm/createramclass.cpp
  test/functional/Valhalla/src_lw5/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_lw5/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#19772 Add new com.ibm.autocvt property for z/OS file tagging support
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/jcl/common/system.c
Labels: comp:vm

#19784 (0.46) Update OpenSSL 3.0.14 to include the fix for CVE-2024-5535
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl
