Repository eclipse-openj9/openj9, pull requests merged in 2024-12, with the labels that each got.

#20710 Add override to virtual methods of TR_J9SharedCache and TR_J9VMBase
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jit

#20719 Fix some include warnings in JITServer
  runtime/compiler/env/J9KnownObjectTable.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
Labels: comp:jitserver

#20571 OpenJ9 JIT changes to support OMR FrontEnd base class refactoring
  runtime/compiler/CMakeLists.txt
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jit, depends:omr:breaking

#20695 VPKnownObject Constraints for JITServer
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
Labels: comp:jitserver

#20728 (0.49) Disable thread buffer writes after thread end
  runtime/vm/jfr.cpp
Labels: comp:vm, jfr

#20701 Revert "Merge pull request #20525"
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:x86, depends:omr:breaking

#20733 Add links to eclipse-omr repo and master branch in committer guide
  doc/GuideForCommitters.md
Labels: comp:doc

#20732 (v0.49) Revert "Merge pull request #20525"
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:x86

#20700 Copy local signature from MethodHandleNatives.resolve
  runtime/bcverify/clconstraints.c
  runtime/jcl/common/java_dyn_methodhandle.c
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/common/java_lang_invoke_VarHandle.c
  runtime/oti/bcverify_api.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/createramclass.cpp
  runtime/vm/lookupmethod.c
  runtime/vm/resolvesupport.cpp
Labels: comp:vm

#20738 (0.49) Recognize POWER11 and future coverage on AIX and Linux
  runtime/oti/j9port.h
  runtime/port/unix/j9sysinfo.c
Labels: comp:vm, arch:power

#20734 Add --enable-preview to criu nonPortable test in Valhalla build
  test/functional/cmdLineTests/criu/criu_nonPortable_jdk_crac.xml
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/variables.mk
Labels: comp:test, project:valhalla

#20694 Remove synchronization in Reference and unused methods in ReferenceQueue
  jcl/src/java.base/share/classes/java/lang/ref/Reference.java
  jcl/src/java.base/share/classes/java/lang/ref/ReferenceQueue.java
Labels: comp:vm

#20743 Fix Sequence Error in a Case of HandleServerMessage
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#20712 Add verbose logging to dependency table
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/DependencyTable.cpp
  runtime/compiler/env/DependencyTable.hpp
Labels: comp:jit

#20656 Use migrated value classes in Valhalla functional tests
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/cmdLineTests/valuetypeddrtests/flattened32bitRefBackfillTest.xml
  test/functional/cmdLineTests/valuetypeddrtests/flattenedvaluetypeddrtests.xml
  test/functional/cmdLineTests/valuetypeddrtests/playlist.xml
  test/functional/cmdLineTests/valuetypeddrtests/unflattenedvaluetypeddrtests.xml
Labels: comp:test, project:valhalla

#20745 JDK24 adds JavaLangAccess.virtualThreadDelayedTaskSchedulers()
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/openj9/internal/criu/security/CRIUConfigurator.java
Labels: comp:vm, jdk24

#20752 Update true to TRUE to match parameter type BOOLEAN
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
Labels: comp:vm

#20756 JDK24 removes ReflectionFactory.GetReflectionFactoryAction
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#20757 Bypass Code Requiring VM Read at JITServer
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit, comp:jitserver

#20759 Add hiddenInstanceFields to the VM snapshot
  runtime/oti/SnapshotFileFormat.h
  runtime/vm/VMSnapshotImpl.cpp
  runtime/vm/VMSnapshotImpl.hpp
  runtime/vm/jvminit.c
  runtime/vm/resolvefield.cpp
Labels: comp:vm

#18163 Off heap
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_base/IndexableObjectAllocationModel.hpp
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/RootScanner.hpp
  runtime/gc_check/CheckEngine.cpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_glue_java/ArrayletObjectModelBase.cpp
  runtime/gc_glue_java/ArrayletObjectModelBase.hpp
  runtime/gc_glue_java/EnvironmentDelegate.hpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_stats/CopyForwardStats.hpp
  runtime/gc_stats/MarkVLHGCStats.hpp
  runtime/gc_trace/TgcRootScanner.cpp
  runtime/gc_vlhgc/AllocationContextBalanced.cpp
  runtime/gc_vlhgc/ConfigurationIncrementalGenerational.cpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/HeapRegionDataForAllocate.cpp
  runtime/gc_vlhgc/HeapRegionDataForAllocate.hpp
  runtime/gc_vlhgc/HeapRegionDescriptorVLHGC.cpp
  runtime/gc_vlhgc/HeapRegionDescriptorVLHGC.hpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/ParallelSweepSchemeVLHGC.cpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.hpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.hpp
  runtime/oti/j9accessbarrier.h
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#20726 Update java9above unsafe test for off-heap case
  test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/TestUnsafeCopyMemory.java
Labels: comp:test

#20760 JDK24 removes CleanerImpl.phantomCleanableList
  jcl/src/java.base/share/classes/jdk/internal/ref/CleanerShutdown.java
Labels: comp:vm, jdk24

#20768 XMLParser: support attributes with empty values
  test/functional/J9 Exclude File Support/src/com/oti/j9/exclude/XMLParser.java
Labels: comp:test

#20685 Implement boxing/unboxing during VectorAPIExpansion under an option
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#20722 Revert "Stop recognizing UTF16_Encoder.encodeUTF16 methods"
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  runtime/compiler/build/files/host/p.mk
  runtime/compiler/build/files/host/x.mk
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/runtime/CMakeLists.txt
  runtime/compiler/p/runtime/J9PPCEncodeUTF16.spp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
  runtime/compiler/x/runtime/.gitignore
  runtime/compiler/x/runtime/CMakeLists.txt
  runtime/compiler/x/runtime/X86EncodeUTF16.nasm
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
Labels: comp:jit, depends:omr, arch:power, arch:x86, arch:z

#20774 Exclude testJitserverArguments on xlinux jdk8
  test/functional/cmdLineTests/jitserver/playlist.xml
Labels: comp:test

#20730 Ensure inlined method classes are dependencies
  runtime/compiler/arm/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/p/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
Labels: comp:jit:aot

#20737 Ensure relocating fresh AOT is interruptible
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit:aot

#20778 (0.49) Add java.lang.Access.allowSecurityManager to jdk21
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#20771 Update sample code for enum type fields in BytecodeGenerator.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/BytecodeGenerator.java
Labels: comp:vm, comp:doc

#20763 Revert initializeMethodRunAddressNoHook
  runtime/vm/initsendtarget.cpp
Labels: comp:vm

#20780 Use dependency table as arbitrary class fallback
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/env/DependencyTable.cpp
  runtime/compiler/env/DependencyTable.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
Labels: comp:jit:aot

#20792 (0.49) Release VMAccess before performing JFR teardown
  runtime/vm/jfr.cpp
Labels: comp:vm, jfr

#20791 Minor VectorAPI boxing fixes
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#20794 JDK25 bring up
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  test/TestConfig/resources/excludes/latest_exclude_24.txt
  test/TestConfig/resources/excludes/latest_exclude_25.txt
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_24.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_25.xml
Labels: comp:vm, jdk-head

#20781 Add classPathEntries to the VM snapshot
  runtime/bcutil/dynload.c
  runtime/jcl/common/stdinit.c
  runtime/oti/j9port_generated.h
  runtime/util/cphelp.c
  runtime/vm/VMSnapshotImpl.cpp
  runtime/vm/VMSnapshotImpl.hpp
  runtime/vm/classallocation.c
  runtime/vm/jvmfree.c
  runtime/vm/jvminit.c
Labels: comp:vm

#20795 Fix variable-length array warning in clang
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#20805 tearDown() in Configuration Delegate should not use local _extensions
  runtime/gc_glue_java/ConfigurationDelegate.hpp
Labels: comp:gc

#20811 JDK24 build
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#20740 Change J9Module::moduleName from a j9object_t to a J9UTF8 pointer
  debugtools/DDR_VM/src/com/ibm/j9ddr/CompatibilityConstants29.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/ModularityHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/DumpModuleDirectedExportsCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/DumpModuleReadsCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/FindAllModulesCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/FindAllReadsCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/FindModuleByNameCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/FindModulesCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/structureformat/extensions/J9ModuleStructureFormatter.java
  runtime/bcutil/dynload.c
  runtime/gc_base/RootScanner.cpp
  runtime/gc_glue_java/ConcurrentMarkingDelegate.cpp
  runtime/gc_glue_java/MarkingDelegate.cpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkCardScrubber.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/j9vm/java11vmi.c
  runtime/jcl/common/jclexception.cpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/util/cphelp.c
  runtime/verbose/verbose.c
  runtime/vm/JFRConstantPoolTypes.cpp
  runtime/vm/ModularityHashTables.c
  runtime/vm/classsupport.c
  runtime/vm/createramclass.cpp
  runtime/vm/exceptiondescribe.c
  runtime/vm/intfunc.c
  runtime/vm/jvmfree.c
  runtime/vm/lookupmethod.c
  runtime/vm/stringhelpers.cpp
Labels: comp:vm, comp:gc

#20813 Fix type conversion error in stringhelpers.cpp
  runtime/vm/stringhelpers.cpp
Labels: comp:vm

#20818 (0.49) Update JFR metadata.blob file
  runtime/metadata.blob
  runtime/vm/JFRChunkWriter.hpp
Labels: jfr

#20817 Z: Moving variable declaration to the method top
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#20770 Resolve static field ref in CP if possible
  runtime/jit_vm/ctsupport.cpp
Labels: comp:vm, comp:jit:aot

#20820 Add -XXgc:regionSizeWithOverride
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_vlhgc/ConfigurationIncrementalGenerational.cpp
Labels: comp:gc

#20825 0.49: Revert initializeMethodRunAddressNoHook
  runtime/vm/initsendtarget.cpp
Labels: comp:vm

#20829 Fix JDK24 Windows unresolved external symbols
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/jcl/exports.cmake
  runtime/jcl/uma/se6_vm-side_natives_exports.xml
  runtime/oti/jclprots.h
Labels: comp:vm, jdk24

#20828 Add initializeMethodRunAddressForSnapshot function
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/VMSnapshotImpl.cpp
  runtime/vm/initsendtarget.cpp
  runtime/vm/intfunc.c
Labels: comp:vm

#20803 Eclipse OpenJ9 Generative AI (GenAI) Usage Guidelines
  CONTRIBUTING.md
  doc/GuideForCommitters.md
Labels: comp:doc

#20839 Remove "@return void" from vm_api.h documentation
  runtime/oti/vm_api.h
Labels: comp:vm, comp:doc

#20690 Modifications to ensure compatibility with OpenXL and xlC on AIX
  runtime/cmake/platform/os/aix.cmake
  runtime/cmake/platform/toolcfg/gnu.cmake
  runtime/compiler/CMakeLists.txt
  runtime/compiler/env/J9KnownObjectTable.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/alloca_openxl.h
  runtime/compiler/env/j9method.cpp
  runtime/compiler/p/runtime/Emulation.c
  runtime/compiler/p/runtime/PPCHWProfilerPrivate.hpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/asmprotos.h
  runtime/gc_glue_java/configure_includes/configure_aix_ppc.mk
  runtime/j9vm/jvm.c
  runtime/makelib/targets.mk.aix.inc.ftl
  runtime/oti/j9nonbuilder.h
  runtime/port/linuxppc/j9ri.c
  runtime/tests/redirector/jep178/CMakeLists.txt
Labels: arch:power, os:aix, depends:omr:breaking

#20843 Add missed samples to NLS messages
  runtime/nls/j9gc/j9modron.nls
Labels: comp:gc

#20844 Add the latest NLS translations
  runtime/nls/j9gc/j9modron_ca.nls
  runtime/nls/j9gc/j9modron_cs.nls
  runtime/nls/j9gc/j9modron_de.nls
  runtime/nls/j9gc/j9modron_es.nls
  runtime/nls/j9gc/j9modron_fr.nls
  runtime/nls/j9gc/j9modron_hu.nls
  runtime/nls/j9gc/j9modron_it.nls
  runtime/nls/j9gc/j9modron_ja.nls
  runtime/nls/j9gc/j9modron_ko.nls
  runtime/nls/j9gc/j9modron_pl.nls
  runtime/nls/j9gc/j9modron_pt_BR.nls
  runtime/nls/j9gc/j9modron_ru.nls
  runtime/nls/j9gc/j9modron_sk.nls
  runtime/nls/j9gc/j9modron_sl.nls
  runtime/nls/j9gc/j9modron_tr.nls
  runtime/nls/j9gc/j9modron_zh.nls
  runtime/nls/j9gc/j9modron_zh_CN.nls
  runtime/nls/j9gc/j9modron_zh_TW.nls
Labels: comp:gc

#20845 Avoid shared lambda form statics name comparison
  runtime/compiler/env/j9methodServer.cpp
Labels: comp:jitserver

#20662 Print actual string arguments with -Xtrace (part 2)
  runtime/oti/j9trace.h
  runtime/rasdump/dmpsup.c
  runtime/rastrace/j9rastrace.h
  runtime/rastrace/method_trace.c
  runtime/rastrace/method_trigger.c
  runtime/rastrace/trcengine.c
Labels: comp:vm, doc:externals

#20847 Modify compile-time static field ref resolution
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/jit_vm/ctsupport.cpp
Labels: comp:jit:aot

#20850 (0.49) Add JFR test cases
  runtime/vm/JFRConstantPoolTypes.hpp
  runtime/vm/jfr.cpp
  test/functional/cmdLineTests/jfr/build.xml
  test/functional/cmdLineTests/jfr/jfr.xml
  test/functional/cmdLineTests/jfr/metadata.blob
  test/functional/cmdLineTests/jfr/playlist.xml
  test/functional/cmdLineTests/jfr/src/org/openj9/test/VMAPITest.java
  test/functional/cmdLineTests/jfr/src/org/openj9/test/WorkLoad.java
Labels: jfr

#20830 Add J9Modules and J9Packages to the VM snapshot
  runtime/j9vm/java11vmi.c
  runtime/oti/SnapshotFileFormat.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/util_api.h
  runtime/oti/vm_api.h
  runtime/util/cphelp.c
  runtime/util/modularityHelper.c
  runtime/vm/ModularityHashTables.c
  runtime/vm/VMSnapshotImpl.cpp
  runtime/vm/VMSnapshotImpl.hpp
  runtime/vm/classallocation.c
  runtime/vm/classsupport.c
  runtime/vm/intfunc.c
  runtime/vm/jvmfree.c
  runtime/vm/jvminit.c
  runtime/vm/stringhelpers.cpp
Labels: comp:vm

#20848 Do not interrupt heap iteration if dataAddr is bad in DDR GC Check
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/gccheck/CheckEngine.java
Labels: comp:gc

#20849 Mark loop end label as end-of-internal-control-flow label
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#20846 Comment that JVM_DoPrivileged should not be removed
  runtime/j9vm/j7vmi.c
Labels: comp:vm

#20838 x86: Fix reg marked as live in vectorizedHashCode
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:x86

#20841 Compare nodes in addition to symRef in SequentialStoreSimplification
  runtime/compiler/optimizer/SequentialStoreSimplifier.cpp
Labels: comp:jit

#20857 Change DLT opt level based on option
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit, depends:omr

#20863 Fix VM snapshot class loader initialization
  runtime/jcl/common/stdinit.c
Labels: comp:vm

#20866 GlobalCollectorDelegate::tearDown() shouldn't use local _extensions
  runtime/gc_glue_java/GlobalCollectorDelegate.cpp
Labels: comp:gc

#20868 Increase JFR test suite timeout to 30 mins
  test/functional/cmdLineTests/jfr/jfr.xml
Labels: comp:test, jfr

#20814 Eliminate some uses of TR::comp() in favour of cheaper alternatives
  runtime/compiler/codegen/CodeGenGPU.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/JProfilingValue.cpp
  runtime/compiler/optimizer/JProfilingValue.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#20784 Flag Call to isClassLibraryMethod in isChangeCurrentThread as vettedForAOT
  runtime/compiler/env/VMJ9.cpp
Labels: comp:jit:aot

#20767 TransformIndirectLoadChain at JITServer
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9KnownObjectTable.cpp
  runtime/compiler/env/J9KnownObjectTable.hpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
Labels: comp:jit, comp:jitserver
