Repository eclipse-openj9/openj9, pull requests merged in 2024-11, with the labels that each got.

#20476 Fix scoping error for variable initialization in switch statement
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#20432 Accelerate Unsafe CAS Intrinsics on Aarch64
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/il/J9Node.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/UnsafeFastPath.cpp
  runtime/compiler/optimizer/VarHandleTransformer.cpp
Labels: comp:jit, arch:aarch64

#20436 Update java8 openj9 unsafe test for new off-heap case
  test/functional/UnsafeTest/src_80/org/openj9/test/unsafe/TestUnsafeCopyMemory.java
Labels: comp:test

#20460 Fix bound JITServer port reporting
  runtime/compiler/runtime/Listener.cpp
Labels: comp:jitserver

#20488 Revert "Implicitly make sync methods notcheckpointsafe"
  runtime/vm/CRIUHelpers.cpp
Labels: comp:vm, criu

#20487 Remove JVM_VirtualThreadHideFrames() from Java 24+
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.cpp
  runtime/jvmti/jvmtiHook.c
  runtime/redirector/forwarders.m4
Labels: comp:vm

#20490 Clean up ClassStaticsDeclarationOrderIterator class
  runtime/gc_structs/ClassStaticsDeclarationOrderIterator.hpp
Labels: comp:gc

#20439 Clean Up VM Access in J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
Labels: comp:jit

#20491 Clean up ClassStaticsIterator class
  runtime/gc_structs/ClassStaticsIterator.hpp
Labels: comp:gc

#20450 Add GetStringUTFLengthAsLong for Java 24+
  runtime/include/jni.h.m4
  runtime/j9vm31/exports.cmake
  runtime/j9vm31/j9vm31.h
  runtime/j9vm31/jnicsup.cpp
  runtime/j9vm31/jnimisc.cpp
  runtime/jnichk/jnicwrappers.c
  runtime/oti/j9protos.h
  runtime/vm/jnicsup.cpp
  runtime/vm/jnimisc.cpp
Labels: comp:vm

#20485 Code formatting for Finalizable*Buffer
  runtime/gc_base/FinalizableClassLoaderBuffer.hpp
  runtime/gc_base/FinalizableObjectBuffer.hpp
  runtime/gc_base/FinalizableReferenceBuffer.hpp
Labels: comp:gc

#20496 Valhalla still requires JVM_VirtualThreadHideFrames
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.cpp
  runtime/redirector/forwarders.m4
Labels: comp:vm, project:valhalla

#20500 Add verbose to show more information for SCC CML test
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml
Labels: comp:vm, comp:test

#20479 Update disabled functional/Valhalla tests
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/NullRestrictedTypeOptTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#20473 Remove ValueTypeTests.testDefaultValueWithNonValueType
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#20495 Correct parsing for -Xgc:"tlhInitialSize and -Xgc:tlhMinimumSize
  runtime/gc_modron_startup/mmparseXgc.cpp
Labels: comp:gc

#20508 0.48.0 release note
  doc/release-notes/0.48/0.48.md
Labels: comp:doc

#20471 Force inline AbstractMemorySegmentImpl.reinterpret for getCallerClass optimization
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#20505 Use correct alignment checks for j9class and j9object
  runtime/gc_base/ObjectCheck.cpp
Labels: comp:gc

#20499 Clean up references to old opcodes
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/optimizer/IdiomRecognition.cpp
  runtime/compiler/optimizer/IdiomRecognition.hpp
  runtime/compiler/optimizer/IdiomTransformations.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Simplifier.cpp
  runtime/compiler/optimizer/SequentialStoreSimplifier.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9MemoryReference.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, tech debt

#20511 Prevent repeated comp requests when code caches are full
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#20387 Implement initial RAM class persistence feature
  buildenv/jenkins/variables/defaults.yml
  buildspecs/j9.flags
  runtime/cmake/caches/common.cmake
  runtime/cmake/options.cmake
  runtime/gc_modron_startup/mminit.cpp
  runtime/include/j9cfg.h.in
  runtime/j9vm/jvm.c
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/jcldefine.c
  runtime/jcl/common/stdinit.c
  runtime/oti/SnapshotFileFormat.h
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/j9port_generated.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/vm/CMakeLists.txt
  runtime/vm/KeyHashTable.c
  runtime/vm/ModularityHashTables.c
  runtime/vm/VMSnapshotImpl.cpp
  runtime/vm/VMSnapshotImpl.hpp
  runtime/vm/classsupport.c
  runtime/vm/createramclass.cpp
  runtime/vm/initsendtarget.cpp
  runtime/vm/intfunc.c
  runtime/vm/j9vm.tdf
  runtime/vm/jnimisc.cpp
  runtime/vm/jvminit.c
  runtime/vm/resolvefield.cpp
  runtime/vm/segment.c
Labels: comp:vm, comp:gc

#20528 valhalla enable methods for latest openjdk updates
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/PlatformMBeanProvider.java
Labels: comp:vm, project:valhalla

#20532 Remove vmSnapshotFilePath from J9SpecialArguments
  runtime/j9vm/jvm.c
Labels: comp:vm

#20544 0.48.0 release note-Minor correction
  doc/release-notes/0.48/0.48.md
Labels: comp:doc

#20549 Update identityHashCode() in System.java for Value type
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, project:valhalla

#20554 UMA: enable OMR_GC_SPARSE_HEAP_ALLOCATION as appropriate
  runtime/gc_glue_java/configure_includes/configure_common.mk.ftl
Labels: comp:gc

#20516 Track loaded classes with valid class chains
  runtime/compiler/build/files/common.mk.ftl
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/env/CMakeLists.txt
  runtime/compiler/env/DependencyTable.cpp
  runtime/compiler/env/DependencyTable.hpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/env/PersistentCollections.hpp
  runtime/compiler/env/SharedCache.hpp
Labels: comp:jit, comp:jit:aot

#20560 Add a test case for System.identityHashCode in Valhalla
  test/functional/Valhalla/src_lw5/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#20569 Make j9localmap_DebugLocalBitsForPC the default mapper
  runtime/vm/jvminit.c
Labels: comp:vm

#20573 Define system property jdk.debug from JDK_DEBUG_LEVEL
  runtime/vm/vmprops.c
Labels: comp:vm

#20552 Set java.lang.reflect.Field flags for value types
  runtime/jcl/common/reflecthelp.c
  runtime/oti/j9consts.h
Labels: comp:vm, project:valhalla

#20558 Missing null-restricted flag in MethodHandles initialization
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
Labels: comp:vm, project:valhalla

#20373 Add SVM AOT support for resolved invokeHandle/invokeDynamic dispatch
  doc/compiler/aot/RelocationRecords.md
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/il/J9StaticSymbol_inlines.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/p/runtime/PPCRelocationTarget.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/RelocationRuntime.hpp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
  runtime/compiler/z/codegen/S390AOTRelocation.cpp
  runtime/oti/shcflags.h
  runtime/shared_common/shrinit.cpp
  runtime/shared_common/shrinit.h
Labels: comp:vm, comp:jit, depends:omr, comp:jit:aot, project:MH

#20572 Update Eclipse OMR GitHub links to eclipse-omr organization
  CONTRIBUTING.md
  README.md
  buildenv/jenkins/README.md
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/jobs/infrastructure/omrMirror.groovy
  buildenv/jenkins/variables/defaults.yml
  doc/GuideForCommitters.md
  doc/README.md
  doc/build-instructions/cmake.md
  doc/compiler/README.md
  doc/compiler/memory/MemoryManager.md
  doc/compiler/optimizer/ControlFlowOptimizationsSummary.md
  doc/compiler/optimizer/EdoOptimization.md
  doc/compiler/optimizer/GlobalOptimizationsSummary.md
  doc/compiler/optimizer/LocalOptimizationsSummary.md
  doc/compiler/optimizer/LoopOptimizationSummary.md
  doc/compiler/optimizer/OptimizerDesignFeatures.md
  doc/compiler/optimizer/inlineFastPathLocations.md
  doc/compiler/osr/OSR.md
  doc/diagnostics/CallingConventions.md
  doc/diagnostics/VMState.md
  doc/release-notes/0.22/0.22.md
  doc/release-notes/0.25/0.25.md
  doc/release-notes/0.30/0.30.1.md
  doc/release-notes/0.33/0.33.md
  doc/release-notes/0.35/0.35.md
  doc/release-notes/0.36/0.36.md
  doc/release-notes/0.37/0.37.md
  doc/release-notes/0.38/0.38.md
  doc/release-notes/0.39/0.39.md
  doc/release-notes/0.40/0.40.md
  doc/release-notes/0.9/0.9.md
  jcl/src/openj9.dtfj/share/classes/com/ibm/jvm/j9/dump/indexsupport/NodeGPF.java
  runtime/CMakeLists.txt
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  test/functional/JIT_Test/src/jit/test/jitt/misc/SanityCompareAndBranch.java
  test/functional/JIT_Test/src/jit/test/ra/TestOOLSpill31Bit.java
Labels: comp:doc, comp:build

#20582 Fix build break in JDK8,11 due to undefined targetMethodFromMemberName
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
Labels: comp:jit, comp:jit:aot

#20583 Update getModifiers() test for syntheticClass
  test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/Test_Class.java
Labels: comp:test

#20406 AArch64: Implement arraytranslateTRTO255
  runtime/compiler/aarch64/runtime/CMakeLists.txt
  runtime/compiler/build/files/host/aarch64.mk
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit, arch:aarch64, depends:omr:breaking

#20525 x86: Increase inline reference arraycopy threshold
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:x86, depends:omr:breaking

#20521 Clean up references to old opcodes
  runtime/compiler/optimizer/IdiomTransformations.cpp
  runtime/compiler/optimizer/SequentialStoreSimplifier.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9MemoryReference.cpp
  runtime/compiler/z/codegen/J9MemoryReference.hpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, depends:omr, tech debt

#20427 Add tests for JIT arraytranslate
  test/functional/JIT_Test/playlist.xml
  test/functional/JIT_Test/src/jit/test/tr/arrayTranslate/ArrayTranslateTest.java
  test/functional/JIT_Test/testng.xml
Labels: comp:test, comp:jit

#20584 Don't use <fieldalias> for java/lang/reflect/Field.flags
  runtime/jcl/common/reflecthelp.c
  runtime/oti/vmconstantpool.xml
Labels: comp:vm, project:valhalla

#20492 Clean up ConstantPoolClassSlotIterator class
  runtime/gc_structs/ConstantPoolClassSlotIterator.cpp
  runtime/gc_structs/ConstantPoolClassSlotIterator.hpp
Labels: comp:gc

#20566 Support JEP491 (Part 1)
  jcl/src/java.base/share/classes/java/lang/Object.java
  jcl/src/java.base/share/classes/java/lang/PinnedThreadPrinter.java
  jcl/src/java.base/share/classes/java/lang/ref/Reference.java
  jcl/src/java.base/share/classes/java/lang/ref/ReferenceQueue.java
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.cpp
  runtime/jvmti/jvmtiHelpers.cpp
  runtime/oti/jvmtiInternal.h
  runtime/redirector/forwarders.m4
Labels: comp:vm

#20586 Support JEP 486: Permanently Disable the Security Manager
  jcl/src/java.base/share/classes/com/ibm/oti/util/ExternalMessages-MasterIndex.properties
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/java.base/share/classes/java/security/AccessControlContext.java
  jcl/src/java.base/share/classes/java/security/AccessController.java
  runtime/jcl/common/java_lang_Class.cpp
  runtime/oti/vmconstantpool.xml
Labels: comp:vm, jdk24

#20588 Clean up references to old opcodes
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Simplifier.cpp
Labels: comp:jit, tech debt

#20553 Fix array and memory segment access in VectorAPIExpansion
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#20581 Add storage, retrieval of AOT method dependencies
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/runtime/J9Runtime.hpp
Labels: comp:jit:aot

#20585 AArch64: Implement arrayTranslateTRTO
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit, arch:aarch64, depends:omr:breaking

#20608 Fix incorrect preprocessor conditional
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#20600 JDK24 removes AccessControlContext references
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk24

#20605 Move CRaCMXBeanImpl and export jdk.crac.management
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ManagementUtils.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/PlatformMBeanProvider.java
  jcl/src/jdk.management/share/classes/jdk/crac/management/CRaCMXBean.java
  jcl/src/jdk.management/share/classes/jdk/crac/management/internal/CRaCMXBeanImpl.java
  jcl/src/jdk.management/share/classes/module-info.java.extra
Labels: comp:vm, criu

#20622 Pull cuda image from nvcr
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#20630 Don't use Offheap APIs for 32 bit
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
Labels: comp:gc

#20631 Disable JFR JCL APIs
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, jfr

#20633 (0.49) Pull cuda image from nvcr
  buildenv/jenkins/common/build.groovy
Labels: comp:build

#20614 Reset trampoline pointers to top of space
  runtime/compiler/runtime/J9CodeCache.cpp
Labels: comp:jit

#20634 (0.49) Fix conditon in JFR buffer test
  runtime/vm/jfr.cpp
Labels: comp:vm, jfr

#20599 Track methods with AOT bodies with dependencies
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/env/DependencyTable.cpp
  runtime/compiler/env/DependencyTable.hpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
Labels: comp:jit:aot

#20650 Remove ORBBase, ORBVMHelpers from OpenJ9 builds
  jcl/src/java.base/share/classes/com/ibm/oti/vm/ORBBase.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/ORBVMHelpers.java
Labels: comp:vm

#20649 (0.49) Recent JFR fixes
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/vm/JFRConstantPoolTypes.cpp
  runtime/vm/jfr.cpp
Labels: comp:vm, jfr

#20655 Remove functions no longer used by Java 24+
  runtime/j9vm/exports.cmake
  runtime/j9vm/j7vmi.c
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/vmi.c
  runtime/oti/sunvmi_api.h
  runtime/redirector/forwarders.m4
  runtime/sunvmi/sunvmi.c
Labels: comp:vm

#20604 Add OpenJ9DiagnosticsMXBean.getDumpOptions
  jcl/src/jdk.management/share/classes/openj9/lang/management/OpenJ9DiagnosticsMXBean.java
  jcl/src/jdk.management/share/classes/openj9/lang/management/internal/OpenJ9DiagnosticsMXBeanImpl.java
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestOpenJ9DiagnosticsMXBean.java
Labels: comp:vm

#20391 Add native method stubs of jdk.jfr.internal.JVM on different versions
  runtime/jcl/CMakeLists.txt
  runtime/jcl/common/jdk_jfr_internal_JVM_common.cpp
  runtime/jcl/common/jdk_jfr_internal_JVM_jdk11.cpp
  runtime/jcl/common/jdk_jfr_internal_JVM_jdk17.cpp
  runtime/jcl/common/jdk_jfr_internal_JVM_jdk17andUp.cpp
  runtime/jcl/common/jdk_jfr_internal_JVM_jdk21andUp.cpp
  runtime/jcl/common/jdk_jfr_internal_JVM_jdk23.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/module.xml
  runtime/jcl/uma/jfr_jdk11_exports.xml
  runtime/jcl/uma/jfr_jdk17_exports.xml
  runtime/jcl/uma/jfr_jdk21_exports.xml
  runtime/jcl/uma/jfr_jdk23_exports.xml
  runtime/jcl/uma/jfr_objects.xml
Labels: comp:vm, jfr

#20648 Extract copy/free arrayCritical code from StandardAccessBarrier
  runtime/gc_base/ObjectAccessBarrier.cpp
  runtime/gc_base/ObjectAccessBarrier.hpp
  runtime/gc_modron_standard/StandardAccessBarrier.cpp
Labels: comp:gc

#20638 Fix TimeUtilities thread number counting synchronization
  test/functional/TestUtilities/src/org/openj9/test/util/TimeUtilities.java
Labels: comp:test, criu

#20517 CRIU jvmtiHookVMRestoreStartAgent() requires internalEnterVMFromJNI()
  runtime/jvmti/jvmtiHook.c
Labels: comp:vm, criu

#20652 Ignore class loading errors in LoadableDescriptors
  runtime/vm/createramclass.cpp
Labels: comp:vm, project:valhalla

#20647 Add a setting file to control options used in Java16andUp tests
  test/functional/Java16andUp/java16andUpSettings.mk
  test/functional/Java16andUp/playlist.xml
Labels: comp:test, project:valhalla

#20651 Update RealtimeAccessBarrier to use common apis for copy arrayCritical
  runtime/gc_realtime/ConfigurationRealtime.cpp
  runtime/gc_realtime/RealtimeAccessBarrier.cpp
  runtime/nls/j9gc/j9modron.nls
Labels: comp:gc

#20643 Add j9gc_get_cumulative_class_unloading_stats()
  runtime/gc/gctable.c
  runtime/gc_base/ClassLoaderManager.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_base/modronapi.cpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc, depends:omr

#20637 Track method dependencies during AOT store compilations
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/compile/AOTClassInfo.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jit:aot

#20513 Clean up ConstantPoolObjectSlotIterator class
  runtime/gc_structs/ConstantPoolObjectSlotIterator.cpp
  runtime/gc_structs/ConstantPoolObjectSlotIterator.hpp
Labels: comp:gc

#20654 Cache unresolvedInCP at the JIT Server
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/net/CommunicationStream.hpp
Labels: comp:jitserver

#20578 Move setmemoryEvaluator() from OMR to Openj9
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.hpp
Labels: comp:jit, arch:power, depends:omr:breaking

#20670 (0.49) Add JFR InitialEnvironmentVariable support
  runtime/vm/JFRChunkWriter.cpp
  runtime/vm/JFRChunkWriter.hpp
Labels: comp:vm, jfr

#20660 (0.49) Add native method stubs of jdk.jfr.internal.JVM on different versions
  runtime/jcl/CMakeLists.txt
  runtime/jcl/common/jdk_jfr_internal_JVM_common.cpp
  runtime/jcl/common/jdk_jfr_internal_JVM_jdk11.cpp
  runtime/jcl/common/jdk_jfr_internal_JVM_jdk17.cpp
  runtime/jcl/common/jdk_jfr_internal_JVM_jdk17andUp.cpp
  runtime/jcl/common/jdk_jfr_internal_JVM_jdk21andUp.cpp
  runtime/jcl/common/jdk_jfr_internal_JVM_jdk23.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/module.xml
  runtime/jcl/uma/jfr_jdk11_exports.xml
  runtime/jcl/uma/jfr_jdk17_exports.xml
  runtime/jcl/uma/jfr_jdk21_exports.xml
  runtime/jcl/uma/jfr_jdk23_exports.xml
  runtime/jcl/uma/jfr_objects.xml
Labels: jfr

#20664 (0.49) CRIU jvmtiHookVMRestoreStartAgent() requires internalEnterVMFromJNI()
  runtime/jvmti/jvmtiHook.c
Labels: comp:vm, criu

#20659 (0.49) Fix TimeUtilities thread number counting synchronization
  test/functional/TestUtilities/src/org/openj9/test/util/TimeUtilities.java
Labels: comp:test, criu

#20666 Remove unresolvedInCP param from createResolvedMethodFromJ9Method
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
Labels: comp:jit

#20675 (0.49) Add j9gc_get_cumulative_class_unloading_stats()
  runtime/gc/gctable.c
  runtime/gc_base/ClassLoaderManager.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_base/modronapi.cpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#20672 (0.49) Replace sprintf with snprintf in many places
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/DLLMain.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9CompilationStrategy.cpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/annotations/Annotations.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/IdiomRecognition.cpp
  runtime/compiler/optimizer/IdiomTransformations.cpp
  runtime/compiler/ras/kca_offsets_generator.cpp
  runtime/compiler/runtime/GPUHelpers.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/JITServerROMClassHash.cpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/MetaDataDebug.cpp
  runtime/exelib/common/libhlp.c
  runtime/vm/JFRChunkWriter.hpp
  runtime/vm/linearswalk.c
Labels: comp:vm

#20642 Don't assume lockword of class is at index 0
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
Labels: comp:vm, project:valhalla

#20667 Use indent size rather than buffer for printing bytecodes
  runtime/compiler/runtime/MetaDataDebug.cpp
  runtime/j9vm/javanextvmi.cpp
  runtime/oti/util_api.h
  runtime/util/bcdump.c
Labels: comp:jit, depends:omr:breaking

#20686 Add support for class lookup by name in CP for JITServer/AOT
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
Labels: comp:jitserver, comp:jit:aot

#20613 Stop recognizing UTF16_Encoder.encodeUTF16 methods
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  runtime/compiler/build/files/host/p.mk
  runtime/compiler/build/files/host/x.mk
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/p/runtime/CMakeLists.txt
  runtime/compiler/p/runtime/J9PPCEncodeUTF16.spp
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
  runtime/compiler/x/runtime/.gitignore
  runtime/compiler/x/runtime/CMakeLists.txt
  runtime/compiler/x/runtime/X86EncodeUTF16.nasm
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
Labels: comp:jit, arch:power, arch:x86, arch:z, depends:omr:breaking

#20703 (0.49) Track method dependencies during AOT store compilations
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/compile/AOTClassInfo.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/runtime/RelocationRecord.cpp
  runtime/compiler/runtime/RelocationRecord.hpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jit:aot

#20653 X: Remove popcnt specialization
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.hpp
  runtime/compiler/x/env/J9CPU.cpp
  runtime/compiler/x/env/J9CPU.hpp
Labels: comp:jit, arch:x86, depends:omr:breaking, tech debt

#20696 Restrict special handling of MemorySegment methods to only the getters and setters
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#20717 JDK24 removes SecurityConstants.GET_CLASSLOADER_PERMISSION
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodTypeHelper.java
Labels: comp:vm, jdk24
