Repository eclipse-openj9/openj9, pull requests merged in 2024-03, with the labels that each got.

#19040 (0.44) Recognize StringCoding.implEncodeAsciiArray() as a converter method
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#19044 Fix transformIndexOfKnownString to handle 8bit characters properly
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit

#18996 AttachAPI updates control file access time for long running applications
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/IPC.java
Labels: comp:vm

#19058 (0.44.0) AttachAPI updates control file access time for long running applications
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/CommonDirectory.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/IPC.java
Labels: comp:vm

#19056 (0.44) Fix transformIndexOfKnownString to handle 8bit characters properly
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit

#19051 CRIU time compensation tests reset TestResult.lockStatus
  test/functional/cmdLineTests/criu/src/org/openj9/criu/CRIUTestUtils.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/JDK11UpTimeoutAdjustmentTest.java
Labels: comp:test, criu

#19062 Move CRaC tests to separate suite
  test/functional/JLM_Tests/build.xml
  test/functional/JLM_Tests/playlist.xml
  test/functional/JLM_Tests/testng-crac.xml
  test/functional/JLM_Tests/testng.xml
Labels: comp:test

#19070 TGC allocation stats per thread
  runtime/gc_trace/TgcAllocation.cpp
Labels: comp:gc

#19072 Add missing critical section to deserializer reset
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
Labels: comp:jitserver

#19071 Do not throw in ClassLoaderTable
  runtime/compiler/env/ClassLoaderTable.cpp
Labels: comp:jitserver

#19065 Recompile the outermost method in JIT dump when compilation crashes
  runtime/compiler/control/JitDump.cpp
Labels: comp:jit, comp:ras

#19069 AttachAPI jcmd supports VMID query via Java process display names
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jcmd.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Util.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJcmd.java
Labels: comp:vm, depends:doc

#19093 AArch64: Accelerate StringLatin1.inflate
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#19088 Ensure Client UID is different on restore
  runtime/compiler/control/OptionsPostRestore.cpp
Labels: comp:jitserver, criu

#19096 Remove duplicate typeoverride entries
  runtime/ddr/vmddrstructs.properties
Labels: comp:vm

#19053 Check if block frequency info exist before generating test
  runtime/compiler/optimizer/JProfilingRecompLoopTest.cpp
  runtime/compiler/optimizer/JProfilingRecompLoopTest.hpp
  runtime/compiler/optimizer/JProfilingValue.cpp
Labels: comp:jit

#19089 (0.44) AttachAPI jcmd supports VMID query via Java process display names
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jcmd.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Util.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJcmd.java
Labels: comp:vm

#18904 JIT must narrow byte/short/char before storing
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#19108 (0.44) JIT must narrow byte/short/char before storing
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/compile/J9SymbolReferenceTable.hpp
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#19117 Exclude JCL_TEST_Java-Security on AIX
  test/functional/Java8andUp/playlist.xml
Labels: comp:test

#19111 Delete vlog in criuCatVlog.sh
  test/functional/cmdLineTests/criu/criuCatVlog.sh
Labels: comp:test, comp:jitserver, criu

#19063 Correct memorypool usage calculating for GMP case
  runtime/gc_vlhgc/HeapRegionManagerVLHGC.cpp
  runtime/gc_vlhgc/HeapRegionManagerVLHGC.hpp
Labels: comp:gc

#18917 Use isNativeLoaded when checking if CRIU and CRaC are enabled
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
Labels: comp:vm, criu

#18532 CRIU Restore Softmx Functional Tests
  test/functional/cmdLineTests/criu/criuSoftmxScript.sh
  test/functional/cmdLineTests/criu/criu_softmx.xml
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/SoftmxTest.java
Labels: comp:test, comp:gc

#19066 Add Extension Class Loader to permanent roots
  runtime/gc_api/HeapRootScanner.cpp
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/RootScanner.hpp
  runtime/gc_glue_java/MarkingDelegate.cpp
  runtime/gc_glue_java/MarkingDelegate.hpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/gc_glue_java/MetronomeDelegate.hpp
  runtime/gc_vlhgc/ClassLoaderRememberedSet.cpp
  runtime/gc_vlhgc/ClassLoaderRememberedSet.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
Labels: comp:gc

#19107 Add dedicated health port for JITServer
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/LoadSSLLibs.cpp
  runtime/compiler/net/LoadSSLLibs.hpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/runtime/MetricsServer.cpp
  test/functional/JIT_Test/src/jit/test/jitserver/JITServerTest.java
  test/functional/cmdLineTests/criu/criuJitServerScript.sh
  test/functional/cmdLineTests/jitserver/jitserverArgumentTesting.xml
  test/functional/cmdLineTests/jitserver/jitserverScript.sh
Labels: comp:doc, comp:jitserver

#19146 (0.44) Do not throw in ClassLoaderTable
  runtime/compiler/env/ClassLoaderTable.cpp
Labels: comp:jitserver

#19147 (0.44) Add missing critical section to deserializer reset
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
Labels: comp:jitserver

#19141 Replace omrvm to javavm for RootScanner class
  runtime/gc_base/ReferenceChainWalker.cpp
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/RootScanner.hpp
  runtime/gc_glue_java/MarkingSchemeRootClearer.cpp
  runtime/gc_glue_java/ScavengerRootClearer.cpp
  runtime/gc_glue_java/ScavengerRootClearer.hpp
  runtime/gc_modron_standard/RootScannerReadBarrierVerifier.cpp
  runtime/gc_realtime/RealtimeMarkingSchemeRootClearer.hpp
  runtime/gc_realtime/RealtimeRootScanner.cpp
  runtime/gc_realtime/RealtimeRootScanner.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
Labels: comp:gc

#19150 (0.44) Update CRaC options
  jcl/src/java.base/share/classes/jdk/crac/Core.java
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
Labels: comp:vm, criu

#19149 (0.44) Add ghost file limit API
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/SystemCheckpointException.java
  runtime/jcl/common/criu.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  test/functional/cmdLineTests/criu/cracScript.sh
  test/functional/cmdLineTests/criu/criuScript.sh
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/CRIUTestUtils.java
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestGhostFile.java
Labels: comp:vm, comp:test, criu

#19145 JDK23 adds Access.addEnableNativeAccess(moduleLayer, moduleName)
  jcl/src/java.base/share/classes/java/lang/Access.java
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/java11vmi.c
  runtime/j9vm/javanextvmi.cpp
  runtime/j9vm/module.xml
  runtime/redirector/forwarders.m4
Labels: comp:vm, jdk-head

#19160 (0.44.0) Add dedicated health port for JITServer
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/LoadSSLLibs.cpp
  runtime/compiler/net/LoadSSLLibs.hpp
  runtime/compiler/runtime/Listener.cpp
  runtime/compiler/runtime/MetricsServer.cpp
  test/functional/JIT_Test/src/jit/test/jitserver/JITServerTest.java
  test/functional/cmdLineTests/criu/criuJitServerScript.sh
  test/functional/cmdLineTests/jitserver/jitserverArgumentTesting.xml
  test/functional/cmdLineTests/jitserver/jitserverScript.sh
Labels: comp:jitserver

#19142 Ensure visibility of post-<init> field values for StringBuffer/Builder
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#19134 CRIU Restore Softmx Functional Tests
  test/functional/cmdLineTests/criu/criuSoftmxScript.sh
  test/functional/cmdLineTests/criu/criu_softmx.xml
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/SoftmxTest.java
Labels: comp:test

#19158 Replace omrvm to javavm for RootScanner class
  runtime/gc_base/ReferenceChainWalker.cpp
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/RootScanner.hpp
  runtime/gc_glue_java/MarkingSchemeRootClearer.cpp
  runtime/gc_glue_java/ScavengerRootClearer.cpp
  runtime/gc_glue_java/ScavengerRootClearer.hpp
  runtime/gc_modron_standard/RootScannerReadBarrierVerifier.cpp
  runtime/gc_realtime/RealtimeMarkingSchemeRootClearer.hpp
  runtime/gc_realtime/RealtimeRootScanner.cpp
  runtime/gc_realtime/RealtimeRootScanner.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
Labels: comp:gc

#18906 Fix wrong memoryPool names of memory usage in GCInfo
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedGarbageCollectorMXBeanImpl.java
Labels: comp:vm, comp:gc

#19133 Enable per-connection JITServer AOT cache disabling
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/J9PersistentInfo.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
Labels: comp:jitserver

#19036 Rework post-restore faiure paths
  runtime/oti/j9nonbuilder.h
  runtime/vm/CRIUHelpers.cpp
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestCRIUFailurePath.java
Labels: comp:vm, criu

#19168 (0.44) Correct memorypool usage calculating for GMP case
  runtime/gc_vlhgc/HeapRegionManagerVLHGC.cpp
  runtime/gc_vlhgc/HeapRegionManagerVLHGC.hpp
Labels: comp:gc

#19183 Correctly disable Java21andUp JVMTI tests for JDK8
  test/functional/cmdLineTests/jvmtitests/build.xml
Labels: comp:test

#19185 Fallback to UTF8 converting command line arguments
  runtime/vm/vmprops.c
Labels: comp:vm

#18965 Enable VectorAPI in Java 22
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#19190 Minor improvements to vmprops.c
  runtime/vm/vmprops.c
Labels: comp:vm

#19192 (0.44) Enable VectorAPI in Java 22
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#19194 Define OpenSSL error constant if not present
  runtime/compiler/net/LoadSSLLibs.hpp
Labels: comp:jitserver

#19171 Exclude cmdLineTester_loadLibraryTests on Windows jdk22+
  test/functional/cmdLineTests/loadLibraryTest/playlist.xml
Labels: comp:test

#19198 Disable CRIU failure paths test
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
Labels: comp:test

#19182 (0.44) Refuse to generate array class serialization records
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/JITServerAOTCache.cpp
Labels: comp:jitserver

#19178 (0.44) Rework post-restore faiure paths
  runtime/oti/j9nonbuilder.h
  runtime/vm/CRIUHelpers.cpp
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestCRIUFailurePath.java
Labels: comp:vm, comp:test, criu

#19209 JDK23 adds java.lang.Access.allowSecurityManager()
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, jdk23

#19187 Avoid heap walk and GC for MemberName fix-up on class redefinition
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/uma/java_lang_invoke_MethodHandleNatives_exports.xml
  runtime/jvmti/jvmtiClass.c
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/util_api.h
  runtime/util/hshelp.c
  runtime/vm/createramclass.cpp
  runtime/vm/jvminit.c
Labels: comp:vm

#19212 Add JFR flags
  buildspecs/core.feature
  buildspecs/j9.flags
  runtime/cmake/options.cmake
  runtime/include/j9cfg.h.in
Labels: comp:vm

#18892 Set default values for implicit value classes
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/createramclass.cpp
Labels: comp:vm, project:valhalla

#19087 Refactor SFFF for InterpreterEmulator and record/replay InterpreterEmulator constants
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/compile/J9Compilation.hpp
  runtime/compiler/compile/J9SymbolReferenceTable.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9KnownObjectTable.cpp
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/HCRGuardAnalysis.cpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/InterpreterEmulator.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
  runtime/compiler/optimizer/OSRGuardInsertion.cpp
  runtime/compiler/optimizer/StringPeepholes.cpp
Labels: comp:jit, depends:omr

#19222 Add default: label to a switch statement
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#19229 (0.44) Refactor virtual thread inspector access
  runtime/j9vm/javanextvmi.cpp
  runtime/jcl/common/jclcinit.c
  runtime/jcl/common/thread.cpp
  runtime/jvmti/CMakeLists.txt
  runtime/jvmti/jvmtiForceEarlyReturn.cpp
  runtime/jvmti/jvmtiHelpers.cpp
  runtime/jvmti/jvmtiLocalVariable.cpp
  runtime/jvmti/jvmtiStackFrame.cpp
  runtime/jvmti/jvmtiThread.cpp
  runtime/jvmti/jvmti_internal.h
  runtime/jvmti/suspendhelper.cpp
  runtime/oti/VMHelpers.hpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/ContinuationHelpers.cpp
Labels: comp:vm

#19230 Fix virtual thread interrupts
  runtime/jvmti/jvmtiHelpers.cpp
  runtime/oti/VMHelpers.hpp
Labels: comp:vm

#19235 (0.44) Add JFR flags
  buildspecs/core.feature
  buildspecs/j9.flags
  runtime/cmake/options.cmake
  runtime/include/j9cfg.h.in
Labels: comp:vm

#19226 Relax condition on JITServer rememberClass assert
  runtime/compiler/env/J9SharedCache.cpp
Labels: comp:jitserver

#19233 Relax condition on JITServer rememberClass assert (0.44)
  runtime/compiler/env/J9SharedCache.cpp
Labels: comp:jitserver

#19157 Refactor Checkpoint/Restore Code into its own class
  doc/compiler/control/CheckpointRestoreCoordination.md
  runtime/compiler/build/files/common.mk
  runtime/compiler/control/CMakeLists.txt
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/OptionsPostRestore.hpp
  runtime/compiler/runtime/CMakeLists.txt
  runtime/compiler/runtime/CRRuntime.cpp
  runtime/compiler/runtime/CRRuntime.hpp
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit, criu

#19101 Cache compInfoPT in JITServer deserializer SCC interface
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
Labels: comp:jitserver

#18808 x86: Remove deprecated TR_EnableNewX86PrefetchTLH
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/x/codegen/AllocPrefetchSnippet.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/runtime/X86Codert.nasm
Labels: comp:jit, arch:x86

#19245 AttachAPI Jcmd retry attaching in case of SocketException
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/attacher/AttacherDiagnosticsProvider.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jcmd.java
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Util.java
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJcmd.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJps.java
  test/functional/Java9andUp/playlist.xml
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/AttachApiTest.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/TargetManager.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/TargetVM.java
Labels: comp:vm, comp:test, depends:doc
