Repository eclipse-openj9/openj9, pull requests merged in 2024-08, with the labels that each got.

#19938 Verification check for invokeinterface receiver
  runtime/bcverify/rtverify.c
Labels: comp:vm

#19958 Revert "Adjust arguments to Unsafe array operations while offheap is enabled"
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
Labels: comp:jit

#19949 Adds FSD check to jitClassRedefineEvent
  runtime/util/hshelp.c
Labels: comp:vm, comp:jit

#19946 0.47: Verification check for invokeinterface receiver
  runtime/bcverify/rtverify.c
Labels: comp:vm

#19963 (0.47) Fix build errors on Windows
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
Labels: comp:vm

#19937 Add support for structs in FFI Upcall on z/OS
  jcl/src/java.base/share/classes/jdk/internal/foreign/abi/UpcallLinker.java
  runtime/oti/FFIUpcallThunkGenHelpers.hpp
  runtime/vm/mz64/UpcallThunkGen.cpp
  runtime/vm/xz64/UpcallThunkGen.cpp
Labels: project:panama, os:zos

#19970 Updated 0.46.0 Release note with new features
  doc/release-notes/0.46/0.46.md
Labels: comp:doc

#19973 Changes for new/delete used by IProfiler
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: comp:jit

#19996 (0.47) Backport docker build support for x and p linux for jdk23
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, jdk23

#19990 Display ignored -Xjit and -Xaot args in IGNOREDARGS list
  runtime/rasdump/javadump.cpp
Labels: comp:vm, userRaised, comp:ras

#20007 Append /lib to LIBPATH if it is not present on z/OS Java 21+
  runtime/j9vm/jvm.c
Labels: comp:vm, os:zos

#20010 JDK24 adds JavaLangAccess.stringConcat1()
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk24

#19976 Install AOT methods into cold code
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: comp:jit, depends:omr

#19953 Fall back to out-of-line call to StringUTF16.toBytes
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#19927 Make offset from snippet to mainline code signed
  runtime/codert_vm/cnathelp.cpp
Labels: comp:jit

#19999 Allow JITServer to ignore line number requests
  doc/compiler/jitserver/Problem.md
  runtime/compiler/env/VMJ9Server.cpp
Labels: comp:jitserver

#20019 (0.47.0) Fall back to out-of-line call to StringUTF16.toBytes
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#20020 (0.48.0) Fall back to out-of-line call to StringUTF16.toBytes
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#20014 Backup and restore orignal LIBPATH on z/OS Java 21+
  runtime/j9vm/jvm.c
Labels: comp:vm, os:zos

#19997 Log local-following-remote compilations
  runtime/compiler/control/JITClientCompilationThread.cpp
Labels: comp:jitserver

#20001 Avoid vTableSlot assertion at JITServer client
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#20024 In IGNOREDARGS list -Xjit and -Xaot args will not be incorrectly listed as ignored
  runtime/rasdump/javadump.cpp
Labels: comp:vm, comp:jit

#20027 Disable TLH prefetching for portable AOT code
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
Labels: comp:jit, comp:jit:aot

#20000 Footprint Improvements under `-XX:+DebugOnRestore`
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/runtime/CRRuntime.cpp
  runtime/compiler/runtime/CRRuntime.hpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: comp:jit, criu

#20054 Fix JDK11 Windows compilation error
  runtime/j9vm/jvm.c
Labels: comp:vm

#20055 (0.48.0) Fix JDK11 Windows compilation error
  runtime/j9vm/jvm.c
Labels: comp:vm

#19988 [FFI] Avoid duplicating ffi_type for the same struct in downcall
  runtime/oti/j9nonbuilder.h
  runtime/vm/CMakeLists.txt
  runtime/vm/LayoutFFITypeHelpers.cpp
  runtime/vm/LayoutFFITypeHelpers.hpp
  runtime/vm/LayoutFFITypeTable.cpp
  runtime/vm/jvminit.c
  runtime/vm/vm_internal.h
Labels: comp:vm, project:panama

#20058 Adjust bound for out-of-line call to StringUTF16.toBytes
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#20061 JDK24 requires new JavaLangAccess.ensureNativeAccess()
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm, jdk24

#20072 [FFI/0.48] Avoid duplicating ffi_type for the same struct in downcall
  runtime/libffi/z/sysvz64.s
  runtime/oti/j9nonbuilder.h
  runtime/vm/CMakeLists.txt
  runtime/vm/LayoutFFITypeHelpers.cpp
  runtime/vm/LayoutFFITypeHelpers.hpp
  runtime/vm/LayoutFFITypeTable.cpp
  runtime/vm/jvminit.c
  runtime/vm/vm_internal.h
Labels: comp:vm, project:panama

#18288 Check if runtime array check is needed for Unsafe.setMemory() on PPC
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:power, depends:omr:breaking

#20077 [0.47.0] Adjust bound for out-of-line call to StringUTF16.toBytes
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#20078 [0.48.0] Adjust bound for out-of-line call to StringUTF16.toBytes
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#20080 [FFI/Test] Fix the wrong invocation on the native function in downcall
  runtime/tests/clinkerffi/CMakeLists.txt
  runtime/tests/clinkerffi/module.xml
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/DuplicateStructTests.java
  test/functional/Java21Only/src/org/openj9/test/jep442/downcall/DuplicateStructTests.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/DuplicateStructTests.java
Labels: comp:test, project:panama

#20082 [FFI/0.48] Fix the wrong invocation on the native function in downcall
  runtime/tests/clinkerffi/CMakeLists.txt
  runtime/tests/clinkerffi/module.xml
  test/functional/Java17andUp/src_170/org/openj9/test/jep389/downcall/DuplicateStructTests.java
  test/functional/Java21Only/src/org/openj9/test/jep442/downcall/DuplicateStructTests.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/DuplicateStructTests.java
Labels: comp:test, project:panama

#20068 Ensure deserializer class invalidation is complete
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
Labels: comp:jitserver

#20085 Correct "null restricted" to null-restricted
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/oti/vm_api.h
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ValueTypeHelpers.hpp
  test/functional/Valhalla/src_lw5/org/openj9/test/lworld/NullRestrictedTypeOptTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#20018 [FFI] Fix the issue with the struct FF/DD in upcall on z/OS
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/LayoutStrPreprocessor.java
  runtime/oti/j9nonbuilder.h
  runtime/vm/LayoutFFITypeHelpers.hpp
Labels: comp:vm, project:panama, os:zos

#20094 Wait up to 1 minute in JITServer test
  test/functional/JIT_Test/src/jit/test/jitserver/JITServerTest.java
Labels: comp:jitserver
