Repository eclipse-openj9/openj9, pull requests merged in 2024-07, with the labels that each got.

#19788 Eliminate redundant vlog lock
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#19794 (0.46) Add required options to failing HCR tests
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
Labels: comp:test

#19790 Remove JITHelpers.canEncodeAsLatin1() from Java 17+
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
Labels: comp:jit

#19770 Remove withfield/aconst_init from ValueTypeTests
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaUtils.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/DDRValueTypeTest.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#19803 Add a stub for JVM_IsContainerized
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.cpp
  runtime/redirector/forwarders.m4
Labels: comp:vm

#19798 Remove redundant comment line in header
  runtime/compiler/net/Message.cpp
Labels: comp:jitserver

#19797 Add override specifier to virtual declarations
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/runtime/RelocationRuntime.hpp
Labels: comp:jit, comp:jitserver

#19796 Modify static assert to be C++11 conformant
  runtime/compiler/runtime/MetricsServer.cpp
Labels: comp:jitserver

#19370 Skip zero init when copied array is the result of StringBuilder.toString
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#19674 Fix warnings in shared_common, libffi, tests/shared
  runtime/libffi/closures.c
  runtime/shared_common/CacheMap.cpp
  runtime/shared_common/ScopeManagerImpl.cpp
  runtime/shared_common/j9shr.tdf
  runtime/tests/shared/ByteDataTest.cpp
Labels: comp:vm

#19771 withfield/aconst_init/vnew vm removal
  runtime/bcutil/ClassFileOracle.cpp
  runtime/bcutil/ClassFileOracle.hpp
  runtime/bcutil/ConstantPoolMap.hpp
  runtime/bcutil/cfreader.c
  runtime/bcverify/rtverify.c
  runtime/bcverify/staticverify.c
  runtime/bcverify/vrfyhelp.c
  runtime/cfdumper/main.c
  runtime/codert_vm/cnathelp.cpp
  runtime/jcl/common/java_lang_Class.cpp
  runtime/jcl/common/reflecthelp.c
  runtime/oti/bcverify_api.h
  runtime/oti/cfr.h
  runtime/oti/cfreader.h
  runtime/oti/j9consts.h
  runtime/oti/j9modifiers_api.h
  runtime/util/bcdump.c
  runtime/util/bcnames.c
  runtime/util/romclasswalk.c
  runtime/verbose/errormessagehelper.c
  runtime/verutil/chverify.c
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm, project:valhalla

#19780 Add a NULL check for walkState->userData4
  runtime/vm/swalk.c
Labels: comp:vm

#19819 Add -XX:+EnableExtendedHCR to jvmtitests_hcr rc018, rtc001
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
Labels: comp:test

#19820 (0.46) Add -XX:+EnableExtendedHCR to addtional tests
  test/functional/JavaAgentTest/playlist.xml
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
Labels: comp:test

#19822 -XX:+EnableExtendedHCR TestRefreshGCSpecialClassesCache JIT_ON modes
  test/functional/JavaAgentTest/playlist.xml
Labels: comp:test

#19774 Throw IdentityException in monitorenter
  runtime/codert_vm/cnathelp.cpp
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/cfr.h
  runtime/oti/j9modifiers_api.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/jnicsup.cpp
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#19808 Use custom allocator for JITServer client MessageBuffers
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/PersistentAllocator.cpp
  runtime/compiler/env/PersistentAllocator.hpp
  runtime/compiler/net/MessageBuffer.cpp
  runtime/compiler/net/MessageBuffer.hpp
Labels: comp:jitserver

#19823 Revert "Reduce unnecessary TLS usage in JITServer code"
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9KnownObjectTable.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/J9Inliner.cpp
  runtime/compiler/runtime/JITServerIProfiler.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jitserver

#19769 Call getCpeTypeForProtocol only if URL is not cached
  runtime/jcl/common/shared.c
  runtime/jcl/j9jcl.tdf
Labels: comp:vm

#19799 Remove remaining q uses
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/SendSlot.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITStackWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ClassHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9IndexableObjectHelper.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9StaticsCommand.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/structureformat/extensions/J9ObjectStructureFormatter.java
  jcl/src/java.base/share/classes/java/lang/invoke/MethodTypeHelper.java
  runtime/codert_vm/thunkcrt.c
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/env/J2IThunk.cpp
  runtime/compiler/env/J2IThunk.hpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9ClassEnv.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/annotations/AnnotationBase.cpp
  runtime/compiler/env/j9fieldsInfo.cpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/il/J9SymbolReference.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/RuntimeAssumptions.cpp
  runtime/compiler/x/runtime/X86RelocationTarget.cpp
  runtime/gc_check/CheckEngine.cpp
  runtime/jcl/common/reflecthelp.c
  runtime/jit_vm/ctsupport.cpp
  runtime/oti/j9.h
  runtime/stackmap/stackmap.c
  runtime/verbose/errormessagehelper.c
  runtime/vm/ValueTypeHelpers.hpp
  runtime/vm/createramclass.cpp
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/FieldRef.java
Labels: comp:vm, comp:jit, project:valhalla

#19789 Fixes to code cache disclaiming
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/J9CodeCache.hpp
Labels: comp:jit

#19812 Remove remaining aconst_init, withfield, vnew refs
  debugtools/DDR_VM/data/superset-constants.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/BCNames.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/PCStack.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/VrfyTbl.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackmap/StackMap.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/RomClassWalker.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/ByteCodeDumper.java
  runtime/codert_vm/decomp.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/ilgen/J9ByteCode.hpp
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/J9ByteCodeIterator.cpp
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/jcl/common/java_lang_Class.cpp
  runtime/oti/bcnames.h
  runtime/oti/cfr.h
  runtime/stackmap/stackmap.c
  runtime/util/bcnames.c
  runtime/util/jbcmap.c
  runtime/util/pcstack.c
  runtime/util/rcdump.c
  runtime/util/sunbcrel.c
  runtime/util/vrfytbl.c
  runtime/vm/CRIUHelpers.cpp
Labels: comp:vm, comp:jit, project:valhalla

#19800 Do not update JVM CPU utilization too often
  runtime/compiler/env/CpuUtilization.cpp
  runtime/compiler/env/CpuUtilization.hpp
Labels: comp:jit

#19332 Extend arraycmp length child
  runtime/compiler/optimizer/IdiomTransformations.cpp
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit, depends:omr

#19832 Clarify which branches should be compared
  doc/GuideForCommitters.md
Labels: comp:doc

#19817 Remove J9ROMCLASS_IS_PRIMITIVE_VALUE_TYPE and J9AccPrimitiveValueType
  runtime/oti/j9javaaccessflags.h
  runtime/oti/j9modifiers_api.h
  runtime/vm/createramclass.cpp
Labels: comp:vm, project:valhalla

#11262 Add Fences after Volatile Field Stores
  runtime/compiler/runtime/Runtime.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
  runtime/compiler/z/codegen/J9UnresolvedDataSnippet.cpp
  runtime/compiler/z/codegen/J9UnresolvedDataSnippet.hpp
  runtime/compiler/z/runtime/PicBuilder.m4
Labels: comp:jit, arch:z

#19818 Re-enable and fix ValueTypeTests
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:test, project:valhalla

#19830 Class verification and ddr support for value types ACC_STRICT
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
  runtime/bcutil/cfreader.c
  runtime/bcverify/vrfyhelp.c
  runtime/cfdumper/main.c
  runtime/nls/cfre/cfrerr.nls
  runtime/oti/cfr.h
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, comp:test, project:valhalla

#19833 Fix romclass comparison and J9Class lookup given a romclass
  runtime/bcutil/ComparingCursor.cpp
  runtime/vm/exceptiondescribe.c
Labels: comp:vm

#19848 Change to sh clone with reference repo
  buildenv/jenkins/jobs/infrastructure/promote_repo.groovy
Labels: comp:build, comp:infra

#19850 Fix Internal Build Breaks caused by OMR 7349
  runtime/compiler/build/files/common.mk.ftl
Labels: comp:jit, blocker

#19851 Fix build errors on Windows
  runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp
Labels: comp:vm

#19834 Implement JVM_IsImplicitlyConstructibleClass
  runtime/j9vm/javanextvmi.cpp
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaAttributeTests.java
Labels: comp:vm, project:valhalla

#19645 Add support for FFI_TYPE_STRUCT_FF/DD on z/OS
  runtime/libffi/preconf/mz64/ffi.h
  runtime/libffi/z/ffi64.c
  runtime/libffi/z/sysvz64.s
  runtime/vm/LayoutFFITypeHelpers.cpp
  runtime/vm/LayoutFFITypeHelpers.hpp
  runtime/vm/OutOfLineINL_openj9_internal_foreign_abi_InternalDowncallHandler.cpp
Labels: project:panama, os:zos

#19824 JIT: Detect in-place redefinition based on J9JITRedefinedClass
  runtime/compiler/control/HookedByTheJit.cpp
  test/functional/JavaAgentTest/playlist.xml
Labels: comp:jit

#19815 x86: Inline reference system array copy for smaller size
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, depends:omr, arch:x86

#19701 Add FFI Upcall support on z/OS for primitives
  runtime/oti/FFIUpcallThunkGenHelpers.hpp
  runtime/vm/mz64/UpcallThunkGen.cpp
  runtime/vm/xz64/UpcallThunkGen.cpp
Labels: project:panama, os:zos

#19852 [FFI] Adjust the code with the release of the thunk heap
  runtime/oti/vm_api.h
  runtime/vm/UpcallThunkMem.cpp
  runtime/vm/jvminit.c
  runtime/vm/vm_internal.h
Labels: comp:vm, project:panama

#19563 Use RSSReport class
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/DataCache.cpp
  runtime/compiler/runtime/DataCache.hpp
  runtime/compiler/runtime/J9CodeCache.cpp
  runtime/compiler/runtime/J9CodeCacheManager.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:jit

#19858 Reduce unnecessary TLS usage in JITServer code (resubmission)
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ClassEnv.cpp
  runtime/compiler/env/J9KnownObjectTable.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/J9Inliner.cpp
  runtime/compiler/runtime/JITServerIProfiler.cpp
  runtime/compiler/runtime/RelocationRuntime.cpp
  runtime/compiler/runtime/SymbolValidationManager.cpp
  runtime/compiler/runtime/SymbolValidationManager.hpp
Labels: comp:jitserver

#19847 Send cached J9ROMClass hashes to JITServer
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
  runtime/compiler/runtime/JITServerSharedROMClassCache.cpp
  runtime/compiler/runtime/JITServerSharedROMClassCache.hpp
Labels: comp:jitserver

#19863 Do not look at JIT startup state for turning GCR on/off
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jitserver

#19856 Update _unionPropertyA assert
  runtime/compiler/il/J9Node.cpp
Labels: comp:jit

#19806 Improve JITServer AOT cache implementation portability
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTCache.hpp
  runtime/compiler/runtime/JITServerAOTSerializationRecords.hpp
Labels: comp:jitserver

#19895 Enforce maximum name size during class loading
  runtime/j9vm/j7vmi.c
  runtime/jcl/common/jcldefine.c
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9nonbuilder.h
  runtime/vm/classsupport.c
Labels: comp:vm

#19901 (0.47) Update VThread alive check to check continuation state
  runtime/jvmti/jvmtiHelpers.cpp
Labels: comp:vm

#19898 0.46: Enforce maximum name size during class loading
  runtime/j9vm/j7vmi.c
  runtime/jcl/common/jcldefine.c
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9nonbuilder.h
  runtime/vm/classsupport.c
Labels: comp:vm

#19905 0.47: Enforce maximum name size during class loading
  runtime/j9vm/j7vmi.c
  runtime/jcl/common/jcldefine.c
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9nonbuilder.h
  runtime/vm/classsupport.c
Labels: comp:vm

#19904 String.replaceAll() fast path must check regex is compressed
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#19907 (0.46) String.replaceAll() fast path must check regex is compressed
  jcl/src/java.base/share/classes/java/lang/String.java
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#19912 JDK24 removes JavaLangAccess.stringConcatHelperPrepend()
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk-head

#19877 Error if invokeinterface receiver is reference array
  runtime/bcverify/rtverify.c
  runtime/oti/bytecodewalk.h
Labels: comp:vm

#19915 Update Unsafe value type comments and Java methods
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
Labels: comp:vm, project:valhalla

#19861 JDK17+ JVM_LoadLibrary() opens shared library via J9PORT_SLOPEN_DECORATE
  runtime/j9vm/j9scar.tdf
  runtime/j9vm/jvm.c
Labels: comp:vm

#19921 (v0.47.0-release) JDK17+ JVM_LoadLibrary() opens shared library via J9PORT_SLOPEN_DECORATE
  runtime/j9vm/j9scar.tdf
  runtime/j9vm/jvm.c
Labels: comp:vm

#19924 Update com.ibm.autocvt to default to true unless file.encoding is set
  runtime/jcl/common/system.c
Labels: comp:vm, arch:z

#19928 JDK24 removes JavaLangAccess.stringSize(long)
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk24

#19918 Extract Thread Test to JDK 22 and under
  test/functional/Java8andUp/build.xml
  test/functional/Java8andUp/playlist.xml
  test/functional/Java8andUp/testng.xml
  test/functional/Java8andUp/testng_thread.xml
  test/functional/cmdLineTests/jvmtitests/build.xml
Labels: comp:test

#19917 Add triggerExecutionSample native
  .gitattributes
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/jcl/CMakeLists.txt
  runtime/jcl/common/com_ibm_oti_vm_VM.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/module.xml
  runtime/jcl/uma/jfr_exports.xml
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/vm/intfunc.c
  test/functional/cmdLineTests/jfr/build.xml
  test/functional/cmdLineTests/jfr/jfr.xml
  test/functional/cmdLineTests/jfr/metadata.blob
  test/functional/cmdLineTests/jfr/playlist.xml
  test/functional/cmdLineTests/jfr/src/org/openj9/test/TriggerExecutionSample.java
Labels: comp:vm

#19939 Remove unused J9GCVMInfo and J9GCThreadInfo
  runtime/gc_base/GCExtensions.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:vm, comp:gc
