Repository eclipse-openj9/openj9, pull requests merged in 2024-04, with the labels that each got.

#18794 Optimize primitive unboxing method calls
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#19255 (v0.44.0-release) FIPS disable JCL_TEST_Java-Security tests
  test/functional/Java8andUp/playlist.xml
Labels: comp:test

#19254 (v0.45.0-release) FIPS disable JCL_TEST_Java-Security tests
  test/functional/Java8andUp/playlist.xml
Labels: comp:test

#19252 Detect forward pointers in gc check for concurrent scavenge
  runtime/gc_check/CheckCycle.cpp
Labels: comp:gc

#19258 AttachApiTest runCommandAndLogOutput() recreates commandLineArgs
  jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Util.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJcmd.java
  test/functional/Java8andUp/src/org/openj9/test/attachAPI/TestJps.java
  test/functional/TestUtilitiesJ9/src/org/openj9/test/attachAPI/AttachApiTest.java
Labels: comp:test

#19257 Tweak inliner to improve compilation overhead
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#19214 Disclaim memory for metadata segments
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/runtime/CRRuntime.cpp
  runtime/compiler/runtime/DataCache.cpp
  runtime/compiler/runtime/DataCache.hpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
  runtime/vm/segment.c
Labels: comp:jit

#19268 Add "-Wc,list(),offset,gonumber" compile options on z/OS
  runtime/cmake/platform/os/zos.cmake
Labels: comp:build

#19270 Include missing header file Bytes.hpp
  runtime/compiler/runtime/DataCache.cpp
Labels: bug, comp:jit

#19260 Fix acquireVMaccessIfNeeded for Non-Compiler Threads
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#19259 Always send fresh AOT cache method to client
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/runtime/JITServerAOTCache.cpp
Labels: comp:jitserver

#19275 Include diagnostics in archive produced by jpackcore
  jcl/src/openj9.dtfj/share/classes/com/ibm/jvm/j9/dump/extract/Main.java
Labels: comp:vm

#19277 Set a higher ulimit -f setting for sigxfszHandlingTest
  test/functional/cmdLineTests/sigxfszHandlingTest/runSIGXFSZTest.sh
Labels: comp:test

#19278 AArch64: Remove unnecessary calls to target().is64Bit()
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#19285 Enable JIT breakpoint on macOS
  runtime/compiler/env/J9DebugEnv.cpp
Labels: comp:jit, os:macos

#19263 [FFI/JDK22] Handle the discontiguous heap array in downcall
  runtime/tests/clinkerffi/CMakeLists.txt
  runtime/tests/clinkerffi/downcall.c
  runtime/tests/clinkerffi/module.xml
  runtime/vm/ArrayCopyHelpers.cpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/CMakeLists.txt
  runtime/vm/jnimisc.cpp
  runtime/vm/vm_internal.h
  test/functional/Java22andUp/playlist.xml
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/HeapArrayTests1.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/HeapArrayTests2.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/StructTests1.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/StructTests2.java
  test/functional/Java22andUp/testng_220.xml
Labels: comp:vm, project:panama, jdk22

#19112 CRIU timer time compensation tests use TestResult.lockStatus
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/criu_nonPortableJDK11Up.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TimeChangeTest.java
Labels: comp:test, criu

#19287 Fix String creation to treat a modified UTF8 zero as ASCII
  runtime/gc_base/StringTable.cpp
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#19293 (0.44) Fix String creation to treat a modified UTF8 zero as ASCII
  runtime/gc_base/StringTable.cpp
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#19294 (0.45) Fix String creation to treat a modified UTF8 zero as ASCII
  runtime/gc_base/StringTable.cpp
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#19295 Make javaOffloadSwitch(On|Off)WithReason functions global
  runtime/vm/jnimisc.cpp
  runtime/vm/vm_internal.h
Labels: comp:vm

#19193 Release note for 0.44.0 release
  doc/release-notes/0.41/0.41.md
  doc/release-notes/0.44/0.44.md
Labels: comp:doc

#19306 [FFI/v0.45.0] Handle the discontiguous heap array in downcall
  runtime/tests/clinkerffi/CMakeLists.txt
  runtime/tests/clinkerffi/downcall.c
  runtime/tests/clinkerffi/module.xml
  runtime/vm/ArrayCopyHelpers.cpp
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/CMakeLists.txt
  runtime/vm/jnimisc.cpp
  runtime/vm/vm_internal.h
  test/functional/Java22andUp/playlist.xml
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/HeapArrayTests1.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/HeapArrayTests2.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/StructTests1.java
  test/functional/Java22andUp/src/org/openj9/test/jep454/downcall/StructTests2.java
  test/functional/Java22andUp/testng_220.xml
Labels: comp:vm, project:panama

#19307 [Verifier] Prevent displaying the garbage type on the empty stack
  runtime/bcverify/bcverify.c
  runtime/bcverify/rtverify.c
  runtime/verbose/errormessageframeworkrtv.c
Labels: comp:vm

#19281 Add test pipeline parameters
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
Labels: comp:test, comp:build

#19314 Add AOTCachePersistenceFailure, associated compErrCode
  runtime/compiler/compile/J9Compilation.cpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/control/rossa.h
  runtime/compiler/exceptions/PersistenceFailure.hpp
Labels: comp:jitserver

#19324 Cleaning arrayCopy.cpp
  runtime/gc_modron_startup/arrayCopy.cpp
Labels: comp:gc

#19297 Print footprint statistics using verbose #METHOD STATS
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit, depends:omr

#19327 Add j9protos.h to StringTable.hpp
  runtime/gc_base/StringTable.cpp
  runtime/gc_base/StringTable.hpp
Labels: comp:gc

#19312 AArch64: Fix BNDCHKwithSpineCHK
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#19316 Delay AOT validation until restore under -XX:+DebugOnRestore
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/VMJ9.cpp
Labels: comp:jit, comp:jit:aot, criu

#19337 jdk11 should create LATIN1 String constants
  runtime/gc_base/StringTable.cpp
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#19338 Clean up MM_ClassLoaderManager class
  runtime/gc_base/ClassLoaderManager.cpp
  runtime/gc_base/ClassLoaderManager.hpp
Labels: comp:gc

#19347 (0.45) jdk11 should create LATIN1 String constants
  runtime/gc_base/StringTable.cpp
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#19348 (0.44) jdk11 should create LATIN1 String constants
  runtime/gc_base/StringTable.cpp
  test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java
Labels: comp:vm

#19335 JDK23 JavaLangAccess APIs updates
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk23

#19350 set test_keep_reportdir to true for extended.functional
  buildenv/jenkins/variables/defaults.yml
Labels: comp:test, comp:build

#19346 Improve code cache allocation time
  runtime/compiler/runtime/J9CodeCacheManager.cpp
Labels: comp:jit

#19353 Temporarily exclude tests failing on jdk23
  test/functional/Java9andUp/playlist.xml
  test/functional/cmdLineTests/reflectCache/playlist.xml
Labels: comp:test

#19358 Disable javac server on ppc64_aix
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#19362 Rework processing of Java system properties in java.lang.ClassLoader
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  test/functional/cmdLineTests/reflectCache/playlist.xml
Labels: comp:vm

#19345 Remove unnecessary spaces in MM_ClassloaderManager class
  runtime/gc_base/ClassLoaderManager.cpp
Labels: comp:gc

#19341 Fixup stack references of unmounted continuation for scavenge backout
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/RootScanner.hpp
  runtime/gc_glue_java/ScavengerBackOutScanner.cpp
  runtime/gc_glue_java/ScavengerBackOutScanner.hpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_glue_java/ScavengerRootClearer.hpp
Labels: comp:gc

#19374 JDK23 update Blocker.begin()/end()
  jcl/jpp_configuration.xml
  jcl/src/java.base/share/classes/java/lang/Object.java
Labels: comp:vm, jdk23

#19359 Ignore loading errors during value class preload
  runtime/vm/createramclass.cpp
Labels: comp:vm, project:valhalla

#19381 Remove @return tags for functions that don't return anything
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/aix/AIX64DumpReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ddrinteractive/Table.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/Aix64Dump.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/GenericThread.java
  jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/phd/PHDJavaHeap.java
  jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/infocommands/InfoClassCommand.java
  runtime/jcl/common/mgmtthread.c
  runtime/tests/jvmtitests/agent/message.c
  runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/getConstantPool/gcp001.c
  runtime/util/hshelp.c
  sourcetools/j9constantpool/com/ibm/oti/VMCPTool/Main.java
  test/functional/Java8andUp/src/org/openj9/test/fileLock/TestFileLocking.java
Labels: comp:vm, comp:test

#19383 fix typo in logger info
  test/Utils/src/org/openj9/test/util/IncludeExcludeTestAnnotationTransformer.java
Labels: comp:test

#19379 Fix JITServer AOT cache compilation retry logic
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/MethodToBeCompiled.cpp
  runtime/compiler/control/MethodToBeCompiled.hpp
Labels: comp:jitserver

#19387 Use standard get_source.sh options
  buildenv/jenkins/variables/defaults.yml
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V21.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:build

#19388 (0.45) Fixup stack references of unmounted continuation for scavenge backout
  runtime/gc_base/RootScanner.cpp
  runtime/gc_base/RootScanner.hpp
  runtime/gc_glue_java/ScavengerBackOutScanner.cpp
  runtime/gc_glue_java/ScavengerBackOutScanner.hpp
  runtime/gc_glue_java/ScavengerDelegate.cpp
  runtime/gc_glue_java/ScavengerRootClearer.hpp
Labels: comp:gc

#19391 Possible fix for perf regression
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
Labels: comp:vm

#19393 VMWare support is not open source, clarify Hypervisor/Guest MXBean
  jcl/src/jdk.management/share/classes/com/ibm/virtualization/management/GuestOSMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/virtualization/management/GuestOSMemoryUsage.java
  jcl/src/jdk.management/share/classes/com/ibm/virtualization/management/GuestOSProcessorUsage.java
  jcl/src/jdk.management/share/classes/com/ibm/virtualization/management/HypervisorMXBean.java
Labels: comp:vm, comp:doc

#19375 Fix the VarHandle test for JDK23
  test/functional/Java9andUp/playlist.xml
  test/functional/Java9andUp/src/org/openj9/test/varhandle/VarHandleUtilTests.java
Labels: comp:test

#19394 Avoid AccessControlException in com.ibm.jvm.Dump.<clinit>
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Dump.java
Labels: comp:vm

#19407 (0.45) Avoid AccessControlException in com.ibm.jvm.Dump.<clinit>
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Dump.java
Labels: comp:vm

#19414 Delete only datasets created from JVM crashes
  buildenv/jenkins/jobs/infrastructure/Cleanup-Nodes.groovy
Labels: comp:build

#19415 Fix fatal assertion in class loader table during class unload
  runtime/compiler/env/ClassLoaderTable.cpp
Labels: comp:jitserver

#19416 TGC alloc non-tlh per thread
  runtime/gc_trace/TgcAllocation.cpp
Labels: comp:gc
