Repository eclipse-openj9/openj9, pull requests merged in 2024-01, with the labels that each got.

#18656 Shut down ROM class cache if purging all clients
  runtime/compiler/runtime/JITClientSession.cpp
Labels: comp:jitserver

#18443 UMA: Use DWARF version 4 on Linux
  runtime/makelib/targets.mk.linux.inc.ftl
Labels: comp:vm, comp:build

#18688 Add a NULL check on threadObject in destroyThreadData
  runtime/jvmti/jvmtiHook.c
Labels: comp:vm

#18682 Perform lastLoopVersioner only if we can afford the extra CPU consump…
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/optimizer/J9Optimizer.cpp
Labels: comp:jit, depends:omr

#18668 Exclude jvmtitests_hcr rc021
  test/functional/cmdLineTests/jvmtitests/jvmtitests_hcr.xml
Labels: comp:test

#18709 Need to define OMRZTPF guard macro to openJ9 UMA build for z/TPF
  runtime/makelib/targets.mk.ftl
Labels: comp:build

#18710 Remove JVM_SupportsCX8() from Java 22+
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9scar.tdf
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/jvm.c
  runtime/redirector/forwarders.m4
  runtime/sunvmi/sunvmi.tdf
Labels: comp:vm

#18218 Add Unmounted Thread info to javacore
  runtime/oti/j9dump.h
  runtime/oti/jvminit.h
  runtime/rasdump/dmpsup.c
  runtime/rasdump/javadump.cpp
Labels: comp:vm, depends:doc, comp:ras

#18692 (0.43) Add -XX:[+|-]ShowUnmountedThreadStacks option
  runtime/oti/j9dump.h
  runtime/oti/jvminit.h
  runtime/rasdump/dmpsup.c
  runtime/rasdump/javadump.cpp
Labels: comp:vm, comp:ras

#18716 JDK23 adds PinnedThreadPrinter.(out, reason, printAll)
  jcl/src/java.base/share/classes/java/lang/PinnedThreadPrinter.java
Labels: comp:vm, jdk-head, jdk23

#18684 Automatically retain JNI IDs when AsyncGetCallTrace is used
  runtime/j9vm/asgct.cpp
  runtime/oti/j9consts.h
  runtime/oti/j9nonbuilder.h
  runtime/vm/classallocation.c
  runtime/vm/jvminit.c
Labels: comp:vm

#18714 Support reimplemented MethodHandleProxies.asInterfaceInstance
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/defineclass.c
Labels: comp:vm, jdk22

#18643 Recognize AArch64 in traceformat
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/format/ProcessorSection.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/trace/format/api/ProcessorSection.java
  runtime/oti/j9port.h
  runtime/port/unix/j9sysinfo.c
  runtime/rastrace/trclog.c
Labels: comp:vm, arch:aarch64

#18585 Fix erroneously large section size in ROM walk
  runtime/util/romclasswalk.c
Labels: comp:vm

#18568 Visit certain unvisited ROMClass header slots
  runtime/util/romclasswalk.c
Labels: comp:vm

#18724 Update OpenSSL to include the fix for CVE-2023-6129
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#18722 JDK23 Thread.blockedOn(Interruptible) changed to static
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk23

#18728 Update the Windows build instructions for VS2022
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#18740 Remove unused function JVM_RegisterUnsafeMethods()
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9scar.tdf
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/jvm.c
  runtime/redirector/forwarders.m4
  runtime/sunvmi/sunvmi.tdf
Labels: comp:vm

#18733 Remove Class.isUnnamedClass() from Java 22+
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: jdk-head, jdk22

#18648 Recognize AArch64 and RISC-V in DDR TraceFileHeaderWriter
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ddrinteractive/commands/TraceFileHeaderWriter.java
Labels: arch:aarch64, arch:riscv

#18736 Fix asm.jar path mismatch in valuetype tests
  test/functional/cmdLineTests/valuetypeddrtests/build.xml
  test/functional/cmdLineTests/valuetypeddrtests/playlist.xml
Labels: comp:test, project:valhalla

#18746 Docker: add support for Ubuntu 22.04
  buildenv/docker/mkdocker.sh
Labels: comp:build

#18744 Add aarch64_mac_ojdk292 spec
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#18741 Make JVM_VirtualThreadDisableSuspend() available for jdk22
  runtime/j9vm/exports.cmake
  runtime/j9vm/j9vmnatives.xml
  runtime/j9vm/javanextvmi.cpp
  runtime/j9vm/module.xml
  runtime/redirector/forwarders.m4
Labels: comp:vm

#18743 Disable simplifying j9Class to j.l.Class to j9Class
  runtime/compiler/optimizer/J9Simplifier.cpp
Labels: comp:jit

#18747 [0.43.0] Disable simplifying j9Class to j.l.Class to j9Class
  runtime/compiler/optimizer/J9Simplifier.cpp
Labels: comp:jit

#18597 valuetypeddrtests with Valhalla lw5
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/J9ObjectFieldOffsetIterator_V1.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/ObjectFieldInfo.java
  runtime/vm/createramclass.cpp
  test/functional/Valhalla/playlist.xml
  test/functional/cmdLineTests/valuetypeddrtests/flattened32bitRefBackfillTest.xml
  test/functional/cmdLineTests/valuetypeddrtests/flattenedvaluetypeddrtests_lw5.xml
  test/functional/cmdLineTests/valuetypeddrtests/unflattenedvaluetypeddrtests.xml
Labels: comp:test, project:valhalla

#18737 Update build instructions for gcc 11, and 10.3 for Aarch64 Linux
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V21.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#18759 Update OpenSSL to include the fix for CVE-2023-6237
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#18760 (0.43) Update OpenSSL to include CVE-2023-6129, CVE-2023-6237
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#18762 (0.43) Eliminate dark matter before determining classes to recreate
  runtime/jvmti/jvmtiClass.c
Labels: comp:vm

#18754 Check null value and null object ref in zero flattened field count
  runtime/compiler/ilgen/Walker.cpp
  test/functional/Valhalla/playlist.xml
Labels: comp:jit, project:valhalla

#18729 Add stat tracking for JITServer LPQ compilations
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jitserver

#18766 Use jdk21 to build jdk21 and later versions
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#18770 (0.43) Use jdk21 to build jdk21 and later versions
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#18769 (0.43) Don't cache instances of TemporaryLoggerFinder for jdk21
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#18745 CRIU removes libj9criu29
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  runtime/CMakeLists.txt
  runtime/criusupport/CMakeLists.txt
  runtime/criusupport/exports.cmake
  runtime/criusupport/j9criu.tdf
  runtime/criusupport/module.xml
  runtime/criusupport/uma/criusupport_exports.xml
Labels: comp:vm, criu

#18785 Update CRIU version to 3.18 in NOTICES
  NOTICES.md
Labels: comp:doc

#18786 (0.43) Update CRIU version to 3.18 in NOTICES
  NOTICES.md
Labels: comp:doc

#18784 Fix the zlib copyright to match the 1.2.13 version
  LICENSE
  longabout.html
  runtime/include/about.html
Labels: comp:doc

#18787 (0.43) Fix the zlib copyright to match the 1.2.13 version
  LICENSE
  longabout.html
  runtime/include/about.html
Labels: comp:doc

#18768 Don't cache instances of TemporaryLoggerFinder for jdk21
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#18797 Fix interpretation of compressed strings
  runtime/jcl/common/jclreflect.c
  runtime/jvmti/jvmtiHeap.c
  runtime/vm/KeyHashTable.c
  runtime/vm/stringhelpers.cpp
Labels: comp:vm

#18798 (0.43) Fix interpretation of compressed strings
  runtime/jcl/common/jclreflect.c
  runtime/jvmti/jvmtiHeap.c
  runtime/vm/KeyHashTable.c
  runtime/vm/stringhelpers.cpp
Labels: comp:vm

#18792 Ensure ROM class cache shutdown is necessary
  runtime/compiler/runtime/JITClientSession.cpp
Labels: comp:jitserver

#18793 Fix Inlining Bugs
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/runtime/J9ValueProfiler.hpp
Labels: comp:jit

#18627 CRIU adds jdk.crac APIs
  jcl/src/java.base/share/classes/jdk/crac/CheckpointException.java
  jcl/src/java.base/share/classes/jdk/crac/Context.java
  jcl/src/java.base/share/classes/jdk/crac/Core.java
  jcl/src/java.base/share/classes/jdk/crac/Resource.java
  jcl/src/java.base/share/classes/jdk/crac/RestoreException.java
  jcl/src/java.base/share/classes/jdk/crac/package-info.java
  jcl/src/java.base/share/classes/module-info.java.extra
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/gc_modron_startup/mminit.cpp
  runtime/gc_modron_startup/mmparseXgcpolicy.cpp
  runtime/jcl/common/criu.cpp
  runtime/jcl/exports.cmake
  runtime/jcl/module.xml
  runtime/jcl/uma/crac_exports.xml
  runtime/nls/j9vm/j9vm.nls
  runtime/oti/j9.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/j9vm.tdf
  runtime/vm/jvminit.c
  test/functional/cmdLineTests/criu/build.xml
  test/functional/cmdLineTests/criu/cracScript.sh
  test/functional/cmdLineTests/criu/criu_nonPortable_jdk_crac.xml
  test/functional/cmdLineTests/criu/playlist.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/TestJDKCRAC.java
Labels: comp:vm, criu

#18674 Coordinate IProfiler Thread across a Checkpoint/Restore
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: comp:jit, criu

#18814 Do not add LambdaForm classes to SCC with OJDK MHs
  runtime/bcutil/ROMClassBuilder.cpp
  runtime/bcutil/ROMClassCreationContext.hpp
  runtime/jcl/common/jcldefine.c
Labels: comp:vm, project:MH

#18303 Add helper functions for off heap technology changes
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9ObjectModel.cpp
  runtime/compiler/env/J9ObjectModel.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/J9TransformUtil.hpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/gc/gctable.c
  runtime/gc_base/gc_internal.h
  runtime/gc_modron_startup/mmhelpers.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc, comp:jit

#18673 Support the new changes to the VirtualThread states
  runtime/jvmti/jvmtiHelpers.cpp
  runtime/oti/jvmtiInternal.h
  test/functional/Java21andUp/src/org/openj9/test/jep425/VirtualThreadTests.java
Labels: comp:vm, project:loom, comp:jvmti, jdk21, jdk22, jdk23

#18826 Remove javadoc tables used for code examples
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/JvmCpuMonitorMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/OperatingSystemMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/virtualization/management/GuestOSMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/virtualization/management/HypervisorMXBean.java
  jcl/src/jdk.management/share/classes/openj9/lang/management/OpenJ9DiagnosticsMXBean.java
Labels: comp:doc

#18824 Update OpenSSL to include the fix for CVE-2024-0727
  buildenv/jenkins/variables/defaults.yml
Labels: comp:openssl

#18830 Add -XX:+/-DebugOnRestore JVM option
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
  runtime/vm/jvminit.c
Labels: comp:vm, depends:doc, criu

#18827 Fix JITServer bug related to ChangesCurrentThread annotation
  runtime/compiler/env/j9methodServer.cpp
Labels: comp:jitserver

#18821 Modify SCC queries to take non-persistent parameters
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
Labels: comp:jit:aot

#18755 Enable OpenJDK VarHandle call chain inlining
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/optimizer/MethodHandleTransformer.cpp
Labels: comp:jit, project:MH

#18843 Revert "Modify SCC frontend to take class parameter"
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
Labels: comp:jitserver

#18850 (0.43) Remove javadoc tables used for code examples
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/JvmCpuMonitorMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/OperatingSystemMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/virtualization/management/GuestOSMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/virtualization/management/HypervisorMXBean.java
  jcl/src/jdk.management/share/classes/openj9/lang/management/OpenJ9DiagnosticsMXBean.java
Labels: comp:doc

#18851 Update internal getMethodHelpers unnamed classes
  jcl/src/java.base/share/classes/java/lang/Class.java
  runtime/jcl/common/java_lang_Class.cpp
Labels: comp:vm

#18847 Modify SCC frontend to take class parameter
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
  runtime/compiler/codegen/J9AheadOfTimeCompile.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/J9SharedCache.cpp
  runtime/compiler/env/J9SharedCache.hpp
  runtime/compiler/env/SharedCache.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
Labels: comp:jit:aot

#18849 Remove redundant newline in JITServer log message
  runtime/compiler/runtime/JITClientSession.cpp
Labels: comp:jitserver
