Repository eclipse-openj9/openj9, pull requests merged in 2025-10, with the labels that each got.

#22701 Generate debug counters for unrefined `MethodHandle.invokeBasic`/`linkTo`
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit, project:MH

#22639 Add extra logging when compilationHeapLimitExceeded occurs
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#22709 Remove xxxObject methods from jdk.internal.misc.Unsafe for jdk23+
  jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
  runtime/oti/jclprots.h
  runtime/vm/bindnatv.cpp
  test/functional/UnsafeTest/build.xml
  test/functional/UnsafeTest/src_11/org/openj9/test/unsafe/TestUnsafeAccess.java
  test/functional/UnsafeTest/src_11/org/openj9/test/unsafe/TestUnsafeAccessOpaque.java
  test/functional/UnsafeTest/src_11/org/openj9/test/unsafe/TestUnsafeAccessOrdered.java
  test/functional/UnsafeTest/src_11/org/openj9/test/unsafe/TestUnsafeAccessVolatile.java
  test/functional/UnsafeTest/src_11/org/openj9/test/unsafe/TestUnsafeCompareAndExchange.java
  test/functional/UnsafeTest/src_11/org/openj9/test/unsafe/TestUnsafeCompareAndSet.java
  test/functional/UnsafeTest/src_11/org/openj9/test/unsafe/TestUnsafeGetAndOp.java
  test/functional/UnsafeTest/src_11/org/openj9/test/unsafe/UnsafeTestBase.java
  test/functional/UnsafeTest/src_25/org/openj9/test/unsafe/TestUnsafeAccess.java
  test/functional/UnsafeTest/src_25/org/openj9/test/unsafe/TestUnsafeAccessOpaque.java
  test/functional/UnsafeTest/src_25/org/openj9/test/unsafe/TestUnsafeAccessOrdered.java
  test/functional/UnsafeTest/src_25/org/openj9/test/unsafe/TestUnsafeAccessVolatile.java
  test/functional/UnsafeTest/src_25/org/openj9/test/unsafe/TestUnsafeCompareAndExchange.java
  test/functional/UnsafeTest/src_25/org/openj9/test/unsafe/TestUnsafeCompareAndSet.java
  test/functional/UnsafeTest/src_25/org/openj9/test/unsafe/TestUnsafeGetAndOp.java
  test/functional/UnsafeTest/src_25/org/openj9/test/unsafe/UnsafeTestBase.java
  test/functional/cmdLineTests/reflectCache/src_15/test/reflectCache/Test_ReflectCache.java
Labels: comp:vm

#22718 Write to the verbose log when purging the compilation queue
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit, comp:ras

#22737 Delete SoftmxRemoteTest, which is disabled and never worked
  test/TestConfig/resources/excludes/latest_exclude_8.txt
  test/functional/JLM_Tests/playlist.xml
  test/functional/JLM_Tests/src/j9vm/test/softmx/RemoteTestServer.java
  test/functional/JLM_Tests/src/j9vm/test/softmx/SoftmxRemoteTest.java
  test/functional/JLM_Tests/testng.xml
Labels: comp:test

#22739 Delete excluded InterruptNotifyWaitTest
  test/functional/VM_Test/j9vm.xml
  test/functional/VM_Test/src/j9vm/test/thread/InterruptNotifyWaitTest.java
Labels: comp:test

#22548 Z: Inline any length 2d array allocation
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:z
