Repository eclipse-openj9/openj9, pull requests merged in 2025-02, with the labels that each got.

#21042 JDK 24 remove java.security.AccessController.doPrivileged part 1
  jcl/src/java.base/share/classes/com/ibm/oti/util/Msg.java
  jcl/src/java.base/share/classes/com/ibm/oti/util/PriviAction.java
  jcl/src/java.base/share/classes/com/ibm/oti/util/RuntimePermissions.java
  jcl/src/java.base/share/classes/com/ibm/oti/vm/BootstrapClassLoader.java
  jcl/src/java.base/share/classes/java/lang/Access.java
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  jcl/src/java.base/share/classes/java/lang/RuntimePermission.java
  jcl/src/java.base/share/classes/java/lang/System.java
  jcl/src/java.base/share/classes/java/lang/ref/Reference.java
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/Attachment.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticProperties.java
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/FilelockTimer.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/LoggingMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ThreadMXBeanImpl.java
  jcl/src/java.management/share/classes/java/lang/management/OperatingSystemMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/PlatformLoggingMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/RuntimeMXBean.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9AttachProvider.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/MemoryMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/ThreadMXBean.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedMemoryMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedOperatingSystemMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedThreadInfoImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/MemoryNotificationThread.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/OperatingSystemNotificationThread.java
  jcl/src/jdk.management/share/classes/com/sun/management/internal/GcInfoUtil.java
  jcl/src/jdk.management/share/classes/openj9/lang/management/OpenJ9DiagnosticsMXBean.java
  jcl/src/jdk.management/share/classes/openj9/lang/management/internal/OpenJ9DiagnosticsMXBeanImpl.java
Labels: comp:vm, jdk24

#21053 Retry failed profiled very-hot compilations at hot instead of warm
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#21060 Bundle OpenSSL in all platforms
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#21058 CRIU DeadlockTest adds thread synchronization to keep the lock
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/DeadlockTest.java
Labels: comp:test, criu

#21050 Track JIT body invalidation reasons as bit flags
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9CompilationStrategy.cpp
  runtime/compiler/control/J9CompilationStrategy.hpp
  runtime/compiler/control/J9Recompilation.cpp
  runtime/compiler/control/J9Recompilation.hpp
  runtime/compiler/control/OptionsPostRestore.cpp
  runtime/compiler/control/RecompilationInfo.hpp
  runtime/compiler/control/rossa.cpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/runtime/RuntimeAssumptions.cpp
Labels: comp:jit, depends:omr:breaking

#21065 Add new presetations and articles to README
  README.md
Labels: comp:doc

#21052 Vectorize Vector API intrisics if operands are known
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#21068 Include J9VMInternals_doPrivileged methods for Java 8 Windows only
  runtime/j9vm/j7vmi.c
Labels: comp:vm

#21003 Document the JIT bootstrap process
  doc/compiler/README.md
  doc/compiler/runtime/Bootstrap.md
Labels: comp:jit, comp:doc

#21074 Fix filtering of events that trigger dumps
  runtime/rasdump/trigger.c
Labels: comp:vm

#21073 Add synchronization for Class.allPermissionsPD
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#21070 JFR can invoke VM.setJFRRecordingFileName() before VM.startJFR()
  jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/DiagnosticUtils.java
  runtime/vm/jfr.cpp
Labels: comp:vm, jfr

#21077 Use a nested holder class to store allPermissionsPD
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#21075 Add functions to GC Table to return min and max young gen size
  runtime/gc/gctable.c
  runtime/gc_base/gc_internal.h
  runtime/gc_base/modronapi.cpp
  runtime/gc_base/modronapi.hpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#21063 Force outlining for array EA API
  runtime/oti/j9accessbarrier.h
  runtime/oti/j9accessbarrierhelpers.h
Labels: comp:vm, comp:gc

#21083 Add 'lowCodeCacheFreeSpace' field to J9JITConfig
  runtime/compiler/runtime/J9CodeCacheManager.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:vm, comp:jit

#21085 Explicitly load libcrypto for JITServer
  runtime/compiler/net/LoadSSLLibs.cpp
Labels: comp:jitserver

#21089 Remove support for the obsolute uma and cm spec suffixes
  buildenv/jenkins/README.md
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/jobs/infrastructure/wrapper_variables.yml
Labels: comp:build

#21092 Fix build doc, Windows doesn't need --disable-warnings-as-errors
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V21.md
Labels: comp:doc

#21067 Reduce the number of VM_isStable messages
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerHelpers.cpp
  runtime/compiler/control/JITServerHelpers.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/optimizer/J9TransformUtil.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: depends:omr, comp:jitserver

#21098 Consolidating two thrstatetests
  test/functional/NativeTest/nativeTestSettings.mk
  test/functional/NativeTest/playlist.xml
Labels: comp:test

#21112 Add forward declaration to avoid compiler warnings
  runtime/oti/util_api.h
Labels: comp:vm

#21012 AArch64: NULL initialize dataAddr field for 0 size arrays
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#21090 CRIU DeadlockTest adds thread synchronization to prevent premature exit
  test/functional/cmdLineTests/criu/criu_nonPortable.xml
  test/functional/cmdLineTests/criu/src/org/openj9/criu/DeadlockTest.java
Labels: comp:test, criu

#21093 New unsafe method stubs for ValueTypes
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
Labels: comp:vm, project:valhalla

#21123 Reduce number of VM_getReferenceSlotsInClass messages for JITServer
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#21108 Defer dataAddr eval & use mainline store for nullSource OffHeap x86 ArrayStoreCHK
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#21131 Reset errorTargetFrameIndex at the begining of bytecode verification
  runtime/bcverify/bcverify.c
Labels: comp:vm

#20999 Fast Path Math.min/max_F/D
  runtime/compiler/p/codegen/J9CodeGenerator.cpp
Labels: comp:jit, arch:power

#21005 Change return type of getStringUTF8Length
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/StringBuilderTransformer.cpp
Labels: comp:jit, depends:omr

#21135 Link j9jit library without execstack flag on Linux
  runtime/compiler/CMakeLists.txt
Labels: comp:jit

#21116 Remove unnecessary includes of CS2 headers
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/infra/J9Cfg.cpp
  runtime/compiler/infra/J9Cfg.hpp
  runtime/compiler/optimizer/EscapeAnalysis.cpp
  runtime/compiler/optimizer/IdiomRecognition.cpp
  runtime/compiler/optimizer/IdiomTransformations.cpp
  runtime/compiler/optimizer/J9SimplifierHandlers.cpp
  runtime/compiler/optimizer/MonitorElimination.cpp
  runtime/compiler/optimizer/SPMDParallelizer.cpp
  runtime/compiler/optimizer/SequentialStoreSimplifier.cpp
  runtime/compiler/z/codegen/J9MemoryReference.cpp
Labels: comp:jit

#21125 Replace deprecated wmic with powershell command to getPid
  test/functional/cmdLineTests/runtimemxbeanTests/getPidTest.pl
Labels: comp:test

#20891 CRIU DebugOnRestore mode is disabled when debug events are hooked
  runtime/jvmti/j9jvmti.tdf
  runtime/jvmti/jvmtiCapability.c
  runtime/jvmti/jvmtiHook.c
  runtime/jvmti/jvmtiStartup.c
  runtime/jvmti/jvmti_internal.h
  runtime/oti/j9nonbuilder.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
  runtime/vm/intfunc.c
Labels: comp:vm, criu

#21144 Don't use adjacancy check for arraylets in WOC fixup
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
Labels: comp:gc

#21145 Expand expected range for MAXIMUM_TEXTURE1D_LINEAR_WIDTH
  runtime/tests/port/j9cudaTest.c
Labels: comp:test

#21146 Should-be-adjacent vs is-adjacent data API cleanup
  runtime/gc_base/IndexableObjectAllocationModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_glue_java/ArrayletObjectModelBase.cpp
Labels: comp:gc

#21151 Report non-vectorized Vector API intrinsics
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#20867 Recognize StringLatin1.inflate([BI[BII)V
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.hpp
  runtime/compiler/p/codegen/J9TreeEvaluator.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: comp:jit, depends:omr

#21140 Update the DIA include in the doc for building Windows jdk8
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#21113 Add criu_set_tcp_close and criu_set_tcp_skip_in_flight to support API
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
  runtime/jcl/common/criu.cpp
  runtime/oti/j9nonbuilder.h
  runtime/oti/jclprots.h
  runtime/oti/vm_api.h
  runtime/vm/CRIUHelpers.cpp
Labels: comp:vm, criu

#20691 x86: Respect disableAVX2/512 options and check XCR0 for OS support
  runtime/compiler/env/ProcessorDetection.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/env/J9CPU.cpp
Labels: comp:jit, depends:omr, arch:x86

#21162 [JDK25] Add a stub for JVMTI ClearAllFramePops
  runtime/jvmti/j9jvmti.tdf
  runtime/jvmti/jvmtiFunctionTable.c
  runtime/jvmti/jvmtiStackFrame.cpp
  runtime/jvmti/jvmti_internal.h
Labels: comp:vm, jdk25

#21087 Allow length 0 in arrayTranslateTRTO for Power
  runtime/compiler/p/runtime/J9PPCArrayTranslate.spp
Labels: comp:jit, arch:power

#21120 x86: zero high bits of vector register in vector hashCode
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#19880 j9vm31 Open XL support
  runtime/j9vm31/CMakeLists.txt
  runtime/j9vm31/j9cel4ro64.c
  runtime/j9vm31/j9vm31floatstubs.s
Labels: comp:vm, arch:z

#21172 Remove obsolete system property file.encoding.pkg in jdk11+
  jcl/src/java.base/share/classes/java/lang/System.java
Labels: comp:vm

#21170 Set OSX argument encoding default to UTF-8 to match ri
  runtime/vm/vmprops.c
Labels: comp:vm

#21164 RootScanner awareness for array displacement API
  runtime/compiler/runtime/MethodMetaData.c
  runtime/gc_base/ObjectAccessBarrier.hpp
  runtime/gc_base/RootScanner.hpp
  runtime/gc_base/accessBarrier.cpp
  runtime/gc_base/gc_internal.h
  runtime/gc_glue_java/ArrayletObjectModel.cpp
  runtime/gc_glue_java/ArrayletObjectModel.hpp
  runtime/gc_realtime/RealtimeAccessBarrier.hpp
  runtime/gc_structs/VMThreadStackSlotIterator.cpp
  runtime/gc_structs/VMThreadStackSlotIterator.hpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.cpp
  runtime/gc_vlhgc/VLHGCAccessBarrier.hpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc, comp:jit

#21171 Narrow scope of TR::StackMemoryRegion during SPMD parallelization
  runtime/compiler/optimizer/SPMDParallelizer.cpp
Labels: comp:jit

#21115 OpenJDK java/foreign/TestLinker crash fix
  jcl/src/java.base/share/classes/openj9/internal/foreign/abi/LayoutStrPreprocessor.java
  runtime/vm/OutOfLineINL_openj9_internal_foreign_abi_InternalDowncallHandler.cpp
Labels: comp:vm

#21136 Disable javap -bootclasspath test in LockWordAlignment for JDK24+
  test/functional/cmdLineTests/lockWordAlignment/exclude.xml
  test/functional/cmdLineTests/lockWordAlignment/playlist.xml
Labels: comp:test

#21174 Update the build doc troubleshooting links
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V21.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#21169 Use debug utility to print TR_YesNoMaybe
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit, depends:omr

#21167 Move location of incGlobalClassUnloadID()
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit

#21202 Remove unused function declaration
  runtime/jcl/common/stdinit.c
Labels: comp:vm

#21196 Fix assertion in WriteOnceCompactor stackslot process
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.hpp
Labels: comp:gc

#21203 Stub JVM_GetProperties for jdk17+
  runtime/j9vm/exports.cmake
  runtime/j9vm/java11vmi.c
  runtime/redirector/forwarders.m4
Labels: comp:vm

#21217 (0.51) Fix JFR checkpoint delta error
  runtime/vm/JFRChunkWriter.cpp
Labels: comp:vm, jfr

#20821 Enable off-heap as default on Balanced GC
  runtime/gc_base/GCExtensions.hpp
  runtime/gc_modron_startup/mmparseXXgc.cpp
  runtime/gc_realtime/ConfigurationRealtime.cpp
  runtime/gc_vlhgc/ConfigurationIncrementalGenerational.cpp
Labels: comp:gc

#21223 Stub JVM_GetProperties for jdk17+
  runtime/j9vm/exports.cmake
  runtime/j9vm/java11vmi.c
  runtime/redirector/forwarders.m4
Labels: comp:vm

#21231 Fix a memory leak in a corner case j9sysinfo_get_env("PATH") failed
  runtime/util/vmargs.c
Labels: comp:vm

#21232 GetObjectMonitorUsage waiter lists should be null for 0 waiters
  runtime/jvmti/jvmtiObject.c
Labels: comp:vm
