Repository eclipse-openj9/openj9, pull requests merged in 2025-06, with the labels that each got.

#21555 Replace isdigit with OMR_ISDIGIT
  runtime/cfdumper/romdump.c
  runtime/compiler/il/J9DataTypes.cpp
  runtime/jcl/common/jcltrace.c
  runtime/rastrace/trccomponent.c
  runtime/rastrace/trcoptions.c
  runtime/redirector/redirector.c
  runtime/util_core/j9argscan.c
Labels: comp:vm

#21622 Clean up comp->cg()
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#22008 Remove TR::Options::INLINE_failedToDevirtualize usage
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit

#22006 setWarmCallGraphTooBig() creates IProfiler entry if needed
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#21975 Read Barrier bytes stats
  runtime/gc_modron_standard/StandardAccessBarrier.cpp
Labels: comp:gc, depends:omr

#22025 JDK25 adds JVM_CreateThreadSnapshot, removes isCarrierThreadLocalPresent
  jcl/src/java.base/share/classes/java/lang/Access.java
  runtime/j9vm/exports.cmake
  runtime/j9vm/javanextvmi.cpp
  runtime/redirector/forwarders.m4
Labels: comp:vm, jdk25

#21960 Add NULL check for moduleObject in GC
  runtime/gc_base/RootScanner.cpp
  runtime/gc_glue_java/ConcurrentMarkingDelegate.cpp
  runtime/gc_glue_java/MarkingDelegate.cpp
  runtime/gc_glue_java/MetronomeDelegate.cpp
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/GlobalMarkCardScrubber.cpp
  runtime/gc_vlhgc/GlobalMarkingScheme.cpp
  runtime/gc_vlhgc/WriteOnceCompactor.cpp
Labels: comp:gc

#22036 Separate side-effects from tracepoint use
  runtime/j9vm/java11vmi.c
Labels: comp:vm

#21992 Suppress getDeclaringClassFromFieldOrStatic() in JITServer non-SVM AOT
  runtime/compiler/env/j9methodServer.cpp
Labels: comp:jitserver, comp:jit:aot

#22028 Defer generating dereference of vft-symbol in JProfilingValue
  runtime/compiler/optimizer/JProfilingValue.cpp
Labels: comp:jit

#22055 [v0.53.0] Defer generating dereference of vft-symbol in JProfilingValue
  runtime/compiler/optimizer/JProfilingValue.cpp
Labels: comp:jit

#22062 Fix crash with -Xjit:disableKnownObjectTable
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#22067 Add build support for jdk25 and 26
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/variables/defaults.yml
  jcl/jpp_configuration.xml
  test/TestConfig/resources/excludes/latest_exclude_26.txt
  test/functional/cmdLineTests/jvmtitests/jvmtitests_excludes_26.xml
Labels: comp:vm, comp:build

#22072 JDK26 JavaLangAccess adds decodeASCII(), removes uncheckedDecodeASCII()
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk-head

#22049 Pass VENDOR_CODE parameters to build jobs
  buildenv/jenkins/common/build.groovy
  buildenv/jenkins/common/pipeline-functions.groovy
  buildenv/jenkins/common/variables-functions.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy
  buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy
Labels: comp:build

#22084 Remove unnecessary bootjdk urls from defaults.yml
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#22009 Identify `MutableCallSite` for guards based on known object index
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/CHTable.cpp
  runtime/compiler/env/JITServerCHTable.cpp
  runtime/compiler/env/JITServerCHTable.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
  runtime/compiler/optimizer/J9CallGraph.hpp
  runtime/compiler/optimizer/J9Inliner.cpp
Labels: comp:jit, comp:jitserver, depends:omr:breaking, project:MH

#22071 Eliminate VM_compiledAsDLTBefore message for JITServer
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jitserver

#22075 Improve IllegalAccessError with specific exception messages
  runtime/nls/j9vm/j9vm.nls
  runtime/vm/createramclass.cpp
  runtime/vm/lookupmethod.c
  runtime/vm/vm_internal.h
  test/functional/cmdLineTests/classLoaderTest/build.xml
  test/functional/cmdLineTests/classLoaderTest/illegalAccessErrorTest.xml
  test/functional/cmdLineTests/classLoaderTest/playlist.xml
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/DefaultVisibility.java
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/DefaultVisibilityInterface.java
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/ExtendsDefaultVisibility.java
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/ExtendsDefaultVisibilityInterface.java
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/IllegalAccessErrorTest.java
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/ImplementDefaultVisibilityInterface.java
Labels: comp:vm

#21951 (0.53) x86: Reduce AVX-SSE mixing penalties
  runtime/oti/xhelpers.m4
  runtime/vm/jvminit.c
Labels: comp:jit

#22099 JITServer shared fanin cache
  doc/compiler/jitserver/IProfiler.md
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/env/j9methodServer.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/JITServerIProfiler.cpp
  runtime/compiler/runtime/JITServerIProfiler.hpp
  runtime/compiler/runtime/JITServerProfileCache.cpp
  runtime/compiler/runtime/JITServerProfileCache.hpp
Labels: comp:jitserver

#22118 Improve IllegalAccessError with specific exception messages
  runtime/nls/j9vm/j9vm.nls
  runtime/vm/createramclass.cpp
  runtime/vm/lookupmethod.c
  runtime/vm/vm_internal.h
  test/functional/cmdLineTests/classLoaderTest/build.xml
  test/functional/cmdLineTests/classLoaderTest/illegalAccessErrorTest.xml
  test/functional/cmdLineTests/classLoaderTest/playlist.xml
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/DefaultVisibility.java
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/DefaultVisibilityInterface.java
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/ExtendsDefaultVisibility.java
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/ExtendsDefaultVisibilityInterface.java
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/IllegalAccessErrorTest.java
  test/functional/cmdLineTests/classLoaderTest/src/org/openj9/test/illegalAccessError/ImplementDefaultVisibilityInterface.java
Labels: comp:vm

#22101 Refactor wasDeserialized flag
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/CompilationThread.hpp
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
Labels: comp:jitserver

#22139 Copy over `current_exclude_8` into openj9
  test/TestConfig/resources/excludes/current_exclude_8.txt
Labels: comp:test

#22141 Remove transitional flag J9VM_OPT_FRAGMENT_RAM_CLASSES
  runtime/cmake/caches/common.cmake
  runtime/cmake/options.cmake
  runtime/gc_base/ClassModel.hpp
  runtime/gc_structs/ClassHeapIterator.cpp
  runtime/gc_structs/ClassHeapIterator.hpp
  runtime/include/j9cfg.h.in
Labels: comp:gc

#22160 Restrict virtual unblocker thread signal definitions to Java 24+
  runtime/oti/ContinuationHelpers.hpp
  runtime/oti/j9.h
Labels: comp:vm
