Repository eclipse-openj9/openj9, pull requests merged in 2025-08, with the labels that each got.

#22209 Properly Anchor Children for vectorizedMismatch OffHeap
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit

#22345 Use r11 instead of r0 for non-local-return
  runtime/oti/phelpers.m4
Labels: comp:jit

#22222 x86: Introduce getMaxPreferredVectorLength()
  runtime/compiler/x/codegen/J9CodeGenerator.cpp
  runtime/compiler/x/codegen/J9CodeGenerator.hpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, perf, arch:x86

#22346 (0.54) Use r11 instead of r0 for non-local return
  runtime/oti/phelpers.m4
Labels: comp:jit

#22353 Keep 10 release builds instead of 3
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#22328 Use user/system/idle times for CPU load calculation in CpuUtilization
  runtime/compiler/env/CpuUtilization.cpp
  runtime/compiler/env/CpuUtilization.hpp
Labels: comp:jit, depends:omr

#22357 Update 0.53 release notes-New JFR events
  doc/release-notes/0.53/0.53.md
Labels: comp:doc

#22354 Modify testDDRExt_General !whatis to use a different class
  test/functional/DDR_Test/src/j9vm/test/ddrext/Constants.java
  test/functional/DDR_Test/src/j9vm/test/ddrext/junit/TestDDRExtensionGeneral.java
Labels: comp:test

#22366 Add flag for JVM CPU starvation
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
Labels: comp:jit

#22364 Make `getObjectClassFromKnownObjectIndex()` always succeed
  runtime/compiler/env/J9KnownObjectTable.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/optimizer/InterpreterEmulator.cpp
Labels: comp:jit

#22400 Reduce compilation overhead when JVM is CPU starved
  runtime/compiler/control/CompilationRuntime.hpp
  runtime/compiler/control/CompilationThread.cpp
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit

#22405 (0.55) Avoid crash in fillInStackTrace when threadObject is null
  runtime/vm/BytecodeInterpreter.hpp
Labels: comp:vm

#22053 Recognize StringUTF16.indexOfUnsafe([BI[BII)I
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: comp:jit, arch:x86, arch:z

#22413 Undefine conflicting macro in header file
  runtime/oti/ContinuationHelpers.hpp
Labels: comp:vm

#22383 Update 0.54 release notes
  doc/release-notes/0.54/0.54.md
Labels: comp:doc

#22150 Fix exception "committed argument cannot be less than 0"
  runtime/gc_vlhgc/HeapRegionManagerVLHGC.cpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.cpp
  runtime/gc_vlhgc/IncrementalGenerationalGC.hpp
  runtime/gc_vlhgc/SchedulingDelegate.cpp
  runtime/gc_vlhgc/SchedulingDelegate.hpp
Labels: comp:gc

#22461 (0.55) JDK25+ ManagementPermission adds @Deprecated annotation
  jcl/src/java.management/share/classes/java/lang/management/ManagementPermission.java
Labels: comp:vm, jdk25

#22299 AArch64: Inline StringUTF16.indexOf([BI[BII)I
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#22226 AArch64: Accelerate StringCoding.hasNegatives()/countPositives()
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#22465 JDK26 Access method updates
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk26

#22468 (0.55) InnerClasses entries are duplicates iff all indices match
  runtime/bcutil/cfreader.c
Labels: comp:vm

#22478 Update existing strict fields support with latest spec
  debugtools/DDR_VM/data/superset-constants.dat
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/J9BCUtil.java
  runtime/bcutil/cfreader.c
  runtime/bcverify/vrfyhelp.c
  runtime/cfdumper/main.c
  runtime/oti/cfr.h
  runtime/oti/j9.h
  runtime/oti/j9javaaccessflags.h
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
Labels: comp:vm, project:valhalla

#22493 Remove duplicate macro definitions and make other improvements
  runtime/oti/j9nonbuilder.h
  runtime/oti/jvminit.h
  runtime/util/vmargs.c
  runtime/vm/jvminit.c
  runtime/vm/jvminitcommon.h
  runtime/vm/logsupport.c
Labels: comp:vm

#22268 Fix x86-32 private linkage for dispatchVirtual
  runtime/compiler/codegen/J9CodeGenerator.cpp
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
  runtime/compiler/x/i386/codegen/IA32PrivateLinkage.cpp
Labels: comp:jit, arch:x86, bits:32, project:MH

#22503 Fix handling already vectorized aload or astore in VectorAPIExpansion
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#22521 Update putfield ACC_STRICT_INIT verification and tests
  runtime/bcverify/vrfyhelp.c
  runtime/oti/j9.h
  test/functional/Valhalla/playlist.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/StrictFieldGenerator.java
  test/functional/Valhalla/src/org/openj9/test/lworld/StrictFieldTests.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeGenerator.java
  test/functional/Valhalla/src_qtypes/org/openj9/test/lworld/ValueTypeTests.java
  test/functional/Valhalla/testng.xml
Labels: comp:vm, project:valhalla

#22439 Use default AdoptOpenJDK api url for 24
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build
