Repository eclipse-openj9/openj9, pull requests merged in 2025-07, with the labels that each got.

#22142 Use a "defaultMonitorSpinCount1" value of 1 when running on a single CPU
  runtime/vm/vmthread.cpp
Labels: comp:vm

#22177 Update to the latest NLS translations
  runtime/nls/dump/j9dmp_ca.nls
  runtime/nls/dump/j9dmp_cs.nls
  runtime/nls/dump/j9dmp_de.nls
  runtime/nls/dump/j9dmp_es.nls
  runtime/nls/dump/j9dmp_fr.nls
  runtime/nls/dump/j9dmp_hu.nls
  runtime/nls/dump/j9dmp_it.nls
  runtime/nls/dump/j9dmp_ja.nls
  runtime/nls/dump/j9dmp_ko.nls
  runtime/nls/dump/j9dmp_pl.nls
  runtime/nls/dump/j9dmp_pt_BR.nls
  runtime/nls/dump/j9dmp_ru.nls
  runtime/nls/dump/j9dmp_sk.nls
  runtime/nls/dump/j9dmp_sl.nls
  runtime/nls/dump/j9dmp_tr.nls
  runtime/nls/dump/j9dmp_zh.nls
  runtime/nls/dump/j9dmp_zh_CN.nls
  runtime/nls/dump/j9dmp_zh_TW.nls
  runtime/nls/j9vm/j9vm_tr.nls
  runtime/nls/j9vm/j9vm_zh_TW.nls
Labels: comp:vm

#22179 Remove unused DDR tool and test
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/xml/XMLDOMComparator.java
  debugtools/DDR_VM/testsrc/com/ibm/j9ddr/tools/xml/XMLComparisonUnitTest.java
Labels: comp:vm

#22189 Temporarily exclude xlpCodeCacheTests on AIX
  test/functional/VM_Test/playlist.xml
Labels: comp:test

#22183 Enable JFR NativeLibrary event test for MacOS and Windows
  test/functional/cmdLineTests/jfr/jfrevents.xml
Labels: comp:test, jfr

#22193 JDK26 migrates away from jdk.internal.ref.Cleaner
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
Labels: comp:vm, jdk-head

#22178 Generate binary Mask opcodes
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#22154 Update the cmake minimum version to 3.5
  CMakeLists.txt
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V21.md
  doc/build-instructions/Build_Instructions_V8.md
  doc/build-instructions/cmake.md
Labels: comp:build

#21934 Fix spelling of "supress"
  runtime/compiler/optimizer/EstimateCodeSize.cpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
Labels: comp:jit, depends:omr

#22188 AArch64: Inline StringLatin1.indexOf([BI[BII)I
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#22207 Update DDR compile options for OpenXL
  runtime/ddr/CMakeLists.txt
Labels: comp:build, os:aix

#22221 Apply fixes in VectorAPIExpansion
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#22214 RAM Class Persistence: Remove redundant call to initializeSnapshotClassObject
  runtime/jcl/common/jcldefine.c
Labels: comp:vm, snapshot

#22238 Don't write tabs to java dumps
  runtime/rasdump/javadump.cpp
Labels: comp:vm

#22227 Enable peeking ILGen for methods with invokedynamic/invokehandle
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#22103 Remove TR_X87_Mask guarded code
  runtime/compiler/x/codegen/J9X86Instruction.cpp
Labels: comp:jit, arch:x86, depends:omr:breaking

#22253 Use bigger buffers for getting CPU features so they aren't truncated
  runtime/rasdump/javadump.cpp
  runtime/vm/JFRConstantPoolTypes.hpp
Labels: comp:vm

#22251 Implement jdk25 VectorSupport_getCPUFeatures
  runtime/jcl/common/vectornatives.cpp
  runtime/jcl/exports.cmake
  runtime/oti/jclprots.h
Labels: comp:vm

#22247 Prevent non-root accessible objects from poisoning the cache
  jcl/src/java.base/share/classes/java/lang/Class.java
Labels: comp:vm

#15695 x86: Enable VectorAPI at 128-bits
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit, depends:omr, arch:x86

#22280 Remove unused DDR tool and tests
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/xml/XMLDOMComparator.java
  debugtools/DDR_VM/testsrc/com/ibm/j9ddr/tools/xml/DTFJHeapSectionUnitTest.java
  debugtools/DDR_VM/testsrc/com/ibm/j9ddr/tools/xml/DTFJHeapUnitTest.java
  debugtools/DDR_VM/testsrc/com/ibm/j9ddr/tools/xml/DTFJTest.java
  debugtools/DDR_VM/testsrc/com/ibm/j9ddr/tools/xml/XMLComparisonUnitTest.java
  debugtools/DDR_VM/testsrc/com/ibm/j9ddr/tools/xml/jextract/JExtractXMLGenerator.java
Labels: comp:vm

#22282 Move fast fail into correct branch
  runtime/compiler/z/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#22284 Guard peeking behaviour for invokedynamic/handle with an env option
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#22279 Replace -Xjit:disclaimMemoryOnSwap with -Xjit:preferSwapForMemoryDisclaim
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/PersistentAllocator.cpp
  runtime/compiler/runtime/DataCache.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/J9CodeCacheManager.cpp
Labels: comp:jit, depends:omr

#22317 [0.54] Detect any monitorenter before point of dynamic loop transfers
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/ilgen/IlGenerator.cpp
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
Labels: comp:jit, jdk24

#22305 Add doxygen comments to CRRuntime
  runtime/compiler/runtime/CRRuntime.hpp
Labels: comp:jit

#22321 Add -Xgc options to enable/disable Estimate Fragmentation
  runtime/gc_modron_startup/mmparseXgc.cpp
Labels: comp:gc, comp:doc

#22320 Adjust sampling thread rate based on CPU utilization
  runtime/compiler/control/HookedByTheJit.cpp
Labels: comp:jit

#22333 (0.54) Add spill registers in walkTransitionFrame()
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/JITStackWalker.java
  runtime/codert_vm/jswalk.c
Labels: comp:jit

#22339 Use AArch64 IPC register for indirect branches in JIT runtime
  runtime/oti/arm64helpers.m4
Labels: comp:jit, arch:aarch64

#22323 AArch64: Add support for off-heap arrays in inlineIntrinsicIndexOf()
  runtime/compiler/aarch64/codegen/J9CodeGenerator.cpp
  runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#22212 x86: Inline StringUTF16.indexOf([BI[BII)I
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit, arch:x86
