Repository eclipse-openj9/openj9, pull requests merged in 2025-05, with the labels that each got.

#21753 Fix synchronization issues of notifying yielding vthreads
  runtime/vm/BytecodeInterpreter.hpp
  runtime/vm/ContinuationHelpers.cpp
Labels: vt

#21780 Set the default location for downloading the bootjdk on AIX
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#21797 Remove z/OS compile options from AIX
  runtime/cmake/platform/toolcfg/xlc.cmake
Labels: comp:build, os:aix

#21809 Move cmdLineTester_fips to extended.functional
  test/functional/cmdLineTests/fips/playlist.xml
Labels: comp:test

#21816 Update the AIX jdk24 bootjdk link
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build

#21805 Anchor the value node before the removal of the call node
  runtime/compiler/optimizer/JProfilingValue.cpp
Labels: comp:jit

#21801 Add AIX 32-bit cmake support
  runtime/cmake/caches/aix_ppc.cmake
  runtime/libffi/CMakeLists.txt
Labels: comp:build

#21774 Account for VirtualThread's SUSPENDED bit flag during transition
  runtime/oti/ContinuationHelpers.hpp
  runtime/oti/j9nonbuilder.h
  runtime/vm/ContinuationHelpers.cpp
Labels: vt

#21743 Correct Mask unboxing in VectorAPIExpansion
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit, depends:omr, arch:power

#21807 Generate vblend for Vector API blend intrinsic
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#21820 Refetch module object reference after GC point
  runtime/j9vm/java11vmi.c
  runtime/oti/vm_api.h
  runtime/vm/classsupport.c
Labels: comp:vm

#21832 Fill SystemProcess and NativeLibrary pools only on explicit dump
  runtime/vm/JFRChunkWriter.hpp
  runtime/vm/JFRConstantPoolTypes.hpp
  runtime/vm/JFRWriter.hpp
Labels: comp:vm, jfr

#21782 JITServer profiling infra for CallGraph entries
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/net/MessageTypes.cpp
  runtime/compiler/net/MessageTypes.hpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
  runtime/compiler/runtime/JITServerAOTCache.cpp
  runtime/compiler/runtime/JITServerAOTCache.hpp
  runtime/compiler/runtime/JITServerAOTDeserializer.cpp
  runtime/compiler/runtime/JITServerAOTDeserializer.hpp
  runtime/compiler/runtime/JITServerAOTSerializationRecords.hpp
  runtime/compiler/runtime/JITServerIProfiler.cpp
  runtime/compiler/runtime/JITServerIProfiler.hpp
  runtime/compiler/runtime/JITServerProfileCache.cpp
Labels: comp:jitserver

#21811 Revert "Link j9jit library without execstack flag on Linux"
  runtime/compiler/CMakeLists.txt
Labels: comp:jit

#21837 Set noexecstack when linking with uma
  runtime/compiler/build/toolcfg/gnu/common.mk
  runtime/makelib/targets.mk.linux.inc.ftl
Labels: comp:vm, comp:jit, comp:build

#21836 Remove unused setCallCount() API
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: comp:jit

#21841 Re-enable Jep425Tests_testVirtualThread on AIX and plinux
  test/functional/Java21andUp/playlist.xml
Labels: comp:test

#21842 Add release notes for system property changes
  doc/release-notes/0.51/0.51.md
Labels: comp:doc

#21806 Improve reporting unsupported vector opcodes in VectorAPIExpansion
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#21838 SVM: Always specify the actual inlined method for inlined method relos
  runtime/compiler/codegen/J9AheadOfTimeCompile.cpp
Labels: comp:jit:aot

#21851 Delete isWarmCallGraphCall() and other unused related methods
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/J9Profiler.cpp
  runtime/compiler/runtime/J9Profiler.hpp
Labels: comp:jit

#21857 Do not add Own.Sync. object to the list if scan wasn't successful
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/CopyForwardScheme.hpp
Labels: comp:gc

#21863 Update minimum nasm dependency from 2.13.03 to 2.15.05
  buildenv/docker/mkdocker.sh
  buildenv/jenkins/variables/defaults.yml
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V21.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc, comp:build

#21866 Delete unused IProfiler code related to comp replay
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: comp:jit

#21876 Exclude pthreadDestructor on IBM Java 8 AIX
  test/functional/Java8andUp/playlist.xml
Labels: comp:test

#21869 JDK24+ add com.ibm.oti.vm.VM.isYieldBlockedVirtualThreadsEnabled()
  jcl/src/java.base/share/classes/com/ibm/oti/vm/VM.java
  runtime/jcl/common/com_ibm_oti_vm_VM.cpp
  runtime/jcl/exports.cmake
  runtime/oti/jclprots.h
Labels: comp:vm

#21879 Increase Arraylet Allocate test heap size
  test/functional/VM_Test/src/j9vm/test/arraylets/ArrayletAllocateTestRunner.java
Labels: comp:test

#21894 Temporarily exclude failed tests due to mixedrefs path
  test/functional/DDR_Test/playlist.xml
  test/functional/NativeTest/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/playlist.xml
Labels: comp:test

#21896 Enable OpenSSL Version 3.5.0
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:crypto

#21898 Update JDK25 java.lang.Access to jdk.internal.access.JavaLangAccess
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk25

#21720 Pop extra args on BootstrapMethodError for invokedynamic
  runtime/compiler/ilgen/J9ByteCodeIlGenerator.hpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#21874 Create TR_IPBCDataDirectCall for IProfiler
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
  runtime/compiler/runtime/JITServerIProfiler.cpp
Labels: comp:jit

#21910 Remove unused isCallByteCode() method
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#21914 Re-enable IBM Java 8 compressedrefs native tests and disable thrstatetest
  test/functional/DDR_Test/playlist.xml
  test/functional/NativeTest/playlist.xml
  test/functional/cmdLineTests/shareClassTests/SCCMLTests/playlist.xml
Labels: comp:test

#21911 Remove unused getParentCallCount() method
  runtime/compiler/infra/J9Cfg.cpp
Labels: comp:jit

#21925 Fix is{Anonymous,Hidden}Class() for 64-bit big-endian JITServer
  runtime/compiler/env/VMJ9Server.cpp
Labels: comp:jitserver

#21893 Add new keys for j9gc_modron_getConfigurationValueForKey()
  runtime/gc_include/j9modron.h
  runtime/gc_modron_startup/mmhelpers.cpp
Labels: comp:gc

#21930 Remove unused flag J9VM_GC_CLASSES_ON_HEAP / gc_classesOnHeap
  buildspecs/cmprssptrs.feature
  buildspecs/core.feature
  buildspecs/j9.flags
  debugtools/DDR_VM/data/superset-constants.dat
  runtime/cmake/caches/cmprssptrs.cmake
  runtime/include/j9cfg.h.in
Labels: comp:gc, comp:build

#21795 Use cg flags to check compress/expand support
  runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp
Labels: comp:jit, depends:omr

#21928 Make the extension and application loaders available via TR_J9VMBase
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jit, comp:jitserver

#21924 x86: Reduce AVX-SSE mixing penalties
  runtime/oti/xhelpers.m4
  runtime/vm/jvminit.c
Labels: comp:jit

#21932 Introduce SupportsInlineStringIndexOfString flag
  runtime/compiler/codegen/J9CodeGenerator.hpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
Labels: comp:jit

#21915 Do not add Own.Sync. object to the list if scan wasn't successful
  runtime/gc_vlhgc/CopyForwardScheme.cpp
  runtime/gc_vlhgc/CopyForwardScheme.hpp
Labels: comp:gc

#21848 Correct Mask boxing in VectorAPIExpansion
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit, depends:omr

#21689 Skip strip step for libjvmtitest.so when building on AIX with OpenXL
  runtime/tests/jvmtitests/CMakeLists.txt
Labels: comp:build

#21991 Revert "Make the extension and application loaders available via TR_J9VMBase"
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jit, comp:jitserver

#21995 (0.53) Revert "Make the extension and application loaders available via TR_J9VMBase"
  runtime/compiler/control/JITClientCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.cpp
  runtime/compiler/control/JITServerCompilationThread.hpp
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.cpp
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/net/CommunicationStream.hpp
  runtime/compiler/runtime/JITClientSession.cpp
  runtime/compiler/runtime/JITClientSession.hpp
Labels: comp:jit, comp:jitserver
