Repository eclipse-openj9/openj9, pull requests merged in 2025-01, with the labels that each got.

#20875 Add SVM validations for JITServer ResolvedHandle/DynamicMethod APIs
  runtime/compiler/env/j9methodServer.cpp
  runtime/compiler/net/CommunicationStream.hpp
Labels: comp:jitserver, comp:jit:aot, project:MH

#20877 Prevent use of uninitialized variable
  runtime/compiler/optimizer/J9TransformUtil.cpp
Labels: comp:jit

#20876 Consider the compileMethod() API in replenishInvocationCount() Assertion
  runtime/compiler/control/CompilationThread.cpp
Labels: comp:jit

#20880 Fix comment in JFR's cmdLineTests build.xml
  test/functional/cmdLineTests/jfr/build.xml
Labels: jfr

#20802 Return from park immediately for non-positive time since epoch
  runtime/vm/threadpark.cpp
Labels: comp:vm

#20883 Account for Truncated Signatures in a JITServerHelpers Assertion
  runtime/compiler/control/JITServerHelpers.cpp
Labels: comp:jitserver

#20887 Correct handling of pull request builds for z/OS
  buildenv/jenkins/common/pipeline-functions.groovy
Labels: comp:build

#20254 Update test descriptions to include sanity.openjdk
  buildenv/jenkins/README.md
Labels: comp:doc

#20853 Add methods to check if array class can be trusted as fixed class
  runtime/compiler/optimizer/J9ValuePropagation.cpp
  runtime/compiler/optimizer/J9ValuePropagation.hpp
Labels: comp:jit, depends:omr, project:valhalla

#19517 Avoid segfaults in j9vmem_testOverlappingSegments
  runtime/tests/port/j9vmemTest.c
Labels: comp:test

#20886 Support for storing all IProfile info to SCC at shutdown
  runtime/compiler/control/HookedByTheJit.cpp
  runtime/compiler/runtime/IProfiler.cpp
  runtime/compiler/runtime/IProfiler.hpp
Labels: comp:jit

#20851 Remove System.security field and getSecurityManager calls for JDK 24
  jcl/src/java.base/share/classes/java/lang/System.java
  runtime/oti/vm_api.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/createramclass.cpp
  runtime/vm/resolvesupport.cpp
  test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/Test_Class.java
Labels: comp:vm, jdk24

#20894 Update Windows build instructions, VS2022 is not in Program Files (x86)
  doc/build-instructions/Build_Instructions_V11.md
  doc/build-instructions/Build_Instructions_V17.md
  doc/build-instructions/Build_Instructions_V21.md
  doc/build-instructions/Build_Instructions_V8.md
Labels: comp:doc

#20901 Bypass Code Blocks Requiring VM Access for the JIT Server
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jitserver

#20905 Enable NonExistJarTests.CheckForError1 test
  test/functional/cmdLineTests/URLClassLoaderTests/exclude.xml
Labels: jdk24

#20908 Set min jump table entries when compiling interpreter
  runtime/vm/CMakeLists.txt
Labels: comp:build

#20899 Address some compiler warnings in DDR
  debugtools/DDR_VM/src/com/ibm/j9ddr/J9DDRClassLoader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/StructureReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/VMDataFactory.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/minidump/unwind/UnwindCode.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/minidump/unwind/UnwindInfo.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/tdump/TDumpReader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ddrinteractive/Context.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ddrinteractive/plugins/DDRInteractiveClassLoader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/OptInfo.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/RomClassWalker.java
Labels: comp:vm

#20897 Include temporarily disabled Valhalla code
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, project:valhalla

#20917 Fix DDR build error for Java 8
  debugtools/DDR_VM/src/com/ibm/j9ddr/J9DDRClassLoader.java
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/ddrinteractive/plugins/DDRInteractiveClassLoader.java
Labels: comp:vm

#20911 Valhalla bringup for Java 25 updates
  runtime/oti/j9consts.h
  test/functional/Valhalla/build.xml
  test/functional/Valhalla/src/org/openj9/test/lworld/ValhallaUtils.java
Labels: comp:vm, comp:test, project:valhalla

#20920 Fix dangling-doc-comments warnings
  debugtools/DDR_VM/src/com/ibm/j9ddr/tools/PointerGenerator.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/format/Format2Tprof.java
  jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/format/TraceSection.java
Labels: comp:vm

#20918 (0.49) Add unloaded anonClass count to JFR ClassLoadingStatistics
  runtime/vm/jfr.cpp
Labels: jfr

#20909 Include JVM_DoPrivileged for Java 8 Windows builds only
  runtime/j9vm/exports.cmake
  runtime/j9vm/j7vmi.c
  runtime/j9vm/j9vmnatives.xml
  runtime/redirector/forwarders.m4
Labels: comp:vm

#20902 Add doc file for JITServer AOT cache
  doc/compiler/jitserver/AOTCache.md
  doc/compiler/jitserver/README.md
Labels: comp:doc, comp:jitserver

#20890 Fix missing diagnostics and tuning knobs in inliner
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
Labels: comp:jit

#20931 Change -Xtune:throughput to disable AOT
  runtime/compiler/control/DLLMain.cpp
Labels: comp:jit

#20941 Describe maxstringlength in -Xtrace:help output
  runtime/rastrace/trcengine.c
Labels: comp:vm

#20937 Use sysinfo functions from OMR; remove duplicate code in OpenJ9
  debugtools/DDR_VM/data/superset-constants.dat
  runtime/gc_modron_startup/mminit.cpp
  runtime/jcl/common/sun_misc_Unsafe.cpp
  runtime/oti/j9port.h
  runtime/oti/j9port_generated.h
  runtime/port/common/j9port.c
  runtime/port/common/j9sysinfo.c
  runtime/port/common/j9sysinfo_helpers.c
  runtime/port/common/j9sysinfo_helpers.h
  runtime/port/portpriv.h
  runtime/port/unix/j9sysinfo.c
  runtime/port/win32/j9sysinfo.c
  runtime/tests/port/si.c
  runtime/vm/guardedstorage.c
  runtime/vm/jvminit.c
Labels: comp:vm

#20954 Add documentation for dependency tracking
  doc/compiler/aot/LoadingByDependency.md
  doc/compiler/aot/README.md
Labels: comp:doc

#20864 Add comments to JIT recognized methods for encoding/decoding
  runtime/compiler/env/j9method.cpp
Labels: comp:jit

#20962 Disable cmdLineTester_libpathTestRtfChild for headless riscv64_linux built at Adoptium
  test/functional/cmdLineTests/libpathTest/playlist.xml
Labels: comp:test

#20951 Prevent redundant call transformation
  runtime/compiler/optimizer/J9ValuePropagation.cpp
Labels: comp:jit

#20968 Indent consistently with tabs
  test/functional/cmdLineTests/libpathTest/playlist.xml
Labels: comp:test

#20859 JIT compile AccessController.doPrivileged in JDK 24+
  runtime/compiler/env/j9method.cpp
Labels: comp:jit, jdk24

#20961 Fixes to IProfiler fanin data collection
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#20971 Stats for IProfiler fanin data
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#20974 Update OpenSSL 3.0.15 to include the fix for CVE-2024-13176
  buildenv/jenkins/variables/defaults.yml
Labels: comp:build, comp:openssl

#20977 Temporarily exclude thrstatetest on jdk24+
  test/functional/NativeTest/playlist.xml
Labels: comp:test, jdk24

#20904 Change inliner estimate code size heuristic
  runtime/compiler/optimizer/J9EstimateCodeSize.cpp
  runtime/compiler/optimizer/J9EstimateCodeSize.hpp
Labels: comp:jit

#20975 Reduce the amount of fanin info collected by IProfiler
  runtime/compiler/control/J9Options.cpp
  runtime/compiler/control/J9Options.hpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#20972 Improve VectorAPI Expansion IL transformation phase
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#20739 Add OMR UnsafeSubexpressionRemover.cpp to UMA makefile
  runtime/compiler/build/files/common.mk.ftl
Labels: comp:jit, comp:build, depends:omr

#20982 Temporarily exclude VmArgumentTests on jdk24
  test/functional/Java8andUp/playlist.xml
Labels: comp:test, jdk24

#20981 Temp exclude cmdLineTester_lockWordAlignment_Object_X tests for jdk24
  test/functional/cmdLineTests/lockWordAlignment/playlist.xml
Labels: comp:test, jdk24

#20997 Adjust ContractslotScanner according Coding Standarts
  runtime/gc_glue_java/ContractslotScanner.hpp
Labels: comp:gc

#21004 Effectively revert PR #20975
  runtime/compiler/runtime/IProfiler.cpp
Labels: comp:jit

#21007 Add external j9gc_get_explicit_GC_disabled()
  runtime/gc/gctable.c
  runtime/gc_base/gc_internal.h
  runtime/gc_base/modronapi.cpp
  runtime/gc_base/modronapi.hpp
  runtime/oti/j9nonbuilder.h
Labels: comp:gc

#21006 Remove J9VMInternals.checkPackageAccess() from Java 24+
  jcl/src/java.base/share/classes/java/lang/J9VMInternals.java
  runtime/oti/j9protos.h
  runtime/oti/vm_api.h
  runtime/oti/vmconstantpool.xml
  runtime/vm/callin.cpp
  runtime/vm/createramclass.cpp
  runtime/vm/resolvesupport.cpp
Labels: comp:vm

#21015 Temporarily exclude thrstatetest on jdk24+
  test/functional/NativeTest/playlist.xml
Labels: comp:test

#21013 Improve VectorAPI Expansion IL transformation phase
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
  runtime/compiler/optimizer/VectorAPIExpansion.hpp
Labels: comp:jit

#21021 Add DLT info to Vector API verbose output
  runtime/compiler/optimizer/VectorAPIExpansion.cpp
Labels: comp:jit

#21022 JDK25 removes JavaLangAccess.getCharsLatin1()/getCharsUTF16()
  jcl/src/java.base/share/classes/java/lang/Access.java
Labels: comp:vm, jdk-head

#21001 Adjust inliner use of profiled fanin data
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
Labels: comp:jit

#20939 Remove System.getSecurityManager calls from java.base and criu
  jcl/src/java.base/share/classes/java/lang/Class.java
  jcl/src/java.base/share/classes/java/lang/ClassLoader.java
  jcl/src/java.base/share/classes/java/lang/StackWalker.java
  jcl/src/java.base/share/classes/openj9/internal/criu/CRIUDumpPermission.java
  jcl/src/java.base/share/classes/openj9/internal/criu/InternalCRIUSupport.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUDumpPermission.java
  jcl/src/openj9.criu/share/classes/org/eclipse/openj9/criu/CRIUSupport.java
Labels: comp:vm, jdk24

#21010 Deduplicate definition of J9::Recompilation::invalidateMethodBody()
  runtime/compiler/aarch64/runtime/Recomp.cpp
  runtime/compiler/arm/runtime/Recomp.cpp
  runtime/compiler/p/runtime/Recomp.cpp
  runtime/compiler/runtime/JitRuntime.cpp
  runtime/compiler/x/runtime/Recomp.cpp
  runtime/compiler/z/runtime/Recomp.cpp
Labels: comp:jit

#20994 0.49.0 release note
  doc/release-notes/0.49/0.49.md
Labels: comp:doc

#21002 JDK24 remove System.getSecurityManager part 2
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ClassLoadingMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ManagementPermissionHelper.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ManagementUtils.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/MemoryMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/MemoryPoolMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/RuntimeMXBeanImpl.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/ThreadMXBeanImpl.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/MemoryPoolMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/RuntimeMXBean.java
  jcl/src/java.management/share/classes/java/lang/management/ThreadMXBean.java
  jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9AttachProvider.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedOperatingSystemMXBeanImpl.java
  jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedRuntimeMXBeanImpl.java
  jcl/src/jdk.management/share/classes/openj9/lang/management/internal/OpenJ9DiagnosticsMXBeanImpl.java
  jcl/src/openj9.gpu/share/classes/com/ibm/gpu/CUDAManager.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Log.java
  jcl/src/openj9.jvm/share/classes/com/ibm/jvm/Trace.java
  test/functional/JLM_Tests/src/org/openj9/test/java/lang/management/TestManagementUtils.java
Labels: comp:vm, jdk24

#21026 Add missing exit tracepoint in performVerification
  runtime/vm/ClassInitialization.cpp
Labels: comp:vm

#21024 Add env vars to experiment with large method heuristic
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9Inliner.hpp
Labels: comp:jit

#20935 Close and Reopen JIT log files across a checkpoint/restore
  runtime/compiler/runtime/CRRuntime.cpp
  runtime/compiler/runtime/CRRuntime.hpp
Labels: comp:jit, criu

#20507 Add zNext support
  runtime/cmake/caches/common.cmake
  runtime/compiler/codegen/J9RecognizedMethodsEnum.hpp
  runtime/compiler/codegen/J9TreeEvaluator.cpp
  runtime/compiler/codegen/J9TreeEvaluator.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/env/j9method.h
  runtime/compiler/il/ILOpCodesEnum.hpp
  runtime/compiler/il/Opcodes.enum
  runtime/compiler/ilgen/Walker.cpp
  runtime/compiler/optimizer/DataAccessAccelerator.cpp
  runtime/compiler/optimizer/DataAccessAccelerator.hpp
  runtime/compiler/optimizer/InlinerTempForJ9.cpp
  runtime/compiler/optimizer/J9LocalCSE.cpp
  runtime/compiler/optimizer/J9SimplifierTable.enum
  runtime/compiler/runtime/SignalHandler.c
  runtime/compiler/z/codegen/J9BCDTreeEvaluator.cpp
  runtime/compiler/z/codegen/J9CodeGenerator.cpp
  runtime/compiler/z/codegen/J9TreeEvaluator.hpp
  runtime/compiler/z/env/J9CPU.cpp
  runtime/compiler/z/runtime/CMakeLists.txt
  runtime/compiler/z/runtime/Emulation.cpp
Labels: comp:jit, depends:omr:breaking

#20793 AArch64: Implement arrayTranslateTROTNoBreak
  runtime/compiler/runtime/Runtime.cpp
Labels: comp:jit, arch:aarch64, depends:omr:breaking

#21008 Delete unused code to make resolved const string CP indices irrelevant
  runtime/compiler/env/VMJ9.cpp
  runtime/compiler/env/VMJ9.h
  runtime/compiler/env/VMJ9Server.hpp
  runtime/compiler/env/j9method.cpp
  runtime/compiler/ilgen/Walker.cpp
Labels: comp:jit

#20892 NULL initialize dataAddr field for 0 size arrays
  runtime/compiler/x/codegen/J9TreeEvaluator.cpp
Labels: comp:jit

#20936 Add selected tracepoints for JCL
  runtime/include/j9access.h
  runtime/jcl/CMakeLists.txt
  runtime/jcl/jcl_java.tdf
  runtime/jcl/jcl_net.tdf
  runtime/jcl/jcl_nio.tdf
Labels: comp:vm

#21044 JDK24 CleanerShutdown invokes CleanerImpl.CleanableList.reset()
  jcl/src/java.base/share/classes/jdk/internal/ref/CleanerShutdown.java
  test/functional/Java8andUp/playlist.xml
  test/functional/NativeTest/playlist.xml
Labels: comp:vm, comp:test

#20430 Update doPrivilegedWithCombinerHelper function
  jcl/src/java.base/share/classes/java/security/AccessControlContext.java
  jcl/src/java.base/share/classes/java/security/AccessController.java
Labels: comp:vm

#21046 JDK25 changes Unsafe base offset from int to long
  jcl/src/java.base/share/classes/jdk/internal/misc/Unsafe.java
Labels: comp:vm, jdk-head

#21039 JDK24 remove System.getSecurityManager part 3
  jcl/src/java.base/share/classes/com/ibm/sharedclasses/spi/SharedClassProvider.java
  jcl/src/java.management/share/classes/com/ibm/java/lang/management/internal/MemoryMXBeanImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedAbstractHelper.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedAbstractHelperFactory.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassAbstractHelper.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassHelperFactoryImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassPermission.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassPermissionCollection.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassTokenHelper.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassTokenHelperImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassURLClasspathHelper.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassURLClasspathHelperImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassURLHelper.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassURLHelperImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassUtilities.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedClassesNamedPermission.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedDataHelper.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedDataHelperFactoryImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/SharedDataHelperImpl.java
  jcl/src/openj9.sharedclasses/share/classes/com/ibm/oti/shared/provider/SharedClassProviderImpl.java
Labels: comp:vm, jdk24

#21048 Add -Xlp:offheap:
  runtime/gc_modron_startup/mmparse.cpp
Labels: comp:gc
